resource "random_id" "example" {
    b64_std = "{{ b64_std }}"
    b64_url = "{{ b64_url }}"
    byte_length = "{{ byte_length }}"
    dec = "{{ dec }}"
    hex = "{{ hex }}"
    id = "{{ id }}"
    keepers = "{{ keepers }}"
    prefix = "{{ prefix }}"
}