resource "random_string" "example" {
    id = "{{ id }}"
    keepers = "{{ keepers }}"
    length = "{{ length }}"
    lower = "{{ lower }}"
    min_lower = "{{ min_lower }}"
    min_numeric = "{{ min_numeric }}"
    min_special = "{{ min_special }}"
    min_upper = "{{ min_upper }}"
    number = "{{ number }}"
    numeric = "{{ numeric }}"
    override_special = "{{ override_special }}"
    result = "{{ result }}"
    special = "{{ special }}"
    upper = "{{ upper }}"
}