resource "ad_computer" "example" {
    container = "{{ container }}"
    description = "{{ description }}"
    dn = "{{ dn }}"
    guid = "{{ guid }}"
    id = "{{ id }}"
    name = "{{ name }}"
    pre2kname = "{{ pre2kname }}"
    sid = "{{ sid }}"
}