resource "ad_gplink" "example" {
    enabled = "{{ enabled }}"
    enforced = "{{ enforced }}"
    gpo_guid = "{{ gpo_guid }}"
    id = "{{ id }}"
    order = "{{ order }}"
    target_dn = "{{ target_dn }}"
}