data "ad_group" "example" {
    category = "{{ category }}"
    container = "{{ container }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    dn = "{{ dn }}"
    group_id = "{{ group_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    sam_account_name = "{{ sam_account_name }}"
    scope = "{{ scope }}"
    sid = "{{ sid }}"
}