resource "ad_ou" "example" {
    description = "{{ description }}"
    dn = "{{ dn }}"
    guid = "{{ guid }}"
    id = "{{ id }}"
    name = "{{ name }}"
    path = "{{ path }}"
    protected = "{{ protected }}"
}