resource "kubernetes_role" "example" {
    id = "{{ id }}"
    metadata {
      annotations = {
        key = "{{ annotations_value }}"
      }
      generate_name = "{{ generate_name }}"
      labels = {
        key = "{{ labels_value }}"
      }
      name = "{{ name }}"
      namespace = "{{ namespace }}"
    }
    rule {
      api_groups = ["{{ api_groups }}"]
      resource_names = ["{{ resource_names }}"]
      resources = ["{{ resources }}"]
      verbs = ["{{ verbs }}"]
    }
}
