data "kubernetes_endpoint_slice_v1" "example" {
    id = "{{ id }}"
    metadata {
      annotations = {
        key = "{{ annotations_value }}"
      }
      generate_name = "{{ generate_name }}"
      labels = {
        key = "{{ labels_value }}"
      }
      name = "{{ name }}"
      namespace = "{{ namespace }}"
    }
}
