data "kubernetes_service_account_v1" "example" {
    automount_service_account_token = "{{ automount_service_account_token }}"
    default_secret_name = "{{ default_secret_name }}"
    id = "{{ id }}"
    image_pull_secret = "{{ image_pull_secret }}"
    secret = "{{ secret }}"
}