resource "kubernetes_config_map_v1" "example" {
    binary_data = {
        key = "{{ binary_data_value }}"
      }
    data = {
        key = "{{ data_value }}"
      }
    id = "{{ id }}"
    immutable = {{ immutable }}
    metadata {
      annotations = {
        key = "{{ annotations_value }}"
      }
      generate_name = "{{ generate_name }}"
      labels = {
        key = "{{ labels_value }}"
      }
      name = "{{ name }}"
      namespace = "{{ namespace }}"
    }
}
