resource "kubernetes_secret_v1" "example" {
    binary_data = "{{ binary_data }}"
    data = "{{ data }}"
    id = "{{ id }}"
    immutable = "{{ immutable }}"
    type = "{{ type }}"
    wait_for_service_account_token = "{{ wait_for_service_account_token }}"
}