resource "kubernetes_cluster_role_binding_v1" "example" {
    id = "{{ id }}"
    metadata {
      annotations = {
        key = "{{ annotations_value }}"
      }
      generate_name = "{{ generate_name }}"
      labels = {
        key = "{{ labels_value }}"
      }
      name = "{{ name }}"
    }
    role_ref {
      api_group = "{{ api_group }}"
      kind = "{{ kind }}"
      name = "{{ name }}"
    }
    subject {
      api_group = "{{ api_group }}"
      kind = "{{ kind }}"
      name = "{{ name }}"
      namespace = "{{ namespace }}"
    }
}
