resource "kubernetes_labels" "example" {
    api_version = "{{ api_version }}"
    field_manager = "{{ field_manager }}"
    force = "{{ force }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    labels = "{{ labels }}"
}