resource "kubernetes_default_service_account" "example" {
    automount_service_account_token = {{ automount_service_account_token }}
    id = "{{ id }}"
    image_pull_secret {
      name = "{{ name }}"
    }
    metadata {
      annotations = {
        key = "{{ annotations_value }}"
      }
      labels = {
        key = "{{ labels_value }}"
      }
      name = "{{ name }}"
      namespace = "{{ namespace }}"
    }
    secret {
      name = "{{ name }}"
    }
    timeouts {
      create = "{{ create }}"
    }
}
