provider "kubernetes" {
    client_certificate = "{{ client_certificate }}"
    client_key = "{{ client_key }}"
    cluster_ca_certificate = "{{ cluster_ca_certificate }}"
    config_context = "{{ config_context }}"
    config_context_auth_info = "{{ config_context_auth_info }}"
    config_context_cluster = "{{ config_context_cluster }}"
    config_path = "{{ config_path }}"
    config_paths = "{{ config_paths }}"
    host = "{{ host }}"
    ignore_annotations = "{{ ignore_annotations }}"
    ignore_labels = "{{ ignore_labels }}"
    insecure = "{{ insecure }}"
    password = "{{ password }}"
    proxy_url = "{{ proxy_url }}"
    tls_server_name = "{{ tls_server_name }}"
    token = "{{ token }}"
    username = "{{ username }}"
}