resource "nomad_volume" "example" {
    access_mode = "{{ access_mode }}"
    attachment_mode = "{{ attachment_mode }}"
    context = "{{ context }}"
    controller_required = "{{ controller_required }}"
    controllers_expected = "{{ controllers_expected }}"
    controllers_healthy = "{{ controllers_healthy }}"
    deregister_on_destroy = "{{ deregister_on_destroy }}"
    external_id = "{{ external_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    nodes_expected = "{{ nodes_expected }}"
    nodes_healthy = "{{ nodes_healthy }}"
    parameters = "{{ parameters }}"
    plugin_id = "{{ plugin_id }}"
    plugin_provider = "{{ plugin_provider }}"
    plugin_provider_version = "{{ plugin_provider_version }}"
    schedulable = "{{ schedulable }}"
    secrets = "{{ secrets }}"
    topologies = "{{ topologies }}"
    type = "{{ type }}"
    volume_id = "{{ volume_id }}"
}