resource "nomad_external_volume" "example" {
    capacity_max = "{{ capacity_max }}"
    capacity_min = "{{ capacity_min }}"
    clone_id = "{{ clone_id }}"
    controller_required = "{{ controller_required }}"
    controllers_expected = "{{ controllers_expected }}"
    controllers_healthy = "{{ controllers_healthy }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    nodes_expected = "{{ nodes_expected }}"
    nodes_healthy = "{{ nodes_healthy }}"
    parameters = "{{ parameters }}"
    plugin_id = "{{ plugin_id }}"
    plugin_provider = "{{ plugin_provider }}"
    plugin_provider_version = "{{ plugin_provider_version }}"
    schedulable = "{{ schedulable }}"
    secrets = "{{ secrets }}"
    snapshot_id = "{{ snapshot_id }}"
    topologies = "{{ topologies }}"
    type = "{{ type }}"
    volume_id = "{{ volume_id }}"
}