resource "nomad_acl_token" "example" {
    expiration_ttl = "{{ expiration_ttl }}"
    global = {{ global }}
    id = "{{ id }}"
    name = "{{ name }}"
    policies = ["{{ policies }}"]
    type = "{{ type }}"
    role {
      id = "{{ id }}"
    }
}
