provider "nomad" {
    address = "{{ address }}"
    ca_file = "{{ ca_file }}"
    ca_pem = "{{ ca_pem }}"
    cert_file = "{{ cert_file }}"
    cert_pem = "{{ cert_pem }}"
    http_auth = "{{ http_auth }}"
    ignore_env_vars = {
        key = "{{ ignore_env_vars_value }}"
      }
    key_file = "{{ key_file }}"
    key_pem = "{{ key_pem }}"
    region = "{{ region }}"
    secret_id = "{{ secret_id }}"
    skip_verify = {{ skip_verify }}
    auth_jwt {
      auth_method = "{{ auth_method }}"
      login_token = "{{ login_token }}"
    }
    headers {
      name = "{{ name }}"
      value = "{{ value }}"
    }
}
