data "helm_template" "example" {
    api_versions = "{{ api_versions }}"
    atomic = "{{ atomic }}"
    chart = "{{ chart }}"
    crds = "{{ crds }}"
    create_namespace = "{{ create_namespace }}"
    dependency_update = "{{ dependency_update }}"
    description = "{{ description }}"
    devel = "{{ devel }}"
    disable_openapi_validation = "{{ disable_openapi_validation }}"
    disable_webhooks = "{{ disable_webhooks }}"
    id = "{{ id }}"
    include_crds = "{{ include_crds }}"
    is_upgrade = "{{ is_upgrade }}"
    keyring = "{{ keyring }}"
    kube_version = "{{ kube_version }}"
    manifest = "{{ manifest }}"
    manifests = "{{ manifests }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    notes = "{{ notes }}"
    pass_credentials = "{{ pass_credentials }}"
    render_subchart_notes = "{{ render_subchart_notes }}"
    replace = "{{ replace }}"
    repository = "{{ repository }}"
    repository_ca_file = "{{ repository_ca_file }}"
    repository_cert_file = "{{ repository_cert_file }}"
    repository_key_file = "{{ repository_key_file }}"
    repository_password = "{{ repository_password }}"
    repository_username = "{{ repository_username }}"
    reset_values = "{{ reset_values }}"
    reuse_values = "{{ reuse_values }}"
    show_only = "{{ show_only }}"
    skip_crds = "{{ skip_crds }}"
    skip_tests = "{{ skip_tests }}"
    timeout = "{{ timeout }}"
    validate = "{{ validate }}"
    values = "{{ values }}"
    verify = "{{ verify }}"
    version = "{{ version }}"
    wait = "{{ wait }}"
}