resource "azuread_application_registration" "example" {
    client_id = "{{ client_id }}"
    description = "{{ description }}"
    disabled_by_microsoft = "{{ disabled_by_microsoft }}"
    display_name = "{{ display_name }}"
    group_membership_claims = "{{ group_membership_claims }}"
    homepage_url = "{{ homepage_url }}"
    id = "{{ id }}"
    implicit_access_token_issuance_enabled = "{{ implicit_access_token_issuance_enabled }}"
    implicit_id_token_issuance_enabled = "{{ implicit_id_token_issuance_enabled }}"
    logout_url = "{{ logout_url }}"
    marketing_url = "{{ marketing_url }}"
    notes = "{{ notes }}"
    object_id = "{{ object_id }}"
    privacy_statement_url = "{{ privacy_statement_url }}"
    publisher_domain = "{{ publisher_domain }}"
    requested_access_token_version = "{{ requested_access_token_version }}"
    service_management_reference = "{{ service_management_reference }}"
    sign_in_audience = "{{ sign_in_audience }}"
    support_url = "{{ support_url }}"
    terms_of_service_url = "{{ terms_of_service_url }}"
}