resource "azuread_application_api_access" "example" {
    api_client_id = "{{ api_client_id }}"
    application_id = "{{ application_id }}"
    id = "{{ id }}"
    role_ids = "{{ role_ids }}"
    scope_ids = "{{ scope_ids }}"
}