data "azuread_application_template" "example" {
    categories = "{{ categories }}"
    display_name = "{{ display_name }}"
    homepage_url = "{{ homepage_url }}"
    id = "{{ id }}"
    logo_url = "{{ logo_url }}"
    publisher = "{{ publisher }}"
    supported_provisioning_types = "{{ supported_provisioning_types }}"
    supported_single_sign_on_modes = "{{ supported_single_sign_on_modes }}"
    template_id = "{{ template_id }}"
}