resource "azuread_administrative_unit" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    hidden_membership_enabled = {{ hidden_membership_enabled }}
    id = "{{ id }}"
    members = ["{{ members }}"]
    prevent_duplicate_names = {{ prevent_duplicate_names }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
