data "azuread_user" "example" {
    employee_id = "{{ employee_id }}"
    id = "{{ id }}"
    mail = "{{ mail }}"
    mail_nickname = "{{ mail_nickname }}"
    object_id = "{{ object_id }}"
    user_principal_name = "{{ user_principal_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
