resource "azuread_synchronization_job" "example" {
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    schedule = "{{ schedule }}"
    service_principal_id = "{{ service_principal_id }}"
    template_id = "{{ template_id }}"
}