data "azuread_administrative_unit" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    members = "{{ members }}"
    object_id = "{{ object_id }}"
    visibility = "{{ visibility }}"
}