data "azuread_service_principal" "example" {
    account_enabled = "{{ account_enabled }}"
    alternative_names = "{{ alternative_names }}"
    app_role_assignment_required = "{{ app_role_assignment_required }}"
    app_role_ids = "{{ app_role_ids }}"
    app_roles = "{{ app_roles }}"
    application_tenant_id = "{{ application_tenant_id }}"
    client_id = "{{ client_id }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    feature_tags = "{{ feature_tags }}"
    features = "{{ features }}"
    homepage_url = "{{ homepage_url }}"
    id = "{{ id }}"
    login_url = "{{ login_url }}"
    logout_url = "{{ logout_url }}"
    notes = "{{ notes }}"
    notification_email_addresses = "{{ notification_email_addresses }}"
    oauth2_permission_scope_ids = "{{ oauth2_permission_scope_ids }}"
    oauth2_permission_scopes = "{{ oauth2_permission_scopes }}"
    object_id = "{{ object_id }}"
    preferred_single_sign_on_mode = "{{ preferred_single_sign_on_mode }}"
    redirect_uris = "{{ redirect_uris }}"
    saml_metadata_url = "{{ saml_metadata_url }}"
    saml_single_sign_on = "{{ saml_single_sign_on }}"
    service_principal_names = "{{ service_principal_names }}"
    sign_in_audience = "{{ sign_in_audience }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
}