resource "azuread_access_package_catalog" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    externally_visible = "{{ externally_visible }}"
    id = "{{ id }}"
    published = "{{ published }}"
}