resource "azuread_application_pre_authorized" "example" {
    application_id = "{{ application_id }}"
    authorized_client_id = "{{ authorized_client_id }}"
    id = "{{ id }}"
    permission_ids = "{{ permission_ids }}"
}