resource "azuread_invitation" "example" {
    id = "{{ id }}"
    redirect_url = "{{ redirect_url }}"
    user_display_name = "{{ user_display_name }}"
    user_email_address = "{{ user_email_address }}"
    user_type = "{{ user_type }}"
    message {
      additional_recipients = ["{{ additional_recipients }}"]
      body = "{{ body }}"
      language = "{{ language }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
