resource "azuread_service_principal_password" "example" {
    display_name = "{{ display_name }}"
    end_date = "{{ end_date }}"
    end_date_relative = "{{ end_date_relative }}"
    id = "{{ id }}"
    rotate_when_changed = {
        key = "{{ rotate_when_changed_value }}"
      }
    service_principal_id = "{{ service_principal_id }}"
    start_date = "{{ start_date }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
