resource "azuread_application_flexible_federated_identity_credential" "example" {
    application_id = "{{ application_id }}"
    audience = "{{ audience }}"
    claims_matching_expression = "{{ claims_matching_expression }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    issuer = "{{ issuer }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
