resource "azuread_application" "example" {
    app_role_ids = "{{ app_role_ids }}"
    client_id = "{{ client_id }}"
    description = "{{ description }}"
    device_only_auth_enabled = "{{ device_only_auth_enabled }}"
    disabled_by_microsoft = "{{ disabled_by_microsoft }}"
    display_name = "{{ display_name }}"
    fallback_public_client_enabled = "{{ fallback_public_client_enabled }}"
    group_membership_claims = "{{ group_membership_claims }}"
    id = "{{ id }}"
    identifier_uris = "{{ identifier_uris }}"
    logo_image = "{{ logo_image }}"
    logo_url = "{{ logo_url }}"
    marketing_url = "{{ marketing_url }}"
    notes = "{{ notes }}"
    oauth2_permission_scope_ids = "{{ oauth2_permission_scope_ids }}"
    oauth2_post_response_required = "{{ oauth2_post_response_required }}"
    object_id = "{{ object_id }}"
    owners = "{{ owners }}"
    prevent_duplicate_names = "{{ prevent_duplicate_names }}"
    privacy_statement_url = "{{ privacy_statement_url }}"
    publisher_domain = "{{ publisher_domain }}"
    service_management_reference = "{{ service_management_reference }}"
    sign_in_audience = "{{ sign_in_audience }}"
    support_url = "{{ support_url }}"
    tags = "{{ tags }}"
    template_id = "{{ template_id }}"
    terms_of_service_url = "{{ terms_of_service_url }}"
}