resource "azuread_access_package_catalog_role_assignment" "example" {
    catalog_id = "{{ catalog_id }}"
    id = "{{ id }}"
    principal_object_id = "{{ principal_object_id }}"
    role_id = "{{ role_id }}"
}