resource "azuread_service_principal" "example" {
    account_enabled = {{ account_enabled }}
    alternative_names = ["{{ alternative_names }}"]
    app_role_assignment_required = {{ app_role_assignment_required }}
    client_id = "{{ client_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    login_url = "{{ login_url }}"
    notes = "{{ notes }}"
    notification_email_addresses = ["{{ notification_email_addresses }}"]
    owners = ["{{ owners }}"]
    preferred_single_sign_on_mode = "{{ preferred_single_sign_on_mode }}"
    tags = ["{{ tags }}"]
    use_existing = {{ use_existing }}
    feature_tags {
      custom_single_sign_on = {{ custom_single_sign_on }}
      enterprise = {{ enterprise }}
      gallery = {{ gallery }}
      hide = {{ hide }}
    }
    features {
      custom_single_sign_on_app = {{ custom_single_sign_on_app }}
      enterprise_application = {{ enterprise_application }}
      gallery_application = {{ gallery_application }}
      visible_to_users = {{ visible_to_users }}
    }
    saml_single_sign_on {
      relay_state = "{{ relay_state }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
