resource "azuread_user_flow_attribute" "example" {
    attribute_type = "{{ attribute_type }}"
    data_type = "{{ data_type }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
}