resource "azuread_group" "example" {
    administrative_unit_ids = "{{ administrative_unit_ids }}"
    assignable_to_role = "{{ assignable_to_role }}"
    auto_subscribe_new_members = "{{ auto_subscribe_new_members }}"
    behaviors = "{{ behaviors }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    external_senders_allowed = "{{ external_senders_allowed }}"
    hide_from_address_lists = "{{ hide_from_address_lists }}"
    hide_from_outlook_clients = "{{ hide_from_outlook_clients }}"
    id = "{{ id }}"
    mail = "{{ mail }}"
    mail_enabled = "{{ mail_enabled }}"
    mail_nickname = "{{ mail_nickname }}"
    members = "{{ members }}"
    object_id = "{{ object_id }}"
    onpremises_domain_name = "{{ onpremises_domain_name }}"
    onpremises_group_type = "{{ onpremises_group_type }}"
    onpremises_netbios_name = "{{ onpremises_netbios_name }}"
    onpremises_sam_account_name = "{{ onpremises_sam_account_name }}"
    onpremises_security_identifier = "{{ onpremises_security_identifier }}"
    onpremises_sync_enabled = "{{ onpremises_sync_enabled }}"
    owners = "{{ owners }}"
    preferred_language = "{{ preferred_language }}"
    prevent_duplicate_names = "{{ prevent_duplicate_names }}"
    provisioning_options = "{{ provisioning_options }}"
    proxy_addresses = "{{ proxy_addresses }}"
    security_enabled = "{{ security_enabled }}"
    theme = "{{ theme }}"
    types = "{{ types }}"
    visibility = "{{ visibility }}"
    writeback_enabled = "{{ writeback_enabled }}"
}