resource "azuread_administrative_unit" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    hidden_membership_enabled = "{{ hidden_membership_enabled }}"
    id = "{{ id }}"
    members = "{{ members }}"
    object_id = "{{ object_id }}"
    prevent_duplicate_names = "{{ prevent_duplicate_names }}"
}