resource "azuread_application_password" "example" {
    application_id = "{{ application_id }}"
    display_name = "{{ display_name }}"
    end_date = "{{ end_date }}"
    end_date_relative = "{{ end_date_relative }}"
    id = "{{ id }}"
    key_id = "{{ key_id }}"
    rotate_when_changed = "{{ rotate_when_changed }}"
    start_date = "{{ start_date }}"
    value = "{{ value }}"
}