provider "azuread" {
    client_certificate = "{{ client_certificate }}"
    client_certificate_password = "{{ client_certificate_password }}"
    client_certificate_path = "{{ client_certificate_path }}"
    client_id = "{{ client_id }}"
    client_id_file_path = "{{ client_id_file_path }}"
    client_secret = "{{ client_secret }}"
    client_secret_file_path = "{{ client_secret_file_path }}"
    disable_terraform_partner_id = "{{ disable_terraform_partner_id }}"
    environment = "{{ environment }}"
    metadata_host = "{{ metadata_host }}"
    msi_endpoint = "{{ msi_endpoint }}"
    oidc_request_token = "{{ oidc_request_token }}"
    oidc_request_url = "{{ oidc_request_url }}"
    oidc_token = "{{ oidc_token }}"
    oidc_token_file_path = "{{ oidc_token_file_path }}"
    partner_id = "{{ partner_id }}"
    tenant_id = "{{ tenant_id }}"
    use_aks_workload_identity = "{{ use_aks_workload_identity }}"
    use_cli = "{{ use_cli }}"
    use_msi = "{{ use_msi }}"
    use_oidc = "{{ use_oidc }}"
}