resource "vsphere_folder" "example" {
    custom_attributes = {
        key = "{{ custom_attributes_value }}"
      }
    datacenter_id = "{{ datacenter_id }}"
    id = "{{ id }}"
    path = "{{ path }}"
    tags = ["{{ tags }}"]
    type = "{{ type }}"
}
