data "vsphere_virtual_machine" "example" {
    alternate_guest_name = "{{ alternate_guest_name }}"
    annotation = "{{ annotation }}"
    boot_delay = {{ boot_delay }}
    boot_retry_delay = {{ boot_retry_delay }}
    boot_retry_enabled = {{ boot_retry_enabled }}
    cpu_hot_add_enabled = {{ cpu_hot_add_enabled }}
    cpu_hot_remove_enabled = {{ cpu_hot_remove_enabled }}
    cpu_limit = {{ cpu_limit }}
    cpu_performance_counters_enabled = {{ cpu_performance_counters_enabled }}
    cpu_reservation = {{ cpu_reservation }}
    cpu_share_count = {{ cpu_share_count }}
    cpu_share_level = "{{ cpu_share_level }}"
    datacenter_id = "{{ datacenter_id }}"
    efi_secure_boot_enabled = {{ efi_secure_boot_enabled }}
    enable_disk_uuid = {{ enable_disk_uuid }}
    enable_logging = {{ enable_logging }}
    ept_rvi_mode = "{{ ept_rvi_mode }}"
    extra_config = {
        key = "{{ extra_config_value }}"
      }
    extra_config_reboot_required = {{ extra_config_reboot_required }}
    firmware = "{{ firmware }}"
    folder = "{{ folder }}"
    guest_id = "{{ guest_id }}"
    hardware_version = {{ hardware_version }}
    hv_mode = "{{ hv_mode }}"
    id = "{{ id }}"
    ide_controller_scan_count = {{ ide_controller_scan_count }}
    latency_sensitivity = "{{ latency_sensitivity }}"
    memory = {{ memory }}
    memory_hot_add_enabled = {{ memory_hot_add_enabled }}
    memory_limit = {{ memory_limit }}
    memory_reservation = {{ memory_reservation }}
    memory_reservation_locked_to_max = {{ memory_reservation_locked_to_max }}
    memory_share_count = {{ memory_share_count }}
    memory_share_level = "{{ memory_share_level }}"
    moid = "{{ moid }}"
    name = "{{ name }}"
    nested_hv_enabled = {{ nested_hv_enabled }}
    num_cores_per_socket = {{ num_cores_per_socket }}
    num_cpus = {{ num_cpus }}
    nvme_controller_scan_count = {{ nvme_controller_scan_count }}
    replace_trigger = "{{ replace_trigger }}"
    run_tools_scripts_after_power_on = {{ run_tools_scripts_after_power_on }}
    run_tools_scripts_after_resume = {{ run_tools_scripts_after_resume }}
    run_tools_scripts_before_guest_reboot = {{ run_tools_scripts_before_guest_reboot }}
    run_tools_scripts_before_guest_shutdown = {{ run_tools_scripts_before_guest_shutdown }}
    run_tools_scripts_before_guest_standby = {{ run_tools_scripts_before_guest_standby }}
    sata_controller_scan_count = {{ sata_controller_scan_count }}
    scsi_controller_scan_count = {{ scsi_controller_scan_count }}
    storage_policy_id = "{{ storage_policy_id }}"
    swap_placement_policy = "{{ swap_placement_policy }}"
    sync_time_with_host = {{ sync_time_with_host }}
    sync_time_with_host_periodically = {{ sync_time_with_host_periodically }}
    tools_upgrade_policy = "{{ tools_upgrade_policy }}"
    uuid = "{{ uuid }}"
    vbs_enabled = {{ vbs_enabled }}
    vvtd_enabled = {{ vvtd_enabled }}
    vapp {
      properties = {
        key = "{{ properties_value }}"
      }
    }
}
