data "vsphere_host_pci_device" "example" {
    class_id = "{{ class_id }}"
    host_id = "{{ host_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_regex = "{{ name_regex }}"
    vendor_id = "{{ vendor_id }}"
}