resource "vsphere_compute_cluster" "example" {
    custom_attributes = "{{ custom_attributes }}"
    datacenter_id = "{{ datacenter_id }}"
    dpm_automation_level = "{{ dpm_automation_level }}"
    dpm_enabled = "{{ dpm_enabled }}"
    dpm_threshold = "{{ dpm_threshold }}"
    drs_advanced_options = "{{ drs_advanced_options }}"
    drs_automation_level = "{{ drs_automation_level }}"
    drs_enable_predictive_drs = "{{ drs_enable_predictive_drs }}"
    drs_enable_vm_overrides = "{{ drs_enable_vm_overrides }}"
    drs_enabled = "{{ drs_enabled }}"
    drs_migration_threshold = "{{ drs_migration_threshold }}"
    drs_scale_descendants_shares = "{{ drs_scale_descendants_shares }}"
    folder = "{{ folder }}"
    force_evacuate_on_destroy = "{{ force_evacuate_on_destroy }}"
    ha_admission_control_failover_host_system_ids = "{{ ha_admission_control_failover_host_system_ids }}"
    ha_admission_control_host_failure_tolerance = "{{ ha_admission_control_host_failure_tolerance }}"
    ha_admission_control_performance_tolerance = "{{ ha_admission_control_performance_tolerance }}"
    ha_admission_control_policy = "{{ ha_admission_control_policy }}"
    ha_admission_control_resource_percentage_auto_compute = "{{ ha_admission_control_resource_percentage_auto_compute }}"
    ha_admission_control_resource_percentage_cpu = "{{ ha_admission_control_resource_percentage_cpu }}"
    ha_admission_control_resource_percentage_memory = "{{ ha_admission_control_resource_percentage_memory }}"
    ha_admission_control_slot_policy_explicit_cpu = "{{ ha_admission_control_slot_policy_explicit_cpu }}"
    ha_admission_control_slot_policy_explicit_memory = "{{ ha_admission_control_slot_policy_explicit_memory }}"
    ha_admission_control_slot_policy_use_explicit_size = "{{ ha_admission_control_slot_policy_use_explicit_size }}"
    ha_advanced_options = "{{ ha_advanced_options }}"
    ha_datastore_apd_recovery_action = "{{ ha_datastore_apd_recovery_action }}"
    ha_datastore_apd_response = "{{ ha_datastore_apd_response }}"
    ha_datastore_apd_response_delay = "{{ ha_datastore_apd_response_delay }}"
    ha_datastore_pdl_response = "{{ ha_datastore_pdl_response }}"
    ha_enabled = "{{ ha_enabled }}"
    ha_heartbeat_datastore_ids = "{{ ha_heartbeat_datastore_ids }}"
    ha_heartbeat_datastore_policy = "{{ ha_heartbeat_datastore_policy }}"
    ha_host_isolation_response = "{{ ha_host_isolation_response }}"
    ha_host_monitoring = "{{ ha_host_monitoring }}"
    ha_vm_component_protection = "{{ ha_vm_component_protection }}"
    ha_vm_dependency_restart_condition = "{{ ha_vm_dependency_restart_condition }}"
    ha_vm_failure_interval = "{{ ha_vm_failure_interval }}"
    ha_vm_maximum_failure_window = "{{ ha_vm_maximum_failure_window }}"
    ha_vm_maximum_resets = "{{ ha_vm_maximum_resets }}"
    ha_vm_minimum_uptime = "{{ ha_vm_minimum_uptime }}"
    ha_vm_monitoring = "{{ ha_vm_monitoring }}"
    ha_vm_restart_additional_delay = "{{ ha_vm_restart_additional_delay }}"
    ha_vm_restart_priority = "{{ ha_vm_restart_priority }}"
    ha_vm_restart_timeout = "{{ ha_vm_restart_timeout }}"
    host_cluster_exit_timeout = "{{ host_cluster_exit_timeout }}"
    host_managed = "{{ host_managed }}"
    host_system_ids = "{{ host_system_ids }}"
    id = "{{ id }}"
    name = "{{ name }}"
    proactive_ha_automation_level = "{{ proactive_ha_automation_level }}"
    proactive_ha_enabled = "{{ proactive_ha_enabled }}"
    proactive_ha_moderate_remediation = "{{ proactive_ha_moderate_remediation }}"
    proactive_ha_provider_ids = "{{ proactive_ha_provider_ids }}"
    proactive_ha_severe_remediation = "{{ proactive_ha_severe_remediation }}"
    resource_pool_id = "{{ resource_pool_id }}"
    tags = "{{ tags }}"
    vsan_compression_enabled = "{{ vsan_compression_enabled }}"
    vsan_dedup_enabled = "{{ vsan_dedup_enabled }}"
    vsan_dit_encryption_enabled = "{{ vsan_dit_encryption_enabled }}"
    vsan_dit_rekey_interval = "{{ vsan_dit_rekey_interval }}"
    vsan_enabled = "{{ vsan_enabled }}"
    vsan_esa_enabled = "{{ vsan_esa_enabled }}"
    vsan_network_diagnostic_mode_enabled = "{{ vsan_network_diagnostic_mode_enabled }}"
    vsan_performance_enabled = "{{ vsan_performance_enabled }}"
    vsan_remote_datastore_ids = "{{ vsan_remote_datastore_ids }}"
    vsan_unmap_enabled = "{{ vsan_unmap_enabled }}"
    vsan_verbose_mode_enabled = "{{ vsan_verbose_mode_enabled }}"
}