data "vsphere_network" "example" {
    datacenter_id = "{{ datacenter_id }}"
    distributed_virtual_switch_uuid = "{{ distributed_virtual_switch_uuid }}"
    id = "{{ id }}"
    name = "{{ name }}"
    retry_interval = {{ retry_interval }}
    retry_timeout = {{ retry_timeout }}
    vpc_id = "{{ vpc_id }}"
    filter {
      network_type = "{{ network_type }}"
    }
}
