resource "vsphere_nas_datastore" "example" {
    access_mode = "{{ access_mode }}"
    accessible = "{{ accessible }}"
    capacity = "{{ capacity }}"
    custom_attributes = "{{ custom_attributes }}"
    datastore_cluster_id = "{{ datastore_cluster_id }}"
    folder = "{{ folder }}"
    free_space = "{{ free_space }}"
    host_system_ids = "{{ host_system_ids }}"
    id = "{{ id }}"
    maintenance_mode = "{{ maintenance_mode }}"
    multiple_host_access = "{{ multiple_host_access }}"
    name = "{{ name }}"
    protocol_endpoint = "{{ protocol_endpoint }}"
    remote_hosts = "{{ remote_hosts }}"
    remote_path = "{{ remote_path }}"
    security_type = "{{ security_type }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    uncommitted_space = "{{ uncommitted_space }}"
    url = "{{ url }}"
}