data "vsphere_ovf_vm_template" "example" {
    allow_unverified_ssl_cert = "{{ allow_unverified_ssl_cert }}"
    alternate_guest_name = "{{ alternate_guest_name }}"
    annotation = "{{ annotation }}"
    cpu_hot_add_enabled = "{{ cpu_hot_add_enabled }}"
    cpu_hot_remove_enabled = "{{ cpu_hot_remove_enabled }}"
    cpu_performance_counters_enabled = "{{ cpu_performance_counters_enabled }}"
    datastore_id = "{{ datastore_id }}"
    deployment_option = "{{ deployment_option }}"
    disk_provisioning = "{{ disk_provisioning }}"
    enable_hidden_properties = "{{ enable_hidden_properties }}"
    firmware = "{{ firmware }}"
    folder = "{{ folder }}"
    guest_id = "{{ guest_id }}"
    host_system_id = "{{ host_system_id }}"
    id = "{{ id }}"
    ide_controller_count = "{{ ide_controller_count }}"
    ip_allocation_policy = "{{ ip_allocation_policy }}"
    ip_protocol = "{{ ip_protocol }}"
    local_ovf_path = "{{ local_ovf_path }}"
    memory = "{{ memory }}"
    memory_hot_add_enabled = "{{ memory_hot_add_enabled }}"
    name = "{{ name }}"
    nested_hv_enabled = "{{ nested_hv_enabled }}"
    num_cores_per_socket = "{{ num_cores_per_socket }}"
    num_cpus = "{{ num_cpus }}"
    ovf_network_map = "{{ ovf_network_map }}"
    remote_ovf_url = "{{ remote_ovf_url }}"
    resource_pool_id = "{{ resource_pool_id }}"
    sata_controller_count = "{{ sata_controller_count }}"
    scsi_controller_count = "{{ scsi_controller_count }}"
    scsi_type = "{{ scsi_type }}"
    swap_placement_policy = "{{ swap_placement_policy }}"
}