resource "vsphere_datastore_cluster_vm_anti_affinity_rule" "example" {
    datastore_cluster_id = "{{ datastore_cluster_id }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    mandatory = "{{ mandatory }}"
    name = "{{ name }}"
    virtual_machine_ids = "{{ virtual_machine_ids }}"
}