resource "vsphere_vmfs_datastore" "example" {
    accessible = "{{ accessible }}"
    capacity = "{{ capacity }}"
    custom_attributes = "{{ custom_attributes }}"
    datastore_cluster_id = "{{ datastore_cluster_id }}"
    disks = "{{ disks }}"
    folder = "{{ folder }}"
    free_space = "{{ free_space }}"
    host_system_id = "{{ host_system_id }}"
    id = "{{ id }}"
    maintenance_mode = "{{ maintenance_mode }}"
    multiple_host_access = "{{ multiple_host_access }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    uncommitted_space = "{{ uncommitted_space }}"
    url = "{{ url }}"
}