resource "vsphere_vnic" "example" {
    distributed_port_group = "{{ distributed_port_group }}"
    distributed_switch_port = "{{ distributed_switch_port }}"
    host = "{{ host }}"
    id = "{{ id }}"
    mac = "{{ mac }}"
    mtu = "{{ mtu }}"
    netstack = "{{ netstack }}"
    portgroup = "{{ portgroup }}"
    services = "{{ services }}"
}