resource "vsphere_distributed_port_group" "example" {
    active_uplinks = "{{ active_uplinks }}"
    allow_forged_transmits = "{{ allow_forged_transmits }}"
    allow_mac_changes = "{{ allow_mac_changes }}"
    allow_promiscuous = "{{ allow_promiscuous }}"
    auto_expand = "{{ auto_expand }}"
    block_all_ports = "{{ block_all_ports }}"
    block_override_allowed = "{{ block_override_allowed }}"
    check_beacon = "{{ check_beacon }}"
    config_version = "{{ config_version }}"
    custom_attributes = "{{ custom_attributes }}"
    description = "{{ description }}"
    directpath_gen2_allowed = "{{ directpath_gen2_allowed }}"
    distributed_virtual_switch_uuid = "{{ distributed_virtual_switch_uuid }}"
    egress_shaping_average_bandwidth = "{{ egress_shaping_average_bandwidth }}"
    egress_shaping_burst_size = "{{ egress_shaping_burst_size }}"
    egress_shaping_enabled = "{{ egress_shaping_enabled }}"
    egress_shaping_peak_bandwidth = "{{ egress_shaping_peak_bandwidth }}"
    failback = "{{ failback }}"
    id = "{{ id }}"
    ingress_shaping_average_bandwidth = "{{ ingress_shaping_average_bandwidth }}"
    ingress_shaping_burst_size = "{{ ingress_shaping_burst_size }}"
    ingress_shaping_enabled = "{{ ingress_shaping_enabled }}"
    ingress_shaping_peak_bandwidth = "{{ ingress_shaping_peak_bandwidth }}"
    key = "{{ key }}"
    lacp_enabled = "{{ lacp_enabled }}"
    lacp_mode = "{{ lacp_mode }}"
    live_port_moving_allowed = "{{ live_port_moving_allowed }}"
    name = "{{ name }}"
    netflow_enabled = "{{ netflow_enabled }}"
    netflow_override_allowed = "{{ netflow_override_allowed }}"
    network_resource_pool_key = "{{ network_resource_pool_key }}"
    network_resource_pool_override_allowed = "{{ network_resource_pool_override_allowed }}"
    notify_switches = "{{ notify_switches }}"
    number_of_ports = "{{ number_of_ports }}"
    port_config_reset_at_disconnect = "{{ port_config_reset_at_disconnect }}"
    port_name_format = "{{ port_name_format }}"
    port_private_secondary_vlan_id = "{{ port_private_secondary_vlan_id }}"
    security_policy_override_allowed = "{{ security_policy_override_allowed }}"
    shaping_override_allowed = "{{ shaping_override_allowed }}"
    standby_uplinks = "{{ standby_uplinks }}"
    tags = "{{ tags }}"
    teaming_policy = "{{ teaming_policy }}"
    traffic_filter_override_allowed = "{{ traffic_filter_override_allowed }}"
    tx_uplink = "{{ tx_uplink }}"
    type = "{{ type }}"
    uplink_teaming_override_allowed = "{{ uplink_teaming_override_allowed }}"
    vlan_id = "{{ vlan_id }}"
    vlan_override_allowed = "{{ vlan_override_allowed }}"
}