resource "vsphere_datacenter" "example" {
    custom_attributes = "{{ custom_attributes }}"
    folder = "{{ folder }}"
    id = "{{ id }}"
    moid = "{{ moid }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}