data "vsphere_network" "example" {
    datacenter_id = "{{ datacenter_id }}"
    distributed_virtual_switch_uuid = "{{ distributed_virtual_switch_uuid }}"
    id = "{{ id }}"
    name = "{{ name }}"
    type = "{{ type }}"
}