resource "vsphere_host_virtual_switch" "example" {
    active_nics = "{{ active_nics }}"
    allow_forged_transmits = "{{ allow_forged_transmits }}"
    allow_mac_changes = "{{ allow_mac_changes }}"
    allow_promiscuous = "{{ allow_promiscuous }}"
    beacon_interval = "{{ beacon_interval }}"
    check_beacon = "{{ check_beacon }}"
    failback = "{{ failback }}"
    host_system_id = "{{ host_system_id }}"
    id = "{{ id }}"
    link_discovery_operation = "{{ link_discovery_operation }}"
    link_discovery_protocol = "{{ link_discovery_protocol }}"
    mtu = "{{ mtu }}"
    name = "{{ name }}"
    network_adapters = "{{ network_adapters }}"
    notify_switches = "{{ notify_switches }}"
    number_of_ports = "{{ number_of_ports }}"
    shaping_average_bandwidth = "{{ shaping_average_bandwidth }}"
    shaping_burst_size = "{{ shaping_burst_size }}"
    shaping_enabled = "{{ shaping_enabled }}"
    shaping_peak_bandwidth = "{{ shaping_peak_bandwidth }}"
    standby_nics = "{{ standby_nics }}"
    teaming_policy = "{{ teaming_policy }}"
}