resource "vsphere_nas_datastore" "example" {
    access_mode = "{{ access_mode }}"
    custom_attributes = {
        key = "{{ custom_attributes_value }}"
      }
    datastore_cluster_id = "{{ datastore_cluster_id }}"
    folder = "{{ folder }}"
    host_system_ids = ["{{ host_system_ids }}"]
    id = "{{ id }}"
    name = "{{ name }}"
    remote_hosts = ["{{ remote_hosts }}"]
    remote_path = "{{ remote_path }}"
    security_type = "{{ security_type }}"
    tags = ["{{ tags }}"]
    type = "{{ type }}"
}
