resource "googleworkspace_group_member" "example" {
    delivery_settings = "{{ delivery_settings }}"
    email = "{{ email }}"
    group_id = "{{ group_id }}"
    role = "{{ role }}"
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      update = "{{ update }}"
    }
}
