data "googleworkspace_role" "example" {
    description = "{{ description }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    is_super_admin_role = "{{ is_super_admin_role }}"
    is_system_role = "{{ is_system_role }}"
    name = "{{ name }}"
    privileges = "{{ privileges }}"
}