resource "googleworkspace_domain" "example" {
    creation_time = "{{ creation_time }}"
    domain_aliases = "{{ domain_aliases }}"
    domain_name = "{{ domain_name }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    is_primary = "{{ is_primary }}"
    verified = "{{ verified }}"
}