data "googleworkspace_schema" "example" {
    display_name = "{{ display_name }}"
    etag = "{{ etag }}"
    fields = "{{ fields }}"
    id = "{{ id }}"
    schema_id = "{{ schema_id }}"
    schema_name = "{{ schema_name }}"
}