data "googleworkspace_user" "example" {
    addresses = "{{ addresses }}"
    agreed_to_terms = "{{ agreed_to_terms }}"
    aliases = "{{ aliases }}"
    archived = "{{ archived }}"
    change_password_at_next_login = "{{ change_password_at_next_login }}"
    creation_time = "{{ creation_time }}"
    custom_schemas = "{{ custom_schemas }}"
    customer_id = "{{ customer_id }}"
    deletion_time = "{{ deletion_time }}"
    emails = "{{ emails }}"
    etag = "{{ etag }}"
    external_ids = "{{ external_ids }}"
    hash_function = "{{ hash_function }}"
    id = "{{ id }}"
    ims = "{{ ims }}"
    include_in_global_address_list = "{{ include_in_global_address_list }}"
    ip_allowlist = "{{ ip_allowlist }}"
    is_admin = "{{ is_admin }}"
    is_delegated_admin = "{{ is_delegated_admin }}"
    is_enforced_in_2_step_verification = "{{ is_enforced_in_2_step_verification }}"
    is_enrolled_in_2_step_verification = "{{ is_enrolled_in_2_step_verification }}"
    is_mailbox_setup = "{{ is_mailbox_setup }}"
    keywords = "{{ keywords }}"
    languages = "{{ languages }}"
    last_login_time = "{{ last_login_time }}"
    locations = "{{ locations }}"
    name = "{{ name }}"
    non_editable_aliases = "{{ non_editable_aliases }}"
    org_unit_path = "{{ org_unit_path }}"
    organizations = "{{ organizations }}"
    password = "{{ password }}"
    phones = "{{ phones }}"
    posix_accounts = "{{ posix_accounts }}"
    primary_email = "{{ primary_email }}"
    recovery_email = "{{ recovery_email }}"
    recovery_phone = "{{ recovery_phone }}"
    relations = "{{ relations }}"
    ssh_public_keys = "{{ ssh_public_keys }}"
    suspended = "{{ suspended }}"
    suspension_reason = "{{ suspension_reason }}"
    thumbnail_photo_etag = "{{ thumbnail_photo_etag }}"
    thumbnail_photo_url = "{{ thumbnail_photo_url }}"
    websites = "{{ websites }}"
}