data "googleworkspace_group" "example" {
    admin_created = "{{ admin_created }}"
    aliases = "{{ aliases }}"
    description = "{{ description }}"
    direct_members_count = "{{ direct_members_count }}"
    email = "{{ email }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    name = "{{ name }}"
    non_editable_aliases = "{{ non_editable_aliases }}"
}