resource "googleworkspace_role_assignment" "example" {
    assigned_to = "{{ assigned_to }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    org_unit_id = "{{ org_unit_id }}"
    role_id = "{{ role_id }}"
    scope_type = "{{ scope_type }}"
}