resource "googleworkspace_group_members" "example" {
    group_id = "{{ group_id }}"
    members {
      delivery_settings = "{{ delivery_settings }}"
      email = "{{ email }}"
      role = "{{ role }}"
      type = "{{ type }}"
    }
}
