resource "googleworkspace_group" "example" {
    aliases = ["{{ aliases }}"]
    description = "{{ description }}"
    email = "{{ email }}"
    name = "{{ name }}"
    timeouts {
      create = "{{ create }}"
      update = "{{ update }}"
    }
}
