resource "googleworkspace_user" "example" {
    agreed_to_terms = "{{ agreed_to_terms }}"
    aliases = "{{ aliases }}"
    archived = "{{ archived }}"
    change_password_at_next_login = "{{ change_password_at_next_login }}"
    creation_time = "{{ creation_time }}"
    customer_id = "{{ customer_id }}"
    deletion_time = "{{ deletion_time }}"
    etag = "{{ etag }}"
    hash_function = "{{ hash_function }}"
    id = "{{ id }}"
    include_in_global_address_list = "{{ include_in_global_address_list }}"
    ip_allowlist = "{{ ip_allowlist }}"
    is_admin = "{{ is_admin }}"
    is_delegated_admin = "{{ is_delegated_admin }}"
    is_enforced_in_2_step_verification = "{{ is_enforced_in_2_step_verification }}"
    is_enrolled_in_2_step_verification = "{{ is_enrolled_in_2_step_verification }}"
    is_mailbox_setup = "{{ is_mailbox_setup }}"
    last_login_time = "{{ last_login_time }}"
    non_editable_aliases = "{{ non_editable_aliases }}"
    org_unit_path = "{{ org_unit_path }}"
    password = "{{ password }}"
    primary_email = "{{ primary_email }}"
    recovery_email = "{{ recovery_email }}"
    recovery_phone = "{{ recovery_phone }}"
    suspended = "{{ suspended }}"
    suspension_reason = "{{ suspension_reason }}"
    thumbnail_photo_etag = "{{ thumbnail_photo_etag }}"
    thumbnail_photo_url = "{{ thumbnail_photo_url }}"
}