data "googleworkspace_group_member" "example" {
    delivery_settings = "{{ delivery_settings }}"
    email = "{{ email }}"
    etag = "{{ etag }}"
    group_id = "{{ group_id }}"
    id = "{{ id }}"
    member_id = "{{ member_id }}"
    role = "{{ role }}"
    status = "{{ status }}"
    type = "{{ type }}"
}