resource "googleworkspace_gmail_send_as_alias" "example" {
    display_name = "{{ display_name }}"
    is_default = {{ is_default }}
    primary_email = "{{ primary_email }}"
    reply_to_address = "{{ reply_to_address }}"
    send_as_email = "{{ send_as_email }}"
    signature = "{{ signature }}"
    treat_as_alias = {{ treat_as_alias }}
    smtp_msa {
      host = "{{ host }}"
      password = "{{ password }}"
      port = {{ port }}
      security_mode = "{{ security_mode }}"
      username = "{{ username }}"
    }
}
