resource "googleworkspace_group_settings" "example" {
    allow_external_members = "{{ allow_external_members }}"
    allow_web_posting = "{{ allow_web_posting }}"
    archive_only = "{{ archive_only }}"
    custom_footer_text = "{{ custom_footer_text }}"
    custom_reply_to = "{{ custom_reply_to }}"
    custom_roles_enabled_for_settings_to_be_merged = "{{ custom_roles_enabled_for_settings_to_be_merged }}"
    default_message_deny_notification_text = "{{ default_message_deny_notification_text }}"
    description = "{{ description }}"
    email = "{{ email }}"
    enable_collaborative_inbox = "{{ enable_collaborative_inbox }}"
    id = "{{ id }}"
    include_custom_footer = "{{ include_custom_footer }}"
    include_in_global_address_list = "{{ include_in_global_address_list }}"
    is_archived = "{{ is_archived }}"
    members_can_post_as_the_group = "{{ members_can_post_as_the_group }}"
    message_moderation_level = "{{ message_moderation_level }}"
    name = "{{ name }}"
    primary_language = "{{ primary_language }}"
    reply_to = "{{ reply_to }}"
    send_message_deny_notification = "{{ send_message_deny_notification }}"
    spam_moderation_level = "{{ spam_moderation_level }}"
    who_can_assist_content = "{{ who_can_assist_content }}"
    who_can_contact_owner = "{{ who_can_contact_owner }}"
    who_can_discover_group = "{{ who_can_discover_group }}"
    who_can_join = "{{ who_can_join }}"
    who_can_leave_group = "{{ who_can_leave_group }}"
    who_can_moderate_content = "{{ who_can_moderate_content }}"
    who_can_moderate_members = "{{ who_can_moderate_members }}"
    who_can_post_message = "{{ who_can_post_message }}"
    who_can_view_group = "{{ who_can_view_group }}"
    who_can_view_membership = "{{ who_can_view_membership }}"
}