resource "hcs_cluster_root_token" "example" {
    id = "{{ id }}"
    managed_application_name = "{{ managed_application_name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      default = "{{ default }}"
    }
}
