resource "hcs_cluster" "example" {
    audit_log_storage_container_url = "{{ audit_log_storage_container_url }}"
    audit_logging_enabled = "{{ audit_logging_enabled }}"
    blob_container_name = "{{ blob_container_name }}"
    cluster_mode = "{{ cluster_mode }}"
    cluster_name = "{{ cluster_name }}"
    consul_automatic_upgrades = "{{ consul_automatic_upgrades }}"
    consul_ca_file = "{{ consul_ca_file }}"
    consul_cluster_id = "{{ consul_cluster_id }}"
    consul_config_file = "{{ consul_config_file }}"
    consul_connect = "{{ consul_connect }}"
    consul_datacenter = "{{ consul_datacenter }}"
    consul_external_endpoint = "{{ consul_external_endpoint }}"
    consul_external_endpoint_url = "{{ consul_external_endpoint_url }}"
    consul_federation_token = "{{ consul_federation_token }}"
    consul_private_endpoint_url = "{{ consul_private_endpoint_url }}"
    consul_root_token_accessor_id = "{{ consul_root_token_accessor_id }}"
    consul_root_token_secret_id = "{{ consul_root_token_secret_id }}"
    consul_snapshot_interval = "{{ consul_snapshot_interval }}"
    consul_snapshot_retention = "{{ consul_snapshot_retention }}"
    consul_version = "{{ consul_version }}"
    email = "{{ email }}"
    id = "{{ id }}"
    location = "{{ location }}"
    managed_application_id = "{{ managed_application_id }}"
    managed_application_name = "{{ managed_application_name }}"
    managed_identity_name = "{{ managed_identity_name }}"
    managed_resource_group_name = "{{ managed_resource_group_name }}"
    min_consul_version = "{{ min_consul_version }}"
    plan_name = "{{ plan_name }}"
    resource_group_name = "{{ resource_group_name }}"
    state = "{{ state }}"
    storage_account_name = "{{ storage_account_name }}"
    storage_account_resource_group = "{{ storage_account_resource_group }}"
    tags = "{{ tags }}"
    vnet_cidr = "{{ vnet_cidr }}"
    vnet_id = "{{ vnet_id }}"
    vnet_name = "{{ vnet_name }}"
    vnet_resource_group_name = "{{ vnet_resource_group_name }}"
}