data "vault_identity_entity" "example" {
    alias_id = "{{ alias_id }}"
    alias_mount_accessor = "{{ alias_mount_accessor }}"
    alias_name = "{{ alias_name }}"
    entity_id = "{{ entity_id }}"
    entity_name = "{{ entity_name }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
}
