ephemeral "vault_azure_static_credentials" "example" {
    backend = "{{ backend }}"
    mount_id = "{{ mount_id }}"
    namespace = "{{ namespace }}"
    request_metadata = {
        key = "{{ request_metadata_value }}"
      }
    role = "{{ role }}"
}
