resource "vault_plugin" "example" {
    args = "{{ args }}"
    command = "{{ command }}"
    env = "{{ env }}"
    id = "{{ id }}"
    name = "{{ name }}"
    oci_image = "{{ oci_image }}"
    runtime = "{{ runtime }}"
    sha256 = "{{ sha256 }}"
    type = "{{ type }}"
    version = "{{ version }}"
}