resource "vault_quota_lease_count" "example" {
    id = "{{ id }}"
    inheritable = "{{ inheritable }}"
    max_leases = "{{ max_leases }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    role = "{{ role }}"
}