data "vault_transform_encode" "example" {
    batch_input = "{{ batch_input }}"
    batch_results = "{{ batch_results }}"
    encoded_value = "{{ encoded_value }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    role_name = "{{ role_name }}"
    transformation = "{{ transformation }}"
    tweak = "{{ tweak }}"
    value = "{{ value }}"
}