resource "vault_pki_secret_backend_cert" "example" {
    alt_names = "{{ alt_names }}"
    auto_renew = "{{ auto_renew }}"
    backend = "{{ backend }}"
    ca_chain = "{{ ca_chain }}"
    certificate = "{{ certificate }}"
    common_name = "{{ common_name }}"
    exclude_cn_from_sans = "{{ exclude_cn_from_sans }}"
    expiration = "{{ expiration }}"
    format = "{{ format }}"
    id = "{{ id }}"
    ip_sans = "{{ ip_sans }}"
    issuer_ref = "{{ issuer_ref }}"
    issuing_ca = "{{ issuing_ca }}"
    min_seconds_remaining = "{{ min_seconds_remaining }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    other_sans = "{{ other_sans }}"
    private_key = "{{ private_key }}"
    private_key_format = "{{ private_key_format }}"
    private_key_type = "{{ private_key_type }}"
    renew_pending = "{{ renew_pending }}"
    revoke = "{{ revoke }}"
    serial_number = "{{ serial_number }}"
    ttl = "{{ ttl }}"
    uri_sans = "{{ uri_sans }}"
    user_ids = "{{ user_ids }}"
}