resource "vault_kubernetes_auth_backend_role" "example" {
    alias_name_source = "{{ alias_name_source }}"
    audience = "{{ audience }}"
    backend = "{{ backend }}"
    bound_service_account_names = "{{ bound_service_account_names }}"
    bound_service_account_namespaces = "{{ bound_service_account_namespaces }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    role_name = "{{ role_name }}"
    token_bound_cidrs = "{{ token_bound_cidrs }}"
    token_explicit_max_ttl = "{{ token_explicit_max_ttl }}"
    token_max_ttl = "{{ token_max_ttl }}"
    token_no_default_policy = "{{ token_no_default_policy }}"
    token_num_uses = "{{ token_num_uses }}"
    token_period = "{{ token_period }}"
    token_policies = "{{ token_policies }}"
    token_ttl = "{{ token_ttl }}"
    token_type = "{{ token_type }}"
}