resource "vault_identity_oidc_role" "example" {
    client_id = "{{ client_id }}"
    id = "{{ id }}"
    key = "{{ key }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    template = "{{ template }}"
    ttl = "{{ ttl }}"
}