resource "vault_pki_secret_backend_key" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    key_bits = "{{ key_bits }}"
    key_id = "{{ key_id }}"
    key_name = "{{ key_name }}"
    key_type = "{{ key_type }}"
    managed_key_id = "{{ managed_key_id }}"
    managed_key_name = "{{ managed_key_name }}"
    namespace = "{{ namespace }}"
    type = "{{ type }}"
}