resource "vault_secrets_sync_gh_destination" "example" {
    access_token = "{{ access_token }}"
    allowed_ipv4_addresses = ["{{ allowed_ipv4_addresses }}"]
    allowed_ipv6_addresses = ["{{ allowed_ipv6_addresses }}"]
    allowed_ports = ["{{ allowed_ports }}"]
    app_name = "{{ app_name }}"
    disable_strict_networking = {{ disable_strict_networking }}
    environment_name = "{{ environment_name }}"
    granularity = "{{ granularity }}"
    id = "{{ id }}"
    installation_id = {{ installation_id }}
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    repository_name = "{{ repository_name }}"
    repository_owner = "{{ repository_owner }}"
    secret_name_template = "{{ secret_name_template }}"
    secrets_location = "{{ secrets_location }}"
}
