resource "vault_spiffe_secret_backend_config" "example" {
    bundle_refresh_hint = "{{ bundle_refresh_hint }}"
    jwt_issuer_url = "{{ jwt_issuer_url }}"
    jwt_oidc_compatibility_mode = {{ jwt_oidc_compatibility_mode }}
    jwt_signing_algorithm = "{{ jwt_signing_algorithm }}"
    key_lifetime = "{{ key_lifetime }}"
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
    trust_domain = "{{ trust_domain }}"
}
