resource "vault_gcp_secret_static_account" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    secret_type = "{{ secret_type }}"
    service_account_email = "{{ service_account_email }}"
    service_account_project = "{{ service_account_project }}"
    static_account = "{{ static_account }}"
    token_scopes = "{{ token_scopes }}"
}