ephemeral "vault_generic_secret" "example" {
    mount_id = "{{ mount_id }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    version = {{ version }}
    with_lease_start_time = {{ with_lease_start_time }}
}
