data "vault_pki_secret_backend_issuer" "example" {
    backend = "{{ backend }}"
    ca_chain = "{{ ca_chain }}"
    certificate = "{{ certificate }}"
    id = "{{ id }}"
    issuer_id = "{{ issuer_id }}"
    issuer_name = "{{ issuer_name }}"
    issuer_ref = "{{ issuer_ref }}"
    key_id = "{{ key_id }}"
    leaf_not_after_behavior = "{{ leaf_not_after_behavior }}"
    manual_chain = "{{ manual_chain }}"
    namespace = "{{ namespace }}"
    usage = "{{ usage }}"
}