data "vault_identity_entity" "example" {
    alias_id = "{{ alias_id }}"
    alias_mount_accessor = "{{ alias_mount_accessor }}"
    alias_name = "{{ alias_name }}"
    aliases = "{{ aliases }}"
    creation_time = "{{ creation_time }}"
    data_json = "{{ data_json }}"
    direct_group_ids = "{{ direct_group_ids }}"
    disabled = "{{ disabled }}"
    entity_id = "{{ entity_id }}"
    entity_name = "{{ entity_name }}"
    group_ids = "{{ group_ids }}"
    id = "{{ id }}"
    inherited_group_ids = "{{ inherited_group_ids }}"
    last_update_time = "{{ last_update_time }}"
    merged_entity_ids = "{{ merged_entity_ids }}"
    metadata = "{{ metadata }}"
    namespace = "{{ namespace }}"
    namespace_id = "{{ namespace_id }}"
    policies = "{{ policies }}"
}