resource "vault_pki_secret_backend_issuer" "example" {
    backend = "{{ backend }}"
    crl_distribution_points = "{{ crl_distribution_points }}"
    enable_aia_url_templating = "{{ enable_aia_url_templating }}"
    id = "{{ id }}"
    issuer_id = "{{ issuer_id }}"
    issuer_name = "{{ issuer_name }}"
    issuer_ref = "{{ issuer_ref }}"
    issuing_certificates = "{{ issuing_certificates }}"
    leaf_not_after_behavior = "{{ leaf_not_after_behavior }}"
    manual_chain = "{{ manual_chain }}"
    namespace = "{{ namespace }}"
    ocsp_servers = "{{ ocsp_servers }}"
    revocation_signature_algorithm = "{{ revocation_signature_algorithm }}"
    usage = "{{ usage }}"
}