resource "vault_kv_secret_v2" "example" {
    cas = "{{ cas }}"
    data = "{{ data }}"
    data_json = "{{ data_json }}"
    delete_all_versions = "{{ delete_all_versions }}"
    disable_read = "{{ disable_read }}"
    id = "{{ id }}"
    metadata = "{{ metadata }}"
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    options = "{{ options }}"
    path = "{{ path }}"
}