resource "vault_pki_external_ca_secret_backend_acme_account" "example" {
    directory_url = "{{ directory_url }}"
    eab_key = "{{ eab_key }}"
    eab_kid = "{{ eab_kid }}"
    email_contacts = ["{{ email_contacts }}"]
    key_type = "{{ key_type }}"
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    trusted_ca = "{{ trusted_ca }}"
}
