ephemeral "vault_azure_access_credentials" "example" {
    backend = "{{ backend }}"
    environment = "{{ environment }}"
    max_cred_validation_seconds = {{ max_cred_validation_seconds }}
    mount_id = "{{ mount_id }}"
    namespace = "{{ namespace }}"
    num_seconds_between_tests = {{ num_seconds_between_tests }}
    num_sequential_successes = {{ num_sequential_successes }}
    request_metadata = {
        key = "{{ request_metadata_value }}"
      }
    role = "{{ role }}"
    subscription_id = "{{ subscription_id }}"
    tenant_id = "{{ tenant_id }}"
    validate_creds = {{ validate_creds }}
}
