resource "vault_pki_external_ca_secret_backend_order_certificate" "example" {
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
    order_id = "{{ order_id }}"
    role_name = "{{ role_name }}"
}
