data "vault_identity_group" "example" {
    alias_id = "{{ alias_id }}"
    alias_mount_accessor = "{{ alias_mount_accessor }}"
    alias_name = "{{ alias_name }}"
    group_id = "{{ group_id }}"
    group_name = "{{ group_name }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
}
