resource "vault_nomad_secret_backend" "example" {
    address = "{{ address }}"
    backend = "{{ backend }}"
    ca_cert = "{{ ca_cert }}"
    client_cert = "{{ client_cert }}"
    client_key = "{{ client_key }}"
    default_lease_ttl_seconds = "{{ default_lease_ttl_seconds }}"
    description = "{{ description }}"
    disable_remount = "{{ disable_remount }}"
    id = "{{ id }}"
    local = "{{ local }}"
    max_lease_ttl_seconds = "{{ max_lease_ttl_seconds }}"
    max_token_name_length = "{{ max_token_name_length }}"
    max_ttl = "{{ max_ttl }}"
    namespace = "{{ namespace }}"
    token = "{{ token }}"
    ttl = "{{ ttl }}"
}