resource "vault_spiffe_auth_backend_role" "example" {
    alias_metadata = {
        key = "{{ alias_metadata_value }}"
      }
    display_name = "{{ display_name }}"
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    token_bound_cidrs = ["{{ token_bound_cidrs }}"]
    token_explicit_max_ttl = {{ token_explicit_max_ttl }}
    token_max_ttl = {{ token_max_ttl }}
    token_no_default_policy = {{ token_no_default_policy }}
    token_num_uses = {{ token_num_uses }}
    token_period = {{ token_period }}
    token_policies = ["{{ token_policies }}"]
    token_ttl = {{ token_ttl }}
    token_type = "{{ token_type }}"
    workload_id_patterns = ["{{ workload_id_patterns }}"]
}
