resource "vault_terraform_cloud_secret_creds" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    lease_id = "{{ lease_id }}"
    namespace = "{{ namespace }}"
    organization = "{{ organization }}"
    role = "{{ role }}"
    team_id = "{{ team_id }}"
    token = "{{ token }}"
    token_id = "{{ token_id }}"
}