resource "vault_identity_mfa_okta" "example" {
    api_token = "{{ api_token }}"
    base_url = "{{ base_url }}"
    id = "{{ id }}"
    method_id = "{{ method_id }}"
    mount_accessor = "{{ mount_accessor }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    namespace_id = "{{ namespace_id }}"
    namespace_path = "{{ namespace_path }}"
    org_name = "{{ org_name }}"
    primary_email = "{{ primary_email }}"
    type = "{{ type }}"
    username_format = "{{ username_format }}"
    uuid = "{{ uuid }}"
}