resource "vault_ad_secret_library" "example" {
    backend = "{{ backend }}"
    disable_check_in_enforcement = "{{ disable_check_in_enforcement }}"
    id = "{{ id }}"
    max_ttl = "{{ max_ttl }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    service_account_names = "{{ service_account_names }}"
    ttl = "{{ ttl }}"
}