resource "vault_audit" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    local = "{{ local }}"
    namespace = "{{ namespace }}"
    options = "{{ options }}"
    path = "{{ path }}"
    type = "{{ type }}"
}