data "vault_identity_group" "example" {
    alias_canonical_id = "{{ alias_canonical_id }}"
    alias_creation_time = "{{ alias_creation_time }}"
    alias_id = "{{ alias_id }}"
    alias_last_update_time = "{{ alias_last_update_time }}"
    alias_merged_from_canonical_ids = "{{ alias_merged_from_canonical_ids }}"
    alias_metadata = "{{ alias_metadata }}"
    alias_mount_accessor = "{{ alias_mount_accessor }}"
    alias_mount_path = "{{ alias_mount_path }}"
    alias_mount_type = "{{ alias_mount_type }}"
    alias_name = "{{ alias_name }}"
    creation_time = "{{ creation_time }}"
    data_json = "{{ data_json }}"
    group_id = "{{ group_id }}"
    group_name = "{{ group_name }}"
    id = "{{ id }}"
    last_update_time = "{{ last_update_time }}"
    member_entity_ids = "{{ member_entity_ids }}"
    member_group_ids = "{{ member_group_ids }}"
    metadata = "{{ metadata }}"
    modify_index = "{{ modify_index }}"
    namespace = "{{ namespace }}"
    namespace_id = "{{ namespace_id }}"
    parent_group_ids = "{{ parent_group_ids }}"
    policies = "{{ policies }}"
    type = "{{ type }}"
}