data "vault_transit_sign" "example" {
    batch_input = ["{{ batch_input }}"]
    batch_results = ["{{ batch_results }}"]
    context = "{{ context }}"
    hash_algorithm = "{{ hash_algorithm }}"
    id = "{{ id }}"
    input = "{{ input }}"
    key_version = {{ key_version }}
    marshaling_algorithm = "{{ marshaling_algorithm }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    prehashed = {{ prehashed }}
    reference = "{{ reference }}"
    salt_length = "{{ salt_length }}"
    signature = "{{ signature }}"
    signature_algorithm = "{{ signature_algorithm }}"
    signature_context = "{{ signature_context }}"
}
