resource "vault_aws_secret_backend" "example" {
    access_key = "{{ access_key }}"
    default_lease_ttl_seconds = "{{ default_lease_ttl_seconds }}"
    description = "{{ description }}"
    disable_remount = "{{ disable_remount }}"
    iam_endpoint = "{{ iam_endpoint }}"
    id = "{{ id }}"
    identity_token_audience = "{{ identity_token_audience }}"
    identity_token_key = "{{ identity_token_key }}"
    identity_token_ttl = "{{ identity_token_ttl }}"
    local = "{{ local }}"
    max_lease_ttl_seconds = "{{ max_lease_ttl_seconds }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    secret_key = "{{ secret_key }}"
    sts_endpoint = "{{ sts_endpoint }}"
    username_template = "{{ username_template }}"
}