resource "vault_config_ui_custom_message" "example" {
    authenticated = "{{ authenticated }}"
    end_time = "{{ end_time }}"
    id = "{{ id }}"
    message_base64 = "{{ message_base64 }}"
    namespace = "{{ namespace }}"
    options = "{{ options }}"
    start_time = "{{ start_time }}"
    title = "{{ title }}"
    type = "{{ type }}"
}