resource "vault_pki_external_ca_secret_backend_role" "example" {
    acme_account_name = "{{ acme_account_name }}"
    allowed_challenge_types = ["{{ allowed_challenge_types }}"]
    allowed_domain_options = ["{{ allowed_domain_options }}"]
    allowed_domains = ["{{ allowed_domains }}"]
    csr_generate_key_type = "{{ csr_generate_key_type }}"
    csr_identifier_population = "{{ csr_identifier_population }}"
    force = {{ force }}
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
}
