resource "vault_ad_secret_role" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    role = "{{ role }}"
    service_account_name = "{{ service_account_name }}"
    ttl = {{ ttl }}
}
