data "vault_pki_secret_backend_issuer" "example" {
    backend = "{{ backend }}"
    disable_critical_extension_checks = {{ disable_critical_extension_checks }}
    disable_name_checks = {{ disable_name_checks }}
    disable_name_constraint_checks = {{ disable_name_constraint_checks }}
    disable_path_length_checks = {{ disable_path_length_checks }}
    id = "{{ id }}"
    issuer_ref = "{{ issuer_ref }}"
    namespace = "{{ namespace }}"
}
