resource "vault_pki_secret_backend_sign" "example" {
    alt_names = ["{{ alt_names }}"]
    auto_renew = {{ auto_renew }}
    backend = "{{ backend }}"
    cert_metadata = "{{ cert_metadata }}"
    common_name = "{{ common_name }}"
    csr = "{{ csr }}"
    exclude_cn_from_sans = {{ exclude_cn_from_sans }}
    format = "{{ format }}"
    id = "{{ id }}"
    ip_sans = ["{{ ip_sans }}"]
    issuer_ref = "{{ issuer_ref }}"
    min_seconds_remaining = {{ min_seconds_remaining }}
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    not_after = "{{ not_after }}"
    other_sans = ["{{ other_sans }}"]
    remove_roots_from_chain = {{ remove_roots_from_chain }}
    ttl = "{{ ttl }}"
    uri_sans = ["{{ uri_sans }}"]
}
