resource "vault_pki_secret_backend_config_cluster" "example" {
    aia_path = "{{ aia_path }}"
    backend = "{{ backend }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
}