resource "vault_secrets_sync_gcp_destination" "example" {
    credentials = "{{ credentials }}"
    custom_tags = "{{ custom_tags }}"
    granularity = "{{ granularity }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    project_id = "{{ project_id }}"
    secret_name_template = "{{ secret_name_template }}"
    type = "{{ type }}"
}