resource "vault_kubernetes_secret_backend_role" "example" {
    allowed_kubernetes_namespace_selector = "{{ allowed_kubernetes_namespace_selector }}"
    allowed_kubernetes_namespaces = "{{ allowed_kubernetes_namespaces }}"
    backend = "{{ backend }}"
    extra_annotations = "{{ extra_annotations }}"
    extra_labels = "{{ extra_labels }}"
    generated_role_rules = "{{ generated_role_rules }}"
    id = "{{ id }}"
    kubernetes_role_name = "{{ kubernetes_role_name }}"
    kubernetes_role_type = "{{ kubernetes_role_type }}"
    name = "{{ name }}"
    name_template = "{{ name_template }}"
    namespace = "{{ namespace }}"
    service_account_name = "{{ service_account_name }}"
    token_default_ttl = "{{ token_default_ttl }}"
    token_max_ttl = "{{ token_max_ttl }}"
}