ephemeral "vault_aws_access_credentials" "example" {
    mount = "{{ mount }}"
    mount_id = "{{ mount_id }}"
    namespace = "{{ namespace }}"
    region = "{{ region }}"
    role = "{{ role }}"
    role_arn = "{{ role_arn }}"
    ttl = "{{ ttl }}"
    type = "{{ type }}"
}
