resource "vault_aws_secret_backend_role" "example" {
    backend = "{{ backend }}"
    credential_type = "{{ credential_type }}"
    default_sts_ttl = "{{ default_sts_ttl }}"
    external_id = "{{ external_id }}"
    iam_groups = "{{ iam_groups }}"
    iam_tags = "{{ iam_tags }}"
    id = "{{ id }}"
    max_sts_ttl = "{{ max_sts_ttl }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    permissions_boundary_arn = "{{ permissions_boundary_arn }}"
    policy_arns = "{{ policy_arns }}"
    policy_document = "{{ policy_document }}"
    role_arns = "{{ role_arns }}"
    session_tags = "{{ session_tags }}"
    user_path = "{{ user_path }}"
}