resource "vault_okta_auth_backend" "example" {
    accessor = "{{ accessor }}"
    base_url = "{{ base_url }}"
    bypass_okta_mfa = "{{ bypass_okta_mfa }}"
    description = "{{ description }}"
    disable_remount = "{{ disable_remount }}"
    group = "{{ group }}"
    id = "{{ id }}"
    max_ttl = "{{ max_ttl }}"
    namespace = "{{ namespace }}"
    organization = "{{ organization }}"
    path = "{{ path }}"
    token = "{{ token }}"
    token_bound_cidrs = "{{ token_bound_cidrs }}"
    token_explicit_max_ttl = "{{ token_explicit_max_ttl }}"
    token_max_ttl = "{{ token_max_ttl }}"
    token_no_default_policy = "{{ token_no_default_policy }}"
    token_num_uses = "{{ token_num_uses }}"
    token_period = "{{ token_period }}"
    token_policies = "{{ token_policies }}"
    token_ttl = "{{ token_ttl }}"
    token_type = "{{ token_type }}"
    ttl = "{{ ttl }}"
    user = "{{ user }}"
}