resource "vault_ad_secret_role" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    last_vault_rotation = "{{ last_vault_rotation }}"
    namespace = "{{ namespace }}"
    password_last_set = "{{ password_last_set }}"
    role = "{{ role }}"
    service_account_name = "{{ service_account_name }}"
    ttl = "{{ ttl }}"
}