resource "vault_secrets_sync_azure_destination" "example" {
    client_id = "{{ client_id }}"
    client_secret = "{{ client_secret }}"
    cloud = "{{ cloud }}"
    custom_tags = "{{ custom_tags }}"
    granularity = "{{ granularity }}"
    id = "{{ id }}"
    key_vault_uri = "{{ key_vault_uri }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    secret_name_template = "{{ secret_name_template }}"
    tenant_id = "{{ tenant_id }}"
    type = "{{ type }}"
}