resource "vault_secrets_sync_vercel_destination" "example" {
    access_token = "{{ access_token }}"
    deployment_environments = "{{ deployment_environments }}"
    granularity = "{{ granularity }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    project_id = "{{ project_id }}"
    secret_name_template = "{{ secret_name_template }}"
    team_id = "{{ team_id }}"
    type = "{{ type }}"
}