resource "vault_kv_secret_backend_v2" "example" {
    cas_required = "{{ cas_required }}"
    delete_version_after = "{{ delete_version_after }}"
    id = "{{ id }}"
    max_versions = "{{ max_versions }}"
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
}