resource "vault_kmip_secret_role" "example" {
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    operation_activate = "{{ operation_activate }}"
    operation_add_attribute = "{{ operation_add_attribute }}"
    operation_all = "{{ operation_all }}"
    operation_create = "{{ operation_create }}"
    operation_destroy = "{{ operation_destroy }}"
    operation_discover_versions = "{{ operation_discover_versions }}"
    operation_get = "{{ operation_get }}"
    operation_get_attribute_list = "{{ operation_get_attribute_list }}"
    operation_get_attributes = "{{ operation_get_attributes }}"
    operation_locate = "{{ operation_locate }}"
    operation_none = "{{ operation_none }}"
    operation_register = "{{ operation_register }}"
    operation_rekey = "{{ operation_rekey }}"
    operation_revoke = "{{ operation_revoke }}"
    path = "{{ path }}"
    role = "{{ role }}"
    scope = "{{ scope }}"
    tls_client_key_bits = "{{ tls_client_key_bits }}"
    tls_client_key_type = "{{ tls_client_key_type }}"
    tls_client_ttl = "{{ tls_client_ttl }}"
}