resource "vault_identity_group_member_entity_ids" "example" {
    exclusive = "{{ exclusive }}"
    group_id = "{{ group_id }}"
    id = "{{ id }}"
    member_entity_ids = "{{ member_entity_ids }}"
    namespace = "{{ namespace }}"
}