resource "vault_alicloud_secret_backend_role" "example" {
    max_ttl = {{ max_ttl }}
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    role_arn = "{{ role_arn }}"
    ttl = {{ ttl }}
    inline_policies {
      policy_document = "{{ policy_document }}"
    }
    remote_policies {
      name = "{{ name }}"
      type = "{{ type }}"
    }
}
