resource "vault_transit_secret_backend_key" "example" {
    allow_plaintext_backup = {{ allow_plaintext_backup }}
    auto_rotate_period = {{ auto_rotate_period }}
    backend = "{{ backend }}"
    context = "{{ context }}"
    convergent_encryption = {{ convergent_encryption }}
    deletion_allowed = {{ deletion_allowed }}
    derived = {{ derived }}
    exportable = {{ exportable }}
    hybrid_key_type_ec = "{{ hybrid_key_type_ec }}"
    hybrid_key_type_pqc = "{{ hybrid_key_type_pqc }}"
    id = "{{ id }}"
    key_size = {{ key_size }}
    managed_key_id = "{{ managed_key_id }}"
    managed_key_name = "{{ managed_key_name }}"
    min_decryption_version = {{ min_decryption_version }}
    min_encryption_version = {{ min_encryption_version }}
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    parameter_set = "{{ parameter_set }}"
    type = "{{ type }}"
}
