resource "vault_aws_auth_backend_identity_whitelist" "example" {
    backend = "{{ backend }}"
    disable_periodic_tidy = "{{ disable_periodic_tidy }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    safety_buffer = "{{ safety_buffer }}"
}