resource "vault_identity_entity_alias" "example" {
    canonical_id = "{{ canonical_id }}"
    custom_metadata = "{{ custom_metadata }}"
    id = "{{ id }}"
    mount_accessor = "{{ mount_accessor }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
}