data "vault_azure_access_credentials" "example" {
    backend = "{{ backend }}"
    environment = "{{ environment }}"
    id = "{{ id }}"
    max_cred_validation_seconds = {{ max_cred_validation_seconds }}
    namespace = "{{ namespace }}"
    num_seconds_between_tests = {{ num_seconds_between_tests }}
    num_sequential_successes = {{ num_sequential_successes }}
    role = "{{ role }}"
    subscription_id = "{{ subscription_id }}"
    tenant_id = "{{ tenant_id }}"
    validate_creds = {{ validate_creds }}
}
