resource "vault_os_secret_backend" "example" {
    max_versions = {{ max_versions }}
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
    ssh_host_key_trust_on_first_use = {{ ssh_host_key_trust_on_first_use }}
}
