data "vault_ldap_static_credentials" "example" {
    dn = "{{ dn }}"
    id = "{{ id }}"
    last_password = "{{ last_password }}"
    last_vault_rotation = "{{ last_vault_rotation }}"
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
    password = "{{ password }}"
    role_name = "{{ role_name }}"
    rotation_period = "{{ rotation_period }}"
    ttl = "{{ ttl }}"
    username = "{{ username }}"
}