resource "vault_namespace" "example" {
    custom_metadata = {
        key = "{{ custom_metadata_value }}"
      }
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    path_fq = "{{ path_fq }}"
}
