resource "vault_gcp_secret_impersonated_account" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    impersonated_account = "{{ impersonated_account }}"
    namespace = "{{ namespace }}"
    service_account_email = "{{ service_account_email }}"
    service_account_project = "{{ service_account_project }}"
    token_scopes = "{{ token_scopes }}"
    ttl = "{{ ttl }}"
}