resource "vault_mfa_pingid" "example" {
    admin_url = "{{ admin_url }}"
    authenticator_url = "{{ authenticator_url }}"
    id = "{{ id }}"
    idp_url = "{{ idp_url }}"
    mount_accessor = "{{ mount_accessor }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    namespace_id = "{{ namespace_id }}"
    org_alias = "{{ org_alias }}"
    settings_file_base64 = "{{ settings_file_base64 }}"
    type = "{{ type }}"
    use_signature = "{{ use_signature }}"
    username_format = "{{ username_format }}"
}