resource "vault_terraform_cloud_secret_role" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    max_ttl = "{{ max_ttl }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    organization = "{{ organization }}"
    team_id = "{{ team_id }}"
    ttl = "{{ ttl }}"
    user_id = "{{ user_id }}"
}