resource "vault_ldap_secret_backend_library_set" "example" {
    disable_check_in_enforcement = "{{ disable_check_in_enforcement }}"
    id = "{{ id }}"
    max_ttl = "{{ max_ttl }}"
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    service_account_names = "{{ service_account_names }}"
    ttl = "{{ ttl }}"
}