resource "vault_keymgmt_aws_kms" "example" {
    credentials_wo = {
        key = "{{ credentials_wo_value }}"
      }
    credentials_wo_version = {{ credentials_wo_version }}
    key_collection = "{{ key_collection }}"
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
}
