resource "vault_egp_policy" "example" {
    enforcement_level = "{{ enforcement_level }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    paths = "{{ paths }}"
    policy = "{{ policy }}"
}