resource "vault_mongodbatlas_secret_backend" "example" {
    id = "{{ id }}"
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
    private_key = "{{ private_key }}"
    private_key_wo = "{{ private_key_wo }}"
    private_key_wo_version = {{ private_key_wo_version }}
    public_key = "{{ public_key }}"
}
