resource "vault_pki_secret_backend_config_acme" "example" {
    allow_role_ext_key_usage = {{ allow_role_ext_key_usage }}
    allowed_issuers = ["{{ allowed_issuers }}"]
    allowed_roles = ["{{ allowed_roles }}"]
    backend = "{{ backend }}"
    challenge_excluded_ip_ranges = ["{{ challenge_excluded_ip_ranges }}"]
    challenge_permitted_ip_ranges = ["{{ challenge_permitted_ip_ranges }}"]
    default_directory_policy = "{{ default_directory_policy }}"
    dns_resolver = "{{ dns_resolver }}"
    eab_policy = "{{ eab_policy }}"
    enabled = {{ enabled }}
    id = "{{ id }}"
    max_ttl = {{ max_ttl }}
    namespace = "{{ namespace }}"
}
