data "vault_aws_static_access_credentials" "example" {
    access_key = "{{ access_key }}"
    backend = "{{ backend }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    secret_key = "{{ secret_key }}"
}