resource "vault_ldap_secret_backend_static_role" "example" {
    dn = "{{ dn }}"
    id = "{{ id }}"
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
    role_name = "{{ role_name }}"
    rotation_period = "{{ rotation_period }}"
    skip_import_rotation = "{{ skip_import_rotation }}"
    username = "{{ username }}"
}