resource "vault_raft_snapshot_agent_config" "example" {
    aws_access_key_id = "{{ aws_access_key_id }}"
    aws_s3_bucket = "{{ aws_s3_bucket }}"
    aws_s3_disable_tls = "{{ aws_s3_disable_tls }}"
    aws_s3_enable_kms = "{{ aws_s3_enable_kms }}"
    aws_s3_endpoint = "{{ aws_s3_endpoint }}"
    aws_s3_force_path_style = "{{ aws_s3_force_path_style }}"
    aws_s3_kms_key = "{{ aws_s3_kms_key }}"
    aws_s3_region = "{{ aws_s3_region }}"
    aws_s3_server_side_encryption = "{{ aws_s3_server_side_encryption }}"
    aws_secret_access_key = "{{ aws_secret_access_key }}"
    aws_session_token = "{{ aws_session_token }}"
    azure_account_key = "{{ azure_account_key }}"
    azure_account_name = "{{ azure_account_name }}"
    azure_blob_environment = "{{ azure_blob_environment }}"
    azure_container_name = "{{ azure_container_name }}"
    azure_endpoint = "{{ azure_endpoint }}"
    file_prefix = "{{ file_prefix }}"
    google_disable_tls = "{{ google_disable_tls }}"
    google_endpoint = "{{ google_endpoint }}"
    google_gcs_bucket = "{{ google_gcs_bucket }}"
    google_service_account_key = "{{ google_service_account_key }}"
    id = "{{ id }}"
    interval_seconds = "{{ interval_seconds }}"
    local_max_space = "{{ local_max_space }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    path_prefix = "{{ path_prefix }}"
    retain = "{{ retain }}"
    storage_type = "{{ storage_type }}"
}