resource "vault_os_secret_backend_host" "example" {
    address = "{{ address }}"
    custom_metadata = {
        key = "{{ custom_metadata_value }}"
      }
    disable_automated_rotation = {{ disable_automated_rotation }}
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    password_policy = "{{ password_policy }}"
    port = {{ port }}
    rotation_period = {{ rotation_period }}
    rotation_schedule = "{{ rotation_schedule }}"
    rotation_window = {{ rotation_window }}
    ssh_host_key = "{{ ssh_host_key }}"
}
