resource "vault_identity_entity" "example" {
    disabled = "{{ disabled }}"
    external_policies = "{{ external_policies }}"
    id = "{{ id }}"
    metadata = "{{ metadata }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    policies = "{{ policies }}"
}