resource "vault_ssh_secret_backend_ca" "example" {
    backend = "{{ backend }}"
    generate_signing_key = "{{ generate_signing_key }}"
    id = "{{ id }}"
    key_bits = "{{ key_bits }}"
    key_type = "{{ key_type }}"
    namespace = "{{ namespace }}"
    private_key = "{{ private_key }}"
    public_key = "{{ public_key }}"
}