resource "vault_mount" "example" {
    accessor = "{{ accessor }}"
    allowed_managed_keys = "{{ allowed_managed_keys }}"
    allowed_response_headers = "{{ allowed_response_headers }}"
    audit_non_hmac_request_keys = "{{ audit_non_hmac_request_keys }}"
    audit_non_hmac_response_keys = "{{ audit_non_hmac_response_keys }}"
    default_lease_ttl_seconds = "{{ default_lease_ttl_seconds }}"
    delegated_auth_accessors = "{{ delegated_auth_accessors }}"
    description = "{{ description }}"
    external_entropy_access = "{{ external_entropy_access }}"
    id = "{{ id }}"
    identity_token_key = "{{ identity_token_key }}"
    listing_visibility = "{{ listing_visibility }}"
    local = "{{ local }}"
    max_lease_ttl_seconds = "{{ max_lease_ttl_seconds }}"
    namespace = "{{ namespace }}"
    options = "{{ options }}"
    passthrough_request_headers = "{{ passthrough_request_headers }}"
    path = "{{ path }}"
    plugin_version = "{{ plugin_version }}"
    seal_wrap = "{{ seal_wrap }}"
    type = "{{ type }}"
}