data "vault_kv_secret_v2" "example" {
    created_time = "{{ created_time }}"
    custom_metadata = "{{ custom_metadata }}"
    data = "{{ data }}"
    data_json = "{{ data_json }}"
    deletion_time = "{{ deletion_time }}"
    destroyed = "{{ destroyed }}"
    id = "{{ id }}"
    mount = "{{ mount }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    version = "{{ version }}"
}