resource "vault_audit" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    local = {{ local }}
    namespace = "{{ namespace }}"
    options = {
        key = "{{ options_value }}"
      }
    path = "{{ path }}"
    type = "{{ type }}"
}
