data "vault_pki_secret_backend_key" "example" {
    backend = "{{ backend }}"
    id = "{{ id }}"
    key_id = "{{ key_id }}"
    key_name = "{{ key_name }}"
    key_ref = "{{ key_ref }}"
    key_type = "{{ key_type }}"
    namespace = "{{ namespace }}"
}