resource "vault_secrets_sync_vercel_destination" "example" {
    access_token = "{{ access_token }}"
    allowed_ipv4_addresses = ["{{ allowed_ipv4_addresses }}"]
    allowed_ipv6_addresses = ["{{ allowed_ipv6_addresses }}"]
    allowed_ports = ["{{ allowed_ports }}"]
    deployment_environments = ["{{ deployment_environments }}"]
    disable_strict_networking = {{ disable_strict_networking }}
    granularity = "{{ granularity }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    project_id = "{{ project_id }}"
    secret_name_template = "{{ secret_name_template }}"
    team_id = "{{ team_id }}"
}
