resource "vault_ldap_secret_backend" "example" {
    accessor = "{{ accessor }}"
    allowed_managed_keys = "{{ allowed_managed_keys }}"
    allowed_response_headers = "{{ allowed_response_headers }}"
    audit_non_hmac_request_keys = "{{ audit_non_hmac_request_keys }}"
    audit_non_hmac_response_keys = "{{ audit_non_hmac_response_keys }}"
    binddn = "{{ binddn }}"
    bindpass = "{{ bindpass }}"
    certificate = "{{ certificate }}"
    client_tls_cert = "{{ client_tls_cert }}"
    client_tls_key = "{{ client_tls_key }}"
    connection_timeout = "{{ connection_timeout }}"
    default_lease_ttl_seconds = "{{ default_lease_ttl_seconds }}"
    delegated_auth_accessors = "{{ delegated_auth_accessors }}"
    description = "{{ description }}"
    disable_remount = "{{ disable_remount }}"
    external_entropy_access = "{{ external_entropy_access }}"
    id = "{{ id }}"
    identity_token_key = "{{ identity_token_key }}"
    insecure_tls = "{{ insecure_tls }}"
    listing_visibility = "{{ listing_visibility }}"
    local = "{{ local }}"
    max_lease_ttl_seconds = "{{ max_lease_ttl_seconds }}"
    namespace = "{{ namespace }}"
    options = "{{ options }}"
    passthrough_request_headers = "{{ passthrough_request_headers }}"
    password_policy = "{{ password_policy }}"
    path = "{{ path }}"
    plugin_version = "{{ plugin_version }}"
    request_timeout = "{{ request_timeout }}"
    schema = "{{ schema }}"
    seal_wrap = "{{ seal_wrap }}"
    skip_static_role_import_rotation = "{{ skip_static_role_import_rotation }}"
    starttls = "{{ starttls }}"
    upndomain = "{{ upndomain }}"
    url = "{{ url }}"
    userattr = "{{ userattr }}"
    userdn = "{{ userdn }}"
}