resource "vault_azure_secret_backend_static_role" "example" {
    application_object_id = "{{ application_object_id }}"
    backend = "{{ backend }}"
    client_secret = "{{ client_secret }}"
    defer_initial_creds = {{ defer_initial_creds }}
    expiration = "{{ expiration }}"
    metadata = {
        key = "{{ metadata_value }}"
      }
    namespace = "{{ namespace }}"
    role = "{{ role }}"
    secret_id = "{{ secret_id }}"
    skip_import_rotation = {{ skip_import_rotation }}
    ttl = {{ ttl }}
}
