resource "vault_pki_external_ca_secret_backend_order" "example" {
    csr = "{{ csr }}"
    identifiers = ["{{ identifiers }}"]
    mount = "{{ mount }}"
    namespace = "{{ namespace }}"
    role_name = "{{ role_name }}"
}
