ephemeral "vault_approle_auth_backend_role_secret_id" "example" {
    backend = "{{ backend }}"
    cidr_list = ["{{ cidr_list }}"]
    metadata = "{{ metadata }}"
    mount_id = "{{ mount_id }}"
    namespace = "{{ namespace }}"
    num_uses = {{ num_uses }}
    role_name = "{{ role_name }}"
    ttl = {{ ttl }}
}
