resource "vault_terraform_cloud_secret_backend" "example" {
    address = "{{ address }}"
    allowed_managed_keys = ["{{ allowed_managed_keys }}"]
    allowed_response_headers = ["{{ allowed_response_headers }}"]
    audit_non_hmac_request_keys = ["{{ audit_non_hmac_request_keys }}"]
    audit_non_hmac_response_keys = ["{{ audit_non_hmac_response_keys }}"]
    backend = "{{ backend }}"
    base_path = "{{ base_path }}"
    default_lease_ttl_seconds = {{ default_lease_ttl_seconds }}
    delegated_auth_accessors = ["{{ delegated_auth_accessors }}"]
    description = "{{ description }}"
    disable_remount = {{ disable_remount }}
    external_entropy_access = {{ external_entropy_access }}
    force_no_cache = {{ force_no_cache }}
    id = "{{ id }}"
    identity_token_key = "{{ identity_token_key }}"
    listing_visibility = "{{ listing_visibility }}"
    local = {{ local }}
    max_lease_ttl_seconds = {{ max_lease_ttl_seconds }}
    namespace = "{{ namespace }}"
    options = {
        key = "{{ options_value }}"
      }
    passthrough_request_headers = ["{{ passthrough_request_headers }}"]
    plugin_version = "{{ plugin_version }}"
    seal_wrap = {{ seal_wrap }}
    token = "{{ token }}"
    token_wo = "{{ token_wo }}"
    token_wo_version = {{ token_wo_version }}
}
