resource "vault_gcp_auth_backend" "example" {
    accessor = "{{ accessor }}"
    client_email = "{{ client_email }}"
    client_id = "{{ client_id }}"
    credentials = "{{ credentials }}"
    description = "{{ description }}"
    disable_remount = "{{ disable_remount }}"
    id = "{{ id }}"
    identity_token_audience = "{{ identity_token_audience }}"
    identity_token_key = "{{ identity_token_key }}"
    identity_token_ttl = "{{ identity_token_ttl }}"
    local = "{{ local }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    private_key_id = "{{ private_key_id }}"
    project_id = "{{ project_id }}"
    service_account_email = "{{ service_account_email }}"
    tune = "{{ tune }}"
}