resource "vault_kmip_secret_listener" "example" {
    additional_client_cas = ["{{ additional_client_cas }}"]
    address = "{{ address }}"
    also_use_legacy_ca = {{ also_use_legacy_ca }}
    ca = "{{ ca }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    server_hostnames = ["{{ server_hostnames }}"]
    server_ips = ["{{ server_ips }}"]
    tls_cipher_suites = "{{ tls_cipher_suites }}"
    tls_max_version = "{{ tls_max_version }}"
    tls_min_version = "{{ tls_min_version }}"
}
