data "vault_azure_access_credentials" "example" {
    backend = "{{ backend }}"
    client_id = "{{ client_id }}"
    client_secret = "{{ client_secret }}"
    environment = "{{ environment }}"
    id = "{{ id }}"
    lease_duration = "{{ lease_duration }}"
    lease_id = "{{ lease_id }}"
    lease_renewable = "{{ lease_renewable }}"
    lease_start_time = "{{ lease_start_time }}"
    max_cred_validation_seconds = "{{ max_cred_validation_seconds }}"
    namespace = "{{ namespace }}"
    num_seconds_between_tests = "{{ num_seconds_between_tests }}"
    num_sequential_successes = "{{ num_sequential_successes }}"
    role = "{{ role }}"
    subscription_id = "{{ subscription_id }}"
    tenant_id = "{{ tenant_id }}"
    validate_creds = "{{ validate_creds }}"
}