resource "vault_secrets_sync_gcp_destination" "example" {
    allowed_ipv4_addresses = ["{{ allowed_ipv4_addresses }}"]
    allowed_ipv6_addresses = ["{{ allowed_ipv6_addresses }}"]
    allowed_ports = ["{{ allowed_ports }}"]
    credentials = "{{ credentials }}"
    custom_tags = {
        key = "{{ custom_tags_value }}"
      }
    disable_strict_networking = {{ disable_strict_networking }}
    global_kms_key = "{{ global_kms_key }}"
    granularity = "{{ granularity }}"
    id = "{{ id }}"
    identity_token_audience_wo = "{{ identity_token_audience_wo }}"
    identity_token_audience_wo_version = {{ identity_token_audience_wo_version }}
    identity_token_key_wo = "{{ identity_token_key_wo }}"
    identity_token_key_wo_version = {{ identity_token_key_wo_version }}
    identity_token_ttl = {{ identity_token_ttl }}
    locational_kms_keys = {
        key = "{{ locational_kms_keys_value }}"
      }
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    project_id = "{{ project_id }}"
    replication_locations = ["{{ replication_locations }}"]
    secret_name_template = "{{ secret_name_template }}"
    service_account_email = "{{ service_account_email }}"
}
