resource "vault_transform_template" "example" {
    alphabet = "{{ alphabet }}"
    decode_formats = {
        key = "{{ decode_formats_value }}"
      }
    encode_format = "{{ encode_format }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    path = "{{ path }}"
    pattern = "{{ pattern }}"
    type = "{{ type }}"
}
