resource "vault_pki_secret_backend_intermediate_set_signed" "example" {
    backend = "{{ backend }}"
    certificate = "{{ certificate }}"
    id = "{{ id }}"
    imported_issuers = "{{ imported_issuers }}"
    imported_keys = "{{ imported_keys }}"
    namespace = "{{ namespace }}"
}