resource "vault_identity_oidc_key_allowed_client_id" "example" {
    allowed_client_id = "{{ allowed_client_id }}"
    id = "{{ id }}"
    key_name = "{{ key_name }}"
    namespace = "{{ namespace }}"
}