resource "vault_ad_secret_backend" "example" {
    anonymous_group_search = "{{ anonymous_group_search }}"
    backend = "{{ backend }}"
    binddn = "{{ binddn }}"
    bindpass = "{{ bindpass }}"
    case_sensitive_names = "{{ case_sensitive_names }}"
    certificate = "{{ certificate }}"
    client_tls_cert = "{{ client_tls_cert }}"
    client_tls_key = "{{ client_tls_key }}"
    default_lease_ttl_seconds = "{{ default_lease_ttl_seconds }}"
    deny_null_bind = "{{ deny_null_bind }}"
    description = "{{ description }}"
    disable_remount = "{{ disable_remount }}"
    discoverdn = "{{ discoverdn }}"
    groupattr = "{{ groupattr }}"
    groupdn = "{{ groupdn }}"
    groupfilter = "{{ groupfilter }}"
    id = "{{ id }}"
    insecure_tls = "{{ insecure_tls }}"
    last_rotation_tolerance = "{{ last_rotation_tolerance }}"
    local = "{{ local }}"
    max_lease_ttl_seconds = "{{ max_lease_ttl_seconds }}"
    max_ttl = "{{ max_ttl }}"
    namespace = "{{ namespace }}"
    password_policy = "{{ password_policy }}"
    request_timeout = "{{ request_timeout }}"
    starttls = "{{ starttls }}"
    tls_max_version = "{{ tls_max_version }}"
    tls_min_version = "{{ tls_min_version }}"
    ttl = "{{ ttl }}"
    upndomain = "{{ upndomain }}"
    url = "{{ url }}"
    use_pre111_group_cn_behavior = "{{ use_pre111_group_cn_behavior }}"
    use_token_groups = "{{ use_token_groups }}"
    userattr = "{{ userattr }}"
    userdn = "{{ userdn }}"
}