resource "google_dialogflow_cx_webhook" "example" {
    disabled = "{{ disabled }}"
    display_name = "{{ display_name }}"
    enable_spell_correction = "{{ enable_spell_correction }}"
    enable_stackdriver_logging = "{{ enable_stackdriver_logging }}"
    id = "{{ id }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    security_settings = "{{ security_settings }}"
    start_flow = "{{ start_flow }}"
    timeout = "{{ timeout }}"
}