resource "google_network_security_client_tls_policy" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    sni = "{{ sni }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}