resource "google_compute_global_address" "example" {
    address = "{{ address }}"
    address_type = "{{ address_type }}"
    description = "{{ description }}"
    id = "{{ id }}"
    ip_version = "{{ ip_version }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    network = "{{ network }}"
    prefix_length = {{ prefix_length }}
    project = "{{ project }}"
    purpose = "{{ purpose }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
