resource "google_dataplex_entry_type_iam_member" "example" {
    entry_type_id = "{{ entry_type_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
}