data "google_alloydb_instance" "example" {
    cluster_id = "{{ cluster_id }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    location = "{{ location }}"
    project = "{{ project }}"
}
