data "google_cloud_asset_resources_search_all" "example" {
    asset_types = "{{ asset_types }}"
    id = "{{ id }}"
    query = "{{ query }}"
    results = "{{ results }}"
    scope = "{{ scope }}"
}