resource "google_netapp_active_directory" "example" {
    administrators = "{{ administrators }}"
    aes_encryption = "{{ aes_encryption }}"
    backup_operators = "{{ backup_operators }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    dns = "{{ dns }}"
    domain = "{{ domain }}"
    effective_labels = "{{ effective_labels }}"
    encrypt_dc_connections = "{{ encrypt_dc_connections }}"
    id = "{{ id }}"
    kdc_hostname = "{{ kdc_hostname }}"
    kdc_ip = "{{ kdc_ip }}"
    labels = "{{ labels }}"
    ldap_signing = "{{ ldap_signing }}"
    location = "{{ location }}"
    name = "{{ name }}"
    net_bios_prefix = "{{ net_bios_prefix }}"
    nfs_users_with_ldap = "{{ nfs_users_with_ldap }}"
    organizational_unit = "{{ organizational_unit }}"
    password = "{{ password }}"
    project = "{{ project }}"
    security_operators = "{{ security_operators }}"
    site = "{{ site }}"
    state = "{{ state }}"
    state_details = "{{ state_details }}"
    terraform_labels = "{{ terraform_labels }}"
    username = "{{ username }}"
}