resource "google_endpoints_service_consumers_iam_member" "example" {
    consumer_project = "{{ consumer_project }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    role = "{{ role }}"
    service_name = "{{ service_name }}"
}