data "google_parameter_manager_parameter_version_render" "example" {
    id = "{{ id }}"
    parameter = "{{ parameter }}"
    parameter_version_id = "{{ parameter_version_id }}"
    project = "{{ project }}"
}
