data "google_beyondcorp_security_gateway_iam_policy" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    security_gateway_id = "{{ security_gateway_id }}"
}
