resource "google_gke_hub_feature" "example" {
    create_time = "{{ create_time }}"
    delete_time = "{{ delete_time }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    resource_state = "{{ resource_state }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}