data "google_backup_dr_data_source" "example" {
    backup_config_info = "{{ backup_config_info }}"
    backup_count = "{{ backup_count }}"
    backup_vault_id = "{{ backup_vault_id }}"
    config_state = "{{ config_state }}"
    create_time = "{{ create_time }}"
    data_source_backup_appliance_application = "{{ data_source_backup_appliance_application }}"
    data_source_gcp_resource = "{{ data_source_gcp_resource }}"
    data_source_id = "{{ data_source_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    state = "{{ state }}"
    total_stored_bytes = "{{ total_stored_bytes }}"
    update_time = "{{ update_time }}"
}