resource "google_dataproc_metastore_service_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    members = "{{ members }}"
    project = "{{ project }}"
    role = "{{ role }}"
    service_id = "{{ service_id }}"
}