data "google_firestore_document" "example" {
    collection = "{{ collection }}"
    database = "{{ database }}"
    document_id = "{{ document_id }}"
    id = "{{ id }}"
    project = "{{ project }}"
}
