resource "google_compute_region_resize_request" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    instance_group_manager = "{{ instance_group_manager }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    resize_by = {{ resize_by }}
    requested_run_duration {
      nanos = {{ nanos }}
      seconds = "{{ seconds }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
