data "google_monitoring_mesh_istio_service" "example" {
    id = "{{ id }}"
    mesh_uid = "{{ mesh_uid }}"
    project = "{{ project }}"
    service_name = "{{ service_name }}"
    service_namespace = "{{ service_namespace }}"
}
