resource "google_gke_hub_namespace" "example" {
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    namespace_labels = {
        key = "{{ namespace_labels_value }}"
      }
    project = "{{ project }}"
    scope = "{{ scope }}"
    scope_id = "{{ scope_id }}"
    scope_namespace_id = "{{ scope_namespace_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
