resource "google_database_migration_service_private_connection" "example" {
    create_without_validation = {{ create_without_validation }}
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    private_connection_id = "{{ private_connection_id }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    vpc_peering_config {
      subnet = "{{ subnet }}"
      vpc_name = "{{ vpc_name }}"
    }
}
