resource "google_netapp_storage_pool" "example" {
    active_directory = "{{ active_directory }}"
    allow_auto_tiering = "{{ allow_auto_tiering }}"
    capacity_gib = "{{ capacity_gib }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    encryption_type = "{{ encryption_type }}"
    id = "{{ id }}"
    kms_config = "{{ kms_config }}"
    labels = "{{ labels }}"
    ldap_enabled = "{{ ldap_enabled }}"
    location = "{{ location }}"
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    replica_zone = "{{ replica_zone }}"
    service_level = "{{ service_level }}"
    terraform_labels = "{{ terraform_labels }}"
    volume_capacity_gib = "{{ volume_capacity_gib }}"
    volume_count = "{{ volume_count }}"
    zone = "{{ zone }}"
}