resource "google_api_gateway_gateway" "example" {
    api_config = "{{ api_config }}"
    default_hostname = "{{ default_hostname }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    gateway_id = "{{ gateway_id }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    terraform_labels = "{{ terraform_labels }}"
}