resource "google_scc_management_folder_security_health_analytics_custom_module" "example" {
    ancestor_module = "{{ ancestor_module }}"
    display_name = "{{ display_name }}"
    enablement_state = "{{ enablement_state }}"
    folder = "{{ folder }}"
    id = "{{ id }}"
    last_editor = "{{ last_editor }}"
    location = "{{ location }}"
    name = "{{ name }}"
    update_time = "{{ update_time }}"
}