resource "google_datastream_private_connection" "example" {
    create_without_validation = "{{ create_without_validation }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    error = "{{ error }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    private_connection_id = "{{ private_connection_id }}"
    project = "{{ project }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
}