resource "google_apigee_environment" "example" {
    api_proxy_type = "{{ api_proxy_type }}"
    deployment_type = "{{ deployment_type }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    forward_proxy_uri = "{{ forward_proxy_uri }}"
    id = "{{ id }}"
    name = "{{ name }}"
    org_id = "{{ org_id }}"
    type = "{{ type }}"
}