resource "google_service_account_key" "example" {
    id = "{{ id }}"
    keepers = "{{ keepers }}"
    key_algorithm = "{{ key_algorithm }}"
    name = "{{ name }}"
    private_key = "{{ private_key }}"
    private_key_type = "{{ private_key_type }}"
    public_key = "{{ public_key }}"
    public_key_data = "{{ public_key_data }}"
    public_key_type = "{{ public_key_type }}"
    service_account_id = "{{ service_account_id }}"
    valid_after = "{{ valid_after }}"
    valid_before = "{{ valid_before }}"
}