resource "google_compute_region_autoscaler" "example" {
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    self_link = "{{ self_link }}"
    target = "{{ target }}"
}