resource "google_healthcare_consent_store_iam_binding" "example" {
    consent_store_id = "{{ consent_store_id }}"
    dataset = "{{ dataset }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    members = "{{ members }}"
    role = "{{ role }}"
}