resource "google_compute_region_url_map" "example" {
    creation_timestamp = "{{ creation_timestamp }}"
    default_service = "{{ default_service }}"
    description = "{{ description }}"
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    map_id = "{{ map_id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    self_link = "{{ self_link }}"
}