resource "google_network_connectivity_regional_endpoint" "example" {
    access_type = "{{ access_type }}"
    address = "{{ address }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    psc_forwarding_rule = "{{ psc_forwarding_rule }}"
    subnetwork = "{{ subnetwork }}"
    target_google_api = "{{ target_google_api }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}