resource "google_scc_organization_custom_module" "example" {
    ancestor_module = "{{ ancestor_module }}"
    display_name = "{{ display_name }}"
    enablement_state = "{{ enablement_state }}"
    id = "{{ id }}"
    last_editor = "{{ last_editor }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    update_time = "{{ update_time }}"
}