resource "google_healthcare_fhir_store_iam_member" "example" {
    etag = "{{ etag }}"
    fhir_store_id = "{{ fhir_store_id }}"
    id = "{{ id }}"
    member = "{{ member }}"
    role = "{{ role }}"
}