resource "google_notebooks_instance_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    instance_name = "{{ instance_name }}"
    location = "{{ location }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
}