data "google_service_account_jwt" "example" {
    delegates = "{{ delegates }}"
    expires_in = "{{ expires_in }}"
    id = "{{ id }}"
    jwt = "{{ jwt }}"
    payload = "{{ payload }}"
    target_service_account = "{{ target_service_account }}"
}