resource "google_tags_tag_binding" "example" {
    id = "{{ id }}"
    parent = "{{ parent }}"
    tag_value = "{{ tag_value }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
