resource "google_bigtable_instance_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    instance = "{{ instance }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
}