resource "google_network_services_service_lb_policies" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    load_balancing_algorithm = "{{ load_balancing_algorithm }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}