resource "google_tags_tag_key_iam_member" "example" {
    id = "{{ id }}"
    member = "{{ member }}"
    role = "{{ role }}"
    tag_key = "{{ tag_key }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
