resource "google_dialogflow_cx_environment" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    parent = "{{ parent }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    version_configs {
      version = "{{ version }}"
    }
}
