resource "google_binary_authorization_attestor_iam_member" "example" {
    attestor = "{{ attestor }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
