resource "google_dialogflow_cx_flow" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    is_default_start_flow = "{{ is_default_start_flow }}"
    language_code = "{{ language_code }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    transition_route_groups = "{{ transition_route_groups }}"
}