resource "google_gkeonprem_vmware_node_pool" "example" {
    annotations = {
        key = "{{ annotations_value }}"
      }
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    on_prem_version = "{{ on_prem_version }}"
    project = "{{ project }}"
    vmware_cluster = "{{ vmware_cluster }}"
    config {
      boot_disk_size_gb = {{ boot_disk_size_gb }}
      cpus = {{ cpus }}
      enable_load_balancer = {{ enable_load_balancer }}
      image = "{{ image }}"
      image_type = "{{ image_type }}"
      labels = {
        key = "{{ labels_value }}"
      }
      memory_mb = {{ memory_mb }}
      replicas = {{ replicas }}
      taints {
        effect = "{{ effect }}"
        key = "{{ key }}"
        value = "{{ value }}"
      }
      vsphere_config {
        datastore = "{{ datastore }}"
        host_groups = ["{{ host_groups }}"]
        tags {
          category = "{{ category }}"
          tag = "{{ tag }}"
        }
      }
    }
    node_pool_autoscaling {
      max_replicas = {{ max_replicas }}
      min_replicas = {{ min_replicas }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
