data "google_service_account_key" "example" {
    id = "{{ id }}"
    key_algorithm = "{{ key_algorithm }}"
    name = "{{ name }}"
    project = "{{ project }}"
    public_key = "{{ public_key }}"
    public_key_type = "{{ public_key_type }}"
}