resource "google_edgecontainer_cluster" "example" {
    default_max_pods_per_node = {{ default_max_pods_per_node }}
    external_load_balancer_ipv4_address_pools = ["{{ external_load_balancer_ipv4_address_pools }}"]
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    release_channel = "{{ release_channel }}"
    target_version = "{{ target_version }}"
    authorization {
      admin_users {
        username = "{{ username }}"
      }
    }
    control_plane {
      local {
        machine_filter = "{{ machine_filter }}"
        node_count = {{ node_count }}
        node_location = "{{ node_location }}"
        shared_deployment_policy = "{{ shared_deployment_policy }}"
      }
      remote {
        node_location = "{{ node_location }}"
      }
    }
    control_plane_encryption {
      kms_key = "{{ kms_key }}"
    }
    fleet {
      project = "{{ project }}"
    }
    maintenance_policy {
      maintenance_exclusions {
        id = "{{ id }}"
        window {
          end_time = "{{ end_time }}"
          start_time = "{{ start_time }}"
        }
      }
      window {
        recurring_window {
          recurrence = "{{ recurrence }}"
          window {
            end_time = "{{ end_time }}"
            start_time = "{{ start_time }}"
          }
        }
      }
    }
    networking {
      cluster_ipv4_cidr_blocks = ["{{ cluster_ipv4_cidr_blocks }}"]
      cluster_ipv6_cidr_blocks = ["{{ cluster_ipv6_cidr_blocks }}"]
      services_ipv4_cidr_blocks = ["{{ services_ipv4_cidr_blocks }}"]
      services_ipv6_cidr_blocks = ["{{ services_ipv6_cidr_blocks }}"]
    }
    system_addons_config {
      ingress {
        disabled = {{ disabled }}
        ipv4_vip = "{{ ipv4_vip }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
