resource "google_compute_resource_policy" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    self_link = "{{ self_link }}"
}