resource "google_network_connectivity_policy_based_route" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    network = "{{ network }}"
    next_hop_ilb_ip = "{{ next_hop_ilb_ip }}"
    next_hop_other_routes = "{{ next_hop_other_routes }}"
    priority = "{{ priority }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
    warnings = "{{ warnings }}"
}