data "google_compute_instance_group_manager" "example" {
    all_instances_config = "{{ all_instances_config }}"
    auto_healing_policies = "{{ auto_healing_policies }}"
    base_instance_name = "{{ base_instance_name }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    instance_group = "{{ instance_group }}"
    instance_lifecycle_policy = "{{ instance_lifecycle_policy }}"
    list_managed_instances_results = "{{ list_managed_instances_results }}"
    name = "{{ name }}"
    named_port = "{{ named_port }}"
    operation = "{{ operation }}"
    params = "{{ params }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    standby_policy = "{{ standby_policy }}"
    stateful_disk = "{{ stateful_disk }}"
    stateful_external_ip = "{{ stateful_external_ip }}"
    stateful_internal_ip = "{{ stateful_internal_ip }}"
    status = "{{ status }}"
    target_pools = "{{ target_pools }}"
    target_size = "{{ target_size }}"
    target_stopped_size = "{{ target_stopped_size }}"
    target_suspended_size = "{{ target_suspended_size }}"
    update_policy = "{{ update_policy }}"
    version = "{{ version }}"
    wait_for_instances = "{{ wait_for_instances }}"
    wait_for_instances_status = "{{ wait_for_instances_status }}"
    zone = "{{ zone }}"
}