data "google_pubsub_subscription" "example" {
    ack_deadline_seconds = "{{ ack_deadline_seconds }}"
    bigquery_config = "{{ bigquery_config }}"
    cloud_storage_config = "{{ cloud_storage_config }}"
    dead_letter_policy = "{{ dead_letter_policy }}"
    effective_labels = "{{ effective_labels }}"
    enable_exactly_once_delivery = "{{ enable_exactly_once_delivery }}"
    enable_message_ordering = "{{ enable_message_ordering }}"
    expiration_policy = "{{ expiration_policy }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    message_retention_duration = "{{ message_retention_duration }}"
    name = "{{ name }}"
    project = "{{ project }}"
    push_config = "{{ push_config }}"
    retain_acked_messages = "{{ retain_acked_messages }}"
    retry_policy = "{{ retry_policy }}"
    terraform_labels = "{{ terraform_labels }}"
    topic = "{{ topic }}"
}