data "google_monitoring_cluster_istio_service" "example" {
    cluster_name = "{{ cluster_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    service_name = "{{ service_name }}"
    service_namespace = "{{ service_namespace }}"
}
