resource "google_folder_iam_audit_config" "example" {
    folder = "{{ folder }}"
    id = "{{ id }}"
    service = "{{ service }}"
    audit_log_config {
      exempted_members = ["{{ exempted_members }}"]
      log_type = "{{ log_type }}"
    }
}
