resource "google_network_management_connectivity_test" "example" {
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    project = "{{ project }}"
    protocol = "{{ protocol }}"
    related_projects = "{{ related_projects }}"
    terraform_labels = "{{ terraform_labels }}"
}