data "google_firebase_hosting_channel" "example" {
    channel_id = "{{ channel_id }}"
    effective_labels = "{{ effective_labels }}"
    expire_time = "{{ expire_time }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    retained_release_count = "{{ retained_release_count }}"
    site_id = "{{ site_id }}"
    terraform_labels = "{{ terraform_labels }}"
    ttl = "{{ ttl }}"
}