resource "google_migration_center_preference_set" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    preference_set_id = "{{ preference_set_id }}"
    project = "{{ project }}"
    update_time = "{{ update_time }}"
}