data "google_iam_workload_identity_pool_provider" "example" {
    attribute_condition = "{{ attribute_condition }}"
    attribute_mapping = "{{ attribute_mapping }}"
    aws = "{{ aws }}"
    description = "{{ description }}"
    disabled = "{{ disabled }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    oidc = "{{ oidc }}"
    project = "{{ project }}"
    saml = "{{ saml }}"
    state = "{{ state }}"
    workload_identity_pool_id = "{{ workload_identity_pool_id }}"
    workload_identity_pool_provider_id = "{{ workload_identity_pool_provider_id }}"
    x509 = "{{ x509 }}"
}