resource "google_apphub_service_project_attachment" "example" {
    create_time = "{{ create_time }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    service_project = "{{ service_project }}"
    service_project_attachment_id = "{{ service_project_attachment_id }}"
    state = "{{ state }}"
    uid = "{{ uid }}"
}