resource "google_privateca_ca_pool" "example" {
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
    tier = "{{ tier }}"
}