resource "google_iap_web_type_app_engine_iam_policy" "example" {
    app_id = "{{ app_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}