resource "google_network_connectivity_hub_iam_member" "example" {
    hub = "{{ hub }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
