data "google_artifact_registry_package" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    repository_id = "{{ repository_id }}"
}
