resource "google_database_migration_service_migration_job" "example" {
    create_time = "{{ create_time }}"
    destination = "{{ destination }}"
    display_name = "{{ display_name }}"
    dump_path = "{{ dump_path }}"
    dump_type = "{{ dump_type }}"
    effective_labels = "{{ effective_labels }}"
    error = "{{ error }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    migration_job_id = "{{ migration_job_id }}"
    name = "{{ name }}"
    phase = "{{ phase }}"
    project = "{{ project }}"
    source = "{{ source }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
    type = "{{ type }}"
}