resource "google_iam_principal_access_boundary_policy" "example" {
    annotations = "{{ annotations }}"
    create_time = "{{ create_time }}"
    display_name = "{{ display_name }}"
    effective_annotations = "{{ effective_annotations }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    principal_access_boundary_policy_id = "{{ principal_access_boundary_policy_id }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}