data "google_parameter_manager_regional_parameter_version" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    parameter = "{{ parameter }}"
    parameter_version_id = "{{ parameter_version_id }}"
    project = "{{ project }}"
}
