resource "google_kms_organization_kaj_policy_config" "example" {
    id = "{{ id }}"
    organization = "{{ organization }}"
    default_key_access_justification_policy {
      allowed_access_reasons = ["{{ allowed_access_reasons }}"]
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
