resource "google_dataplex_aspect_type" "example" {
    aspect_type_id = "{{ aspect_type_id }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    metadata_template = "{{ metadata_template }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
    transfer_status = "{{ transfer_status }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}