resource "google_scc_organization_scc_big_query_export" "example" {
    big_query_export_id = "{{ big_query_export_id }}"
    dataset = "{{ dataset }}"
    description = "{{ description }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    organization = "{{ organization }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
