resource "google_filestore_backup" "example" {
    capacity_gb = "{{ capacity_gb }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    download_bytes = "{{ download_bytes }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    kms_key_name = "{{ kms_key_name }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    source_file_share = "{{ source_file_share }}"
    source_instance = "{{ source_instance }}"
    source_instance_tier = "{{ source_instance_tier }}"
    state = "{{ state }}"
    storage_bytes = "{{ storage_bytes }}"
    terraform_labels = "{{ terraform_labels }}"
}