resource "google_container_azure_cluster" "example" {
    annotations = "{{ annotations }}"
    azure_region = "{{ azure_region }}"
    client = "{{ client }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_annotations = "{{ effective_annotations }}"
    endpoint = "{{ endpoint }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    reconciling = "{{ reconciling }}"
    resource_group_id = "{{ resource_group_id }}"
    state = "{{ state }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
    workload_identity_config = "{{ workload_identity_config }}"
}