resource "google_backup_dr_management_server" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    management_uri = "{{ management_uri }}"
    name = "{{ name }}"
    oauth2_client_id = "{{ oauth2_client_id }}"
    project = "{{ project }}"
    type = "{{ type }}"
}