resource "google_firebase_hosting_site" "example" {
    app_id = "{{ app_id }}"
    id = "{{ id }}"
    project = "{{ project }}"
    site_id = "{{ site_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
