resource "google_firebase_hosting_channel" "example" {
    channel_id = "{{ channel_id }}"
    expire_time = "{{ expire_time }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    retained_release_count = {{ retained_release_count }}
    site_id = "{{ site_id }}"
    ttl = "{{ ttl }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
