resource "google_firebase_web_app" "example" {
    api_key_id = "{{ api_key_id }}"
    deletion_policy = "{{ deletion_policy }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
