resource "google_healthcare_hl7_v2_store_iam_member" "example" {
    etag = "{{ etag }}"
    hl7_v2_store_id = "{{ hl7_v2_store_id }}"
    id = "{{ id }}"
    member = "{{ member }}"
    role = "{{ role }}"
}