resource "google_cloud_tasks_queue_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    members = "{{ members }}"
    name = "{{ name }}"
    project = "{{ project }}"
    role = "{{ role }}"
}