data "google_iap_web_backend_service_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
    web_backend_service = "{{ web_backend_service }}"
}