data "google_compute_global_address" "example" {
    address = "{{ address }}"
    address_type = "{{ address_type }}"
    id = "{{ id }}"
    name = "{{ name }}"
    network = "{{ network }}"
    network_tier = "{{ network_tier }}"
    prefix_length = "{{ prefix_length }}"
    project = "{{ project }}"
    purpose = "{{ purpose }}"
    self_link = "{{ self_link }}"
    status = "{{ status }}"
    subnetwork = "{{ subnetwork }}"
    users = "{{ users }}"
}