resource "google_compute_forwarding_rule" "example" {
    all_ports = "{{ all_ports }}"
    allow_global_access = "{{ allow_global_access }}"
    allow_psc_global_access = "{{ allow_psc_global_access }}"
    backend_service = "{{ backend_service }}"
    base_forwarding_rule = "{{ base_forwarding_rule }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    forwarding_rule_id = "{{ forwarding_rule_id }}"
    id = "{{ id }}"
    ip_address = "{{ ip_address }}"
    ip_protocol = "{{ ip_protocol }}"
    ip_version = "{{ ip_version }}"
    is_mirroring_collector = "{{ is_mirroring_collector }}"
    label_fingerprint = "{{ label_fingerprint }}"
    labels = "{{ labels }}"
    load_balancing_scheme = "{{ load_balancing_scheme }}"
    name = "{{ name }}"
    network = "{{ network }}"
    network_tier = "{{ network_tier }}"
    no_automate_dns_zone = "{{ no_automate_dns_zone }}"
    port_range = "{{ port_range }}"
    ports = "{{ ports }}"
    project = "{{ project }}"
    psc_connection_id = "{{ psc_connection_id }}"
    psc_connection_status = "{{ psc_connection_status }}"
    recreate_closed_psc = "{{ recreate_closed_psc }}"
    region = "{{ region }}"
    self_link = "{{ self_link }}"
    service_label = "{{ service_label }}"
    service_name = "{{ service_name }}"
    source_ip_ranges = "{{ source_ip_ranges }}"
    subnetwork = "{{ subnetwork }}"
    target = "{{ target }}"
    terraform_labels = "{{ terraform_labels }}"
}