resource "google_certificate_manager_trust_config" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}