resource "google_dataplex_zone" "example" {
    asset_status = "{{ asset_status }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    lake = "{{ lake }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
    type = "{{ type }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}