resource "google_service_account_iam_member" "example" {
    id = "{{ id }}"
    member = "{{ member }}"
    role = "{{ role }}"
    service_account_id = "{{ service_account_id }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
