resource "google_compute_firewall_policy" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    parent = "{{ parent }}"
    short_name = "{{ short_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
