resource "google_compute_instance_group_manager" "example" {
    base_instance_name = "{{ base_instance_name }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    instance_group = "{{ instance_group }}"
    list_managed_instances_results = "{{ list_managed_instances_results }}"
    name = "{{ name }}"
    operation = "{{ operation }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    status = "{{ status }}"
    target_pools = "{{ target_pools }}"
    target_size = "{{ target_size }}"
    target_stopped_size = "{{ target_stopped_size }}"
    target_suspended_size = "{{ target_suspended_size }}"
    wait_for_instances = "{{ wait_for_instances }}"
    wait_for_instances_status = "{{ wait_for_instances_status }}"
    zone = "{{ zone }}"
}