resource "google_discovery_engine_recommendation_engine" "example" {
    data_store_ids = ["{{ data_store_ids }}"]
    display_name = "{{ display_name }}"
    engine_id = "{{ engine_id }}"
    id = "{{ id }}"
    industry_vertical = "{{ industry_vertical }}"
    location = "{{ location }}"
    project = "{{ project }}"
    common_config {
      company_name = "{{ company_name }}"
    }
    media_recommendation_engine_config {
      optimization_objective = "{{ optimization_objective }}"
      training_state = "{{ training_state }}"
      type = "{{ type }}"
      engine_features_config {
        most_popular_config {
          time_window_days = {{ time_window_days }}
        }
        recommended_for_you_config {
          context_event_type = "{{ context_event_type }}"
        }
      }
      optimization_objective_config {
        target_field = "{{ target_field }}"
        target_field_value_float = {{ target_field_value_float }}
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
