resource "google_vertex_ai_featurestore_iam_member" "example" {
    etag = "{{ etag }}"
    featurestore = "{{ featurestore }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
}