resource "google_dataform_repository" "example" {
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    kms_key_name = "{{ kms_key_name }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    npmrc_environment_variables_secret_version = "{{ npmrc_environment_variables_secret_version }}"
    project = "{{ project }}"
    region = "{{ region }}"
    service_account = "{{ service_account }}"
    terraform_labels = "{{ terraform_labels }}"
}