resource "google_compute_instance_template" "example" {
    can_ip_forward = "{{ can_ip_forward }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    enable_display = "{{ enable_display }}"
    id = "{{ id }}"
    instance_description = "{{ instance_description }}"
    key_revocation_action_type = "{{ key_revocation_action_type }}"
    labels = "{{ labels }}"
    machine_type = "{{ machine_type }}"
    metadata = "{{ metadata }}"
    metadata_fingerprint = "{{ metadata_fingerprint }}"
    metadata_startup_script = "{{ metadata_startup_script }}"
    min_cpu_platform = "{{ min_cpu_platform }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    partner_metadata = "{{ partner_metadata }}"
    project = "{{ project }}"
    region = "{{ region }}"
    resource_manager_tags = "{{ resource_manager_tags }}"
    resource_policies = "{{ resource_policies }}"
    self_link = "{{ self_link }}"
    self_link_unique = "{{ self_link_unique }}"
    tags = "{{ tags }}"
    tags_fingerprint = "{{ tags_fingerprint }}"
    terraform_labels = "{{ terraform_labels }}"
}