ephemeral "google_secret_manager_secret_version" "example" {
    is_secret_data_base64 = {{ is_secret_data_base64 }}
    project = "{{ project }}"
    secret = "{{ secret }}"
    version = "{{ version }}"
}
