resource "google_transcoder_job" "example" {
    create_time = "{{ create_time }}"
    effective_labels = "{{ effective_labels }}"
    end_time = "{{ end_time }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    start_time = "{{ start_time }}"
    state = "{{ state }}"
    template_id = "{{ template_id }}"
    terraform_labels = "{{ terraform_labels }}"
}