resource "google_dataplex_data_product" "example" {
    data_product_id = "{{ data_product_id }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    owner_emails = ["{{ owner_emails }}"]
    project = "{{ project }}"
    access_groups {
      description = "{{ description }}"
      display_name = "{{ display_name }}"
      group_id = "{{ group_id }}"
      id = "{{ id }}"
      principal {
        google_group = "{{ google_group }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
