resource "google_firebase_database_instance" "example" {
    desired_state = "{{ desired_state }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    project = "{{ project }}"
    region = "{{ region }}"
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
