data "google_sql_database" "example" {
    charset = "{{ charset }}"
    collation = "{{ collation }}"
    deletion_policy = "{{ deletion_policy }}"
    id = "{{ id }}"
    instance = "{{ instance }}"
    name = "{{ name }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
}