resource "google_compute_instance_group" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    instances = ["{{ instances }}"]
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    zone = "{{ zone }}"
    named_port {
      name = "{{ name }}"
      port = {{ port }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
