data "google_service_account_access_token" "example" {
    access_token = "{{ access_token }}"
    delegates = "{{ delegates }}"
    id = "{{ id }}"
    lifetime = "{{ lifetime }}"
    scopes = "{{ scopes }}"
    target_service_account = "{{ target_service_account }}"
}