resource "google_firestore_field" "example" {
    collection = "{{ collection }}"
    database = "{{ database }}"
    field = "{{ field }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
}