resource "google_container_attached_cluster" "example" {
    annotations = "{{ annotations }}"
    cluster_region = "{{ cluster_region }}"
    create_time = "{{ create_time }}"
    deletion_policy = "{{ deletion_policy }}"
    description = "{{ description }}"
    distribution = "{{ distribution }}"
    effective_annotations = "{{ effective_annotations }}"
    errors = "{{ errors }}"
    id = "{{ id }}"
    kubernetes_version = "{{ kubernetes_version }}"
    location = "{{ location }}"
    name = "{{ name }}"
    platform_version = "{{ platform_version }}"
    project = "{{ project }}"
    reconciling = "{{ reconciling }}"
    state = "{{ state }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
    workload_identity_config = "{{ workload_identity_config }}"
}