resource "google_certificate_manager_certificate_issuance_config" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    key_algorithm = "{{ key_algorithm }}"
    labels = {
        key = "{{ labels_value }}"
      }
    lifetime = "{{ lifetime }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    rotation_window_percentage = {{ rotation_window_percentage }}
    certificate_authority_config {
      certificate_authority_service_config {
        ca_pool = "{{ ca_pool }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
