resource "google_apigee_app_group" "example" {
    app_group_id = "{{ app_group_id }}"
    channel_id = "{{ channel_id }}"
    channel_uri = "{{ channel_uri }}"
    created_at = "{{ created_at }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    last_modified_at = "{{ last_modified_at }}"
    name = "{{ name }}"
    org_id = "{{ org_id }}"
    organization = "{{ organization }}"
    status = "{{ status }}"
}