resource "google_gke_backup_restore_plan" "example" {
    backup_plan = "{{ backup_plan }}"
    cluster = "{{ cluster }}"
    description = "{{ description }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    restore_config {
      all_namespaces = {{ all_namespaces }}
      cluster_resource_conflict_policy = "{{ cluster_resource_conflict_policy }}"
      namespaced_resource_restore_mode = "{{ namespaced_resource_restore_mode }}"
      no_namespaces = {{ no_namespaces }}
      volume_data_restore_policy = "{{ volume_data_restore_policy }}"
      cluster_resource_restore_scope {
        all_group_kinds = {{ all_group_kinds }}
        no_group_kinds = {{ no_group_kinds }}
        excluded_group_kinds {
          resource_group = "{{ resource_group }}"
          resource_kind = "{{ resource_kind }}"
        }
        selected_group_kinds {
          resource_group = "{{ resource_group }}"
          resource_kind = "{{ resource_kind }}"
        }
      }
      excluded_namespaces {
        namespaces = ["{{ namespaces }}"]
      }
      restore_order {
        group_kind_dependencies {
          requiring {
            resource_group = "{{ resource_group }}"
            resource_kind = "{{ resource_kind }}"
          }
          satisfying {
            resource_group = "{{ resource_group }}"
            resource_kind = "{{ resource_kind }}"
          }
        }
      }
      selected_applications {
        namespaced_names {
          name = "{{ name }}"
          namespace = "{{ namespace }}"
        }
      }
      selected_namespaces {
        namespaces = ["{{ namespaces }}"]
      }
      transformation_rules {
        description = "{{ description }}"
        field_actions {
          from_path = "{{ from_path }}"
          op = "{{ op }}"
          path = "{{ path }}"
          value = "{{ value }}"
        }
        resource_filter {
          json_path = "{{ json_path }}"
          namespaces = ["{{ namespaces }}"]
          group_kinds {
            resource_group = "{{ resource_group }}"
            resource_kind = "{{ resource_kind }}"
          }
        }
      }
      volume_data_restore_policy_bindings {
        policy = "{{ policy }}"
        volume_type = "{{ volume_type }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
