resource "google_memorystore_instance" "example" {
    authorization_mode = "{{ authorization_mode }}"
    deletion_protection_enabled = {{ deletion_protection_enabled }}
    engine_configs = {
        key = "{{ engine_configs_value }}"
      }
    engine_version = "{{ engine_version }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    kms_key = "{{ kms_key }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    maintenance_version = "{{ maintenance_version }}"
    mode = "{{ mode }}"
    node_type = "{{ node_type }}"
    project = "{{ project }}"
    replica_count = {{ replica_count }}
    server_ca_mode = "{{ server_ca_mode }}"
    server_ca_pool = "{{ server_ca_pool }}"
    shard_count = {{ shard_count }}
    transit_encryption_mode = "{{ transit_encryption_mode }}"
    automated_backup_config {
      retention = "{{ retention }}"
      fixed_frequency_schedule {
        start_time {
          hours = {{ hours }}
        }
      }
    }
    cross_instance_replication_config {
      instance_role = "{{ instance_role }}"
      primary_instance {
        instance = "{{ instance }}"
      }
      secondary_instances {
        instance = "{{ instance }}"
      }
    }
    desired_auto_created_endpoints {
      network = "{{ network }}"
      project_id = "{{ project_id }}"
    }
    desired_psc_auto_connections {
      network = "{{ network }}"
      project_id = "{{ project_id }}"
    }
    gcs_source {
      uris = ["{{ uris }}"]
    }
    maintenance_policy {
      weekly_maintenance_window {
        day = "{{ day }}"
        start_time {
          hours = {{ hours }}
          minutes = {{ minutes }}
          nanos = {{ nanos }}
          seconds = {{ seconds }}
        }
      }
    }
    managed_backup_source {
      backup = "{{ backup }}"
    }
    persistence_config {
      mode = "{{ mode }}"
      aof_config {
        append_fsync = "{{ append_fsync }}"
      }
      rdb_config {
        rdb_snapshot_period = "{{ rdb_snapshot_period }}"
        rdb_snapshot_start_time = "{{ rdb_snapshot_start_time }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    zone_distribution_config {
      mode = "{{ mode }}"
      zone = "{{ zone }}"
    }
}
