resource "google_dataflow_flex_template_job" "example" {
    additional_experiments = "{{ additional_experiments }}"
    autoscaling_algorithm = "{{ autoscaling_algorithm }}"
    container_spec_gcs_path = "{{ container_spec_gcs_path }}"
    effective_labels = "{{ effective_labels }}"
    enable_streaming_engine = "{{ enable_streaming_engine }}"
    id = "{{ id }}"
    ip_configuration = "{{ ip_configuration }}"
    job_id = "{{ job_id }}"
    kms_key_name = "{{ kms_key_name }}"
    labels = "{{ labels }}"
    launcher_machine_type = "{{ launcher_machine_type }}"
    machine_type = "{{ machine_type }}"
    max_workers = "{{ max_workers }}"
    name = "{{ name }}"
    network = "{{ network }}"
    num_workers = "{{ num_workers }}"
    on_delete = "{{ on_delete }}"
    parameters = "{{ parameters }}"
    project = "{{ project }}"
    region = "{{ region }}"
    sdk_container_image = "{{ sdk_container_image }}"
    service_account_email = "{{ service_account_email }}"
    skip_wait_on_job_termination = "{{ skip_wait_on_job_termination }}"
    staging_location = "{{ staging_location }}"
    state = "{{ state }}"
    subnetwork = "{{ subnetwork }}"
    temp_location = "{{ temp_location }}"
    terraform_labels = "{{ terraform_labels }}"
    transform_name_mapping = "{{ transform_name_mapping }}"
    type = "{{ type }}"
}