resource "google_storage_notification" "example" {
    bucket = "{{ bucket }}"
    custom_attributes = {
        key = "{{ custom_attributes_value }}"
      }
    event_types = ["{{ event_types }}"]
    object_name_prefix = "{{ object_name_prefix }}"
    payload_format = "{{ payload_format }}"
    topic = "{{ topic }}"
}
