resource "google_iam_workforce_pool" "example" {
    description = "{{ description }}"
    disabled = "{{ disabled }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    session_duration = "{{ session_duration }}"
    state = "{{ state }}"
    workforce_pool_id = "{{ workforce_pool_id }}"
}