resource "google_scc_v2_organization_notification_config" "example" {
    config_id = "{{ config_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    pubsub_topic = "{{ pubsub_topic }}"
    service_account = "{{ service_account }}"
}