resource "google_compute_backend_service_iam_binding" "example" {
    id = "{{ id }}"
    members = ["{{ members }}"]
    name = "{{ name }}"
    project = "{{ project }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
