resource "google_vertex_ai_feature_online_store_featureview_iam_policy" "example" {
    feature_online_store = "{{ feature_online_store }}"
    feature_view = "{{ feature_view }}"
    id = "{{ id }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
    region = "{{ region }}"
}
