resource "google_firebase_database_instance" "example" {
    database_url = "{{ database_url }}"
    desired_state = "{{ desired_state }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    state = "{{ state }}"
    type = "{{ type }}"
}