data "google_container_aws_versions" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    supported_regions = "{{ supported_regions }}"
    valid_versions = "{{ valid_versions }}"
}