resource "google_network_security_security_profile" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    type = "{{ type }}"
    custom_intercept_profile {
      intercept_endpoint_group = "{{ intercept_endpoint_group }}"
    }
    custom_mirroring_profile {
      mirroring_deployment_groups = ["{{ mirroring_deployment_groups }}"]
      mirroring_endpoint_group = "{{ mirroring_endpoint_group }}"
    }
    threat_prevention_profile {
      antivirus_overrides {
        action = "{{ action }}"
        protocol = "{{ protocol }}"
      }
      severity_overrides {
        action = "{{ action }}"
        severity = "{{ severity }}"
      }
      threat_overrides {
        action = "{{ action }}"
        threat_id = "{{ threat_id }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    url_filtering_profile {
      url_filters {
        filtering_action = "{{ filtering_action }}"
        priority = {{ priority }}
        urls = ["{{ urls }}"]
      }
    }
}
