resource "google_bigquery_connection" "example" {
    connection_id = "{{ connection_id }}"
    description = "{{ description }}"
    friendly_name = "{{ friendly_name }}"
    has_credential = "{{ has_credential }}"
    id = "{{ id }}"
    kms_key_name = "{{ kms_key_name }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
}