resource "google_firebase_app_check_debug_token" "example" {
    app_id = "{{ app_id }}"
    debug_token_id = "{{ debug_token_id }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    project = "{{ project }}"
    token = "{{ token }}"
}