resource "google_data_catalog_policy_tag_iam_member" "example" {
    id = "{{ id }}"
    member = "{{ member }}"
    policy_tag = "{{ policy_tag }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
