resource "google_data_loss_prevention_discovery_config" "example" {
    create_time = "{{ create_time }}"
    display_name = "{{ display_name }}"
    errors = "{{ errors }}"
    id = "{{ id }}"
    inspect_templates = "{{ inspect_templates }}"
    last_run_time = "{{ last_run_time }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    status = "{{ status }}"
    update_time = "{{ update_time }}"
}