resource "google_monitoring_notification_channel" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    enabled = "{{ enabled }}"
    force_delete = "{{ force_delete }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    project = "{{ project }}"
    type = "{{ type }}"
    user_labels = "{{ user_labels }}"
    verification_status = "{{ verification_status }}"
}