data "google_apphub_discovered_service" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    service_properties = "{{ service_properties }}"
    service_reference = "{{ service_reference }}"
    service_uri = "{{ service_uri }}"
}