resource "google_beyondcorp_app_connection" "example" {
    connectors = ["{{ connectors }}"]
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    type = "{{ type }}"
    application_endpoint {
      host = "{{ host }}"
      port = {{ port }}
    }
    gateway {
      app_gateway = "{{ app_gateway }}"
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
