resource "google_compute_global_forwarding_rule" "example" {
    allow_psc_global_access = "{{ allow_psc_global_access }}"
    base_forwarding_rule = "{{ base_forwarding_rule }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    ip_address = "{{ ip_address }}"
    ip_protocol = "{{ ip_protocol }}"
    ip_version = "{{ ip_version }}"
    label_fingerprint = "{{ label_fingerprint }}"
    labels = "{{ labels }}"
    load_balancing_scheme = "{{ load_balancing_scheme }}"
    name = "{{ name }}"
    network = "{{ network }}"
    no_automate_dns_zone = "{{ no_automate_dns_zone }}"
    port_range = "{{ port_range }}"
    project = "{{ project }}"
    psc_connection_id = "{{ psc_connection_id }}"
    psc_connection_status = "{{ psc_connection_status }}"
    self_link = "{{ self_link }}"
    source_ip_ranges = "{{ source_ip_ranges }}"
    subnetwork = "{{ subnetwork }}"
    target = "{{ target }}"
    terraform_labels = "{{ terraform_labels }}"
}