resource "google_secret_manager_regional_secret" "example" {
    annotations = "{{ annotations }}"
    create_time = "{{ create_time }}"
    effective_annotations = "{{ effective_annotations }}"
    effective_labels = "{{ effective_labels }}"
    expire_time = "{{ expire_time }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    secret_id = "{{ secret_id }}"
    terraform_labels = "{{ terraform_labels }}"
    ttl = "{{ ttl }}"
    version_aliases = "{{ version_aliases }}"
    version_destroy_ttl = "{{ version_destroy_ttl }}"
}