resource "google_dataproc_gdc_spark_application" "example" {
    annotations = "{{ annotations }}"
    application_environment = "{{ application_environment }}"
    create_time = "{{ create_time }}"
    dependency_images = "{{ dependency_images }}"
    display_name = "{{ display_name }}"
    effective_annotations = "{{ effective_annotations }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    monitoring_endpoint = "{{ monitoring_endpoint }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    output_uri = "{{ output_uri }}"
    project = "{{ project }}"
    properties = "{{ properties }}"
    reconciling = "{{ reconciling }}"
    serviceinstance = "{{ serviceinstance }}"
    spark_application_id = "{{ spark_application_id }}"
    state = "{{ state }}"
    state_message = "{{ state_message }}"
    terraform_labels = "{{ terraform_labels }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
    version = "{{ version }}"
}