resource "google_compute_subnetwork_iam_member" "example" {
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
    subnetwork = "{{ subnetwork }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
