data "google_data_fusion_instance_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    name = "{{ name }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
    region = "{{ region }}"
}