resource "google_vertex_ai_featurestore_entitytype_iam_binding" "example" {
    entitytype = "{{ entitytype }}"
    etag = "{{ etag }}"
    featurestore = "{{ featurestore }}"
    id = "{{ id }}"
    members = "{{ members }}"
    role = "{{ role }}"
}