resource "google_clouddomains_registration" "example" {
    contact_notices = "{{ contact_notices }}"
    create_time = "{{ create_time }}"
    domain_name = "{{ domain_name }}"
    domain_notices = "{{ domain_notices }}"
    effective_labels = "{{ effective_labels }}"
    expire_time = "{{ expire_time }}"
    id = "{{ id }}"
    issues = "{{ issues }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    register_failure_reason = "{{ register_failure_reason }}"
    state = "{{ state }}"
    supported_privacy = "{{ supported_privacy }}"
    terraform_labels = "{{ terraform_labels }}"
}