resource "google_dataproc_gdc_spark_application" "example" {
    annotations = {
        key = "{{ annotations_value }}"
      }
    application_environment = "{{ application_environment }}"
    dependency_images = ["{{ dependency_images }}"]
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    namespace = "{{ namespace }}"
    project = "{{ project }}"
    properties = {
        key = "{{ properties_value }}"
      }
    serviceinstance = "{{ serviceinstance }}"
    spark_application_id = "{{ spark_application_id }}"
    version = "{{ version }}"
    pyspark_application_config {
      archive_uris = ["{{ archive_uris }}"]
      args = ["{{ args }}"]
      file_uris = ["{{ file_uris }}"]
      jar_file_uris = ["{{ jar_file_uris }}"]
      main_python_file_uri = "{{ main_python_file_uri }}"
      python_file_uris = ["{{ python_file_uris }}"]
    }
    spark_application_config {
      archive_uris = ["{{ archive_uris }}"]
      args = ["{{ args }}"]
      file_uris = ["{{ file_uris }}"]
      jar_file_uris = ["{{ jar_file_uris }}"]
      main_class = "{{ main_class }}"
      main_jar_file_uri = "{{ main_jar_file_uri }}"
    }
    spark_r_application_config {
      archive_uris = ["{{ archive_uris }}"]
      args = ["{{ args }}"]
      file_uris = ["{{ file_uris }}"]
      main_r_file_uri = "{{ main_r_file_uri }}"
    }
    spark_sql_application_config {
      jar_file_uris = ["{{ jar_file_uris }}"]
      query_file_uri = "{{ query_file_uri }}"
      script_variables = {
        key = "{{ script_variables_value }}"
      }
      query_list {
        queries = ["{{ queries }}"]
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
