data "google_service_account" "example" {
    account_id = "{{ account_id }}"
    disabled = "{{ disabled }}"
    display_name = "{{ display_name }}"
    email = "{{ email }}"
    id = "{{ id }}"
    member = "{{ member }}"
    name = "{{ name }}"
    project = "{{ project }}"
    unique_id = "{{ unique_id }}"
}