resource "google_healthcare_dicom_store_iam_binding" "example" {
    dicom_store_id = "{{ dicom_store_id }}"
    id = "{{ id }}"
    members = ["{{ members }}"]
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
