resource "google_dataplex_entry_group_iam_binding" "example" {
    entry_group_id = "{{ entry_group_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    members = "{{ members }}"
    project = "{{ project }}"
    role = "{{ role }}"
}