resource "google_compute_security_policy_rule" "example" {
    action = "{{ action }}"
    description = "{{ description }}"
    id = "{{ id }}"
    preview = "{{ preview }}"
    priority = "{{ priority }}"
    project = "{{ project }}"
    security_policy = "{{ security_policy }}"
}