resource "google_firebase_hosting_custom_domain" "example" {
    cert_preference = "{{ cert_preference }}"
    custom_domain = "{{ custom_domain }}"
    id = "{{ id }}"
    project = "{{ project }}"
    redirect_target = "{{ redirect_target }}"
    site_id = "{{ site_id }}"
    wait_dns_verification = {{ wait_dns_verification }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
