resource "google_chronicle_dashboard_chart" "example" {
    id = "{{ id }}"
    instance = "{{ instance }}"
    location = "{{ location }}"
    native_dashboard = "{{ native_dashboard }}"
    project = "{{ project }}"
    chart_layout {
      span_x = {{ span_x }}
      span_y = {{ span_y }}
      start_x = {{ start_x }}
      start_y = {{ start_y }}
    }
    dashboard_chart {
      description = "{{ description }}"
      display_name = "{{ display_name }}"
      tile_type = "{{ tile_type }}"
      chart_datasource {
        data_sources = ["{{ data_sources }}"]
      }
      drill_down_config {
        left_drill_downs {
          display_name = "{{ display_name }}"
          id = "{{ id }}"
          custom_settings {
            left_click_column = "{{ left_click_column }}"
            new_tab = {{ new_tab }}
            external_link {
              description = "{{ description }}"
              link = "{{ link }}"
            }
            filter {
              dashboard_filters {
                dashboard_filter_id = "{{ dashboard_filter_id }}"
                filter_operator_and_values {
                  field_values = ["{{ field_values }}"]
                  filter_operator = "{{ filter_operator }}"
                }
              }
            }
            query {
              query = "{{ query }}"
            }
          }
          default_settings {
            enabled = {{ enabled }}
          }
        }
        right_drill_downs {
          display_name = "{{ display_name }}"
          id = "{{ id }}"
          custom_settings {
            new_tab = {{ new_tab }}
            external_link {
              description = "{{ description }}"
              link = "{{ link }}"
            }
            filter {
              dashboard_filters {
                dashboard_filter_id = "{{ dashboard_filter_id }}"
                filter_operator_and_values {
                  field_values = ["{{ field_values }}"]
                  filter_operator = "{{ filter_operator }}"
                }
              }
            }
            query {
              query = "{{ query }}"
            }
          }
          default_settings {
            enabled = {{ enabled }}
          }
        }
      }
      visualization {
        grouping_type = "{{ grouping_type }}"
        series_column = ["{{ series_column }}"]
        threshold_coloring_enabled = {{ threshold_coloring_enabled }}
        button {
          description = "{{ description }}"
          hyperlink = "{{ hyperlink }}"
          label = "{{ label }}"
          new_tab = {{ new_tab }}
          properties {
            button_style = "{{ button_style }}"
            color = "{{ color }}"
          }
        }
        column_defs {
          field = "{{ field }}"
          header = "{{ header }}"
        }
        google_maps_config {
          plot_mode = "{{ plot_mode }}"
          data_settings {
            count_column = "{{ count_column }}"
            latitude_column = "{{ latitude_column }}"
            longitude_column = "{{ longitude_column }}"
          }
          map_position {
            fit_data = {{ fit_data }}
            latitude_value = {{ latitude_value }}
            longitude_value = {{ longitude_value }}
            zoom_scale_value = {{ zoom_scale_value }}
          }
          point_settings {
            color = "{{ color }}"
            point_size_type = "{{ point_size_type }}"
          }
        }
        legends {
          bottom = {{ bottom }}
          id = "{{ id }}"
          left = {{ left }}
          legend_align = "{{ legend_align }}"
          legend_orient = "{{ legend_orient }}"
          padding = ["{{ padding }}"]
          right = {{ right }}
          show = {{ show }}
          top = {{ top }}
          z = {{ z }}
          z_level = {{ z_level }}
        }
        markdown {
          content = "{{ content }}"
          properties {
            background_color = "{{ background_color }}"
          }
        }
        series {
          field = "{{ field }}"
          label = "{{ label }}"
          radius = ["{{ radius }}"]
          series_name = "{{ series_name }}"
          series_stack_strategy = "{{ series_stack_strategy }}"
          series_type = "{{ series_type }}"
          series_unique_value = "{{ series_unique_value }}"
          show_background = {{ show_background }}
          show_symbol = {{ show_symbol }}
          stack = "{{ stack }}"
          area_style {
            color = "{{ color }}"
            opacity = {{ opacity }}
            origin = "{{ origin }}"
            shadow_blur = {{ shadow_blur }}
            shadow_color = "{{ shadow_color }}"
            shadow_offset_x = {{ shadow_offset_x }}
            shadow_offset_y = {{ shadow_offset_y }}
          }
          data_label {
            show = {{ show }}
          }
          encode {
            item_name = "{{ item_name }}"
            value = "{{ value }}"
            x = "{{ x }}"
            y = "{{ y }}"
          }
          gauge_config {
            base_value {
              color = "{{ color }}"
              value = {{ value }}
            }
            limit_value {
              color = "{{ color }}"
              value = {{ value }}
            }
            threshold_values {
              color = "{{ color }}"
              value = {{ value }}
            }
          }
          item_colors {
            colors {
              key = "{{ key }}"
              value {
                color = "{{ color }}"
                label = "{{ label }}"
              }
            }
          }
          item_style {
            border_color = "{{ border_color }}"
            border_width = {{ border_width }}
            color = "{{ color }}"
          }
          metric_trend_config {
            metric_display_trend = "{{ metric_display_trend }}"
            metric_format = "{{ metric_format }}"
            metric_trend_type = "{{ metric_trend_type }}"
            show_metric_trend = {{ show_metric_trend }}
          }
        }
        table_config {
          enable_text_wrap = {{ enable_text_wrap }}
          column_render_type_settings {
            column_render_type = "{{ column_render_type }}"
            field = "{{ field }}"
          }
          column_tooltip_settings {
            cell_tooltip_text = "{{ cell_tooltip_text }}"
            field = "{{ field }}"
            header_tooltip_text = "{{ header_tooltip_text }}"
          }
        }
        tooltip {
          show = {{ show }}
          tooltip_trigger = "{{ tooltip_trigger }}"
        }
        visual_maps {
          visual_map_type = "{{ visual_map_type }}"
          pieces {
            color = "{{ color }}"
            label = "{{ label }}"
            max = {{ max }}
            min = {{ min }}
          }
        }
        x_axes {
          axis_type = "{{ axis_type }}"
          display_name = "{{ display_name }}"
          max = {{ max }}
          min = {{ min }}
        }
        y_axes {
          axis_type = "{{ axis_type }}"
          display_name = "{{ display_name }}"
          max = {{ max }}
          min = {{ min }}
        }
      }
    }
    dashboard_query {
      query = "{{ query }}"
      input {
        relative_time {
          start_time_val = "{{ start_time_val }}"
          time_unit = "{{ time_unit }}"
        }
        time_window {
          end_time = "{{ end_time }}"
          start_time = "{{ start_time }}"
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
