resource "google_dialogflow_cx_agent" "example" {
    avatar_uri = "{{ avatar_uri }}"
    default_language_code = "{{ default_language_code }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    enable_spell_correction = "{{ enable_spell_correction }}"
    enable_stackdriver_logging = "{{ enable_stackdriver_logging }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    security_settings = "{{ security_settings }}"
    start_flow = "{{ start_flow }}"
    supported_language_codes = "{{ supported_language_codes }}"
    time_zone = "{{ time_zone }}"
}