data "google_artifact_registry_npm_package" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    package_name = "{{ package_name }}"
    project = "{{ project }}"
    repository_id = "{{ repository_id }}"
}
