resource "google_firebase_storage_default_bucket" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
