resource "google_cloudbuildv2_repository" "example" {
    annotations = {
        key = "{{ annotations_value }}"
      }
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parent_connection = "{{ parent_connection }}"
    project = "{{ project }}"
    remote_uri = "{{ remote_uri }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
