resource "google_biglake_table" "example" {
    create_time = "{{ create_time }}"
    database = "{{ database }}"
    delete_time = "{{ delete_time }}"
    etag = "{{ etag }}"
    expire_time = "{{ expire_time }}"
    id = "{{ id }}"
    name = "{{ name }}"
    type = "{{ type }}"
    update_time = "{{ update_time }}"
}