resource "google_parallelstore_instance" "example" {
    access_points = "{{ access_points }}"
    capacity_gib = "{{ capacity_gib }}"
    create_time = "{{ create_time }}"
    daos_version = "{{ daos_version }}"
    description = "{{ description }}"
    directory_stripe_level = "{{ directory_stripe_level }}"
    effective_labels = "{{ effective_labels }}"
    effective_reserved_ip_range = "{{ effective_reserved_ip_range }}"
    file_stripe_level = "{{ file_stripe_level }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    reserved_ip_range = "{{ reserved_ip_range }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}