resource "google_api_gateway_api" "example" {
    api_id = "{{ api_id }}"
    create_time = "{{ create_time }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    managed_service = "{{ managed_service }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
}