resource "google_firebase_app_check_play_integrity_config" "example" {
    app_id = "{{ app_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    token_ttl = "{{ token_ttl }}"
}