resource "google_cloud_run_v2_job_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}