resource "google_gke_hub_fleet" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    project = "{{ project }}"
    default_cluster_config {
      binary_authorization_config {
        evaluation_mode = "{{ evaluation_mode }}"
        policy_bindings {
          name = "{{ name }}"
        }
      }
      security_posture_config {
        mode = "{{ mode }}"
        vulnerability_mode = "{{ vulnerability_mode }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
