data "google_compute_router_status" "example" {
    best_routes = "{{ best_routes }}"
    best_routes_for_router = "{{ best_routes_for_router }}"
    id = "{{ id }}"
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    region = "{{ region }}"
}