resource "google_iam_organizations_policy_binding" "example" {
    annotations = "{{ annotations }}"
    create_time = "{{ create_time }}"
    display_name = "{{ display_name }}"
    effective_annotations = "{{ effective_annotations }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    policy = "{{ policy }}"
    policy_binding_id = "{{ policy_binding_id }}"
    policy_kind = "{{ policy_kind }}"
    policy_uid = "{{ policy_uid }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}