resource "google_composer_user_workloads_secret" "example" {
    data = "{{ data }}"
    environment = "{{ environment }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
}