resource "google_api_gateway_api_iam_member" "example" {
    api = "{{ api }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
}