resource "google_notebooks_runtime_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    members = "{{ members }}"
    project = "{{ project }}"
    role = "{{ role }}"
    runtime_name = "{{ runtime_name }}"
}