resource "google_dataflow_job" "example" {
    additional_experiments = "{{ additional_experiments }}"
    effective_labels = "{{ effective_labels }}"
    enable_streaming_engine = "{{ enable_streaming_engine }}"
    id = "{{ id }}"
    ip_configuration = "{{ ip_configuration }}"
    job_id = "{{ job_id }}"
    kms_key_name = "{{ kms_key_name }}"
    labels = "{{ labels }}"
    machine_type = "{{ machine_type }}"
    max_workers = "{{ max_workers }}"
    name = "{{ name }}"
    network = "{{ network }}"
    on_delete = "{{ on_delete }}"
    parameters = "{{ parameters }}"
    project = "{{ project }}"
    region = "{{ region }}"
    service_account_email = "{{ service_account_email }}"
    skip_wait_on_job_termination = "{{ skip_wait_on_job_termination }}"
    state = "{{ state }}"
    subnetwork = "{{ subnetwork }}"
    temp_gcs_location = "{{ temp_gcs_location }}"
    template_gcs_path = "{{ template_gcs_path }}"
    terraform_labels = "{{ terraform_labels }}"
    transform_name_mapping = "{{ transform_name_mapping }}"
    type = "{{ type }}"
    zone = "{{ zone }}"
}