resource "google_compute_reservation" "example" {
    commitment = "{{ commitment }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    specific_reservation_required = "{{ specific_reservation_required }}"
    status = "{{ status }}"
    zone = "{{ zone }}"
}