resource "google_compute_node_group" "example" {
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    id = "{{ id }}"
    initial_size = "{{ initial_size }}"
    maintenance_interval = "{{ maintenance_interval }}"
    maintenance_policy = "{{ maintenance_policy }}"
    name = "{{ name }}"
    node_template = "{{ node_template }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    size = "{{ size }}"
    zone = "{{ zone }}"
}