resource "google_filestore_snapshot" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    instance = "{{ instance }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
