resource "google_apigee_app_group" "example" {
    channel_id = "{{ channel_id }}"
    channel_uri = "{{ channel_uri }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    org_id = "{{ org_id }}"
    status = "{{ status }}"
    attributes {
      name = "{{ name }}"
      value = "{{ value }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
