resource "google_edgenetwork_network" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    mtu = "{{ mtu }}"
    name = "{{ name }}"
    network_id = "{{ network_id }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
    zone = "{{ zone }}"
}