resource "google_network_services_mesh" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    interception_port = "{{ interception_port }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}