data "google_container_attached_install_manifest" "example" {
    cluster_id = "{{ cluster_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    manifest = "{{ manifest }}"
    platform_version = "{{ platform_version }}"
    project = "{{ project }}"
}