resource "google_data_catalog_entry" "example" {
    bigquery_date_sharded_spec = "{{ bigquery_date_sharded_spec }}"
    bigquery_table_spec = "{{ bigquery_table_spec }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    entry_group = "{{ entry_group }}"
    entry_id = "{{ entry_id }}"
    id = "{{ id }}"
    integrated_system = "{{ integrated_system }}"
    linked_resource = "{{ linked_resource }}"
    name = "{{ name }}"
    schema = "{{ schema }}"
    type = "{{ type }}"
    user_specified_system = "{{ user_specified_system }}"
    user_specified_type = "{{ user_specified_type }}"
}