resource "google_container_analysis_note" "example" {
    create_time = "{{ create_time }}"
    expiration_time = "{{ expiration_time }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    long_description = "{{ long_description }}"
    name = "{{ name }}"
    project = "{{ project }}"
    related_note_names = "{{ related_note_names }}"
    short_description = "{{ short_description }}"
    update_time = "{{ update_time }}"
}