resource "google_dataproc_cluster_iam_policy" "example" {
    cluster = "{{ cluster }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
    region = "{{ region }}"
}