resource "google_folder_organization_policy" "example" {
    constraint = "{{ constraint }}"
    etag = "{{ etag }}"
    folder = "{{ folder }}"
    id = "{{ id }}"
    update_time = "{{ update_time }}"
    version = "{{ version }}"
}