resource "google_os_config_guest_policies" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    etag = "{{ etag }}"
    guest_policy_id = "{{ guest_policy_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    update_time = "{{ update_time }}"
}