data "google_bigquery_connection_iam_policy" "example" {
    connection_id = "{{ connection_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}