resource "google_iap_tunnel_dest_group_iam_binding" "example" {
    dest_group = "{{ dest_group }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    members = "{{ members }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
}