resource "google_dialogflow_agent" "example" {
    api_version = "{{ api_version }}"
    avatar_uri = "{{ avatar_uri }}"
    avatar_uri_backend = "{{ avatar_uri_backend }}"
    classification_threshold = "{{ classification_threshold }}"
    default_language_code = "{{ default_language_code }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    enable_logging = "{{ enable_logging }}"
    id = "{{ id }}"
    match_mode = "{{ match_mode }}"
    project = "{{ project }}"
    supported_language_codes = "{{ supported_language_codes }}"
    tier = "{{ tier }}"
    time_zone = "{{ time_zone }}"
}