resource "google_redis_instance" "example" {
    alternative_location_id = "{{ alternative_location_id }}"
    auth_enabled = "{{ auth_enabled }}"
    auth_string = "{{ auth_string }}"
    authorized_network = "{{ authorized_network }}"
    connect_mode = "{{ connect_mode }}"
    create_time = "{{ create_time }}"
    current_location_id = "{{ current_location_id }}"
    customer_managed_key = "{{ customer_managed_key }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    host = "{{ host }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location_id = "{{ location_id }}"
    maintenance_schedule = "{{ maintenance_schedule }}"
    maintenance_version = "{{ maintenance_version }}"
    memory_size_gb = "{{ memory_size_gb }}"
    name = "{{ name }}"
    nodes = "{{ nodes }}"
    persistence_iam_identity = "{{ persistence_iam_identity }}"
    port = "{{ port }}"
    project = "{{ project }}"
    read_endpoint = "{{ read_endpoint }}"
    read_endpoint_port = "{{ read_endpoint_port }}"
    read_replicas_mode = "{{ read_replicas_mode }}"
    redis_configs = "{{ redis_configs }}"
    redis_version = "{{ redis_version }}"
    region = "{{ region }}"
    replica_count = "{{ replica_count }}"
    reserved_ip_range = "{{ reserved_ip_range }}"
    secondary_ip_range = "{{ secondary_ip_range }}"
    server_ca_certs = "{{ server_ca_certs }}"
    terraform_labels = "{{ terraform_labels }}"
    tier = "{{ tier }}"
    transit_encryption_mode = "{{ transit_encryption_mode }}"
}