data "google_secret_manager_secret_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
    secret_id = "{{ secret_id }}"
}