resource "google_artifact_registry_vpcsc_config" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    vpcsc_policy = "{{ vpcsc_policy }}"
}