resource "google_dataplex_task_iam_member" "example" {
    id = "{{ id }}"
    lake = "{{ lake }}"
    location = "{{ location }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    task_id = "{{ task_id }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
