resource "google_privateca_ca_pool_iam_binding" "example" {
    ca_pool = "{{ ca_pool }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    members = "{{ members }}"
    project = "{{ project }}"
    role = "{{ role }}"
}