resource "google_iap_tunnel_instance_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    instance = "{{ instance }}"
    members = "{{ members }}"
    project = "{{ project }}"
    role = "{{ role }}"
    zone = "{{ zone }}"
}