resource "google_database_migration_service_migration_job" "example" {
    destination = "{{ destination }}"
    display_name = "{{ display_name }}"
    dump_path = "{{ dump_path }}"
    dump_type = "{{ dump_type }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    migration_job_id = "{{ migration_job_id }}"
    project = "{{ project }}"
    source = "{{ source }}"
    type = "{{ type }}"
    dump_flags {
      dump_flags {
        name = "{{ name }}"
        value = "{{ value }}"
      }
    }
    performance_config {
      dump_parallel_level = "{{ dump_parallel_level }}"
    }
    reverse_ssh_connectivity {
      vm = "{{ vm }}"
      vm_ip = "{{ vm_ip }}"
      vm_port = {{ vm_port }}
      vpc = "{{ vpc }}"
    }
    static_ip_connectivity {
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    vpc_peering_connectivity {
      vpc = "{{ vpc }}"
    }
}
