data "google_cloud_quotas_quota_info" "example" {
    container_type = "{{ container_type }}"
    dimensions = "{{ dimensions }}"
    dimensions_infos = "{{ dimensions_infos }}"
    id = "{{ id }}"
    is_concurrent = "{{ is_concurrent }}"
    is_fixed = "{{ is_fixed }}"
    is_precise = "{{ is_precise }}"
    metric = "{{ metric }}"
    metric_display_name = "{{ metric_display_name }}"
    metric_unit = "{{ metric_unit }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    quota_display_name = "{{ quota_display_name }}"
    quota_id = "{{ quota_id }}"
    quota_increase_eligibility = "{{ quota_increase_eligibility }}"
    refresh_interval = "{{ refresh_interval }}"
    service = "{{ service }}"
    service_request_quota_uri = "{{ service_request_quota_uri }}"
}