resource "google_apigee_sync_authorization" "example" {
    id = "{{ id }}"
    identities = ["{{ identities }}"]
    name = "{{ name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
