resource "google_runtimeconfig_variable" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    project = "{{ project }}"
    text = "{{ text }}"
    update_time = "{{ update_time }}"
    value = "{{ value }}"
}