resource "google_dataproc_job_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    job_id = "{{ job_id }}"
    members = "{{ members }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
}