resource "google_dataplex_lake_iam_binding" "example" {
    id = "{{ id }}"
    lake = "{{ lake }}"
    location = "{{ location }}"
    members = ["{{ members }}"]
    project = "{{ project }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
