resource "google_compute_router_route_policy" "example" {
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    router = "{{ router }}"
    type = "{{ type }}"
}