resource "google_vertex_ai_index_endpoint" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    network = "{{ network }}"
    project = "{{ project }}"
    public_endpoint_enabled = {{ public_endpoint_enabled }}
    region = "{{ region }}"
    encryption_spec {
      kms_key_name = "{{ kms_key_name }}"
    }
    private_service_connect_config {
      enable_private_service_connect = {{ enable_private_service_connect }}
      project_allowlist = ["{{ project_allowlist }}"]
      psc_automation_configs {
        network = "{{ network }}"
        project_id = "{{ project_id }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
