resource "google_iam_workload_identity_pool" "example" {
    description = "{{ description }}"
    disabled = "{{ disabled }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    state = "{{ state }}"
    workload_identity_pool_id = "{{ workload_identity_pool_id }}"
}