resource "google_api_gateway_api_config" "example" {
    api = "{{ api }}"
    api_config_id = "{{ api_config_id }}"
    api_config_id_prefix = "{{ api_config_id_prefix }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    project = "{{ project }}"
    service_config_id = "{{ service_config_id }}"
    terraform_labels = "{{ terraform_labels }}"
}