resource "google_folder_iam_binding" "example" {
    folder = "{{ folder }}"
    id = "{{ id }}"
    members = ["{{ members }}"]
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
