resource "google_vertex_ai_featurestore_entitytype_feature" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    entitytype = "{{ entitytype }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    region = "{{ region }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
    value_type = "{{ value_type }}"
}