resource "google_spanner_database_iam_policy" "example" {
    database = "{{ database }}"
    id = "{{ id }}"
    instance = "{{ instance }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}
