resource "google_apigee_environment_iam_member" "example" {
    env_id = "{{ env_id }}"
    id = "{{ id }}"
    member = "{{ member }}"
    org_id = "{{ org_id }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
