resource "google_billing_subaccount" "example" {
    deletion_policy = "{{ deletion_policy }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    master_billing_account = "{{ master_billing_account }}"
}
