resource "google_vertex_ai_featurestore_entitytype_iam_binding" "example" {
    entitytype = "{{ entitytype }}"
    featurestore = "{{ featurestore }}"
    id = "{{ id }}"
    members = ["{{ members }}"]
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
