resource "google_apigee_keystores_aliases_pkcs12" "example" {
    alias = "{{ alias }}"
    certs_info = "{{ certs_info }}"
    environment = "{{ environment }}"
    file = "{{ file }}"
    filehash = "{{ filehash }}"
    id = "{{ id }}"
    keystore = "{{ keystore }}"
    org_id = "{{ org_id }}"
    password = "{{ password }}"
    type = "{{ type }}"
}