resource "google_tags_tag_value_iam_member" "example" {
    id = "{{ id }}"
    member = "{{ member }}"
    role = "{{ role }}"
    tag_value = "{{ tag_value }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
