resource "google_firestore_database" "example" {
    app_engine_integration_mode = "{{ app_engine_integration_mode }}"
    concurrency_mode = "{{ concurrency_mode }}"
    create_time = "{{ create_time }}"
    delete_protection_state = "{{ delete_protection_state }}"
    deletion_policy = "{{ deletion_policy }}"
    earliest_version_time = "{{ earliest_version_time }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    key_prefix = "{{ key_prefix }}"
    location_id = "{{ location_id }}"
    name = "{{ name }}"
    point_in_time_recovery_enablement = "{{ point_in_time_recovery_enablement }}"
    project = "{{ project }}"
    type = "{{ type }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
    version_retention_period = "{{ version_retention_period }}"
}