resource "google_firebase_hosting_site" "example" {
    app_id = "{{ app_id }}"
    default_url = "{{ default_url }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    site_id = "{{ site_id }}"
}