resource "google_network_security_gateway_security_policy_rule" "example" {
    application_matcher = "{{ application_matcher }}"
    basic_profile = "{{ basic_profile }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    enabled = "{{ enabled }}"
    gateway_security_policy = "{{ gateway_security_policy }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    priority = "{{ priority }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    session_matcher = "{{ session_matcher }}"
    tls_inspection_enabled = "{{ tls_inspection_enabled }}"
    update_time = "{{ update_time }}"
}