resource "google_scc_v2_project_notification_config" "example" {
    config_id = "{{ config_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    pubsub_topic = "{{ pubsub_topic }}"
    streaming_config {
      filter = "{{ filter }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
