resource "google_gke_hub_scope_iam_member" "example" {
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    scope_id = "{{ scope_id }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
