resource "google_cloudbuild_worker_pool" "example" {
    annotations = {
        key = "{{ annotations_value }}"
      }
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    network_config {
      peered_network = "{{ peered_network }}"
      peered_network_ip_range = "{{ peered_network_ip_range }}"
    }
    private_service_connect {
      network_attachment = "{{ network_attachment }}"
      route_all_traffic = {{ route_all_traffic }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    worker_config {
      disk_size_gb = {{ disk_size_gb }}
      enable_nested_virtualization = {{ enable_nested_virtualization }}
      machine_type = "{{ machine_type }}"
      no_external_ip = {{ no_external_ip }}
    }
}
