resource "google_vertex_ai_index_endpoint" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    public_endpoint_domain_name = "{{ public_endpoint_domain_name }}"
    public_endpoint_enabled = "{{ public_endpoint_enabled }}"
    region = "{{ region }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
}