resource "google_tags_tag_key_iam_binding" "example" {
    id = "{{ id }}"
    members = ["{{ members }}"]
    role = "{{ role }}"
    tag_key = "{{ tag_key }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
