resource "google_compute_organization_security_policy_association" "example" {
    attachment_id = "{{ attachment_id }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    policy_id = "{{ policy_id }}"
}