resource "google_vertex_ai_featurestore_entitytype_iam_policy" "example" {
    entitytype = "{{ entitytype }}"
    etag = "{{ etag }}"
    featurestore = "{{ featurestore }}"
    id = "{{ id }}"
    policy_data = "{{ policy_data }}"
}