resource "google_clouddeploy_target_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    member = "{{ member }}"
    name = "{{ name }}"
    project = "{{ project }}"
    role = "{{ role }}"
}