resource "google_api_gateway_api_config" "example" {
    api = "{{ api }}"
    api_config_id = "{{ api_config_id }}"
    api_config_id_prefix = "{{ api_config_id_prefix }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    project = "{{ project }}"
    gateway_config {
      backend_config {
        google_service_account = "{{ google_service_account }}"
      }
    }
    grpc_services {
      file_descriptor_set {
        contents = "{{ contents }}"
        path = "{{ path }}"
      }
      source {
        contents = "{{ contents }}"
        path = "{{ path }}"
      }
    }
    managed_service_configs {
      contents = "{{ contents }}"
      path = "{{ path }}"
    }
    openapi_documents {
      document {
        contents = "{{ contents }}"
        path = "{{ path }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
