resource "google_iap_tunnel_instance_iam_member" "example" {
    id = "{{ id }}"
    instance = "{{ instance }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    zone = "{{ zone }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
