resource "google_bigquery_datapolicy_data_policy" "example" {
    data_policy_id = "{{ data_policy_id }}"
    data_policy_type = "{{ data_policy_type }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    policy_tag = "{{ policy_tag }}"
    project = "{{ project }}"
}