resource "google_secure_source_manager_instance_iam_binding" "example" {
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    location = "{{ location }}"
    members = ["{{ members }}"]
    project = "{{ project }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
