resource "google_compute_snapshot" "example" {
    chain_name = "{{ chain_name }}"
    description = "{{ description }}"
    guest_flush = {{ guest_flush }}
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    project = "{{ project }}"
    snapshot_type = "{{ snapshot_type }}"
    source_disk = "{{ source_disk }}"
    source_instant_snapshot = "{{ source_instant_snapshot }}"
    storage_locations = ["{{ storage_locations }}"]
    zone = "{{ zone }}"
    snapshot_encryption_key {
      kms_key_self_link = "{{ kms_key_self_link }}"
      kms_key_service_account = "{{ kms_key_service_account }}"
      raw_key = "{{ raw_key }}"
      rsa_encrypted_key = "{{ rsa_encrypted_key }}"
    }
    source_disk_encryption_key {
      kms_key_self_link = "{{ kms_key_self_link }}"
      kms_key_service_account = "{{ kms_key_service_account }}"
      raw_key = "{{ raw_key }}"
      rsa_encrypted_key = "{{ rsa_encrypted_key }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
