resource "google_data_fusion_instance_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
}