resource "google_vertex_ai_featurestore" "example" {
    force_destroy = {{ force_destroy }}
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    online_storage_ttl_days = {{ online_storage_ttl_days }}
    project = "{{ project }}"
    region = "{{ region }}"
    encryption_spec {
      kms_key_name = "{{ kms_key_name }}"
    }
    online_serving_config {
      fixed_node_count = {{ fixed_node_count }}
      scaling {
        max_node_count = {{ max_node_count }}
        min_node_count = {{ min_node_count }}
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
