resource "hcp_vault_secrets_rotating_secret" "example" {
    app_name = "{{ app_name }}"
    aws_access_keys = "{{ aws_access_keys }}"
    azure_application_password = "{{ azure_application_password }}"
    confluent_service_account = "{{ confluent_service_account }}"
    gcp_service_account_key = "{{ gcp_service_account_key }}"
    integration_name = "{{ integration_name }}"
    mongodb_atlas_user = "{{ mongodb_atlas_user }}"
    name = "{{ name }}"
    project_id = "{{ project_id }}"
    rotation_policy_name = "{{ rotation_policy_name }}"
    secret_provider = "{{ secret_provider }}"
    twilio_api_key = "{{ twilio_api_key }}"
}
