resource "hcp_vault_secrets_integration_azure" "example" {
    capabilities = ["{{ capabilities }}"]
    client_secret = "{{ client_secret }}"
    federated_workload_identity = "{{ federated_workload_identity }}"
    name = "{{ name }}"
    project_id = "{{ project_id }}"
}
