data "hcp_vault_cluster" "example" {
    cluster_id = "{{ cluster_id }}"
    id = "{{ id }}"
    project_id = "{{ project_id }}"
    audit_log_config {
    }
    metrics_config {
    }
    timeouts {
      default = "{{ default }}"
    }
}
