data "hcp_packer_run_task" "example" {
    endpoint_url = "{{ endpoint_url }}"
    hmac_key = "{{ hmac_key }}"
    id = "{{ id }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
}