resource "hcp_iam_workload_identity_provider" "example" {
    aws = "{{ aws }}"
    conditional_access = "{{ conditional_access }}"
    description = "{{ description }}"
    name = "{{ name }}"
    oidc = "{{ oidc }}"
    service_principal = "{{ service_principal }}"
}
