resource "hcp_consul_cluster_root_token" "example" {
    accessor_id = "{{ accessor_id }}"
    cluster_id = "{{ cluster_id }}"
    id = "{{ id }}"
    kubernetes_secret = "{{ kubernetes_secret }}"
    project_id = "{{ project_id }}"
    secret_id = "{{ secret_id }}"
}