data "hcp_aws_transit_gateway_attachment" "example" {
    created_at = "{{ created_at }}"
    expires_at = "{{ expires_at }}"
    hvn_id = "{{ hvn_id }}"
    id = "{{ id }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
    provider_transit_gateway_attachment_id = "{{ provider_transit_gateway_attachment_id }}"
    self_link = "{{ self_link }}"
    state = "{{ state }}"
    transit_gateway_attachment_id = "{{ transit_gateway_attachment_id }}"
    transit_gateway_id = "{{ transit_gateway_id }}"
    wait_for_active_state = "{{ wait_for_active_state }}"
}