resource "hcp_vault_secrets_rotating_secret" "example" {
    app_name = "{{ app_name }}"
    aws_access_keys = "{
    iam_username = {{ iam_username }}
}"
    confluent_service_account = "{
    service_account_id = {{ service_account_id }}
}"
    gcp_service_account_key = "{
    service_account_email = {{ service_account_email }}
}"
    integration_name = "{{ integration_name }}"
    mongodb_atlas_user = "{
    database_name = {{ database_name }}
    project_id = {{ project_id }}
    roles = {{ roles }}
}"
    name = "{{ name }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
    rotation_policy_name = "{{ rotation_policy_name }}"
    secret_provider = "{{ secret_provider }}"
    twilio_api_key = "{

}"
}