resource "hcp_azure_peering_connection" "example" {
    allow_forwarded_traffic = {{ allow_forwarded_traffic }}
    hvn_link = "{{ hvn_link }}"
    id = "{{ id }}"
    peer_resource_group_name = "{{ peer_resource_group_name }}"
    peer_subscription_id = "{{ peer_subscription_id }}"
    peer_tenant_id = "{{ peer_tenant_id }}"
    peer_vnet_name = "{{ peer_vnet_name }}"
    peer_vnet_region = "{{ peer_vnet_region }}"
    peering_id = "{{ peering_id }}"
    use_remote_gateways = {{ use_remote_gateways }}
    timeouts {
      create = "{{ create }}"
      default = "{{ default }}"
      delete = "{{ delete }}"
    }
}
