resource "hcp_hvn_peering_connection" "example" {
    created_at = "{{ created_at }}"
    expires_at = "{{ expires_at }}"
    hvn_1 = "{{ hvn_1 }}"
    hvn_2 = "{{ hvn_2 }}"
    id = "{{ id }}"
    organization_id = "{{ organization_id }}"
    peering_id = "{{ peering_id }}"
    project_id = "{{ project_id }}"
    self_link = "{{ self_link }}"
    state = "{{ state }}"
}