resource "hcp_hvn_route" "example" {
    destination_cidr = "{{ destination_cidr }}"
    hvn_link = "{{ hvn_link }}"
    hvn_route_id = "{{ hvn_route_id }}"
    id = "{{ id }}"
    project_id = "{{ project_id }}"
    target_link = "{{ target_link }}"
    azure_config {
      next_hop_ip_address = "{{ next_hop_ip_address }}"
      next_hop_type = "{{ next_hop_type }}"
    }
    timeouts {
      create = "{{ create }}"
      default = "{{ default }}"
      delete = "{{ delete }}"
    }
}
