resource "hcp_vault_secrets_integration_mongodbatlas" "example" {
    capabilities = "{{ capabilities }}"
    name = "{{ name }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
    resource_id = "{{ resource_id }}"
    resource_name = "{{ resource_name }}"
    static_credential_details = "{
    api_private_key = {{ api_private_key }}
    api_public_key = {{ api_public_key }}
}"
}