resource "hcp_vault_secrets_integration_aws" "example" {
    access_keys = "{
    access_key_id = {{ access_key_id }}
    secret_access_key = {{ secret_access_key }}
}"
    capabilities = "{{ capabilities }}"
    federated_workload_identity = "{
    audience = {{ audience }}
    role_arn = {{ role_arn }}
}"
    name = "{{ name }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
    resource_id = "{{ resource_id }}"
    resource_name = "{{ resource_name }}"
}