data "hcp_aws_network_peering" "example" {
    hvn_id = "{{ hvn_id }}"
    id = "{{ id }}"
    peering_id = "{{ peering_id }}"
    project_id = "{{ project_id }}"
    wait_for_active_state = {{ wait_for_active_state }}
    timeouts {
      read = "{{ read }}"
    }
}
