data "hcp_aws_transit_gateway_attachment" "example" {
    hvn_id = "{{ hvn_id }}"
    id = "{{ id }}"
    project_id = "{{ project_id }}"
    transit_gateway_attachment_id = "{{ transit_gateway_attachment_id }}"
    wait_for_active_state = {{ wait_for_active_state }}
    timeouts {
      default = "{{ default }}"
    }
}
