resource "hcp_vault_radar_integration_slack_subscription" "example" {
    channel = "{{ channel }}"
    connection_id = "{{ connection_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project_id = "{{ project_id }}"
}