resource "hcp_waypoint_add_on" "example" {
    add_on_input_variables = "{{ add_on_input_variables }}"
    application_id = "{{ application_id }}"
    definition_id = "{{ definition_id }}"
    name = "{{ name }}"
    project_id = "{{ project_id }}"
}
