resource "hcp_consul_snapshot" "example" {
    cluster_id = "{{ cluster_id }}"
    id = "{{ id }}"
    project_id = "{{ project_id }}"
    snapshot_name = "{{ snapshot_name }}"
    timeouts {
      create = "{{ create }}"
      default = "{{ default }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
