data "hcp_boundary_cluster" "example" {
    cluster_id = "{{ cluster_id }}"
    cluster_url = "{{ cluster_url }}"
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    maintenance_window_config = "{{ maintenance_window_config }}"
    project_id = "{{ project_id }}"
    state = "{{ state }}"
    tier = "{{ tier }}"
    version = "{{ version }}"
}