resource "hcp_vault_secrets_integration_twilio" "example" {
    capabilities = ["{{ capabilities }}"]
    name = "{{ name }}"
    project_id = "{{ project_id }}"
    static_credential_details = "{{ static_credential_details }}"
}
