data "hcp_azure_peering_connection" "example" {
    hvn_link = "{{ hvn_link }}"
    id = "{{ id }}"
    peering_id = "{{ peering_id }}"
    wait_for_active_state = {{ wait_for_active_state }}
    timeouts {
      read = "{{ read }}"
    }
}
