resource "hcp_consul_cluster_root_token" "example" {
    cluster_id = "{{ cluster_id }}"
    id = "{{ id }}"
    project_id = "{{ project_id }}"
    timeouts {
      default = "{{ default }}"
    }
}
