resource "hcp_vault_secrets_app" "example" {
    app_name = "{{ app_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
    resource_name = "{{ resource_name }}"
}