data "hcp_vault_secrets_rotating_secret" "example" {
    app_name = "{{ app_name }}"
    id = "{{ id }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
    secret_name = "{{ secret_name }}"
    secret_provider = "{{ secret_provider }}"
    secret_values = "{{ secret_values }}"
    secret_version = "{{ secret_version }}"
}