resource "hcp_packer_bucket" "example" {
    created_at = "{{ created_at }}"
    name = "{{ name }}"
    organization_id = "{{ organization_id }}"
    project_id = "{{ project_id }}"
    resource_name = "{{ resource_name }}"
}