data "http" "example" {
    ca_cert_pem = "{{ ca_cert_pem }}"
    client_cert_pem = "{{ client_cert_pem }}"
    client_key_pem = "{{ client_key_pem }}"
    insecure = {{ insecure }}
    method = "{{ method }}"
    request_body = "{{ request_body }}"
    request_headers = {
        key = "{{ request_headers_value }}"
      }
    request_timeout_ms = {{ request_timeout_ms }}
    url = "{{ url }}"
    retry {
      attempts = {{ attempts }}
      max_delay_ms = {{ max_delay_ms }}
      min_delay_ms = {{ min_delay_ms }}
    }
}
