data "oraclepaas_database_service_instance" "example" {
    apex_url = "{{ apex_url }}"
    availability_domain = "{{ availability_domain }}"
    backup_destination = "{{ backup_destination }}"
    bring_your_own_license = "{{ bring_your_own_license }}"
    character_set = "{{ character_set }}"
    cloud_storage_container = "{{ cloud_storage_container }}"
    compute_site_name = "{{ compute_site_name }}"
    description = "{{ description }}"
    edition = "{{ edition }}"
    enterprise_manager_url = "{{ enterprise_manager_url }}"
    failover_database = "{{ failover_database }}"
    glassfish_url = "{{ glassfish_url }}"
    high_performance_storage = "{{ high_performance_storage }}"
    hybrid_disaster_recovery_ip = "{{ hybrid_disaster_recovery_ip }}"
    id = "{{ id }}"
    identity_domain = "{{ identity_domain }}"
    ip_network = "{{ ip_network }}"
    ip_reservations = "{{ ip_reservations }}"
    level = "{{ level }}"
    listener_port = "{{ listener_port }}"
    monitor_url = "{{ monitor_url }}"
    name = "{{ name }}"
    national_character_set = "{{ national_character_set }}"
    pluggable_database_name = "{{ pluggable_database_name }}"
    region = "{{ region }}"
    shape = "{{ shape }}"
    uri = "{{ uri }}"
    version = "{{ version }}"
}