resource "oraclepaas_mysql_service_instance" "example" {
    availability_domain = "{{ availability_domain }}"
    backup_destination = "{{ backup_destination }}"
    base_release_version = "{{ base_release_version }}"
    description = "{{ description }}"
    em_url = "{{ em_url }}"
    id = "{{ id }}"
    ip_network = "{{ ip_network }}"
    metering_frequency = "{{ metering_frequency }}"
    name = "{{ name }}"
    notification_email = "{{ notification_email }}"
    region = "{{ region }}"
    release_version = "{{ release_version }}"
    service_version = "{{ service_version }}"
    shape = "{{ shape }}"
    ssh_public_key = "{{ ssh_public_key }}"
    subnet = "{{ subnet }}"
    vm_user = "{{ vm_user }}"
}