provider "oraclepaas" {
    application_endpoint = "{{ application_endpoint }}"
    database_endpoint = "{{ database_endpoint }}"
    identity_domain = "{{ identity_domain }}"
    insecure = "{{ insecure }}"
    java_endpoint = "{{ java_endpoint }}"
    max_retries = "{{ max_retries }}"
    mysql_endpoint = "{{ mysql_endpoint }}"
    password = "{{ password }}"
    user = "{{ user }}"
}