resource "google_essential_contacts_contact" "example" {
    email = "{{ email }}"
    id = "{{ id }}"
    language_tag = "{{ language_tag }}"
    name = "{{ name }}"
    notification_category_subscriptions = "{{ notification_category_subscriptions }}"
    parent = "{{ parent }}"
}