resource "google_bigquery_analytics_hub_listing" "example" {
    categories = "{{ categories }}"
    data_exchange_id = "{{ data_exchange_id }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    documentation = "{{ documentation }}"
    icon = "{{ icon }}"
    id = "{{ id }}"
    listing_id = "{{ listing_id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    primary_contact = "{{ primary_contact }}"
    project = "{{ project }}"
    request_access = "{{ request_access }}"
}