data "google_organization" "example" {
    create_time = "{{ create_time }}"
    directory_customer_id = "{{ directory_customer_id }}"
    domain = "{{ domain }}"
    id = "{{ id }}"
    lifecycle_state = "{{ lifecycle_state }}"
    name = "{{ name }}"
    org_id = "{{ org_id }}"
    organization = "{{ organization }}"
}