resource "google_gkeonprem_bare_metal_node_pool" "example" {
    annotations = "{{ annotations }}"
    bare_metal_cluster = "{{ bare_metal_cluster }}"
    create_time = "{{ create_time }}"
    delete_time = "{{ delete_time }}"
    display_name = "{{ display_name }}"
    effective_annotations = "{{ effective_annotations }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    reconciling = "{{ reconciling }}"
    state = "{{ state }}"
    status = "{{ status }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}