resource "google_firebaserules_release" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    ruleset_name = "{{ ruleset_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
