data "google_compute_region_instance_group" "example" {
    id = "{{ id }}"
    instances = "{{ instances }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    self_link = "{{ self_link }}"
    size = "{{ size }}"
}