resource "google_data_catalog_tag_template_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
    tag_template = "{{ tag_template }}"
}