resource "google_container_azure_client" "example" {
    application_id = "{{ application_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    tenant_id = "{{ tenant_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
