resource "google_clouddeploy_delivery_pipeline" "example" {
    annotations = "{{ annotations }}"
    condition = "{{ condition }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    effective_annotations = "{{ effective_annotations }}"
    effective_labels = "{{ effective_labels }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    suspended = "{{ suspended }}"
    terraform_labels = "{{ terraform_labels }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}