resource "google_vmwareengine_network" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    state = "{{ state }}"
    type = "{{ type }}"
    uid = "{{ uid }}"
    vpc_networks = "{{ vpc_networks }}"
}