resource "google_cloudbuild_trigger" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    disabled = "{{ disabled }}"
    filename = "{{ filename }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    ignored_files = "{{ ignored_files }}"
    include_build_logs = "{{ include_build_logs }}"
    included_files = "{{ included_files }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    service_account = "{{ service_account }}"
    substitutions = "{{ substitutions }}"
    tags = "{{ tags }}"
    trigger_id = "{{ trigger_id }}"
}