resource "google_cloudfunctions2_function_iam_member" "example" {
    cloud_function = "{{ cloud_function }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
}