data "google_compute_security_policy" "example" {
    adaptive_protection_config = "{{ adaptive_protection_config }}"
    advanced_options_config = "{{ advanced_options_config }}"
    description = "{{ description }}"
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    recaptcha_options_config = "{{ recaptcha_options_config }}"
    rule = "{{ rule }}"
    self_link = "{{ self_link }}"
    type = "{{ type }}"
}