data "google_service_account_id_token" "example" {
    delegates = "{{ delegates }}"
    id = "{{ id }}"
    id_token = "{{ id_token }}"
    include_email = "{{ include_email }}"
    target_audience = "{{ target_audience }}"
    target_service_account = "{{ target_service_account }}"
}