resource "google_bigquery_routine" "example" {
    creation_time = "{{ creation_time }}"
    data_governance_type = "{{ data_governance_type }}"
    dataset_id = "{{ dataset_id }}"
    definition_body = "{{ definition_body }}"
    description = "{{ description }}"
    determinism_level = "{{ determinism_level }}"
    id = "{{ id }}"
    imported_libraries = "{{ imported_libraries }}"
    language = "{{ language }}"
    last_modified_time = "{{ last_modified_time }}"
    project = "{{ project }}"
    return_table_type = "{{ return_table_type }}"
    return_type = "{{ return_type }}"
    routine_id = "{{ routine_id }}"
    routine_type = "{{ routine_type }}"
}