resource "google_iap_web_region_backend_service_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
    web_region_backend_service = "{{ web_region_backend_service }}"
}