resource "google_compute_global_forwarding_rule" "example" {
    description = "{{ description }}"
    external_managed_backend_bucket_migration_state = "{{ external_managed_backend_bucket_migration_state }}"
    external_managed_backend_bucket_migration_testing_percentage = {{ external_managed_backend_bucket_migration_testing_percentage }}
    id = "{{ id }}"
    ip_address = "{{ ip_address }}"
    ip_protocol = "{{ ip_protocol }}"
    ip_version = "{{ ip_version }}"
    labels = {
        key = "{{ labels_value }}"
      }
    load_balancing_scheme = "{{ load_balancing_scheme }}"
    name = "{{ name }}"
    network = "{{ network }}"
    network_tier = "{{ network_tier }}"
    no_automate_dns_zone = {{ no_automate_dns_zone }}
    port_range = "{{ port_range }}"
    project = "{{ project }}"
    source_ip_ranges = ["{{ source_ip_ranges }}"]
    subnetwork = "{{ subnetwork }}"
    target = "{{ target }}"
    metadata_filters {
      filter_match_criteria = "{{ filter_match_criteria }}"
      filter_labels {
        name = "{{ name }}"
        value = "{{ value }}"
      }
    }
    service_directory_registrations {
      namespace = "{{ namespace }}"
      service_directory_region = "{{ service_directory_region }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
