resource "google_compute_ssl_policy" "example" {
    custom_features = ["{{ custom_features }}"]
    description = "{{ description }}"
    id = "{{ id }}"
    min_tls_version = "{{ min_tls_version }}"
    name = "{{ name }}"
    profile = "{{ profile }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
