resource "google_compute_reservation" "example" {
    delete_at_time = "{{ delete_at_time }}"
    description = "{{ description }}"
    name = "{{ name }}"
    project = "{{ project }}"
    specific_reservation_required = {{ specific_reservation_required }}
    zone = "{{ zone }}"
    delete_after_duration {
      nanos = {{ nanos }}
      seconds = "{{ seconds }}"
    }
    reservation_sharing_policy {
      service_share_type = "{{ service_share_type }}"
    }
    share_settings {
      share_type = "{{ share_type }}"
      project_map {
        id = "{{ id }}"
        project_id = "{{ project_id }}"
      }
    }
    specific_reservation {
      count = {{ count }}
      source_instance_template = "{{ source_instance_template }}"
      instance_properties {
        machine_type = "{{ machine_type }}"
        min_cpu_platform = "{{ min_cpu_platform }}"
        guest_accelerators {
          accelerator_count = {{ accelerator_count }}
          accelerator_type = "{{ accelerator_type }}"
        }
        local_ssds {
          disk_size_gb = {{ disk_size_gb }}
          interface = "{{ interface }}"
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
