resource "google_identity_platform_tenant_inbound_saml_config" "example" {
    display_name = "{{ display_name }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    tenant = "{{ tenant }}"
}