resource "google_billing_budget" "example" {
    billing_account = "{{ billing_account }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    ownership_scope = "{{ ownership_scope }}"
}