data "google_gemini_repository_group_iam_policy" "example" {
    code_repository_index = "{{ code_repository_index }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    repository_group_id = "{{ repository_group_id }}"
}
