resource "google_iap_web_region_forwarding_rule_service_iam_binding" "example" {
    forwarding_rule_region_service_name = "{{ forwarding_rule_region_service_name }}"
    id = "{{ id }}"
    members = ["{{ members }}"]
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
