resource "google_notebooks_runtime" "example" {
    effective_labels = "{{ effective_labels }}"
    health_state = "{{ health_state }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    metrics = "{{ metrics }}"
    name = "{{ name }}"
    project = "{{ project }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
}