resource "google_apigee_control_plane_access" "example" {
    analytics_publisher_identities = ["{{ analytics_publisher_identities }}"]
    id = "{{ id }}"
    name = "{{ name }}"
    synchronizer_identities = ["{{ synchronizer_identities }}"]
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
