data "google_backup_dr_backup_plan_association" "example" {
    backup_plan_association_id = "{{ backup_plan_association_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
}
