resource "google_network_security_intercept_endpoint_group_association" "example" {
    id = "{{ id }}"
    intercept_endpoint_group = "{{ intercept_endpoint_group }}"
    intercept_endpoint_group_association_id = "{{ intercept_endpoint_group_association_id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    network = "{{ network }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
