data "google_privateca_certificate_authority" "example" {
    access_urls = "{{ access_urls }}"
    certificate_authority_id = "{{ certificate_authority_id }}"
    config = "{{ config }}"
    create_time = "{{ create_time }}"
    deletion_protection = "{{ deletion_protection }}"
    desired_state = "{{ desired_state }}"
    effective_labels = "{{ effective_labels }}"
    gcs_bucket = "{{ gcs_bucket }}"
    id = "{{ id }}"
    ignore_active_certificates_on_deletion = "{{ ignore_active_certificates_on_deletion }}"
    key_spec = "{{ key_spec }}"
    labels = "{{ labels }}"
    lifetime = "{{ lifetime }}"
    location = "{{ location }}"
    name = "{{ name }}"
    pem_ca_certificate = "{{ pem_ca_certificate }}"
    pem_ca_certificates = "{{ pem_ca_certificates }}"
    pem_csr = "{{ pem_csr }}"
    pool = "{{ pool }}"
    project = "{{ project }}"
    skip_grace_period = "{{ skip_grace_period }}"
    state = "{{ state }}"
    subordinate_config = "{{ subordinate_config }}"
    terraform_labels = "{{ terraform_labels }}"
    type = "{{ type }}"
    update_time = "{{ update_time }}"
}