resource "google_bigquery_analytics_hub_data_exchange" "example" {
    data_exchange_id = "{{ data_exchange_id }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    documentation = "{{ documentation }}"
    icon = "{{ icon }}"
    id = "{{ id }}"
    listing_count = "{{ listing_count }}"
    location = "{{ location }}"
    name = "{{ name }}"
    primary_contact = "{{ primary_contact }}"
    project = "{{ project }}"
}