data "google_bigquery_analytics_hub_data_exchange_iam_policy" "example" {
    data_exchange_id = "{{ data_exchange_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}