resource "google_vertex_ai_featurestore_entitytype_feature" "example" {
    description = "{{ description }}"
    entitytype = "{{ entitytype }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    value_type = "{{ value_type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
