resource "google_iam_principal_access_boundary_policy" "example" {
    annotations = {
        key = "{{ annotations_value }}"
      }
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    organization = "{{ organization }}"
    principal_access_boundary_policy_id = "{{ principal_access_boundary_policy_id }}"
    details {
      enforcement_version = "{{ enforcement_version }}"
      rules {
        description = "{{ description }}"
        effect = "{{ effect }}"
        resources = ["{{ resources }}"]
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
