data "google_secret_manager_secret_version_access" "example" {
    id = "{{ id }}"
    is_secret_data_base64 = "{{ is_secret_data_base64 }}"
    name = "{{ name }}"
    project = "{{ project }}"
    secret = "{{ secret }}"
    secret_data = "{{ secret_data }}"
    version = "{{ version }}"
}