resource "google_gemini_logging_setting" "example" {
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    log_metadata = {{ log_metadata }}
    log_prompts_and_responses = {{ log_prompts_and_responses }}
    logging_setting_id = "{{ logging_setting_id }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
