resource "google_logging_project_exclusion" "example" {
    description = "{{ description }}"
    disabled = "{{ disabled }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
}