resource "google_dialogflow_entity_type" "example" {
    display_name = "{{ display_name }}"
    enable_fuzzy_extraction = "{{ enable_fuzzy_extraction }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    name = "{{ name }}"
    project = "{{ project }}"
}