resource "google_public_ca_external_account_key" "example" {
    b64_mac_key = "{{ b64_mac_key }}"
    id = "{{ id }}"
    key_id = "{{ key_id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
}