resource "google_compute_managed_ssl_certificate" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    type = "{{ type }}"
    managed {
      domains = ["{{ domains }}"]
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
