data "google_monitoring_istio_canonical_service" "example" {
    canonical_service = "{{ canonical_service }}"
    canonical_service_namespace = "{{ canonical_service_namespace }}"
    id = "{{ id }}"
    mesh_uid = "{{ mesh_uid }}"
    project = "{{ project }}"
}
