resource "google_discovery_engine_target_site" "example" {
    data_store_id = "{{ data_store_id }}"
    exact_match = {{ exact_match }}
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    provided_uri_pattern = "{{ provided_uri_pattern }}"
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
