resource "google_compute_public_advertised_prefix" "example" {
    description = "{{ description }}"
    dns_verification_ip = "{{ dns_verification_ip }}"
    id = "{{ id }}"
    ip_cidr_range = "{{ ip_cidr_range }}"
    name = "{{ name }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    shared_secret = "{{ shared_secret }}"
}