resource "google_monitoring_metric_descriptor" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    launch_stage = "{{ launch_stage }}"
    metric_kind = "{{ metric_kind }}"
    project = "{{ project }}"
    type = "{{ type }}"
    unit = "{{ unit }}"
    value_type = "{{ value_type }}"
    labels {
      description = "{{ description }}"
      key = "{{ key }}"
      value_type = "{{ value_type }}"
    }
    metadata {
      ingest_delay = "{{ ingest_delay }}"
      sample_period = "{{ sample_period }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
