resource "google_compute_image" "example" {
    description = "{{ description }}"
    disk_size_gb = {{ disk_size_gb }}
    family = "{{ family }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    licenses = ["{{ licenses }}"]
    name = "{{ name }}"
    project = "{{ project }}"
    source_disk = "{{ source_disk }}"
    source_image = "{{ source_image }}"
    source_snapshot = "{{ source_snapshot }}"
    storage_locations = ["{{ storage_locations }}"]
    guest_os_features {
      type = "{{ type }}"
    }
    image_encryption_key {
      kms_key_self_link = "{{ kms_key_self_link }}"
      kms_key_service_account = "{{ kms_key_service_account }}"
      raw_key = "{{ raw_key }}"
      rsa_encrypted_key = "{{ rsa_encrypted_key }}"
    }
    raw_disk {
      container_type = "{{ container_type }}"
      sha1 = "{{ sha1 }}"
      source = "{{ source }}"
    }
    shielded_instance_initial_state {
      dbs {
        content = "{{ content }}"
        file_type = "{{ file_type }}"
      }
      dbxs {
        content = "{{ content }}"
        file_type = "{{ file_type }}"
      }
      keks {
        content = "{{ content }}"
        file_type = "{{ file_type }}"
      }
      pk {
        content = "{{ content }}"
        file_type = "{{ file_type }}"
      }
    }
    source_disk_encryption_key {
      kms_key_self_link = "{{ kms_key_self_link }}"
      kms_key_service_account = "{{ kms_key_service_account }}"
      raw_key = "{{ raw_key }}"
      rsa_encrypted_key = "{{ rsa_encrypted_key }}"
    }
    source_image_encryption_key {
      kms_key_self_link = "{{ kms_key_self_link }}"
      kms_key_service_account = "{{ kms_key_service_account }}"
      raw_key = "{{ raw_key }}"
      rsa_encrypted_key = "{{ rsa_encrypted_key }}"
    }
    source_snapshot_encryption_key {
      kms_key_self_link = "{{ kms_key_self_link }}"
      kms_key_service_account = "{{ kms_key_service_account }}"
      raw_key = "{{ raw_key }}"
      rsa_encrypted_key = "{{ rsa_encrypted_key }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
