data "google_apphub_discovered_workload" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    workload_properties = "{{ workload_properties }}"
    workload_reference = "{{ workload_reference }}"
    workload_uri = "{{ workload_uri }}"
}