resource "google_bigtable_table_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    instance = "{{ instance }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    table = "{{ table }}"
}