resource "google_memcache_instance" "example" {
    authorized_network = "{{ authorized_network }}"
    create_time = "{{ create_time }}"
    discovery_endpoint = "{{ discovery_endpoint }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    maintenance_schedule = "{{ maintenance_schedule }}"
    memcache_full_version = "{{ memcache_full_version }}"
    memcache_nodes = "{{ memcache_nodes }}"
    memcache_version = "{{ memcache_version }}"
    name = "{{ name }}"
    node_count = "{{ node_count }}"
    project = "{{ project }}"
    region = "{{ region }}"
    reserved_ip_range_id = "{{ reserved_ip_range_id }}"
    terraform_labels = "{{ terraform_labels }}"
    zones = "{{ zones }}"
}