resource "google_compute_organization_security_policy_association" "example" {
    attachment_id = "{{ attachment_id }}"
    excluded_folders = ["{{ excluded_folders }}"]
    excluded_projects = ["{{ excluded_projects }}"]
    id = "{{ id }}"
    name = "{{ name }}"
    policy_id = "{{ policy_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
