resource "google_container_analysis_occurrence" "example" {
    id = "{{ id }}"
    note_name = "{{ note_name }}"
    project = "{{ project }}"
    remediation = "{{ remediation }}"
    resource_uri = "{{ resource_uri }}"
    attestation {
      serialized_payload = "{{ serialized_payload }}"
      signatures {
        public_key_id = "{{ public_key_id }}"
        signature = "{{ signature }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
