resource "google_cloudbuildv2_repository" "example" {
    annotations = "{{ annotations }}"
    create_time = "{{ create_time }}"
    effective_annotations = "{{ effective_annotations }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parent_connection = "{{ parent_connection }}"
    project = "{{ project }}"
    remote_uri = "{{ remote_uri }}"
    update_time = "{{ update_time }}"
}