resource "google_developer_connect_connection" "example" {
    annotations = {
        key = "{{ annotations_value }}"
      }
    connection_id = "{{ connection_id }}"
    disabled = {{ disabled }}
    etag = "{{ etag }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    project = "{{ project }}"
    bitbucket_cloud_config {
      webhook_secret_secret_version = "{{ webhook_secret_secret_version }}"
      workspace = "{{ workspace }}"
      authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
      read_authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
    }
    bitbucket_data_center_config {
      host_uri = "{{ host_uri }}"
      ssl_ca_certificate = "{{ ssl_ca_certificate }}"
      webhook_secret_secret_version = "{{ webhook_secret_secret_version }}"
      authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
      read_authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
      service_directory_config {
        service = "{{ service }}"
      }
    }
    crypto_key_config {
      key_reference = "{{ key_reference }}"
    }
    github_config {
      app_installation_id = "{{ app_installation_id }}"
      github_app = "{{ github_app }}"
      authorizer_credential {
        oauth_token_secret_version = "{{ oauth_token_secret_version }}"
      }
    }
    github_enterprise_config {
      app_id = "{{ app_id }}"
      app_installation_id = "{{ app_installation_id }}"
      host_uri = "{{ host_uri }}"
      private_key_secret_version = "{{ private_key_secret_version }}"
      ssl_ca_certificate = "{{ ssl_ca_certificate }}"
      webhook_secret_secret_version = "{{ webhook_secret_secret_version }}"
      service_directory_config {
        service = "{{ service }}"
      }
    }
    gitlab_config {
      webhook_secret_secret_version = "{{ webhook_secret_secret_version }}"
      authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
      read_authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
    }
    gitlab_enterprise_config {
      host_uri = "{{ host_uri }}"
      ssl_ca_certificate = "{{ ssl_ca_certificate }}"
      webhook_secret_secret_version = "{{ webhook_secret_secret_version }}"
      authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
      read_authorizer_credential {
        user_token_secret_version = "{{ user_token_secret_version }}"
      }
      service_directory_config {
        service = "{{ service }}"
      }
    }
    http_config {
      host_uri = "{{ host_uri }}"
      ssl_ca_certificate = "{{ ssl_ca_certificate }}"
      basic_authentication {
        password_secret_version = "{{ password_secret_version }}"
        username = "{{ username }}"
      }
      bearer_token_authentication {
        token_secret_version = "{{ token_secret_version }}"
      }
      service_directory_config {
        service = "{{ service }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
