resource "google_dataproc_workflow_template" "example" {
    create_time = "{{ create_time }}"
    dag_timeout = "{{ dag_timeout }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
    update_time = "{{ update_time }}"
    version = "{{ version }}"
}