resource "google_vmwareengine_network" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
