resource "google_dataplex_lake" "example" {
    asset_status = "{{ asset_status }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    metastore_status = "{{ metastore_status }}"
    name = "{{ name }}"
    project = "{{ project }}"
    service_account = "{{ service_account }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}