resource "google_network_services_grpc_route" "example" {
    description = "{{ description }}"
    gateways = ["{{ gateways }}"]
    hostnames = ["{{ hostnames }}"]
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    meshes = ["{{ meshes }}"]
    name = "{{ name }}"
    project = "{{ project }}"
    rules {
      action {
        timeout = "{{ timeout }}"
        destinations {
          service_name = "{{ service_name }}"
          weight = {{ weight }}
        }
        fault_injection_policy {
          abort {
            http_status = {{ http_status }}
            percentage = {{ percentage }}
          }
          delay {
            fixed_delay = "{{ fixed_delay }}"
            percentage = {{ percentage }}
          }
        }
        retry_policy {
          num_retries = {{ num_retries }}
          retry_conditions = ["{{ retry_conditions }}"]
        }
      }
      matches {
        headers {
          key = "{{ key }}"
          type = "{{ type }}"
          value = "{{ value }}"
        }
        method {
          case_sensitive = {{ case_sensitive }}
          grpc_method = "{{ grpc_method }}"
          grpc_service = "{{ grpc_service }}"
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
