resource "google_dataplex_aspect_type" "example" {
    aspect_type_id = "{{ aspect_type_id }}"
    data_classification = "{{ data_classification }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    metadata_template = "{{ metadata_template }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
