resource "google_healthcare_hl7_v2_store_iam_member" "example" {
    hl7_v2_store_id = "{{ hl7_v2_store_id }}"
    id = "{{ id }}"
    member = "{{ member }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
