resource "google_vertex_ai_index" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    index_update_method = "{{ index_update_method }}"
    labels = {
        key = "{{ labels_value }}"
      }
    project = "{{ project }}"
    region = "{{ region }}"
    encryption_spec {
      kms_key_name = "{{ kms_key_name }}"
    }
    metadata {
      contents_delta_uri = "{{ contents_delta_uri }}"
      is_complete_overwrite = {{ is_complete_overwrite }}
      config {
        approximate_neighbors_count = {{ approximate_neighbors_count }}
        dimensions = {{ dimensions }}
        distance_measure_type = "{{ distance_measure_type }}"
        feature_norm_type = "{{ feature_norm_type }}"
        shard_size = "{{ shard_size }}"
        algorithm_config {
          brute_force_config {
          }
          tree_ah_config {
            leaf_node_embedding_count = {{ leaf_node_embedding_count }}
            leaf_nodes_to_search_percent = {{ leaf_nodes_to_search_percent }}
          }
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
