resource "google_storage_bucket" "example" {
    default_event_based_hold = "{{ default_event_based_hold }}"
    effective_labels = "{{ effective_labels }}"
    enable_object_retention = "{{ enable_object_retention }}"
    force_destroy = "{{ force_destroy }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    project_number = "{{ project_number }}"
    public_access_prevention = "{{ public_access_prevention }}"
    requester_pays = "{{ requester_pays }}"
    rpo = "{{ rpo }}"
    self_link = "{{ self_link }}"
    storage_class = "{{ storage_class }}"
    terraform_labels = "{{ terraform_labels }}"
    uniform_bucket_level_access = "{{ uniform_bucket_level_access }}"
    url = "{{ url }}"
}