resource "google_dns_policy" "example" {
    description = "{{ description }}"
    enable_inbound_forwarding = "{{ enable_inbound_forwarding }}"
    enable_logging = "{{ enable_logging }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
}