resource "google_dataplex_lake_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    lake = "{{ lake }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}