resource "google_compute_managed_ssl_certificate" "example" {
    certificate_id = "{{ certificate_id }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    expire_time = "{{ expire_time }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    subject_alternative_names = "{{ subject_alternative_names }}"
    type = "{{ type }}"
}