resource "google_logging_billing_account_bucket_config" "example" {
    billing_account = "{{ billing_account }}"
    bucket_id = "{{ bucket_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    retention_days = {{ retention_days }}
    cmek_settings {
      kms_key_name = "{{ kms_key_name }}"
    }
    index_configs {
      field_path = "{{ field_path }}"
      type = "{{ type }}"
    }
}
