resource "google_eventarc_trigger" "example" {
    channel = "{{ channel }}"
    conditions = "{{ conditions }}"
    create_time = "{{ create_time }}"
    effective_labels = "{{ effective_labels }}"
    etag = "{{ etag }}"
    event_data_content_type = "{{ event_data_content_type }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    service_account = "{{ service_account }}"
    terraform_labels = "{{ terraform_labels }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}