resource "google_firestore_field" "example" {
    collection = "{{ collection }}"
    database = "{{ database }}"
    field = "{{ field }}"
    id = "{{ id }}"
    project = "{{ project }}"
    index_config {
      indexes {
        array_config = "{{ array_config }}"
        order = "{{ order }}"
        query_scope = "{{ query_scope }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    ttl_config {
    }
}
