resource "google_dataproc_metastore_federation" "example" {
    deletion_protection = {{ deletion_protection }}
    federation_id = "{{ federation_id }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    project = "{{ project }}"
    tags = {
        key = "{{ tags_value }}"
      }
    version = "{{ version }}"
    backend_metastores {
      metastore_type = "{{ metastore_type }}"
      name = "{{ name }}"
      rank = "{{ rank }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
