resource "google_compute_instance" "example" {
    allow_stopping_for_update = "{{ allow_stopping_for_update }}"
    can_ip_forward = "{{ can_ip_forward }}"
    cpu_platform = "{{ cpu_platform }}"
    creation_timestamp = "{{ creation_timestamp }}"
    current_status = "{{ current_status }}"
    deletion_protection = "{{ deletion_protection }}"
    description = "{{ description }}"
    desired_status = "{{ desired_status }}"
    effective_labels = "{{ effective_labels }}"
    enable_display = "{{ enable_display }}"
    hostname = "{{ hostname }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    key_revocation_action_type = "{{ key_revocation_action_type }}"
    label_fingerprint = "{{ label_fingerprint }}"
    labels = "{{ labels }}"
    machine_type = "{{ machine_type }}"
    metadata = "{{ metadata }}"
    metadata_fingerprint = "{{ metadata_fingerprint }}"
    metadata_startup_script = "{{ metadata_startup_script }}"
    min_cpu_platform = "{{ min_cpu_platform }}"
    name = "{{ name }}"
    project = "{{ project }}"
    resource_policies = "{{ resource_policies }}"
    self_link = "{{ self_link }}"
    tags = "{{ tags }}"
    tags_fingerprint = "{{ tags_fingerprint }}"
    terraform_labels = "{{ terraform_labels }}"
    zone = "{{ zone }}"
}