resource "google_apphub_application" "example" {
    application_id = "{{ application_id }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    attributes {
      business_owners {
        display_name = "{{ display_name }}"
        email = "{{ email }}"
      }
      criticality {
        type = "{{ type }}"
      }
      developer_owners {
        display_name = "{{ display_name }}"
        email = "{{ email }}"
      }
      environment {
        type = "{{ type }}"
      }
      operator_owners {
        display_name = "{{ display_name }}"
        email = "{{ email }}"
      }
    }
    scope {
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
