resource "google_data_catalog_taxonomy_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    members = "{{ members }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
    taxonomy = "{{ taxonomy }}"
}