resource "google_network_security_gateway_security_policy_rule" "example" {
    application_matcher = "{{ application_matcher }}"
    basic_profile = "{{ basic_profile }}"
    description = "{{ description }}"
    enabled = {{ enabled }}
    gateway_security_policy = "{{ gateway_security_policy }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    priority = {{ priority }}
    project = "{{ project }}"
    session_matcher = "{{ session_matcher }}"
    tls_inspection_enabled = {{ tls_inspection_enabled }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
