resource "google_spanner_instance" "example" {
    config = "{{ config }}"
    default_backup_schedule_type = "{{ default_backup_schedule_type }}"
    display_name = "{{ display_name }}"
    edition = "{{ edition }}"
    effective_labels = "{{ effective_labels }}"
    force_destroy = "{{ force_destroy }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    num_nodes = "{{ num_nodes }}"
    processing_units = "{{ processing_units }}"
    project = "{{ project }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
}