resource "google_sourcerepo_repository_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    repository = "{{ repository }}"
    role = "{{ role }}"
}