resource "google_compute_router_route_policy" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    router = "{{ router }}"
    type = "{{ type }}"
    terms {
      priority = {{ priority }}
      actions {
        description = "{{ description }}"
        expression = "{{ expression }}"
        location = "{{ location }}"
        title = "{{ title }}"
      }
      match {
        description = "{{ description }}"
        expression = "{{ expression }}"
        location = "{{ location }}"
        title = "{{ title }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
