resource "google_managed_kafka_cluster" "example" {
    cluster_id = "{{ cluster_id }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    project = "{{ project }}"
    broker_capacity_config {
      disk_size_gib = "{{ disk_size_gib }}"
    }
    capacity_config {
      memory_bytes = "{{ memory_bytes }}"
      vcpu_count = "{{ vcpu_count }}"
    }
    gcp_config {
      kms_key = "{{ kms_key }}"
      access_config {
        network_configs {
          subnet = "{{ subnet }}"
        }
      }
    }
    rebalance_config {
      mode = "{{ mode }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    tls_config {
      ssl_principal_mapping_rules = "{{ ssl_principal_mapping_rules }}"
      trust_config {
        cas_configs {
          ca_pool = "{{ ca_pool }}"
        }
      }
    }
}
