data "google_folder" "example" {
    create_time = "{{ create_time }}"
    deletion_protection = "{{ deletion_protection }}"
    display_name = "{{ display_name }}"
    folder = "{{ folder }}"
    folder_id = "{{ folder_id }}"
    id = "{{ id }}"
    lifecycle_state = "{{ lifecycle_state }}"
    lookup_organization = "{{ lookup_organization }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    parent = "{{ parent }}"
}