data "google_secure_source_manager_instance_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}