resource "google_dialogflow_cx_intent" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    is_default_negative_intent = "{{ is_default_negative_intent }}"
    is_default_welcome_intent = "{{ is_default_welcome_intent }}"
    is_fallback = "{{ is_fallback }}"
    labels = "{{ labels }}"
    language_code = "{{ language_code }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    priority = "{{ priority }}"
    terraform_labels = "{{ terraform_labels }}"
}