resource "google_iap_tunnel_dest_group_iam_member" "example" {
    dest_group = "{{ dest_group }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
}