resource "google_storage_bucket_iam_binding" "example" {
    bucket = "{{ bucket }}"
    id = "{{ id }}"
    members = ["{{ members }}"]
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
    timeouts {
      create = "{{ create }}"
    }
}
