resource "google_storage_managed_folder" "example" {
    bucket = "{{ bucket }}"
    create_time = "{{ create_time }}"
    force_destroy = "{{ force_destroy }}"
    id = "{{ id }}"
    metageneration = "{{ metageneration }}"
    name = "{{ name }}"
    self_link = "{{ self_link }}"
    update_time = "{{ update_time }}"
}