data "google_compute_region_disk" "example" {
    async_primary_disk = "{{ async_primary_disk }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    disk_encryption_key = "{{ disk_encryption_key }}"
    effective_labels = "{{ effective_labels }}"
    guest_os_features = "{{ guest_os_features }}"
    id = "{{ id }}"
    label_fingerprint = "{{ label_fingerprint }}"
    labels = "{{ labels }}"
    last_attach_timestamp = "{{ last_attach_timestamp }}"
    last_detach_timestamp = "{{ last_detach_timestamp }}"
    licenses = "{{ licenses }}"
    name = "{{ name }}"
    physical_block_size_bytes = "{{ physical_block_size_bytes }}"
    project = "{{ project }}"
    region = "{{ region }}"
    replica_zones = "{{ replica_zones }}"
    self_link = "{{ self_link }}"
    size = "{{ size }}"
    snapshot = "{{ snapshot }}"
    source_disk = "{{ source_disk }}"
    source_disk_id = "{{ source_disk_id }}"
    source_snapshot_encryption_key = "{{ source_snapshot_encryption_key }}"
    source_snapshot_id = "{{ source_snapshot_id }}"
    terraform_labels = "{{ terraform_labels }}"
    type = "{{ type }}"
    users = "{{ users }}"
}