resource "google_apigee_keystores_aliases_key_cert_file" "example" {
    alias = "{{ alias }}"
    cert = "{{ cert }}"
    environment = "{{ environment }}"
    id = "{{ id }}"
    key = "{{ key }}"
    keystore = "{{ keystore }}"
    org_id = "{{ org_id }}"
    password = "{{ password }}"
    type = "{{ type }}"
}