resource "google_compute_target_https_proxy" "example" {
    certificate_manager_certificates = "{{ certificate_manager_certificates }}"
    certificate_map = "{{ certificate_map }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    http_keep_alive_timeout_sec = "{{ http_keep_alive_timeout_sec }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    proxy_bind = "{{ proxy_bind }}"
    proxy_id = "{{ proxy_id }}"
    quic_override = "{{ quic_override }}"
    self_link = "{{ self_link }}"
    server_tls_policy = "{{ server_tls_policy }}"
    ssl_certificates = "{{ ssl_certificates }}"
    ssl_policy = "{{ ssl_policy }}"
    tls_early_data = "{{ tls_early_data }}"
    url_map = "{{ url_map }}"
}