resource "google_network_services_tcp_route" "example" {
    description = "{{ description }}"
    gateways = ["{{ gateways }}"]
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    meshes = ["{{ meshes }}"]
    name = "{{ name }}"
    project = "{{ project }}"
    rules {
      action {
        idle_timeout = "{{ idle_timeout }}"
        original_destination = {{ original_destination }}
        destinations {
          service_name = "{{ service_name }}"
          weight = {{ weight }}
        }
      }
      matches {
        address = "{{ address }}"
        port = "{{ port }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
