data "google_compute_network" "example" {
    description = "{{ description }}"
    gateway_ipv4 = "{{ gateway_ipv4 }}"
    id = "{{ id }}"
    internal_ipv6_range = "{{ internal_ipv6_range }}"
    name = "{{ name }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    subnetworks_self_links = "{{ subnetworks_self_links }}"
}