resource "google_dataplex_zone_iam_policy" "example" {
    dataplex_zone = "{{ dataplex_zone }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    lake = "{{ lake }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}