resource "google_network_services_edge_cache_origin" "example" {
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    failover_origin = "{{ failover_origin }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    max_attempts = "{{ max_attempts }}"
    name = "{{ name }}"
    origin_address = "{{ origin_address }}"
    port = "{{ port }}"
    project = "{{ project }}"
    protocol = "{{ protocol }}"
    retry_conditions = "{{ retry_conditions }}"
    terraform_labels = "{{ terraform_labels }}"
}