resource "google_logging_log_view" "example" {
    bucket = "{{ bucket }}"
    description = "{{ description }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
