resource "google_service_account_iam_binding" "example" {
    id = "{{ id }}"
    members = ["{{ members }}"]
    role = "{{ role }}"
    service_account_id = "{{ service_account_id }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
