resource "google_iap_brand" "example" {
    application_title = "{{ application_title }}"
    id = "{{ id }}"
    name = "{{ name }}"
    org_internal_only = "{{ org_internal_only }}"
    project = "{{ project }}"
    support_email = "{{ support_email }}"
}