resource "google_iap_web_backend_service_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    members = "{{ members }}"
    project = "{{ project }}"
    role = "{{ role }}"
    web_backend_service = "{{ web_backend_service }}"
}