resource "google_iam_access_boundary_policy" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    rules {
      description = "{{ description }}"
      access_boundary_rule {
        available_permissions = ["{{ available_permissions }}"]
        available_resource = "{{ available_resource }}"
        availability_condition {
          description = "{{ description }}"
          expression = "{{ expression }}"
          location = "{{ location }}"
          title = "{{ title }}"
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
