resource "google_clouddeploy_delivery_pipeline_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}