resource "google_scc_mute_config" "example" {
    description = "{{ description }}"
    expiry_time = "{{ expiry_time }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    mute_config_id = "{{ mute_config_id }}"
    parent = "{{ parent }}"
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
