resource "google_dataproc_autoscaling_policy_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    policy_id = "{{ policy_id }}"
    project = "{{ project }}"
}