resource "google_compute_subnetwork_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
    region = "{{ region }}"
    subnetwork = "{{ subnetwork }}"
}