resource "google_compute_global_network_endpoint_group" "example" {
    default_port = {{ default_port }}
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    network_endpoint_type = "{{ network_endpoint_type }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
