resource "google_network_management_vpc_flow_logs_config" "example" {
    aggregation_interval = "{{ aggregation_interval }}"
    description = "{{ description }}"
    filter_expr = "{{ filter_expr }}"
    flow_sampling = {{ flow_sampling }}
    id = "{{ id }}"
    interconnect_attachment = "{{ interconnect_attachment }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    metadata = "{{ metadata }}"
    metadata_fields = ["{{ metadata_fields }}"]
    network = "{{ network }}"
    project = "{{ project }}"
    state = "{{ state }}"
    subnet = "{{ subnet }}"
    vpc_flow_logs_config_id = "{{ vpc_flow_logs_config_id }}"
    vpn_tunnel = "{{ vpn_tunnel }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
