resource "google_service_directory_namespace" "example" {
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    namespace_id = "{{ namespace_id }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
