resource "google_bigquery_job" "example" {
    id = "{{ id }}"
    job_id = "{{ job_id }}"
    job_timeout_ms = "{{ job_timeout_ms }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    project = "{{ project }}"
    copy {
      create_disposition = "{{ create_disposition }}"
      write_disposition = "{{ write_disposition }}"
      destination_encryption_configuration {
        kms_key_name = "{{ kms_key_name }}"
      }
      destination_table {
        dataset_id = "{{ dataset_id }}"
        project_id = "{{ project_id }}"
        table_id = "{{ table_id }}"
      }
      source_tables {
        dataset_id = "{{ dataset_id }}"
        project_id = "{{ project_id }}"
        table_id = "{{ table_id }}"
      }
    }
    extract {
      compression = "{{ compression }}"
      destination_format = "{{ destination_format }}"
      destination_uris = ["{{ destination_uris }}"]
      field_delimiter = "{{ field_delimiter }}"
      print_header = {{ print_header }}
      use_avro_logical_types = {{ use_avro_logical_types }}
      source_model {
        dataset_id = "{{ dataset_id }}"
        model_id = "{{ model_id }}"
        project_id = "{{ project_id }}"
      }
      source_table {
        dataset_id = "{{ dataset_id }}"
        project_id = "{{ project_id }}"
        table_id = "{{ table_id }}"
      }
    }
    load {
      allow_jagged_rows = {{ allow_jagged_rows }}
      allow_quoted_newlines = {{ allow_quoted_newlines }}
      autodetect = {{ autodetect }}
      create_disposition = "{{ create_disposition }}"
      encoding = "{{ encoding }}"
      field_delimiter = "{{ field_delimiter }}"
      ignore_unknown_values = {{ ignore_unknown_values }}
      json_extension = "{{ json_extension }}"
      max_bad_records = {{ max_bad_records }}
      null_marker = "{{ null_marker }}"
      projection_fields = ["{{ projection_fields }}"]
      quote = "{{ quote }}"
      schema_update_options = ["{{ schema_update_options }}"]
      skip_leading_rows = {{ skip_leading_rows }}
      source_format = "{{ source_format }}"
      source_uris = ["{{ source_uris }}"]
      write_disposition = "{{ write_disposition }}"
      destination_encryption_configuration {
        kms_key_name = "{{ kms_key_name }}"
      }
      destination_table {
        dataset_id = "{{ dataset_id }}"
        project_id = "{{ project_id }}"
        table_id = "{{ table_id }}"
      }
      parquet_options {
        enable_list_inference = {{ enable_list_inference }}
        enum_as_string = {{ enum_as_string }}
      }
      time_partitioning {
        expiration_ms = "{{ expiration_ms }}"
        field = "{{ field }}"
        type = "{{ type }}"
      }
    }
    query {
      allow_large_results = {{ allow_large_results }}
      create_disposition = "{{ create_disposition }}"
      flatten_results = {{ flatten_results }}
      maximum_billing_tier = {{ maximum_billing_tier }}
      maximum_bytes_billed = "{{ maximum_bytes_billed }}"
      parameter_mode = "{{ parameter_mode }}"
      priority = "{{ priority }}"
      query = "{{ query }}"
      schema_update_options = ["{{ schema_update_options }}"]
      use_legacy_sql = {{ use_legacy_sql }}
      use_query_cache = {{ use_query_cache }}
      write_disposition = "{{ write_disposition }}"
      connection_properties {
        key = "{{ key }}"
        value = "{{ value }}"
      }
      default_dataset {
        dataset_id = "{{ dataset_id }}"
        project_id = "{{ project_id }}"
      }
      destination_encryption_configuration {
        kms_key_name = "{{ kms_key_name }}"
      }
      destination_table {
        dataset_id = "{{ dataset_id }}"
        project_id = "{{ project_id }}"
        table_id = "{{ table_id }}"
      }
      script_options {
        key_result_statement = "{{ key_result_statement }}"
        statement_byte_budget = "{{ statement_byte_budget }}"
        statement_timeout_ms = "{{ statement_timeout_ms }}"
      }
      user_defined_function_resources {
        inline_code = "{{ inline_code }}"
        resource_uri = "{{ resource_uri }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
