resource "google_edgenetwork_subnet" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    ipv4_cidr = ["{{ ipv4_cidr }}"]
    ipv6_cidr = ["{{ ipv6_cidr }}"]
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    network = "{{ network }}"
    project = "{{ project }}"
    subnet_id = "{{ subnet_id }}"
    vlan_id = {{ vlan_id }}
    zone = "{{ zone }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
