resource "google_container_analysis_note_iam_binding" "example" {
    id = "{{ id }}"
    members = ["{{ members }}"]
    note = "{{ note }}"
    project = "{{ project }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
