resource "google_document_ai_processor" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    kms_key_name = "{{ kms_key_name }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    type = "{{ type }}"
}