data "google_beyondcorp_app_connector" "example" {
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    principal_info = "{{ principal_info }}"
    project = "{{ project }}"
    region = "{{ region }}"
    state = "{{ state }}"
    terraform_labels = "{{ terraform_labels }}"
}