resource "google_billing_account_iam_binding" "example" {
    billing_account_id = "{{ billing_account_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    members = "{{ members }}"
    role = "{{ role }}"
}