resource "google_iap_web_forwarding_rule_service_iam_member" "example" {
    forwarding_rule_service_name = "{{ forwarding_rule_service_name }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
