resource "google_os_login_ssh_public_key" "example" {
    expiration_time_usec = "{{ expiration_time_usec }}"
    id = "{{ id }}"
    key = "{{ key }}"
    project = "{{ project }}"
    user = "{{ user }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
