resource "google_data_fusion_instance_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    members = "{{ members }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    role = "{{ role }}"
}