resource "google_apphub_service" "example" {
    application_id = "{{ application_id }}"
    description = "{{ description }}"
    discovered_service = "{{ discovered_service }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    service_id = "{{ service_id }}"
    attributes {
      business_owners {
        display_name = "{{ display_name }}"
        email = "{{ email }}"
      }
      criticality {
        type = "{{ type }}"
      }
      developer_owners {
        display_name = "{{ display_name }}"
        email = "{{ email }}"
      }
      environment {
        type = "{{ type }}"
      }
      operator_owners {
        display_name = "{{ display_name }}"
        email = "{{ email }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
