resource "google_bigtable_table_iam_binding" "example" {
    id = "{{ id }}"
    instance_name = "{{ instance_name }}"
    members = ["{{ members }}"]
    project = "{{ project }}"
    role = "{{ role }}"
    table = "{{ table }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
