resource "google_compute_instance_settings" "example" {
    id = "{{ id }}"
    project = "{{ project }}"
    zone = "{{ zone }}"
    metadata {
      items = {
        key = "{{ items_value }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
