data "google_composer_environment" "example" {
    config = "{{ config }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    storage_config = "{{ storage_config }}"
    terraform_labels = "{{ terraform_labels }}"
}