resource "google_data_catalog_taxonomy" "example" {
    activated_policy_types = ["{{ activated_policy_types }}"]
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    project = "{{ project }}"
    region = "{{ region }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
