resource "google_network_services_http_route" "example" {
    description = "{{ description }}"
    gateways = ["{{ gateways }}"]
    hostnames = ["{{ hostnames }}"]
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    meshes = ["{{ meshes }}"]
    name = "{{ name }}"
    project = "{{ project }}"
    rules {
      action {
        timeout = "{{ timeout }}"
        cors_policy {
          allow_credentials = {{ allow_credentials }}
          allow_headers = ["{{ allow_headers }}"]
          allow_methods = ["{{ allow_methods }}"]
          allow_origin_regexes = ["{{ allow_origin_regexes }}"]
          allow_origins = ["{{ allow_origins }}"]
          disabled = {{ disabled }}
          expose_headers = ["{{ expose_headers }}"]
          max_age = "{{ max_age }}"
        }
        destinations {
          service_name = "{{ service_name }}"
          weight = {{ weight }}
        }
        fault_injection_policy {
          abort {
            http_status = {{ http_status }}
            percentage = {{ percentage }}
          }
          delay {
            fixed_delay = "{{ fixed_delay }}"
            percentage = {{ percentage }}
          }
        }
        redirect {
          host_redirect = "{{ host_redirect }}"
          https_redirect = {{ https_redirect }}
          path_redirect = "{{ path_redirect }}"
          port_redirect = {{ port_redirect }}
          prefix_rewrite = "{{ prefix_rewrite }}"
          response_code = "{{ response_code }}"
          strip_query = {{ strip_query }}
        }
        request_header_modifier {
          add = {
        key = "{{ add_value }}"
      }
          remove = ["{{ remove }}"]
          set = {
        key = "{{ set_value }}"
      }
        }
        request_mirror_policy {
          destination {
            service_name = "{{ service_name }}"
            weight = {{ weight }}
          }
        }
        response_header_modifier {
          add = {
        key = "{{ add_value }}"
      }
          remove = ["{{ remove }}"]
          set = {
        key = "{{ set_value }}"
      }
        }
        retry_policy {
          num_retries = {{ num_retries }}
          per_try_timeout = "{{ per_try_timeout }}"
          retry_conditions = ["{{ retry_conditions }}"]
        }
        url_rewrite {
          host_rewrite = "{{ host_rewrite }}"
          path_prefix_rewrite = "{{ path_prefix_rewrite }}"
        }
      }
      matches {
        full_path_match = "{{ full_path_match }}"
        ignore_case = {{ ignore_case }}
        prefix_match = "{{ prefix_match }}"
        regex_match = "{{ regex_match }}"
        headers {
          exact_match = "{{ exact_match }}"
          header = "{{ header }}"
          invert_match = {{ invert_match }}
          prefix_match = "{{ prefix_match }}"
          present_match = {{ present_match }}
          regex_match = "{{ regex_match }}"
          suffix_match = "{{ suffix_match }}"
          range_match {
            end = {{ end }}
            start = {{ start }}
          }
        }
        query_parameters {
          exact_match = "{{ exact_match }}"
          present_match = {{ present_match }}
          query_parameter = "{{ query_parameter }}"
          regex_match = "{{ regex_match }}"
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
