resource "google_access_context_manager_service_perimeter" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    perimeter_type = "{{ perimeter_type }}"
    title = "{{ title }}"
    update_time = "{{ update_time }}"
    use_explicit_dry_run_spec = "{{ use_explicit_dry_run_spec }}"
}