resource "google_apigee_organization" "example" {
    analytics_region = "{{ analytics_region }}"
    api_consumer_data_encryption_key_name = "{{ api_consumer_data_encryption_key_name }}"
    api_consumer_data_location = "{{ api_consumer_data_location }}"
    apigee_project_id = "{{ apigee_project_id }}"
    authorized_network = "{{ authorized_network }}"
    billing_type = "{{ billing_type }}"
    ca_certificate = "{{ ca_certificate }}"
    control_plane_encryption_key_name = "{{ control_plane_encryption_key_name }}"
    description = "{{ description }}"
    disable_vpc_peering = "{{ disable_vpc_peering }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project_id = "{{ project_id }}"
    retention = "{{ retention }}"
    runtime_database_encryption_key_name = "{{ runtime_database_encryption_key_name }}"
    runtime_type = "{{ runtime_type }}"
    subscription_type = "{{ subscription_type }}"
}