resource "google_project_default_service_accounts" "example" {
    action = "{{ action }}"
    id = "{{ id }}"
    project = "{{ project }}"
    restore_policy = "{{ restore_policy }}"
    service_accounts = "{{ service_accounts }}"
}