data "google_compute_router_nat" "example" {
    auto_network_tier = "{{ auto_network_tier }}"
    drain_nat_ips = "{{ drain_nat_ips }}"
    enable_dynamic_port_allocation = "{{ enable_dynamic_port_allocation }}"
    enable_endpoint_independent_mapping = "{{ enable_endpoint_independent_mapping }}"
    endpoint_types = "{{ endpoint_types }}"
    icmp_idle_timeout_sec = "{{ icmp_idle_timeout_sec }}"
    id = "{{ id }}"
    initial_nat_ips = "{{ initial_nat_ips }}"
    log_config = "{{ log_config }}"
    max_ports_per_vm = "{{ max_ports_per_vm }}"
    min_ports_per_vm = "{{ min_ports_per_vm }}"
    name = "{{ name }}"
    nat_ip_allocate_option = "{{ nat_ip_allocate_option }}"
    nat_ips = "{{ nat_ips }}"
    project = "{{ project }}"
    region = "{{ region }}"
    router = "{{ router }}"
    rules = "{{ rules }}"
    source_subnetwork_ip_ranges_to_nat = "{{ source_subnetwork_ip_ranges_to_nat }}"
    subnetwork = "{{ subnetwork }}"
    tcp_established_idle_timeout_sec = "{{ tcp_established_idle_timeout_sec }}"
    tcp_time_wait_timeout_sec = "{{ tcp_time_wait_timeout_sec }}"
    tcp_transitory_idle_timeout_sec = "{{ tcp_transitory_idle_timeout_sec }}"
    udp_idle_timeout_sec = "{{ udp_idle_timeout_sec }}"
}