resource "google_tags_tag_key" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespaced_name = "{{ namespaced_name }}"
    parent = "{{ parent }}"
    purpose = "{{ purpose }}"
    purpose_data = "{{ purpose_data }}"
    short_name = "{{ short_name }}"
    update_time = "{{ update_time }}"
}