resource "google_vertex_ai_tensorboard" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    project = "{{ project }}"
    region = "{{ region }}"
    encryption_spec {
      kms_key_name = "{{ kms_key_name }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
