data "google_compute_image" "example" {
    archive_size_bytes = "{{ archive_size_bytes }}"
    creation_timestamp = "{{ creation_timestamp }}"
    description = "{{ description }}"
    disk_size_gb = "{{ disk_size_gb }}"
    family = "{{ family }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    image_encryption_key_sha256 = "{{ image_encryption_key_sha256 }}"
    image_id = "{{ image_id }}"
    label_fingerprint = "{{ label_fingerprint }}"
    labels = "{{ labels }}"
    licenses = "{{ licenses }}"
    most_recent = "{{ most_recent }}"
    name = "{{ name }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    source_disk = "{{ source_disk }}"
    source_disk_encryption_key_sha256 = "{{ source_disk_encryption_key_sha256 }}"
    source_disk_id = "{{ source_disk_id }}"
    source_image_id = "{{ source_image_id }}"
    status = "{{ status }}"
}