resource "google_dataplex_aspect_type_iam_member" "example" {
    aspect_type_id = "{{ aspect_type_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
}