resource "google_firebaserules_ruleset" "example" {
    id = "{{ id }}"
    project = "{{ project }}"
    source {
      language = "{{ language }}"
      files {
        content = "{{ content }}"
        fingerprint = "{{ fingerprint }}"
        name = "{{ name }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
