resource "google_bigquery_bi_reservation" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    size = "{{ size }}"
    update_time = "{{ update_time }}"
}