resource "google_scc_v2_organization_source_iam_member" "example" {
    id = "{{ id }}"
    member = "{{ member }}"
    organization = "{{ organization }}"
    role = "{{ role }}"
    source = "{{ source }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
