resource "google_datastream_connection_profile" "example" {
    connection_profile_id = "{{ connection_profile_id }}"
    create_without_validation = "{{ create_without_validation }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
}