resource "google_dataproc_metastore_service" "example" {
    artifact_gcs_uri = "{{ artifact_gcs_uri }}"
    database_type = "{{ database_type }}"
    deletion_protection = "{{ deletion_protection }}"
    effective_labels = "{{ effective_labels }}"
    endpoint_uri = "{{ endpoint_uri }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    network = "{{ network }}"
    port = "{{ port }}"
    project = "{{ project }}"
    release_channel = "{{ release_channel }}"
    service_id = "{{ service_id }}"
    state = "{{ state }}"
    state_message = "{{ state_message }}"
    terraform_labels = "{{ terraform_labels }}"
    tier = "{{ tier }}"
    uid = "{{ uid }}"
}