resource "google_cloud_asset_folder_feed" "example" {
    asset_names = "{{ asset_names }}"
    asset_types = "{{ asset_types }}"
    billing_project = "{{ billing_project }}"
    content_type = "{{ content_type }}"
    feed_id = "{{ feed_id }}"
    folder = "{{ folder }}"
    folder_id = "{{ folder_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
}