resource "google_compute_region_target_https_proxy" "example" {
    certificate_manager_certificates = ["{{ certificate_manager_certificates }}"]
    description = "{{ description }}"
    http_keep_alive_timeout_sec = {{ http_keep_alive_timeout_sec }}
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    server_tls_policy = "{{ server_tls_policy }}"
    ssl_certificates = ["{{ ssl_certificates }}"]
    ssl_policy = "{{ ssl_policy }}"
    url_map = "{{ url_map }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
