resource "google_beyondcorp_app_connection" "example" {
    connectors = "{{ connectors }}"
    display_name = "{{ display_name }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    terraform_labels = "{{ terraform_labels }}"
    type = "{{ type }}"
}