resource "google_pubsub_topic_iam_binding" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    members = "{{ members }}"
    project = "{{ project }}"
    role = "{{ role }}"
    topic = "{{ topic }}"
}