resource "google_gke_hub_membership" "example" {
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    membership_id = "{{ membership_id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    terraform_labels = "{{ terraform_labels }}"
}