resource "google_secure_source_manager_repository" "example" {
    deletion_policy = "{{ deletion_policy }}"
    description = "{{ description }}"
    id = "{{ id }}"
    instance = "{{ instance }}"
    location = "{{ location }}"
    project = "{{ project }}"
    repository_id = "{{ repository_id }}"
    initial_config {
      default_branch = "{{ default_branch }}"
      gitignores = ["{{ gitignores }}"]
      license = "{{ license }}"
      readme = "{{ readme }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
