data "google_cloud_run_v2_job" "example" {
    annotations = "{{ annotations }}"
    binary_authorization = "{{ binary_authorization }}"
    client = "{{ client }}"
    client_version = "{{ client_version }}"
    conditions = "{{ conditions }}"
    create_time = "{{ create_time }}"
    creator = "{{ creator }}"
    delete_time = "{{ delete_time }}"
    deletion_protection = "{{ deletion_protection }}"
    effective_annotations = "{{ effective_annotations }}"
    effective_labels = "{{ effective_labels }}"
    etag = "{{ etag }}"
    execution_count = "{{ execution_count }}"
    expire_time = "{{ expire_time }}"
    generation = "{{ generation }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    last_modifier = "{{ last_modifier }}"
    latest_created_execution = "{{ latest_created_execution }}"
    launch_stage = "{{ launch_stage }}"
    location = "{{ location }}"
    name = "{{ name }}"
    observed_generation = "{{ observed_generation }}"
    project = "{{ project }}"
    reconciling = "{{ reconciling }}"
    template = "{{ template }}"
    terminal_condition = "{{ terminal_condition }}"
    terraform_labels = "{{ terraform_labels }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}