resource "google_logging_log_scope" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    resource_names = ["{{ resource_names }}"]
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
