resource "google_securityposture_posture_deployment" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    desired_posture_id = "{{ desired_posture_id }}"
    desired_posture_revision_id = "{{ desired_posture_revision_id }}"
    etag = "{{ etag }}"
    failure_message = "{{ failure_message }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    posture_deployment_id = "{{ posture_deployment_id }}"
    posture_id = "{{ posture_id }}"
    posture_revision_id = "{{ posture_revision_id }}"
    reconciling = "{{ reconciling }}"
    state = "{{ state }}"
    target_resource = "{{ target_resource }}"
    update_time = "{{ update_time }}"
}