resource "google_monitoring_group" "example" {
    display_name = "{{ display_name }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    is_cluster = "{{ is_cluster }}"
    name = "{{ name }}"
    parent_name = "{{ parent_name }}"
    project = "{{ project }}"
}