resource "google_dataplex_entry_group_iam_member" "example" {
    entry_group_id = "{{ entry_group_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
}