resource "google_cloud_run_service" "example" {
    autogenerate_revision_name = "{{ autogenerate_revision_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    status = "{{ status }}"
}