data "google_oracle_database_autonomous_database" "example" {
    autonomous_database_id = "{{ autonomous_database_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
}
