resource "google_scc_v2_project_mute_config" "example" {
    description = "{{ description }}"
    filter = "{{ filter }}"
    id = "{{ id }}"
    location = "{{ location }}"
    mute_config_id = "{{ mute_config_id }}"
    project = "{{ project }}"
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
