resource "google_compute_ha_vpn_gateway" "example" {
    description = "{{ description }}"
    gateway_ip_version = "{{ gateway_ip_version }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    region = "{{ region }}"
    stack_type = "{{ stack_type }}"
    params {
      resource_manager_tags = {
        key = "{{ resource_manager_tags_value }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    vpn_interfaces {
      id = {{ id }}
      interconnect_attachment = "{{ interconnect_attachment }}"
    }
}
