resource "google_bigquery_table" "example" {
    clustering = "{{ clustering }}"
    creation_time = "{{ creation_time }}"
    dataset_id = "{{ dataset_id }}"
    deletion_protection = "{{ deletion_protection }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    etag = "{{ etag }}"
    expiration_time = "{{ expiration_time }}"
    friendly_name = "{{ friendly_name }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    last_modified_time = "{{ last_modified_time }}"
    location = "{{ location }}"
    max_staleness = "{{ max_staleness }}"
    num_bytes = "{{ num_bytes }}"
    num_long_term_bytes = "{{ num_long_term_bytes }}"
    num_rows = "{{ num_rows }}"
    project = "{{ project }}"
    require_partition_filter = "{{ require_partition_filter }}"
    resource_tags = "{{ resource_tags }}"
    schema = "{{ schema }}"
    self_link = "{{ self_link }}"
    table_id = "{{ table_id }}"
    terraform_labels = "{{ terraform_labels }}"
    type = "{{ type }}"
}