resource "google_edgenetwork_network" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    mtu = {{ mtu }}
    network_id = "{{ network_id }}"
    project = "{{ project }}"
    zone = "{{ zone }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
