resource "google_firebase_app_check_device_check_config" "example" {
    app_id = "{{ app_id }}"
    id = "{{ id }}"
    key_id = "{{ key_id }}"
    name = "{{ name }}"
    private_key = "{{ private_key }}"
    private_key_set = "{{ private_key_set }}"
    project = "{{ project }}"
    token_ttl = "{{ token_ttl }}"
}