resource "google_dataplex_entry_type_iam_policy" "example" {
    entry_type_id = "{{ entry_type_id }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}