resource "google_gke_hub_scope_iam_member" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    role = "{{ role }}"
    scope_id = "{{ scope_id }}"
}