resource "google_gke_backup_backup_plan" "example" {
    cluster = "{{ cluster }}"
    deactivated = {{ deactivated }}
    description = "{{ description }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    backup_config {
      all_namespaces = {{ all_namespaces }}
      include_secrets = {{ include_secrets }}
      include_volume_data = {{ include_volume_data }}
      permissive_mode = {{ permissive_mode }}
      encryption_key {
        gcp_kms_encryption_key = "{{ gcp_kms_encryption_key }}"
      }
      selected_applications {
        namespaced_names {
          name = "{{ name }}"
          namespace = "{{ namespace }}"
        }
      }
      selected_namespace_labels {
        resource_labels {
          key = "{{ key }}"
          value = "{{ value }}"
        }
      }
      selected_namespaces {
        namespaces = ["{{ namespaces }}"]
      }
    }
    backup_schedule {
      cron_schedule = "{{ cron_schedule }}"
      paused = {{ paused }}
      rpo_config {
        target_rpo_minutes = {{ target_rpo_minutes }}
        exclusion_windows {
          daily = {{ daily }}
          duration = "{{ duration }}"
          days_of_week {
            days_of_week = ["{{ days_of_week }}"]
          }
          single_occurrence_date {
            day = {{ day }}
            month = {{ month }}
            year = {{ year }}
          }
          start_time {
            hours = {{ hours }}
            minutes = {{ minutes }}
            nanos = {{ nanos }}
            seconds = {{ seconds }}
          }
        }
      }
    }
    retention_policy {
      backup_delete_lock_days = {{ backup_delete_lock_days }}
      backup_retain_days = {{ backup_retain_days }}
      locked = {{ locked }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
