resource "google_dataproc_metastore_federation_iam_policy" "example" {
    etag = "{{ etag }}"
    federation_id = "{{ federation_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
}