resource "google_bigquery_bi_reservation" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    size = {{ size }}
    preferred_tables {
      dataset_id = "{{ dataset_id }}"
      project_id = "{{ project_id }}"
      table_id = "{{ table_id }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
