data "google_iam_workload_identity_pool_provider" "example" {
    id = "{{ id }}"
    project = "{{ project }}"
    workload_identity_pool_id = "{{ workload_identity_pool_id }}"
    workload_identity_pool_provider_id = "{{ workload_identity_pool_provider_id }}"
}
