resource "google_developer_connect_git_repository_link" "example" {
    annotations = {
        key = "{{ annotations_value }}"
      }
    clone_uri = "{{ clone_uri }}"
    etag = "{{ etag }}"
    git_repository_link_id = "{{ git_repository_link_id }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    location = "{{ location }}"
    parent_connection = "{{ parent_connection }}"
    project = "{{ project }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
