resource "google_storage_transfer_agent_pool" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    bandwidth_limit {
      limit_mbps = "{{ limit_mbps }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
