resource "google_vmwareengine_network_policy" "example" {
    description = "{{ description }}"
    edge_services_cidr = "{{ edge_services_cidr }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    vmware_engine_network = "{{ vmware_engine_network }}"
    external_ip {
      enabled = {{ enabled }}
    }
    internet_access {
      enabled = {{ enabled }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
