data "google_compute_instance_group" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    instances = "{{ instances }}"
    name = "{{ name }}"
    named_port = "{{ named_port }}"
    network = "{{ network }}"
    project = "{{ project }}"
    self_link = "{{ self_link }}"
    size = "{{ size }}"
    zone = "{{ zone }}"
}