resource "google_container_cluster" "example" {
    allow_net_admin = "{{ allow_net_admin }}"
    cluster_ipv4_cidr = "{{ cluster_ipv4_cidr }}"
    datapath_provider = "{{ datapath_provider }}"
    default_max_pods_per_node = "{{ default_max_pods_per_node }}"
    deletion_protection = "{{ deletion_protection }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    enable_autopilot = "{{ enable_autopilot }}"
    enable_cilium_clusterwide_network_policy = "{{ enable_cilium_clusterwide_network_policy }}"
    enable_intranode_visibility = "{{ enable_intranode_visibility }}"
    enable_kubernetes_alpha = "{{ enable_kubernetes_alpha }}"
    enable_l4_ilb_subsetting = "{{ enable_l4_ilb_subsetting }}"
    enable_legacy_abac = "{{ enable_legacy_abac }}"
    enable_multi_networking = "{{ enable_multi_networking }}"
    enable_shielded_nodes = "{{ enable_shielded_nodes }}"
    enable_tpu = "{{ enable_tpu }}"
    endpoint = "{{ endpoint }}"
    id = "{{ id }}"
    initial_node_count = "{{ initial_node_count }}"
    label_fingerprint = "{{ label_fingerprint }}"
    location = "{{ location }}"
    logging_service = "{{ logging_service }}"
    master_version = "{{ master_version }}"
    min_master_version = "{{ min_master_version }}"
    monitoring_service = "{{ monitoring_service }}"
    name = "{{ name }}"
    network = "{{ network }}"
    networking_mode = "{{ networking_mode }}"
    node_locations = "{{ node_locations }}"
    node_version = "{{ node_version }}"
    operation = "{{ operation }}"
    private_ipv6_google_access = "{{ private_ipv6_google_access }}"
    project = "{{ project }}"
    remove_default_node_pool = "{{ remove_default_node_pool }}"
    resource_labels = "{{ resource_labels }}"
    self_link = "{{ self_link }}"
    services_ipv4_cidr = "{{ services_ipv4_cidr }}"
    subnetwork = "{{ subnetwork }}"
    terraform_labels = "{{ terraform_labels }}"
    tpu_ipv4_cidr_block = "{{ tpu_ipv4_cidr_block }}"
}