resource "google_managed_kafka_topic" "example" {
    cluster = "{{ cluster }}"
    configs = {
        key = "{{ configs_value }}"
      }
    id = "{{ id }}"
    location = "{{ location }}"
    partition_count = {{ partition_count }}
    project = "{{ project }}"
    replication_factor = {{ replication_factor }}
    topic_id = "{{ topic_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
