resource "google_netapp_volume" "example" {
    active_directory = "{{ active_directory }}"
    capacity_gib = "{{ capacity_gib }}"
    cold_tier_size_gib = "{{ cold_tier_size_gib }}"
    create_time = "{{ create_time }}"
    deletion_policy = "{{ deletion_policy }}"
    description = "{{ description }}"
    effective_labels = "{{ effective_labels }}"
    encryption_type = "{{ encryption_type }}"
    has_replication = "{{ has_replication }}"
    id = "{{ id }}"
    kerberos_enabled = "{{ kerberos_enabled }}"
    kms_config = "{{ kms_config }}"
    labels = "{{ labels }}"
    large_capacity = "{{ large_capacity }}"
    ldap_enabled = "{{ ldap_enabled }}"
    location = "{{ location }}"
    mount_options = "{{ mount_options }}"
    multiple_endpoints = "{{ multiple_endpoints }}"
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    protocols = "{{ protocols }}"
    psa_range = "{{ psa_range }}"
    replica_zone = "{{ replica_zone }}"
    restricted_actions = "{{ restricted_actions }}"
    security_style = "{{ security_style }}"
    service_level = "{{ service_level }}"
    share_name = "{{ share_name }}"
    smb_settings = "{{ smb_settings }}"
    snapshot_directory = "{{ snapshot_directory }}"
    state = "{{ state }}"
    state_details = "{{ state_details }}"
    storage_pool = "{{ storage_pool }}"
    terraform_labels = "{{ terraform_labels }}"
    unix_permissions = "{{ unix_permissions }}"
    used_gib = "{{ used_gib }}"
    zone = "{{ zone }}"
}