data "google_artifact_registry_repository_iam_policy" "example" {
    etag = "{{ etag }}"
    id = "{{ id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    project = "{{ project }}"
    repository = "{{ repository }}"
}