data "google_storage_transfer_project_service_account" "example" {
    email = "{{ email }}"
    id = "{{ id }}"
    member = "{{ member }}"
    project = "{{ project }}"
    subject_id = "{{ subject_id }}"
}