resource "google_cloudbuild_worker_pool" "example" {
    annotations = "{{ annotations }}"
    create_time = "{{ create_time }}"
    delete_time = "{{ delete_time }}"
    display_name = "{{ display_name }}"
    effective_annotations = "{{ effective_annotations }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    project = "{{ project }}"
    state = "{{ state }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}