resource "google_iam_workforce_pool_iam_policy" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    policy_data = "{{ policy_data }}"
    workforce_pool_id = "{{ workforce_pool_id }}"
}
