data "google_artifact_registry_maven_artifact" "example" {
    artifact_id = "{{ artifact_id }}"
    group_id = "{{ group_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    project = "{{ project }}"
    repository_id = "{{ repository_id }}"
}
