resource "google_notebooks_environment" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    post_startup_script = "{{ post_startup_script }}"
    project = "{{ project }}"
    container_image {
      repository = "{{ repository }}"
      tag = "{{ tag }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    vm_image {
      image_family = "{{ image_family }}"
      image_name = "{{ image_name }}"
      project = "{{ project }}"
    }
}
