resource "google_compute_address" "example" {
    address = "{{ address }}"
    address_type = "{{ address_type }}"
    description = "{{ description }}"
    id = "{{ id }}"
    ip_collection = "{{ ip_collection }}"
    ip_version = "{{ ip_version }}"
    ipv6_endpoint_type = "{{ ipv6_endpoint_type }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    network = "{{ network }}"
    network_tier = "{{ network_tier }}"
    prefix_length = {{ prefix_length }}
    project = "{{ project }}"
    purpose = "{{ purpose }}"
    region = "{{ region }}"
    subnetwork = "{{ subnetwork }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
