resource "google_vertex_ai_index_endpoint_deployed_index" "example" {
    create_time = "{{ create_time }}"
    deployed_index_id = "{{ deployed_index_id }}"
    deployment_group = "{{ deployment_group }}"
    display_name = "{{ display_name }}"
    enable_access_logging = "{{ enable_access_logging }}"
    id = "{{ id }}"
    index = "{{ index }}"
    index_endpoint = "{{ index_endpoint }}"
    index_sync_time = "{{ index_sync_time }}"
    name = "{{ name }}"
    private_endpoints = "{{ private_endpoints }}"
    reserved_ip_ranges = "{{ reserved_ip_ranges }}"
}