resource "google_vertex_ai_feature_group" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    labels = {
        key = "{{ labels_value }}"
      }
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    big_query {
      entity_id_columns = ["{{ entity_id_columns }}"]
      big_query_source {
        input_uri = "{{ input_uri }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
