resource "google_dialogflow_cx_version" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    nlu_settings = "{{ nlu_settings }}"
    parent = "{{ parent }}"
    state = "{{ state }}"
}