resource "google_kms_key_ring_iam_member" "example" {
    id = "{{ id }}"
    key_ring_id = "{{ key_ring_id }}"
    member = "{{ member }}"
    role = "{{ role }}"
    condition {
      description = "{{ description }}"
      expression = "{{ expression }}"
      title = "{{ title }}"
    }
}
