resource "google_dataproc_gdc_application_environment" "example" {
    annotations = "{{ annotations }}"
    application_environment_id = "{{ application_environment_id }}"
    create_time = "{{ create_time }}"
    display_name = "{{ display_name }}"
    effective_annotations = "{{ effective_annotations }}"
    effective_labels = "{{ effective_labels }}"
    id = "{{ id }}"
    labels = "{{ labels }}"
    location = "{{ location }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    project = "{{ project }}"
    serviceinstance = "{{ serviceinstance }}"
    terraform_labels = "{{ terraform_labels }}"
    uid = "{{ uid }}"
    update_time = "{{ update_time }}"
}