resource "google_vpc_access_connector" "example" {
    id = "{{ id }}"
    ip_cidr_range = "{{ ip_cidr_range }}"
    machine_type = "{{ machine_type }}"
    max_instances = {{ max_instances }}
    max_throughput = {{ max_throughput }}
    min_instances = {{ min_instances }}
    min_throughput = {{ min_throughput }}
    name = "{{ name }}"
    network = "{{ network }}"
    project = "{{ project }}"
    region = "{{ region }}"
    subnet {
      name = "{{ name }}"
      project_id = "{{ project_id }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
