resource "google_data_catalog_tag_template" "example" {
    display_name = "{{ display_name }}"
    force_delete = "{{ force_delete }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    region = "{{ region }}"
    tag_template_id = "{{ tag_template_id }}"
}