resource "google_vmwareengine_external_address" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    internal_ip = "{{ internal_ip }}"
    name = "{{ name }}"
    parent = "{{ parent }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
