resource "google_securityposture_posture_deployment" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    parent = "{{ parent }}"
    posture_deployment_id = "{{ posture_deployment_id }}"
    posture_id = "{{ posture_id }}"
    posture_revision_id = "{{ posture_revision_id }}"
    target_resource = "{{ target_resource }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
