resource "awscc_iot_software_package_version" "example" {
    artifact = "{{ artifact }}"
    attributes = {
        key = "{{ attributes_value }}"
      }
    description = "{{ description }}"
    package_name = "{{ package_name }}"
    recipe = "{{ recipe }}"
    sbom = "{{ sbom }}"
    tags = "{{ tags }}"
    version_name = "{{ version_name }}"
}
