resource "awscc_connect_data_table" "example" {
    description = "{{ description }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    time_zone = "{{ time_zone }}"
    value_lock_level = "{{ value_lock_level }}"
}
