resource "awscc_datasync_agent" "example" {
    activation_key = "{{ activation_key }}"
    agent_name = "{{ agent_name }}"
    security_group_arns = ["{{ security_group_arns }}"]
    subnet_arns = ["{{ subnet_arns }}"]
    tags = "{{ tags }}"
    vpc_endpoint_id = "{{ vpc_endpoint_id }}"
}
