resource "awscc_kendra_index" "example" {
    capacity_units = "{{ capacity_units }}"
    description = "{{ description }}"
    document_metadata_configurations = "{{ document_metadata_configurations }}"
    edition = "{{ edition }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    server_side_encryption_configuration = "{{ server_side_encryption_configuration }}"
    tags = "{{ tags }}"
    user_context_policy = "{{ user_context_policy }}"
    user_token_configurations = "{{ user_token_configurations }}"
}
