resource "awscc_datasync_location_smb" "example" {
    agent_arns = "{{ agent_arns }}"
    domain = "{{ domain }}"
    id = "{{ id }}"
    location_arn = "{{ location_arn }}"
    location_uri = "{{ location_uri }}"
    mount_options = "{
    version = {{ version }}
}"
    password = "{{ password }}"
    server_hostname = "{{ server_hostname }}"
    subdirectory = "{{ subdirectory }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    user = "{{ user }}"
}