resource "awscc_medialive_cluster" "example" {
    cluster_type = "{{ cluster_type }}"
    instance_role_arn = "{{ instance_role_arn }}"
    name = "{{ name }}"
    network_settings = "{{ network_settings }}"
    tags = "{{ tags }}"
}
