resource "awscc_backup_framework" "example" {
    framework_controls = "{{ framework_controls }}"
    framework_description = "{{ framework_description }}"
    framework_name = "{{ framework_name }}"
    framework_tags = "{{ framework_tags }}"
}
