resource "awscc_kafkaconnect_custom_plugin" "example" {
    content_type = "{{ content_type }}"
    description = "{{ description }}"
    location = "{{ location }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
