resource "awscc_appflow_connector_profile" "example" {
    connection_mode = "{{ connection_mode }}"
    connector_label = "{{ connector_label }}"
    connector_profile_config = "{{ connector_profile_config }}"
    connector_profile_name = "{{ connector_profile_name }}"
    connector_type = "{{ connector_type }}"
    kms_arn = "{{ kms_arn }}"
}
