resource "awscc_lambda_code_signing_config" "example" {
    allowed_publishers = "{{ allowed_publishers }}"
    code_signing_policies = "{{ code_signing_policies }}"
    description = "{{ description }}"
    tags = "{{ tags }}"
}
