resource "awscc_elasticache_user" "example" {
    access_string = "{{ access_string }}"
    authentication_mode = "{{ authentication_mode }}"
    engine = "{{ engine }}"
    no_password_required = {{ no_password_required }}
    passwords = ["{{ passwords }}"]
    tags = "{{ tags }}"
    user_id = "{{ user_id }}"
    user_name = "{{ user_name }}"
}
