data "awscc_wisdom_ai_agent_version" "example" {
    ai_agent_arn = "{{ ai_agent_arn }}"
    ai_agent_id = "{{ ai_agent_id }}"
    ai_agent_version_id = "{{ ai_agent_version_id }}"
    assistant_arn = "{{ assistant_arn }}"
    assistant_id = "{{ assistant_id }}"
    id = "{{ id }}"
    modified_time_seconds = "{{ modified_time_seconds }}"
    version_number = "{{ version_number }}"
}