resource "awscc_iotwireless_task_definition" "example" {
    auto_create_tasks = {{ auto_create_tasks }}
    lo_ra_wan_update_gateway_task_entry = "{{ lo_ra_wan_update_gateway_task_entry }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    task_definition_type = "{{ task_definition_type }}"
    update = "{{ update }}"
}
