resource "awscc_billing_billing_view" "example" {
    data_filter_expression = "{{ data_filter_expression }}"
    description = "{{ description }}"
    name = "{{ name }}"
    source_views = ["{{ source_views }}"]
    tags = "{{ tags }}"
}
