resource "awscc_iot_role_alias" "example" {
    credential_duration_seconds = {{ credential_duration_seconds }}
    role_alias = "{{ role_alias }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
}
