resource "awscc_cloudtrail_event_data_store" "example" {
    advanced_event_selectors = "{{ advanced_event_selectors }}"
    billing_mode = "{{ billing_mode }}"
    context_key_selectors = "{{ context_key_selectors }}"
    federation_enabled = {{ federation_enabled }}
    federation_role_arn = "{{ federation_role_arn }}"
    ingestion_enabled = {{ ingestion_enabled }}
    insight_selectors = "{{ insight_selectors }}"
    insights_destination = "{{ insights_destination }}"
    kms_key_id = "{{ kms_key_id }}"
    max_event_size = "{{ max_event_size }}"
    multi_region_enabled = {{ multi_region_enabled }}
    name = "{{ name }}"
    organization_enabled = {{ organization_enabled }}
    retention_period = {{ retention_period }}
    tags = "{{ tags }}"
    termination_protection_enabled = {{ termination_protection_enabled }}
}
