resource "awscc_codebuild_fleet" "example" {
    base_capacity = {{ base_capacity }}
    compute_configuration = "{{ compute_configuration }}"
    compute_type = "{{ compute_type }}"
    environment_type = "{{ environment_type }}"
    fleet_proxy_configuration = "{{ fleet_proxy_configuration }}"
    fleet_service_role = "{{ fleet_service_role }}"
    fleet_vpc_config = "{{ fleet_vpc_config }}"
    image_id = "{{ image_id }}"
    name = "{{ name }}"
    overflow_behavior = "{{ overflow_behavior }}"
    scaling_configuration = "{{ scaling_configuration }}"
    tags = "{{ tags }}"
}
