resource "awscc_cassandra_table" "example" {
    auto_scaling_specifications = "{{ auto_scaling_specifications }}"
    billing_mode = "{{ billing_mode }}"
    cdc_specification = "{{ cdc_specification }}"
    client_side_timestamps_enabled = {{ client_side_timestamps_enabled }}
    clustering_key_columns = "{{ clustering_key_columns }}"
    default_time_to_live = {{ default_time_to_live }}
    encryption_specification = "{{ encryption_specification }}"
    keyspace_name = "{{ keyspace_name }}"
    partition_key_columns = "{{ partition_key_columns }}"
    point_in_time_recovery_enabled = {{ point_in_time_recovery_enabled }}
    regular_columns = "{{ regular_columns }}"
    replica_specifications = "{{ replica_specifications }}"
    table_name = "{{ table_name }}"
    tags = "{{ tags }}"
    warm_throughput = "{{ warm_throughput }}"
}
