resource "awscc_bedrock_agent" "example" {
    action_groups = "{{ action_groups }}"
    agent_collaboration = "{{ agent_collaboration }}"
    agent_collaborators = "{{ agent_collaborators }}"
    agent_name = "{{ agent_name }}"
    agent_resource_role_arn = "{{ agent_resource_role_arn }}"
    auto_prepare = {{ auto_prepare }}
    custom_orchestration = "{{ custom_orchestration }}"
    customer_encryption_key_arn = "{{ customer_encryption_key_arn }}"
    description = "{{ description }}"
    foundation_model = "{{ foundation_model }}"
    guardrail_configuration = "{{ guardrail_configuration }}"
    idle_session_ttl_in_seconds = {{ idle_session_ttl_in_seconds }}
    instruction = "{{ instruction }}"
    knowledge_bases = "{{ knowledge_bases }}"
    memory_configuration = "{{ memory_configuration }}"
    orchestration_type = "{{ orchestration_type }}"
    prompt_override_configuration = "{{ prompt_override_configuration }}"
    skip_resource_in_use_check_on_delete = {{ skip_resource_in_use_check_on_delete }}
    tags = {
        key = "{{ tags_value }}"
      }
    test_alias_tags = {
        key = "{{ test_alias_tags_value }}"
      }
}
