resource "awscc_securityhub_organization_configuration" "example" {
    auto_enable = {{ auto_enable }}
    auto_enable_standards = "{{ auto_enable_standards }}"
    configuration_type = "{{ configuration_type }}"
}
