data "awscc_sagemaker_data_quality_job_definition" "example" {
    creation_time = "{{ creation_time }}"
    data_quality_app_specification = "{
    container_arguments = {{ container_arguments }}
    container_entrypoint = {{ container_entrypoint }}
    environment = {{ environment }}
    image_uri = {{ image_uri }}
    post_analytics_processor_source_uri = {{ post_analytics_processor_source_uri }}
    record_preprocessor_source_uri = {{ record_preprocessor_source_uri }}
}"
    data_quality_baseline_config = "{
    baselining_job_name = {{ baselining_job_name }}
    constraints_resource = {
    s3_uri = {{ s3_uri }}
}
    statistics_resource = {
    s3_uri = {{ s3_uri }}
}
}"
    data_quality_job_input = "{
    batch_transform_input = {
    data_captured_destination_s3_uri = {{ data_captured_destination_s3_uri }}
    dataset_format = {
    csv = {
    header = {{ header }}
}
    json = {
    line = {{ line }}
}
    parquet = {{ parquet }}
}
    exclude_features_attribute = {{ exclude_features_attribute }}
    local_path = {{ local_path }}
    s3_data_distribution_type = {{ s3_data_distribution_type }}
    s3_input_mode = {{ s3_input_mode }}
}
    endpoint_input = {
    endpoint_name = {{ endpoint_name }}
    exclude_features_attribute = {{ exclude_features_attribute }}
    local_path = {{ local_path }}
    s3_data_distribution_type = {{ s3_data_distribution_type }}
    s3_input_mode = {{ s3_input_mode }}
}
}"
    data_quality_job_output_config = "{
    kms_key_id = {{ kms_key_id }}
    monitoring_outputs = {
    s3_output = {
    local_path = {{ local_path }}
    s3_upload_mode = {{ s3_upload_mode }}
    s3_uri = {{ s3_uri }}
}
}
}"
    endpoint_name = "{{ endpoint_name }}"
    id = "{{ id }}"
    job_definition_arn = "{{ job_definition_arn }}"
    job_definition_name = "{{ job_definition_name }}"
    job_resources = "{
    cluster_config = {
    instance_count = {{ instance_count }}
    instance_type = {{ instance_type }}
    volume_kms_key_id = {{ volume_kms_key_id }}
    volume_size_in_gb = {{ volume_size_in_gb }}
}
}"
    network_config = "{
    enable_inter_container_traffic_encryption = {{ enable_inter_container_traffic_encryption }}
    enable_network_isolation = {{ enable_network_isolation }}
    vpc_config = {
    security_group_ids = {{ security_group_ids }}
    subnets = {{ subnets }}
}
}"
    role_arn = "{{ role_arn }}"
    stopping_condition = "{
    max_runtime_in_seconds = {{ max_runtime_in_seconds }}
}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}