resource "awscc_connectcampaignsv2_campaign" "example" {
    channel_subtype_config = "{{ channel_subtype_config }}"
    communication_limits_override = "{{ communication_limits_override }}"
    communication_time_config = "{{ communication_time_config }}"
    connect_campaign_flow_arn = "{{ connect_campaign_flow_arn }}"
    connect_instance_id = "{{ connect_instance_id }}"
    entry_limits_config = "{{ entry_limits_config }}"
    name = "{{ name }}"
    schedule = "{{ schedule }}"
    source = "{{ source }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
}
