data "awscc_wisdom_knowledge_base" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    knowledge_base_arn = "{{ knowledge_base_arn }}"
    knowledge_base_id = "{{ knowledge_base_id }}"
    knowledge_base_type = "{{ knowledge_base_type }}"
    name = "{{ name }}"
    rendering_configuration = "{
    template_uri = {{ template_uri }}
}"
    server_side_encryption_configuration = "{
    kms_key_id = {{ kms_key_id }}
}"
    source_configuration = "{
    app_integrations = {
    app_integration_arn = {{ app_integration_arn }}
    object_fields = {{ object_fields }}
}
    managed_source_configuration = {
    web_crawler_configuration = {
    crawler_limits = {
    rate_limit = {{ rate_limit }}
}
    exclusion_filters = {{ exclusion_filters }}
    inclusion_filters = {{ inclusion_filters }}
    scope = {{ scope }}
    url_configuration = {
    seed_urls = {
    url = {{ url }}
}
}
}
}
}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    vector_ingestion_configuration = "{
    chunking_configuration = {
    chunking_strategy = {{ chunking_strategy }}
    fixed_size_chunking_configuration = {
    max_tokens = {{ max_tokens }}
    overlap_percentage = {{ overlap_percentage }}
}
    hierarchical_chunking_configuration = {
    level_configurations = {
    max_tokens = {{ max_tokens }}
}
    overlap_tokens = {{ overlap_tokens }}
}
    semantic_chunking_configuration = {
    breakpoint_percentile_threshold = {{ breakpoint_percentile_threshold }}
    buffer_size = {{ buffer_size }}
    max_tokens = {{ max_tokens }}
}
}
    parsing_configuration = {
    bedrock_foundation_model_configuration = {
    model_arn = {{ model_arn }}
    parsing_prompt = {
    parsing_prompt_text = {{ parsing_prompt_text }}
}
}
    parsing_strategy = {{ parsing_strategy }}
}
}"
}