resource "awscc_transfer_web_app" "example" {
    access_endpoint = "{{ access_endpoint }}"
    endpoint_details = "{{ endpoint_details }}"
    identity_provider_details = "{{ identity_provider_details }}"
    tags = "{{ tags }}"
    web_app_customization = "{{ web_app_customization }}"
    web_app_endpoint_policy = "{{ web_app_endpoint_policy }}"
    web_app_units = "{{ web_app_units }}"
}
