data "awscc_robomaker_robot_application_version" "example" {
    application = "{{ application }}"
    application_version = "{{ application_version }}"
    arn = "{{ arn }}"
    current_revision_id = "{{ current_revision_id }}"
    id = "{{ id }}"
}