data "awscc_connect_user_hierarchy_group" "example" {
    id = "{{ id }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    parent_group_arn = "{{ parent_group_arn }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    user_hierarchy_group_arn = "{{ user_hierarchy_group_arn }}"
}