resource "awscc_guardduty_publishing_destination" "example" {
    destination_properties = "{{ destination_properties }}"
    destination_type = "{{ destination_type }}"
    detector_id = "{{ detector_id }}"
    tags = "{{ tags }}"
}
