data "awscc_rolesanywhere_profile" "example" {
    accept_role_session_name = "{{ accept_role_session_name }}"
    attribute_mappings = "{
    certificate_field = {{ certificate_field }}
    mapping_rules = {
    specifier = {{ specifier }}
}
}"
    duration_seconds = "{{ duration_seconds }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    managed_policy_arns = "{{ managed_policy_arns }}"
    name = "{{ name }}"
    profile_arn = "{{ profile_arn }}"
    profile_id = "{{ profile_id }}"
    require_instance_properties = "{{ require_instance_properties }}"
    role_arns = "{{ role_arns }}"
    session_policy = "{{ session_policy }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}