resource "awscc_lambda_layer_version" "example" {
    compatible_architectures = ["{{ compatible_architectures }}"]
    compatible_runtimes = ["{{ compatible_runtimes }}"]
    content = "{{ content }}"
    description = "{{ description }}"
    layer_name = "{{ layer_name }}"
    license_info = "{{ license_info }}"
}
