resource "awscc_iotsitewise_portal" "example" {
    alarms = "{{ alarms }}"
    notification_sender_email = "{{ notification_sender_email }}"
    portal_auth_mode = "{{ portal_auth_mode }}"
    portal_contact_email = "{{ portal_contact_email }}"
    portal_description = "{{ portal_description }}"
    portal_name = "{{ portal_name }}"
    portal_type = "{{ portal_type }}"
    portal_type_configuration = "{{ portal_type_configuration }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
}
