resource "awscc_identitystore_group" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    group_id = "{{ group_id }}"
    id = "{{ id }}"
    identity_store_id = "{{ identity_store_id }}"
}