resource "awscc_ec2_capacity_reservation_fleet" "example" {
    allocation_strategy = "{{ allocation_strategy }}"
    end_date = "{{ end_date }}"
    instance_match_criteria = "{{ instance_match_criteria }}"
    instance_type_specifications = "{{ instance_type_specifications }}"
    no_remove_end_date = {{ no_remove_end_date }}
    remove_end_date = {{ remove_end_date }}
    tag_specifications = "{{ tag_specifications }}"
    tenancy = "{{ tenancy }}"
    total_target_capacity = {{ total_target_capacity }}
}
