resource "awscc_sagemaker_project" "example" {
    project_description = "{{ project_description }}"
    project_name = "{{ project_name }}"
    service_catalog_provisioned_product_details = "{{ service_catalog_provisioned_product_details }}"
    service_catalog_provisioning_details = "{{ service_catalog_provisioning_details }}"
    tags = "{{ tags }}"
    template_provider_details = "{{ template_provider_details }}"
}
