resource "awscc_appsync_domain_name" "example" {
    app_sync_domain_name = "{{ app_sync_domain_name }}"
    certificate_arn = "{{ certificate_arn }}"
    description = "{{ description }}"
    domain_name = "{{ domain_name }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    id = "{{ id }}"
}