resource "awscc_nimblestudio_studio_component" "example" {
    configuration = "{{ configuration }}"
    description = "{{ description }}"
    ec_2_security_group_ids = ["{{ ec_2_security_group_ids }}"]
    initialization_scripts = "{{ initialization_scripts }}"
    name = "{{ name }}"
    script_parameters = "{{ script_parameters }}"
    studio_id = "{{ studio_id }}"
    subtype = "{{ subtype }}"
    tags = {
        key = "{{ tags_value }}"
      }
    type = "{{ type }}"
}
