resource "awscc_entityresolution_id_namespace" "example" {
    description = "{{ description }}"
    id_mapping_workflow_properties = "{{ id_mapping_workflow_properties }}"
    id_namespace_name = "{{ id_namespace_name }}"
    input_source_config = "{{ input_source_config }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
}
