resource "awscc_datasync_location_nfs" "example" {
    mount_options = "{{ mount_options }}"
    on_prem_config = "{{ on_prem_config }}"
    server_hostname = "{{ server_hostname }}"
    subdirectory = "{{ subdirectory }}"
    tags = "{{ tags }}"
}
