data "awscc_entityresolution_id_namespace" "example" {
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    id = "{{ id }}"
    id_mapping_workflow_properties = "{
    id_mapping_type = {{ id_mapping_type }}
    provider_properties = {
    provider_configuration = {{ provider_configuration }}
    provider_service_arn = {{ provider_service_arn }}
}
    rule_based_properties = {
    attribute_matching_model = {{ attribute_matching_model }}
    record_matching_models = {{ record_matching_models }}
    rule_definition_types = {{ rule_definition_types }}
    rules = {
    matching_keys = {{ matching_keys }}
    rule_name = {{ rule_name }}
}
}
}"
    id_namespace_arn = "{{ id_namespace_arn }}"
    id_namespace_name = "{{ id_namespace_name }}"
    input_source_config = "{
    input_source_arn = {{ input_source_arn }}
    schema_name = {{ schema_name }}
}"
    role_arn = "{{ role_arn }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    type = "{{ type }}"
    updated_at = "{{ updated_at }}"
}