resource "awscc_appflow_connector" "example" {
    connector_label = "{{ connector_label }}"
    connector_provisioning_config = "{{ connector_provisioning_config }}"
    connector_provisioning_type = "{{ connector_provisioning_type }}"
    description = "{{ description }}"
}
