resource "awscc_lightsail_distribution" "example" {
    bundle_id = "{{ bundle_id }}"
    cache_behavior_settings = "{{ cache_behavior_settings }}"
    cache_behaviors = "{{ cache_behaviors }}"
    certificate_name = "{{ certificate_name }}"
    default_cache_behavior = "{{ default_cache_behavior }}"
    distribution_name = "{{ distribution_name }}"
    ip_address_type = "{{ ip_address_type }}"
    is_enabled = {{ is_enabled }}
    origin = "{{ origin }}"
    tags = "{{ tags }}"
}
