resource "awscc_lambda_event_source_mapping" "example" {
    amazon_managed_kafka_event_source_config = "{{ amazon_managed_kafka_event_source_config }}"
    batch_size = {{ batch_size }}
    bisect_batch_on_function_error = {{ bisect_batch_on_function_error }}
    destination_config = "{{ destination_config }}"
    document_db_event_source_config = "{{ document_db_event_source_config }}"
    enabled = {{ enabled }}
    event_source_arn = "{{ event_source_arn }}"
    filter_criteria = "{{ filter_criteria }}"
    function_name = "{{ function_name }}"
    function_response_types = ["{{ function_response_types }}"]
    kms_key_arn = "{{ kms_key_arn }}"
    logging_config = "{{ logging_config }}"
    maximum_batching_window_in_seconds = {{ maximum_batching_window_in_seconds }}
    maximum_record_age_in_seconds = {{ maximum_record_age_in_seconds }}
    maximum_retry_attempts = {{ maximum_retry_attempts }}
    metrics_config = "{{ metrics_config }}"
    parallelization_factor = {{ parallelization_factor }}
    provisioned_poller_config = "{{ provisioned_poller_config }}"
    queues = ["{{ queues }}"]
    scaling_config = "{{ scaling_config }}"
    self_managed_event_source = "{{ self_managed_event_source }}"
    self_managed_kafka_event_source_config = "{{ self_managed_kafka_event_source_config }}"
    source_access_configurations = "{{ source_access_configurations }}"
    starting_position = "{{ starting_position }}"
    starting_position_timestamp = {{ starting_position_timestamp }}
    tags = "{{ tags }}"
    topics = ["{{ topics }}"]
    tumbling_window_in_seconds = {{ tumbling_window_in_seconds }}
}
