resource "awscc_ivs_ingest_configuration" "example" {
    ingest_protocol = "{{ ingest_protocol }}"
    insecure_ingest = {{ insecure_ingest }}
    name = "{{ name }}"
    stage_arn = "{{ stage_arn }}"
    tags = "{{ tags }}"
    user_id = "{{ user_id }}"
}
