resource "awscc_apigateway_usage_plan" "example" {
    api_stages = "{{ api_stages }}"
    description = "{{ description }}"
    quota = "{{ quota }}"
    tags = "{{ tags }}"
    throttle = "{{ throttle }}"
    usage_plan_name = "{{ usage_plan_name }}"
}
