data "awscc_logs_query_definition" "example" {
    id = "{{ id }}"
    log_group_names = "{{ log_group_names }}"
    name = "{{ name }}"
    query_definition_id = "{{ query_definition_id }}"
    query_string = "{{ query_string }}"
}