data "awscc_ce_cost_category" "example" {
    arn = "{{ arn }}"
    default_value = "{{ default_value }}"
    effective_start = "{{ effective_start }}"
    id = "{{ id }}"
    name = "{{ name }}"
    rule_version = "{{ rule_version }}"
    rules = "{{ rules }}"
    split_charge_rules = "{{ split_charge_rules }}"
}