resource "awscc_glue_schema" "example" {
    checkpoint_version = "{{ checkpoint_version }}"
    compatibility = "{{ compatibility }}"
    data_format = "{{ data_format }}"
    description = "{{ description }}"
    name = "{{ name }}"
    registry = "{{ registry }}"
    schema_definition = "{{ schema_definition }}"
    tags = "{{ tags }}"
}
