resource "awscc_lightsail_instance" "example" {
    add_ons = "{{ add_ons }}"
    availability_zone = "{{ availability_zone }}"
    blueprint_id = "{{ blueprint_id }}"
    bundle_id = "{{ bundle_id }}"
    hardware = "{{ hardware }}"
    instance_name = "{{ instance_name }}"
    key_pair_name = "{{ key_pair_name }}"
    location = "{{ location }}"
    networking = "{{ networking }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
    user_data = "{{ user_data }}"
}
