resource "awscc_imagebuilder_infrastructure_configuration" "example" {
    description = "{{ description }}"
    instance_metadata_options = "{{ instance_metadata_options }}"
    instance_profile_name = "{{ instance_profile_name }}"
    instance_types = ["{{ instance_types }}"]
    key_pair = "{{ key_pair }}"
    logging = "{{ logging }}"
    name = "{{ name }}"
    placement = "{{ placement }}"
    resource_tags = {
        key = "{{ resource_tags_value }}"
      }
    security_group_ids = ["{{ security_group_ids }}"]
    sns_topic_arn = "{{ sns_topic_arn }}"
    subnet_id = "{{ subnet_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    terminate_instance_on_failure = {{ terminate_instance_on_failure }}
}
