resource "awscc_sagemaker_app" "example" {
    app_name = "{{ app_name }}"
    app_type = "{{ app_type }}"
    domain_id = "{{ domain_id }}"
    recovery_mode = {{ recovery_mode }}
    resource_spec = "{{ resource_spec }}"
    tags = "{{ tags }}"
    user_profile_name = "{{ user_profile_name }}"
}
