resource "awscc_ecs_task_definition" "example" {
    container_definitions = "{{ container_definitions }}"
    cpu = "{{ cpu }}"
    enable_fault_injection = {{ enable_fault_injection }}
    ephemeral_storage = "{{ ephemeral_storage }}"
    execution_role_arn = "{{ execution_role_arn }}"
    family = "{{ family }}"
    inference_accelerators = "{{ inference_accelerators }}"
    ipc_mode = "{{ ipc_mode }}"
    memory = "{{ memory }}"
    network_mode = "{{ network_mode }}"
    pid_mode = "{{ pid_mode }}"
    placement_constraints = "{{ placement_constraints }}"
    proxy_configuration = "{{ proxy_configuration }}"
    requires_compatibilities = ["{{ requires_compatibilities }}"]
    runtime_platform = "{{ runtime_platform }}"
    tags = "{{ tags }}"
    task_role_arn = "{{ task_role_arn }}"
    volumes = "{{ volumes }}"
}
