resource "awscc_sagemaker_device_fleet" "example" {
    description = "{{ description }}"
    device_fleet_name = "{{ device_fleet_name }}"
    output_config = "{{ output_config }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
}
