data "awscc_apigateway_usage_plan_key" "example" {
    id = "{{ id }}"
    key_id = "{{ key_id }}"
    key_type = "{{ key_type }}"
    usage_plan_id = "{{ usage_plan_id }}"
    usage_plan_key_id = "{{ usage_plan_key_id }}"
}