resource "awscc_ec2_ipam_scope" "example" {
    description = "{{ description }}"
    external_authority_configuration = "{{ external_authority_configuration }}"
    ipam_id = "{{ ipam_id }}"
    tags = "{{ tags }}"
}
