resource "awscc_deadline_queue" "example" {
    allowed_storage_profile_ids = ["{{ allowed_storage_profile_ids }}"]
    default_budget_action = "{{ default_budget_action }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    farm_id = "{{ farm_id }}"
    job_attachment_settings = "{{ job_attachment_settings }}"
    job_run_as_user = "{{ job_run_as_user }}"
    required_file_system_location_names = ["{{ required_file_system_location_names }}"]
    role_arn = "{{ role_arn }}"
    scheduling_configuration = "{{ scheduling_configuration }}"
    tags = "{{ tags }}"
}
