resource "awscc_networkmanager_core_network" "example" {
    description = "{{ description }}"
    global_network_id = "{{ global_network_id }}"
    policy_document = "{{ policy_document }}"
    tags = "{{ tags }}"
}
