resource "awscc_robomaker_simulation_application" "example" {
    current_revision_id = "{{ current_revision_id }}"
    environment = "{{ environment }}"
    name = "{{ name }}"
    rendering_engine = "{{ rendering_engine }}"
    robot_software_suite = "{{ robot_software_suite }}"
    simulation_software_suite = "{{ simulation_software_suite }}"
    sources = "{{ sources }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
