resource "awscc_iotsitewise_dashboard" "example" {
    dashboard_definition = "{{ dashboard_definition }}"
    dashboard_description = "{{ dashboard_description }}"
    dashboard_name = "{{ dashboard_name }}"
    project_id = "{{ project_id }}"
    tags = "{{ tags }}"
}
