resource "awscc_servicecatalogappregistry_attribute_group" "example" {
    attributes = "{{ attributes }}"
    description = "{{ description }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
