resource "awscc_sqs_queue" "example" {
    content_based_deduplication = {{ content_based_deduplication }}
    deduplication_scope = "{{ deduplication_scope }}"
    delay_seconds = {{ delay_seconds }}
    fifo_queue = {{ fifo_queue }}
    fifo_throughput_limit = "{{ fifo_throughput_limit }}"
    kms_data_key_reuse_period_seconds = {{ kms_data_key_reuse_period_seconds }}
    kms_master_key_id = "{{ kms_master_key_id }}"
    maximum_message_size = {{ maximum_message_size }}
    message_retention_period = {{ message_retention_period }}
    queue_name = "{{ queue_name }}"
    receive_message_wait_time_seconds = {{ receive_message_wait_time_seconds }}
    redrive_allow_policy = "{{ redrive_allow_policy }}"
    redrive_policy = "{{ redrive_policy }}"
    sqs_managed_sse_enabled = {{ sqs_managed_sse_enabled }}
    tags = "{{ tags }}"
    visibility_timeout = {{ visibility_timeout }}
}
