resource "awscc_imagebuilder_container_recipe" "example" {
    components = "{{ components }}"
    container_type = "{{ container_type }}"
    description = "{{ description }}"
    dockerfile_template_data = "{{ dockerfile_template_data }}"
    dockerfile_template_uri = "{{ dockerfile_template_uri }}"
    image_os_version_override = "{{ image_os_version_override }}"
    instance_configuration = "{{ instance_configuration }}"
    kms_key_id = "{{ kms_key_id }}"
    name = "{{ name }}"
    parent_image = "{{ parent_image }}"
    platform_override = "{{ platform_override }}"
    tags = {
        key = "{{ tags_value }}"
      }
    target_repository = "{{ target_repository }}"
    version = "{{ version }}"
    working_directory = "{{ working_directory }}"
}
