resource "awscc_gamelift_build" "example" {
    name = "{{ name }}"
    operating_system = "{{ operating_system }}"
    server_sdk_version = "{{ server_sdk_version }}"
    storage_location = "{{ storage_location }}"
    tags = "{{ tags }}"
    version = "{{ version }}"
}
