resource "awscc_servicecatalog_cloudformation_provisioned_product" "example" {
    accept_language = "{{ accept_language }}"
    notification_arns = ["{{ notification_arns }}"]
    path_id = "{{ path_id }}"
    path_name = "{{ path_name }}"
    product_id = "{{ product_id }}"
    product_name = "{{ product_name }}"
    provisioned_product_name = "{{ provisioned_product_name }}"
    provisioning_artifact_id = "{{ provisioning_artifact_id }}"
    provisioning_artifact_name = "{{ provisioning_artifact_name }}"
    provisioning_parameters = "{{ provisioning_parameters }}"
    provisioning_preferences = "{{ provisioning_preferences }}"
    tags = "{{ tags }}"
}
