resource "awscc_appconfig_environment" "example" {
    application_id = "{{ application_id }}"
    deletion_protection_check = "{{ deletion_protection_check }}"
    description = "{{ description }}"
    monitors = "{{ monitors }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
