resource "awscc_customerprofiles_integration" "example" {
    domain_name = "{{ domain_name }}"
    event_trigger_names = ["{{ event_trigger_names }}"]
    flow_definition = "{{ flow_definition }}"
    object_type_name = "{{ object_type_name }}"
    object_type_names = "{{ object_type_names }}"
    scope = "{{ scope }}"
    tags = "{{ tags }}"
    uri = "{{ uri }}"
}
