resource "awscc_ce_anomaly_subscription" "example" {
    frequency = "{{ frequency }}"
    monitor_arn_list = ["{{ monitor_arn_list }}"]
    resource_tags = "{{ resource_tags }}"
    subscribers = "{{ subscribers }}"
    subscription_name = "{{ subscription_name }}"
    threshold = {{ threshold }}
    threshold_expression = "{{ threshold_expression }}"
}
