resource "awscc_qbusiness_data_source" "example" {
    application_id = "{{ application_id }}"
    configuration = "{{ configuration }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    document_enrichment_configuration = "{{ document_enrichment_configuration }}"
    index_id = "{{ index_id }}"
    media_extraction_configuration = "{{ media_extraction_configuration }}"
    role_arn = "{{ role_arn }}"
    sync_schedule = "{{ sync_schedule }}"
    tags = "{{ tags }}"
    vpc_configuration = "{{ vpc_configuration }}"
}
