resource "awscc_qbusiness_plugin" "example" {
    application_id = "{{ application_id }}"
    auth_configuration = "{{ auth_configuration }}"
    custom_plugin_configuration = "{{ custom_plugin_configuration }}"
    display_name = "{{ display_name }}"
    server_url = "{{ server_url }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
}
