resource "awscc_connect_view_version" "example" {
    id = "{{ id }}"
    version = "{{ version }}"
    version_description = "{{ version_description }}"
    view_arn = "{{ view_arn }}"
    view_content_sha_256 = "{{ view_content_sha_256 }}"
    view_version_arn = "{{ view_version_arn }}"
}