resource "awscc_apigateway_base_path_mapping_v2" "example" {
    base_path = "{{ base_path }}"
    base_path_mapping_arn = "{{ base_path_mapping_arn }}"
    domain_name_arn = "{{ domain_name_arn }}"
    id = "{{ id }}"
    rest_api_id = "{{ rest_api_id }}"
    stage = "{{ stage }}"
}