resource "awscc_ivs_playback_key_pair" "example" {
    arn = "{{ arn }}"
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    name = "{{ name }}"
    public_key_material = "{{ public_key_material }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}