resource "awscc_ssmcontacts_plan" "example" {
    arn = "{{ arn }}"
    contact_id = "{{ contact_id }}"
    id = "{{ id }}"
    rotation_ids = "{{ rotation_ids }}"
    stages = "{
    duration_in_minutes = {{ duration_in_minutes }}
    targets = {
    channel_target_info = {
    channel_id = {{ channel_id }}
    retry_interval_in_minutes = {{ retry_interval_in_minutes }}
}
    contact_target_info = {
    contact_id = {{ contact_id }}
    is_essential = {{ is_essential }}
}
}
}"
}