resource "awscc_rds_db_proxy_target_group" "example" {
    connection_pool_configuration_info = "{{ connection_pool_configuration_info }}"
    db_cluster_identifiers = ["{{ db_cluster_identifiers }}"]
    db_instance_identifiers = ["{{ db_instance_identifiers }}"]
    db_proxy_name = "{{ db_proxy_name }}"
    target_group_name = "{{ target_group_name }}"
}
