resource "awscc_cognito_user_pool_group" "example" {
    description = "{{ description }}"
    group_name = "{{ group_name }}"
    precedence = {{ precedence }}
    role_arn = "{{ role_arn }}"
    user_pool_id = "{{ user_pool_id }}"
}
