resource "awscc_athena_work_group" "example" {
    description = "{{ description }}"
    name = "{{ name }}"
    recursive_delete_option = {{ recursive_delete_option }}
    state = "{{ state }}"
    tags = "{{ tags }}"
    work_group_configuration = "{{ work_group_configuration }}"
    work_group_configuration_updates = "{{ work_group_configuration_updates }}"
}
