resource "awscc_servicecatalog_portfolio" "example" {
    accept_language = "{{ accept_language }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    provider_name = "{{ provider_name }}"
    tags = "{{ tags }}"
}
