resource "awscc_connect_contact_flow_module" "example" {
    content = "{{ content }}"
    description = "{{ description }}"
    external_invocation_configuration = "{{ external_invocation_configuration }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    settings = "{{ settings }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
}
