resource "awscc_connect_instance_storage_config" "example" {
    instance_arn = "{{ instance_arn }}"
    kinesis_firehose_config = "{{ kinesis_firehose_config }}"
    kinesis_stream_config = "{{ kinesis_stream_config }}"
    kinesis_video_stream_config = "{{ kinesis_video_stream_config }}"
    resource_type = "{{ resource_type }}"
    s3_config = "{{ s3_config }}"
    storage_type = "{{ storage_type }}"
}
