resource "awscc_apprunner_vpc_ingress_connection" "example" {
    ingress_vpc_configuration = "{{ ingress_vpc_configuration }}"
    service_arn = "{{ service_arn }}"
    tags = "{{ tags }}"
    vpc_ingress_connection_name = "{{ vpc_ingress_connection_name }}"
}
