resource "awscc_m2_application" "example" {
    definition = "{{ definition }}"
    description = "{{ description }}"
    engine_type = "{{ engine_type }}"
    kms_key_id = "{{ kms_key_id }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
