resource "awscc_mediapackagev2_channel" "example" {
    channel_group_name = "{{ channel_group_name }}"
    channel_name = "{{ channel_name }}"
    description = "{{ description }}"
    input_switch_configuration = "{{ input_switch_configuration }}"
    input_type = "{{ input_type }}"
    output_header_configuration = "{{ output_header_configuration }}"
    tags = "{{ tags }}"
}
