resource "awscc_deadline_monitor" "example" {
    display_name = "{{ display_name }}"
    identity_center_instance_arn = "{{ identity_center_instance_arn }}"
    identity_center_region = "{{ identity_center_region }}"
    role_arn = "{{ role_arn }}"
    subdomain = "{{ subdomain }}"
    tags = "{{ tags }}"
}
