data "awscc_ssm_resource_policy" "example" {
    id = "{{ id }}"
    policy = "{{ policy }}"
    policy_hash = "{{ policy_hash }}"
    policy_id = "{{ policy_id }}"
    resource_arn = "{{ resource_arn }}"
}