data "awscc_stepfunctions_activity" "example" {
    arn = "{{ arn }}"
    encryption_configuration = "{
    kms_data_key_reuse_period_seconds = {{ kms_data_key_reuse_period_seconds }}
    kms_key_id = {{ kms_key_id }}
    type = {{ type }}
}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}