resource "awscc_glue_crawler" "example" {
    classifiers = ["{{ classifiers }}"]
    configuration = "{{ configuration }}"
    crawler_security_configuration = "{{ crawler_security_configuration }}"
    database_name = "{{ database_name }}"
    description = "{{ description }}"
    lake_formation_configuration = "{{ lake_formation_configuration }}"
    name = "{{ name }}"
    recrawl_policy = "{{ recrawl_policy }}"
    role = "{{ role }}"
    schedule = "{{ schedule }}"
    schema_change_policy = "{{ schema_change_policy }}"
    table_prefix = "{{ table_prefix }}"
    tags = "{{ tags }}"
    targets = "{{ targets }}"
}
