resource "awscc_connect_task_template" "example" {
    client_token = "{{ client_token }}"
    constraints = "{{ constraints }}"
    contact_flow_arn = "{{ contact_flow_arn }}"
    defaults = "{{ defaults }}"
    description = "{{ description }}"
    fields = "{{ fields }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    self_assign_contact_flow_arn = "{{ self_assign_contact_flow_arn }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}
