resource "awscc_config_stored_query" "example" {
    query_description = "{{ query_description }}"
    query_expression = "{{ query_expression }}"
    query_name = "{{ query_name }}"
    tags = "{{ tags }}"
}
