resource "awscc_cloudwatch_alarm" "example" {
    actions_enabled = {{ actions_enabled }}
    alarm_actions = ["{{ alarm_actions }}"]
    alarm_description = "{{ alarm_description }}"
    alarm_name = "{{ alarm_name }}"
    comparison_operator = "{{ comparison_operator }}"
    datapoints_to_alarm = {{ datapoints_to_alarm }}
    dimensions = "{{ dimensions }}"
    evaluate_low_sample_count_percentile = "{{ evaluate_low_sample_count_percentile }}"
    evaluation_criteria = "{{ evaluation_criteria }}"
    evaluation_interval = {{ evaluation_interval }}
    evaluation_periods = {{ evaluation_periods }}
    extended_statistic = "{{ extended_statistic }}"
    insufficient_data_actions = ["{{ insufficient_data_actions }}"]
    metric_name = "{{ metric_name }}"
    metrics = "{{ metrics }}"
    namespace = "{{ namespace }}"
    ok_actions = ["{{ ok_actions }}"]
    period = {{ period }}
    statistic = "{{ statistic }}"
    tags = "{{ tags }}"
    threshold = {{ threshold }}
    threshold_metric_id = "{{ threshold_metric_id }}"
    treat_missing_data = "{{ treat_missing_data }}"
    unit = "{{ unit }}"
}
