resource "awscc_ec2_traffic_mirror_target" "example" {
    description = "{{ description }}"
    gateway_load_balancer_endpoint_id = "{{ gateway_load_balancer_endpoint_id }}"
    network_interface_id = "{{ network_interface_id }}"
    network_load_balancer_arn = "{{ network_load_balancer_arn }}"
    tags = "{{ tags }}"
}
