resource "awscc_iotwireless_multicast_group" "example" {
    associate_wireless_device = "{{ associate_wireless_device }}"
    description = "{{ description }}"
    disassociate_wireless_device = "{{ disassociate_wireless_device }}"
    lo_ra_wan = "{{ lo_ra_wan }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
