resource "awscc_odb_odb_network" "example" {
    availability_zone = "{{ availability_zone }}"
    availability_zone_id = "{{ availability_zone_id }}"
    backup_subnet_cidr = "{{ backup_subnet_cidr }}"
    client_subnet_cidr = "{{ client_subnet_cidr }}"
    cross_region_s3_restore_sources = ["{{ cross_region_s3_restore_sources }}"]
    custom_domain_name = "{{ custom_domain_name }}"
    default_dns_prefix = "{{ default_dns_prefix }}"
    delete_associated_resources = {{ delete_associated_resources }}
    display_name = "{{ display_name }}"
    kms_access = "{{ kms_access }}"
    kms_policy_document = "{{ kms_policy_document }}"
    s3_access = "{{ s3_access }}"
    s3_policy_document = "{{ s3_policy_document }}"
    sts_access = "{{ sts_access }}"
    sts_policy_document = "{{ sts_policy_document }}"
    tags = "{{ tags }}"
    zero_etl_access = "{{ zero_etl_access }}"
}
