resource "awscc_dms_data_provider" "example" {
    data_provider_identifier = "{{ data_provider_identifier }}"
    data_provider_name = "{{ data_provider_name }}"
    description = "{{ description }}"
    engine = "{{ engine }}"
    exact_settings = {{ exact_settings }}
    settings = "{{ settings }}"
    tags = "{{ tags }}"
}
