resource "awscc_iottwinmaker_scene" "example" {
    arn = "{{ arn }}"
    capabilities = "{{ capabilities }}"
    content_location = "{{ content_location }}"
    creation_date_time = "{{ creation_date_time }}"
    description = "{{ description }}"
    generated_scene_metadata = "{{ generated_scene_metadata }}"
    id = "{{ id }}"
    scene_id = "{{ scene_id }}"
    scene_metadata = "{{ scene_metadata }}"
    tags = "{{ tags }}"
    update_date_time = "{{ update_date_time }}"
    workspace_id = "{{ workspace_id }}"
}