resource "awscc_ecs_capacity_provider" "example" {
    auto_scaling_group_provider = "{{ auto_scaling_group_provider }}"
    cluster_name = "{{ cluster_name }}"
    managed_instances_provider = "{{ managed_instances_provider }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
