data "awscc_imagebuilder_component" "example" {
    arn = "{{ arn }}"
    change_description = "{{ change_description }}"
    data = "{{ data }}"
    description = "{{ description }}"
    encrypted = "{{ encrypted }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    name = "{{ name }}"
    platform = "{{ platform }}"
    supported_os_versions = "{{ supported_os_versions }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    uri = "{{ uri }}"
    version = "{{ version }}"
}