resource "awscc_qbusiness_web_experience" "example" {
    application_id = "{{ application_id }}"
    browser_extension_configuration = "{{ browser_extension_configuration }}"
    customization_configuration = "{{ customization_configuration }}"
    identity_provider_configuration = "{{ identity_provider_configuration }}"
    origins = ["{{ origins }}"]
    role_arn = "{{ role_arn }}"
    sample_prompts_control_mode = "{{ sample_prompts_control_mode }}"
    subtitle = "{{ subtitle }}"
    tags = "{{ tags }}"
    title = "{{ title }}"
    welcome_message = "{{ welcome_message }}"
}
