resource "awscc_inspectorv2_filter" "example" {
    description = "{{ description }}"
    filter_action = "{{ filter_action }}"
    filter_criteria = "{{ filter_criteria }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
