resource "awscc_appsync_source_api_association" "example" {
    description = "{{ description }}"
    merged_api_identifier = "{{ merged_api_identifier }}"
    source_api_association_config = "{{ source_api_association_config }}"
    source_api_identifier = "{{ source_api_identifier }}"
}
