resource "awscc_frauddetector_variable" "example" {
    data_source = "{{ data_source }}"
    data_type = "{{ data_type }}"
    default_value = "{{ default_value }}"
    description = "{{ description }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    variable_type = "{{ variable_type }}"
}
