resource "awscc_athena_capacity_reservation" "example" {
    capacity_assignment_configuration = "{{ capacity_assignment_configuration }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    target_dpus = {{ target_dpus }}
}
