resource "awscc_servicecatalog_portfolio_product_association" "example" {
    accept_language = "{{ accept_language }}"
    portfolio_id = "{{ portfolio_id }}"
    product_id = "{{ product_id }}"
    source_portfolio_id = "{{ source_portfolio_id }}"
}
