resource "awscc_mediaconnect_bridge" "example" {
    egress_gateway_bridge = "{{ egress_gateway_bridge }}"
    ingress_gateway_bridge = "{{ ingress_gateway_bridge }}"
    name = "{{ name }}"
    outputs = "{{ outputs }}"
    placement_arn = "{{ placement_arn }}"
    source_failover_config = "{{ source_failover_config }}"
    sources = "{{ sources }}"
}
