resource "awscc_applicationinsights_application" "example" {
    attach_missing_permission = {{ attach_missing_permission }}
    auto_configuration_enabled = {{ auto_configuration_enabled }}
    component_monitoring_settings = "{{ component_monitoring_settings }}"
    custom_components = "{{ custom_components }}"
    cwe_monitor_enabled = {{ cwe_monitor_enabled }}
    grouping_type = "{{ grouping_type }}"
    log_pattern_sets = "{{ log_pattern_sets }}"
    ops_center_enabled = {{ ops_center_enabled }}
    ops_item_sns_topic_arn = "{{ ops_item_sns_topic_arn }}"
    resource_group_name = "{{ resource_group_name }}"
    sns_notification_arn = "{{ sns_notification_arn }}"
    tags = "{{ tags }}"
}
