resource "awscc_b2bi_transformer" "example" {
    edi_type = "{{ edi_type }}"
    file_format = "{{ file_format }}"
    input_conversion = "{{ input_conversion }}"
    mapping = "{{ mapping }}"
    mapping_template = "{{ mapping_template }}"
    name = "{{ name }}"
    output_conversion = "{{ output_conversion }}"
    sample_document = "{{ sample_document }}"
    sample_documents = "{{ sample_documents }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}
