resource "awscc_logs_subscription_filter" "example" {
    destination_arn = "{{ destination_arn }}"
    distribution = "{{ distribution }}"
    filter_name = "{{ filter_name }}"
    filter_pattern = "{{ filter_pattern }}"
    id = "{{ id }}"
    log_group_name = "{{ log_group_name }}"
    role_arn = "{{ role_arn }}"
}