resource "awscc_datazone_environment_blueprint_configuration" "example" {
    domain_identifier = "{{ domain_identifier }}"
    enabled_regions = ["{{ enabled_regions }}"]
    environment_blueprint_identifier = "{{ environment_blueprint_identifier }}"
    environment_role_permission_boundary = "{{ environment_role_permission_boundary }}"
    global_parameters = {
        key = "{{ global_parameters_value }}"
      }
    manage_access_role_arn = "{{ manage_access_role_arn }}"
    provisioning_configurations = "{{ provisioning_configurations }}"
    provisioning_role_arn = "{{ provisioning_role_arn }}"
    regional_parameters = "{{ regional_parameters }}"
}
