resource "awscc_appintegrations_application" "example" {
    application_config = "{{ application_config }}"
    application_source_config = "{{ application_source_config }}"
    application_type = "{{ application_type }}"
    description = "{{ description }}"
    iframe_config = "{{ iframe_config }}"
    initialization_timeout = {{ initialization_timeout }}
    is_service = {{ is_service }}
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    permissions = ["{{ permissions }}"]
    tags = "{{ tags }}"
}
