resource "awscc_appstream_image_builder" "example" {
    access_endpoints = "{{ access_endpoints }}"
    appstream_agent_version = "{{ appstream_agent_version }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    domain_join_info = "{{ domain_join_info }}"
    enable_default_internet_access = {{ enable_default_internet_access }}
    iam_role_arn = "{{ iam_role_arn }}"
    image_arn = "{{ image_arn }}"
    image_name = "{{ image_name }}"
    instance_type = "{{ instance_type }}"
    name = "{{ name }}"
    root_volume_config = "{{ root_volume_config }}"
    softwares_to_install = ["{{ softwares_to_install }}"]
    softwares_to_uninstall = ["{{ softwares_to_uninstall }}"]
    tags = "{{ tags }}"
    vpc_config = "{{ vpc_config }}"
}
