resource "awscc_iam_role" "example" {
    assume_role_policy_document = "{{ assume_role_policy_document }}"
    description = "{{ description }}"
    managed_policy_arns = ["{{ managed_policy_arns }}"]
    max_session_duration = {{ max_session_duration }}
    path = "{{ path }}"
    permissions_boundary = "{{ permissions_boundary }}"
    policies = "{{ policies }}"
    role_name = "{{ role_name }}"
    tags = "{{ tags }}"
}
