resource "awscc_kinesisanalyticsv2_application" "example" {
    application_configuration = "{{ application_configuration }}"
    application_description = "{{ application_description }}"
    application_maintenance_configuration = "{{ application_maintenance_configuration }}"
    application_mode = "{{ application_mode }}"
    application_name = "{{ application_name }}"
    run_configuration = "{{ run_configuration }}"
    runtime_environment = "{{ runtime_environment }}"
    service_execution_role = "{{ service_execution_role }}"
    tags = "{{ tags }}"
}
