resource "awscc_devopsagent_agent_space" "example" {
    description = "{{ description }}"
    kms_key_arn = "{{ kms_key_arn }}"
    name = "{{ name }}"
    operator_app = "{{ operator_app }}"
    tags = "{{ tags }}"
}
