resource "awscc_proton_service_template" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    encryption_key = "{{ encryption_key }}"
    name = "{{ name }}"
    pipeline_provisioning = "{{ pipeline_provisioning }}"
    tags = "{{ tags }}"
}
