resource "awscc_logs_log_anomaly_detector" "example" {
    account_id = "{{ account_id }}"
    anomaly_visibility_time = {{ anomaly_visibility_time }}
    detector_name = "{{ detector_name }}"
    evaluation_frequency = "{{ evaluation_frequency }}"
    filter_pattern = "{{ filter_pattern }}"
    kms_key_id = "{{ kms_key_id }}"
    log_group_arn_list = ["{{ log_group_arn_list }}"]
}
