resource "awscc_ses_mail_manager_ingress_point" "example" {
    ingress_point_configuration = "{{ ingress_point_configuration }}"
    ingress_point_name = "{{ ingress_point_name }}"
    network_configuration = "{{ network_configuration }}"
    rule_set_id = "{{ rule_set_id }}"
    status_to_update = "{{ status_to_update }}"
    tags = "{{ tags }}"
    tls_policy = "{{ tls_policy }}"
    traffic_policy_id = "{{ traffic_policy_id }}"
    type = "{{ type }}"
}
