resource "awscc_events_archive" "example" {
    archive_name = "{{ archive_name }}"
    description = "{{ description }}"
    event_pattern = "{{ event_pattern }}"
    kms_key_identifier = "{{ kms_key_identifier }}"
    retention_days = {{ retention_days }}
    source_arn = "{{ source_arn }}"
}
