resource "awscc_events_endpoint" "example" {
    description = "{{ description }}"
    event_buses = "{{ event_buses }}"
    name = "{{ name }}"
    replication_config = "{{ replication_config }}"
    role_arn = "{{ role_arn }}"
    routing_config = "{{ routing_config }}"
}
