resource "awscc_sagemaker_image_version" "example" {
    alias = "{{ alias }}"
    aliases = "{{ aliases }}"
    base_image = "{{ base_image }}"
    container_image = "{{ container_image }}"
    horovod = "{{ horovod }}"
    id = "{{ id }}"
    image_arn = "{{ image_arn }}"
    image_name = "{{ image_name }}"
    image_version_arn = "{{ image_version_arn }}"
    job_type = "{{ job_type }}"
    ml_framework = "{{ ml_framework }}"
    processor = "{{ processor }}"
    programming_lang = "{{ programming_lang }}"
    release_notes = "{{ release_notes }}"
    vendor_guidance = "{{ vendor_guidance }}"
    version = "{{ version }}"
}