resource "awscc_elasticache_parameter_group" "example" {
    cache_parameter_group_family = "{{ cache_parameter_group_family }}"
    description = "{{ description }}"
    properties = {
        key = "{{ properties_value }}"
      }
    tags = "{{ tags }}"
}
