resource "awscc_gamelift_container_fleet" "example" {
    billing_type = "{{ billing_type }}"
    deployment_configuration = "{{ deployment_configuration }}"
    description = "{{ description }}"
    fleet_role_arn = "{{ fleet_role_arn }}"
    game_server_container_group_definition_name = "{{ game_server_container_group_definition_name }}"
    game_server_container_groups_per_instance = {{ game_server_container_groups_per_instance }}
    game_session_creation_limit_policy = "{{ game_session_creation_limit_policy }}"
    instance_connection_port_range = "{{ instance_connection_port_range }}"
    instance_inbound_permissions = "{{ instance_inbound_permissions }}"
    instance_type = "{{ instance_type }}"
    locations = "{{ locations }}"
    log_configuration = "{{ log_configuration }}"
    metric_groups = ["{{ metric_groups }}"]
    new_game_session_protection_policy = "{{ new_game_session_protection_policy }}"
    per_instance_container_group_definition_name = "{{ per_instance_container_group_definition_name }}"
    player_gateway_mode = "{{ player_gateway_mode }}"
    scaling_policies = "{{ scaling_policies }}"
    tags = "{{ tags }}"
}
