resource "awscc_iotfleetwise_model_manifest" "example" {
    description = "{{ description }}"
    name = "{{ name }}"
    nodes = ["{{ nodes }}"]
    signal_catalog_arn = "{{ signal_catalog_arn }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}
