resource "awscc_cloudformation_hook_type_config" "example" {
    configuration = "{{ configuration }}"
    configuration_alias = "{{ configuration_alias }}"
    configuration_arn = "{{ configuration_arn }}"
    id = "{{ id }}"
    type_arn = "{{ type_arn }}"
    type_name = "{{ type_name }}"
}