data "awscc_servicecatalogappregistry_application" "example" {
    application_id = "{{ application_id }}"
    application_name = "{{ application_name }}"
    application_tag_key = "{{ application_tag_key }}"
    application_tag_value = "{{ application_tag_value }}"
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}