resource "awscc_datasync_location_hdfs" "example" {
    agent_arns = ["{{ agent_arns }}"]
    authentication_type = "{{ authentication_type }}"
    block_size = {{ block_size }}
    cmk_secret_config = "{{ cmk_secret_config }}"
    custom_secret_config = "{{ custom_secret_config }}"
    kerberos_keytab = "{{ kerberos_keytab }}"
    kerberos_krb_5_conf = "{{ kerberos_krb_5_conf }}"
    kerberos_principal = "{{ kerberos_principal }}"
    kms_key_provider_uri = "{{ kms_key_provider_uri }}"
    name_nodes = "{{ name_nodes }}"
    qop_configuration = "{{ qop_configuration }}"
    replication_factor = {{ replication_factor }}
    simple_user = "{{ simple_user }}"
    subdirectory = "{{ subdirectory }}"
    tags = "{{ tags }}"
}
