resource "awscc_stepfunctions_state_machine_version" "example" {
    description = "{{ description }}"
    state_machine_arn = "{{ state_machine_arn }}"
    state_machine_revision_id = "{{ state_machine_revision_id }}"
}
