resource "awscc_fms_resource_set" "example" {
    description = "{{ description }}"
    name = "{{ name }}"
    resource_type_list = ["{{ resource_type_list }}"]
    resources = ["{{ resources }}"]
    tags = "{{ tags }}"
}
