resource "awscc_iotwireless_fuota_task" "example" {
    arn = "{{ arn }}"
    associate_multicast_group = "{{ associate_multicast_group }}"
    associate_wireless_device = "{{ associate_wireless_device }}"
    description = "{{ description }}"
    disassociate_multicast_group = "{{ disassociate_multicast_group }}"
    disassociate_wireless_device = "{{ disassociate_wireless_device }}"
    firmware_update_image = "{{ firmware_update_image }}"
    firmware_update_role = "{{ firmware_update_role }}"
    fuota_task_id = "{{ fuota_task_id }}"
    fuota_task_status = "{{ fuota_task_status }}"
    id = "{{ id }}"
    lo_ra_wan = "{
    rf_region = {{ rf_region }}
    start_time = {{ start_time }}
}"
    name = "{{ name }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}