resource "awscc_backup_restore_testing_selection" "example" {
    iam_role_arn = "{{ iam_role_arn }}"
    protected_resource_arns = ["{{ protected_resource_arns }}"]
    protected_resource_conditions = "{{ protected_resource_conditions }}"
    protected_resource_type = "{{ protected_resource_type }}"
    restore_metadata_overrides = {
        key = "{{ restore_metadata_overrides_value }}"
      }
    restore_testing_plan_name = "{{ restore_testing_plan_name }}"
    restore_testing_selection_name = "{{ restore_testing_selection_name }}"
    validation_window_hours = {{ validation_window_hours }}
}
