resource "awscc_appstream_directory_config" "example" {
    certificate_based_auth_properties = "{{ certificate_based_auth_properties }}"
    directory_name = "{{ directory_name }}"
    organizational_unit_distinguished_names = ["{{ organizational_unit_distinguished_names }}"]
    service_account_credentials = "{{ service_account_credentials }}"
}
