data "awscc_route53resolver_resolver_query_logging_config_association" "example" {
    creation_time = "{{ creation_time }}"
    error = "{{ error }}"
    error_message = "{{ error_message }}"
    id = "{{ id }}"
    resolver_query_log_config_id = "{{ resolver_query_log_config_id }}"
    resolver_query_logging_config_association_id = "{{ resolver_query_logging_config_association_id }}"
    resource_id = "{{ resource_id }}"
    status = "{{ status }}"
}