resource "awscc_lakeformation_data_cells_filter" "example" {
    column_names = ["{{ column_names }}"]
    column_wildcard = "{{ column_wildcard }}"
    database_name = "{{ database_name }}"
    name = "{{ name }}"
    row_filter = "{{ row_filter }}"
    table_catalog_id = "{{ table_catalog_id }}"
    table_name = "{{ table_name }}"
}
