resource "awscc_cleanrooms_collaboration" "example" {
    allowed_result_regions = ["{{ allowed_result_regions }}"]
    analytics_engine = "{{ analytics_engine }}"
    auto_approved_change_types = ["{{ auto_approved_change_types }}"]
    creator_display_name = "{{ creator_display_name }}"
    creator_member_abilities = ["{{ creator_member_abilities }}"]
    creator_ml_member_abilities = "{{ creator_ml_member_abilities }}"
    creator_payment_configuration = "{{ creator_payment_configuration }}"
    data_encryption_metadata = "{{ data_encryption_metadata }}"
    description = "{{ description }}"
    is_metrics_enabled = {{ is_metrics_enabled }}
    job_log_status = "{{ job_log_status }}"
    members = "{{ members }}"
    name = "{{ name }}"
    query_log_status = "{{ query_log_status }}"
    tags = "{{ tags }}"
}
