resource "awscc_cases_template" "example" {
    description = "{{ description }}"
    domain_id = "{{ domain_id }}"
    layout_configuration = "{{ layout_configuration }}"
    name = "{{ name }}"
    required_fields = "{{ required_fields }}"
    rules = "{{ rules }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}
