resource "awscc_glue_integration_resource_property" "example" {
    resource_arn = "{{ resource_arn }}"
    source_processing_properties = "{{ source_processing_properties }}"
    tags = "{{ tags }}"
    target_processing_properties = "{{ target_processing_properties }}"
}
