resource "awscc_iotfleetwise_vehicle" "example" {
    association_behavior = "{{ association_behavior }}"
    attributes = {
        key = "{{ attributes_value }}"
      }
    decoder_manifest_arn = "{{ decoder_manifest_arn }}"
    model_manifest_arn = "{{ model_manifest_arn }}"
    name = "{{ name }}"
    state_templates = "{{ state_templates }}"
    tags = "{{ tags }}"
}
