data "awscc_lookoutequipment_inference_scheduler" "example" {
    data_delay_offset_in_minutes = "{{ data_delay_offset_in_minutes }}"
    data_input_configuration = "{
    inference_input_name_configuration = {
    component_timestamp_delimiter = {{ component_timestamp_delimiter }}
    timestamp_format = {{ timestamp_format }}
}
    input_time_zone_offset = {{ input_time_zone_offset }}
    s3_input_configuration = {
    bucket = {{ bucket }}
    prefix = {{ prefix }}
}
}"
    data_output_configuration = "{
    kms_key_id = {{ kms_key_id }}
    s3_output_configuration = {
    bucket = {{ bucket }}
    prefix = {{ prefix }}
}
}"
    data_upload_frequency = "{{ data_upload_frequency }}"
    id = "{{ id }}"
    inference_scheduler_arn = "{{ inference_scheduler_arn }}"
    inference_scheduler_name = "{{ inference_scheduler_name }}"
    model_name = "{{ model_name }}"
    role_arn = "{{ role_arn }}"
    server_side_kms_key_id = "{{ server_side_kms_key_id }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}