data "awscc_panorama_package_version" "example" {
    id = "{{ id }}"
    is_latest_patch = "{{ is_latest_patch }}"
    mark_latest = "{{ mark_latest }}"
    owner_account = "{{ owner_account }}"
    package_arn = "{{ package_arn }}"
    package_id = "{{ package_id }}"
    package_name = "{{ package_name }}"
    package_version = "{{ package_version }}"
    patch_version = "{{ patch_version }}"
    registered_time = "{{ registered_time }}"
    status = "{{ status }}"
    status_description = "{{ status_description }}"
    updated_latest_patch_version = "{{ updated_latest_patch_version }}"
}