resource "awscc_medialive_cloudwatch_alarm_template" "example" {
    comparison_operator = "{{ comparison_operator }}"
    datapoints_to_alarm = {{ datapoints_to_alarm }}
    description = "{{ description }}"
    evaluation_periods = {{ evaluation_periods }}
    group_identifier = "{{ group_identifier }}"
    metric_name = "{{ metric_name }}"
    name = "{{ name }}"
    period = {{ period }}
    statistic = "{{ statistic }}"
    tags = {
        key = "{{ tags_value }}"
      }
    target_resource_type = "{{ target_resource_type }}"
    threshold = {{ threshold }}
    treat_missing_data = "{{ treat_missing_data }}"
}
