resource "awscc_macie_findings_filter" "example" {
    action = "{{ action }}"
    description = "{{ description }}"
    finding_criteria = "{{ finding_criteria }}"
    name = "{{ name }}"
    position = {{ position }}
    tags = "{{ tags }}"
}
