resource "awscc_deadline_license_endpoint" "example" {
    arn = "{{ arn }}"
    dns_name = "{{ dns_name }}"
    id = "{{ id }}"
    license_endpoint_id = "{{ license_endpoint_id }}"
    security_group_ids = "{{ security_group_ids }}"
    status = "{{ status }}"
    status_message = "{{ status_message }}"
    subnet_ids = "{{ subnet_ids }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    vpc_id = "{{ vpc_id }}"
}