resource "awscc_sagemaker_endpoint" "example" {
    deployment_config = "{
    auto_rollback_configuration = {
    alarms = {
    alarm_name = {{ alarm_name }}
}
}
    blue_green_update_policy = {
    maximum_execution_timeout_in_seconds = {{ maximum_execution_timeout_in_seconds }}
    termination_wait_in_seconds = {{ termination_wait_in_seconds }}
    traffic_routing_configuration = {
    canary_size = {
    type = {{ type }}
    value = {{ value }}
}
    linear_step_size = {
    type = {{ type }}
    value = {{ value }}
}
    type = {{ type }}
    wait_interval_in_seconds = {{ wait_interval_in_seconds }}
}
}
    rolling_update_policy = {
    maximum_batch_size = {
    type = {{ type }}
    value = {{ value }}
}
    maximum_execution_timeout_in_seconds = {{ maximum_execution_timeout_in_seconds }}
    rollback_maximum_batch_size = {
    type = {{ type }}
    value = {{ value }}
}
    wait_interval_in_seconds = {{ wait_interval_in_seconds }}
}
}"
    endpoint_arn = "{{ endpoint_arn }}"
    endpoint_config_name = "{{ endpoint_config_name }}"
    endpoint_name = "{{ endpoint_name }}"
    exclude_retained_variant_properties = "{
    variant_property_type = {{ variant_property_type }}
}"
    id = "{{ id }}"
    retain_all_variant_properties = "{{ retain_all_variant_properties }}"
    retain_deployment_config = "{{ retain_deployment_config }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}