data "awscc_ec2_eip_association" "example" {
    allocation_id = "{{ allocation_id }}"
    eip = "{{ eip }}"
    eip_association_id = "{{ eip_association_id }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    network_interface_id = "{{ network_interface_id }}"
    private_ip_address = "{{ private_ip_address }}"
}