data "awscc_ec2_dhcp_options" "example" {
    dhcp_options_id = "{{ dhcp_options_id }}"
    domain_name = "{{ domain_name }}"
    domain_name_servers = "{{ domain_name_servers }}"
    id = "{{ id }}"
    ipv_6_address_preferred_lease_time = "{{ ipv_6_address_preferred_lease_time }}"
    netbios_name_servers = "{{ netbios_name_servers }}"
    netbios_node_type = "{{ netbios_node_type }}"
    ntp_servers = "{{ ntp_servers }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}