resource "awscc_acmpca_certificate_authority" "example" {
    csr_extensions = "{{ csr_extensions }}"
    key_algorithm = "{{ key_algorithm }}"
    key_storage_security_standard = "{{ key_storage_security_standard }}"
    revocation_configuration = "{{ revocation_configuration }}"
    signing_algorithm = "{{ signing_algorithm }}"
    subject = "{{ subject }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    usage_mode = "{{ usage_mode }}"
}
