resource "awscc_quicksight_data_source" "example" {
    alternate_data_source_parameters = "{{ alternate_data_source_parameters }}"
    aws_account_id = "{{ aws_account_id }}"
    credentials = "{{ credentials }}"
    data_source_id = "{{ data_source_id }}"
    data_source_parameters = "{{ data_source_parameters }}"
    error_info = "{{ error_info }}"
    folder_arns = ["{{ folder_arns }}"]
    name = "{{ name }}"
    permissions = "{{ permissions }}"
    ssl_properties = "{{ ssl_properties }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    vpc_connection_properties = "{{ vpc_connection_properties }}"
}
