resource "awscc_gamelift_game_server_group" "example" {
    auto_scaling_policy = "{{ auto_scaling_policy }}"
    balancing_strategy = "{{ balancing_strategy }}"
    delete_option = "{{ delete_option }}"
    game_server_group_name = "{{ game_server_group_name }}"
    game_server_protection_policy = "{{ game_server_protection_policy }}"
    instance_definitions = "{{ instance_definitions }}"
    launch_template = "{{ launch_template }}"
    max_size = {{ max_size }}
    min_size = {{ min_size }}
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
    vpc_subnets = ["{{ vpc_subnets }}"]
}
