resource "awscc_dynamodb_global_table" "example" {
    attribute_definitions = "{{ attribute_definitions }}"
    billing_mode = "{{ billing_mode }}"
    global_secondary_indexes = "{{ global_secondary_indexes }}"
    global_table_source_arn = "{{ global_table_source_arn }}"
    global_table_witnesses = "{{ global_table_witnesses }}"
    key_schema = "{{ key_schema }}"
    local_secondary_indexes = "{{ local_secondary_indexes }}"
    multi_region_consistency = "{{ multi_region_consistency }}"
    read_on_demand_throughput_settings = "{{ read_on_demand_throughput_settings }}"
    read_provisioned_throughput_settings = "{{ read_provisioned_throughput_settings }}"
    replicas = "{{ replicas }}"
    sse_specification = "{{ sse_specification }}"
    stream_specification = "{{ stream_specification }}"
    table_name = "{{ table_name }}"
    time_to_live_specification = "{{ time_to_live_specification }}"
    warm_throughput = "{{ warm_throughput }}"
    write_on_demand_throughput_settings = "{{ write_on_demand_throughput_settings }}"
    write_provisioned_throughput_settings = "{{ write_provisioned_throughput_settings }}"
}
