resource "awscc_route53_record_set" "example" {
    alias_target = "{{ alias_target }}"
    cidr_routing_config = "{{ cidr_routing_config }}"
    comment = "{{ comment }}"
    failover = "{{ failover }}"
    geo_location = "{{ geo_location }}"
    geo_proximity_location = "{{ geo_proximity_location }}"
    health_check_id = "{{ health_check_id }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    hosted_zone_name = "{{ hosted_zone_name }}"
    multi_value_answer = {{ multi_value_answer }}
    name = "{{ name }}"
    region = "{{ region }}"
    resource_records = ["{{ resource_records }}"]
    set_identifier = "{{ set_identifier }}"
    ttl = "{{ ttl }}"
    type = "{{ type }}"
    weight = {{ weight }}
}
