resource "awscc_iot_ca_certificate" "example" {
    auto_registration_status = "{{ auto_registration_status }}"
    ca_certificate_pem = "{{ ca_certificate_pem }}"
    certificate_mode = "{{ certificate_mode }}"
    registration_config = "{{ registration_config }}"
    remove_auto_registration = {{ remove_auto_registration }}
    status = "{{ status }}"
    tags = "{{ tags }}"
    verification_certificate_pem = "{{ verification_certificate_pem }}"
}
