resource "awscc_greengrassv2_deployment" "example" {
    components = "{{ components }}"
    deployment_name = "{{ deployment_name }}"
    deployment_policies = "{{ deployment_policies }}"
    iot_job_configuration = "{{ iot_job_configuration }}"
    parent_target_arn = "{{ parent_target_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    target_arn = "{{ target_arn }}"
}
