resource "awscc_gamelift_fleet" "example" {
    anywhere_configuration = "{{ anywhere_configuration }}"
    apply_capacity = "{{ apply_capacity }}"
    build_id = "{{ build_id }}"
    certificate_configuration = "{{ certificate_configuration }}"
    compute_type = "{{ compute_type }}"
    description = "{{ description }}"
    desired_ec2_instances = {{ desired_ec2_instances }}
    ec2_inbound_permissions = "{{ ec2_inbound_permissions }}"
    ec2_instance_type = "{{ ec2_instance_type }}"
    fleet_type = "{{ fleet_type }}"
    instance_role_arn = "{{ instance_role_arn }}"
    instance_role_credentials_provider = "{{ instance_role_credentials_provider }}"
    locations = "{{ locations }}"
    log_paths = ["{{ log_paths }}"]
    max_size = {{ max_size }}
    metric_groups = ["{{ metric_groups }}"]
    min_size = {{ min_size }}
    name = "{{ name }}"
    new_game_session_protection_policy = "{{ new_game_session_protection_policy }}"
    peer_vpc_aws_account_id = "{{ peer_vpc_aws_account_id }}"
    peer_vpc_id = "{{ peer_vpc_id }}"
    player_gateway_configuration = "{{ player_gateway_configuration }}"
    player_gateway_mode = "{{ player_gateway_mode }}"
    resource_creation_limit_policy = "{{ resource_creation_limit_policy }}"
    runtime_configuration = "{{ runtime_configuration }}"
    scaling_policies = "{{ scaling_policies }}"
    script_id = "{{ script_id }}"
    server_launch_parameters = "{{ server_launch_parameters }}"
    server_launch_path = "{{ server_launch_path }}"
    tags = "{{ tags }}"
}
