resource "awscc_entityresolution_schema_mapping" "example" {
    description = "{{ description }}"
    mapped_input_fields = "{{ mapped_input_fields }}"
    schema_name = "{{ schema_name }}"
    tags = "{{ tags }}"
}
