resource "awscc_ec2_ec2_fleet" "example" {
    context = "{{ context }}"
    excess_capacity_termination_policy = "{{ excess_capacity_termination_policy }}"
    fleet_id = "{{ fleet_id }}"
    id = "{{ id }}"
    launch_template_configs = "{
    launch_template_specification = {
    launch_template_id = {{ launch_template_id }}
    launch_template_name = {{ launch_template_name }}
    version = {{ version }}
}
    overrides = {
    availability_zone = {{ availability_zone }}
    instance_requirements = {
    accelerator_count = {
    max = {{ max }}
    min = {{ min }}
}
    accelerator_manufacturers = {{ accelerator_manufacturers }}
    accelerator_names = {{ accelerator_names }}
    accelerator_total_memory_mi_b = {
    max = {{ max }}
    min = {{ min }}
}
    accelerator_types = {{ accelerator_types }}
    allowed_instance_types = {{ allowed_instance_types }}
    bare_metal = {{ bare_metal }}
    baseline_ebs_bandwidth_mbps = {
    max = {{ max }}
    min = {{ min }}
}
    burstable_performance = {{ burstable_performance }}
    cpu_manufacturers = {{ cpu_manufacturers }}
    excluded_instance_types = {{ excluded_instance_types }}
    instance_generations = {{ instance_generations }}
    local_storage = {{ local_storage }}
    local_storage_types = {{ local_storage_types }}
    max_spot_price_as_percentage_of_optimal_on_demand_price = {{ max_spot_price_as_percentage_of_optimal_on_demand_price }}
    memory_gi_b_per_v_cpu = {
    max = {{ max }}
    min = {{ min }}
}
    memory_mi_b = {
    max = {{ max }}
    min = {{ min }}
}
    network_bandwidth_gbps = {
    max = {{ max }}
    min = {{ min }}
}
    network_interface_count = {
    max = {{ max }}
    min = {{ min }}
}
    on_demand_max_price_percentage_over_lowest_price = {{ on_demand_max_price_percentage_over_lowest_price }}
    require_hibernate_support = {{ require_hibernate_support }}
    spot_max_price_percentage_over_lowest_price = {{ spot_max_price_percentage_over_lowest_price }}
    total_local_storage_gb = {
    max = {{ max }}
    min = {{ min }}
}
    v_cpu_count = {
    max = {{ max }}
    min = {{ min }}
}
}
    instance_type = {{ instance_type }}
    max_price = {{ max_price }}
    placement = {
    affinity = {{ affinity }}
    availability_zone = {{ availability_zone }}
    group_name = {{ group_name }}
    host_id = {{ host_id }}
    host_resource_group_arn = {{ host_resource_group_arn }}
    partition_number = {{ partition_number }}
    spread_domain = {{ spread_domain }}
    tenancy = {{ tenancy }}
}
    priority = {{ priority }}
    subnet_id = {{ subnet_id }}
    weighted_capacity = {{ weighted_capacity }}
}
}"
    on_demand_options = "{
    allocation_strategy = {{ allocation_strategy }}
    capacity_reservation_options = {
    usage_strategy = {{ usage_strategy }}
}
    max_total_price = {{ max_total_price }}
    min_target_capacity = {{ min_target_capacity }}
    single_availability_zone = {{ single_availability_zone }}
    single_instance_type = {{ single_instance_type }}
}"
    replace_unhealthy_instances = "{{ replace_unhealthy_instances }}"
    spot_options = "{
    allocation_strategy = {{ allocation_strategy }}
    instance_interruption_behavior = {{ instance_interruption_behavior }}
    instance_pools_to_use_count = {{ instance_pools_to_use_count }}
    maintenance_strategies = {
    capacity_rebalance = {
    replacement_strategy = {{ replacement_strategy }}
    termination_delay = {{ termination_delay }}
}
}
    max_total_price = {{ max_total_price }}
    min_target_capacity = {{ min_target_capacity }}
    single_availability_zone = {{ single_availability_zone }}
    single_instance_type = {{ single_instance_type }}
}"
    tag_specifications = "{
    resource_type = {{ resource_type }}
    tags = {
    key = {{ key }}
    value = {{ value }}
}
}"
    target_capacity_specification = "{
    default_target_capacity_type = {{ default_target_capacity_type }}
    on_demand_target_capacity = {{ on_demand_target_capacity }}
    spot_target_capacity = {{ spot_target_capacity }}
    target_capacity_unit_type = {{ target_capacity_unit_type }}
    total_target_capacity = {{ total_target_capacity }}
}"
    terminate_instances_with_expiration = "{{ terminate_instances_with_expiration }}"
    type = "{{ type }}"
    valid_from = "{{ valid_from }}"
    valid_until = "{{ valid_until }}"
}