resource "awscc_datazone_form_type" "example" {
    description = "{{ description }}"
    domain_identifier = "{{ domain_identifier }}"
    model = "{{ model }}"
    name = "{{ name }}"
    owning_project_identifier = "{{ owning_project_identifier }}"
    status = "{{ status }}"
}
