resource "awscc_iotsitewise_asset_model" "example" {
    asset_model_composite_models = "{{ asset_model_composite_models }}"
    asset_model_description = "{{ asset_model_description }}"
    asset_model_external_id = "{{ asset_model_external_id }}"
    asset_model_hierarchies = "{{ asset_model_hierarchies }}"
    asset_model_name = "{{ asset_model_name }}"
    asset_model_properties = "{{ asset_model_properties }}"
    asset_model_type = "{{ asset_model_type }}"
    enforced_asset_model_interface_relationships = "{{ enforced_asset_model_interface_relationships }}"
    tags = "{{ tags }}"
}
