resource "awscc_amplify_domain" "example" {
    app_id = "{{ app_id }}"
    auto_sub_domain_creation_patterns = ["{{ auto_sub_domain_creation_patterns }}"]
    auto_sub_domain_iam_role = "{{ auto_sub_domain_iam_role }}"
    certificate_settings = "{{ certificate_settings }}"
    domain_name = "{{ domain_name }}"
    enable_auto_sub_domain = {{ enable_auto_sub_domain }}
    sub_domain_settings = "{{ sub_domain_settings }}"
}
