resource "awscc_sagemaker_model_package_group" "example" {
    model_package_group_description = "{{ model_package_group_description }}"
    model_package_group_name = "{{ model_package_group_name }}"
    model_package_group_policy = "{{ model_package_group_policy }}"
    tags = "{{ tags }}"
}
