data "awscc_datazone_environment_actions" "example" {
    description = "{{ description }}"
    domain_id = "{{ domain_id }}"
    domain_identifier = "{{ domain_identifier }}"
    environment_actions_id = "{{ environment_actions_id }}"
    environment_id = "{{ environment_id }}"
    environment_identifier = "{{ environment_identifier }}"
    id = "{{ id }}"
    identifier = "{{ identifier }}"
    name = "{{ name }}"
    parameters = "{
    uri = {{ uri }}
}"
}