resource "awscc_globalaccelerator_listener" "example" {
    accelerator_arn = "{{ accelerator_arn }}"
    client_affinity = "{{ client_affinity }}"
    port_ranges = "{{ port_ranges }}"
    protocol = "{{ protocol }}"
}
