data "awscc_connect_instance" "example" {
    arn = "{{ arn }}"
    attributes = "{
    auto_resolve_best_voices = {{ auto_resolve_best_voices }}
    contact_lens = {{ contact_lens }}
    contactflow_logs = {{ contactflow_logs }}
    early_media = {{ early_media }}
    inbound_calls = {{ inbound_calls }}
    outbound_calls = {{ outbound_calls }}
    use_custom_tts_voices = {{ use_custom_tts_voices }}
}"
    created_time = "{{ created_time }}"
    directory_id = "{{ directory_id }}"
    id = "{{ id }}"
    identity_management_type = "{{ identity_management_type }}"
    instance_alias = "{{ instance_alias }}"
    instance_id = "{{ instance_id }}"
    instance_status = "{{ instance_status }}"
    service_role = "{{ service_role }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}