resource "awscc_opensearchserverless_security_policy" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    policy = "{{ policy }}"
    type = "{{ type }}"
}