resource "awscc_customerprofiles_object_type" "example" {
    allow_profile_creation = {{ allow_profile_creation }}
    description = "{{ description }}"
    domain_name = "{{ domain_name }}"
    encryption_key = "{{ encryption_key }}"
    expiration_days = {{ expiration_days }}
    fields = "{{ fields }}"
    keys = "{{ keys }}"
    max_profile_object_count = {{ max_profile_object_count }}
    object_type_name = "{{ object_type_name }}"
    source_last_updated_timestamp_format = "{{ source_last_updated_timestamp_format }}"
    source_priority = {{ source_priority }}
    tags = "{{ tags }}"
    template_id = "{{ template_id }}"
}
