resource "awscc_databrew_job" "example" {
    data_catalog_outputs = "{{ data_catalog_outputs }}"
    database_outputs = "{{ database_outputs }}"
    dataset_name = "{{ dataset_name }}"
    encryption_key_arn = "{{ encryption_key_arn }}"
    encryption_mode = "{{ encryption_mode }}"
    job_sample = "{{ job_sample }}"
    log_subscription = "{{ log_subscription }}"
    max_capacity = {{ max_capacity }}
    max_retries = {{ max_retries }}
    name = "{{ name }}"
    output_location = "{{ output_location }}"
    outputs = "{{ outputs }}"
    profile_configuration = "{{ profile_configuration }}"
    project_name = "{{ project_name }}"
    recipe = "{{ recipe }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
    timeout = {{ timeout }}
    type = "{{ type }}"
    validation_configurations = "{{ validation_configurations }}"
}
