resource "awscc_appstream_app_block" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    name = "{{ name }}"
    packaging_type = "{{ packaging_type }}"
    post_setup_script_details = "{{ post_setup_script_details }}"
    setup_script_details = "{{ setup_script_details }}"
    source_s3_location = "{{ source_s3_location }}"
    tags = "{{ tags }}"
}
