resource "awscc_bedrock_prompt" "example" {
    customer_encryption_key_arn = "{{ customer_encryption_key_arn }}"
    default_variant = "{{ default_variant }}"
    description = "{{ description }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    variants = "{{ variants }}"
}
