resource "awscc_internetmonitor_monitor" "example" {
    health_events_config = "{{ health_events_config }}"
    include_linked_accounts = {{ include_linked_accounts }}
    internet_measurements_log_delivery = "{{ internet_measurements_log_delivery }}"
    linked_account_id = "{{ linked_account_id }}"
    max_city_networks_to_monitor = {{ max_city_networks_to_monitor }}
    monitor_name = "{{ monitor_name }}"
    resources = ["{{ resources }}"]
    resources_to_add = ["{{ resources_to_add }}"]
    resources_to_remove = ["{{ resources_to_remove }}"]
    status = "{{ status }}"
    tags = "{{ tags }}"
    traffic_percentage_to_monitor = {{ traffic_percentage_to_monitor }}
}
