resource "awscc_datasync_location_object_storage" "example" {
    access_key = "{{ access_key }}"
    agent_arns = ["{{ agent_arns }}"]
    bucket_name = "{{ bucket_name }}"
    cmk_secret_config = "{{ cmk_secret_config }}"
    custom_secret_config = "{{ custom_secret_config }}"
    secret_key = "{{ secret_key }}"
    server_certificate = "{{ server_certificate }}"
    server_hostname = "{{ server_hostname }}"
    server_port = {{ server_port }}
    server_protocol = "{{ server_protocol }}"
    subdirectory = "{{ subdirectory }}"
    tags = "{{ tags }}"
}
