resource "awscc_workspacesthinclient_environment" "example" {
    desired_software_set_id = "{{ desired_software_set_id }}"
    desktop_arn = "{{ desktop_arn }}"
    desktop_endpoint = "{{ desktop_endpoint }}"
    device_creation_tags = "{{ device_creation_tags }}"
    kms_key_arn = "{{ kms_key_arn }}"
    maintenance_window = "{{ maintenance_window }}"
    name = "{{ name }}"
    software_set_update_mode = "{{ software_set_update_mode }}"
    software_set_update_schedule = "{{ software_set_update_schedule }}"
    tags = "{{ tags }}"
}
