resource "awscc_personalize_solution" "example" {
    dataset_group_arn = "{{ dataset_group_arn }}"
    event_type = "{{ event_type }}"
    name = "{{ name }}"
    perform_auto_ml = {{ perform_auto_ml }}
    perform_hpo = {{ perform_hpo }}
    recipe_arn = "{{ recipe_arn }}"
    solution_config = "{{ solution_config }}"
}
