data "awscc_ec2_spot_fleet" "example" {
    id = "{{ id }}"
    spot_fleet_id = "{{ spot_fleet_id }}"
    spot_fleet_request_config_data = "{
    allocation_strategy = {{ allocation_strategy }}
    context = {{ context }}
    excess_capacity_termination_policy = {{ excess_capacity_termination_policy }}
    iam_fleet_role = {{ iam_fleet_role }}
    instance_interruption_behavior = {{ instance_interruption_behavior }}
    instance_pools_to_use_count = {{ instance_pools_to_use_count }}
    launch_specifications = {
    block_device_mappings = {
    device_name = {{ device_name }}
    ebs = {
    delete_on_termination = {{ delete_on_termination }}
    encrypted = {{ encrypted }}
    iops = {{ iops }}
    snapshot_id = {{ snapshot_id }}
    volume_size = {{ volume_size }}
    volume_type = {{ volume_type }}
}
    no_device = {{ no_device }}
    virtual_name = {{ virtual_name }}
}
    ebs_optimized = {{ ebs_optimized }}
    iam_instance_profile = {
    arn = {{ arn }}
}
    image_id = {{ image_id }}
    instance_requirements = {
    accelerator_count = {
    max = {{ max }}
    min = {{ min }}
}
    accelerator_manufacturers = {{ accelerator_manufacturers }}
    accelerator_names = {{ accelerator_names }}
    accelerator_total_memory_mi_b = {
    max = {{ max }}
    min = {{ min }}
}
    accelerator_types = {{ accelerator_types }}
    allowed_instance_types = {{ allowed_instance_types }}
    bare_metal = {{ bare_metal }}
    baseline_ebs_bandwidth_mbps = {
    max = {{ max }}
    min = {{ min }}
}
    burstable_performance = {{ burstable_performance }}
    cpu_manufacturers = {{ cpu_manufacturers }}
    excluded_instance_types = {{ excluded_instance_types }}
    instance_generations = {{ instance_generations }}
    local_storage = {{ local_storage }}
    local_storage_types = {{ local_storage_types }}
    max_spot_price_as_percentage_of_optimal_on_demand_price = {{ max_spot_price_as_percentage_of_optimal_on_demand_price }}
    memory_gi_b_per_v_cpu = {
    max = {{ max }}
    min = {{ min }}
}
    memory_mi_b = {
    max = {{ max }}
    min = {{ min }}
}
    network_bandwidth_gbps = {
    max = {{ max }}
    min = {{ min }}
}
    network_interface_count = {
    max = {{ max }}
    min = {{ min }}
}
    on_demand_max_price_percentage_over_lowest_price = {{ on_demand_max_price_percentage_over_lowest_price }}
    require_hibernate_support = {{ require_hibernate_support }}
    spot_max_price_percentage_over_lowest_price = {{ spot_max_price_percentage_over_lowest_price }}
    total_local_storage_gb = {
    max = {{ max }}
    min = {{ min }}
}
    v_cpu_count = {
    max = {{ max }}
    min = {{ min }}
}
}
    instance_type = {{ instance_type }}
    kernel_id = {{ kernel_id }}
    key_name = {{ key_name }}
    monitoring = {
    enabled = {{ enabled }}
}
    network_interfaces = {
    associate_public_ip_address = {{ associate_public_ip_address }}
    delete_on_termination = {{ delete_on_termination }}
    description = {{ description }}
    device_index = {{ device_index }}
    groups = {{ groups }}
    ipv_6_address_count = {{ ipv_6_address_count }}
    ipv_6_addresses = {
    ipv_6_address = {{ ipv_6_address }}
}
    network_interface_id = {{ network_interface_id }}
    private_ip_addresses = {
    primary = {{ primary }}
    private_ip_address = {{ private_ip_address }}
}
    secondary_private_ip_address_count = {{ secondary_private_ip_address_count }}
    subnet_id = {{ subnet_id }}
}
    placement = {
    availability_zone = {{ availability_zone }}
    group_name = {{ group_name }}
    tenancy = {{ tenancy }}
}
    ramdisk_id = {{ ramdisk_id }}
    security_groups = {
    group_id = {{ group_id }}
}
    spot_price = {{ spot_price }}
    subnet_id = {{ subnet_id }}
    tag_specifications = {
    resource_type = {{ resource_type }}
    tags = {
    key = {{ key }}
    value = {{ value }}
}
}
    user_data = {{ user_data }}
    weighted_capacity = {{ weighted_capacity }}
}
    launch_template_configs = {
    launch_template_specification = {
    launch_template_id = {{ launch_template_id }}
    launch_template_name = {{ launch_template_name }}
    version = {{ version }}
}
    overrides = {
    availability_zone = {{ availability_zone }}
    instance_requirements = {
    accelerator_count = {
    max = {{ max }}
    min = {{ min }}
}
    accelerator_manufacturers = {{ accelerator_manufacturers }}
    accelerator_names = {{ accelerator_names }}
    accelerator_total_memory_mi_b = {
    max = {{ max }}
    min = {{ min }}
}
    accelerator_types = {{ accelerator_types }}
    allowed_instance_types = {{ allowed_instance_types }}
    bare_metal = {{ bare_metal }}
    baseline_ebs_bandwidth_mbps = {
    max = {{ max }}
    min = {{ min }}
}
    burstable_performance = {{ burstable_performance }}
    cpu_manufacturers = {{ cpu_manufacturers }}
    excluded_instance_types = {{ excluded_instance_types }}
    instance_generations = {{ instance_generations }}
    local_storage = {{ local_storage }}
    local_storage_types = {{ local_storage_types }}
    max_spot_price_as_percentage_of_optimal_on_demand_price = {{ max_spot_price_as_percentage_of_optimal_on_demand_price }}
    memory_gi_b_per_v_cpu = {
    max = {{ max }}
    min = {{ min }}
}
    memory_mi_b = {
    max = {{ max }}
    min = {{ min }}
}
    network_bandwidth_gbps = {
    max = {{ max }}
    min = {{ min }}
}
    network_interface_count = {
    max = {{ max }}
    min = {{ min }}
}
    on_demand_max_price_percentage_over_lowest_price = {{ on_demand_max_price_percentage_over_lowest_price }}
    require_hibernate_support = {{ require_hibernate_support }}
    spot_max_price_percentage_over_lowest_price = {{ spot_max_price_percentage_over_lowest_price }}
    total_local_storage_gb = {
    max = {{ max }}
    min = {{ min }}
}
    v_cpu_count = {
    max = {{ max }}
    min = {{ min }}
}
}
    instance_type = {{ instance_type }}
    priority = {{ priority }}
    spot_price = {{ spot_price }}
    subnet_id = {{ subnet_id }}
    weighted_capacity = {{ weighted_capacity }}
}
}
    load_balancers_config = {
    classic_load_balancers_config = {
    classic_load_balancers = {
    name = {{ name }}
}
}
    target_groups_config = {
    target_groups = {
    arn = {{ arn }}
}
}
}
    on_demand_allocation_strategy = {{ on_demand_allocation_strategy }}
    on_demand_max_total_price = {{ on_demand_max_total_price }}
    on_demand_target_capacity = {{ on_demand_target_capacity }}
    replace_unhealthy_instances = {{ replace_unhealthy_instances }}
    spot_maintenance_strategies = {
    capacity_rebalance = {
    replacement_strategy = {{ replacement_strategy }}
    termination_delay = {{ termination_delay }}
}
}
    spot_max_total_price = {{ spot_max_total_price }}
    spot_price = {{ spot_price }}
    tag_specifications = {
    resource_type = {{ resource_type }}
    tags = {
    key = {{ key }}
    value = {{ value }}
}
}
    target_capacity = {{ target_capacity }}
    target_capacity_unit_type = {{ target_capacity_unit_type }}
    terminate_instances_with_expiration = {{ terminate_instances_with_expiration }}
    type = {{ type }}
    valid_from = {{ valid_from }}
    valid_until = {{ valid_until }}
}"
}