resource "awscc_secretsmanager_secret_target_attachment" "example" {
    id = "{{ id }}"
    secret_id = "{{ secret_id }}"
    secret_target_attachment_id = "{{ secret_target_attachment_id }}"
    target_id = "{{ target_id }}"
    target_type = "{{ target_type }}"
}