resource "awscc_ec2_verified_access_group" "example" {
    description = "{{ description }}"
    policy_document = "{{ policy_document }}"
    policy_enabled = {{ policy_enabled }}
    sse_specification = "{{ sse_specification }}"
    tags = "{{ tags }}"
    verified_access_instance_id = "{{ verified_access_instance_id }}"
}
