resource "awscc_cloudformation_stack" "example" {
    capabilities = ["{{ capabilities }}"]
    description = "{{ description }}"
    disable_rollback = {{ disable_rollback }}
    enable_termination_protection = {{ enable_termination_protection }}
    notification_ar_ns = ["{{ notification_ar_ns }}"]
    parameters = {
        key = "{{ parameters_value }}"
      }
    role_arn = "{{ role_arn }}"
    stack_name = "{{ stack_name }}"
    stack_policy_body = "{{ stack_policy_body }}"
    stack_policy_url = "{{ stack_policy_url }}"
    stack_status_reason = "{{ stack_status_reason }}"
    tags = "{{ tags }}"
    template_body = "{{ template_body }}"
    template_url = "{{ template_url }}"
    timeout_in_minutes = {{ timeout_in_minutes }}
}
