resource "awscc_deadline_limit" "example" {
    amount_requirement_name = "{{ amount_requirement_name }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    farm_id = "{{ farm_id }}"
    max_count = {{ max_count }}
}
