data "awscc_stepfunctions_state_machine_version" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    state_machine_arn = "{{ state_machine_arn }}"
    state_machine_revision_id = "{{ state_machine_revision_id }}"
}