resource "awscc_lookoutmetrics_anomaly_detector" "example" {
    anomaly_detector_config = "{{ anomaly_detector_config }}"
    anomaly_detector_description = "{{ anomaly_detector_description }}"
    anomaly_detector_name = "{{ anomaly_detector_name }}"
    kms_key_arn = "{{ kms_key_arn }}"
    metric_set_list = "{{ metric_set_list }}"
}
