data "awscc_pcaconnectorad_directory_registration" "example" {
    directory_id = "{{ directory_id }}"
    directory_registration_arn = "{{ directory_registration_arn }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
}