resource "awscc_resiliencehub_app" "example" {
    app_assessment_schedule = "{{ app_assessment_schedule }}"
    app_template_body = "{{ app_template_body }}"
    description = "{{ description }}"
    event_subscriptions = "{{ event_subscriptions }}"
    name = "{{ name }}"
    permission_model = "{{ permission_model }}"
    resiliency_policy_arn = "{{ resiliency_policy_arn }}"
    resource_mappings = "{{ resource_mappings }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
