resource "awscc_dms_data_migration" "example" {
    data_migration_identifier = "{{ data_migration_identifier }}"
    data_migration_name = "{{ data_migration_name }}"
    data_migration_settings = "{{ data_migration_settings }}"
    data_migration_type = "{{ data_migration_type }}"
    migration_project_identifier = "{{ migration_project_identifier }}"
    service_access_role_arn = "{{ service_access_role_arn }}"
    source_data_settings = "{{ source_data_settings }}"
    tags = "{{ tags }}"
}
