resource "awscc_opensearchservice_application" "example" {
    app_configs = "{{ app_configs }}"
    data_sources = "{{ data_sources }}"
    endpoint = "{{ endpoint }}"
    iam_identity_center_options = "{{ iam_identity_center_options }}"
    kms_key_arn = "{{ kms_key_arn }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
