resource "awscc_elasticache_serverless_cache" "example" {
    cache_usage_limits = "{{ cache_usage_limits }}"
    daily_snapshot_time = "{{ daily_snapshot_time }}"
    description = "{{ description }}"
    endpoint = "{{ endpoint }}"
    engine = "{{ engine }}"
    final_snapshot_name = "{{ final_snapshot_name }}"
    kms_key_id = "{{ kms_key_id }}"
    major_engine_version = "{{ major_engine_version }}"
    reader_endpoint = "{{ reader_endpoint }}"
    security_group_ids = ["{{ security_group_ids }}"]
    serverless_cache_name = "{{ serverless_cache_name }}"
    snapshot_arns_to_restore = ["{{ snapshot_arns_to_restore }}"]
    snapshot_retention_limit = {{ snapshot_retention_limit }}
    subnet_ids = ["{{ subnet_ids }}"]
    tags = "{{ tags }}"
    user_group_id = "{{ user_group_id }}"
}
