resource "awscc_medialive_event_bridge_rule_template" "example" {
    description = "{{ description }}"
    event_targets = "{{ event_targets }}"
    event_type = "{{ event_type }}"
    group_identifier = "{{ group_identifier }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
