resource "awscc_lambda_url" "example" {
    auth_type = "{{ auth_type }}"
    cors = "{{ cors }}"
    invoke_mode = "{{ invoke_mode }}"
    qualifier = "{{ qualifier }}"
    target_function_arn = "{{ target_function_arn }}"
}
