resource "awscc_mediaconnect_flow_output" "example" {
    cidr_allow_list = ["{{ cidr_allow_list }}"]
    description = "{{ description }}"
    destination = "{{ destination }}"
    encryption = "{{ encryption }}"
    flow_arn = "{{ flow_arn }}"
    max_latency = {{ max_latency }}
    media_stream_output_configurations = "{{ media_stream_output_configurations }}"
    min_latency = {{ min_latency }}
    name = "{{ name }}"
    ndi_program_name = "{{ ndi_program_name }}"
    ndi_speed_hq_quality = {{ ndi_speed_hq_quality }}
    output_status = "{{ output_status }}"
    port = {{ port }}
    protocol = "{{ protocol }}"
    remote_id = "{{ remote_id }}"
    router_integration_state = "{{ router_integration_state }}"
    router_integration_transit_encryption = "{{ router_integration_transit_encryption }}"
    smoothing_latency = {{ smoothing_latency }}
    stream_id = "{{ stream_id }}"
    tags = "{{ tags }}"
    vpc_interface_attachment = "{{ vpc_interface_attachment }}"
}
