resource "awscc_servicecatalog_launch_template_constraint" "example" {
    accept_language = "{{ accept_language }}"
    description = "{{ description }}"
    portfolio_id = "{{ portfolio_id }}"
    product_id = "{{ product_id }}"
    rules = "{{ rules }}"
}
