resource "awscc_frauddetector_event_type" "example" {
    description = "{{ description }}"
    entity_types = "{{ entity_types }}"
    event_variables = "{{ event_variables }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
