resource "awscc_apprunner_vpc_connector" "example" {
    security_groups = ["{{ security_groups }}"]
    subnets = ["{{ subnets }}"]
    tags = "{{ tags }}"
    vpc_connector_name = "{{ vpc_connector_name }}"
}
