resource "awscc_networkfirewall_tls_inspection_configuration" "example" {
    description = "{{ description }}"
    tags = "{{ tags }}"
    tls_inspection_configuration = "{{ tls_inspection_configuration }}"
    tls_inspection_configuration_name = "{{ tls_inspection_configuration_name }}"
}
