resource "awscc_lightsail_disk" "example" {
    add_ons = "{
    add_on_type = {{ add_on_type }}
    auto_snapshot_add_on_request = {
    snapshot_time_of_day = {{ snapshot_time_of_day }}
}
    status = {{ status }}
}"
    attached_to = "{{ attached_to }}"
    attachment_state = "{{ attachment_state }}"
    availability_zone = "{{ availability_zone }}"
    disk_arn = "{{ disk_arn }}"
    disk_name = "{{ disk_name }}"
    id = "{{ id }}"
    iops = "{{ iops }}"
    is_attached = "{{ is_attached }}"
    location = "{
    availability_zone = {{ availability_zone }}
    region_name = {{ region_name }}
}"
    path = "{{ path }}"
    resource_type = "{{ resource_type }}"
    size_in_gb = "{{ size_in_gb }}"
    state = "{{ state }}"
    support_code = "{{ support_code }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}