resource "awscc_connect_prompt" "example" {
    description = "{{ description }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    s3_uri = "{{ s3_uri }}"
    tags = "{{ tags }}"
}
