resource "awscc_ec2_transit_gateway_connect" "example" {
    options = "{{ options }}"
    tags = "{{ tags }}"
    transport_transit_gateway_attachment_id = "{{ transport_transit_gateway_attachment_id }}"
}
