resource "awscc_iottwinmaker_workspace" "example" {
    description = "{{ description }}"
    role = "{{ role }}"
    s3_location = "{{ s3_location }}"
    tags = {
        key = "{{ tags_value }}"
      }
    workspace_id = "{{ workspace_id }}"
}
