resource "awscc_nimblestudio_streaming_image" "example" {
    description = "{{ description }}"
    ec_2_image_id = "{{ ec_2_image_id }}"
    encryption_configuration_key_arn = "{{ encryption_configuration_key_arn }}"
    encryption_configuration_key_type = "{{ encryption_configuration_key_type }}"
    name = "{{ name }}"
    studio_id = "{{ studio_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
