resource "awscc_codeartifact_package_group" "example" {
    contact_info = "{{ contact_info }}"
    description = "{{ description }}"
    domain_name = "{{ domain_name }}"
    domain_owner = "{{ domain_owner }}"
    origin_configuration = "{{ origin_configuration }}"
    pattern = "{{ pattern }}"
    tags = "{{ tags }}"
}
