resource "awscc_route53resolver_resolver_config" "example" {
    autodefined_reverse = "{{ autodefined_reverse }}"
    autodefined_reverse_flag = "{{ autodefined_reverse_flag }}"
    id = "{{ id }}"
    owner_id = "{{ owner_id }}"
    resolver_config_id = "{{ resolver_config_id }}"
    resource_id = "{{ resource_id }}"
}