resource "awscc_groundstation_mission_profile" "example" {
    contact_post_pass_duration_seconds = {{ contact_post_pass_duration_seconds }}
    contact_pre_pass_duration_seconds = {{ contact_pre_pass_duration_seconds }}
    dataflow_edges = "{{ dataflow_edges }}"
    minimum_viable_contact_duration_seconds = {{ minimum_viable_contact_duration_seconds }}
    name = "{{ name }}"
    streams_kms_key = "{{ streams_kms_key }}"
    streams_kms_role = "{{ streams_kms_role }}"
    tags = "{{ tags }}"
    telemetry_sink_config_arn = "{{ telemetry_sink_config_arn }}"
    tracking_config_arn = "{{ tracking_config_arn }}"
}
