resource "awscc_location_place_index" "example" {
    arn = "{{ arn }}"
    create_time = "{{ create_time }}"
    data_source = "{{ data_source }}"
    data_source_configuration = "{
    intended_use = {{ intended_use }}
}"
    description = "{{ description }}"
    id = "{{ id }}"
    index_arn = "{{ index_arn }}"
    index_name = "{{ index_name }}"
    pricing_plan = "{{ pricing_plan }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    update_time = "{{ update_time }}"
}