resource "awscc_omics_workflow" "example" {
    accelerators = "{{ accelerators }}"
    definition_uri = "{{ definition_uri }}"
    description = "{{ description }}"
    engine = "{{ engine }}"
    main = "{{ main }}"
    name = "{{ name }}"
    parameter_template = "{{ parameter_template }}"
    storage_capacity = {{ storage_capacity }}
    storage_type = "{{ storage_type }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
