resource "awscc_evidently_feature" "example" {
    default_variation = "{{ default_variation }}"
    description = "{{ description }}"
    entity_overrides = "{{ entity_overrides }}"
    evaluation_strategy = "{{ evaluation_strategy }}"
    name = "{{ name }}"
    project = "{{ project }}"
    tags = "{{ tags }}"
    variations = "{{ variations }}"
}
