resource "awscc_route53profiles_profile_resource_association" "example" {
    name = "{{ name }}"
    profile_id = "{{ profile_id }}"
    resource_arn = "{{ resource_arn }}"
    resource_properties = "{{ resource_properties }}"
}
