resource "awscc_quicksight_analysis" "example" {
    analysis_id = "{{ analysis_id }}"
    aws_account_id = "{{ aws_account_id }}"
    errors = "{{ errors }}"
    name = "{{ name }}"
    parameters = "{{ parameters }}"
    permissions = "{{ permissions }}"
    source_entity = "{{ source_entity }}"
    tags = "{{ tags }}"
    theme_arn = "{{ theme_arn }}"
}
