resource "awscc_lakeformation_principal_permissions" "example" {
    catalog = "{{ catalog }}"
    permissions = ["{{ permissions }}"]
    permissions_with_grant_option = ["{{ permissions_with_grant_option }}"]
    principal = "{{ principal }}"
    resource = "{{ resource }}"
}
