resource "awscc_billingconductor_custom_line_item" "example" {
    account_id = "{{ account_id }}"
    billing_group_arn = "{{ billing_group_arn }}"
    billing_period_range = "{{ billing_period_range }}"
    computation_rule = "{{ computation_rule }}"
    custom_line_item_charge_details = "{{ custom_line_item_charge_details }}"
    description = "{{ description }}"
    name = "{{ name }}"
    presentation_details = "{{ presentation_details }}"
    tags = "{{ tags }}"
}
