resource "awscc_networkmanager_site_to_site_vpn_attachment" "example" {
    core_network_id = "{{ core_network_id }}"
    network_function_group_name = "{{ network_function_group_name }}"
    proposed_network_function_group_change = "{{ proposed_network_function_group_change }}"
    proposed_segment_change = "{{ proposed_segment_change }}"
    routing_policy_label = "{{ routing_policy_label }}"
    tags = "{{ tags }}"
    vpn_connection_arn = "{{ vpn_connection_arn }}"
}
