resource "awscc_iot_thing_group" "example" {
    parent_group_name = "{{ parent_group_name }}"
    query_string = "{{ query_string }}"
    tags = "{{ tags }}"
    thing_group_name = "{{ thing_group_name }}"
    thing_group_properties = "{{ thing_group_properties }}"
}
