resource "awscc_mediapackagev2_origin_endpoint" "example" {
    channel_group_name = "{{ channel_group_name }}"
    channel_name = "{{ channel_name }}"
    container_type = "{{ container_type }}"
    dash_manifests = "{{ dash_manifests }}"
    description = "{{ description }}"
    force_endpoint_error_configuration = "{{ force_endpoint_error_configuration }}"
    hls_manifests = "{{ hls_manifests }}"
    low_latency_hls_manifests = "{{ low_latency_hls_manifests }}"
    mss_manifests = "{{ mss_manifests }}"
    origin_endpoint_name = "{{ origin_endpoint_name }}"
    segment = "{{ segment }}"
    startover_window_seconds = {{ startover_window_seconds }}
    tags = "{{ tags }}"
}
