resource "awscc_lightsail_container" "example" {
    container_service_deployment = "{{ container_service_deployment }}"
    is_disabled = {{ is_disabled }}
    power = "{{ power }}"
    private_registry_access = "{{ private_registry_access }}"
    public_domain_names = "{{ public_domain_names }}"
    scale = {{ scale }}
    service_name = "{{ service_name }}"
    tags = "{{ tags }}"
}
