resource "awscc_amplify_branch" "example" {
    app_id = "{{ app_id }}"
    backend = "{{ backend }}"
    basic_auth_config = "{{ basic_auth_config }}"
    branch_name = "{{ branch_name }}"
    build_spec = "{{ build_spec }}"
    compute_role_arn = "{{ compute_role_arn }}"
    description = "{{ description }}"
    enable_auto_build = {{ enable_auto_build }}
    enable_performance_mode = {{ enable_performance_mode }}
    enable_pull_request_preview = {{ enable_pull_request_preview }}
    enable_skew_protection = {{ enable_skew_protection }}
    environment_variables = "{{ environment_variables }}"
    framework = "{{ framework }}"
    pull_request_environment_name = "{{ pull_request_environment_name }}"
    stage = "{{ stage }}"
    tags = "{{ tags }}"
}
