data "awscc_ec2_host" "example" {
    asset_id = "{{ asset_id }}"
    auto_placement = "{{ auto_placement }}"
    availability_zone = "{{ availability_zone }}"
    host_id = "{{ host_id }}"
    host_maintenance = "{{ host_maintenance }}"
    host_recovery = "{{ host_recovery }}"
    id = "{{ id }}"
    instance_family = "{{ instance_family }}"
    instance_type = "{{ instance_type }}"
    outpost_arn = "{{ outpost_arn }}"
}