resource "awscc_chatbot_custom_action" "example" {
    action_name = "{{ action_name }}"
    alias_name = "{{ alias_name }}"
    attachments = "{{ attachments }}"
    definition = "{{ definition }}"
    tags = "{{ tags }}"
}
