resource "awscc_route53_hosted_zone" "example" {
    hosted_zone_config = "{{ hosted_zone_config }}"
    hosted_zone_features = "{{ hosted_zone_features }}"
    hosted_zone_tags = "{{ hosted_zone_tags }}"
    name = "{{ name }}"
    query_logging_config = "{{ query_logging_config }}"
    vp_cs = "{{ vp_cs }}"
}
