data "awscc_apigatewayv2_deployment" "example" {
    api_id = "{{ api_id }}"
    deployment_id = "{{ deployment_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    stage_name = "{{ stage_name }}"
}