resource "awscc_rds_db_instance" "example" {
    allocated_storage = "{{ allocated_storage }}"
    allow_major_version_upgrade = "{{ allow_major_version_upgrade }}"
    associated_roles = "{
    feature_name = {{ feature_name }}
    role_arn = {{ role_arn }}
}"
    auto_minor_version_upgrade = "{{ auto_minor_version_upgrade }}"
    automatic_backup_replication_kms_key_id = "{{ automatic_backup_replication_kms_key_id }}"
    automatic_backup_replication_region = "{{ automatic_backup_replication_region }}"
    availability_zone = "{{ availability_zone }}"
    backup_retention_period = "{{ backup_retention_period }}"
    ca_certificate_identifier = "{{ ca_certificate_identifier }}"
    certificate_details = "{
    ca_identifier = {{ ca_identifier }}
    valid_till = {{ valid_till }}
}"
    certificate_rotation_restart = "{{ certificate_rotation_restart }}"
    character_set_name = "{{ character_set_name }}"
    copy_tags_to_snapshot = "{{ copy_tags_to_snapshot }}"
    custom_iam_instance_profile = "{{ custom_iam_instance_profile }}"
    db_cluster_identifier = "{{ db_cluster_identifier }}"
    db_cluster_snapshot_identifier = "{{ db_cluster_snapshot_identifier }}"
    db_instance_arn = "{{ db_instance_arn }}"
    db_instance_class = "{{ db_instance_class }}"
    db_instance_identifier = "{{ db_instance_identifier }}"
    db_name = "{{ db_name }}"
    db_parameter_group_name = "{{ db_parameter_group_name }}"
    db_security_groups = "{{ db_security_groups }}"
    db_snapshot_identifier = "{{ db_snapshot_identifier }}"
    db_subnet_group_name = "{{ db_subnet_group_name }}"
    db_system_id = "{{ db_system_id }}"
    dbi_resource_id = "{{ dbi_resource_id }}"
    dedicated_log_volume = "{{ dedicated_log_volume }}"
    delete_automated_backups = "{{ delete_automated_backups }}"
    deletion_protection = "{{ deletion_protection }}"
    domain = "{{ domain }}"
    domain_auth_secret_arn = "{{ domain_auth_secret_arn }}"
    domain_dns_ips = "{{ domain_dns_ips }}"
    domain_fqdn = "{{ domain_fqdn }}"
    domain_iam_role_name = "{{ domain_iam_role_name }}"
    domain_ou = "{{ domain_ou }}"
    enable_cloudwatch_logs_exports = "{{ enable_cloudwatch_logs_exports }}"
    enable_iam_database_authentication = "{{ enable_iam_database_authentication }}"
    enable_performance_insights = "{{ enable_performance_insights }}"
    endpoint = "{
    address = {{ address }}
    hosted_zone_id = {{ hosted_zone_id }}
    port = {{ port }}
}"
    engine = "{{ engine }}"
    engine_lifecycle_support = "{{ engine_lifecycle_support }}"
    engine_version = "{{ engine_version }}"
    id = "{{ id }}"
    iops = "{{ iops }}"
    kms_key_id = "{{ kms_key_id }}"
    license_model = "{{ license_model }}"
    manage_master_user_password = "{{ manage_master_user_password }}"
    master_user_password = "{{ master_user_password }}"
    master_user_secret = "{
    kms_key_id = {{ kms_key_id }}
    secret_arn = {{ secret_arn }}
}"
    master_username = "{{ master_username }}"
    max_allocated_storage = "{{ max_allocated_storage }}"
    monitoring_interval = "{{ monitoring_interval }}"
    monitoring_role_arn = "{{ monitoring_role_arn }}"
    multi_az = "{{ multi_az }}"
    nchar_character_set_name = "{{ nchar_character_set_name }}"
    network_type = "{{ network_type }}"
    option_group_name = "{{ option_group_name }}"
    performance_insights_kms_key_id = "{{ performance_insights_kms_key_id }}"
    performance_insights_retention_period = "{{ performance_insights_retention_period }}"
    port = "{{ port }}"
    preferred_backup_window = "{{ preferred_backup_window }}"
    preferred_maintenance_window = "{{ preferred_maintenance_window }}"
    processor_features = "{
    name = {{ name }}
    value = {{ value }}
}"
    promotion_tier = "{{ promotion_tier }}"
    publicly_accessible = "{{ publicly_accessible }}"
    replica_mode = "{{ replica_mode }}"
    restore_time = "{{ restore_time }}"
    source_db_cluster_identifier = "{{ source_db_cluster_identifier }}"
    source_db_instance_automated_backups_arn = "{{ source_db_instance_automated_backups_arn }}"
    source_db_instance_identifier = "{{ source_db_instance_identifier }}"
    source_dbi_resource_id = "{{ source_dbi_resource_id }}"
    source_region = "{{ source_region }}"
    storage_encrypted = "{{ storage_encrypted }}"
    storage_throughput = "{{ storage_throughput }}"
    storage_type = "{{ storage_type }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    tde_credential_arn = "{{ tde_credential_arn }}"
    tde_credential_password = "{{ tde_credential_password }}"
    timezone = "{{ timezone }}"
    use_default_processor_features = "{{ use_default_processor_features }}"
    use_latest_restorable_time = "{{ use_latest_restorable_time }}"
    vpc_security_groups = "{{ vpc_security_groups }}"
}