resource "awscc_globalaccelerator_accelerator" "example" {
    enabled = {{ enabled }}
    ip_address_type = "{{ ip_address_type }}"
    ip_addresses = ["{{ ip_addresses }}"]
    name = "{{ name }}"
    tags = "{{ tags }}"
}
