resource "awscc_cognito_user_pool_user" "example" {
    client_metadata = {
        key = "{{ client_metadata_value }}"
      }
    desired_delivery_mediums = ["{{ desired_delivery_mediums }}"]
    force_alias_creation = {{ force_alias_creation }}
    message_action = "{{ message_action }}"
    user_attributes = "{{ user_attributes }}"
    user_pool_id = "{{ user_pool_id }}"
    username = "{{ username }}"
    validation_data = "{{ validation_data }}"
}
