resource "awscc_ivs_channel" "example" {
    authorized = {{ authorized }}
    container_format = "{{ container_format }}"
    insecure_ingest = {{ insecure_ingest }}
    latency_mode = "{{ latency_mode }}"
    multitrack_input_configuration = "{{ multitrack_input_configuration }}"
    name = "{{ name }}"
    preset = "{{ preset }}"
    recording_configuration_arn = "{{ recording_configuration_arn }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
}
