resource "awscc_connect_workspace" "example" {
    associations = ["{{ associations }}"]
    description = "{{ description }}"
    instance_arn = "{{ instance_arn }}"
    media = "{{ media }}"
    name = "{{ name }}"
    pages = "{{ pages }}"
    tags = "{{ tags }}"
    theme = "{{ theme }}"
    title = "{{ title }}"
    visibility = "{{ visibility }}"
}
