resource "awscc_mediapackage_packaging_configuration" "example" {
    cmaf_package = "{{ cmaf_package }}"
    dash_package = "{{ dash_package }}"
    hls_package = "{{ hls_package }}"
    mss_package = "{{ mss_package }}"
    packaging_configuration_id = "{{ packaging_configuration_id }}"
    packaging_group_id = "{{ packaging_group_id }}"
    tags = "{{ tags }}"
}
