resource "awscc_apprunner_service" "example" {
    auto_scaling_configuration_arn = "{{ auto_scaling_configuration_arn }}"
    encryption_configuration = "{{ encryption_configuration }}"
    health_check_configuration = "{{ health_check_configuration }}"
    instance_configuration = "{{ instance_configuration }}"
    network_configuration = "{{ network_configuration }}"
    observability_configuration = "{{ observability_configuration }}"
    service_name = "{{ service_name }}"
    source_configuration = "{{ source_configuration }}"
    tags = "{{ tags }}"
}
