data "awscc_apigateway_documentation_version" "example" {
    description = "{{ description }}"
    documentation_version = "{{ documentation_version }}"
    id = "{{ id }}"
    rest_api_id = "{{ rest_api_id }}"
}