resource "awscc_wisdom_ai_guardrail_version" "example" {
    ai_guardrail_id = "{{ ai_guardrail_id }}"
    assistant_id = "{{ assistant_id }}"
    modified_time_seconds = {{ modified_time_seconds }}
}
