resource "awscc_s3_access_grant" "example" {
    access_grants_location_configuration = "{{ access_grants_location_configuration }}"
    access_grants_location_id = "{{ access_grants_location_id }}"
    application_arn = "{{ application_arn }}"
    grantee = "{{ grantee }}"
    permission = "{{ permission }}"
    s3_prefix_type = "{{ s3_prefix_type }}"
    tags = "{{ tags }}"
}
