resource "awscc_iam_server_certificate" "example" {
    certificate_body = "{{ certificate_body }}"
    certificate_chain = "{{ certificate_chain }}"
    path = "{{ path }}"
    private_key = "{{ private_key }}"
    server_certificate_name = "{{ server_certificate_name }}"
    tags = "{{ tags }}"
}
