resource "awscc_cloudwatch_metric_stream" "example" {
    exclude_filters = "{{ exclude_filters }}"
    firehose_arn = "{{ firehose_arn }}"
    include_filters = "{{ include_filters }}"
    include_linked_accounts_metrics = {{ include_linked_accounts_metrics }}
    name = "{{ name }}"
    output_format = "{{ output_format }}"
    role_arn = "{{ role_arn }}"
    statistics_configurations = "{{ statistics_configurations }}"
    tags = "{{ tags }}"
}
