resource "awscc_qbusiness_application" "example" {
    attachments_configuration = "{{ attachments_configuration }}"
    auto_subscription_configuration = "{{ auto_subscription_configuration }}"
    client_ids_for_oidc = ["{{ client_ids_for_oidc }}"]
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    encryption_configuration = "{{ encryption_configuration }}"
    iam_identity_provider_arn = "{{ iam_identity_provider_arn }}"
    identity_center_instance_arn = "{{ identity_center_instance_arn }}"
    identity_type = "{{ identity_type }}"
    personalization_configuration = "{{ personalization_configuration }}"
    q_apps_configuration = "{{ q_apps_configuration }}"
    quick_sight_configuration = "{{ quick_sight_configuration }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
}
