resource "awscc_ec2_flow_log" "example" {
    deliver_cross_account_role = "{{ deliver_cross_account_role }}"
    deliver_logs_permission_arn = "{{ deliver_logs_permission_arn }}"
    destination_options = "{{ destination_options }}"
    log_destination = "{{ log_destination }}"
    log_destination_type = "{{ log_destination_type }}"
    log_format = "{{ log_format }}"
    log_group_name = "{{ log_group_name }}"
    max_aggregation_interval = {{ max_aggregation_interval }}
    resource_id = "{{ resource_id }}"
    resource_type = "{{ resource_type }}"
    tags = "{{ tags }}"
    traffic_type = "{{ traffic_type }}"
}
