resource "awscc_transfer_agreement" "example" {
    access_role = "{{ access_role }}"
    agreement_id = "{{ agreement_id }}"
    arn = "{{ arn }}"
    base_directory = "{{ base_directory }}"
    description = "{{ description }}"
    id = "{{ id }}"
    local_profile_id = "{{ local_profile_id }}"
    partner_profile_id = "{{ partner_profile_id }}"
    server_id = "{{ server_id }}"
    status = "{{ status }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}