resource "awscc_datasync_storage_system" "example" {
    agent_arns = ["{{ agent_arns }}"]
    cloudwatch_log_group_arn = "{{ cloudwatch_log_group_arn }}"
    name = "{{ name }}"
    server_configuration = "{{ server_configuration }}"
    server_credentials = "{{ server_credentials }}"
    system_type = "{{ system_type }}"
    tags = "{{ tags }}"
}
