resource "awscc_quicksight_topic" "example" {
    aws_account_id = "{{ aws_account_id }}"
    config_options = "{{ config_options }}"
    custom_instructions = "{{ custom_instructions }}"
    data_sets = "{{ data_sets }}"
    description = "{{ description }}"
    folder_arns = ["{{ folder_arns }}"]
    name = "{{ name }}"
    tags = "{{ tags }}"
    topic_id = "{{ topic_id }}"
    user_experience_version = "{{ user_experience_version }}"
}
