resource "awscc_route53resolver_firewall_domain_list" "example" {
    arn = "{{ arn }}"
    creation_time = "{{ creation_time }}"
    creator_request_id = "{{ creator_request_id }}"
    domain_count = "{{ domain_count }}"
    domain_file_url = "{{ domain_file_url }}"
    domains = "{{ domains }}"
    firewall_domain_list_id = "{{ firewall_domain_list_id }}"
    id = "{{ id }}"
    managed_owner_name = "{{ managed_owner_name }}"
    modification_time = "{{ modification_time }}"
    name = "{{ name }}"
    status = "{{ status }}"
    status_message = "{{ status_message }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}