resource "awscc_panorama_application_instance" "example" {
    application_instance_id_to_replace = "{{ application_instance_id_to_replace }}"
    default_runtime_context_device = "{{ default_runtime_context_device }}"
    description = "{{ description }}"
    manifest_overrides_payload = "{{ manifest_overrides_payload }}"
    manifest_payload = "{{ manifest_payload }}"
    name = "{{ name }}"
    runtime_role_arn = "{{ runtime_role_arn }}"
    tags = "{{ tags }}"
}
