resource "awscc_ses_mail_manager_traffic_policy" "example" {
    default_action = "{{ default_action }}"
    max_message_size_bytes = {{ max_message_size_bytes }}
    policy_statements = "{{ policy_statements }}"
    tags = "{{ tags }}"
    traffic_policy_name = "{{ traffic_policy_name }}"
}
