resource "awscc_sagemaker_model_quality_job_definition" "example" {
    endpoint_name = "{{ endpoint_name }}"
    job_definition_name = "{{ job_definition_name }}"
    job_resources = "{{ job_resources }}"
    model_quality_app_specification = "{{ model_quality_app_specification }}"
    model_quality_baseline_config = "{{ model_quality_baseline_config }}"
    model_quality_job_input = "{{ model_quality_job_input }}"
    model_quality_job_output_config = "{{ model_quality_job_output_config }}"
    network_config = "{{ network_config }}"
    role_arn = "{{ role_arn }}"
    stopping_condition = "{{ stopping_condition }}"
    tags = "{{ tags }}"
}
