resource "awscc_events_rule" "example" {
    description = "{{ description }}"
    event_bus_name = "{{ event_bus_name }}"
    event_pattern = "{{ event_pattern }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    schedule_expression = "{{ schedule_expression }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
    targets = "{{ targets }}"
}
