resource "awscc_datazone_data_source" "example" {
    asset_forms_input = "{{ asset_forms_input }}"
    configuration = "{{ configuration }}"
    connection_identifier = "{{ connection_identifier }}"
    description = "{{ description }}"
    domain_identifier = "{{ domain_identifier }}"
    enable_setting = "{{ enable_setting }}"
    environment_identifier = "{{ environment_identifier }}"
    name = "{{ name }}"
    project_identifier = "{{ project_identifier }}"
    publish_on_import = {{ publish_on_import }}
    recommendation = "{{ recommendation }}"
    schedule = "{{ schedule }}"
    type = "{{ type }}"
}
