resource "awscc_connect_quick_connect" "example" {
    description = "{{ description }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    quick_connect_config = "{{ quick_connect_config }}"
    tags = "{{ tags }}"
}
