resource "awscc_verifiedpermissions_policy_store" "example" {
    deletion_protection = "{{ deletion_protection }}"
    description = "{{ description }}"
    encryption_settings = "{{ encryption_settings }}"
    schema = "{{ schema }}"
    tags = "{{ tags }}"
    validation_settings = "{{ validation_settings }}"
}
