resource "awscc_frauddetector_list" "example" {
    description = "{{ description }}"
    elements = ["{{ elements }}"]
    name = "{{ name }}"
    tags = "{{ tags }}"
    variable_type = "{{ variable_type }}"
}
