resource "awscc_mediatailor_live_source" "example" {
    http_package_configurations = "{{ http_package_configurations }}"
    live_source_name = "{{ live_source_name }}"
    source_location_name = "{{ source_location_name }}"
    tags = "{{ tags }}"
}
