resource "awscc_applicationautoscaling_scalable_target" "example" {
    max_capacity = {{ max_capacity }}
    min_capacity = {{ min_capacity }}
    resource_id = "{{ resource_id }}"
    role_arn = "{{ role_arn }}"
    scalable_dimension = "{{ scalable_dimension }}"
    scheduled_actions = "{{ scheduled_actions }}"
    service_namespace = "{{ service_namespace }}"
    suspended_state = "{{ suspended_state }}"
}
