resource "awscc_rds_db_proxy_endpoint" "example" {
    db_proxy_endpoint_name = "{{ db_proxy_endpoint_name }}"
    db_proxy_name = "{{ db_proxy_name }}"
    endpoint_network_type = "{{ endpoint_network_type }}"
    tags = "{{ tags }}"
    target_role = "{{ target_role }}"
    vpc_security_group_ids = ["{{ vpc_security_group_ids }}"]
    vpc_subnet_ids = ["{{ vpc_subnet_ids }}"]
}
