resource "awscc_codepipeline_custom_action_type" "example" {
    category = "{{ category }}"
    configuration_properties = "{
    description = {{ description }}
    key = {{ key }}
    name = {{ name }}
    queryable = {{ queryable }}
    required = {{ required }}
    secret = {{ secret }}
    type = {{ type }}
}"
    custom_action_type_id = "{{ custom_action_type_id }}"
    id = "{{ id }}"
    input_artifact_details = "{
    maximum_count = {{ maximum_count }}
    minimum_count = {{ minimum_count }}
}"
    output_artifact_details = "{
    maximum_count = {{ maximum_count }}
    minimum_count = {{ minimum_count }}
}"
    provider_name = "{{ provider_name }}"
    settings = "{
    entity_url_template = {{ entity_url_template }}
    execution_url_template = {{ execution_url_template }}
    revision_url_template = {{ revision_url_template }}
    third_party_configuration_url = {{ third_party_configuration_url }}
}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    version = "{{ version }}"
}