resource "awscc_connect_predefined_attribute" "example" {
    attribute_configuration = "{{ attribute_configuration }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    purposes = ["{{ purposes }}"]
    values = "{{ values }}"
}
