resource "awscc_notifications_managed_notification_account_contact_association" "example" {
    contact_identifier = "{{ contact_identifier }}"
    managed_notification_configuration_arn = "{{ managed_notification_configuration_arn }}"
}
