resource "awscc_bedrockagentcore_o_auth_2_credential_provider" "example" {
    credential_provider_vendor = "{{ credential_provider_vendor }}"
    name = "{{ name }}"
    oauth_2_provider_config_input = "{{ oauth_2_provider_config_input }}"
    tags = "{{ tags }}"
}
