resource "awscc_logs_destination" "example" {
    destination_name = "{{ destination_name }}"
    destination_policy = "{{ destination_policy }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
    target_arn = "{{ target_arn }}"
}
