resource "awscc_appstream_entitlement" "example" {
    app_visibility = "{{ app_visibility }}"
    attributes = "{{ attributes }}"
    description = "{{ description }}"
    name = "{{ name }}"
    stack_name = "{{ stack_name }}"
}
