resource "awscc_iotsitewise_asset" "example" {
    asset_description = "{{ asset_description }}"
    asset_external_id = "{{ asset_external_id }}"
    asset_hierarchies = "{{ asset_hierarchies }}"
    asset_model_id = "{{ asset_model_id }}"
    asset_name = "{{ asset_name }}"
    asset_properties = "{{ asset_properties }}"
    tags = "{{ tags }}"
}
