data "awscc_securityhub_security_control" "example" {
    id = "{{ id }}"
    last_update_reason = "{{ last_update_reason }}"
    parameters = "{
    value = {
    boolean = {{ boolean }}
    double = {{ double }}
    enum = {{ enum }}
    enum_list = {{ enum_list }}
    integer = {{ integer }}
    integer_list = {{ integer_list }}
    string = {{ string }}
    string_list = {{ string_list }}
}
    value_type = {{ value_type }}
}"
    security_control_arn = "{{ security_control_arn }}"
    security_control_id = "{{ security_control_id }}"
}