resource "awscc_rds_option_group" "example" {
    engine_name = "{{ engine_name }}"
    major_engine_version = "{{ major_engine_version }}"
    option_configurations = "{{ option_configurations }}"
    option_group_description = "{{ option_group_description }}"
    option_group_name = "{{ option_group_name }}"
    tags = "{{ tags }}"
}
