resource "awscc_gamelift_container_group_definition" "example" {
    container_group_type = "{{ container_group_type }}"
    game_server_container_definition = "{{ game_server_container_definition }}"
    name = "{{ name }}"
    operating_system = "{{ operating_system }}"
    source_version_number = {{ source_version_number }}
    support_container_definitions = "{{ support_container_definitions }}"
    tags = "{{ tags }}"
    total_memory_limit_mebibytes = {{ total_memory_limit_mebibytes }}
    total_vcpu_limit = {{ total_vcpu_limit }}
    version_description = "{{ version_description }}"
}
