resource "awscc_eks_fargate_profile" "example" {
    cluster_name = "{{ cluster_name }}"
    fargate_profile_name = "{{ fargate_profile_name }}"
    pod_execution_role_arn = "{{ pod_execution_role_arn }}"
    selectors = "{{ selectors }}"
    subnets = ["{{ subnets }}"]
    tags = "{{ tags }}"
}
