resource "awscc_redshift_endpoint_authorization" "example" {
    account = "{{ account }}"
    cluster_identifier = "{{ cluster_identifier }}"
    force = {{ force }}
    vpc_ids = ["{{ vpc_ids }}"]
}
