resource "awscc_applicationsignals_service_level_objective" "example" {
    burn_rate_configurations = "{{ burn_rate_configurations }}"
    description = "{{ description }}"
    exclusion_windows = "{{ exclusion_windows }}"
    goal = "{{ goal }}"
    name = "{{ name }}"
    request_based_sli = "{{ request_based_sli }}"
    sli = "{{ sli }}"
    tags = "{{ tags }}"
}
