resource "awscc_location_api_key" "example" {
    description = "{{ description }}"
    expire_time = "{{ expire_time }}"
    force_delete = {{ force_delete }}
    force_update = {{ force_update }}
    key_name = "{{ key_name }}"
    no_expiry = {{ no_expiry }}
    restrictions = "{{ restrictions }}"
    tags = "{{ tags }}"
}
