resource "awscc_cloudformation_public_type_version" "example" {
    arn = "{{ arn }}"
    log_delivery_bucket = "{{ log_delivery_bucket }}"
    public_version_number = "{{ public_version_number }}"
    type = "{{ type }}"
    type_name = "{{ type_name }}"
}
