resource "awscc_iot_provisioning_template" "example" {
    description = "{{ description }}"
    enabled = {{ enabled }}
    pre_provisioning_hook = "{{ pre_provisioning_hook }}"
    provisioning_role_arn = "{{ provisioning_role_arn }}"
    tags = "{{ tags }}"
    template_body = "{{ template_body }}"
    template_name = "{{ template_name }}"
    template_type = "{{ template_type }}"
}
