resource "awscc_iotwireless_destination" "example" {
    description = "{{ description }}"
    expression = "{{ expression }}"
    expression_type = "{{ expression_type }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
}
