resource "awscc_rbin_rule" "example" {
    description = "{{ description }}"
    exclude_resource_tags = "{{ exclude_resource_tags }}"
    lock_configuration = "{{ lock_configuration }}"
    resource_tags = "{{ resource_tags }}"
    resource_type = "{{ resource_type }}"
    retention_period = "{{ retention_period }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}
