resource "awscc_iam_saml_provider" "example" {
    add_private_key = "{{ add_private_key }}"
    assertion_encryption_mode = "{{ assertion_encryption_mode }}"
    name = "{{ name }}"
    private_key_list = "{{ private_key_list }}"
    remove_private_key = "{{ remove_private_key }}"
    saml_metadata_document = "{{ saml_metadata_document }}"
    tags = "{{ tags }}"
}
