resource "awscc_omics_run_group" "example" {
    max_cpus = {{ max_cpus }}
    max_duration = {{ max_duration }}
    max_gpus = {{ max_gpus }}
    max_runs = {{ max_runs }}
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
