resource "awscc_bedrockagentcore_policy" "example" {
    definition = "{{ definition }}"
    description = "{{ description }}"
    name = "{{ name }}"
    policy_engine_id = "{{ policy_engine_id }}"
    validation_mode = "{{ validation_mode }}"
}
