resource "awscc_apigateway_method" "example" {
    api_key_required = "{{ api_key_required }}"
    authorization_scopes = "{{ authorization_scopes }}"
    authorization_type = "{{ authorization_type }}"
    authorizer_id = "{{ authorizer_id }}"
    http_method = "{{ http_method }}"
    id = "{{ id }}"
    integration = "{
    cache_key_parameters = {{ cache_key_parameters }}
    cache_namespace = {{ cache_namespace }}
    connection_id = {{ connection_id }}
    connection_type = {{ connection_type }}
    content_handling = {{ content_handling }}
    credentials = {{ credentials }}
    integration_http_method = {{ integration_http_method }}
    integration_responses = {
    content_handling = {{ content_handling }}
    response_parameters = {{ response_parameters }}
    response_templates = {{ response_templates }}
    selection_pattern = {{ selection_pattern }}
    status_code = {{ status_code }}
}
    passthrough_behavior = {{ passthrough_behavior }}
    request_parameters = {{ request_parameters }}
    request_templates = {{ request_templates }}
    timeout_in_millis = {{ timeout_in_millis }}
    type = {{ type }}
    uri = {{ uri }}
}"
    method_responses = "{
    response_models = {{ response_models }}
    response_parameters = {{ response_parameters }}
    status_code = {{ status_code }}
}"
    operation_name = "{{ operation_name }}"
    request_models = "{{ request_models }}"
    request_parameters = "{{ request_parameters }}"
    request_validator_id = "{{ request_validator_id }}"
    resource_id = "{{ resource_id }}"
    rest_api_id = "{{ rest_api_id }}"
}