resource "awscc_networkmanager_transit_gateway_route_table_attachment" "example" {
    network_function_group_name = "{{ network_function_group_name }}"
    peering_id = "{{ peering_id }}"
    proposed_network_function_group_change = "{{ proposed_network_function_group_change }}"
    proposed_segment_change = "{{ proposed_segment_change }}"
    routing_policy_label = "{{ routing_policy_label }}"
    tags = "{{ tags }}"
    transit_gateway_route_table_arn = "{{ transit_gateway_route_table_arn }}"
}
