resource "awscc_lex_bot" "example" {
    auto_build_bot_locales = {{ auto_build_bot_locales }}
    bot_file_s3_location = "{{ bot_file_s3_location }}"
    bot_locales = "{{ bot_locales }}"
    bot_tags = "{{ bot_tags }}"
    data_privacy = "{{ data_privacy }}"
    description = "{{ description }}"
    idle_session_ttl_in_seconds = {{ idle_session_ttl_in_seconds }}
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    test_bot_alias_settings = "{{ test_bot_alias_settings }}"
    test_bot_alias_tags = "{{ test_bot_alias_tags }}"
}
