resource "awscc_macie_allow_list" "example" {
    allow_list_id = "{{ allow_list_id }}"
    arn = "{{ arn }}"
    criteria = "{
    regex = {{ regex }}
    s3_words_list = {
    bucket_name = {{ bucket_name }}
    object_key = {{ object_key }}
}
}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    status = "{{ status }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}