resource "awscc_backup_backup_vault" "example" {
    access_policy = "{{ access_policy }}"
    backup_vault_name = "{{ backup_vault_name }}"
    backup_vault_tags = {
        key = "{{ backup_vault_tags_value }}"
      }
    encryption_key_arn = "{{ encryption_key_arn }}"
    lock_configuration = "{{ lock_configuration }}"
    notifications = "{{ notifications }}"
}
