resource "awscc_omics_annotation_store" "example" {
    description = "{{ description }}"
    name = "{{ name }}"
    reference = "{{ reference }}"
    sse_config = "{{ sse_config }}"
    store_format = "{{ store_format }}"
    store_options = "{{ store_options }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
