resource "awscc_ec2_verified_access_instance" "example" {
    cidr_endpoints_custom_sub_domain = "{{ cidr_endpoints_custom_sub_domain }}"
    description = "{{ description }}"
    fips_enabled = {{ fips_enabled }}
    logging_configurations = "{{ logging_configurations }}"
    tags = "{{ tags }}"
    verified_access_trust_provider_ids = ["{{ verified_access_trust_provider_ids }}"]
    verified_access_trust_providers = "{{ verified_access_trust_providers }}"
}
