resource "awscc_config_config_rule" "example" {
    compliance = "{{ compliance }}"
    config_rule_name = "{{ config_rule_name }}"
    description = "{{ description }}"
    evaluation_modes = "{{ evaluation_modes }}"
    input_parameters = "{{ input_parameters }}"
    maximum_execution_frequency = "{{ maximum_execution_frequency }}"
    scope = "{{ scope }}"
    source = "{{ source }}"
}
