resource "awscc_iot_fleet_metric" "example" {
    aggregation_field = "{{ aggregation_field }}"
    aggregation_type = "{{ aggregation_type }}"
    description = "{{ description }}"
    index_name = "{{ index_name }}"
    metric_name = "{{ metric_name }}"
    period = {{ period }}
    query_string = "{{ query_string }}"
    query_version = "{{ query_version }}"
    tags = "{{ tags }}"
    unit = "{{ unit }}"
}
