resource "awscc_route53resolver_outpost_resolver" "example" {
    instance_count = {{ instance_count }}
    name = "{{ name }}"
    outpost_arn = "{{ outpost_arn }}"
    preferred_instance_type = "{{ preferred_instance_type }}"
    tags = "{{ tags }}"
}
