resource "awscc_ec2_network_interface_attachment" "example" {
    delete_on_termination = {{ delete_on_termination }}
    device_index = "{{ device_index }}"
    ena_queue_count = {{ ena_queue_count }}
    ena_srd_specification = "{{ ena_srd_specification }}"
    instance_id = "{{ instance_id }}"
    network_interface_id = "{{ network_interface_id }}"
}
