resource "awscc_medialive_multiplex" "example" {
    availability_zones = ["{{ availability_zones }}"]
    destinations = "{{ destinations }}"
    multiplex_settings = "{{ multiplex_settings }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
