resource "awscc_apigateway_domain_name_v2" "example" {
    certificate_arn = "{{ certificate_arn }}"
    domain_name = "{{ domain_name }}"
    domain_name_arn = "{{ domain_name_arn }}"
    domain_name_id = "{{ domain_name_id }}"
    endpoint_configuration = "{
    types = {{ types }}
}"
    id = "{{ id }}"
    management_policy = "{{ management_policy }}"
    policy = "{{ policy }}"
    security_policy = "{{ security_policy }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}