resource "awscc_securityhub_hub" "example" {
    arn = "{{ arn }}"
    auto_enable_controls = "{{ auto_enable_controls }}"
    control_finding_generator = "{{ control_finding_generator }}"
    enable_default_standards = "{{ enable_default_standards }}"
    id = "{{ id }}"
    subscribed_at = "{{ subscribed_at }}"
    tags = "{{ tags }}"
}