resource "awscc_deadline_license_endpoint" "example" {
    security_group_ids = ["{{ security_group_ids }}"]
    subnet_ids = ["{{ subnet_ids }}"]
    tags = "{{ tags }}"
    vpc_id = "{{ vpc_id }}"
}
