data "awscc_customerprofiles_calculated_attribute_definition" "example" {
    attribute_details = "{
    attributes = {
    name = {{ name }}
}
    expression = {{ expression }}
}"
    calculated_attribute_name = "{{ calculated_attribute_name }}"
    conditions = "{
    object_count = {{ object_count }}
    range = {
    unit = {{ unit }}
    value = {{ value }}
}
    threshold = {
    operator = {{ operator }}
    value = {{ value }}
}
}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    domain_name = "{{ domain_name }}"
    id = "{{ id }}"
    last_updated_at = "{{ last_updated_at }}"
    statistic = "{{ statistic }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}