resource "awscc_iot_ca_certificate" "example" {
    arn = "{{ arn }}"
    auto_registration_status = "{{ auto_registration_status }}"
    ca_certificate_id = "{{ ca_certificate_id }}"
    ca_certificate_pem = "{{ ca_certificate_pem }}"
    certificate_mode = "{{ certificate_mode }}"
    id = "{{ id }}"
    registration_config = "{
    role_arn = {{ role_arn }}
    template_body = {{ template_body }}
    template_name = {{ template_name }}
}"
    remove_auto_registration = "{{ remove_auto_registration }}"
    status = "{{ status }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
    verification_certificate_pem = "{{ verification_certificate_pem }}"
}