resource "awscc_quicksight_template" "example" {
    aws_account_id = "{{ aws_account_id }}"
    name = "{{ name }}"
    permissions = "{{ permissions }}"
    source_entity = "{{ source_entity }}"
    tags = "{{ tags }}"
    template_id = "{{ template_id }}"
    version_description = "{{ version_description }}"
}
