resource "awscc_datasync_location_azure_blob" "example" {
    agent_arns = "{{ agent_arns }}"
    azure_access_tier = "{{ azure_access_tier }}"
    azure_blob_authentication_type = "{{ azure_blob_authentication_type }}"
    azure_blob_container_url = "{{ azure_blob_container_url }}"
    azure_blob_sas_configuration = "{
    azure_blob_sas_token = {{ azure_blob_sas_token }}
}"
    azure_blob_type = "{{ azure_blob_type }}"
    id = "{{ id }}"
    location_arn = "{{ location_arn }}"
    location_uri = "{{ location_uri }}"
    subdirectory = "{{ subdirectory }}"
    tags = "{
    key = {{ key }}
    value = {{ value }}
}"
}