resource "awscc_ecs_cluster" "example" {
    capacity_providers = ["{{ capacity_providers }}"]
    cluster_name = "{{ cluster_name }}"
    cluster_settings = "{{ cluster_settings }}"
    configuration = "{{ configuration }}"
    default_capacity_provider_strategy = "{{ default_capacity_provider_strategy }}"
    service_connect_defaults = "{{ service_connect_defaults }}"
    tags = "{{ tags }}"
}
