resource "awscc_osis_pipeline" "example" {
    buffer_options = "{{ buffer_options }}"
    encryption_at_rest_options = "{{ encryption_at_rest_options }}"
    log_publishing_options = "{{ log_publishing_options }}"
    max_units = {{ max_units }}
    min_units = {{ min_units }}
    pipeline_configuration_body = "{{ pipeline_configuration_body }}"
    pipeline_name = "{{ pipeline_name }}"
    pipeline_role_arn = "{{ pipeline_role_arn }}"
    resource_policy = "{{ resource_policy }}"
    tags = "{{ tags }}"
    vpc_options = "{{ vpc_options }}"
}
