resource "awscc_efs_access_point" "example" {
    access_point_tags = "{{ access_point_tags }}"
    client_token = "{{ client_token }}"
    file_system_id = "{{ file_system_id }}"
    posix_user = "{{ posix_user }}"
    root_directory = "{{ root_directory }}"
}
