resource "awscc_apigatewayv2_integration_response" "example" {
    api_id = "{{ api_id }}"
    content_handling_strategy = "{{ content_handling_strategy }}"
    id = "{{ id }}"
    integration_id = "{{ integration_id }}"
    integration_response_id = "{{ integration_response_id }}"
    integration_response_key = "{{ integration_response_key }}"
    response_parameters = "{{ response_parameters }}"
    response_templates = "{{ response_templates }}"
    template_selection_expression = "{{ template_selection_expression }}"
}