data "awscc_iam_managed_policy" "example" {
    attachment_count = "{{ attachment_count }}"
    create_date = "{{ create_date }}"
    default_version_id = "{{ default_version_id }}"
    description = "{{ description }}"
    groups = "{{ groups }}"
    id = "{{ id }}"
    is_attachable = "{{ is_attachable }}"
    managed_policy_name = "{{ managed_policy_name }}"
    path = "{{ path }}"
    permissions_boundary_usage_count = "{{ permissions_boundary_usage_count }}"
    policy_arn = "{{ policy_arn }}"
    policy_document = "{{ policy_document }}"
    policy_id = "{{ policy_id }}"
    roles = "{{ roles }}"
    update_date = "{{ update_date }}"
    users = "{{ users }}"
}