resource "awscc_transfer_agreement" "example" {
    access_role = "{{ access_role }}"
    base_directory = "{{ base_directory }}"
    custom_directories = "{{ custom_directories }}"
    description = "{{ description }}"
    enforce_message_signing = "{{ enforce_message_signing }}"
    local_profile_id = "{{ local_profile_id }}"
    partner_profile_id = "{{ partner_profile_id }}"
    preserve_filename = "{{ preserve_filename }}"
    server_id = "{{ server_id }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}
