resource "awscc_mediapackage_asset" "example" {
    asset_id = "{{ asset_id }}"
    egress_endpoints = "{{ egress_endpoints }}"
    packaging_group_id = "{{ packaging_group_id }}"
    resource_id = "{{ resource_id }}"
    source_arn = "{{ source_arn }}"
    source_role_arn = "{{ source_role_arn }}"
    tags = "{{ tags }}"
}
