resource "awscc_transfer_server" "example" {
    certificate = "{{ certificate }}"
    domain = "{{ domain }}"
    endpoint_details = "{{ endpoint_details }}"
    endpoint_type = "{{ endpoint_type }}"
    identity_provider_details = "{{ identity_provider_details }}"
    identity_provider_type = "{{ identity_provider_type }}"
    ip_address_type = "{{ ip_address_type }}"
    logging_role = "{{ logging_role }}"
    post_authentication_login_banner = "{{ post_authentication_login_banner }}"
    pre_authentication_login_banner = "{{ pre_authentication_login_banner }}"
    protocol_details = "{{ protocol_details }}"
    protocols = ["{{ protocols }}"]
    s3_storage_options = "{{ s3_storage_options }}"
    security_policy_name = "{{ security_policy_name }}"
    structured_log_destinations = ["{{ structured_log_destinations }}"]
    tags = "{{ tags }}"
    workflow_details = "{{ workflow_details }}"
}
