data "awscc_connect_integration_association" "example" {
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    integration_arn = "{{ integration_arn }}"
    integration_association_id = "{{ integration_association_id }}"
    integration_type = "{{ integration_type }}"
}