resource "awscc_pcaconnectorad_template_group_access_control_entry" "example" {
    access_rights = "{{ access_rights }}"
    group_display_name = "{{ group_display_name }}"
    group_security_identifier = "{{ group_security_identifier }}"
    template_arn = "{{ template_arn }}"
}
