resource "awscc_bedrock_data_source" "example" {
    data_deletion_policy = "{{ data_deletion_policy }}"
    data_source_configuration = "{{ data_source_configuration }}"
    description = "{{ description }}"
    knowledge_base_id = "{{ knowledge_base_id }}"
    name = "{{ name }}"
    server_side_encryption_configuration = "{{ server_side_encryption_configuration }}"
    vector_ingestion_configuration = "{{ vector_ingestion_configuration }}"
}
