resource "awscc_backup_report_plan" "example" {
    report_delivery_channel = "{{ report_delivery_channel }}"
    report_plan_description = "{{ report_plan_description }}"
    report_plan_name = "{{ report_plan_name }}"
    report_plan_tags = "{{ report_plan_tags }}"
    report_setting = "{{ report_setting }}"
}
