resource "awscc_connect_instance" "example" {
    attributes = "{{ attributes }}"
    directory_id = "{{ directory_id }}"
    identity_management_type = "{{ identity_management_type }}"
    instance_alias = "{{ instance_alias }}"
    tags = "{{ tags }}"
}
