data "awscc_networkmanager_customer_gateway_association" "example" {
    customer_gateway_arn = "{{ customer_gateway_arn }}"
    device_id = "{{ device_id }}"
    global_network_id = "{{ global_network_id }}"
    id = "{{ id }}"
    link_id = "{{ link_id }}"
}