resource "awscc_ecs_service" "example" {
    availability_zone_rebalancing = "{{ availability_zone_rebalancing }}"
    capacity_provider_strategy = "{{ capacity_provider_strategy }}"
    cluster = "{{ cluster }}"
    deployment_configuration = "{{ deployment_configuration }}"
    deployment_controller = "{{ deployment_controller }}"
    desired_count = {{ desired_count }}
    enable_ecs_managed_tags = {{ enable_ecs_managed_tags }}
    enable_execute_command = {{ enable_execute_command }}
    force_new_deployment = "{{ force_new_deployment }}"
    health_check_grace_period_seconds = {{ health_check_grace_period_seconds }}
    launch_type = "{{ launch_type }}"
    load_balancers = "{{ load_balancers }}"
    network_configuration = "{{ network_configuration }}"
    placement_constraints = "{{ placement_constraints }}"
    placement_strategies = "{{ placement_strategies }}"
    platform_version = "{{ platform_version }}"
    propagate_tags = "{{ propagate_tags }}"
    role = "{{ role }}"
    scheduling_strategy = "{{ scheduling_strategy }}"
    service_connect_configuration = "{{ service_connect_configuration }}"
    service_name = "{{ service_name }}"
    service_registries = "{{ service_registries }}"
    tags = "{{ tags }}"
    task_definition = "{{ task_definition }}"
    volume_configurations = "{{ volume_configurations }}"
    vpc_lattice_configurations = "{{ vpc_lattice_configurations }}"
}
