resource "awscc_globalaccelerator_listener" "example" {
    accelerator_arn = "{{ accelerator_arn }}"
    client_affinity = "{{ client_affinity }}"
    id = "{{ id }}"
    listener_arn = "{{ listener_arn }}"
    port_ranges = "{
    from_port = {{ from_port }}
    to_port = {{ to_port }}
}"
    protocol = "{{ protocol }}"
}