resource "awscc_b2bi_profile" "example" {
    business_name = "{{ business_name }}"
    email = "{{ email }}"
    logging = "{{ logging }}"
    name = "{{ name }}"
    phone = "{{ phone }}"
    tags = "{{ tags }}"
}
