resource "awscc_sso_application" "example" {
    application_provider_arn = "{{ application_provider_arn }}"
    description = "{{ description }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    portal_options = "{{ portal_options }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}
