resource "awscc_networkmanager_vpc_attachment" "example" {
    core_network_id = "{{ core_network_id }}"
    options = "{{ options }}"
    proposed_network_function_group_change = "{{ proposed_network_function_group_change }}"
    proposed_segment_change = "{{ proposed_segment_change }}"
    routing_policy_label = "{{ routing_policy_label }}"
    subnet_arns = ["{{ subnet_arns }}"]
    tags = "{{ tags }}"
    vpc_arn = "{{ vpc_arn }}"
}
