resource "awscc_securityhub_security_control" "example" {
    last_update_reason = "{{ last_update_reason }}"
    parameters = "{{ parameters }}"
    security_control_arn = "{{ security_control_arn }}"
    security_control_id = "{{ security_control_id }}"
}
