resource "awscc_appflow_flow" "example" {
    description = "{{ description }}"
    destination_flow_config_list = "{{ destination_flow_config_list }}"
    flow_name = "{{ flow_name }}"
    flow_status = "{{ flow_status }}"
    kms_arn = "{{ kms_arn }}"
    metadata_catalog_config = "{{ metadata_catalog_config }}"
    source_flow_config = "{{ source_flow_config }}"
    tags = "{{ tags }}"
    tasks = "{{ tasks }}"
    trigger_config = "{{ trigger_config }}"
}
