resource "awscc_pipes_pipe" "example" {
    description = "{{ description }}"
    desired_state = "{{ desired_state }}"
    enrichment = "{{ enrichment }}"
    enrichment_parameters = "{{ enrichment_parameters }}"
    kms_key_identifier = "{{ kms_key_identifier }}"
    log_configuration = "{{ log_configuration }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    source = "{{ source }}"
    source_parameters = "{{ source_parameters }}"
    tags = {
        key = "{{ tags_value }}"
      }
    target = "{{ target }}"
    target_parameters = "{{ target_parameters }}"
}
