resource "awscc_wisdom_knowledge_base" "example" {
    description = "{{ description }}"
    knowledge_base_type = "{{ knowledge_base_type }}"
    name = "{{ name }}"
    rendering_configuration = "{{ rendering_configuration }}"
    server_side_encryption_configuration = "{{ server_side_encryption_configuration }}"
    source_configuration = "{{ source_configuration }}"
    tags = "{{ tags }}"
    vector_ingestion_configuration = "{{ vector_ingestion_configuration }}"
}
