resource "awscc_workspacesweb_browser_settings" "example" {
    additional_encryption_context = {
        key = "{{ additional_encryption_context_value }}"
      }
    browser_policy = "{{ browser_policy }}"
    customer_managed_key = "{{ customer_managed_key }}"
    tags = "{{ tags }}"
    web_content_filtering_policy = "{{ web_content_filtering_policy }}"
}
