resource "awscc_cleanrooms_id_mapping_table" "example" {
    description = "{{ description }}"
    input_reference_config = "{{ input_reference_config }}"
    kms_key_arn = "{{ kms_key_arn }}"
    membership_identifier = "{{ membership_identifier }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}
