resource "awscc_cassandra_keyspace" "example" {
    client_side_timestamps_enabled = {{ client_side_timestamps_enabled }}
    keyspace_name = "{{ keyspace_name }}"
    replication_specification = "{{ replication_specification }}"
    tags = "{{ tags }}"
}
