resource "awscc_iot_thing_type" "example" {
    deprecate_thing_type = {{ deprecate_thing_type }}
    tags = "{{ tags }}"
    thing_type_name = "{{ thing_type_name }}"
    thing_type_properties = "{{ thing_type_properties }}"
}
