resource "tfmigrate_state_migration" "example" {
    directory_path = "{{ directory_path }}"
    local_workspace = "{{ local_workspace }}"
    org = "{{ org }}"
    tfc_workspace = "{{ tfc_workspace }}"
}