resource "azurerm_automation_credential" "example" {
    automation_account_name = "{{ automation_account_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    password = "{{ password }}"
    resource_group_name = "{{ resource_group_name }}"
    username = "{{ username }}"
}