resource "azurerm_iothub" "example" {
    endpoint = "{{ endpoint }}"
    enrichment = "{{ enrichment }}"
    event_hub_events_endpoint = "{{ event_hub_events_endpoint }}"
    event_hub_events_namespace = "{{ event_hub_events_namespace }}"
    event_hub_events_path = "{{ event_hub_events_path }}"
    event_hub_operations_endpoint = "{{ event_hub_operations_endpoint }}"
    event_hub_operations_path = "{{ event_hub_operations_path }}"
    event_hub_partition_count = "{{ event_hub_partition_count }}"
    event_hub_retention_in_days = "{{ event_hub_retention_in_days }}"
    hostname = "{{ hostname }}"
    id = "{{ id }}"
    local_authentication_enabled = "{{ local_authentication_enabled }}"
    location = "{{ location }}"
    min_tls_version = "{{ min_tls_version }}"
    name = "{{ name }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    route = "{{ route }}"
    shared_access_policy = "{{ shared_access_policy }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
}