data "azurerm_batch_application" "example" {
    account_name = "{{ account_name }}"
    allow_updates = "{{ allow_updates }}"
    default_version = "{{ default_version }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
}