data "azurerm_firewall" "example" {
    dns_proxy_enabled = "{{ dns_proxy_enabled }}"
    dns_servers = "{{ dns_servers }}"
    firewall_policy_id = "{{ firewall_policy_id }}"
    id = "{{ id }}"
    ip_configuration = "{{ ip_configuration }}"
    location = "{{ location }}"
    management_ip_configuration = "{{ management_ip_configuration }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    sku_tier = "{{ sku_tier }}"
    tags = "{{ tags }}"
    threat_intel_mode = "{{ threat_intel_mode }}"
    virtual_hub = "{{ virtual_hub }}"
    zones = "{{ zones }}"
}