resource "azurerm_logic_app_trigger_recurrence" "example" {
    frequency = "{{ frequency }}"
    id = "{{ id }}"
    interval = "{{ interval }}"
    logic_app_id = "{{ logic_app_id }}"
    name = "{{ name }}"
    start_time = "{{ start_time }}"
    time_zone = "{{ time_zone }}"
}