resource "azurerm_site_recovery_vmware_replicated_vm" "example" {
    appliance_name = "{{ appliance_name }}"
    default_log_storage_account_id = "{{ default_log_storage_account_id }}"
    default_recovery_disk_type = "{{ default_recovery_disk_type }}"
    default_target_disk_encryption_set_id = "{{ default_target_disk_encryption_set_id }}"
    id = "{{ id }}"
    license_type = "{{ license_type }}"
    multi_vm_group_name = "{{ multi_vm_group_name }}"
    name = "{{ name }}"
    physical_server_credential_name = "{{ physical_server_credential_name }}"
    recovery_replication_policy_id = "{{ recovery_replication_policy_id }}"
    recovery_vault_id = "{{ recovery_vault_id }}"
    source_vm_name = "{{ source_vm_name }}"
    target_availability_set_id = "{{ target_availability_set_id }}"
    target_boot_diagnostics_storage_account_id = "{{ target_boot_diagnostics_storage_account_id }}"
    target_network_id = "{{ target_network_id }}"
    target_proximity_placement_group_id = "{{ target_proximity_placement_group_id }}"
    target_resource_group_id = "{{ target_resource_group_id }}"
    target_vm_name = "{{ target_vm_name }}"
    target_vm_size = "{{ target_vm_size }}"
    target_zone = "{{ target_zone }}"
    test_network_id = "{{ test_network_id }}"
}