data "azurerm_mobile_network_sim" "example" {
    device_type = "{{ device_type }}"
    id = "{{ id }}"
    integrated_circuit_card_identifier = "{{ integrated_circuit_card_identifier }}"
    international_mobile_subscriber_identity = "{{ international_mobile_subscriber_identity }}"
    mobile_network_sim_group_id = "{{ mobile_network_sim_group_id }}"
    name = "{{ name }}"
    sim_policy_id = "{{ sim_policy_id }}"
    sim_state = "{{ sim_state }}"
    static_ip_configuration = "{{ static_ip_configuration }}"
    vendor_key_fingerprint = "{{ vendor_key_fingerprint }}"
    vendor_name = "{{ vendor_name }}"
}