data "azurerm_role_definition" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    role_definition_id = "{{ role_definition_id }}"
    scope = "{{ scope }}"
    timeouts {
      read = "{{ read }}"
    }
}
