resource "azurerm_resource_policy_remediation" "example" {
    failure_percentage = "{{ failure_percentage }}"
    id = "{{ id }}"
    location_filters = "{{ location_filters }}"
    name = "{{ name }}"
    parallel_deployments = "{{ parallel_deployments }}"
    policy_assignment_id = "{{ policy_assignment_id }}"
    policy_definition_reference_id = "{{ policy_definition_reference_id }}"
    resource_count = "{{ resource_count }}"
    resource_discovery_mode = "{{ resource_discovery_mode }}"
    resource_id = "{{ resource_id }}"
}