resource "azurerm_maps_creator" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    maps_account_id = "{{ maps_account_id }}"
    name = "{{ name }}"
    storage_units = {{ storage_units }}
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
