resource "azurerm_firewall_nat_rule_collection" "example" {
    action = "{{ action }}"
    azure_firewall_name = "{{ azure_firewall_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    priority = {{ priority }}
    resource_group_name = "{{ resource_group_name }}"
    rule {
      description = "{{ description }}"
      destination_addresses = ["{{ destination_addresses }}"]
      destination_ports = ["{{ destination_ports }}"]
      name = "{{ name }}"
      protocols = ["{{ protocols }}"]
      source_addresses = ["{{ source_addresses }}"]
      source_ip_groups = ["{{ source_ip_groups }}"]
      translated_address = "{{ translated_address }}"
      translated_port = "{{ translated_port }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
