resource "azurerm_virtual_desktop_host_pool_registration_info" "example" {
    expiration_date = "{{ expiration_date }}"
    hostpool_id = "{{ hostpool_id }}"
    id = "{{ id }}"
    token = "{{ token }}"
}