resource "azurerm_api_management_logger" "example" {
    api_management_name = "{{ api_management_name }}"
    buffered = "{{ buffered }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    resource_id = "{{ resource_id }}"
}