resource "azurerm_storage_table_entity" "example" {
    entity = "{{ entity }}"
    id = "{{ id }}"
    partition_key = "{{ partition_key }}"
    row_key = "{{ row_key }}"
    storage_table_id = "{{ storage_table_id }}"
}