resource "azurerm_lb_backend_address_pool" "example" {
    id = "{{ id }}"
    loadbalancer_id = "{{ loadbalancer_id }}"
    name = "{{ name }}"
    synchronous_mode = "{{ synchronous_mode }}"
    virtual_network_id = "{{ virtual_network_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
    tunnel_interface {
      identifier = {{ identifier }}
      port = {{ port }}
      protocol = "{{ protocol }}"
      type = "{{ type }}"
    }
}
