resource "azurerm_api_management_global_schema" "example" {
    api_management_name = "{{ api_management_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    resource_group_name = "{{ resource_group_name }}"
    schema_id = "{{ schema_id }}"
    type = "{{ type }}"
    value = "{{ value }}"
}