data "azurerm_virtual_hub_route_table" "example" {
    id = "{{ id }}"
    labels = "{{ labels }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    route = "{{ route }}"
    virtual_hub_id = "{{ virtual_hub_id }}"
    virtual_hub_name = "{{ virtual_hub_name }}"
}