resource "azurerm_redhat_openshift_cluster" "example" {
    console_url = "{{ console_url }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}