resource "azurerm_dev_center_attached_network" "example" {
    dev_center_id = "{{ dev_center_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    network_connection_id = "{{ network_connection_id }}"
}