resource "azurerm_machine_learning_compute_cluster" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    local_auth_enabled = "{{ local_auth_enabled }}"
    location = "{{ location }}"
    machine_learning_workspace_id = "{{ machine_learning_workspace_id }}"
    name = "{{ name }}"
    node_public_ip_enabled = "{{ node_public_ip_enabled }}"
    ssh_public_access_enabled = "{{ ssh_public_access_enabled }}"
    subnet_resource_id = "{{ subnet_resource_id }}"
    tags = "{{ tags }}"
    vm_priority = "{{ vm_priority }}"
    vm_size = "{{ vm_size }}"
}