resource "azurerm_network_manager" "example" {
    cross_tenant_scopes = "{{ cross_tenant_scopes }}"
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    scope_accesses = "{{ scope_accesses }}"
    tags = "{{ tags }}"
}