resource "azurerm_container_registry_task" "example" {
    agent_pool_name = "{{ agent_pool_name }}"
    container_registry_id = "{{ container_registry_id }}"
    enabled = {{ enabled }}
    id = "{{ id }}"
    is_system_task = {{ is_system_task }}
    log_template = "{{ log_template }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeout_in_seconds = {{ timeout_in_seconds }}
    agent_setting {
      cpu = {{ cpu }}
    }
    base_image_trigger {
      enabled = {{ enabled }}
      name = "{{ name }}"
      type = "{{ type }}"
      update_trigger_endpoint = "{{ update_trigger_endpoint }}"
      update_trigger_payload_type = "{{ update_trigger_payload_type }}"
    }
    docker_step {
      arguments = {
        key = "{{ arguments_value }}"
      }
      cache_enabled = {{ cache_enabled }}
      context_access_token = "{{ context_access_token }}"
      context_path = "{{ context_path }}"
      dockerfile_path = "{{ dockerfile_path }}"
      image_names = ["{{ image_names }}"]
      push_enabled = {{ push_enabled }}
      secret_arguments = {
        key = "{{ secret_arguments_value }}"
      }
      target = "{{ target }}"
    }
    encoded_step {
      context_access_token = "{{ context_access_token }}"
      context_path = "{{ context_path }}"
      secret_values = {
        key = "{{ secret_values_value }}"
      }
      task_content = "{{ task_content }}"
      value_content = "{{ value_content }}"
      values = {
        key = "{{ values_value }}"
      }
    }
    file_step {
      context_access_token = "{{ context_access_token }}"
      context_path = "{{ context_path }}"
      secret_values = {
        key = "{{ secret_values_value }}"
      }
      task_file_path = "{{ task_file_path }}"
      value_file_path = "{{ value_file_path }}"
      values = {
        key = "{{ values_value }}"
      }
    }
    identity {
      identity_ids = ["{{ identity_ids }}"]
      type = "{{ type }}"
    }
    platform {
      architecture = "{{ architecture }}"
      os = "{{ os }}"
      variant = "{{ variant }}"
    }
    registry_credential {
      custom {
        identity = "{{ identity }}"
        login_server = "{{ login_server }}"
        password = "{{ password }}"
        username = "{{ username }}"
      }
      source {
        login_mode = "{{ login_mode }}"
      }
    }
    source_trigger {
      branch = "{{ branch }}"
      enabled = {{ enabled }}
      events = ["{{ events }}"]
      name = "{{ name }}"
      repository_url = "{{ repository_url }}"
      source_type = "{{ source_type }}"
      authentication {
        expire_in_seconds = {{ expire_in_seconds }}
        refresh_token = "{{ refresh_token }}"
        scope = "{{ scope }}"
        token = "{{ token }}"
        token_type = "{{ token_type }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
    timer_trigger {
      enabled = {{ enabled }}
      name = "{{ name }}"
      schedule = "{{ schedule }}"
    }
}
