resource "azurerm_email_communication_service_domain" "example" {
    domain_management = "{{ domain_management }}"
    email_service_id = "{{ email_service_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    user_engagement_tracking_enabled = {{ user_engagement_tracking_enabled }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
