resource "azurerm_application_insights_workbook" "example" {
    category = "{{ category }}"
    data_json = "{{ data_json }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    source_id = "{{ source_id }}"
    storage_container_id = "{{ storage_container_id }}"
    tags = "{{ tags }}"
}