resource "azurerm_synapse_sql_pool_workload_classifier" "example" {
    context = "{{ context }}"
    end_time = "{{ end_time }}"
    id = "{{ id }}"
    importance = "{{ importance }}"
    label = "{{ label }}"
    member_name = "{{ member_name }}"
    name = "{{ name }}"
    start_time = "{{ start_time }}"
    workload_group_id = "{{ workload_group_id }}"
}