resource "azurerm_backup_container_storage_account" "example" {
    id = "{{ id }}"
    recovery_vault_name = "{{ recovery_vault_name }}"
    resource_group_name = "{{ resource_group_name }}"
    storage_account_id = "{{ storage_account_id }}"
}