data "azurerm_servicebus_topic_authorization_rule" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    namespace_name = "{{ namespace_name }}"
    queue_name = "{{ queue_name }}"
    resource_group_name = "{{ resource_group_name }}"
    topic_id = "{{ topic_id }}"
    topic_name = "{{ topic_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
