resource "azurerm_subscription" "example" {
    alias = "{{ alias }}"
    billing_scope_id = "{{ billing_scope_id }}"
    id = "{{ id }}"
    subscription_id = "{{ subscription_id }}"
    subscription_name = "{{ subscription_name }}"
    tags = "{{ tags }}"
    tenant_id = "{{ tenant_id }}"
    workload = "{{ workload }}"
}