data "azurerm_function_app" "example" {
    app_service_plan_id = "{{ app_service_plan_id }}"
    app_settings = "{{ app_settings }}"
    client_cert_mode = "{{ client_cert_mode }}"
    connection_string = "{{ connection_string }}"
    custom_domain_verification_id = "{{ custom_domain_verification_id }}"
    default_hostname = "{{ default_hostname }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    identity = "{{ identity }}"
    location = "{{ location }}"
    name = "{{ name }}"
    os_type = "{{ os_type }}"
    outbound_ip_addresses = "{{ outbound_ip_addresses }}"
    possible_outbound_ip_addresses = "{{ possible_outbound_ip_addresses }}"
    resource_group_name = "{{ resource_group_name }}"
    site_config = "{{ site_config }}"
    site_credential = "{{ site_credential }}"
    source_control = "{{ source_control }}"
    tags = "{{ tags }}"
}