resource "azurerm_pim_eligible_role_assignment" "example" {
    id = "{{ id }}"
    justification = "{{ justification }}"
    principal_id = "{{ principal_id }}"
    principal_type = "{{ principal_type }}"
    role_definition_id = "{{ role_definition_id }}"
    scope = "{{ scope }}"
}