resource "azurerm_kusto_iothub_data_connection" "example" {
    cluster_name = "{{ cluster_name }}"
    consumer_group = "{{ consumer_group }}"
    data_format = "{{ data_format }}"
    database_name = "{{ database_name }}"
    database_routing_type = "{{ database_routing_type }}"
    event_system_properties = "{{ event_system_properties }}"
    id = "{{ id }}"
    iothub_id = "{{ iothub_id }}"
    location = "{{ location }}"
    mapping_rule_name = "{{ mapping_rule_name }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    shared_access_policy_name = "{{ shared_access_policy_name }}"
    table_name = "{{ table_name }}"
}