resource "azurerm_application_insights_api_key" "example" {
    api_key = "{{ api_key }}"
    application_insights_id = "{{ application_insights_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    read_permissions = "{{ read_permissions }}"
    write_permissions = "{{ write_permissions }}"
}