resource "azurerm_cognitive_account" "example" {
    custom_question_answering_search_service_id = "{{ custom_question_answering_search_service_id }}"
    custom_question_answering_search_service_key = "{{ custom_question_answering_search_service_key }}"
    custom_subdomain_name = "{{ custom_subdomain_name }}"
    dynamic_throttling_enabled = {{ dynamic_throttling_enabled }}
    fqdns = ["{{ fqdns }}"]
    id = "{{ id }}"
    kind = "{{ kind }}"
    local_auth_enabled = {{ local_auth_enabled }}
    location = "{{ location }}"
    metrics_advisor_aad_client_id = "{{ metrics_advisor_aad_client_id }}"
    metrics_advisor_aad_tenant_id = "{{ metrics_advisor_aad_tenant_id }}"
    metrics_advisor_super_user_name = "{{ metrics_advisor_super_user_name }}"
    metrics_advisor_website_name = "{{ metrics_advisor_website_name }}"
    name = "{{ name }}"
    outbound_network_access_restricted = {{ outbound_network_access_restricted }}
    project_management_enabled = {{ project_management_enabled }}
    public_network_access_enabled = {{ public_network_access_enabled }}
    qna_runtime_endpoint = "{{ qna_runtime_endpoint }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    customer_managed_key {
      identity_client_id = "{{ identity_client_id }}"
      key_vault_key_id = "{{ key_vault_key_id }}"
    }
    identity {
      identity_ids = ["{{ identity_ids }}"]
      type = "{{ type }}"
    }
    network_acls {
      bypass = "{{ bypass }}"
      default_action = "{{ default_action }}"
      ip_rules = ["{{ ip_rules }}"]
      virtual_network_rules {
        ignore_missing_vnet_service_endpoint = {{ ignore_missing_vnet_service_endpoint }}
        subnet_id = "{{ subnet_id }}"
      }
    }
    network_injection {
      scenario = "{{ scenario }}"
      subnet_id = "{{ subnet_id }}"
    }
    storage {
      identity_client_id = "{{ identity_client_id }}"
      storage_account_id = "{{ storage_account_id }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
