resource "azurerm_synapse_workspace_aad_admin" "example" {
    id = "{{ id }}"
    login = "{{ login }}"
    object_id = "{{ object_id }}"
    synapse_workspace_id = "{{ synapse_workspace_id }}"
    tenant_id = "{{ tenant_id }}"
}