resource "azurerm_stream_analytics_output_table" "example" {
    batch_size = "{{ batch_size }}"
    columns_to_remove = "{{ columns_to_remove }}"
    id = "{{ id }}"
    name = "{{ name }}"
    partition_key = "{{ partition_key }}"
    resource_group_name = "{{ resource_group_name }}"
    row_key = "{{ row_key }}"
    storage_account_key = "{{ storage_account_key }}"
    storage_account_name = "{{ storage_account_name }}"
    stream_analytics_job_name = "{{ stream_analytics_job_name }}"
    table = "{{ table }}"
}