data "azurerm_storage_encryption_scope" "example" {
    id = "{{ id }}"
    key_vault_key_id = "{{ key_vault_key_id }}"
    name = "{{ name }}"
    source = "{{ source }}"
    storage_account_id = "{{ storage_account_id }}"
}