resource "azurerm_machine_learning_datastore_datalake_gen2" "example" {
    authority_url = "{{ authority_url }}"
    client_id = "{{ client_id }}"
    client_secret = "{{ client_secret }}"
    description = "{{ description }}"
    id = "{{ id }}"
    is_default = "{{ is_default }}"
    name = "{{ name }}"
    service_data_identity = "{{ service_data_identity }}"
    storage_container_id = "{{ storage_container_id }}"
    tags = "{{ tags }}"
    tenant_id = "{{ tenant_id }}"
    workspace_id = "{{ workspace_id }}"
}