resource "azurerm_storage_container" "example" {
    container_access_type = "{{ container_access_type }}"
    default_encryption_scope = "{{ default_encryption_scope }}"
    encryption_scope_override_enabled = {{ encryption_scope_override_enabled }}
    id = "{{ id }}"
    metadata = {
        key = "{{ metadata_value }}"
      }
    name = "{{ name }}"
    storage_account_id = "{{ storage_account_id }}"
    storage_account_name = "{{ storage_account_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
