data "azurerm_dns_mx_record" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    zone_name = "{{ zone_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
