resource "azurerm_mssql_server_dns_alias" "example" {
    id = "{{ id }}"
    mssql_server_id = "{{ mssql_server_id }}"
    name = "{{ name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
