resource "azurerm_data_factory_linked_service_sftp" "example" {
    additional_properties = {
        key = "{{ additional_properties_value }}"
      }
    annotations = ["{{ annotations }}"]
    authentication_type = "{{ authentication_type }}"
    data_factory_id = "{{ data_factory_id }}"
    description = "{{ description }}"
    host = "{{ host }}"
    host_key_fingerprint = "{{ host_key_fingerprint }}"
    id = "{{ id }}"
    integration_runtime_name = "{{ integration_runtime_name }}"
    name = "{{ name }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    password = "{{ password }}"
    port = {{ port }}
    private_key_content_base64 = "{{ private_key_content_base64 }}"
    private_key_passphrase = "{{ private_key_passphrase }}"
    private_key_path = "{{ private_key_path }}"
    skip_host_key_validation = {{ skip_host_key_validation }}
    username = "{{ username }}"
    key_vault_password {
      linked_service_name = "{{ linked_service_name }}"
      secret_name = "{{ secret_name }}"
    }
    key_vault_private_key_content_base64 {
      linked_service_name = "{{ linked_service_name }}"
      secret_name = "{{ secret_name }}"
    }
    key_vault_private_key_passphrase {
      linked_service_name = "{{ linked_service_name }}"
      secret_name = "{{ secret_name }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
