resource "azurerm_virtual_hub_security_partner_provider" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    security_provider_name = "{{ security_provider_name }}"
    tags = "{{ tags }}"
    virtual_hub_id = "{{ virtual_hub_id }}"
}