resource "azurerm_public_ip_prefix" "example" {
    id = "{{ id }}"
    ip_prefix = "{{ ip_prefix }}"
    ip_version = "{{ ip_version }}"
    location = "{{ location }}"
    name = "{{ name }}"
    prefix_length = "{{ prefix_length }}"
    resource_group_name = "{{ resource_group_name }}"
    sku = "{{ sku }}"
    sku_tier = "{{ sku_tier }}"
    tags = "{{ tags }}"
    zones = "{{ zones }}"
}