resource "azurerm_sentinel_threat_intelligence_indicator" "example" {
    confidence = {{ confidence }}
    created_by = "{{ created_by }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    extension = "{{ extension }}"
    id = "{{ id }}"
    language = "{{ language }}"
    object_marking_refs = ["{{ object_marking_refs }}"]
    pattern = "{{ pattern }}"
    pattern_type = "{{ pattern_type }}"
    pattern_version = "{{ pattern_version }}"
    revoked = {{ revoked }}
    source = "{{ source }}"
    tags = ["{{ tags }}"]
    threat_types = ["{{ threat_types }}"]
    validate_from_utc = "{{ validate_from_utc }}"
    validate_until_utc = "{{ validate_until_utc }}"
    workspace_id = "{{ workspace_id }}"
    external_reference {
      description = "{{ description }}"
      hashes = {
        key = "{{ hashes_value }}"
      }
      source_name = "{{ source_name }}"
      url = "{{ url }}"
    }
    granular_marking {
      language = "{{ language }}"
      marking_ref = "{{ marking_ref }}"
      selectors = ["{{ selectors }}"]
    }
    kill_chain_phase {
      name = "{{ name }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
