resource "azurerm_automation_connection" "example" {
    automation_account_name = "{{ automation_account_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    type = "{{ type }}"
    values = {
        key = "{{ values_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
