resource "azurerm_postgresql_configuration" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    server_name = "{{ server_name }}"
    value = "{{ value }}"
}