data "azurerm_active_directory_domain_service" "example" {
    deployment_id = "{{ deployment_id }}"
    domain_configuration_type = "{{ domain_configuration_type }}"
    domain_name = "{{ domain_name }}"
    filtered_sync_enabled = "{{ filtered_sync_enabled }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    notifications = "{{ notifications }}"
    replica_sets = "{{ replica_sets }}"
    resource_group_name = "{{ resource_group_name }}"
    resource_id = "{{ resource_id }}"
    secure_ldap = "{{ secure_ldap }}"
    security = "{{ security }}"
    sku = "{{ sku }}"
    sync_owner = "{{ sync_owner }}"
    tags = "{{ tags }}"
    tenant_id = "{{ tenant_id }}"
    version = "{{ version }}"
}