resource "azurerm_iothub_route" "example" {
    condition = "{{ condition }}"
    enabled = "{{ enabled }}"
    endpoint_names = "{{ endpoint_names }}"
    id = "{{ id }}"
    iothub_name = "{{ iothub_name }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    source = "{{ source }}"
}