resource "azurerm_container_registry_credential_set" "example" {
    container_registry_id = "{{ container_registry_id }}"
    id = "{{ id }}"
    login_server = "{{ login_server }}"
    name = "{{ name }}"
    authentication_credentials {
      password_secret_id = "{{ password_secret_id }}"
      username_secret_id = "{{ username_secret_id }}"
    }
    identity {
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
