resource "azurerm_mobile_network" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    mobile_country_code = "{{ mobile_country_code }}"
    mobile_network_code = "{{ mobile_network_code }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    service_key = "{{ service_key }}"
    tags = "{{ tags }}"
}