resource "azurerm_api_connection" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    managed_api_id = "{{ managed_api_id }}"
    name = "{{ name }}"
    parameter_values = "{{ parameter_values }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}