resource "azurerm_postgresql_flexible_server_active_directory_administrator" "example" {
    id = "{{ id }}"
    object_id = "{{ object_id }}"
    principal_name = "{{ principal_name }}"
    principal_type = "{{ principal_type }}"
    resource_group_name = "{{ resource_group_name }}"
    server_name = "{{ server_name }}"
    tenant_id = "{{ tenant_id }}"
}