resource "azurerm_spring_cloud_service" "example" {
    build_agent_pool_size = "{{ build_agent_pool_size }}"
    id = "{{ id }}"
    location = "{{ location }}"
    log_stream_public_endpoint_enabled = "{{ log_stream_public_endpoint_enabled }}"
    managed_environment_id = "{{ managed_environment_id }}"
    name = "{{ name }}"
    outbound_public_ip_addresses = "{{ outbound_public_ip_addresses }}"
    required_network_traffic_rules = "{{ required_network_traffic_rules }}"
    resource_group_name = "{{ resource_group_name }}"
    service_registry_enabled = "{{ service_registry_enabled }}"
    service_registry_id = "{{ service_registry_id }}"
    sku_name = "{{ sku_name }}"
    sku_tier = "{{ sku_tier }}"
    tags = "{{ tags }}"
    zone_redundant = "{{ zone_redundant }}"
}