resource "azurerm_mobile_network_service" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    mobile_network_id = "{{ mobile_network_id }}"
    name = "{{ name }}"
    service_precedence = "{{ service_precedence }}"
    tags = "{{ tags }}"
}