resource "azurerm_oracle_cloud_vm_cluster" "example" {
    backup_subnet_cidr = "{{ backup_subnet_cidr }}"
    cloud_exadata_infrastructure_id = "{{ cloud_exadata_infrastructure_id }}"
    cluster_name = "{{ cluster_name }}"
    cpu_core_count = "{{ cpu_core_count }}"
    data_storage_percentage = "{{ data_storage_percentage }}"
    data_storage_size_in_tbs = "{{ data_storage_size_in_tbs }}"
    db_node_storage_size_in_gbs = "{{ db_node_storage_size_in_gbs }}"
    db_servers = "{{ db_servers }}"
    display_name = "{{ display_name }}"
    domain = "{{ domain }}"
    gi_version = "{{ gi_version }}"
    hostname = "{{ hostname }}"
    hostname_actual = "{{ hostname_actual }}"
    id = "{{ id }}"
    license_model = "{{ license_model }}"
    local_backup_enabled = "{{ local_backup_enabled }}"
    location = "{{ location }}"
    memory_size_in_gbs = "{{ memory_size_in_gbs }}"
    name = "{{ name }}"
    ocid = "{{ ocid }}"
    resource_group_name = "{{ resource_group_name }}"
    scan_listener_port_tcp = "{{ scan_listener_port_tcp }}"
    scan_listener_port_tcp_ssl = "{{ scan_listener_port_tcp_ssl }}"
    sparse_diskgroup_enabled = "{{ sparse_diskgroup_enabled }}"
    ssh_public_keys = "{{ ssh_public_keys }}"
    subnet_id = "{{ subnet_id }}"
    tags = "{{ tags }}"
    time_zone = "{{ time_zone }}"
    virtual_network_id = "{{ virtual_network_id }}"
    zone_id = "{{ zone_id }}"
}