data "azurerm_application_gateway" "example" {
    authentication_certificate = "{{ authentication_certificate }}"
    autoscale_configuration = "{{ autoscale_configuration }}"
    backend_address_pool = "{{ backend_address_pool }}"
    backend_http_settings = "{{ backend_http_settings }}"
    custom_error_configuration = "{{ custom_error_configuration }}"
    fips_enabled = "{{ fips_enabled }}"
    firewall_policy_id = "{{ firewall_policy_id }}"
    force_firewall_policy_association = "{{ force_firewall_policy_association }}"
    frontend_ip_configuration = "{{ frontend_ip_configuration }}"
    frontend_port = "{{ frontend_port }}"
    gateway_ip_configuration = "{{ gateway_ip_configuration }}"
    global = "{{ global }}"
    http2_enabled = "{{ http2_enabled }}"
    http_listener = "{{ http_listener }}"
    id = "{{ id }}"
    identity = "{{ identity }}"
    location = "{{ location }}"
    name = "{{ name }}"
    private_endpoint_connection = "{{ private_endpoint_connection }}"
    private_link_configuration = "{{ private_link_configuration }}"
    probe = "{{ probe }}"
    redirect_configuration = "{{ redirect_configuration }}"
    request_routing_rule = "{{ request_routing_rule }}"
    resource_group_name = "{{ resource_group_name }}"
    rewrite_rule_set = "{{ rewrite_rule_set }}"
    sku = "{{ sku }}"
    ssl_certificate = "{{ ssl_certificate }}"
    ssl_policy = "{{ ssl_policy }}"
    ssl_profile = "{{ ssl_profile }}"
    tags = "{{ tags }}"
    trusted_client_certificate = "{{ trusted_client_certificate }}"
    trusted_root_certificate = "{{ trusted_root_certificate }}"
    url_path_map = "{{ url_path_map }}"
    waf_configuration = "{{ waf_configuration }}"
    zones = "{{ zones }}"
}