resource "azurerm_bot_channel_facebook" "example" {
    bot_name = "{{ bot_name }}"
    facebook_application_id = "{{ facebook_application_id }}"
    facebook_application_secret = "{{ facebook_application_secret }}"
    id = "{{ id }}"
    location = "{{ location }}"
    resource_group_name = "{{ resource_group_name }}"
}