resource "azurerm_virtual_hub" "example" {
    address_prefix = "{{ address_prefix }}"
    default_route_table_id = "{{ default_route_table_id }}"
    hub_routing_preference = "{{ hub_routing_preference }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sku = "{{ sku }}"
    tags = "{{ tags }}"
    virtual_router_asn = "{{ virtual_router_asn }}"
    virtual_router_auto_scale_min_capacity = "{{ virtual_router_auto_scale_min_capacity }}"
    virtual_router_ips = "{{ virtual_router_ips }}"
    virtual_wan_id = "{{ virtual_wan_id }}"
}