resource "azurerm_bot_service_azure_bot" "example" {
    cmk_key_vault_key_url = "{{ cmk_key_vault_key_url }}"
    developer_app_insights_api_key = "{{ developer_app_insights_api_key }}"
    developer_app_insights_application_id = "{{ developer_app_insights_application_id }}"
    developer_app_insights_key = "{{ developer_app_insights_key }}"
    display_name = "{{ display_name }}"
    endpoint = "{{ endpoint }}"
    icon_url = "{{ icon_url }}"
    id = "{{ id }}"
    local_authentication_enabled = "{{ local_authentication_enabled }}"
    location = "{{ location }}"
    luis_app_ids = "{{ luis_app_ids }}"
    luis_key = "{{ luis_key }}"
    microsoft_app_id = "{{ microsoft_app_id }}"
    microsoft_app_msi_id = "{{ microsoft_app_msi_id }}"
    microsoft_app_tenant_id = "{{ microsoft_app_tenant_id }}"
    microsoft_app_type = "{{ microsoft_app_type }}"
    name = "{{ name }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    sku = "{{ sku }}"
    streaming_endpoint_enabled = "{{ streaming_endpoint_enabled }}"
    tags = "{{ tags }}"
}