resource "azurerm_automation_job_schedule" "example" {
    automation_account_name = "{{ automation_account_name }}"
    id = "{{ id }}"
    job_schedule_id = "{{ job_schedule_id }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    resource_group_name = "{{ resource_group_name }}"
    run_on = "{{ run_on }}"
    runbook_name = "{{ runbook_name }}"
    schedule_name = "{{ schedule_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
