resource "azurerm_cosmosdb_table" "example" {
    account_name = "{{ account_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    throughput = {{ throughput }}
    autoscale_settings {
      max_throughput = {{ max_throughput }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
