resource "azurerm_system_center_virtual_machine_manager_availability_set" "example" {
    custom_location_id = "{{ custom_location_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    system_center_virtual_machine_manager_server_id = "{{ system_center_virtual_machine_manager_server_id }}"
    tags = "{{ tags }}"
}