resource "azurerm_mssql_managed_instance_security_alert_policy" "example" {
    disabled_alerts = "{{ disabled_alerts }}"
    email_account_admins_enabled = "{{ email_account_admins_enabled }}"
    email_addresses = "{{ email_addresses }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    managed_instance_name = "{{ managed_instance_name }}"
    resource_group_name = "{{ resource_group_name }}"
    retention_days = "{{ retention_days }}"
    storage_account_access_key = "{{ storage_account_access_key }}"
    storage_endpoint = "{{ storage_endpoint }}"
}