resource "azurerm_maintenance_assignment_dedicated_host" "example" {
    dedicated_host_id = "{{ dedicated_host_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    maintenance_configuration_id = "{{ maintenance_configuration_id }}"
}