resource "azurerm_windows_function_app_slot" "example" {
    app_settings = "{{ app_settings }}"
    builtin_logging_enabled = "{{ builtin_logging_enabled }}"
    client_certificate_enabled = "{{ client_certificate_enabled }}"
    client_certificate_exclusion_paths = "{{ client_certificate_exclusion_paths }}"
    client_certificate_mode = "{{ client_certificate_mode }}"
    content_share_force_disabled = "{{ content_share_force_disabled }}"
    custom_domain_verification_id = "{{ custom_domain_verification_id }}"
    daily_memory_time_quota = "{{ daily_memory_time_quota }}"
    default_hostname = "{{ default_hostname }}"
    enabled = "{{ enabled }}"
    ftp_publish_basic_authentication_enabled = "{{ ftp_publish_basic_authentication_enabled }}"
    function_app_id = "{{ function_app_id }}"
    functions_extension_version = "{{ functions_extension_version }}"
    hosting_environment_id = "{{ hosting_environment_id }}"
    https_only = "{{ https_only }}"
    id = "{{ id }}"
    key_vault_reference_identity_id = "{{ key_vault_reference_identity_id }}"
    kind = "{{ kind }}"
    name = "{{ name }}"
    outbound_ip_address_list = "{{ outbound_ip_address_list }}"
    outbound_ip_addresses = "{{ outbound_ip_addresses }}"
    possible_outbound_ip_address_list = "{{ possible_outbound_ip_address_list }}"
    possible_outbound_ip_addresses = "{{ possible_outbound_ip_addresses }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    service_plan_id = "{{ service_plan_id }}"
    site_credential = "{{ site_credential }}"
    storage_account_access_key = "{{ storage_account_access_key }}"
    storage_account_name = "{{ storage_account_name }}"
    storage_key_vault_secret_id = "{{ storage_key_vault_secret_id }}"
    storage_uses_managed_identity = "{{ storage_uses_managed_identity }}"
    tags = "{{ tags }}"
    virtual_network_subnet_id = "{{ virtual_network_subnet_id }}"
    vnet_image_pull_enabled = "{{ vnet_image_pull_enabled }}"
    webdeploy_publish_basic_authentication_enabled = "{{ webdeploy_publish_basic_authentication_enabled }}"
}