resource "azurerm_storage_table" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    storage_account_name = "{{ storage_account_name }}"
    acl {
      id = "{{ id }}"
      access_policy {
        expiry = "{{ expiry }}"
        permissions = "{{ permissions }}"
        start = "{{ start }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
