resource "azurerm_palo_alto_next_generation_firewall_virtual_hub_panorama" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    panorama = "{{ panorama }}"
    panorama_base64_config = "{{ panorama_base64_config }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}