resource "azurerm_site_recovery_replication_recovery_plan" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    recovery_vault_id = "{{ recovery_vault_id }}"
    source_recovery_fabric_id = "{{ source_recovery_fabric_id }}"
    target_recovery_fabric_id = "{{ target_recovery_fabric_id }}"
    azure_to_azure_settings {
      primary_edge_zone = "{{ primary_edge_zone }}"
      primary_zone = "{{ primary_zone }}"
      recovery_edge_zone = "{{ recovery_edge_zone }}"
      recovery_zone = "{{ recovery_zone }}"
    }
    boot_recovery_group {
      replicated_protected_items = ["{{ replicated_protected_items }}"]
      post_action {
        fabric_location = "{{ fabric_location }}"
        fail_over_directions = ["{{ fail_over_directions }}"]
        fail_over_types = ["{{ fail_over_types }}"]
        manual_action_instruction = "{{ manual_action_instruction }}"
        name = "{{ name }}"
        runbook_id = "{{ runbook_id }}"
        script_path = "{{ script_path }}"
        type = "{{ type }}"
      }
      pre_action {
        fabric_location = "{{ fabric_location }}"
        fail_over_directions = ["{{ fail_over_directions }}"]
        fail_over_types = ["{{ fail_over_types }}"]
        manual_action_instruction = "{{ manual_action_instruction }}"
        name = "{{ name }}"
        runbook_id = "{{ runbook_id }}"
        script_path = "{{ script_path }}"
        type = "{{ type }}"
      }
    }
    failover_recovery_group {
      post_action {
        fabric_location = "{{ fabric_location }}"
        fail_over_directions = ["{{ fail_over_directions }}"]
        fail_over_types = ["{{ fail_over_types }}"]
        manual_action_instruction = "{{ manual_action_instruction }}"
        name = "{{ name }}"
        runbook_id = "{{ runbook_id }}"
        script_path = "{{ script_path }}"
        type = "{{ type }}"
      }
      pre_action {
        fabric_location = "{{ fabric_location }}"
        fail_over_directions = ["{{ fail_over_directions }}"]
        fail_over_types = ["{{ fail_over_types }}"]
        manual_action_instruction = "{{ manual_action_instruction }}"
        name = "{{ name }}"
        runbook_id = "{{ runbook_id }}"
        script_path = "{{ script_path }}"
        type = "{{ type }}"
      }
    }
    shutdown_recovery_group {
      post_action {
        fabric_location = "{{ fabric_location }}"
        fail_over_directions = ["{{ fail_over_directions }}"]
        fail_over_types = ["{{ fail_over_types }}"]
        manual_action_instruction = "{{ manual_action_instruction }}"
        name = "{{ name }}"
        runbook_id = "{{ runbook_id }}"
        script_path = "{{ script_path }}"
        type = "{{ type }}"
      }
      pre_action {
        fabric_location = "{{ fabric_location }}"
        fail_over_directions = ["{{ fail_over_directions }}"]
        fail_over_types = ["{{ fail_over_types }}"]
        manual_action_instruction = "{{ manual_action_instruction }}"
        name = "{{ name }}"
        runbook_id = "{{ runbook_id }}"
        script_path = "{{ script_path }}"
        type = "{{ type }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
