resource "azurerm_datadog_monitor" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    marketplace_subscription_status = "{{ marketplace_subscription_status }}"
    monitoring_enabled = "{{ monitoring_enabled }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    tags = "{{ tags }}"
}