resource "azurerm_dedicated_hardware_security_module" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    stamp_id = "{{ stamp_id }}"
    tags = "{{ tags }}"
    zones = "{{ zones }}"
}