resource "azurerm_load_test" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    encryption {
      key_url = "{{ key_url }}"
      identity {
        identity_id = "{{ identity_id }}"
        type = "{{ type }}"
      }
    }
    identity {
      identity_ids = ["{{ identity_ids }}"]
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
