resource "azurerm_log_analytics_storage_insights" "example" {
    blob_container_names = "{{ blob_container_names }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    storage_account_id = "{{ storage_account_id }}"
    storage_account_key = "{{ storage_account_key }}"
    table_names = "{{ table_names }}"
    workspace_id = "{{ workspace_id }}"
}