resource "azurerm_signalr_service_custom_certificate" "example" {
    certificate_version = "{{ certificate_version }}"
    custom_certificate_id = "{{ custom_certificate_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    signalr_service_id = "{{ signalr_service_id }}"
}