resource "azurerm_automation_connection_type" "example" {
    automation_account_name = "{{ automation_account_name }}"
    id = "{{ id }}"
    is_global = "{{ is_global }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
}