resource "azurerm_monitor_private_link_scoped_service" "example" {
    id = "{{ id }}"
    linked_resource_id = "{{ linked_resource_id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    scope_name = "{{ scope_name }}"
}