resource "azurerm_spring_cloud_gateway_custom_domain" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    spring_cloud_gateway_id = "{{ spring_cloud_gateway_id }}"
    thumbprint = "{{ thumbprint }}"
}