data "azurerm_automation_account" "example" {
    endpoint = "{{ endpoint }}"
    hybrid_service_url = "{{ hybrid_service_url }}"
    id = "{{ id }}"
    identity = "{{ identity }}"
    name = "{{ name }}"
    primary_key = "{{ primary_key }}"
    private_endpoint_connection = "{{ private_endpoint_connection }}"
    resource_group_name = "{{ resource_group_name }}"
    secondary_key = "{{ secondary_key }}"
}