resource "azurerm_postgresql_flexible_server_database" "example" {
    charset = "{{ charset }}"
    collation = "{{ collation }}"
    id = "{{ id }}"
    name = "{{ name }}"
    server_id = "{{ server_id }}"
}