resource "azurerm_voice_services_communications_gateway_test_line" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    phone_number = "{{ phone_number }}"
    purpose = "{{ purpose }}"
    tags = "{{ tags }}"
    voice_services_communications_gateway_id = "{{ voice_services_communications_gateway_id }}"
}