resource "azurerm_app_service_managed_certificate" "example" {
    canonical_name = "{{ canonical_name }}"
    custom_hostname_binding_id = "{{ custom_hostname_binding_id }}"
    expiration_date = "{{ expiration_date }}"
    friendly_name = "{{ friendly_name }}"
    host_names = "{{ host_names }}"
    id = "{{ id }}"
    issue_date = "{{ issue_date }}"
    issuer = "{{ issuer }}"
    subject_name = "{{ subject_name }}"
    tags = "{{ tags }}"
    thumbprint = "{{ thumbprint }}"
}