resource "azurerm_servicebus_queue_authorization_rule" "example" {
    id = "{{ id }}"
    listen = {{ listen }}
    manage = {{ manage }}
    name = "{{ name }}"
    queue_id = "{{ queue_id }}"
    send = {{ send }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
