resource "azurerm_network_security_rule" "example" {
    access = "{{ access }}"
    description = "{{ description }}"
    destination_address_prefix = "{{ destination_address_prefix }}"
    destination_address_prefixes = "{{ destination_address_prefixes }}"
    destination_application_security_group_ids = "{{ destination_application_security_group_ids }}"
    destination_port_range = "{{ destination_port_range }}"
    destination_port_ranges = "{{ destination_port_ranges }}"
    direction = "{{ direction }}"
    id = "{{ id }}"
    name = "{{ name }}"
    network_security_group_name = "{{ network_security_group_name }}"
    priority = "{{ priority }}"
    protocol = "{{ protocol }}"
    resource_group_name = "{{ resource_group_name }}"
    source_address_prefix = "{{ source_address_prefix }}"
    source_address_prefixes = "{{ source_address_prefixes }}"
    source_application_security_group_ids = "{{ source_application_security_group_ids }}"
    source_port_range = "{{ source_port_range }}"
    source_port_ranges = "{{ source_port_ranges }}"
}