resource "azurerm_api_management_identity_provider_microsoft" "example" {
    api_management_name = "{{ api_management_name }}"
    client_id = "{{ client_id }}"
    client_secret = "{{ client_secret }}"
    id = "{{ id }}"
    resource_group_name = "{{ resource_group_name }}"
}