resource "azurerm_log_analytics_cluster_customer_managed_key" "example" {
    id = "{{ id }}"
    key_vault_key_id = "{{ key_vault_key_id }}"
    log_analytics_cluster_id = "{{ log_analytics_cluster_id }}"
}