data "azurerm_virtual_hub_connection" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    virtual_hub_name = "{{ virtual_hub_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
