resource "azurerm_web_pubsub_shared_private_link_resource" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    request_message = "{{ request_message }}"
    status = "{{ status }}"
    subresource_name = "{{ subresource_name }}"
    target_resource_id = "{{ target_resource_id }}"
    web_pubsub_id = "{{ web_pubsub_id }}"
}