resource "azurerm_notification_hub_namespace" "example" {
    enabled = {{ enabled }}
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    namespace_type = "{{ namespace_type }}"
    replication_region = "{{ replication_region }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    zone_redundancy_enabled = {{ zone_redundancy_enabled }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
