resource "azurerm_log_analytics_solution" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    resource_group_name = "{{ resource_group_name }}"
    solution_name = "{{ solution_name }}"
    tags = "{{ tags }}"
    workspace_name = "{{ workspace_name }}"
    workspace_resource_id = "{{ workspace_resource_id }}"
}