resource "azurerm_federated_identity_credential" "example" {
    audience = "{{ audience }}"
    id = "{{ id }}"
    issuer = "{{ issuer }}"
    name = "{{ name }}"
    parent_id = "{{ parent_id }}"
    resource_group_name = "{{ resource_group_name }}"
    subject = "{{ subject }}"
}