resource "azurerm_application_insights" "example" {
    app_id = "{{ app_id }}"
    application_type = "{{ application_type }}"
    connection_string = "{{ connection_string }}"
    daily_data_cap_in_gb = "{{ daily_data_cap_in_gb }}"
    daily_data_cap_notifications_disabled = "{{ daily_data_cap_notifications_disabled }}"
    disable_ip_masking = "{{ disable_ip_masking }}"
    force_customer_storage_for_profiler = "{{ force_customer_storage_for_profiler }}"
    id = "{{ id }}"
    instrumentation_key = "{{ instrumentation_key }}"
    internet_ingestion_enabled = "{{ internet_ingestion_enabled }}"
    internet_query_enabled = "{{ internet_query_enabled }}"
    local_authentication_disabled = "{{ local_authentication_disabled }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    retention_in_days = "{{ retention_in_days }}"
    sampling_percentage = "{{ sampling_percentage }}"
    tags = "{{ tags }}"
    workspace_id = "{{ workspace_id }}"
}