resource "azurerm_dynatrace_monitor" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    marketplace_subscription = "{{ marketplace_subscription }}"
    monitoring_enabled = "{{ monitoring_enabled }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}