resource "azurerm_virtual_desktop_scaling_plan" "example" {
    description = "{{ description }}"
    exclusion_tag = "{{ exclusion_tag }}"
    friendly_name = "{{ friendly_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    time_zone = "{{ time_zone }}"
    host_pool {
      hostpool_id = "{{ hostpool_id }}"
      scaling_plan_enabled = {{ scaling_plan_enabled }}
    }
    schedule {
      days_of_week = ["{{ days_of_week }}"]
      name = "{{ name }}"
      off_peak_load_balancing_algorithm = "{{ off_peak_load_balancing_algorithm }}"
      off_peak_start_time = "{{ off_peak_start_time }}"
      peak_load_balancing_algorithm = "{{ peak_load_balancing_algorithm }}"
      peak_start_time = "{{ peak_start_time }}"
      ramp_down_capacity_threshold_percent = {{ ramp_down_capacity_threshold_percent }}
      ramp_down_force_logoff_users = {{ ramp_down_force_logoff_users }}
      ramp_down_load_balancing_algorithm = "{{ ramp_down_load_balancing_algorithm }}"
      ramp_down_minimum_hosts_percent = {{ ramp_down_minimum_hosts_percent }}
      ramp_down_notification_message = "{{ ramp_down_notification_message }}"
      ramp_down_start_time = "{{ ramp_down_start_time }}"
      ramp_down_stop_hosts_when = "{{ ramp_down_stop_hosts_when }}"
      ramp_down_wait_time_minutes = {{ ramp_down_wait_time_minutes }}
      ramp_up_capacity_threshold_percent = {{ ramp_up_capacity_threshold_percent }}
      ramp_up_load_balancing_algorithm = "{{ ramp_up_load_balancing_algorithm }}"
      ramp_up_minimum_hosts_percent = {{ ramp_up_minimum_hosts_percent }}
      ramp_up_start_time = "{{ ramp_up_start_time }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
