data "azurerm_elastic_cloud_elasticsearch" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    logs {
    }
    timeouts {
      read = "{{ read }}"
    }
}
