data "azurerm_virtual_desktop_workspace" "example" {
    description = "{{ description }}"
    friendly_name = "{{ friendly_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}