resource "azurerm_spring_cloud_application_insights_application_performance_monitoring" "example" {
    connection_string = "{{ connection_string }}"
    globally_enabled = "{{ globally_enabled }}"
    id = "{{ id }}"
    name = "{{ name }}"
    role_instance = "{{ role_instance }}"
    role_name = "{{ role_name }}"
    sampling_percentage = "{{ sampling_percentage }}"
    sampling_requests_per_second = "{{ sampling_requests_per_second }}"
    spring_cloud_service_id = "{{ spring_cloud_service_id }}"
}