resource "azurerm_storage_account" "example" {
    access_tier = "{{ access_tier }}"
    account_kind = "{{ account_kind }}"
    account_replication_type = "{{ account_replication_type }}"
    account_tier = "{{ account_tier }}"
    allow_nested_items_to_be_public = "{{ allow_nested_items_to_be_public }}"
    allowed_copy_scope = "{{ allowed_copy_scope }}"
    cross_tenant_replication_enabled = "{{ cross_tenant_replication_enabled }}"
    default_to_oauth_authentication = "{{ default_to_oauth_authentication }}"
    dns_endpoint_type = "{{ dns_endpoint_type }}"
    edge_zone = "{{ edge_zone }}"
    https_traffic_only_enabled = "{{ https_traffic_only_enabled }}"
    id = "{{ id }}"
    infrastructure_encryption_enabled = "{{ infrastructure_encryption_enabled }}"
    is_hns_enabled = "{{ is_hns_enabled }}"
    large_file_share_enabled = "{{ large_file_share_enabled }}"
    local_user_enabled = "{{ local_user_enabled }}"
    location = "{{ location }}"
    min_tls_version = "{{ min_tls_version }}"
    name = "{{ name }}"
    nfsv3_enabled = "{{ nfsv3_enabled }}"
    primary_access_key = "{{ primary_access_key }}"
    primary_blob_connection_string = "{{ primary_blob_connection_string }}"
    primary_blob_endpoint = "{{ primary_blob_endpoint }}"
    primary_blob_host = "{{ primary_blob_host }}"
    primary_blob_internet_endpoint = "{{ primary_blob_internet_endpoint }}"
    primary_blob_internet_host = "{{ primary_blob_internet_host }}"
    primary_blob_microsoft_endpoint = "{{ primary_blob_microsoft_endpoint }}"
    primary_blob_microsoft_host = "{{ primary_blob_microsoft_host }}"
    primary_connection_string = "{{ primary_connection_string }}"
    primary_dfs_endpoint = "{{ primary_dfs_endpoint }}"
    primary_dfs_host = "{{ primary_dfs_host }}"
    primary_dfs_internet_endpoint = "{{ primary_dfs_internet_endpoint }}"
    primary_dfs_internet_host = "{{ primary_dfs_internet_host }}"
    primary_dfs_microsoft_endpoint = "{{ primary_dfs_microsoft_endpoint }}"
    primary_dfs_microsoft_host = "{{ primary_dfs_microsoft_host }}"
    primary_file_endpoint = "{{ primary_file_endpoint }}"
    primary_file_host = "{{ primary_file_host }}"
    primary_file_internet_endpoint = "{{ primary_file_internet_endpoint }}"
    primary_file_internet_host = "{{ primary_file_internet_host }}"
    primary_file_microsoft_endpoint = "{{ primary_file_microsoft_endpoint }}"
    primary_file_microsoft_host = "{{ primary_file_microsoft_host }}"
    primary_location = "{{ primary_location }}"
    primary_queue_endpoint = "{{ primary_queue_endpoint }}"
    primary_queue_host = "{{ primary_queue_host }}"
    primary_queue_microsoft_endpoint = "{{ primary_queue_microsoft_endpoint }}"
    primary_queue_microsoft_host = "{{ primary_queue_microsoft_host }}"
    primary_table_endpoint = "{{ primary_table_endpoint }}"
    primary_table_host = "{{ primary_table_host }}"
    primary_table_microsoft_endpoint = "{{ primary_table_microsoft_endpoint }}"
    primary_table_microsoft_host = "{{ primary_table_microsoft_host }}"
    primary_web_endpoint = "{{ primary_web_endpoint }}"
    primary_web_host = "{{ primary_web_host }}"
    primary_web_internet_endpoint = "{{ primary_web_internet_endpoint }}"
    primary_web_internet_host = "{{ primary_web_internet_host }}"
    primary_web_microsoft_endpoint = "{{ primary_web_microsoft_endpoint }}"
    primary_web_microsoft_host = "{{ primary_web_microsoft_host }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    queue_encryption_key_type = "{{ queue_encryption_key_type }}"
    resource_group_name = "{{ resource_group_name }}"
    secondary_access_key = "{{ secondary_access_key }}"
    secondary_blob_connection_string = "{{ secondary_blob_connection_string }}"
    secondary_blob_endpoint = "{{ secondary_blob_endpoint }}"
    secondary_blob_host = "{{ secondary_blob_host }}"
    secondary_blob_internet_endpoint = "{{ secondary_blob_internet_endpoint }}"
    secondary_blob_internet_host = "{{ secondary_blob_internet_host }}"
    secondary_blob_microsoft_endpoint = "{{ secondary_blob_microsoft_endpoint }}"
    secondary_blob_microsoft_host = "{{ secondary_blob_microsoft_host }}"
    secondary_connection_string = "{{ secondary_connection_string }}"
    secondary_dfs_endpoint = "{{ secondary_dfs_endpoint }}"
    secondary_dfs_host = "{{ secondary_dfs_host }}"
    secondary_dfs_internet_endpoint = "{{ secondary_dfs_internet_endpoint }}"
    secondary_dfs_internet_host = "{{ secondary_dfs_internet_host }}"
    secondary_dfs_microsoft_endpoint = "{{ secondary_dfs_microsoft_endpoint }}"
    secondary_dfs_microsoft_host = "{{ secondary_dfs_microsoft_host }}"
    secondary_file_endpoint = "{{ secondary_file_endpoint }}"
    secondary_file_host = "{{ secondary_file_host }}"
    secondary_file_internet_endpoint = "{{ secondary_file_internet_endpoint }}"
    secondary_file_internet_host = "{{ secondary_file_internet_host }}"
    secondary_file_microsoft_endpoint = "{{ secondary_file_microsoft_endpoint }}"
    secondary_file_microsoft_host = "{{ secondary_file_microsoft_host }}"
    secondary_location = "{{ secondary_location }}"
    secondary_queue_endpoint = "{{ secondary_queue_endpoint }}"
    secondary_queue_host = "{{ secondary_queue_host }}"
    secondary_queue_microsoft_endpoint = "{{ secondary_queue_microsoft_endpoint }}"
    secondary_queue_microsoft_host = "{{ secondary_queue_microsoft_host }}"
    secondary_table_endpoint = "{{ secondary_table_endpoint }}"
    secondary_table_host = "{{ secondary_table_host }}"
    secondary_table_microsoft_endpoint = "{{ secondary_table_microsoft_endpoint }}"
    secondary_table_microsoft_host = "{{ secondary_table_microsoft_host }}"
    secondary_web_endpoint = "{{ secondary_web_endpoint }}"
    secondary_web_host = "{{ secondary_web_host }}"
    secondary_web_internet_endpoint = "{{ secondary_web_internet_endpoint }}"
    secondary_web_internet_host = "{{ secondary_web_internet_host }}"
    secondary_web_microsoft_endpoint = "{{ secondary_web_microsoft_endpoint }}"
    secondary_web_microsoft_host = "{{ secondary_web_microsoft_host }}"
    sftp_enabled = "{{ sftp_enabled }}"
    shared_access_key_enabled = "{{ shared_access_key_enabled }}"
    table_encryption_key_type = "{{ table_encryption_key_type }}"
    tags = "{{ tags }}"
}