resource "azurerm_route_server_bgp_connection" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    peer_asn = "{{ peer_asn }}"
    peer_ip = "{{ peer_ip }}"
    route_server_id = "{{ route_server_id }}"
}