resource "azurerm_api_management_api_tag_description" "example" {
    api_tag_id = "{{ api_tag_id }}"
    description = "{{ description }}"
    external_documentation_description = "{{ external_documentation_description }}"
    external_documentation_url = "{{ external_documentation_url }}"
    id = "{{ id }}"
}