resource "azurerm_mssql_job_credential" "example" {
    id = "{{ id }}"
    job_agent_id = "{{ job_agent_id }}"
    name = "{{ name }}"
    password = "{{ password }}"
    username = "{{ username }}"
}