resource "azurerm_windows_virtual_machine" "example" {
    admin_password = "{{ admin_password }}"
    admin_username = "{{ admin_username }}"
    allow_extension_operations = "{{ allow_extension_operations }}"
    availability_set_id = "{{ availability_set_id }}"
    bypass_platform_safety_checks_on_user_schedule_enabled = "{{ bypass_platform_safety_checks_on_user_schedule_enabled }}"
    capacity_reservation_group_id = "{{ capacity_reservation_group_id }}"
    computer_name = "{{ computer_name }}"
    custom_data = "{{ custom_data }}"
    dedicated_host_group_id = "{{ dedicated_host_group_id }}"
    dedicated_host_id = "{{ dedicated_host_id }}"
    disk_controller_type = "{{ disk_controller_type }}"
    edge_zone = "{{ edge_zone }}"
    enable_automatic_updates = "{{ enable_automatic_updates }}"
    encryption_at_host_enabled = "{{ encryption_at_host_enabled }}"
    eviction_policy = "{{ eviction_policy }}"
    extensions_time_budget = "{{ extensions_time_budget }}"
    hotpatching_enabled = "{{ hotpatching_enabled }}"
    id = "{{ id }}"
    license_type = "{{ license_type }}"
    location = "{{ location }}"
    max_bid_price = "{{ max_bid_price }}"
    name = "{{ name }}"
    network_interface_ids = "{{ network_interface_ids }}"
    patch_assessment_mode = "{{ patch_assessment_mode }}"
    patch_mode = "{{ patch_mode }}"
    platform_fault_domain = "{{ platform_fault_domain }}"
    priority = "{{ priority }}"
    private_ip_address = "{{ private_ip_address }}"
    private_ip_addresses = "{{ private_ip_addresses }}"
    provision_vm_agent = "{{ provision_vm_agent }}"
    proximity_placement_group_id = "{{ proximity_placement_group_id }}"
    public_ip_address = "{{ public_ip_address }}"
    public_ip_addresses = "{{ public_ip_addresses }}"
    reboot_setting = "{{ reboot_setting }}"
    resource_group_name = "{{ resource_group_name }}"
    secure_boot_enabled = "{{ secure_boot_enabled }}"
    size = "{{ size }}"
    source_image_id = "{{ source_image_id }}"
    tags = "{{ tags }}"
    timezone = "{{ timezone }}"
    user_data = "{{ user_data }}"
    virtual_machine_id = "{{ virtual_machine_id }}"
    virtual_machine_scale_set_id = "{{ virtual_machine_scale_set_id }}"
    vm_agent_platform_updates_enabled = "{{ vm_agent_platform_updates_enabled }}"
    vtpm_enabled = "{{ vtpm_enabled }}"
    zone = "{{ zone }}"
}