data "azurerm_shared_image" "example" {
    accelerated_network_support_enabled = "{{ accelerated_network_support_enabled }}"
    architecture = "{{ architecture }}"
    confidential_vm_enabled = "{{ confidential_vm_enabled }}"
    confidential_vm_supported = "{{ confidential_vm_supported }}"
    description = "{{ description }}"
    eula = "{{ eula }}"
    gallery_name = "{{ gallery_name }}"
    hibernation_enabled = "{{ hibernation_enabled }}"
    hyper_v_generation = "{{ hyper_v_generation }}"
    id = "{{ id }}"
    identifier = "{{ identifier }}"
    location = "{{ location }}"
    name = "{{ name }}"
    os_type = "{{ os_type }}"
    privacy_statement_uri = "{{ privacy_statement_uri }}"
    purchase_plan = "{{ purchase_plan }}"
    release_note_uri = "{{ release_note_uri }}"
    resource_group_name = "{{ resource_group_name }}"
    specialized = "{{ specialized }}"
    tags = "{{ tags }}"
    trusted_launch_enabled = "{{ trusted_launch_enabled }}"
    trusted_launch_supported = "{{ trusted_launch_supported }}"
}