resource "azurerm_api_management_api_schema" "example" {
    api_management_name = "{{ api_management_name }}"
    api_name = "{{ api_name }}"
    components = "{{ components }}"
    content_type = "{{ content_type }}"
    definitions = "{{ definitions }}"
    id = "{{ id }}"
    resource_group_name = "{{ resource_group_name }}"
    schema_id = "{{ schema_id }}"
    value = "{{ value }}"
}