resource "azurerm_api_management_api" "example" {
    api_management_name = "{{ api_management_name }}"
    api_type = "{{ api_type }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    is_current = "{{ is_current }}"
    is_online = "{{ is_online }}"
    name = "{{ name }}"
    path = "{{ path }}"
    protocols = "{{ protocols }}"
    resource_group_name = "{{ resource_group_name }}"
    revision = "{{ revision }}"
    revision_description = "{{ revision_description }}"
    service_url = "{{ service_url }}"
    source_api_id = "{{ source_api_id }}"
    subscription_required = "{{ subscription_required }}"
    terms_of_service_url = "{{ terms_of_service_url }}"
    version = "{{ version }}"
    version_description = "{{ version_description }}"
    version_set_id = "{{ version_set_id }}"
}