data "azurerm_subscriptions" "example" {
    display_name_contains = "{{ display_name_contains }}"
    display_name_prefix = "{{ display_name_prefix }}"
    id = "{{ id }}"
    subscriptions = "{{ subscriptions }}"
}