data "azurerm_sentinel_alert_rule_template" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    log_analytics_workspace_id = "{{ log_analytics_workspace_id }}"
    name = "{{ name }}"
    timeouts {
      read = "{{ read }}"
    }
}
