resource "azurerm_data_factory_linked_custom_service" "example" {
    additional_properties = {
        key = "{{ additional_properties_value }}"
      }
    annotations = ["{{ annotations }}"]
    data_factory_id = "{{ data_factory_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    type = "{{ type }}"
    type_properties_json = "{{ type_properties_json }}"
    integration_runtime {
      name = "{{ name }}"
      parameters = {
        key = "{{ parameters_value }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
