data "azurerm_monitor_action_group" "example" {
    arm_role_receiver = "{{ arm_role_receiver }}"
    automation_runbook_receiver = "{{ automation_runbook_receiver }}"
    azure_app_push_receiver = "{{ azure_app_push_receiver }}"
    azure_function_receiver = "{{ azure_function_receiver }}"
    email_receiver = "{{ email_receiver }}"
    enabled = "{{ enabled }}"
    event_hub_receiver = "{{ event_hub_receiver }}"
    id = "{{ id }}"
    itsm_receiver = "{{ itsm_receiver }}"
    logic_app_receiver = "{{ logic_app_receiver }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    short_name = "{{ short_name }}"
    sms_receiver = "{{ sms_receiver }}"
    voice_receiver = "{{ voice_receiver }}"
    webhook_receiver = "{{ webhook_receiver }}"
}