resource "azurerm_workloads_sap_three_tier_virtual_instance" "example" {
    app_location = "{{ app_location }}"
    environment = "{{ environment }}"
    id = "{{ id }}"
    location = "{{ location }}"
    managed_resource_group_name = "{{ managed_resource_group_name }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sap_fqdn = "{{ sap_fqdn }}"
    sap_product = "{{ sap_product }}"
    tags = "{{ tags }}"
}