resource "azurerm_synapse_private_link_hub" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}