resource "azurerm_sentinel_alert_rule_anomaly_built_in" "example" {
    anomaly_settings_version = "{{ anomaly_settings_version }}"
    anomaly_version = "{{ anomaly_version }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    enabled = "{{ enabled }}"
    frequency = "{{ frequency }}"
    id = "{{ id }}"
    log_analytics_workspace_id = "{{ log_analytics_workspace_id }}"
    mode = "{{ mode }}"
    multi_select_observation = "{{ multi_select_observation }}"
    name = "{{ name }}"
    prioritized_exclude_observation = "{{ prioritized_exclude_observation }}"
    required_data_connector = "{{ required_data_connector }}"
    settings_definition_id = "{{ settings_definition_id }}"
    single_select_observation = "{{ single_select_observation }}"
    tactics = "{{ tactics }}"
    techniques = "{{ techniques }}"
    threshold_observation = "{{ threshold_observation }}"
}