resource "azurerm_spring_cloud_app_cosmosdb_association" "example" {
    api_type = "{{ api_type }}"
    cosmosdb_access_key = "{{ cosmosdb_access_key }}"
    cosmosdb_account_id = "{{ cosmosdb_account_id }}"
    cosmosdb_cassandra_keyspace_name = "{{ cosmosdb_cassandra_keyspace_name }}"
    cosmosdb_gremlin_database_name = "{{ cosmosdb_gremlin_database_name }}"
    cosmosdb_gremlin_graph_name = "{{ cosmosdb_gremlin_graph_name }}"
    cosmosdb_mongo_database_name = "{{ cosmosdb_mongo_database_name }}"
    cosmosdb_sql_database_name = "{{ cosmosdb_sql_database_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    spring_cloud_app_id = "{{ spring_cloud_app_id }}"
}