resource "azurerm_spring_cloud_app_redis_association" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    redis_access_key = "{{ redis_access_key }}"
    redis_cache_id = "{{ redis_cache_id }}"
    spring_cloud_app_id = "{{ spring_cloud_app_id }}"
    ssl_enabled = "{{ ssl_enabled }}"
}