resource "azurerm_cosmosdb_account" "example" {
    access_key_metadata_writes_enabled = "{{ access_key_metadata_writes_enabled }}"
    analytical_storage_enabled = "{{ analytical_storage_enabled }}"
    automatic_failover_enabled = "{{ automatic_failover_enabled }}"
    burst_capacity_enabled = "{{ burst_capacity_enabled }}"
    create_mode = "{{ create_mode }}"
    default_identity_type = "{{ default_identity_type }}"
    endpoint = "{{ endpoint }}"
    free_tier_enabled = "{{ free_tier_enabled }}"
    id = "{{ id }}"
    ip_range_filter = "{{ ip_range_filter }}"
    is_virtual_network_filter_enabled = "{{ is_virtual_network_filter_enabled }}"
    key_vault_key_id = "{{ key_vault_key_id }}"
    kind = "{{ kind }}"
    local_authentication_disabled = "{{ local_authentication_disabled }}"
    location = "{{ location }}"
    managed_hsm_key_id = "{{ managed_hsm_key_id }}"
    minimal_tls_version = "{{ minimal_tls_version }}"
    mongo_server_version = "{{ mongo_server_version }}"
    multiple_write_locations_enabled = "{{ multiple_write_locations_enabled }}"
    name = "{{ name }}"
    network_acl_bypass_for_azure_services = "{{ network_acl_bypass_for_azure_services }}"
    network_acl_bypass_ids = "{{ network_acl_bypass_ids }}"
    offer_type = "{{ offer_type }}"
    partition_merge_enabled = "{{ partition_merge_enabled }}"
    primary_key = "{{ primary_key }}"
    primary_mongodb_connection_string = "{{ primary_mongodb_connection_string }}"
    primary_readonly_key = "{{ primary_readonly_key }}"
    primary_readonly_mongodb_connection_string = "{{ primary_readonly_mongodb_connection_string }}"
    primary_readonly_sql_connection_string = "{{ primary_readonly_sql_connection_string }}"
    primary_sql_connection_string = "{{ primary_sql_connection_string }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    read_endpoints = "{{ read_endpoints }}"
    resource_group_name = "{{ resource_group_name }}"
    secondary_key = "{{ secondary_key }}"
    secondary_mongodb_connection_string = "{{ secondary_mongodb_connection_string }}"
    secondary_readonly_key = "{{ secondary_readonly_key }}"
    secondary_readonly_mongodb_connection_string = "{{ secondary_readonly_mongodb_connection_string }}"
    secondary_readonly_sql_connection_string = "{{ secondary_readonly_sql_connection_string }}"
    secondary_sql_connection_string = "{{ secondary_sql_connection_string }}"
    tags = "{{ tags }}"
    write_endpoints = "{{ write_endpoints }}"
}