resource "azurerm_storage_mover_source_endpoint" "example" {
    description = "{{ description }}"
    export = "{{ export }}"
    host = "{{ host }}"
    id = "{{ id }}"
    name = "{{ name }}"
    nfs_version = "{{ nfs_version }}"
    storage_mover_id = "{{ storage_mover_id }}"
}