data "azurerm_spring_cloud_app" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    service_name = "{{ service_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
