resource "azurerm_mobile_network_site" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    mobile_network_id = "{{ mobile_network_id }}"
    name = "{{ name }}"
    network_function_ids = "{{ network_function_ids }}"
    tags = "{{ tags }}"
}