resource "azurerm_data_share" "example" {
    account_id = "{{ account_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    name = "{{ name }}"
    terms = "{{ terms }}"
    snapshot_schedule {
      name = "{{ name }}"
      recurrence = "{{ recurrence }}"
      start_time = "{{ start_time }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
