resource "azurerm_stream_analytics_managed_private_endpoint" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    stream_analytics_cluster_name = "{{ stream_analytics_cluster_name }}"
    subresource_name = "{{ subresource_name }}"
    target_resource_id = "{{ target_resource_id }}"
}