resource "azurerm_data_factory_credential_user_managed_identity" "example" {
    annotations = "{{ annotations }}"
    data_factory_id = "{{ data_factory_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    identity_id = "{{ identity_id }}"
    name = "{{ name }}"
}