resource "azurerm_application_insights_standard_web_test" "example" {
    application_insights_id = "{{ application_insights_id }}"
    description = "{{ description }}"
    enabled = {{ enabled }}
    frequency = {{ frequency }}
    geo_locations = ["{{ geo_locations }}"]
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    retry_enabled = {{ retry_enabled }}
    tags = {
        key = "{{ tags_value }}"
      }
    timeout = {{ timeout }}
    request {
      body = "{{ body }}"
      follow_redirects_enabled = {{ follow_redirects_enabled }}
      http_verb = "{{ http_verb }}"
      parse_dependent_requests_enabled = {{ parse_dependent_requests_enabled }}
      url = "{{ url }}"
      header {
        name = "{{ name }}"
        value = "{{ value }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
    validation_rules {
      expected_status_code = {{ expected_status_code }}
      ssl_cert_remaining_lifetime = {{ ssl_cert_remaining_lifetime }}
      ssl_check_enabled = {{ ssl_check_enabled }}
      content {
        content_match = "{{ content_match }}"
        ignore_case = {{ ignore_case }}
        pass_if_text_found = {{ pass_if_text_found }}
      }
    }
}
