resource "azurerm_synapse_workspace_extended_auditing_policy" "example" {
    id = "{{ id }}"
    log_monitoring_enabled = "{{ log_monitoring_enabled }}"
    retention_in_days = "{{ retention_in_days }}"
    storage_account_access_key = "{{ storage_account_access_key }}"
    storage_account_access_key_is_secondary = "{{ storage_account_access_key_is_secondary }}"
    storage_endpoint = "{{ storage_endpoint }}"
    synapse_workspace_id = "{{ synapse_workspace_id }}"
}