resource "azurerm_data_factory_linked_custom_service" "example" {
    additional_properties = "{{ additional_properties }}"
    annotations = "{{ annotations }}"
    data_factory_id = "{{ data_factory_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    parameters = "{{ parameters }}"
    type = "{{ type }}"
    type_properties_json = "{{ type_properties_json }}"
}