data "azurerm_blueprint_definition" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    last_modified = "{{ last_modified }}"
    name = "{{ name }}"
    scope_id = "{{ scope_id }}"
    target_scope = "{{ target_scope }}"
    time_created = "{{ time_created }}"
    versions = "{{ versions }}"
}