data "azurerm_express_route_circuit_peering" "example" {
    express_route_circuit_name = "{{ express_route_circuit_name }}"
    id = "{{ id }}"
    peering_type = "{{ peering_type }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
