resource "azurerm_mssql_job_agent" "example" {
    database_id = "{{ database_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    sku = "{{ sku }}"
    tags = {
        key = "{{ tags_value }}"
      }
    identity {
      identity_ids = ["{{ identity_ids }}"]
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
