resource "azurerm_api_management" "example" {
    client_certificate_enabled = "{{ client_certificate_enabled }}"
    developer_portal_url = "{{ developer_portal_url }}"
    gateway_disabled = "{{ gateway_disabled }}"
    gateway_regional_url = "{{ gateway_regional_url }}"
    gateway_url = "{{ gateway_url }}"
    id = "{{ id }}"
    location = "{{ location }}"
    management_api_url = "{{ management_api_url }}"
    min_api_version = "{{ min_api_version }}"
    name = "{{ name }}"
    notification_sender_email = "{{ notification_sender_email }}"
    portal_url = "{{ portal_url }}"
    private_ip_addresses = "{{ private_ip_addresses }}"
    public_ip_address_id = "{{ public_ip_address_id }}"
    public_ip_addresses = "{{ public_ip_addresses }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    publisher_email = "{{ publisher_email }}"
    publisher_name = "{{ publisher_name }}"
    resource_group_name = "{{ resource_group_name }}"
    scm_url = "{{ scm_url }}"
    sku_name = "{{ sku_name }}"
    tags = "{{ tags }}"
    virtual_network_type = "{{ virtual_network_type }}"
    zones = "{{ zones }}"
}