data "azurerm_netapp_volume" "example" {
    account_name = "{{ account_name }}"
    data_protection_backup_policy = "{{ data_protection_backup_policy }}"
    data_protection_replication = "{{ data_protection_replication }}"
    encryption_key_source = "{{ encryption_key_source }}"
    id = "{{ id }}"
    key_vault_private_endpoint_id = "{{ key_vault_private_endpoint_id }}"
    location = "{{ location }}"
    mount_ip_addresses = "{{ mount_ip_addresses }}"
    name = "{{ name }}"
    network_features = "{{ network_features }}"
    pool_name = "{{ pool_name }}"
    protocols = "{{ protocols }}"
    resource_group_name = "{{ resource_group_name }}"
    security_style = "{{ security_style }}"
    service_level = "{{ service_level }}"
    smb_access_based_enumeration_enabled = "{{ smb_access_based_enumeration_enabled }}"
    smb_non_browsable_enabled = "{{ smb_non_browsable_enabled }}"
    storage_quota_in_gb = "{{ storage_quota_in_gb }}"
    subnet_id = "{{ subnet_id }}"
    volume_path = "{{ volume_path }}"
    zone = "{{ zone }}"
}