resource "azurerm_cdn_frontdoor_origin_group" "example" {
    cdn_frontdoor_profile_id = "{{ cdn_frontdoor_profile_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    restore_traffic_time_to_healed_or_new_endpoint_in_minutes = "{{ restore_traffic_time_to_healed_or_new_endpoint_in_minutes }}"
    session_affinity_enabled = "{{ session_affinity_enabled }}"
}