resource "azurerm_elastic_san_volume_group" "example" {
    elastic_san_id = "{{ elastic_san_id }}"
    encryption_type = "{{ encryption_type }}"
    id = "{{ id }}"
    name = "{{ name }}"
    protocol_type = "{{ protocol_type }}"
    encryption {
      key_vault_key_id = "{{ key_vault_key_id }}"
      user_assigned_identity_id = "{{ user_assigned_identity_id }}"
    }
    identity {
      identity_ids = ["{{ identity_ids }}"]
      type = "{{ type }}"
    }
    network_rule {
      action = "{{ action }}"
      subnet_id = "{{ subnet_id }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
