resource "azurerm_elastic_cloud_elasticsearch" "example" {
    elastic_cloud_deployment_id = "{{ elastic_cloud_deployment_id }}"
    elastic_cloud_email_address = "{{ elastic_cloud_email_address }}"
    elastic_cloud_sso_default_url = "{{ elastic_cloud_sso_default_url }}"
    elastic_cloud_user_id = "{{ elastic_cloud_user_id }}"
    elasticsearch_service_url = "{{ elasticsearch_service_url }}"
    id = "{{ id }}"
    kibana_service_url = "{{ kibana_service_url }}"
    kibana_sso_uri = "{{ kibana_sso_uri }}"
    location = "{{ location }}"
    monitoring_enabled = "{{ monitoring_enabled }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    tags = "{{ tags }}"
}