resource "azurerm_data_factory_linked_service_azure_search" "example" {
    additional_properties = "{{ additional_properties }}"
    annotations = "{{ annotations }}"
    data_factory_id = "{{ data_factory_id }}"
    description = "{{ description }}"
    encrypted_credential = "{{ encrypted_credential }}"
    id = "{{ id }}"
    integration_runtime_name = "{{ integration_runtime_name }}"
    name = "{{ name }}"
    parameters = "{{ parameters }}"
    search_service_key = "{{ search_service_key }}"
    url = "{{ url }}"
}