data "azurerm_network_service_tags" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    location_filter = "{{ location_filter }}"
    service = "{{ service }}"
    timeouts {
      read = "{{ read }}"
    }
}
