data "azurerm_orchestrated_virtual_machine_scale_set" "example" {
    id = "{{ id }}"
    identity = "{{ identity }}"
    location = "{{ location }}"
    name = "{{ name }}"
    network_interface = "{{ network_interface }}"
    resource_group_name = "{{ resource_group_name }}"
}