data "azurerm_nginx_configuration" "example" {
    config_file = "{{ config_file }}"
    id = "{{ id }}"
    nginx_deployment_id = "{{ nginx_deployment_id }}"
    package_data = "{{ package_data }}"
    protected_file = "{{ protected_file }}"
    root_file = "{{ root_file }}"
}