resource "azurerm_eventhub_consumer_group" "example" {
    eventhub_name = "{{ eventhub_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace_name = "{{ namespace_name }}"
    resource_group_name = "{{ resource_group_name }}"
    user_metadata = "{{ user_metadata }}"
}