resource "azurerm_maintenance_assignment_virtual_machine" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    maintenance_configuration_id = "{{ maintenance_configuration_id }}"
    virtual_machine_id = "{{ virtual_machine_id }}"
}