resource "azurerm_api_management_authorization_server" "example" {
    api_management_name = "{{ api_management_name }}"
    authorization_endpoint = "{{ authorization_endpoint }}"
    authorization_methods = "{{ authorization_methods }}"
    bearer_token_sending_methods = "{{ bearer_token_sending_methods }}"
    client_authentication_method = "{{ client_authentication_method }}"
    client_id = "{{ client_id }}"
    client_registration_endpoint = "{{ client_registration_endpoint }}"
    client_secret = "{{ client_secret }}"
    default_scope = "{{ default_scope }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    grant_types = "{{ grant_types }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    resource_owner_password = "{{ resource_owner_password }}"
    resource_owner_username = "{{ resource_owner_username }}"
    support_state = "{{ support_state }}"
    token_endpoint = "{{ token_endpoint }}"
}