resource "azurerm_stream_analytics_job_schedule" "example" {
    id = "{{ id }}"
    last_output_time = "{{ last_output_time }}"
    start_mode = "{{ start_mode }}"
    start_time = "{{ start_time }}"
    stream_analytics_job_id = "{{ stream_analytics_job_id }}"
}