resource "azurerm_network_packet_capture" "example" {
    id = "{{ id }}"
    maximum_bytes_per_packet = "{{ maximum_bytes_per_packet }}"
    maximum_bytes_per_session = "{{ maximum_bytes_per_session }}"
    maximum_capture_duration = "{{ maximum_capture_duration }}"
    name = "{{ name }}"
    network_watcher_name = "{{ network_watcher_name }}"
    resource_group_name = "{{ resource_group_name }}"
    target_resource_id = "{{ target_resource_id }}"
}