resource "azurerm_dev_center_project_environment_type" "example" {
    creator_role_assignment_roles = "{{ creator_role_assignment_roles }}"
    deployment_target_id = "{{ deployment_target_id }}"
    dev_center_project_id = "{{ dev_center_project_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}