resource "azurerm_mysql_flexible_server_active_directory_administrator" "example" {
    id = "{{ id }}"
    identity_id = "{{ identity_id }}"
    login = "{{ login }}"
    object_id = "{{ object_id }}"
    server_id = "{{ server_id }}"
    tenant_id = "{{ tenant_id }}"
}