data "azurerm_container_group" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    zones = ["{{ zones }}"]
    timeouts {
      read = "{{ read }}"
    }
}
