resource "azurerm_function_app_hybrid_connection" "example" {
    function_app_id = "{{ function_app_id }}"
    hostname = "{{ hostname }}"
    id = "{{ id }}"
    port = {{ port }}
    relay_id = "{{ relay_id }}"
    send_key_name = "{{ send_key_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
