resource "azurerm_backup_protected_file_share" "example" {
    backup_policy_id = "{{ backup_policy_id }}"
    id = "{{ id }}"
    recovery_vault_name = "{{ recovery_vault_name }}"
    resource_group_name = "{{ resource_group_name }}"
    source_file_share_name = "{{ source_file_share_name }}"
    source_storage_account_id = "{{ source_storage_account_id }}"
}