resource "azurerm_api_management_gateway_certificate_authority" "example" {
    api_management_id = "{{ api_management_id }}"
    certificate_name = "{{ certificate_name }}"
    gateway_name = "{{ gateway_name }}"
    id = "{{ id }}"
    is_trusted = "{{ is_trusted }}"
}