data "azurerm_storage_account" "example" {
    id = "{{ id }}"
    min_tls_version = "{{ min_tls_version }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
