resource "azurerm_virtual_desktop_host_pool" "example" {
    custom_rdp_properties = "{{ custom_rdp_properties }}"
    description = "{{ description }}"
    friendly_name = "{{ friendly_name }}"
    id = "{{ id }}"
    load_balancer_type = "{{ load_balancer_type }}"
    location = "{{ location }}"
    maximum_sessions_allowed = "{{ maximum_sessions_allowed }}"
    name = "{{ name }}"
    personal_desktop_assignment_type = "{{ personal_desktop_assignment_type }}"
    preferred_app_group_type = "{{ preferred_app_group_type }}"
    public_network_access = "{{ public_network_access }}"
    resource_group_name = "{{ resource_group_name }}"
    start_vm_on_connect = "{{ start_vm_on_connect }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    validate_environment = "{{ validate_environment }}"
    vm_template = "{{ vm_template }}"
}