resource "azurerm_data_factory_linked_service_key_vault" "example" {
    additional_properties = {
        key = "{{ additional_properties_value }}"
      }
    annotations = ["{{ annotations }}"]
    data_factory_id = "{{ data_factory_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    integration_runtime_name = "{{ integration_runtime_name }}"
    key_vault_id = "{{ key_vault_id }}"
    name = "{{ name }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
