data "azurerm_container_registry_cache_rule" "example" {
    container_registry_id = "{{ container_registry_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    timeouts {
      read = "{{ read }}"
    }
}
