resource "azurerm_firewall_nat_rule_collection" "example" {
    action = "{{ action }}"
    azure_firewall_name = "{{ azure_firewall_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    priority = "{{ priority }}"
    resource_group_name = "{{ resource_group_name }}"
}