data "azurerm_databox_edge_device" "example" {
    device_properties = "{{ device_properties }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    tags = "{{ tags }}"
}