data "azurerm_kubernetes_cluster_node_pool" "example" {
    id = "{{ id }}"
    kubernetes_cluster_name = "{{ kubernetes_cluster_name }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
