data "azurerm_shared_image_gallery" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    image_names = "{{ image_names }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
    unique_name = "{{ unique_name }}"
}