resource "azurerm_api_management_policy_fragment" "example" {
    api_management_id = "{{ api_management_id }}"
    description = "{{ description }}"
    format = "{{ format }}"
    id = "{{ id }}"
    name = "{{ name }}"
    value = "{{ value }}"
}