data "azurerm_cdn_frontdoor_origin_group" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    profile_name = "{{ profile_name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
