resource "azurerm_app_service_public_certificate" "example" {
    app_service_name = "{{ app_service_name }}"
    blob = "{{ blob }}"
    certificate_location = "{{ certificate_location }}"
    certificate_name = "{{ certificate_name }}"
    id = "{{ id }}"
    resource_group_name = "{{ resource_group_name }}"
    thumbprint = "{{ thumbprint }}"
}