data "azurerm_data_share" "example" {
    account_id = "{{ account_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    name = "{{ name }}"
    snapshot_schedule = "{{ snapshot_schedule }}"
    terms = "{{ terms }}"
}