resource "azurerm_bot_channel_ms_teams" "example" {
    bot_name = "{{ bot_name }}"
    calling_web_hook = "{{ calling_web_hook }}"
    deployment_environment = "{{ deployment_environment }}"
    enable_calling = "{{ enable_calling }}"
    id = "{{ id }}"
    location = "{{ location }}"
    resource_group_name = "{{ resource_group_name }}"
}