resource "azurerm_cdn_frontdoor_endpoint" "example" {
    cdn_frontdoor_profile_id = "{{ cdn_frontdoor_profile_id }}"
    enabled = "{{ enabled }}"
    host_name = "{{ host_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}