resource "azurerm_virtual_network_gateway_connection" "example" {
    authorization_key = "{{ authorization_key }}"
    connection_mode = "{{ connection_mode }}"
    connection_protocol = "{{ connection_protocol }}"
    dpd_timeout_seconds = "{{ dpd_timeout_seconds }}"
    egress_nat_rule_ids = "{{ egress_nat_rule_ids }}"
    enable_bgp = "{{ enable_bgp }}"
    express_route_circuit_id = "{{ express_route_circuit_id }}"
    express_route_gateway_bypass = "{{ express_route_gateway_bypass }}"
    id = "{{ id }}"
    ingress_nat_rule_ids = "{{ ingress_nat_rule_ids }}"
    local_azure_ip_address_enabled = "{{ local_azure_ip_address_enabled }}"
    local_network_gateway_id = "{{ local_network_gateway_id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    peer_virtual_network_gateway_id = "{{ peer_virtual_network_gateway_id }}"
    private_link_fast_path_enabled = "{{ private_link_fast_path_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    routing_weight = "{{ routing_weight }}"
    shared_key = "{{ shared_key }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    use_policy_based_traffic_selectors = "{{ use_policy_based_traffic_selectors }}"
    virtual_network_gateway_id = "{{ virtual_network_gateway_id }}"
}