resource "azurerm_datadog_monitor_sso_configuration" "example" {
    datadog_monitor_id = "{{ datadog_monitor_id }}"
    enterprise_application_id = "{{ enterprise_application_id }}"
    id = "{{ id }}"
    login_url = "{{ login_url }}"
    name = "{{ name }}"
    single_sign_on_enabled = "{{ single_sign_on_enabled }}"
}