resource "azurerm_logic_app_integration_account_certificate" "example" {
    id = "{{ id }}"
    integration_account_name = "{{ integration_account_name }}"
    metadata = "{{ metadata }}"
    name = "{{ name }}"
    public_certificate = "{{ public_certificate }}"
    resource_group_name = "{{ resource_group_name }}"
}