resource "azurerm_mobile_network_data_network" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    mobile_network_id = "{{ mobile_network_id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}