data "azurerm_oracle_cloud_vm_cluster" "example" {
    backup_subnet_cidr = "{{ backup_subnet_cidr }}"
    cloud_exadata_infrastructure_id = "{{ cloud_exadata_infrastructure_id }}"
    cluster_name = "{{ cluster_name }}"
    compartment_id = "{{ compartment_id }}"
    compute_nodes = "{{ compute_nodes }}"
    cpu_core_count = "{{ cpu_core_count }}"
    data_collection_options = "{{ data_collection_options }}"
    data_storage_percentage = "{{ data_storage_percentage }}"
    data_storage_size_in_tbs = "{{ data_storage_size_in_tbs }}"
    db_node_storage_size_in_gbs = "{{ db_node_storage_size_in_gbs }}"
    db_servers = "{{ db_servers }}"
    disk_redundancy = "{{ disk_redundancy }}"
    display_name = "{{ display_name }}"
    domain = "{{ domain }}"
    gi_version = "{{ gi_version }}"
    hostname = "{{ hostname }}"
    hostname_actual = "{{ hostname_actual }}"
    id = "{{ id }}"
    iorm_config_cache = "{{ iorm_config_cache }}"
    last_update_history_entry_id = "{{ last_update_history_entry_id }}"
    license_model = "{{ license_model }}"
    lifecycle_details = "{{ lifecycle_details }}"
    lifecycle_state = "{{ lifecycle_state }}"
    listener_port = "{{ listener_port }}"
    local_backup_enabled = "{{ local_backup_enabled }}"
    location = "{{ location }}"
    memory_size_in_gbs = "{{ memory_size_in_gbs }}"
    name = "{{ name }}"
    node_count = "{{ node_count }}"
    nsg_url = "{{ nsg_url }}"
    oci_url = "{{ oci_url }}"
    ocid = "{{ ocid }}"
    ocpu_count = "{{ ocpu_count }}"
    resource_group_name = "{{ resource_group_name }}"
    scan_dns_name = "{{ scan_dns_name }}"
    scan_dns_record_id = "{{ scan_dns_record_id }}"
    scan_ip_ids = "{{ scan_ip_ids }}"
    scan_listener_port_tcp = "{{ scan_listener_port_tcp }}"
    scan_listener_port_tcp_ssl = "{{ scan_listener_port_tcp_ssl }}"
    shape = "{{ shape }}"
    sparse_diskgroup_enabled = "{{ sparse_diskgroup_enabled }}"
    ssh_public_keys = "{{ ssh_public_keys }}"
    storage_size_in_gbs = "{{ storage_size_in_gbs }}"
    subnet_id = "{{ subnet_id }}"
    subnet_ocid = "{{ subnet_ocid }}"
    system_version = "{{ system_version }}"
    tags = "{{ tags }}"
    time_created = "{{ time_created }}"
    time_zone = "{{ time_zone }}"
    vip_ods = "{{ vip_ods }}"
    virtual_network_id = "{{ virtual_network_id }}"
    zone_id = "{{ zone_id }}"
}