resource "azurerm_key_vault_certificate" "example" {
    id = "{{ id }}"
    key_vault_id = "{{ key_vault_id }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    certificate {
      contents = "{{ contents }}"
      password = "{{ password }}"
    }
    certificate_policy {
      issuer_parameters {
        name = "{{ name }}"
      }
      key_properties {
        curve = "{{ curve }}"
        exportable = {{ exportable }}
        key_size = {{ key_size }}
        key_type = "{{ key_type }}"
        reuse_key = {{ reuse_key }}
      }
      lifetime_action {
        action {
          action_type = "{{ action_type }}"
        }
        trigger {
          days_before_expiry = {{ days_before_expiry }}
          lifetime_percentage = {{ lifetime_percentage }}
        }
      }
      secret_properties {
        content_type = "{{ content_type }}"
      }
      x509_certificate_properties {
        extended_key_usage = ["{{ extended_key_usage }}"]
        key_usage = ["{{ key_usage }}"]
        subject = "{{ subject }}"
        validity_in_months = {{ validity_in_months }}
        subject_alternative_names {
          dns_names = ["{{ dns_names }}"]
          emails = ["{{ emails }}"]
          upns = ["{{ upns }}"]
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
