resource "azurerm_logic_app_action_http" "example" {
    body = "{{ body }}"
    headers = "{{ headers }}"
    id = "{{ id }}"
    logic_app_id = "{{ logic_app_id }}"
    method = "{{ method }}"
    name = "{{ name }}"
    queries = "{{ queries }}"
    uri = "{{ uri }}"
}