resource "azurerm_iotcentral_organization" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    iotcentral_application_id = "{{ iotcentral_application_id }}"
    organization_id = "{{ organization_id }}"
    parent_organization_id = "{{ parent_organization_id }}"
}