resource "azurerm_iothub_certificate" "example" {
    certificate_content = "{{ certificate_content }}"
    id = "{{ id }}"
    iothub_name = "{{ iothub_name }}"
    is_verified = "{{ is_verified }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
}