resource "azurerm_stack_hci_storage_path" "example" {
    custom_location_id = "{{ custom_location_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    path = "{{ path }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}