data "azurerm_api_management_api" "example" {
    api_management_name = "{{ api_management_name }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    is_current = "{{ is_current }}"
    is_online = "{{ is_online }}"
    name = "{{ name }}"
    path = "{{ path }}"
    protocols = "{{ protocols }}"
    resource_group_name = "{{ resource_group_name }}"
    revision = "{{ revision }}"
    service_url = "{{ service_url }}"
    soap_pass_through = "{{ soap_pass_through }}"
    subscription_key_parameter_names = "{{ subscription_key_parameter_names }}"
    subscription_required = "{{ subscription_required }}"
    version = "{{ version }}"
    version_set_id = "{{ version_set_id }}"
}