data "azurerm_resource_group_template_deployment" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    output_content = "{{ output_content }}"
    resource_group_name = "{{ resource_group_name }}"
}