data "azurerm_cosmosdb_account" "example" {
    automatic_failover_enabled = "{{ automatic_failover_enabled }}"
    capabilities = "{{ capabilities }}"
    consistency_policy = "{{ consistency_policy }}"
    endpoint = "{{ endpoint }}"
    free_tier_enabled = "{{ free_tier_enabled }}"
    geo_location = "{{ geo_location }}"
    id = "{{ id }}"
    ip_range_filter = "{{ ip_range_filter }}"
    is_virtual_network_filter_enabled = "{{ is_virtual_network_filter_enabled }}"
    key_vault_key_id = "{{ key_vault_key_id }}"
    kind = "{{ kind }}"
    location = "{{ location }}"
    multiple_write_locations_enabled = "{{ multiple_write_locations_enabled }}"
    name = "{{ name }}"
    offer_type = "{{ offer_type }}"
    primary_key = "{{ primary_key }}"
    primary_mongodb_connection_string = "{{ primary_mongodb_connection_string }}"
    primary_readonly_key = "{{ primary_readonly_key }}"
    primary_readonly_mongodb_connection_string = "{{ primary_readonly_mongodb_connection_string }}"
    primary_readonly_sql_connection_string = "{{ primary_readonly_sql_connection_string }}"
    primary_sql_connection_string = "{{ primary_sql_connection_string }}"
    read_endpoints = "{{ read_endpoints }}"
    resource_group_name = "{{ resource_group_name }}"
    secondary_key = "{{ secondary_key }}"
    secondary_mongodb_connection_string = "{{ secondary_mongodb_connection_string }}"
    secondary_readonly_key = "{{ secondary_readonly_key }}"
    secondary_readonly_mongodb_connection_string = "{{ secondary_readonly_mongodb_connection_string }}"
    secondary_readonly_sql_connection_string = "{{ secondary_readonly_sql_connection_string }}"
    secondary_sql_connection_string = "{{ secondary_sql_connection_string }}"
    tags = "{{ tags }}"
    virtual_network_rule = "{{ virtual_network_rule }}"
    write_endpoints = "{{ write_endpoints }}"
}