data "azurerm_mssql_database" "example" {
    collation = "{{ collation }}"
    elastic_pool_id = "{{ elastic_pool_id }}"
    enclave_type = "{{ enclave_type }}"
    id = "{{ id }}"
    identity = "{{ identity }}"
    license_type = "{{ license_type }}"
    max_size_gb = "{{ max_size_gb }}"
    name = "{{ name }}"
    read_replica_count = "{{ read_replica_count }}"
    read_scale = "{{ read_scale }}"
    server_id = "{{ server_id }}"
    sku_name = "{{ sku_name }}"
    storage_account_type = "{{ storage_account_type }}"
    tags = "{{ tags }}"
    transparent_data_encryption_enabled = "{{ transparent_data_encryption_enabled }}"
    transparent_data_encryption_key_automatic_rotation_enabled = "{{ transparent_data_encryption_key_automatic_rotation_enabled }}"
    transparent_data_encryption_key_vault_key_id = "{{ transparent_data_encryption_key_vault_key_id }}"
    zone_redundant = "{{ zone_redundant }}"
}