resource "azurerm_postgresql_firewall_rule" "example" {
    end_ip_address = "{{ end_ip_address }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    server_name = "{{ server_name }}"
    start_ip_address = "{{ start_ip_address }}"
}