resource "azurerm_bot_channel_direct_line_speech" "example" {
    bot_name = "{{ bot_name }}"
    cognitive_account_id = "{{ cognitive_account_id }}"
    cognitive_service_access_key = "{{ cognitive_service_access_key }}"
    cognitive_service_location = "{{ cognitive_service_location }}"
    custom_speech_model_id = "{{ custom_speech_model_id }}"
    custom_voice_deployment_id = "{{ custom_voice_deployment_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    resource_group_name = "{{ resource_group_name }}"
}