data "azurerm_iothub" "example" {
    hostname = "{{ hostname }}"
    id = "{{ id }}"
    identity = "{{ identity }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}