data "azurerm_cdn_frontdoor_endpoint" "example" {
    enabled = "{{ enabled }}"
    host_name = "{{ host_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    profile_name = "{{ profile_name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}