resource "azurerm_key_vault_secret" "example" {
    content_type = "{{ content_type }}"
    expiration_date = "{{ expiration_date }}"
    id = "{{ id }}"
    key_vault_id = "{{ key_vault_id }}"
    name = "{{ name }}"
    not_before_date = "{{ not_before_date }}"
    tags = {
        key = "{{ tags_value }}"
      }
    value = "{{ value }}"
    value_wo = "{{ value_wo }}"
    value_wo_version = {{ value_wo_version }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
