data "azurerm_machine_learning_workspace" "example" {
    id = "{{ id }}"
    identity = "{{ identity }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}