data "azurerm_storage_containers" "example" {
    id = "{{ id }}"
    name_prefix = "{{ name_prefix }}"
    storage_account_id = "{{ storage_account_id }}"
    timeouts {
      read = "{{ read }}"
    }
}
