resource "azurerm_api_management_notification_recipient_user" "example" {
    api_management_id = "{{ api_management_id }}"
    id = "{{ id }}"
    notification_type = "{{ notification_type }}"
    user_id = "{{ user_id }}"
}