data "azurerm_eventhub_authorization_rule" "example" {
    eventhub_name = "{{ eventhub_name }}"
    id = "{{ id }}"
    listen = {{ listen }}
    manage = {{ manage }}
    name = "{{ name }}"
    namespace_name = "{{ namespace_name }}"
    resource_group_name = "{{ resource_group_name }}"
    send = {{ send }}
    timeouts {
      read = "{{ read }}"
    }
}
