data "azurerm_policy_set_definition" "example" {
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    management_group_name = "{{ management_group_name }}"
    name = "{{ name }}"
    timeouts {
      read = "{{ read }}"
    }
}
