data "azurerm_private_endpoint_connection" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    network_interface = "{{ network_interface }}"
    private_service_connection = "{{ private_service_connection }}"
    resource_group_name = "{{ resource_group_name }}"
}