resource "azurerm_dev_test_virtual_network" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    lab_name = "{{ lab_name }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
    unique_identifier = "{{ unique_identifier }}"
}