resource "azurerm_spring_cloud_container_deployment" "example" {
    addon_json = "{{ addon_json }}"
    application_performance_monitoring_ids = "{{ application_performance_monitoring_ids }}"
    arguments = "{{ arguments }}"
    commands = "{{ commands }}"
    environment_variables = "{{ environment_variables }}"
    id = "{{ id }}"
    image = "{{ image }}"
    instance_count = "{{ instance_count }}"
    language_framework = "{{ language_framework }}"
    name = "{{ name }}"
    server = "{{ server }}"
    spring_cloud_app_id = "{{ spring_cloud_app_id }}"
}