resource "azurerm_vmware_private_cloud" "example" {
    id = "{{ id }}"
    internet_connection_enabled = {{ internet_connection_enabled }}
    location = "{{ location }}"
    name = "{{ name }}"
    network_subnet_cidr = "{{ network_subnet_cidr }}"
    nsxt_password = "{{ nsxt_password }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    vcenter_password = "{{ vcenter_password }}"
    management_cluster {
      size = {{ size }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
