data "azurerm_redis_cache" "example" {
    access_keys_authentication_enabled = "{{ access_keys_authentication_enabled }}"
    capacity = "{{ capacity }}"
    family = "{{ family }}"
    hostname = "{{ hostname }}"
    id = "{{ id }}"
    location = "{{ location }}"
    minimum_tls_version = "{{ minimum_tls_version }}"
    name = "{{ name }}"
    non_ssl_port_enabled = "{{ non_ssl_port_enabled }}"
    patch_schedule = "{{ patch_schedule }}"
    port = "{{ port }}"
    primary_access_key = "{{ primary_access_key }}"
    primary_connection_string = "{{ primary_connection_string }}"
    private_static_ip_address = "{{ private_static_ip_address }}"
    redis_configuration = "{{ redis_configuration }}"
    resource_group_name = "{{ resource_group_name }}"
    secondary_access_key = "{{ secondary_access_key }}"
    secondary_connection_string = "{{ secondary_connection_string }}"
    shard_count = "{{ shard_count }}"
    sku_name = "{{ sku_name }}"
    ssl_port = "{{ ssl_port }}"
    subnet_id = "{{ subnet_id }}"
    tags = "{{ tags }}"
    zones = "{{ zones }}"
}