data "azurerm_key_vault_secret" "example" {
    content_type = "{{ content_type }}"
    expiration_date = "{{ expiration_date }}"
    id = "{{ id }}"
    key_vault_id = "{{ key_vault_id }}"
    name = "{{ name }}"
    not_before_date = "{{ not_before_date }}"
    resource_id = "{{ resource_id }}"
    resource_versionless_id = "{{ resource_versionless_id }}"
    tags = "{{ tags }}"
    value = "{{ value }}"
    version = "{{ version }}"
    versionless_id = "{{ versionless_id }}"
}