resource "azurerm_app_service_certificate" "example" {
    app_service_plan_id = "{{ app_service_plan_id }}"
    id = "{{ id }}"
    key_vault_id = "{{ key_vault_id }}"
    key_vault_secret_id = "{{ key_vault_secret_id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    password = "{{ password }}"
    pfx_blob = "{{ pfx_blob }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
