resource "azurerm_app_configuration_feature" "example" {
    configuration_store_id = "{{ configuration_store_id }}"
    description = "{{ description }}"
    enabled = "{{ enabled }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    key = "{{ key }}"
    label = "{{ label }}"
    locked = "{{ locked }}"
    name = "{{ name }}"
    percentage_filter_value = "{{ percentage_filter_value }}"
    tags = "{{ tags }}"
}