data "azurerm_site_recovery_fabric" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    recovery_vault_name = "{{ recovery_vault_name }}"
    resource_group_name = "{{ resource_group_name }}"
}