resource "azurerm_kusto_eventhub_data_connection" "example" {
    cluster_name = "{{ cluster_name }}"
    compression = "{{ compression }}"
    consumer_group = "{{ consumer_group }}"
    data_format = "{{ data_format }}"
    database_name = "{{ database_name }}"
    database_routing_type = "{{ database_routing_type }}"
    event_system_properties = "{{ event_system_properties }}"
    eventhub_id = "{{ eventhub_id }}"
    id = "{{ id }}"
    identity_id = "{{ identity_id }}"
    location = "{{ location }}"
    mapping_rule_name = "{{ mapping_rule_name }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    table_name = "{{ table_name }}"
}