data "azurerm_private_link_service_endpoint_connections" "example" {
    id = "{{ id }}"
    resource_group_name = "{{ resource_group_name }}"
    service_id = "{{ service_id }}"
    timeouts {
      read = "{{ read }}"
    }
}
