resource "azurerm_linux_virtual_machine_scale_set" "example" {
    admin_password = "{{ admin_password }}"
    admin_username = "{{ admin_username }}"
    capacity_reservation_group_id = "{{ capacity_reservation_group_id }}"
    computer_name_prefix = "{{ computer_name_prefix }}"
    custom_data = "{{ custom_data }}"
    disable_password_authentication = "{{ disable_password_authentication }}"
    do_not_run_extensions_on_overprovisioned_machines = "{{ do_not_run_extensions_on_overprovisioned_machines }}"
    edge_zone = "{{ edge_zone }}"
    encryption_at_host_enabled = "{{ encryption_at_host_enabled }}"
    eviction_policy = "{{ eviction_policy }}"
    extension_operations_enabled = "{{ extension_operations_enabled }}"
    extensions_time_budget = "{{ extensions_time_budget }}"
    health_probe_id = "{{ health_probe_id }}"
    host_group_id = "{{ host_group_id }}"
    id = "{{ id }}"
    instances = "{{ instances }}"
    location = "{{ location }}"
    max_bid_price = "{{ max_bid_price }}"
    name = "{{ name }}"
    overprovision = "{{ overprovision }}"
    platform_fault_domain_count = "{{ platform_fault_domain_count }}"
    priority = "{{ priority }}"
    provision_vm_agent = "{{ provision_vm_agent }}"
    proximity_placement_group_id = "{{ proximity_placement_group_id }}"
    resource_group_name = "{{ resource_group_name }}"
    secure_boot_enabled = "{{ secure_boot_enabled }}"
    single_placement_group = "{{ single_placement_group }}"
    sku = "{{ sku }}"
    source_image_id = "{{ source_image_id }}"
    tags = "{{ tags }}"
    unique_id = "{{ unique_id }}"
    upgrade_mode = "{{ upgrade_mode }}"
    user_data = "{{ user_data }}"
    vtpm_enabled = "{{ vtpm_enabled }}"
    zone_balance = "{{ zone_balance }}"
    zones = "{{ zones }}"
}