data "azurerm_data_factory_trigger_schedule" "example" {
    activated = "{{ activated }}"
    annotations = "{{ annotations }}"
    data_factory_id = "{{ data_factory_id }}"
    description = "{{ description }}"
    end_time = "{{ end_time }}"
    frequency = "{{ frequency }}"
    id = "{{ id }}"
    interval = "{{ interval }}"
    name = "{{ name }}"
    pipeline_name = "{{ pipeline_name }}"
    schedule = "{{ schedule }}"
    start_time = "{{ start_time }}"
    time_zone = "{{ time_zone }}"
}