resource "azurerm_subnet_service_endpoint_storage_policy" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}