resource "azurerm_spring_cloud_app" "example" {
    addon_json = "{{ addon_json }}"
    fqdn = "{{ fqdn }}"
    https_only = "{{ https_only }}"
    id = "{{ id }}"
    is_public = "{{ is_public }}"
    name = "{{ name }}"
    public_endpoint_enabled = "{{ public_endpoint_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    service_name = "{{ service_name }}"
    tls_enabled = "{{ tls_enabled }}"
    url = "{{ url }}"
}