resource "azurerm_orbital_contact" "example" {
    contact_profile_id = "{{ contact_profile_id }}"
    ground_station_name = "{{ ground_station_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    reservation_end_time = "{{ reservation_end_time }}"
    reservation_start_time = "{{ reservation_start_time }}"
    spacecraft_id = "{{ spacecraft_id }}"
}