resource "azurerm_container_app_environment_storage" "example" {
    access_key = "{{ access_key }}"
    access_mode = "{{ access_mode }}"
    account_name = "{{ account_name }}"
    container_app_environment_id = "{{ container_app_environment_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    share_name = "{{ share_name }}"
}