resource "azurerm_sentinel_watchlist" "example" {
    default_duration = "{{ default_duration }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    item_search_key = "{{ item_search_key }}"
    labels = "{{ labels }}"
    log_analytics_workspace_id = "{{ log_analytics_workspace_id }}"
    name = "{{ name }}"
}