resource "azurerm_bot_connection" "example" {
    bot_name = "{{ bot_name }}"
    client_id = "{{ client_id }}"
    client_secret = "{{ client_secret }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    parameters = "{{ parameters }}"
    resource_group_name = "{{ resource_group_name }}"
    scopes = "{{ scopes }}"
    service_provider_name = "{{ service_provider_name }}"
}