resource "azurerm_redis_linked_server" "example" {
    id = "{{ id }}"
    linked_redis_cache_id = "{{ linked_redis_cache_id }}"
    linked_redis_cache_location = "{{ linked_redis_cache_location }}"
    resource_group_name = "{{ resource_group_name }}"
    server_role = "{{ server_role }}"
    target_redis_cache_name = "{{ target_redis_cache_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
