data "azurerm_system_center_virtual_machine_manager_inventory_items" "example" {
    id = "{{ id }}"
    inventory_items = "{{ inventory_items }}"
    inventory_type = "{{ inventory_type }}"
    system_center_virtual_machine_manager_server_id = "{{ system_center_virtual_machine_manager_server_id }}"
}