resource "azurerm_chaos_studio_capability" "example" {
    capability_type = "{{ capability_type }}"
    chaos_studio_target_id = "{{ chaos_studio_target_id }}"
    id = "{{ id }}"
    urn = "{{ urn }}"
}