data "azurerm_public_maintenance_configurations" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    recur_every = "{{ recur_every }}"
    scope = "{{ scope }}"
    timeouts {
      read = "{{ read }}"
    }
}
