resource "azurerm_sentinel_data_connector_dynamics_365" "example" {
    id = "{{ id }}"
    log_analytics_workspace_id = "{{ log_analytics_workspace_id }}"
    name = "{{ name }}"
    tenant_id = "{{ tenant_id }}"
}