resource "azurerm_cdn_frontdoor_secret" "example" {
    cdn_frontdoor_profile_id = "{{ cdn_frontdoor_profile_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    secret {
      customer_certificate {
        key_vault_certificate_id = "{{ key_vault_certificate_id }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
