data "azurerm_dedicated_host" "example" {
    dedicated_host_group_name = "{{ dedicated_host_group_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
