resource "azurerm_storage_queue" "example" {
    id = "{{ id }}"
    metadata = "{{ metadata }}"
    name = "{{ name }}"
    resource_manager_id = "{{ resource_manager_id }}"
    storage_account_name = "{{ storage_account_name }}"
}