resource "azurerm_palo_alto_local_rulestack_prefix_list" "example" {
    audit_comment = "{{ audit_comment }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    prefix_list = "{{ prefix_list }}"
    rulestack_id = "{{ rulestack_id }}"
}