resource "azurerm_storage_sync" "example" {
    id = "{{ id }}"
    incoming_traffic_policy = "{{ incoming_traffic_policy }}"
    location = "{{ location }}"
    name = "{{ name }}"
    registered_servers = "{{ registered_servers }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}