resource "azurerm_ssh_public_key" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    public_key = "{{ public_key }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
