resource "azurerm_log_analytics_query_pack_query" "example" {
    additional_settings_json = "{{ additional_settings_json }}"
    body = "{{ body }}"
    categories = "{{ categories }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    query_pack_id = "{{ query_pack_id }}"
    resource_types = "{{ resource_types }}"
    solutions = "{{ solutions }}"
    tags = "{{ tags }}"
}