resource "azurerm_databricks_workspace" "example" {
    access_connector_id = "{{ access_connector_id }}"
    customer_managed_key_enabled = "{{ customer_managed_key_enabled }}"
    default_storage_firewall_enabled = "{{ default_storage_firewall_enabled }}"
    disk_encryption_set_id = "{{ disk_encryption_set_id }}"
    id = "{{ id }}"
    infrastructure_encryption_enabled = "{{ infrastructure_encryption_enabled }}"
    load_balancer_backend_address_pool_id = "{{ load_balancer_backend_address_pool_id }}"
    location = "{{ location }}"
    managed_disk_cmk_key_vault_id = "{{ managed_disk_cmk_key_vault_id }}"
    managed_disk_cmk_key_vault_key_id = "{{ managed_disk_cmk_key_vault_key_id }}"
    managed_disk_cmk_rotation_to_latest_version_enabled = "{{ managed_disk_cmk_rotation_to_latest_version_enabled }}"
    managed_disk_identity = "{{ managed_disk_identity }}"
    managed_resource_group_id = "{{ managed_resource_group_id }}"
    managed_resource_group_name = "{{ managed_resource_group_name }}"
    managed_services_cmk_key_vault_id = "{{ managed_services_cmk_key_vault_id }}"
    managed_services_cmk_key_vault_key_id = "{{ managed_services_cmk_key_vault_key_id }}"
    name = "{{ name }}"
    network_security_group_rules_required = "{{ network_security_group_rules_required }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    sku = "{{ sku }}"
    storage_account_identity = "{{ storage_account_identity }}"
    tags = "{{ tags }}"
    workspace_id = "{{ workspace_id }}"
    workspace_url = "{{ workspace_url }}"
}