data "azurerm_healthcare_dicom_service" "example" {
    authentication = "{{ authentication }}"
    id = "{{ id }}"
    identity = "{{ identity }}"
    location = "{{ location }}"
    name = "{{ name }}"
    private_endpoint = "{{ private_endpoint }}"
    service_url = "{{ service_url }}"
    tags = "{{ tags }}"
    workspace_id = "{{ workspace_id }}"
}