resource "azurerm_api_management_backend" "example" {
    api_management_name = "{{ api_management_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    protocol = "{{ protocol }}"
    resource_group_name = "{{ resource_group_name }}"
    resource_id = "{{ resource_id }}"
    title = "{{ title }}"
    url = "{{ url }}"
}