resource "azurerm_function_app_function" "example" {
    config_json = "{{ config_json }}"
    config_url = "{{ config_url }}"
    enabled = "{{ enabled }}"
    function_app_id = "{{ function_app_id }}"
    id = "{{ id }}"
    invocation_url = "{{ invocation_url }}"
    language = "{{ language }}"
    name = "{{ name }}"
    script_root_path_url = "{{ script_root_path_url }}"
    script_url = "{{ script_url }}"
    secrets_file_url = "{{ secrets_file_url }}"
    test_data = "{{ test_data }}"
    test_data_url = "{{ test_data_url }}"
    url = "{{ url }}"
}