data "azurerm_database_migration_service" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    sku_name = "{{ sku_name }}"
    subnet_id = "{{ subnet_id }}"
    tags = "{{ tags }}"
}