resource "azurerm_portal_tenant_configuration" "example" {
    id = "{{ id }}"
    private_markdown_storage_enforced = {{ private_markdown_storage_enforced }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
