resource "azurerm_postgresql_server" "example" {
    administrator_login = "{{ administrator_login }}"
    administrator_login_password = "{{ administrator_login_password }}"
    auto_grow_enabled = "{{ auto_grow_enabled }}"
    backup_retention_days = "{{ backup_retention_days }}"
    create_mode = "{{ create_mode }}"
    creation_source_server_id = "{{ creation_source_server_id }}"
    fqdn = "{{ fqdn }}"
    geo_redundant_backup_enabled = "{{ geo_redundant_backup_enabled }}"
    id = "{{ id }}"
    infrastructure_encryption_enabled = "{{ infrastructure_encryption_enabled }}"
    location = "{{ location }}"
    name = "{{ name }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    restore_point_in_time = "{{ restore_point_in_time }}"
    sku_name = "{{ sku_name }}"
    ssl_enforcement_enabled = "{{ ssl_enforcement_enabled }}"
    ssl_minimal_tls_version_enforced = "{{ ssl_minimal_tls_version_enforced }}"
    storage_mb = "{{ storage_mb }}"
    tags = "{{ tags }}"
    version = "{{ version }}"
}