data "azurerm_web_pubsub_private_link_resource" "example" {
    id = "{{ id }}"
    shared_private_link_resource_types = "{{ shared_private_link_resource_types }}"
    web_pubsub_id = "{{ web_pubsub_id }}"
}