data "azurerm_ssh_public_key" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    public_key = "{{ public_key }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}