resource "azurerm_cognitive_account_project" "example" {
    cognitive_account_id = "{{ cognitive_account_id }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    identity {
      identity_ids = ["{{ identity_ids }}"]
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
