data "azurerm_vpn_gateway" "example" {
    bgp_settings = "{{ bgp_settings }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    scale_unit = "{{ scale_unit }}"
    tags = "{{ tags }}"
    virtual_hub_id = "{{ virtual_hub_id }}"
}