data "azurerm_container_registry_scope_map" "example" {
    actions = "{{ actions }}"
    container_registry_name = "{{ container_registry_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
}