resource "azurerm_sentinel_alert_rule_anomaly_duplicate" "example" {
    built_in_rule_id = "{{ built_in_rule_id }}"
    display_name = "{{ display_name }}"
    enabled = {{ enabled }}
    id = "{{ id }}"
    log_analytics_workspace_id = "{{ log_analytics_workspace_id }}"
    mode = "{{ mode }}"
    multi_select_observation {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    prioritized_exclude_observation {
      exclude = "{{ exclude }}"
      name = "{{ name }}"
      prioritize = "{{ prioritize }}"
    }
    single_select_observation {
      name = "{{ name }}"
      value = "{{ value }}"
    }
    threshold_observation {
      name = "{{ name }}"
      value = "{{ value }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
