resource "azurerm_bot_channel_slack" "example" {
    bot_name = "{{ bot_name }}"
    client_id = "{{ client_id }}"
    client_secret = "{{ client_secret }}"
    id = "{{ id }}"
    landing_page_url = "{{ landing_page_url }}"
    location = "{{ location }}"
    resource_group_name = "{{ resource_group_name }}"
    signing_secret = "{{ signing_secret }}"
    verification_token = "{{ verification_token }}"
}