resource "azurerm_container_connected_registry" "example" {
    audit_log_enabled = "{{ audit_log_enabled }}"
    client_token_ids = "{{ client_token_ids }}"
    container_registry_id = "{{ container_registry_id }}"
    id = "{{ id }}"
    log_level = "{{ log_level }}"
    mode = "{{ mode }}"
    name = "{{ name }}"
    parent_registry_id = "{{ parent_registry_id }}"
    sync_message_ttl = "{{ sync_message_ttl }}"
    sync_schedule = "{{ sync_schedule }}"
    sync_token_id = "{{ sync_token_id }}"
    sync_window = "{{ sync_window }}"
}