resource "azurerm_elastic_san" "example" {
    base_size_in_tib = {{ base_size_in_tib }}
    extended_size_in_tib = {{ extended_size_in_tib }}
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    zones = ["{{ zones }}"]
    sku {
      name = "{{ name }}"
      tier = "{{ tier }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
