data "azurerm_template_spec_version" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
    template_body = "{{ template_body }}"
    version = "{{ version }}"
}