resource "azurerm_portal_dashboard" "example" {
    dashboard_properties = "{{ dashboard_properties }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
}