resource "azurerm_network_manager_static_member" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    network_group_id = "{{ network_group_id }}"
    region = "{{ region }}"
    target_virtual_network_id = "{{ target_virtual_network_id }}"
}