resource "azurerm_network_profile" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    container_network_interface {
      name = "{{ name }}"
      ip_configuration {
        name = "{{ name }}"
        subnet_id = "{{ subnet_id }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
