resource "azurerm_network_manager_admin_rule_collection" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    network_group_ids = "{{ network_group_ids }}"
    security_admin_configuration_id = "{{ security_admin_configuration_id }}"
}