resource "azurerm_monitor_action_group" "example" {
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    short_name = "{{ short_name }}"
    tags = "{{ tags }}"
}