resource "azurerm_synapse_sql_pool_extended_auditing_policy" "example" {
    id = "{{ id }}"
    log_monitoring_enabled = "{{ log_monitoring_enabled }}"
    retention_in_days = "{{ retention_in_days }}"
    sql_pool_id = "{{ sql_pool_id }}"
    storage_account_access_key = "{{ storage_account_access_key }}"
    storage_account_access_key_is_secondary = "{{ storage_account_access_key_is_secondary }}"
    storage_endpoint = "{{ storage_endpoint }}"
}