data "azurerm_cdn_frontdoor_secret" "example" {
    cdn_frontdoor_profile_id = "{{ cdn_frontdoor_profile_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    profile_name = "{{ profile_name }}"
    resource_group_name = "{{ resource_group_name }}"
    secret = "{{ secret }}"
}