resource "azurerm_consumption_budget_resource_group" "example" {
    amount = "{{ amount }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_id = "{{ resource_group_id }}"
    time_grain = "{{ time_grain }}"
}