data "azurerm_mobile_network_slice" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    location = "{{ location }}"
    mobile_network_id = "{{ mobile_network_id }}"
    name = "{{ name }}"
    single_network_slice_selection_assistance_information = "{{ single_network_slice_selection_assistance_information }}"
    tags = "{{ tags }}"
}