resource "azurerm_eventhub_namespace_schema_group" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    namespace_id = "{{ namespace_id }}"
    schema_compatibility = "{{ schema_compatibility }}"
    schema_type = "{{ schema_type }}"
}