data "azurerm_oracle_exadata_infrastructure" "example" {
    activated_storage_count = "{{ activated_storage_count }}"
    additional_storage_count = "{{ additional_storage_count }}"
    available_storage_size_in_gbs = "{{ available_storage_size_in_gbs }}"
    compute_count = "{{ compute_count }}"
    cpu_count = "{{ cpu_count }}"
    customer_contacts = "{{ customer_contacts }}"
    data_storage_size_in_tbs = "{{ data_storage_size_in_tbs }}"
    db_node_storage_size_in_gbs = "{{ db_node_storage_size_in_gbs }}"
    db_server_version = "{{ db_server_version }}"
    display_name = "{{ display_name }}"
    estimated_patching_time = "{{ estimated_patching_time }}"
    id = "{{ id }}"
    last_maintenance_run_id = "{{ last_maintenance_run_id }}"
    lifecycle_details = "{{ lifecycle_details }}"
    lifecycle_state = "{{ lifecycle_state }}"
    location = "{{ location }}"
    maintenance_window = "{{ maintenance_window }}"
    max_cpu_count = "{{ max_cpu_count }}"
    max_data_storage_in_tbs = "{{ max_data_storage_in_tbs }}"
    max_db_node_storage_size_in_gbs = "{{ max_db_node_storage_size_in_gbs }}"
    max_memory_in_gbs = "{{ max_memory_in_gbs }}"
    memory_size_in_gbs = "{{ memory_size_in_gbs }}"
    monthly_db_server_version = "{{ monthly_db_server_version }}"
    monthly_storage_server_version = "{{ monthly_storage_server_version }}"
    name = "{{ name }}"
    next_maintenance_run_id = "{{ next_maintenance_run_id }}"
    oci_url = "{{ oci_url }}"
    ocid = "{{ ocid }}"
    resource_group_name = "{{ resource_group_name }}"
    shape = "{{ shape }}"
    storage_count = "{{ storage_count }}"
    storage_server_version = "{{ storage_server_version }}"
    tags = "{{ tags }}"
    time_created = "{{ time_created }}"
    total_storage_size_in_gbs = "{{ total_storage_size_in_gbs }}"
    zones = "{{ zones }}"
}