resource "azurerm_api_management_workspace_policy" "example" {
    api_management_workspace_id = "{{ api_management_workspace_id }}"
    id = "{{ id }}"
    xml_content = "{{ xml_content }}"
    xml_link = "{{ xml_link }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
