data "azurerm_windows_web_app" "example" {
    app_settings = "{{ app_settings }}"
    auth_settings = "{{ auth_settings }}"
    auth_settings_v2 = "{{ auth_settings_v2 }}"
    backup = "{{ backup }}"
    client_affinity_enabled = "{{ client_affinity_enabled }}"
    client_certificate_enabled = "{{ client_certificate_enabled }}"
    client_certificate_exclusion_paths = "{{ client_certificate_exclusion_paths }}"
    client_certificate_mode = "{{ client_certificate_mode }}"
    connection_string = "{{ connection_string }}"
    custom_domain_verification_id = "{{ custom_domain_verification_id }}"
    default_hostname = "{{ default_hostname }}"
    enabled = "{{ enabled }}"
    ftp_publish_basic_authentication_enabled = "{{ ftp_publish_basic_authentication_enabled }}"
    hosting_environment_id = "{{ hosting_environment_id }}"
    https_only = "{{ https_only }}"
    id = "{{ id }}"
    identity = "{{ identity }}"
    kind = "{{ kind }}"
    location = "{{ location }}"
    logs = "{{ logs }}"
    name = "{{ name }}"
    outbound_ip_address_list = "{{ outbound_ip_address_list }}"
    outbound_ip_addresses = "{{ outbound_ip_addresses }}"
    possible_outbound_ip_address_list = "{{ possible_outbound_ip_address_list }}"
    possible_outbound_ip_addresses = "{{ possible_outbound_ip_addresses }}"
    public_network_access_enabled = "{{ public_network_access_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    service_plan_id = "{{ service_plan_id }}"
    site_config = "{{ site_config }}"
    site_credential = "{{ site_credential }}"
    sticky_settings = "{{ sticky_settings }}"
    storage_account = "{{ storage_account }}"
    tags = "{{ tags }}"
    virtual_network_subnet_id = "{{ virtual_network_subnet_id }}"
    webdeploy_publish_basic_authentication_enabled = "{{ webdeploy_publish_basic_authentication_enabled }}"
}