resource "azurerm_orbital_spacecraft" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    norad_id = "{{ norad_id }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
    title_line = "{{ title_line }}"
    two_line_elements = "{{ two_line_elements }}"
}