resource "azurerm_stream_analytics_job_schedule" "example" {
    id = "{{ id }}"
    start_mode = "{{ start_mode }}"
    start_time = "{{ start_time }}"
    stream_analytics_job_id = "{{ stream_analytics_job_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
