resource "azurerm_dev_test_windows_virtual_machine" "example" {
    allow_claim = {{ allow_claim }}
    disallow_public_ip_address = {{ disallow_public_ip_address }}
    id = "{{ id }}"
    lab_name = "{{ lab_name }}"
    lab_subnet_name = "{{ lab_subnet_name }}"
    lab_virtual_network_id = "{{ lab_virtual_network_id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    notes = "{{ notes }}"
    password = "{{ password }}"
    resource_group_name = "{{ resource_group_name }}"
    size = "{{ size }}"
    storage_type = "{{ storage_type }}"
    tags = {
        key = "{{ tags_value }}"
      }
    username = "{{ username }}"
    gallery_image_reference {
      offer = "{{ offer }}"
      publisher = "{{ publisher }}"
      sku = "{{ sku }}"
      version = "{{ version }}"
    }
    inbound_nat_rule {
      backend_port = {{ backend_port }}
      protocol = "{{ protocol }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
