resource "azurerm_policy_set_definition" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    management_group_id = "{{ management_group_id }}"
    metadata = "{{ metadata }}"
    name = "{{ name }}"
    parameters = "{{ parameters }}"
    policy_type = "{{ policy_type }}"
}