resource "azurerm_eventhub_namespace" "example" {
    auto_inflate_enabled = {{ auto_inflate_enabled }}
    capacity = {{ capacity }}
    dedicated_cluster_id = "{{ dedicated_cluster_id }}"
    id = "{{ id }}"
    local_authentication_enabled = {{ local_authentication_enabled }}
    location = "{{ location }}"
    maximum_throughput_units = {{ maximum_throughput_units }}
    minimum_tls_version = "{{ minimum_tls_version }}"
    name = "{{ name }}"
    network_rulesets = ["{{ network_rulesets }}"]
    public_network_access_enabled = {{ public_network_access_enabled }}
    resource_group_name = "{{ resource_group_name }}"
    sku = "{{ sku }}"
    tags = {
        key = "{{ tags_value }}"
      }
    identity {
      identity_ids = ["{{ identity_ids }}"]
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
