data "azurerm_container_app" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    read_secrets = {{ read_secrets }}
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
