resource "azurerm_api_management_identity_provider_facebook" "example" {
    api_management_name = "{{ api_management_name }}"
    app_id = "{{ app_id }}"
    app_secret = "{{ app_secret }}"
    id = "{{ id }}"
    resource_group_name = "{{ resource_group_name }}"
}