resource "azurerm_automation_variable_object" "example" {
    automation_account_name = "{{ automation_account_name }}"
    description = "{{ description }}"
    encrypted = "{{ encrypted }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    value = "{{ value }}"
}