data "azurerm_container_registry_token" "example" {
    container_registry_name = "{{ container_registry_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
