resource "azurerm_palo_alto_next_generation_firewall_virtual_hub_panorama" "example" {
    id = "{{ id }}"
    location = "{{ location }}"
    marketplace_offer_id = "{{ marketplace_offer_id }}"
    name = "{{ name }}"
    panorama_base64_config = "{{ panorama_base64_config }}"
    plan_id = "{{ plan_id }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    destination_nat {
      name = "{{ name }}"
      protocol = "{{ protocol }}"
      backend_config {
        port = {{ port }}
        public_ip_address = "{{ public_ip_address }}"
      }
      frontend_config {
        port = {{ port }}
        public_ip_address_id = "{{ public_ip_address_id }}"
      }
    }
    dns_settings {
      dns_servers = ["{{ dns_servers }}"]
      use_azure_dns = {{ use_azure_dns }}
    }
    network_profile {
      egress_nat_ip_address_ids = ["{{ egress_nat_ip_address_ids }}"]
      network_virtual_appliance_id = "{{ network_virtual_appliance_id }}"
      public_ip_address_ids = ["{{ public_ip_address_ids }}"]
      trusted_address_ranges = ["{{ trusted_address_ranges }}"]
      virtual_hub_id = "{{ virtual_hub_id }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
