resource "azurerm_virtual_network_gateway" "example" {
    active_active = "{{ active_active }}"
    bgp_route_translation_for_nat_enabled = "{{ bgp_route_translation_for_nat_enabled }}"
    default_local_network_gateway_id = "{{ default_local_network_gateway_id }}"
    dns_forwarding_enabled = "{{ dns_forwarding_enabled }}"
    edge_zone = "{{ edge_zone }}"
    enable_bgp = "{{ enable_bgp }}"
    generation = "{{ generation }}"
    id = "{{ id }}"
    ip_sec_replay_protection_enabled = "{{ ip_sec_replay_protection_enabled }}"
    location = "{{ location }}"
    name = "{{ name }}"
    private_ip_address_enabled = "{{ private_ip_address_enabled }}"
    remote_vnet_traffic_enabled = "{{ remote_vnet_traffic_enabled }}"
    resource_group_name = "{{ resource_group_name }}"
    sku = "{{ sku }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    virtual_wan_traffic_enabled = "{{ virtual_wan_traffic_enabled }}"
    vpn_type = "{{ vpn_type }}"
}