resource "azurerm_mongo_cluster" "example" {
    administrator_password = "{{ administrator_password }}"
    administrator_username = "{{ administrator_username }}"
    compute_tier = "{{ compute_tier }}"
    create_mode = "{{ create_mode }}"
    high_availability_mode = "{{ high_availability_mode }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    preview_features = "{{ preview_features }}"
    public_network_access = "{{ public_network_access }}"
    resource_group_name = "{{ resource_group_name }}"
    shard_count = "{{ shard_count }}"
    source_location = "{{ source_location }}"
    source_server_id = "{{ source_server_id }}"
    storage_size_in_gb = "{{ storage_size_in_gb }}"
    tags = "{{ tags }}"
    version = "{{ version }}"
}