data "azurerm_storage_share" "example" {
    id = "{{ id }}"
    metadata = {
        key = "{{ metadata_value }}"
      }
    name = "{{ name }}"
    storage_account_id = "{{ storage_account_id }}"
    storage_account_name = "{{ storage_account_name }}"
    acl {
    }
    timeouts {
      read = "{{ read }}"
    }
}
