resource "azurerm_automation_hybrid_runbook_worker" "example" {
    automation_account_name = "{{ automation_account_name }}"
    id = "{{ id }}"
    resource_group_name = "{{ resource_group_name }}"
    vm_resource_id = "{{ vm_resource_id }}"
    worker_group_name = "{{ worker_group_name }}"
    worker_id = "{{ worker_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
