data "azurerm_network_interface" "example" {
    accelerated_networking_enabled = "{{ accelerated_networking_enabled }}"
    applied_dns_servers = "{{ applied_dns_servers }}"
    dns_servers = "{{ dns_servers }}"
    id = "{{ id }}"
    internal_dns_name_label = "{{ internal_dns_name_label }}"
    ip_configuration = "{{ ip_configuration }}"
    ip_forwarding_enabled = "{{ ip_forwarding_enabled }}"
    location = "{{ location }}"
    mac_address = "{{ mac_address }}"
    name = "{{ name }}"
    network_security_group_id = "{{ network_security_group_id }}"
    private_ip_address = "{{ private_ip_address }}"
    private_ip_addresses = "{{ private_ip_addresses }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = "{{ tags }}"
    virtual_machine_id = "{{ virtual_machine_id }}"
}