resource "azurerm_consumption_budget_subscription" "example" {
    amount = "{{ amount }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    name = "{{ name }}"
    subscription_id = "{{ subscription_id }}"
    time_grain = "{{ time_grain }}"
}