resource "azurerm_data_factory_linked_service_cosmosdb_mongoapi" "example" {
    additional_properties = "{{ additional_properties }}"
    annotations = "{{ annotations }}"
    connection_string = "{{ connection_string }}"
    data_factory_id = "{{ data_factory_id }}"
    database = "{{ database }}"
    description = "{{ description }}"
    id = "{{ id }}"
    integration_runtime_name = "{{ integration_runtime_name }}"
    name = "{{ name }}"
    parameters = "{{ parameters }}"
    server_version_is_32_or_higher = "{{ server_version_is_32_or_higher }}"
}