provider "azurerm" {
    ado_pipeline_service_connection_id = "{{ ado_pipeline_service_connection_id }}"
    auxiliary_tenant_ids = ["{{ auxiliary_tenant_ids }}"]
    client_certificate = "{{ client_certificate }}"
    client_certificate_password = "{{ client_certificate_password }}"
    client_certificate_path = "{{ client_certificate_path }}"
    client_id = "{{ client_id }}"
    client_id_file_path = "{{ client_id_file_path }}"
    client_secret = "{{ client_secret }}"
    client_secret_file_path = "{{ client_secret_file_path }}"
    disable_correlation_request_id = {{ disable_correlation_request_id }}
    disable_terraform_partner_id = {{ disable_terraform_partner_id }}
    environment = "{{ environment }}"
    metadata_host = "{{ metadata_host }}"
    msi_api_version = "{{ msi_api_version }}"
    msi_endpoint = "{{ msi_endpoint }}"
    oidc_request_token = "{{ oidc_request_token }}"
    oidc_request_url = "{{ oidc_request_url }}"
    oidc_token = "{{ oidc_token }}"
    oidc_token_file_path = "{{ oidc_token_file_path }}"
    partner_id = "{{ partner_id }}"
    resource_provider_registrations = "{{ resource_provider_registrations }}"
    resource_providers_to_register = ["{{ resource_providers_to_register }}"]
    skip_provider_registration = {{ skip_provider_registration }}
    storage_use_azuread = {{ storage_use_azuread }}
    subscription_id = "{{ subscription_id }}"
    tenant_id = "{{ tenant_id }}"
    use_aks_workload_identity = {{ use_aks_workload_identity }}
    use_cli = {{ use_cli }}
    use_msi = {{ use_msi }}
    use_oidc = {{ use_oidc }}
    enhanced_validation {
      locations = {{ locations }}
      resource_providers = {{ resource_providers }}
    }
    features {
      api_management {
        purge_soft_delete_on_destroy = {{ purge_soft_delete_on_destroy }}
        recover_soft_deleted = {{ recover_soft_deleted }}
      }
      app_configuration {
        purge_soft_delete_on_destroy = {{ purge_soft_delete_on_destroy }}
        recover_soft_deleted = {{ recover_soft_deleted }}
      }
      application_insights {
        disable_generated_rule = {{ disable_generated_rule }}
      }
      cognitive_account {
        purge_soft_delete_on_destroy = {{ purge_soft_delete_on_destroy }}
      }
      databricks_workspace {
        force_delete = {{ force_delete }}
      }
      key_vault {
        purge_soft_delete_on_destroy = {{ purge_soft_delete_on_destroy }}
        purge_soft_deleted_certificates_on_destroy = {{ purge_soft_deleted_certificates_on_destroy }}
        purge_soft_deleted_hardware_security_module_keys_on_destroy = {{ purge_soft_deleted_hardware_security_module_keys_on_destroy }}
        purge_soft_deleted_hardware_security_modules_on_destroy = {{ purge_soft_deleted_hardware_security_modules_on_destroy }}
        purge_soft_deleted_keys_on_destroy = {{ purge_soft_deleted_keys_on_destroy }}
        purge_soft_deleted_secrets_on_destroy = {{ purge_soft_deleted_secrets_on_destroy }}
        recover_soft_deleted_certificates = {{ recover_soft_deleted_certificates }}
        recover_soft_deleted_hardware_security_module_keys = {{ recover_soft_deleted_hardware_security_module_keys }}
        recover_soft_deleted_key_vaults = {{ recover_soft_deleted_key_vaults }}
        recover_soft_deleted_keys = {{ recover_soft_deleted_keys }}
        recover_soft_deleted_secrets = {{ recover_soft_deleted_secrets }}
      }
      log_analytics_workspace {
        permanently_delete_on_destroy = {{ permanently_delete_on_destroy }}
      }
      machine_learning {
        purge_soft_deleted_workspace_on_destroy = {{ purge_soft_deleted_workspace_on_destroy }}
      }
      managed_disk {
        expand_without_downtime = {{ expand_without_downtime }}
      }
      netapp {
        delete_backups_on_backup_vault_destroy = {{ delete_backups_on_backup_vault_destroy }}
        prevent_volume_destruction = {{ prevent_volume_destruction }}
      }
      postgresql_flexible_server {
        restart_server_on_configuration_value_change = {{ restart_server_on_configuration_value_change }}
      }
      recovery_service {
        purge_protected_items_from_vault_on_destroy = {{ purge_protected_items_from_vault_on_destroy }}
        vm_backup_stop_protection_and_retain_data_on_destroy = {{ vm_backup_stop_protection_and_retain_data_on_destroy }}
        vm_backup_suspend_protection_and_retain_data_on_destroy = {{ vm_backup_suspend_protection_and_retain_data_on_destroy }}
      }
      recovery_services_vaults {
        recover_soft_deleted_backup_protected_vm = {{ recover_soft_deleted_backup_protected_vm }}
      }
      resource_group {
        prevent_deletion_if_contains_resources = {{ prevent_deletion_if_contains_resources }}
      }
      storage {
        data_plane_available = {{ data_plane_available }}
      }
      subscription {
        prevent_cancellation_on_destroy = {{ prevent_cancellation_on_destroy }}
      }
      template_deployment {
        delete_nested_items_during_deletion = {{ delete_nested_items_during_deletion }}
      }
      virtual_machine {
        delete_os_disk_on_deletion = {{ delete_os_disk_on_deletion }}
        detach_implicit_data_disk_on_deletion = {{ detach_implicit_data_disk_on_deletion }}
        graceful_shutdown = {{ graceful_shutdown }}
        skip_shutdown_and_force_delete = {{ skip_shutdown_and_force_delete }}
      }
      virtual_machine_scale_set {
        force_delete = {{ force_delete }}
        reimage_on_manual_upgrade = {{ reimage_on_manual_upgrade }}
        roll_instances_when_required = {{ roll_instances_when_required }}
        scale_to_zero_before_deletion = {{ scale_to_zero_before_deletion }}
      }
    }
}
