data "cloudinit_config" "example" {
    base64_encode = {{ base64_encode }}
    boundary = "{{ boundary }}"
    gzip = {{ gzip }}
    part {
      content = "{{ content }}"
      content_type = "{{ content_type }}"
      filename = "{{ filename }}"
      merge_type = "{{ merge_type }}"
    }
}
