resource "aws_redshiftserverless_usage_limit" "example" {
    amount = "{{ amount }}"
    arn = "{{ arn }}"
    breach_action = "{{ breach_action }}"
    id = "{{ id }}"
    period = "{{ period }}"
    resource_arn = "{{ resource_arn }}"
    usage_type = "{{ usage_type }}"
}