resource "aws_api_gateway_gateway_response" "example" {
    id = "{{ id }}"
    response_parameters = "{{ response_parameters }}"
    response_templates = "{{ response_templates }}"
    response_type = "{{ response_type }}"
    rest_api_id = "{{ rest_api_id }}"
    status_code = "{{ status_code }}"
}