resource "aws_lambda_function" "example" {
    architectures = ["{{ architectures }}"]
    code_sha256 = "{{ code_sha256 }}"
    code_signing_config_arn = "{{ code_signing_config_arn }}"
    description = "{{ description }}"
    filename = "{{ filename }}"
    function_name = "{{ function_name }}"
    handler = "{{ handler }}"
    id = "{{ id }}"
    image_uri = "{{ image_uri }}"
    kms_key_arn = "{{ kms_key_arn }}"
    layers = ["{{ layers }}"]
    memory_size = {{ memory_size }}
    package_type = "{{ package_type }}"
    publish = {{ publish }}
    publish_to = "{{ publish_to }}"
    region = "{{ region }}"
    replace_security_groups_on_destroy = {{ replace_security_groups_on_destroy }}
    replacement_security_group_ids = ["{{ replacement_security_group_ids }}"]
    reserved_concurrent_executions = {{ reserved_concurrent_executions }}
    role = "{{ role }}"
    runtime = "{{ runtime }}"
    s3_bucket = "{{ s3_bucket }}"
    s3_key = "{{ s3_key }}"
    s3_object_version = "{{ s3_object_version }}"
    skip_destroy = {{ skip_destroy }}
    source_code_hash = "{{ source_code_hash }}"
    source_kms_key_arn = "{{ source_kms_key_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeout = {{ timeout }}
    capacity_provider_config {
      lambda_managed_instances_capacity_provider_config {
        capacity_provider_arn = "{{ capacity_provider_arn }}"
        execution_environment_memory_gib_per_vcpu = {{ execution_environment_memory_gib_per_vcpu }}
        per_execution_environment_max_concurrency = {{ per_execution_environment_max_concurrency }}
      }
    }
    dead_letter_config {
      target_arn = "{{ target_arn }}"
    }
    durable_config {
      execution_timeout = {{ execution_timeout }}
      retention_period = {{ retention_period }}
    }
    environment {
      variables = {
        key = "{{ variables_value }}"
      }
    }
    ephemeral_storage {
      size = {{ size }}
    }
    file_system_config {
      arn = "{{ arn }}"
      local_mount_path = "{{ local_mount_path }}"
    }
    image_config {
      command = ["{{ command }}"]
      entry_point = ["{{ entry_point }}"]
      working_directory = "{{ working_directory }}"
    }
    logging_config {
      application_log_level = "{{ application_log_level }}"
      log_format = "{{ log_format }}"
      log_group = "{{ log_group }}"
      system_log_level = "{{ system_log_level }}"
    }
    snap_start {
      apply_on = "{{ apply_on }}"
    }
    tenancy_config {
      tenant_isolation_mode = "{{ tenant_isolation_mode }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    tracing_config {
      mode = "{{ mode }}"
    }
    vpc_config {
      ipv6_allowed_for_dual_stack = {{ ipv6_allowed_for_dual_stack }}
      security_group_ids = ["{{ security_group_ids }}"]
      subnet_ids = ["{{ subnet_ids }}"]
    }
}
