resource "aws_bedrockagent_agent_knowledge_base_association" "example" {
    agent_id = "{{ agent_id }}"
    agent_version = "{{ agent_version }}"
    description = "{{ description }}"
    id = "{{ id }}"
    knowledge_base_id = "{{ knowledge_base_id }}"
    knowledge_base_state = "{{ knowledge_base_state }}"
}