resource "aws_vpclattice_listener" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    port = {{ port }}
    protocol = "{{ protocol }}"
    region = "{{ region }}"
    service_arn = "{{ service_arn }}"
    service_identifier = "{{ service_identifier }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    default_action {
      fixed_response {
        status_code = {{ status_code }}
      }
      forward {
        target_groups {
          target_group_identifier = "{{ target_group_identifier }}"
          weight = {{ weight }}
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
