resource "aws_opsworks_rails_app_layer" "example" {
    app_server = "{{ app_server }}"
    arn = "{{ arn }}"
    auto_assign_elastic_ips = "{{ auto_assign_elastic_ips }}"
    auto_assign_public_ips = "{{ auto_assign_public_ips }}"
    auto_healing = "{{ auto_healing }}"
    bundler_version = "{{ bundler_version }}"
    custom_configure_recipes = "{{ custom_configure_recipes }}"
    custom_deploy_recipes = "{{ custom_deploy_recipes }}"
    custom_instance_profile_arn = "{{ custom_instance_profile_arn }}"
    custom_json = "{{ custom_json }}"
    custom_security_group_ids = "{{ custom_security_group_ids }}"
    custom_setup_recipes = "{{ custom_setup_recipes }}"
    custom_shutdown_recipes = "{{ custom_shutdown_recipes }}"
    custom_undeploy_recipes = "{{ custom_undeploy_recipes }}"
    drain_elb_on_shutdown = "{{ drain_elb_on_shutdown }}"
    elastic_load_balancer = "{{ elastic_load_balancer }}"
    id = "{{ id }}"
    install_updates_on_boot = "{{ install_updates_on_boot }}"
    instance_shutdown_timeout = "{{ instance_shutdown_timeout }}"
    manage_bundler = "{{ manage_bundler }}"
    name = "{{ name }}"
    passenger_version = "{{ passenger_version }}"
    ruby_version = "{{ ruby_version }}"
    rubygems_version = "{{ rubygems_version }}"
    stack_id = "{{ stack_id }}"
    system_packages = "{{ system_packages }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    use_ebs_optimized_instances = "{{ use_ebs_optimized_instances }}"
}