data "aws_ssm_patch_baseline" "example" {
    default_baseline = {{ default_baseline }}
    id = "{{ id }}"
    name_prefix = "{{ name_prefix }}"
    operating_system = "{{ operating_system }}"
    owner = "{{ owner }}"
    region = "{{ region }}"
}
