resource "aws_macie2_account" "example" {
    created_at = "{{ created_at }}"
    finding_publishing_frequency = "{{ finding_publishing_frequency }}"
    id = "{{ id }}"
    service_role = "{{ service_role }}"
    status = "{{ status }}"
    updated_at = "{{ updated_at }}"
}