resource "aws_codecatalyst_source_repository" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project_name = "{{ project_name }}"
    space_name = "{{ space_name }}"
}