resource "aws_shield_protection_group" "example" {
    aggregation = "{{ aggregation }}"
    id = "{{ id }}"
    members = ["{{ members }}"]
    pattern = "{{ pattern }}"
    protection_group_id = "{{ protection_group_id }}"
    resource_type = "{{ resource_type }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
