resource "aws_directory_service_directory" "example" {
    access_url = "{{ access_url }}"
    alias = "{{ alias }}"
    description = "{{ description }}"
    desired_number_of_domain_controllers = "{{ desired_number_of_domain_controllers }}"
    dns_ip_addresses = "{{ dns_ip_addresses }}"
    edition = "{{ edition }}"
    enable_sso = "{{ enable_sso }}"
    id = "{{ id }}"
    name = "{{ name }}"
    password = "{{ password }}"
    security_group_id = "{{ security_group_id }}"
    short_name = "{{ short_name }}"
    size = "{{ size }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}