resource "aws_cloudcontrolapi_resource" "example" {
    desired_state = "{{ desired_state }}"
    id = "{{ id }}"
    properties = "{{ properties }}"
    role_arn = "{{ role_arn }}"
    schema = "{{ schema }}"
    type_name = "{{ type_name }}"
    type_version_id = "{{ type_version_id }}"
}