data "aws_ram_resource_share" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    owning_account_id = "{{ owning_account_id }}"
    resource_arns = "{{ resource_arns }}"
    resource_owner = "{{ resource_owner }}"
    resource_share_status = "{{ resource_share_status }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}