data "aws_ec2_transit_gateway_vpn_attachment" "example" {
    id = "{{ id }}"
    tags = "{{ tags }}"
    transit_gateway_id = "{{ transit_gateway_id }}"
    vpn_connection_id = "{{ vpn_connection_id }}"
}