resource "aws_evidently_project" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    data_delivery {
      cloudwatch_logs {
        log_group = "{{ log_group }}"
      }
      s3_destination {
        bucket = "{{ bucket }}"
        prefix = "{{ prefix }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
