resource "aws_bedrockagentcore_oauth2_credential_provider" "example" {
    credential_provider_vendor = "{{ credential_provider_vendor }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    oauth2_provider_config {
      custom_oauth2_provider_config {
        client_credentials_wo_version = {{ client_credentials_wo_version }}
        client_id = "{{ client_id }}"
        client_id_wo = "{{ client_id_wo }}"
        client_secret = "{{ client_secret }}"
        client_secret_wo = "{{ client_secret_wo }}"
        oauth_discovery {
          discovery_url = "{{ discovery_url }}"
          authorization_server_metadata {
            authorization_endpoint = "{{ authorization_endpoint }}"
            issuer = "{{ issuer }}"
            response_types = ["{{ response_types }}"]
            token_endpoint = "{{ token_endpoint }}"
          }
        }
      }
      github_oauth2_provider_config {
        client_credentials_wo_version = {{ client_credentials_wo_version }}
        client_id = "{{ client_id }}"
        client_id_wo = "{{ client_id_wo }}"
        client_secret = "{{ client_secret }}"
        client_secret_wo = "{{ client_secret_wo }}"
      }
      google_oauth2_provider_config {
        client_credentials_wo_version = {{ client_credentials_wo_version }}
        client_id = "{{ client_id }}"
        client_id_wo = "{{ client_id_wo }}"
        client_secret = "{{ client_secret }}"
        client_secret_wo = "{{ client_secret_wo }}"
      }
      microsoft_oauth2_provider_config {
        client_credentials_wo_version = {{ client_credentials_wo_version }}
        client_id = "{{ client_id }}"
        client_id_wo = "{{ client_id_wo }}"
        client_secret = "{{ client_secret }}"
        client_secret_wo = "{{ client_secret_wo }}"
      }
      salesforce_oauth2_provider_config {
        client_credentials_wo_version = {{ client_credentials_wo_version }}
        client_id = "{{ client_id }}"
        client_id_wo = "{{ client_id_wo }}"
        client_secret = "{{ client_secret }}"
        client_secret_wo = "{{ client_secret_wo }}"
      }
      slack_oauth2_provider_config {
        client_credentials_wo_version = {{ client_credentials_wo_version }}
        client_id = "{{ client_id }}"
        client_id_wo = "{{ client_id_wo }}"
        client_secret = "{{ client_secret }}"
        client_secret_wo = "{{ client_secret_wo }}"
      }
    }
}
