resource "aws_appfabric_ingestion_destination" "example" {
    app_bundle_arn = "{{ app_bundle_arn }}"
    arn = "{{ arn }}"
    id = "{{ id }}"
    ingestion_arn = "{{ ingestion_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}