resource "aws_ec2_transit_gateway_policy_table_association" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    transit_gateway_attachment_id = "{{ transit_gateway_attachment_id }}"
    transit_gateway_policy_table_id = "{{ transit_gateway_policy_table_id }}"
}
