resource "aws_datasync_location_fsx_ontap_file_system" "example" {
    arn = "{{ arn }}"
    creation_time = "{{ creation_time }}"
    fsx_filesystem_arn = "{{ fsx_filesystem_arn }}"
    id = "{{ id }}"
    security_group_arns = "{{ security_group_arns }}"
    storage_virtual_machine_arn = "{{ storage_virtual_machine_arn }}"
    subdirectory = "{{ subdirectory }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    uri = "{{ uri }}"
}