data "aws_dms_replication_subnet_group" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    replication_subnet_group_id = "{{ replication_subnet_group_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
