resource "aws_dax_cluster" "example" {
    arn = "{{ arn }}"
    availability_zones = "{{ availability_zones }}"
    cluster_address = "{{ cluster_address }}"
    cluster_endpoint_encryption_type = "{{ cluster_endpoint_encryption_type }}"
    cluster_name = "{{ cluster_name }}"
    configuration_endpoint = "{{ configuration_endpoint }}"
    description = "{{ description }}"
    iam_role_arn = "{{ iam_role_arn }}"
    id = "{{ id }}"
    maintenance_window = "{{ maintenance_window }}"
    node_type = "{{ node_type }}"
    nodes = "{{ nodes }}"
    notification_topic_arn = "{{ notification_topic_arn }}"
    parameter_group_name = "{{ parameter_group_name }}"
    port = "{{ port }}"
    replication_factor = "{{ replication_factor }}"
    security_group_ids = "{{ security_group_ids }}"
    subnet_group_name = "{{ subnet_group_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}