data "aws_transfer_server" "example" {
    arn = "{{ arn }}"
    certificate = "{{ certificate }}"
    domain = "{{ domain }}"
    endpoint = "{{ endpoint }}"
    endpoint_type = "{{ endpoint_type }}"
    id = "{{ id }}"
    identity_provider_type = "{{ identity_provider_type }}"
    invocation_role = "{{ invocation_role }}"
    logging_role = "{{ logging_role }}"
    protocols = "{{ protocols }}"
    security_policy_name = "{{ security_policy_name }}"
    server_id = "{{ server_id }}"
    structured_log_destinations = "{{ structured_log_destinations }}"
    tags = "{{ tags }}"
    url = "{{ url }}"
}