resource "aws_glue_registry" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    registry_name = "{{ registry_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}