resource "aws_codepipeline_webhook" "example" {
    authentication = "{{ authentication }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    target_action = "{{ target_action }}"
    target_pipeline = "{{ target_pipeline }}"
    authentication_configuration {
      allowed_ip_range = "{{ allowed_ip_range }}"
      secret_token = "{{ secret_token }}"
    }
    filter {
      json_path = "{{ json_path }}"
      match_equals = "{{ match_equals }}"
    }
}
