resource "aws_sagemaker_project" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    project_description = "{{ project_description }}"
    project_id = "{{ project_id }}"
    project_name = "{{ project_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}