data "aws_subnet" "example" {
    availability_zone = "{{ availability_zone }}"
    availability_zone_id = "{{ availability_zone_id }}"
    cidr_block = "{{ cidr_block }}"
    default_for_az = {{ default_for_az }}
    id = "{{ id }}"
    ipv6_cidr_block = "{{ ipv6_cidr_block }}"
    region = "{{ region }}"
    state = "{{ state }}"
    tags = {
        key = "{{ tags_value }}"
      }
    vpc_id = "{{ vpc_id }}"
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
