data "aws_outposts_outpost" "example" {
    arn = "{{ arn }}"
    availability_zone = "{{ availability_zone }}"
    availability_zone_id = "{{ availability_zone_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    lifecycle_status = "{{ lifecycle_status }}"
    name = "{{ name }}"
    owner_id = "{{ owner_id }}"
    site_arn = "{{ site_arn }}"
    site_id = "{{ site_id }}"
    supported_hardware_type = "{{ supported_hardware_type }}"
    tags = "{{ tags }}"
}