data "aws_networkmanager_device" "example" {
    arn = "{{ arn }}"
    aws_location = "{{ aws_location }}"
    description = "{{ description }}"
    device_id = "{{ device_id }}"
    global_network_id = "{{ global_network_id }}"
    id = "{{ id }}"
    location = "{{ location }}"
    model = "{{ model }}"
    serial_number = "{{ serial_number }}"
    site_id = "{{ site_id }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    vendor = "{{ vendor }}"
}