resource "aws_glue_workflow" "example" {
    default_run_properties = {
        key = "{{ default_run_properties_value }}"
      }
    description = "{{ description }}"
    id = "{{ id }}"
    max_concurrent_runs = {{ max_concurrent_runs }}
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
