resource "aws_vpclattice_access_log_subscription" "example" {
    destination_arn = "{{ destination_arn }}"
    id = "{{ id }}"
    region = "{{ region }}"
    resource_identifier = "{{ resource_identifier }}"
    service_network_log_type = "{{ service_network_log_type }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
