resource "aws_ec2_transit_gateway_default_route_table_propagation" "example" {
    region = "{{ region }}"
    transit_gateway_id = "{{ transit_gateway_id }}"
    transit_gateway_route_table_id = "{{ transit_gateway_route_table_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
