data "aws_kendra_experience" "example" {
    arn = "{{ arn }}"
    configuration = "{{ configuration }}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    endpoints = "{{ endpoints }}"
    error_message = "{{ error_message }}"
    experience_id = "{{ experience_id }}"
    id = "{{ id }}"
    index_id = "{{ index_id }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    status = "{{ status }}"
    updated_at = "{{ updated_at }}"
}