resource "aws_appsync_resolver" "example" {
    api_id = "{{ api_id }}"
    arn = "{{ arn }}"
    code = "{{ code }}"
    data_source = "{{ data_source }}"
    field = "{{ field }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    max_batch_size = "{{ max_batch_size }}"
    request_template = "{{ request_template }}"
    response_template = "{{ response_template }}"
    type = "{{ type }}"
}