data "aws_networkmanager_connection" "example" {
    arn = "{{ arn }}"
    connected_device_id = "{{ connected_device_id }}"
    connected_link_id = "{{ connected_link_id }}"
    connection_id = "{{ connection_id }}"
    description = "{{ description }}"
    device_id = "{{ device_id }}"
    global_network_id = "{{ global_network_id }}"
    id = "{{ id }}"
    link_id = "{{ link_id }}"
    tags = "{{ tags }}"
}