resource "aws_key_pair" "example" {
    id = "{{ id }}"
    key_name = "{{ key_name }}"
    key_name_prefix = "{{ key_name_prefix }}"
    public_key = "{{ public_key }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
