resource "aws_eks_identity_provider_config" "example" {
    arn = "{{ arn }}"
    cluster_name = "{{ cluster_name }}"
    id = "{{ id }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}