resource "aws_devicefarm_device_pool" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    max_devices = "{{ max_devices }}"
    name = "{{ name }}"
    project_arn = "{{ project_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}