data "aws_kendra_index" "example" {
    arn = "{{ arn }}"
    capacity_units = "{{ capacity_units }}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    document_metadata_configuration_updates = "{{ document_metadata_configuration_updates }}"
    edition = "{{ edition }}"
    error_message = "{{ error_message }}"
    id = "{{ id }}"
    index_statistics = "{{ index_statistics }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    server_side_encryption_configuration = "{{ server_side_encryption_configuration }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    updated_at = "{{ updated_at }}"
    user_context_policy = "{{ user_context_policy }}"
    user_group_resolution_configuration = "{{ user_group_resolution_configuration }}"
    user_token_configurations = "{{ user_token_configurations }}"
}