data "aws_ssmcontacts_rotation" "example" {
    arn = "{{ arn }}"
    contact_ids = "{{ contact_ids }}"
    id = "{{ id }}"
    name = "{{ name }}"
    recurrence = "{{ recurrence }}"
    start_time = "{{ start_time }}"
    tags = "{{ tags }}"
    time_zone_id = "{{ time_zone_id }}"
}