data "aws_location_place_index" "example" {
    create_time = "{{ create_time }}"
    data_source = "{{ data_source }}"
    data_source_configuration = "{{ data_source_configuration }}"
    description = "{{ description }}"
    id = "{{ id }}"
    index_arn = "{{ index_arn }}"
    index_name = "{{ index_name }}"
    tags = "{{ tags }}"
    update_time = "{{ update_time }}"
}