data "aws_ec2_host" "example" {
    host_id = "{{ host_id }}"
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
