resource "aws_storagegateway_file_system_association" "example" {
    audit_destination_arn = "{{ audit_destination_arn }}"
    gateway_arn = "{{ gateway_arn }}"
    id = "{{ id }}"
    location_arn = "{{ location_arn }}"
    password = "{{ password }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    username = "{{ username }}"
    cache_attributes {
      cache_stale_timeout_in_seconds = {{ cache_stale_timeout_in_seconds }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
