resource "aws_amplify_domain_association" "example" {
    app_id = "{{ app_id }}"
    domain_name = "{{ domain_name }}"
    enable_auto_sub_domain = {{ enable_auto_sub_domain }}
    id = "{{ id }}"
    region = "{{ region }}"
    wait_for_verification = {{ wait_for_verification }}
    certificate_settings {
      custom_certificate_arn = "{{ custom_certificate_arn }}"
      type = "{{ type }}"
    }
    sub_domain {
      branch_name = "{{ branch_name }}"
      prefix = "{{ prefix }}"
    }
}
