resource "aws_default_security_group" "example" {
    egress = ["{{ egress }}"]
    id = "{{ id }}"
    ingress = ["{{ ingress }}"]
    region = "{{ region }}"
    revoke_rules_on_delete = {{ revoke_rules_on_delete }}
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    vpc_id = "{{ vpc_id }}"
}
