resource "aws_imagebuilder_container_recipe" "example" {
    container_type = "{{ container_type }}"
    description = "{{ description }}"
    dockerfile_template_data = "{{ dockerfile_template_data }}"
    dockerfile_template_uri = "{{ dockerfile_template_uri }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    name = "{{ name }}"
    parent_image = "{{ parent_image }}"
    platform_override = "{{ platform_override }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    version = "{{ version }}"
    working_directory = "{{ working_directory }}"
    component {
      component_arn = "{{ component_arn }}"
      parameter {
        name = "{{ name }}"
        value = "{{ value }}"
      }
    }
    instance_configuration {
      image = "{{ image }}"
      block_device_mapping {
        device_name = "{{ device_name }}"
        no_device = {{ no_device }}
        virtual_name = "{{ virtual_name }}"
        ebs {
          delete_on_termination = "{{ delete_on_termination }}"
          encrypted = "{{ encrypted }}"
          iops = {{ iops }}
          kms_key_id = "{{ kms_key_id }}"
          snapshot_id = "{{ snapshot_id }}"
          throughput = {{ throughput }}
          volume_size = {{ volume_size }}
          volume_type = "{{ volume_type }}"
        }
      }
    }
    target_repository {
      repository_name = "{{ repository_name }}"
      service = "{{ service }}"
    }
}
