resource "aws_storagegateway_stored_iscsi_volume" "example" {
    disk_id = "{{ disk_id }}"
    gateway_arn = "{{ gateway_arn }}"
    id = "{{ id }}"
    kms_encrypted = {{ kms_encrypted }}
    kms_key = "{{ kms_key }}"
    network_interface_id = "{{ network_interface_id }}"
    preserve_existing_data = {{ preserve_existing_data }}
    region = "{{ region }}"
    snapshot_id = "{{ snapshot_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    target_name = "{{ target_name }}"
}
