resource "aws_db_option_group" "example" {
    arn = "{{ arn }}"
    engine_name = "{{ engine_name }}"
    id = "{{ id }}"
    major_engine_version = "{{ major_engine_version }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    option_group_description = "{{ option_group_description }}"
    skip_destroy = "{{ skip_destroy }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}