data "aws_secretsmanager_secret_rotation" "example" {
    id = "{{ id }}"
    rotation_enabled = "{{ rotation_enabled }}"
    rotation_lambda_arn = "{{ rotation_lambda_arn }}"
    rotation_rules = "{{ rotation_rules }}"
    secret_id = "{{ secret_id }}"
}