resource "aws_lightsail_container_service_deployment_version" "example" {
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    service_name = "{{ service_name }}"
    state = "{{ state }}"
    version = "{{ version }}"
}