resource "aws_redshift_endpoint_authorization" "example" {
    account = "{{ account }}"
    cluster_identifier = "{{ cluster_identifier }}"
    force_delete = {{ force_delete }}
    id = "{{ id }}"
    region = "{{ region }}"
    vpc_ids = ["{{ vpc_ids }}"]
}
