resource "aws_bedrockagentcore_workload_identity" "example" {
    allowed_resource_oauth2_return_urls = ["{{ allowed_resource_oauth2_return_urls }}"]
    name = "{{ name }}"
    region = "{{ region }}"
}
