resource "aws_appstream_image_builder" "example" {
    appstream_agent_version = "{{ appstream_agent_version }}"
    arn = "{{ arn }}"
    created_time = "{{ created_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    enable_default_internet_access = "{{ enable_default_internet_access }}"
    iam_role_arn = "{{ iam_role_arn }}"
    id = "{{ id }}"
    image_arn = "{{ image_arn }}"
    image_name = "{{ image_name }}"
    instance_type = "{{ instance_type }}"
    name = "{{ name }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}