data "aws_route53_resolver_query_log_config" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    resolver_query_log_config_id = "{{ resolver_query_log_config_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
}
