resource "aws_quicksight_group" "example" {
    aws_account_id = "{{ aws_account_id }}"
    description = "{{ description }}"
    group_name = "{{ group_name }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    region = "{{ region }}"
}
