data "aws_vpc_endpoint" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    service_name = "{{ service_name }}"
    service_region = "{{ service_region }}"
    state = "{{ state }}"
    tags = {
        key = "{{ tags_value }}"
      }
    vpc_endpoint_type = "{{ vpc_endpoint_type }}"
    vpc_id = "{{ vpc_id }}"
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
