resource "aws_macie2_classification_export_configuration" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    s3_destination {
      bucket_name = "{{ bucket_name }}"
      key_prefix = "{{ key_prefix }}"
      kms_key_arn = "{{ kms_key_arn }}"
    }
}
