resource "aws_kms_custom_key_store" "example" {
    cloud_hsm_cluster_id = "{{ cloud_hsm_cluster_id }}"
    custom_key_store_name = "{{ custom_key_store_name }}"
    custom_key_store_type = "{{ custom_key_store_type }}"
    id = "{{ id }}"
    key_store_password = "{{ key_store_password }}"
    region = "{{ region }}"
    trust_anchor_certificate = "{{ trust_anchor_certificate }}"
    xks_proxy_connectivity = "{{ xks_proxy_connectivity }}"
    xks_proxy_uri_endpoint = "{{ xks_proxy_uri_endpoint }}"
    xks_proxy_uri_path = "{{ xks_proxy_uri_path }}"
    xks_proxy_vpc_endpoint_service_name = "{{ xks_proxy_vpc_endpoint_service_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    xks_proxy_authentication_credential {
      access_key_id = "{{ access_key_id }}"
      raw_secret_access_key = "{{ raw_secret_access_key }}"
    }
}
