resource "aws_alb_listener_rule" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    listener_arn = "{{ listener_arn }}"
    priority = "{{ priority }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}