resource "aws_s3_object" "example" {
    acl = "{{ acl }}"
    arn = "{{ arn }}"
    bucket = "{{ bucket }}"
    bucket_key_enabled = "{{ bucket_key_enabled }}"
    cache_control = "{{ cache_control }}"
    checksum_algorithm = "{{ checksum_algorithm }}"
    checksum_crc32 = "{{ checksum_crc32 }}"
    checksum_crc32c = "{{ checksum_crc32c }}"
    checksum_sha1 = "{{ checksum_sha1 }}"
    checksum_sha256 = "{{ checksum_sha256 }}"
    content = "{{ content }}"
    content_base64 = "{{ content_base64 }}"
    content_disposition = "{{ content_disposition }}"
    content_encoding = "{{ content_encoding }}"
    content_language = "{{ content_language }}"
    content_type = "{{ content_type }}"
    etag = "{{ etag }}"
    force_destroy = "{{ force_destroy }}"
    id = "{{ id }}"
    key = "{{ key }}"
    kms_key_id = "{{ kms_key_id }}"
    metadata = "{{ metadata }}"
    object_lock_legal_hold_status = "{{ object_lock_legal_hold_status }}"
    object_lock_mode = "{{ object_lock_mode }}"
    object_lock_retain_until_date = "{{ object_lock_retain_until_date }}"
    server_side_encryption = "{{ server_side_encryption }}"
    source = "{{ source }}"
    source_hash = "{{ source_hash }}"
    storage_class = "{{ storage_class }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    version_id = "{{ version_id }}"
    website_redirect = "{{ website_redirect }}"
}