resource "aws_connect_instance_storage_config" "example" {
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    region = "{{ region }}"
    resource_type = "{{ resource_type }}"
    storage_config {
      storage_type = "{{ storage_type }}"
      kinesis_firehose_config {
        firehose_arn = "{{ firehose_arn }}"
      }
      kinesis_stream_config {
        stream_arn = "{{ stream_arn }}"
      }
      kinesis_video_stream_config {
        prefix = "{{ prefix }}"
        retention_period_hours = {{ retention_period_hours }}
        encryption_config {
          encryption_type = "{{ encryption_type }}"
          key_id = "{{ key_id }}"
        }
      }
      s3_config {
        bucket_name = "{{ bucket_name }}"
        bucket_prefix = "{{ bucket_prefix }}"
        encryption_config {
          encryption_type = "{{ encryption_type }}"
          key_id = "{{ key_id }}"
        }
      }
    }
}
