resource "aws_cloudhsm_v2_cluster" "example" {
    hsm_type = "{{ hsm_type }}"
    id = "{{ id }}"
    mode = "{{ mode }}"
    region = "{{ region }}"
    source_backup_identifier = "{{ source_backup_identifier }}"
    subnet_ids = ["{{ subnet_ids }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
