resource "aws_auditmanager_assessment" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    framework_id = "{{ framework_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    roles = "{{ roles }}"
    roles_all = "{{ roles_all }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}