resource "aws_route53_resolver_query_log_config" "example" {
    arn = "{{ arn }}"
    destination_arn = "{{ destination_arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    owner_id = "{{ owner_id }}"
    share_status = "{{ share_status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}