resource "aws_msk_replicator" "example" {
    arn = "{{ arn }}"
    current_version = "{{ current_version }}"
    description = "{{ description }}"
    id = "{{ id }}"
    replicator_name = "{{ replicator_name }}"
    service_execution_role_arn = "{{ service_execution_role_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}