resource "aws_ecrpublic_repository" "example" {
    arn = "{{ arn }}"
    force_destroy = "{{ force_destroy }}"
    id = "{{ id }}"
    registry_id = "{{ registry_id }}"
    repository_name = "{{ repository_name }}"
    repository_uri = "{{ repository_uri }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}