data "aws_acm_certificate" "example" {
    arn = "{{ arn }}"
    certificate = "{{ certificate }}"
    certificate_chain = "{{ certificate_chain }}"
    domain = "{{ domain }}"
    id = "{{ id }}"
    key_types = "{{ key_types }}"
    most_recent = "{{ most_recent }}"
    status = "{{ status }}"
    statuses = "{{ statuses }}"
    tags = "{{ tags }}"
    types = "{{ types }}"
}