resource "aws_ami_from_instance" "example" {
    deprecation_time = "{{ deprecation_time }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    snapshot_without_reboot = {{ snapshot_without_reboot }}
    source_instance_id = "{{ source_instance_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    ebs_block_device {
    }
    ephemeral_block_device {
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
