resource "aws_appconfig_hosted_configuration_version" "example" {
    application_id = "{{ application_id }}"
    arn = "{{ arn }}"
    configuration_profile_id = "{{ configuration_profile_id }}"
    content = "{{ content }}"
    content_type = "{{ content_type }}"
    description = "{{ description }}"
    id = "{{ id }}"
    version_number = "{{ version_number }}"
}