data "aws_bedrock_inference_profile" "example" {
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    inference_profile_arn = "{{ inference_profile_arn }}"
    inference_profile_id = "{{ inference_profile_id }}"
    inference_profile_name = "{{ inference_profile_name }}"
    models = "{{ models }}"
    status = "{{ status }}"
    type = "{{ type }}"
    updated_at = "{{ updated_at }}"
}