resource "aws_elastic_beanstalk_environment" "example" {
    application = "{{ application }}"
    cname_prefix = "{{ cname_prefix }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    platform_arn = "{{ platform_arn }}"
    poll_interval = "{{ poll_interval }}"
    region = "{{ region }}"
    solution_stack_name = "{{ solution_stack_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    template_name = "{{ template_name }}"
    tier = "{{ tier }}"
    version_label = "{{ version_label }}"
    wait_for_ready_timeout = "{{ wait_for_ready_timeout }}"
    setting {
      name = "{{ name }}"
      namespace = "{{ namespace }}"
      resource = "{{ resource }}"
      value = "{{ value }}"
    }
}
