resource "aws_datasync_location_azure_blob" "example" {
    access_tier = "{{ access_tier }}"
    agent_arns = "{{ agent_arns }}"
    arn = "{{ arn }}"
    authentication_type = "{{ authentication_type }}"
    blob_type = "{{ blob_type }}"
    container_url = "{{ container_url }}"
    id = "{{ id }}"
    subdirectory = "{{ subdirectory }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    uri = "{{ uri }}"
}