resource "aws_ami_from_instance" "example" {
    architecture = "{{ architecture }}"
    arn = "{{ arn }}"
    boot_mode = "{{ boot_mode }}"
    deprecation_time = "{{ deprecation_time }}"
    description = "{{ description }}"
    ena_support = "{{ ena_support }}"
    hypervisor = "{{ hypervisor }}"
    id = "{{ id }}"
    image_location = "{{ image_location }}"
    image_owner_alias = "{{ image_owner_alias }}"
    image_type = "{{ image_type }}"
    imds_support = "{{ imds_support }}"
    kernel_id = "{{ kernel_id }}"
    manage_ebs_snapshots = "{{ manage_ebs_snapshots }}"
    name = "{{ name }}"
    owner_id = "{{ owner_id }}"
    platform = "{{ platform }}"
    platform_details = "{{ platform_details }}"
    public = "{{ public }}"
    ramdisk_id = "{{ ramdisk_id }}"
    root_device_name = "{{ root_device_name }}"
    root_snapshot_id = "{{ root_snapshot_id }}"
    snapshot_without_reboot = "{{ snapshot_without_reboot }}"
    source_instance_id = "{{ source_instance_id }}"
    sriov_net_support = "{{ sriov_net_support }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    tpm_support = "{{ tpm_support }}"
    usage_operation = "{{ usage_operation }}"
    virtualization_type = "{{ virtualization_type }}"
}