resource "aws_appflow_flow" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    kms_arn = "{{ kms_arn }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    destination_flow_config {
      api_version = "{{ api_version }}"
      connector_profile_name = "{{ connector_profile_name }}"
      connector_type = "{{ connector_type }}"
      destination_connector_properties {
        custom_connector {
          custom_properties = {
        key = "{{ custom_properties_value }}"
      }
          entity_name = "{{ entity_name }}"
          id_field_names = ["{{ id_field_names }}"]
          write_operation_type = "{{ write_operation_type }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
        customer_profiles {
          domain_name = "{{ domain_name }}"
          object_type_name = "{{ object_type_name }}"
        }
        event_bridge {
          object = "{{ object }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
        honeycode {
          object = "{{ object }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
        lookout_metrics {
        }
        marketo {
          object = "{{ object }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
        redshift {
          bucket_prefix = "{{ bucket_prefix }}"
          intermediate_bucket_name = "{{ intermediate_bucket_name }}"
          object = "{{ object }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
        s3 {
          bucket_name = "{{ bucket_name }}"
          bucket_prefix = "{{ bucket_prefix }}"
          s3_output_format_config {
            file_type = "{{ file_type }}"
            preserve_source_data_typing = {{ preserve_source_data_typing }}
            aggregation_config {
              aggregation_type = "{{ aggregation_type }}"
              target_file_size = {{ target_file_size }}
            }
            prefix_config {
              prefix_format = "{{ prefix_format }}"
              prefix_hierarchy = ["{{ prefix_hierarchy }}"]
              prefix_type = "{{ prefix_type }}"
            }
          }
        }
        salesforce {
          data_transfer_api = "{{ data_transfer_api }}"
          id_field_names = ["{{ id_field_names }}"]
          object = "{{ object }}"
          write_operation_type = "{{ write_operation_type }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
        sapo_data {
          id_field_names = ["{{ id_field_names }}"]
          object_path = "{{ object_path }}"
          write_operation_type = "{{ write_operation_type }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
          success_response_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
          }
        }
        snowflake {
          bucket_prefix = "{{ bucket_prefix }}"
          intermediate_bucket_name = "{{ intermediate_bucket_name }}"
          object = "{{ object }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
        upsolver {
          bucket_name = "{{ bucket_name }}"
          bucket_prefix = "{{ bucket_prefix }}"
          s3_output_format_config {
            file_type = "{{ file_type }}"
            aggregation_config {
              aggregation_type = "{{ aggregation_type }}"
            }
            prefix_config {
              prefix_format = "{{ prefix_format }}"
              prefix_hierarchy = ["{{ prefix_hierarchy }}"]
              prefix_type = "{{ prefix_type }}"
            }
          }
        }
        zendesk {
          id_field_names = ["{{ id_field_names }}"]
          object = "{{ object }}"
          write_operation_type = "{{ write_operation_type }}"
          error_handling_config {
            bucket_name = "{{ bucket_name }}"
            bucket_prefix = "{{ bucket_prefix }}"
            fail_on_first_destination_error = {{ fail_on_first_destination_error }}
          }
        }
      }
    }
    metadata_catalog_config {
      glue_data_catalog {
        database_name = "{{ database_name }}"
        role_arn = "{{ role_arn }}"
        table_prefix = "{{ table_prefix }}"
      }
    }
    source_flow_config {
      api_version = "{{ api_version }}"
      connector_profile_name = "{{ connector_profile_name }}"
      connector_type = "{{ connector_type }}"
      incremental_pull_config {
        datetime_type_field_name = "{{ datetime_type_field_name }}"
      }
      source_connector_properties {
        amplitude {
          object = "{{ object }}"
        }
        custom_connector {
          custom_properties = {
        key = "{{ custom_properties_value }}"
      }
          entity_name = "{{ entity_name }}"
        }
        datadog {
          object = "{{ object }}"
        }
        dynatrace {
          object = "{{ object }}"
        }
        google_analytics {
          object = "{{ object }}"
        }
        infor_nexus {
          object = "{{ object }}"
        }
        marketo {
          object = "{{ object }}"
        }
        s3 {
          bucket_name = "{{ bucket_name }}"
          bucket_prefix = "{{ bucket_prefix }}"
          s3_input_format_config {
            s3_input_file_type = "{{ s3_input_file_type }}"
          }
        }
        salesforce {
          data_transfer_api = "{{ data_transfer_api }}"
          enable_dynamic_field_update = {{ enable_dynamic_field_update }}
          include_deleted_records = {{ include_deleted_records }}
          object = "{{ object }}"
        }
        sapo_data {
          object_path = "{{ object_path }}"
          pagination_config {
            max_page_size = {{ max_page_size }}
          }
          parallelism_config {
            max_page_size = {{ max_page_size }}
          }
        }
        service_now {
          object = "{{ object }}"
        }
        singular {
          object = "{{ object }}"
        }
        slack {
          object = "{{ object }}"
        }
        trendmicro {
          object = "{{ object }}"
        }
        veeva {
          document_type = "{{ document_type }}"
          include_all_versions = {{ include_all_versions }}
          include_renditions = {{ include_renditions }}
          include_source_files = {{ include_source_files }}
          object = "{{ object }}"
        }
        zendesk {
          object = "{{ object }}"
        }
      }
    }
    task {
      destination_field = "{{ destination_field }}"
      source_fields = ["{{ source_fields }}"]
      task_properties = {
        key = "{{ task_properties_value }}"
      }
      task_type = "{{ task_type }}"
      connector_operator {
        amplitude = "{{ amplitude }}"
        custom_connector = "{{ custom_connector }}"
        datadog = "{{ datadog }}"
        dynatrace = "{{ dynatrace }}"
        google_analytics = "{{ google_analytics }}"
        infor_nexus = "{{ infor_nexus }}"
        marketo = "{{ marketo }}"
        s3 = "{{ s3 }}"
        salesforce = "{{ salesforce }}"
        sapo_data = "{{ sapo_data }}"
        service_now = "{{ service_now }}"
        singular = "{{ singular }}"
        slack = "{{ slack }}"
        trendmicro = "{{ trendmicro }}"
        veeva = "{{ veeva }}"
        zendesk = "{{ zendesk }}"
      }
    }
    trigger_config {
      trigger_type = "{{ trigger_type }}"
      trigger_properties {
        scheduled {
          data_pull_mode = "{{ data_pull_mode }}"
          first_execution_from = "{{ first_execution_from }}"
          schedule_end_time = "{{ schedule_end_time }}"
          schedule_expression = "{{ schedule_expression }}"
          schedule_offset = {{ schedule_offset }}
          schedule_start_time = "{{ schedule_start_time }}"
          timezone = "{{ timezone }}"
        }
      }
    }
}
