resource "aws_iot_certificate" "example" {
    active = {{ active }}
    ca_pem = "{{ ca_pem }}"
    certificate_pem = "{{ certificate_pem }}"
    csr = "{{ csr }}"
    id = "{{ id }}"
    region = "{{ region }}"
}
