resource "aws_iam_server_certificate" "example" {
    certificate_body = "{{ certificate_body }}"
    certificate_chain = "{{ certificate_chain }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    path = "{{ path }}"
    private_key = "{{ private_key }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      delete = "{{ delete }}"
    }
}
