resource "aws_rbin_rule" "example" {
    description = "{{ description }}"
    region = "{{ region }}"
    resource_type = "{{ resource_type }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    exclude_resource_tags {
      resource_tag_key = "{{ resource_tag_key }}"
      resource_tag_value = "{{ resource_tag_value }}"
    }
    lock_configuration {
      unlock_delay {
        unlock_delay_unit = "{{ unlock_delay_unit }}"
        unlock_delay_value = {{ unlock_delay_value }}
      }
    }
    resource_tags {
      resource_tag_key = "{{ resource_tag_key }}"
      resource_tag_value = "{{ resource_tag_value }}"
    }
    retention_period {
      retention_period_unit = "{{ retention_period_unit }}"
      retention_period_value = {{ retention_period_value }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
