resource "aws_finspace_kx_user" "example" {
    arn = "{{ arn }}"
    environment_id = "{{ environment_id }}"
    iam_role = "{{ iam_role }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}