resource "aws_acmpca_certificate" "example" {
    api_passthrough = "{{ api_passthrough }}"
    certificate_authority_arn = "{{ certificate_authority_arn }}"
    certificate_signing_request = "{{ certificate_signing_request }}"
    id = "{{ id }}"
    region = "{{ region }}"
    signing_algorithm = "{{ signing_algorithm }}"
    template_arn = "{{ template_arn }}"
    validity {
      type = "{{ type }}"
      value = "{{ value }}"
    }
}
