resource "aws_route_table" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    owner_id = "{{ owner_id }}"
    propagating_vgws = "{{ propagating_vgws }}"
    route = "{{ route }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_id = "{{ vpc_id }}"
}