resource "aws_api_gateway_documentation_part" "example" {
    documentation_part_id = "{{ documentation_part_id }}"
    id = "{{ id }}"
    properties = "{{ properties }}"
    rest_api_id = "{{ rest_api_id }}"
}