data "aws_cloudfront_distribution" "example" {
    aliases = "{{ aliases }}"
    arn = "{{ arn }}"
    domain_name = "{{ domain_name }}"
    enabled = "{{ enabled }}"
    etag = "{{ etag }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    id = "{{ id }}"
    in_progress_validation_batches = "{{ in_progress_validation_batches }}"
    last_modified_time = "{{ last_modified_time }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    web_acl_id = "{{ web_acl_id }}"
}