resource "aws_datasync_agent" "example" {
    activation_key = "{{ activation_key }}"
    arn = "{{ arn }}"
    id = "{{ id }}"
    ip_address = "{{ ip_address }}"
    name = "{{ name }}"
    private_link_endpoint = "{{ private_link_endpoint }}"
    security_group_arns = "{{ security_group_arns }}"
    subnet_arns = "{{ subnet_arns }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_endpoint_id = "{{ vpc_endpoint_id }}"
}