resource "aws_s3files_file_system" "example" {
    accept_bucket_warning = {{ accept_bucket_warning }}
    bucket = "{{ bucket }}"
    kms_key_id = "{{ kms_key_id }}"
    prefix = "{{ prefix }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
