resource "aws_servicecatalog_product" "example" {
    accept_language = "{{ accept_language }}"
    description = "{{ description }}"
    distributor = "{{ distributor }}"
    id = "{{ id }}"
    name = "{{ name }}"
    owner = "{{ owner }}"
    region = "{{ region }}"
    support_description = "{{ support_description }}"
    support_email = "{{ support_email }}"
    support_url = "{{ support_url }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    type = "{{ type }}"
    provisioning_artifact_parameters {
      description = "{{ description }}"
      disable_template_validation = {{ disable_template_validation }}
      name = "{{ name }}"
      template_physical_id = "{{ template_physical_id }}"
      template_url = "{{ template_url }}"
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
