resource "aws_securityhub_standards_control_association" "example" {
    association_status = "{{ association_status }}"
    id = "{{ id }}"
    security_control_id = "{{ security_control_id }}"
    standards_arn = "{{ standards_arn }}"
    updated_reason = "{{ updated_reason }}"
}