data "aws_kinesis_stream_consumer" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    stream_arn = "{{ stream_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
