resource "aws_acm_certificate" "example" {
    certificate_authority_arn = "{{ certificate_authority_arn }}"
    certificate_body = "{{ certificate_body }}"
    certificate_chain = "{{ certificate_chain }}"
    domain_name = "{{ domain_name }}"
    early_renewal_duration = "{{ early_renewal_duration }}"
    id = "{{ id }}"
    key_algorithm = "{{ key_algorithm }}"
    private_key = "{{ private_key }}"
    region = "{{ region }}"
    subject_alternative_names = ["{{ subject_alternative_names }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    validation_method = "{{ validation_method }}"
    options {
      certificate_transparency_logging_preference = "{{ certificate_transparency_logging_preference }}"
      export = "{{ export }}"
    }
    validation_option {
      domain_name = "{{ domain_name }}"
      validation_domain = "{{ validation_domain }}"
    }
}
