data "aws_route53_resolver_endpoint" "example" {
    arn = "{{ arn }}"
    direction = "{{ direction }}"
    id = "{{ id }}"
    ip_addresses = "{{ ip_addresses }}"
    name = "{{ name }}"
    protocols = "{{ protocols }}"
    resolver_endpoint_id = "{{ resolver_endpoint_id }}"
    resolver_endpoint_type = "{{ resolver_endpoint_type }}"
    status = "{{ status }}"
    vpc_id = "{{ vpc_id }}"
}