data "aws_nat_gateway" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    state = "{{ state }}"
    subnet_id = "{{ subnet_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    vpc_id = "{{ vpc_id }}"
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
