resource "aws_ssoadmin_instance_access_control_attributes" "example" {
    id = "{{ id }}"
    instance_arn = "{{ instance_arn }}"
    region = "{{ region }}"
    attribute {
      key = "{{ key }}"
      value {
        source = ["{{ source }}"]
      }
    }
}
