resource "aws_iam_user_login_profile" "example" {
    id = "{{ id }}"
    password_length = {{ password_length }}
    password_reset_required = {{ password_reset_required }}
    pgp_key = "{{ pgp_key }}"
    user = "{{ user }}"
}
