resource "aws_devicefarm_project" "example" {
    arn = "{{ arn }}"
    default_job_timeout_minutes = "{{ default_job_timeout_minutes }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}