data "aws_synthetics_runtime_version" "example" {
    deprecation_date = "{{ deprecation_date }}"
    description = "{{ description }}"
    id = "{{ id }}"
    latest = "{{ latest }}"
    prefix = "{{ prefix }}"
    release_date = "{{ release_date }}"
    version = "{{ version }}"
    version_name = "{{ version_name }}"
}