resource "aws_devicefarm_project" "example" {
    default_job_timeout_minutes = {{ default_job_timeout_minutes }}
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
