data "aws_timestreamwrite_database" "example" {
    arn = "{{ arn }}"
    created_time = "{{ created_time }}"
    kms_key_id = "{{ kms_key_id }}"
    last_updated_time = "{{ last_updated_time }}"
    name = "{{ name }}"
    table_count = "{{ table_count }}"
}