resource "aws_sqs_queue" "example" {
    arn = "{{ arn }}"
    content_based_deduplication = "{{ content_based_deduplication }}"
    deduplication_scope = "{{ deduplication_scope }}"
    delay_seconds = "{{ delay_seconds }}"
    fifo_queue = "{{ fifo_queue }}"
    fifo_throughput_limit = "{{ fifo_throughput_limit }}"
    id = "{{ id }}"
    kms_data_key_reuse_period_seconds = "{{ kms_data_key_reuse_period_seconds }}"
    kms_master_key_id = "{{ kms_master_key_id }}"
    max_message_size = "{{ max_message_size }}"
    message_retention_seconds = "{{ message_retention_seconds }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    policy = "{{ policy }}"
    receive_wait_time_seconds = "{{ receive_wait_time_seconds }}"
    redrive_allow_policy = "{{ redrive_allow_policy }}"
    redrive_policy = "{{ redrive_policy }}"
    sqs_managed_sse_enabled = "{{ sqs_managed_sse_enabled }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    url = "{{ url }}"
    visibility_timeout_seconds = "{{ visibility_timeout_seconds }}"
}