resource "aws_elasticache_cluster" "example" {
    apply_immediately = "{{ apply_immediately }}"
    arn = "{{ arn }}"
    auto_minor_version_upgrade = "{{ auto_minor_version_upgrade }}"
    availability_zone = "{{ availability_zone }}"
    az_mode = "{{ az_mode }}"
    cache_nodes = "{{ cache_nodes }}"
    cluster_address = "{{ cluster_address }}"
    cluster_id = "{{ cluster_id }}"
    configuration_endpoint = "{{ configuration_endpoint }}"
    engine = "{{ engine }}"
    engine_version = "{{ engine_version }}"
    engine_version_actual = "{{ engine_version_actual }}"
    final_snapshot_identifier = "{{ final_snapshot_identifier }}"
    id = "{{ id }}"
    ip_discovery = "{{ ip_discovery }}"
    maintenance_window = "{{ maintenance_window }}"
    network_type = "{{ network_type }}"
    node_type = "{{ node_type }}"
    notification_topic_arn = "{{ notification_topic_arn }}"
    num_cache_nodes = "{{ num_cache_nodes }}"
    outpost_mode = "{{ outpost_mode }}"
    parameter_group_name = "{{ parameter_group_name }}"
    port = "{{ port }}"
    preferred_availability_zones = "{{ preferred_availability_zones }}"
    preferred_outpost_arn = "{{ preferred_outpost_arn }}"
    replication_group_id = "{{ replication_group_id }}"
    security_group_ids = "{{ security_group_ids }}"
    snapshot_arns = "{{ snapshot_arns }}"
    snapshot_name = "{{ snapshot_name }}"
    snapshot_retention_limit = "{{ snapshot_retention_limit }}"
    snapshot_window = "{{ snapshot_window }}"
    subnet_group_name = "{{ subnet_group_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    transit_encryption_enabled = "{{ transit_encryption_enabled }}"
}