resource "aws_lightsail_lb_certificate" "example" {
    domain_name = "{{ domain_name }}"
    id = "{{ id }}"
    lb_name = "{{ lb_name }}"
    name = "{{ name }}"
    region = "{{ region }}"
    subject_alternative_names = ["{{ subject_alternative_names }}"]
}
