resource "aws_msk_cluster" "example" {
    arn = "{{ arn }}"
    bootstrap_brokers = "{{ bootstrap_brokers }}"
    bootstrap_brokers_public_sasl_iam = "{{ bootstrap_brokers_public_sasl_iam }}"
    bootstrap_brokers_public_sasl_scram = "{{ bootstrap_brokers_public_sasl_scram }}"
    bootstrap_brokers_public_tls = "{{ bootstrap_brokers_public_tls }}"
    bootstrap_brokers_sasl_iam = "{{ bootstrap_brokers_sasl_iam }}"
    bootstrap_brokers_sasl_scram = "{{ bootstrap_brokers_sasl_scram }}"
    bootstrap_brokers_tls = "{{ bootstrap_brokers_tls }}"
    bootstrap_brokers_vpc_connectivity_sasl_iam = "{{ bootstrap_brokers_vpc_connectivity_sasl_iam }}"
    bootstrap_brokers_vpc_connectivity_sasl_scram = "{{ bootstrap_brokers_vpc_connectivity_sasl_scram }}"
    bootstrap_brokers_vpc_connectivity_tls = "{{ bootstrap_brokers_vpc_connectivity_tls }}"
    cluster_name = "{{ cluster_name }}"
    cluster_uuid = "{{ cluster_uuid }}"
    current_version = "{{ current_version }}"
    enhanced_monitoring = "{{ enhanced_monitoring }}"
    id = "{{ id }}"
    kafka_version = "{{ kafka_version }}"
    number_of_broker_nodes = "{{ number_of_broker_nodes }}"
    storage_mode = "{{ storage_mode }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    zookeeper_connect_string = "{{ zookeeper_connect_string }}"
    zookeeper_connect_string_tls = "{{ zookeeper_connect_string_tls }}"
}