resource "aws_mskconnect_connector" "example" {
    arn = "{{ arn }}"
    connector_configuration = "{{ connector_configuration }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kafkaconnect_version = "{{ kafkaconnect_version }}"
    name = "{{ name }}"
    service_execution_role_arn = "{{ service_execution_role_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    version = "{{ version }}"
}