resource "aws_cloudwatch_event_bus" "example" {
    description = "{{ description }}"
    event_source_name = "{{ event_source_name }}"
    id = "{{ id }}"
    kms_key_identifier = "{{ kms_key_identifier }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    dead_letter_config {
      arn = "{{ arn }}"
    }
    log_config {
      include_detail = "{{ include_detail }}"
      level = "{{ level }}"
    }
}
