resource "aws_securityhub_automation_rule" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    is_terminal = "{{ is_terminal }}"
    rule_name = "{{ rule_name }}"
    rule_order = "{{ rule_order }}"
    rule_status = "{{ rule_status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}