data "aws_networkmanager_device" "example" {
    device_id = "{{ device_id }}"
    global_network_id = "{{ global_network_id }}"
    id = "{{ id }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
