resource "aws_transfer_user" "example" {
    arn = "{{ arn }}"
    home_directory = "{{ home_directory }}"
    home_directory_type = "{{ home_directory_type }}"
    id = "{{ id }}"
    policy = "{{ policy }}"
    role = "{{ role }}"
    server_id = "{{ server_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    user_name = "{{ user_name }}"
}