resource "aws_route53_resolver_firewall_domain_list" "example" {
    domains = ["{{ domains }}"]
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
