data "aws_signer_signing_profile" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    platform_display_name = "{{ platform_display_name }}"
    platform_id = "{{ platform_id }}"
    revocation_record = "{{ revocation_record }}"
    signature_validity_period = "{{ signature_validity_period }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    version = "{{ version }}"
    version_arn = "{{ version_arn }}"
}