resource "aws_lightsail_domain_entry" "example" {
    domain_name = "{{ domain_name }}"
    id = "{{ id }}"
    is_alias = "{{ is_alias }}"
    name = "{{ name }}"
    target = "{{ target }}"
    type = "{{ type }}"
}