resource "aws_servicecatalog_provisioned_product" "example" {
    accept_language = "{{ accept_language }}"
    arn = "{{ arn }}"
    cloudwatch_dashboard_names = "{{ cloudwatch_dashboard_names }}"
    created_time = "{{ created_time }}"
    id = "{{ id }}"
    ignore_errors = "{{ ignore_errors }}"
    last_provisioning_record_id = "{{ last_provisioning_record_id }}"
    last_record_id = "{{ last_record_id }}"
    last_successful_provisioning_record_id = "{{ last_successful_provisioning_record_id }}"
    launch_role_arn = "{{ launch_role_arn }}"
    name = "{{ name }}"
    notification_arns = "{{ notification_arns }}"
    outputs = "{{ outputs }}"
    path_id = "{{ path_id }}"
    path_name = "{{ path_name }}"
    product_id = "{{ product_id }}"
    product_name = "{{ product_name }}"
    provisioning_artifact_id = "{{ provisioning_artifact_id }}"
    provisioning_artifact_name = "{{ provisioning_artifact_name }}"
    retain_physical_resources = "{{ retain_physical_resources }}"
    status = "{{ status }}"
    status_message = "{{ status_message }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}