data "aws_cloudwatch_event_bus" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kms_key_identifier = "{{ kms_key_identifier }}"
    name = "{{ name }}"
}