resource "aws_ec2_transit_gateway_metering_policy" "example" {
    middlebox_attachment_ids = ["{{ middlebox_attachment_ids }}"]
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    transit_gateway_id = "{{ transit_gateway_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
