data "aws_servicecatalog_portfolio_constraints" "example" {
    accept_language = "{{ accept_language }}"
    details = "{{ details }}"
    id = "{{ id }}"
    portfolio_id = "{{ portfolio_id }}"
    product_id = "{{ product_id }}"
}