data "aws_iam_user" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    path = "{{ path }}"
    permissions_boundary = "{{ permissions_boundary }}"
    tags = "{{ tags }}"
    user_id = "{{ user_id }}"
    user_name = "{{ user_name }}"
}