resource "aws_dms_certificate" "example" {
    certificate_arn = "{{ certificate_arn }}"
    certificate_id = "{{ certificate_id }}"
    certificate_pem = "{{ certificate_pem }}"
    certificate_wallet = "{{ certificate_wallet }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}