resource "aws_opensearch_outbound_connection" "example" {
    accept_connection = "{{ accept_connection }}"
    connection_alias = "{{ connection_alias }}"
    connection_mode = "{{ connection_mode }}"
    connection_status = "{{ connection_status }}"
    id = "{{ id }}"
}