resource "aws_iot_billing_group" "example" {
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    properties {
      description = "{{ description }}"
    }
}
