resource "aws_servicecatalog_portfolio_share" "example" {
    accept_language = "{{ accept_language }}"
    accepted = "{{ accepted }}"
    id = "{{ id }}"
    portfolio_id = "{{ portfolio_id }}"
    principal_id = "{{ principal_id }}"
    share_principals = "{{ share_principals }}"
    share_tag_options = "{{ share_tag_options }}"
    type = "{{ type }}"
    wait_for_acceptance = "{{ wait_for_acceptance }}"
}