resource "aws_vpclattice_access_log_subscription" "example" {
    arn = "{{ arn }}"
    destination_arn = "{{ destination_arn }}"
    id = "{{ id }}"
    resource_arn = "{{ resource_arn }}"
    resource_identifier = "{{ resource_identifier }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}