data "aws_lex_bot" "example" {
    arn = "{{ arn }}"
    checksum = "{{ checksum }}"
    child_directed = "{{ child_directed }}"
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    detect_sentiment = "{{ detect_sentiment }}"
    enable_model_improvements = "{{ enable_model_improvements }}"
    failure_reason = "{{ failure_reason }}"
    id = "{{ id }}"
    idle_session_ttl_in_seconds = "{{ idle_session_ttl_in_seconds }}"
    last_updated_date = "{{ last_updated_date }}"
    locale = "{{ locale }}"
    name = "{{ name }}"
    nlu_intent_confidence_threshold = "{{ nlu_intent_confidence_threshold }}"
    status = "{{ status }}"
    version = "{{ version }}"
    voice_id = "{{ voice_id }}"
}