data "aws_msk_configuration" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kafka_versions = "{{ kafka_versions }}"
    latest_revision = "{{ latest_revision }}"
    name = "{{ name }}"
    server_properties = "{{ server_properties }}"
}