resource "aws_glue_catalog_database" "example" {
    catalog_id = "{{ catalog_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    location_uri = "{{ location_uri }}"
    name = "{{ name }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    create_table_default_permission {
      permissions = ["{{ permissions }}"]
      principal {
        data_lake_principal_identifier = "{{ data_lake_principal_identifier }}"
      }
    }
    federated_database {
      connection_name = "{{ connection_name }}"
      identifier = "{{ identifier }}"
    }
    target_database {
      catalog_id = "{{ catalog_id }}"
      database_name = "{{ database_name }}"
      region = "{{ region }}"
    }
}
