resource "aws_cognito_user_pool_ui_customization" "example" {
    client_id = "{{ client_id }}"
    css = "{{ css }}"
    id = "{{ id }}"
    image_file = "{{ image_file }}"
    region = "{{ region }}"
    user_pool_id = "{{ user_pool_id }}"
}
