data "aws_cloudfront_function" "example" {
    arn = "{{ arn }}"
    code = "{{ code }}"
    comment = "{{ comment }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    key_value_store_associations = "{{ key_value_store_associations }}"
    last_modified_time = "{{ last_modified_time }}"
    name = "{{ name }}"
    runtime = "{{ runtime }}"
    stage = "{{ stage }}"
    status = "{{ status }}"
}