resource "aws_macie2_custom_data_identifier" "example" {
    arn = "{{ arn }}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    id = "{{ id }}"
    ignore_words = "{{ ignore_words }}"
    keywords = "{{ keywords }}"
    maximum_match_distance = "{{ maximum_match_distance }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    regex = "{{ regex }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}