data "aws_outposts_outpost" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    owner_id = "{{ owner_id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
