resource "aws_securityhub_action_target" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    identifier = "{{ identifier }}"
    name = "{{ name }}"
    region = "{{ region }}"
}
