resource "aws_connect_user" "example" {
    directory_user_id = "{{ directory_user_id }}"
    hierarchy_group_id = "{{ hierarchy_group_id }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    password = "{{ password }}"
    region = "{{ region }}"
    routing_profile_id = "{{ routing_profile_id }}"
    security_profile_ids = ["{{ security_profile_ids }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    identity_info {
      email = "{{ email }}"
      first_name = "{{ first_name }}"
      last_name = "{{ last_name }}"
      secondary_email = "{{ secondary_email }}"
    }
    phone_config {
      after_contact_work_time_limit = {{ after_contact_work_time_limit }}
      auto_accept = {{ auto_accept }}
      desk_phone_number = "{{ desk_phone_number }}"
      phone_type = "{{ phone_type }}"
    }
}
