resource "aws_evidently_launch" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    project = "{{ project }}"
    randomization_salt = "{{ randomization_salt }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    groups {
      description = "{{ description }}"
      feature = "{{ feature }}"
      name = "{{ name }}"
      variation = "{{ variation }}"
    }
    metric_monitors {
      metric_definition {
        entity_id_key = "{{ entity_id_key }}"
        event_pattern = "{{ event_pattern }}"
        name = "{{ name }}"
        unit_label = "{{ unit_label }}"
        value_key = "{{ value_key }}"
      }
    }
    scheduled_splits_config {
      steps {
        group_weights = {
        key = "{{ group_weights_value }}"
      }
        start_time = "{{ start_time }}"
        segment_overrides {
          evaluation_order = {{ evaluation_order }}
          segment = "{{ segment }}"
          weights = {
        key = "{{ weights_value }}"
      }
        }
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
