data "aws_elasticsearch_domain" "example" {
    access_policies = "{{ access_policies }}"
    advanced_options = "{{ advanced_options }}"
    advanced_security_options = "{{ advanced_security_options }}"
    arn = "{{ arn }}"
    auto_tune_options = "{{ auto_tune_options }}"
    cluster_config = "{{ cluster_config }}"
    cognito_options = "{{ cognito_options }}"
    created = "{{ created }}"
    deleted = "{{ deleted }}"
    domain_id = "{{ domain_id }}"
    domain_name = "{{ domain_name }}"
    ebs_options = "{{ ebs_options }}"
    elasticsearch_version = "{{ elasticsearch_version }}"
    encryption_at_rest = "{{ encryption_at_rest }}"
    endpoint = "{{ endpoint }}"
    id = "{{ id }}"
    kibana_endpoint = "{{ kibana_endpoint }}"
    log_publishing_options = "{{ log_publishing_options }}"
    node_to_node_encryption = "{{ node_to_node_encryption }}"
    processing = "{{ processing }}"
    snapshot_options = "{{ snapshot_options }}"
    tags = "{{ tags }}"
    vpc_options = "{{ vpc_options }}"
}