resource "aws_route53recoveryreadiness_recovery_group" "example" {
    cells = ["{{ cells }}"]
    id = "{{ id }}"
    recovery_group_name = "{{ recovery_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      delete = "{{ delete }}"
    }
}
