data "aws_appmesh_virtual_router" "example" {
    id = "{{ id }}"
    mesh_name = "{{ mesh_name }}"
    mesh_owner = "{{ mesh_owner }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
