resource "aws_ec2_transit_gateway_vpc_attachment" "example" {
    appliance_mode_support = "{{ appliance_mode_support }}"
    dns_support = "{{ dns_support }}"
    id = "{{ id }}"
    ipv6_support = "{{ ipv6_support }}"
    region = "{{ region }}"
    security_group_referencing_support = "{{ security_group_referencing_support }}"
    subnet_ids = ["{{ subnet_ids }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    transit_gateway_default_route_table_association = {{ transit_gateway_default_route_table_association }}
    transit_gateway_default_route_table_propagation = {{ transit_gateway_default_route_table_propagation }}
    transit_gateway_id = "{{ transit_gateway_id }}"
    vpc_id = "{{ vpc_id }}"
}
