resource "aws_amplify_app" "example" {
    access_token = "{{ access_token }}"
    arn = "{{ arn }}"
    auto_branch_creation_patterns = "{{ auto_branch_creation_patterns }}"
    basic_auth_credentials = "{{ basic_auth_credentials }}"
    build_spec = "{{ build_spec }}"
    custom_headers = "{{ custom_headers }}"
    default_domain = "{{ default_domain }}"
    description = "{{ description }}"
    enable_auto_branch_creation = "{{ enable_auto_branch_creation }}"
    enable_basic_auth = "{{ enable_basic_auth }}"
    enable_branch_auto_build = "{{ enable_branch_auto_build }}"
    enable_branch_auto_deletion = "{{ enable_branch_auto_deletion }}"
    environment_variables = "{{ environment_variables }}"
    iam_service_role_arn = "{{ iam_service_role_arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    oauth_token = "{{ oauth_token }}"
    platform = "{{ platform }}"
    production_branch = "{{ production_branch }}"
    repository = "{{ repository }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}