resource "aws_organizations_policy" "example" {
    arn = "{{ arn }}"
    content = "{{ content }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    skip_destroy = "{{ skip_destroy }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}