resource "aws_servicecatalog_constraint" "example" {
    accept_language = "{{ accept_language }}"
    description = "{{ description }}"
    id = "{{ id }}"
    parameters = "{{ parameters }}"
    portfolio_id = "{{ portfolio_id }}"
    product_id = "{{ product_id }}"
    region = "{{ region }}"
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
