resource "aws_iam_service_linked_role" "example" {
    aws_service_name = "{{ aws_service_name }}"
    custom_suffix = "{{ custom_suffix }}"
    description = "{{ description }}"
    id = "{{ id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
