data "aws_lambda_layer_version" "example" {
    arn = "{{ arn }}"
    code_sha256 = "{{ code_sha256 }}"
    compatible_architecture = "{{ compatible_architecture }}"
    compatible_architectures = "{{ compatible_architectures }}"
    compatible_runtime = "{{ compatible_runtime }}"
    compatible_runtimes = "{{ compatible_runtimes }}"
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    id = "{{ id }}"
    layer_arn = "{{ layer_arn }}"
    layer_name = "{{ layer_name }}"
    license_info = "{{ license_info }}"
    signing_job_arn = "{{ signing_job_arn }}"
    signing_profile_version_arn = "{{ signing_profile_version_arn }}"
    source_code_hash = "{{ source_code_hash }}"
    source_code_size = "{{ source_code_size }}"
    version = "{{ version }}"
}