resource "aws_iot_billing_group" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    metadata = "{{ metadata }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    version = "{{ version }}"
}