resource "aws_appfabric_app_bundle" "example" {
    arn = "{{ arn }}"
    customer_managed_key_arn = "{{ customer_managed_key_arn }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}