resource "aws_vpclattice_service" "example" {
    arn = "{{ arn }}"
    auth_type = "{{ auth_type }}"
    certificate_arn = "{{ certificate_arn }}"
    custom_domain_name = "{{ custom_domain_name }}"
    dns_entry = "{{ dns_entry }}"
    id = "{{ id }}"
    name = "{{ name }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}