resource "aws_iot_domain_configuration" "example" {
    arn = "{{ arn }}"
    domain_name = "{{ domain_name }}"
    domain_type = "{{ domain_type }}"
    id = "{{ id }}"
    name = "{{ name }}"
    server_certificate_arns = "{{ server_certificate_arns }}"
    service_type = "{{ service_type }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    validation_certificate_arn = "{{ validation_certificate_arn }}"
}