resource "aws_ec2_carrier_gateway" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    owner_id = "{{ owner_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_id = "{{ vpc_id }}"
}