data "aws_cognito_identity_pool" "example" {
    id = "{{ id }}"
    identity_pool_name = "{{ identity_pool_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
