resource "aws_servicecatalog_portfolio" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    provider_name = "{{ provider_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
