data "aws_apigatewayv2_vpc_link" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    security_group_ids = "{{ security_group_ids }}"
    subnet_ids = "{{ subnet_ids }}"
    tags = "{{ tags }}"
    vpc_link_id = "{{ vpc_link_id }}"
}