resource "aws_launch_template" "example" {
    arn = "{{ arn }}"
    default_version = "{{ default_version }}"
    description = "{{ description }}"
    disable_api_stop = "{{ disable_api_stop }}"
    disable_api_termination = "{{ disable_api_termination }}"
    ebs_optimized = "{{ ebs_optimized }}"
    id = "{{ id }}"
    image_id = "{{ image_id }}"
    instance_initiated_shutdown_behavior = "{{ instance_initiated_shutdown_behavior }}"
    instance_type = "{{ instance_type }}"
    kernel_id = "{{ kernel_id }}"
    key_name = "{{ key_name }}"
    latest_version = "{{ latest_version }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    ram_disk_id = "{{ ram_disk_id }}"
    security_group_names = "{{ security_group_names }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    update_default_version = "{{ update_default_version }}"
    user_data = "{{ user_data }}"
    vpc_security_group_ids = "{{ vpc_security_group_ids }}"
}