resource "aws_iam_role" "example" {
    arn = "{{ arn }}"
    assume_role_policy = "{{ assume_role_policy }}"
    create_date = "{{ create_date }}"
    description = "{{ description }}"
    force_detach_policies = "{{ force_detach_policies }}"
    id = "{{ id }}"
    managed_policy_arns = "{{ managed_policy_arns }}"
    max_session_duration = "{{ max_session_duration }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    path = "{{ path }}"
    permissions_boundary = "{{ permissions_boundary }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    unique_id = "{{ unique_id }}"
}