resource "aws_bedrockagent_agent_alias" "example" {
    agent_alias_arn = "{{ agent_alias_arn }}"
    agent_alias_id = "{{ agent_alias_id }}"
    agent_alias_name = "{{ agent_alias_name }}"
    agent_id = "{{ agent_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    routing_configuration = "{{ routing_configuration }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}