resource "aws_s3_bucket_request_payment_configuration" "example" {
    bucket = "{{ bucket }}"
    expected_bucket_owner = "{{ expected_bucket_owner }}"
    id = "{{ id }}"
    payer = "{{ payer }}"
}