resource "aws_account_alternate_contact" "example" {
    account_id = "{{ account_id }}"
    alternate_contact_type = "{{ alternate_contact_type }}"
    email_address = "{{ email_address }}"
    id = "{{ id }}"
    name = "{{ name }}"
    phone_number = "{{ phone_number }}"
    title = "{{ title }}"
}