resource "aws_dx_lag" "example" {
    arn = "{{ arn }}"
    connection_id = "{{ connection_id }}"
    connections_bandwidth = "{{ connections_bandwidth }}"
    force_destroy = "{{ force_destroy }}"
    has_logical_redundancy = "{{ has_logical_redundancy }}"
    id = "{{ id }}"
    jumbo_frame_capable = "{{ jumbo_frame_capable }}"
    location = "{{ location }}"
    name = "{{ name }}"
    owner_account_id = "{{ owner_account_id }}"
    provider_name = "{{ provider_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}