data "aws_servicecatalog_constraint" "example" {
    accept_language = "{{ accept_language }}"
    description = "{{ description }}"
    id = "{{ id }}"
    region = "{{ region }}"
    timeouts {
      read = "{{ read }}"
    }
}
