data "aws_ec2_managed_prefix_lists" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
}
