resource "aws_network_interface_attachment" "example" {
    attachment_id = "{{ attachment_id }}"
    device_index = "{{ device_index }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    network_interface_id = "{{ network_interface_id }}"
    status = "{{ status }}"
}