resource "aws_api_gateway_deployment" "example" {
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    execution_arn = "{{ execution_arn }}"
    id = "{{ id }}"
    invoke_url = "{{ invoke_url }}"
    rest_api_id = "{{ rest_api_id }}"
    stage_description = "{{ stage_description }}"
    stage_name = "{{ stage_name }}"
    triggers = "{{ triggers }}"
    variables = "{{ variables }}"
}