resource "aws_resiliencehub_resiliency_policy" "example" {
    arn = "{{ arn }}"
    data_location_constraint = "{{ data_location_constraint }}"
    description = "{{ description }}"
    estimated_cost_tier = "{{ estimated_cost_tier }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    tier = "{{ tier }}"
}