resource "aws_cognito_log_delivery_configuration" "example" {
    region = "{{ region }}"
    user_pool_id = "{{ user_pool_id }}"
    log_configurations {
      event_source = "{{ event_source }}"
      log_level = "{{ log_level }}"
      cloud_watch_logs_configuration {
        log_group_arn = "{{ log_group_arn }}"
      }
      firehose_configuration {
        stream_arn = "{{ stream_arn }}"
      }
      s3_configuration {
        bucket_arn = "{{ bucket_arn }}"
      }
    }
}
