resource "aws_iot_provisioning_template" "example" {
    arn = "{{ arn }}"
    default_version_id = "{{ default_version_id }}"
    description = "{{ description }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    name = "{{ name }}"
    provisioning_role_arn = "{{ provisioning_role_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    template_body = "{{ template_body }}"
    type = "{{ type }}"
}