resource "aws_ssm_association" "example" {
    apply_only_at_cron_interval = "{{ apply_only_at_cron_interval }}"
    arn = "{{ arn }}"
    association_id = "{{ association_id }}"
    association_name = "{{ association_name }}"
    automation_target_parameter_name = "{{ automation_target_parameter_name }}"
    compliance_severity = "{{ compliance_severity }}"
    document_version = "{{ document_version }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    max_concurrency = "{{ max_concurrency }}"
    max_errors = "{{ max_errors }}"
    name = "{{ name }}"
    parameters = "{{ parameters }}"
    schedule_expression = "{{ schedule_expression }}"
    sync_compliance = "{{ sync_compliance }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    wait_for_success_timeout_seconds = "{{ wait_for_success_timeout_seconds }}"
}