data "aws_memorydb_subnet_group" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    subnet_ids = "{{ subnet_ids }}"
    tags = "{{ tags }}"
    vpc_id = "{{ vpc_id }}"
}