resource "aws_networkmanager_connect_peer" "example" {
    connect_attachment_id = "{{ connect_attachment_id }}"
    core_network_address = "{{ core_network_address }}"
    id = "{{ id }}"
    inside_cidr_blocks = ["{{ inside_cidr_blocks }}"]
    peer_address = "{{ peer_address }}"
    subnet_arn = "{{ subnet_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    bgp_options {
      peer_asn = "{{ peer_asn }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
