resource "aws_vpc_endpoint_service" "example" {
    acceptance_required = {{ acceptance_required }}
    allowed_principals = ["{{ allowed_principals }}"]
    gateway_load_balancer_arns = ["{{ gateway_load_balancer_arns }}"]
    id = "{{ id }}"
    network_load_balancer_arns = ["{{ network_load_balancer_arns }}"]
    private_dns_name = "{{ private_dns_name }}"
    region = "{{ region }}"
    supported_ip_address_types = ["{{ supported_ip_address_types }}"]
    supported_regions = ["{{ supported_regions }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
