resource "aws_gamelift_script" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    version = "{{ version }}"
    zip_file = "{{ zip_file }}"
    storage_location {
      bucket = "{{ bucket }}"
      key = "{{ key }}"
      object_version = "{{ object_version }}"
      role_arn = "{{ role_arn }}"
    }
}
