resource "aws_gamelift_fleet" "example" {
    build_id = "{{ build_id }}"
    description = "{{ description }}"
    ec2_instance_type = "{{ ec2_instance_type }}"
    fleet_type = "{{ fleet_type }}"
    id = "{{ id }}"
    instance_role_arn = "{{ instance_role_arn }}"
    metric_groups = ["{{ metric_groups }}"]
    name = "{{ name }}"
    new_game_session_protection_policy = "{{ new_game_session_protection_policy }}"
    region = "{{ region }}"
    script_id = "{{ script_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    certificate_configuration {
      certificate_type = "{{ certificate_type }}"
    }
    ec2_inbound_permission {
      from_port = {{ from_port }}
      ip_range = "{{ ip_range }}"
      protocol = "{{ protocol }}"
      to_port = {{ to_port }}
    }
    resource_creation_limit_policy {
      new_game_sessions_per_creator = {{ new_game_sessions_per_creator }}
      policy_period_in_minutes = {{ policy_period_in_minutes }}
    }
    runtime_configuration {
      game_session_activation_timeout_seconds = {{ game_session_activation_timeout_seconds }}
      max_concurrent_game_session_activations = {{ max_concurrent_game_session_activations }}
      server_process {
        concurrent_executions = {{ concurrent_executions }}
        launch_path = "{{ launch_path }}"
        parameters = "{{ parameters }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
