resource "aws_emrcontainers_job_template" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    kms_key_arn = "{{ kms_key_arn }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}