resource "aws_rds_cluster" "example" {
    allocated_storage = "{{ allocated_storage }}"
    allow_major_version_upgrade = "{{ allow_major_version_upgrade }}"
    apply_immediately = "{{ apply_immediately }}"
    arn = "{{ arn }}"
    availability_zones = "{{ availability_zones }}"
    backtrack_window = "{{ backtrack_window }}"
    backup_retention_period = "{{ backup_retention_period }}"
    ca_certificate_identifier = "{{ ca_certificate_identifier }}"
    ca_certificate_valid_till = "{{ ca_certificate_valid_till }}"
    cluster_identifier = "{{ cluster_identifier }}"
    cluster_identifier_prefix = "{{ cluster_identifier_prefix }}"
    cluster_members = "{{ cluster_members }}"
    cluster_resource_id = "{{ cluster_resource_id }}"
    copy_tags_to_snapshot = "{{ copy_tags_to_snapshot }}"
    database_name = "{{ database_name }}"
    db_cluster_instance_class = "{{ db_cluster_instance_class }}"
    db_cluster_parameter_group_name = "{{ db_cluster_parameter_group_name }}"
    db_instance_parameter_group_name = "{{ db_instance_parameter_group_name }}"
    db_subnet_group_name = "{{ db_subnet_group_name }}"
    db_system_id = "{{ db_system_id }}"
    delete_automated_backups = "{{ delete_automated_backups }}"
    deletion_protection = "{{ deletion_protection }}"
    domain = "{{ domain }}"
    domain_iam_role_name = "{{ domain_iam_role_name }}"
    enable_global_write_forwarding = "{{ enable_global_write_forwarding }}"
    enable_http_endpoint = "{{ enable_http_endpoint }}"
    enable_local_write_forwarding = "{{ enable_local_write_forwarding }}"
    enabled_cloudwatch_logs_exports = "{{ enabled_cloudwatch_logs_exports }}"
    endpoint = "{{ endpoint }}"
    engine = "{{ engine }}"
    engine_lifecycle_support = "{{ engine_lifecycle_support }}"
    engine_mode = "{{ engine_mode }}"
    engine_version = "{{ engine_version }}"
    engine_version_actual = "{{ engine_version_actual }}"
    final_snapshot_identifier = "{{ final_snapshot_identifier }}"
    global_cluster_identifier = "{{ global_cluster_identifier }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    iam_database_authentication_enabled = "{{ iam_database_authentication_enabled }}"
    iam_roles = "{{ iam_roles }}"
    id = "{{ id }}"
    iops = "{{ iops }}"
    kms_key_id = "{{ kms_key_id }}"
    manage_master_user_password = "{{ manage_master_user_password }}"
    master_password = "{{ master_password }}"
    master_user_secret = "{{ master_user_secret }}"
    master_user_secret_kms_key_id = "{{ master_user_secret_kms_key_id }}"
    master_username = "{{ master_username }}"
    network_type = "{{ network_type }}"
    performance_insights_enabled = "{{ performance_insights_enabled }}"
    performance_insights_kms_key_id = "{{ performance_insights_kms_key_id }}"
    performance_insights_retention_period = "{{ performance_insights_retention_period }}"
    port = "{{ port }}"
    preferred_backup_window = "{{ preferred_backup_window }}"
    preferred_maintenance_window = "{{ preferred_maintenance_window }}"
    reader_endpoint = "{{ reader_endpoint }}"
    replication_source_identifier = "{{ replication_source_identifier }}"
    skip_final_snapshot = "{{ skip_final_snapshot }}"
    snapshot_identifier = "{{ snapshot_identifier }}"
    source_region = "{{ source_region }}"
    storage_encrypted = "{{ storage_encrypted }}"
    storage_type = "{{ storage_type }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_security_group_ids = "{{ vpc_security_group_ids }}"
}