data "aws_eks_node_group" "example" {
    cluster_name = "{{ cluster_name }}"
    id = "{{ id }}"
    node_group_name = "{{ node_group_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
