resource "aws_ssm_document" "example" {
    content = "{{ content }}"
    document_format = "{{ document_format }}"
    document_type = "{{ document_type }}"
    id = "{{ id }}"
    name = "{{ name }}"
    permissions = {
        key = "{{ permissions_value }}"
      }
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    target_type = "{{ target_type }}"
    version_name = "{{ version_name }}"
    attachments_source {
      key = "{{ key }}"
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
}
