resource "aws_sagemaker_code_repository" "example" {
    code_repository_name = "{{ code_repository_name }}"
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    git_config {
      branch = "{{ branch }}"
      repository_url = "{{ repository_url }}"
      secret_arn = "{{ secret_arn }}"
    }
}
