resource "aws_dx_public_virtual_interface" "example" {
    address_family = "{{ address_family }}"
    amazon_address = "{{ amazon_address }}"
    bgp_asn = {{ bgp_asn }}
    bgp_auth_key = "{{ bgp_auth_key }}"
    connection_id = "{{ connection_id }}"
    customer_address = "{{ customer_address }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    route_filter_prefixes = ["{{ route_filter_prefixes }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    vlan = {{ vlan }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
