resource "aws_iam_signing_certificate" "example" {
    certificate_body = "{{ certificate_body }}"
    certificate_id = "{{ certificate_id }}"
    id = "{{ id }}"
    status = "{{ status }}"
    user_name = "{{ user_name }}"
}