data "aws_acm_certificate" "example" {
    domain = "{{ domain }}"
    id = "{{ id }}"
    key_types = ["{{ key_types }}"]
    most_recent = {{ most_recent }}
    region = "{{ region }}"
    statuses = ["{{ statuses }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    types = ["{{ types }}"]
}
