data "aws_cloudfront_response_headers_policy" "example" {
    comment = "{{ comment }}"
    cors_config = "{{ cors_config }}"
    custom_headers_config = "{{ custom_headers_config }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    name = "{{ name }}"
    remove_headers_config = "{{ remove_headers_config }}"
    security_headers_config = "{{ security_headers_config }}"
    server_timing_headers_config = "{{ server_timing_headers_config }}"
}