resource "aws_route53_zone" "example" {
    arn = "{{ arn }}"
    comment = "{{ comment }}"
    delegation_set_id = "{{ delegation_set_id }}"
    force_destroy = "{{ force_destroy }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_servers = "{{ name_servers }}"
    primary_name_server = "{{ primary_name_server }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    zone_id = "{{ zone_id }}"
}