resource "aws_kms_replica_key" "example" {
    arn = "{{ arn }}"
    bypass_policy_lockout_safety_check = "{{ bypass_policy_lockout_safety_check }}"
    deletion_window_in_days = "{{ deletion_window_in_days }}"
    description = "{{ description }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    key_id = "{{ key_id }}"
    key_rotation_enabled = "{{ key_rotation_enabled }}"
    key_spec = "{{ key_spec }}"
    key_usage = "{{ key_usage }}"
    policy = "{{ policy }}"
    primary_key_arn = "{{ primary_key_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}