resource "aws_networkmonitor_monitor" "example" {
    aggregation_period = {{ aggregation_period }}
    monitor_name = "{{ monitor_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
