resource "aws_workspaces_ip_group" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    rules {
      description = "{{ description }}"
      source = "{{ source }}"
    }
}
