resource "aws_sagemaker_image" "example" {
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    id = "{{ id }}"
    image_name = "{{ image_name }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
