resource "aws_route53_resolver_firewall_domain_list" "example" {
    arn = "{{ arn }}"
    domains = "{{ domains }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}