resource "aws_auditmanager_control" "example" {
    action_plan_instructions = "{{ action_plan_instructions }}"
    action_plan_title = "{{ action_plan_title }}"
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    testing_information = "{{ testing_information }}"
    type = "{{ type }}"
}