data "aws_servicecatalog_provisioning_artifacts" "example" {
    accept_language = "{{ accept_language }}"
    id = "{{ id }}"
    product_id = "{{ product_id }}"
    region = "{{ region }}"
    timeouts {
      read = "{{ read }}"
    }
}
