resource "aws_apprunner_observability_configuration" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    latest = "{{ latest }}"
    observability_configuration_name = "{{ observability_configuration_name }}"
    observability_configuration_revision = "{{ observability_configuration_revision }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}