resource "aws_oam_link" "example" {
    id = "{{ id }}"
    label_template = "{{ label_template }}"
    region = "{{ region }}"
    resource_types = ["{{ resource_types }}"]
    sink_identifier = "{{ sink_identifier }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    link_configuration {
      log_group_configuration {
        filter = "{{ filter }}"
      }
      metric_configuration {
        filter = "{{ filter }}"
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
