resource "aws_sesv2_email_identity" "example" {
    arn = "{{ arn }}"
    configuration_set_name = "{{ configuration_set_name }}"
    email_identity = "{{ email_identity }}"
    id = "{{ id }}"
    identity_type = "{{ identity_type }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    verified_for_sending_status = "{{ verified_for_sending_status }}"
}