resource "aws_lambda_code_signing_config" "example" {
    arn = "{{ arn }}"
    config_id = "{{ config_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    last_modified = "{{ last_modified }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}