resource "aws_rekognition_project" "example" {
    auto_update = "{{ auto_update }}"
    feature = "{{ feature }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
