resource "aws_elastic_beanstalk_configuration_template" "example" {
    application = "{{ application }}"
    description = "{{ description }}"
    environment_id = "{{ environment_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    solution_stack_name = "{{ solution_stack_name }}"
}