resource "aws_datazone_form_type" "example" {
    created_at = "{{ created_at }}"
    created_by = "{{ created_by }}"
    description = "{{ description }}"
    domain_identifier = "{{ domain_identifier }}"
    imports = "{{ imports }}"
    name = "{{ name }}"
    origin_domain_id = "{{ origin_domain_id }}"
    origin_project_id = "{{ origin_project_id }}"
    owning_project_identifier = "{{ owning_project_identifier }}"
    revision = "{{ revision }}"
    status = "{{ status }}"
}