resource "aws_cloudsearch_domain" "example" {
    id = "{{ id }}"
    multi_az = {{ multi_az }}
    name = "{{ name }}"
    region = "{{ region }}"
    endpoint_options {
      enforce_https = {{ enforce_https }}
      tls_security_policy = "{{ tls_security_policy }}"
    }
    index_field {
      analysis_scheme = "{{ analysis_scheme }}"
      default_value = "{{ default_value }}"
      facet = {{ facet }}
      highlight = {{ highlight }}
      name = "{{ name }}"
      return = {{ return }}
      search = {{ search }}
      sort = {{ sort }}
      source_fields = "{{ source_fields }}"
      type = "{{ type }}"
    }
    scaling_parameters {
      desired_instance_type = "{{ desired_instance_type }}"
      desired_partition_count = {{ desired_partition_count }}
      desired_replication_count = {{ desired_replication_count }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
