resource "aws_networkmonitor_probe" "example" {
    destination = "{{ destination }}"
    destination_port = {{ destination_port }}
    monitor_name = "{{ monitor_name }}"
    packet_size = {{ packet_size }}
    protocol = "{{ protocol }}"
    region = "{{ region }}"
    source_arn = "{{ source_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
