data "aws_launch_configuration" "example" {
    arn = "{{ arn }}"
    associate_public_ip_address = "{{ associate_public_ip_address }}"
    ebs_block_device = "{{ ebs_block_device }}"
    ebs_optimized = "{{ ebs_optimized }}"
    enable_monitoring = "{{ enable_monitoring }}"
    ephemeral_block_device = "{{ ephemeral_block_device }}"
    iam_instance_profile = "{{ iam_instance_profile }}"
    id = "{{ id }}"
    image_id = "{{ image_id }}"
    instance_type = "{{ instance_type }}"
    key_name = "{{ key_name }}"
    metadata_options = "{{ metadata_options }}"
    name = "{{ name }}"
    placement_tenancy = "{{ placement_tenancy }}"
    root_block_device = "{{ root_block_device }}"
    security_groups = "{{ security_groups }}"
    spot_price = "{{ spot_price }}"
    user_data = "{{ user_data }}"
}