data "aws_servicecatalog_provisioning_artifacts" "example" {
    accept_language = "{{ accept_language }}"
    id = "{{ id }}"
    product_id = "{{ product_id }}"
    provisioning_artifact_details = "{{ provisioning_artifact_details }}"
}