resource "aws_db_proxy_target" "example" {
    db_cluster_identifier = "{{ db_cluster_identifier }}"
    db_instance_identifier = "{{ db_instance_identifier }}"
    db_proxy_name = "{{ db_proxy_name }}"
    endpoint = "{{ endpoint }}"
    id = "{{ id }}"
    port = "{{ port }}"
    rds_resource_id = "{{ rds_resource_id }}"
    target_arn = "{{ target_arn }}"
    target_group_name = "{{ target_group_name }}"
    tracked_cluster_id = "{{ tracked_cluster_id }}"
    type = "{{ type }}"
}