resource "aws_sagemaker_model" "example" {
    arn = "{{ arn }}"
    enable_network_isolation = "{{ enable_network_isolation }}"
    execution_role_arn = "{{ execution_role_arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}