resource "aws_cognito_user_pool_ui_customization" "example" {
    client_id = "{{ client_id }}"
    creation_date = "{{ creation_date }}"
    css = "{{ css }}"
    css_version = "{{ css_version }}"
    id = "{{ id }}"
    image_file = "{{ image_file }}"
    image_url = "{{ image_url }}"
    last_modified_date = "{{ last_modified_date }}"
    user_pool_id = "{{ user_pool_id }}"
}