resource "aws_qldb_ledger" "example" {
    deletion_protection = {{ deletion_protection }}
    id = "{{ id }}"
    kms_key = "{{ kms_key }}"
    name = "{{ name }}"
    permissions_mode = "{{ permissions_mode }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
