resource "aws_appconfig_extension_association" "example" {
    extension_arn = "{{ extension_arn }}"
    id = "{{ id }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    region = "{{ region }}"
    resource_arn = "{{ resource_arn }}"
}
