resource "aws_ivs_playback_key_pair" "example" {
    arn = "{{ arn }}"
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    name = "{{ name }}"
    public_key = "{{ public_key }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}