resource "aws_transfer_certificate" "example" {
    certificate = "{{ certificate }}"
    certificate_chain = "{{ certificate_chain }}"
    description = "{{ description }}"
    id = "{{ id }}"
    private_key = "{{ private_key }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    usage = "{{ usage }}"
}
