resource "aws_networkmanager_core_network" "example" {
    arn = "{{ arn }}"
    base_policy_document = "{{ base_policy_document }}"
    base_policy_region = "{{ base_policy_region }}"
    base_policy_regions = "{{ base_policy_regions }}"
    create_base_policy = "{{ create_base_policy }}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    edges = "{{ edges }}"
    global_network_id = "{{ global_network_id }}"
    id = "{{ id }}"
    segments = "{{ segments }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}