resource "aws_resourcegroups_group" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}