data "aws_ec2_client_vpn_endpoint" "example" {
    client_vpn_endpoint_id = "{{ client_vpn_endpoint_id }}"
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
