resource "aws_api_gateway_api_key" "example" {
    customer_id = "{{ customer_id }}"
    description = "{{ description }}"
    enabled = {{ enabled }}
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    value = "{{ value }}"
}
