data "aws_connect_security_profile" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    organization_resource_id = "{{ organization_resource_id }}"
    permissions = "{{ permissions }}"
    security_profile_id = "{{ security_profile_id }}"
    tags = "{{ tags }}"
}