resource "aws_s3control_access_grant" "example" {
    access_grant_arn = "{{ access_grant_arn }}"
    access_grant_id = "{{ access_grant_id }}"
    access_grants_location_id = "{{ access_grants_location_id }}"
    account_id = "{{ account_id }}"
    grant_scope = "{{ grant_scope }}"
    id = "{{ id }}"
    permission = "{{ permission }}"
    s3_prefix_type = "{{ s3_prefix_type }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}