resource "aws_cleanrooms_collaboration" "example" {
    arn = "{{ arn }}"
    create_time = "{{ create_time }}"
    creator_display_name = "{{ creator_display_name }}"
    creator_member_abilities = "{{ creator_member_abilities }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    query_log_status = "{{ query_log_status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    update_time = "{{ update_time }}"
}