resource "aws_gamelift_alias" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    routing_strategy {
      fleet_id = "{{ fleet_id }}"
      message = "{{ message }}"
      type = "{{ type }}"
    }
}
