resource "aws_iot_thing_type" "example" {
    deprecated = {{ deprecated }}
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    properties {
      description = "{{ description }}"
      searchable_attributes = ["{{ searchable_attributes }}"]
    }
}
