data "aws_instances" "example" {
    id = "{{ id }}"
    instance_state_names = ["{{ instance_state_names }}"]
    instance_tags = {
        key = "{{ instance_tags_value }}"
      }
    region = "{{ region }}"
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
