resource "aws_s3control_access_grants_location" "example" {
    account_id = "{{ account_id }}"
    iam_role_arn = "{{ iam_role_arn }}"
    location_scope = "{{ location_scope }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
