resource "aws_spot_instance_request" "example" {
    ami = "{{ ami }}"
    arn = "{{ arn }}"
    associate_public_ip_address = "{{ associate_public_ip_address }}"
    availability_zone = "{{ availability_zone }}"
    block_duration_minutes = "{{ block_duration_minutes }}"
    cpu_core_count = "{{ cpu_core_count }}"
    cpu_threads_per_core = "{{ cpu_threads_per_core }}"
    disable_api_stop = "{{ disable_api_stop }}"
    disable_api_termination = "{{ disable_api_termination }}"
    ebs_optimized = "{{ ebs_optimized }}"
    get_password_data = "{{ get_password_data }}"
    hibernation = "{{ hibernation }}"
    host_id = "{{ host_id }}"
    host_resource_group_arn = "{{ host_resource_group_arn }}"
    iam_instance_profile = "{{ iam_instance_profile }}"
    id = "{{ id }}"
    instance_initiated_shutdown_behavior = "{{ instance_initiated_shutdown_behavior }}"
    instance_interruption_behavior = "{{ instance_interruption_behavior }}"
    instance_state = "{{ instance_state }}"
    instance_type = "{{ instance_type }}"
    ipv6_address_count = "{{ ipv6_address_count }}"
    ipv6_addresses = "{{ ipv6_addresses }}"
    key_name = "{{ key_name }}"
    launch_group = "{{ launch_group }}"
    monitoring = "{{ monitoring }}"
    outpost_arn = "{{ outpost_arn }}"
    password_data = "{{ password_data }}"
    placement_group = "{{ placement_group }}"
    placement_partition_number = "{{ placement_partition_number }}"
    primary_network_interface_id = "{{ primary_network_interface_id }}"
    private_dns = "{{ private_dns }}"
    private_ip = "{{ private_ip }}"
    public_dns = "{{ public_dns }}"
    public_ip = "{{ public_ip }}"
    secondary_private_ips = "{{ secondary_private_ips }}"
    security_groups = "{{ security_groups }}"
    source_dest_check = "{{ source_dest_check }}"
    spot_bid_status = "{{ spot_bid_status }}"
    spot_instance_id = "{{ spot_instance_id }}"
    spot_price = "{{ spot_price }}"
    spot_request_state = "{{ spot_request_state }}"
    spot_type = "{{ spot_type }}"
    subnet_id = "{{ subnet_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    tenancy = "{{ tenancy }}"
    user_data = "{{ user_data }}"
    user_data_base64 = "{{ user_data_base64 }}"
    user_data_replace_on_change = "{{ user_data_replace_on_change }}"
    valid_from = "{{ valid_from }}"
    valid_until = "{{ valid_until }}"
    volume_tags = "{{ volume_tags }}"
    vpc_security_group_ids = "{{ vpc_security_group_ids }}"
    wait_for_fulfillment = "{{ wait_for_fulfillment }}"
}