data "aws_iam_role" "example" {
    arn = "{{ arn }}"
    assume_role_policy = "{{ assume_role_policy }}"
    create_date = "{{ create_date }}"
    description = "{{ description }}"
    id = "{{ id }}"
    max_session_duration = "{{ max_session_duration }}"
    name = "{{ name }}"
    path = "{{ path }}"
    permissions_boundary = "{{ permissions_boundary }}"
    role_last_used = "{{ role_last_used }}"
    tags = "{{ tags }}"
    unique_id = "{{ unique_id }}"
}