resource "aws_lb_cookie_stickiness_policy" "example" {
    cookie_expiration_period = "{{ cookie_expiration_period }}"
    id = "{{ id }}"
    lb_port = "{{ lb_port }}"
    load_balancer = "{{ load_balancer }}"
    name = "{{ name }}"
}