resource "aws_vpc_peering_connection_options" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    vpc_peering_connection_id = "{{ vpc_peering_connection_id }}"
    accepter {
      allow_remote_vpc_dns_resolution = {{ allow_remote_vpc_dns_resolution }}
    }
    requester {
      allow_remote_vpc_dns_resolution = {{ allow_remote_vpc_dns_resolution }}
    }
}
