data "aws_kendra_thesaurus" "example" {
    arn = "{{ arn }}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    error_message = "{{ error_message }}"
    file_size_bytes = "{{ file_size_bytes }}"
    id = "{{ id }}"
    index_id = "{{ index_id }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    source_s3_path = "{{ source_s3_path }}"
    status = "{{ status }}"
    synonym_rule_count = "{{ synonym_rule_count }}"
    tags = "{{ tags }}"
    term_count = "{{ term_count }}"
    thesaurus_id = "{{ thesaurus_id }}"
    updated_at = "{{ updated_at }}"
}