resource "aws_transfer_certificate" "example" {
    active_date = "{{ active_date }}"
    arn = "{{ arn }}"
    certificate = "{{ certificate }}"
    certificate_chain = "{{ certificate_chain }}"
    certificate_id = "{{ certificate_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    inactive_date = "{{ inactive_date }}"
    private_key = "{{ private_key }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    usage = "{{ usage }}"
}