resource "aws_medialive_multiplex" "example" {
    arn = "{{ arn }}"
    availability_zones = "{{ availability_zones }}"
    id = "{{ id }}"
    name = "{{ name }}"
    start_multiplex = "{{ start_multiplex }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}