resource "aws_redshift_cluster_snapshot" "example" {
    cluster_identifier = "{{ cluster_identifier }}"
    id = "{{ id }}"
    manual_snapshot_retention_period = {{ manual_snapshot_retention_period }}
    region = "{{ region }}"
    snapshot_identifier = "{{ snapshot_identifier }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
