data "aws_ssm_parameters_by_path" "example" {
    arns = "{{ arns }}"
    id = "{{ id }}"
    names = "{{ names }}"
    path = "{{ path }}"
    recursive = "{{ recursive }}"
    types = "{{ types }}"
    values = "{{ values }}"
    with_decryption = "{{ with_decryption }}"
}