resource "aws_globalaccelerator_accelerator" "example" {
    enabled = {{ enabled }}
    id = "{{ id }}"
    ip_address_type = "{{ ip_address_type }}"
    ip_addresses = ["{{ ip_addresses }}"]
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    attributes {
      flow_logs_enabled = {{ flow_logs_enabled }}
      flow_logs_s3_bucket = "{{ flow_logs_s3_bucket }}"
      flow_logs_s3_prefix = "{{ flow_logs_s3_prefix }}"
    }
    timeouts {
      create = "{{ create }}"
      update = "{{ update }}"
    }
}
