resource "aws_eks_access_policy_association" "example" {
    associated_at = "{{ associated_at }}"
    cluster_name = "{{ cluster_name }}"
    id = "{{ id }}"
    modified_at = "{{ modified_at }}"
    policy_arn = "{{ policy_arn }}"
    principal_arn = "{{ principal_arn }}"
}