data "aws_key_pair" "example" {
    arn = "{{ arn }}"
    create_time = "{{ create_time }}"
    fingerprint = "{{ fingerprint }}"
    id = "{{ id }}"
    include_public_key = "{{ include_public_key }}"
    key_name = "{{ key_name }}"
    key_pair_id = "{{ key_pair_id }}"
    key_type = "{{ key_type }}"
    public_key = "{{ public_key }}"
    tags = "{{ tags }}"
}