resource "aws_vpc_ipam" "example" {
    arn = "{{ arn }}"
    cascade = "{{ cascade }}"
    default_resource_discovery_association_id = "{{ default_resource_discovery_association_id }}"
    default_resource_discovery_id = "{{ default_resource_discovery_id }}"
    description = "{{ description }}"
    enable_private_gua = "{{ enable_private_gua }}"
    id = "{{ id }}"
    private_default_scope_id = "{{ private_default_scope_id }}"
    public_default_scope_id = "{{ public_default_scope_id }}"
    scope_count = "{{ scope_count }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    tier = "{{ tier }}"
}