resource "aws_lightsail_lb_certificate" "example" {
    arn = "{{ arn }}"
    created_at = "{{ created_at }}"
    domain_name = "{{ domain_name }}"
    domain_validation_records = "{{ domain_validation_records }}"
    id = "{{ id }}"
    lb_name = "{{ lb_name }}"
    name = "{{ name }}"
    subject_alternative_names = "{{ subject_alternative_names }}"
    support_code = "{{ support_code }}"
}