data "aws_location_tracker" "example" {
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    position_filtering = "{{ position_filtering }}"
    tags = "{{ tags }}"
    tracker_arn = "{{ tracker_arn }}"
    tracker_name = "{{ tracker_name }}"
    update_time = "{{ update_time }}"
}