resource "aws_quicksight_data_set" "example" {
    arn = "{{ arn }}"
    aws_account_id = "{{ aws_account_id }}"
    data_set_id = "{{ data_set_id }}"
    id = "{{ id }}"
    import_mode = "{{ import_mode }}"
    name = "{{ name }}"
    output_columns = "{{ output_columns }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}