data "aws_ecr_repository" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    registry_id = "{{ registry_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
