resource "aws_s3vectors_index" "example" {
    data_type = "{{ data_type }}"
    dimension = {{ dimension }}
    distance_metric = "{{ distance_metric }}"
    encryption_configuration = ["{{ encryption_configuration }}"]
    index_name = "{{ index_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    vector_bucket_name = "{{ vector_bucket_name }}"
    metadata_configuration {
      non_filterable_metadata_keys = ["{{ non_filterable_metadata_keys }}"]
    }
}
