resource "aws_ssoadmin_application" "example" {
    application_provider_arn = "{{ application_provider_arn }}"
    client_token = "{{ client_token }}"
    description = "{{ description }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    region = "{{ region }}"
    status = "{{ status }}"
    tags = {
        key = "{{ tags_value }}"
      }
    portal_options {
      visibility = "{{ visibility }}"
      sign_in_options {
        application_url = "{{ application_url }}"
        origin = "{{ origin }}"
      }
    }
}
