resource "aws_docdb_cluster" "example" {
    allow_major_version_upgrade = "{{ allow_major_version_upgrade }}"
    apply_immediately = "{{ apply_immediately }}"
    arn = "{{ arn }}"
    availability_zones = "{{ availability_zones }}"
    backup_retention_period = "{{ backup_retention_period }}"
    cluster_identifier = "{{ cluster_identifier }}"
    cluster_identifier_prefix = "{{ cluster_identifier_prefix }}"
    cluster_members = "{{ cluster_members }}"
    cluster_resource_id = "{{ cluster_resource_id }}"
    db_cluster_parameter_group_name = "{{ db_cluster_parameter_group_name }}"
    db_subnet_group_name = "{{ db_subnet_group_name }}"
    deletion_protection = "{{ deletion_protection }}"
    enabled_cloudwatch_logs_exports = "{{ enabled_cloudwatch_logs_exports }}"
    endpoint = "{{ endpoint }}"
    engine = "{{ engine }}"
    engine_version = "{{ engine_version }}"
    final_snapshot_identifier = "{{ final_snapshot_identifier }}"
    global_cluster_identifier = "{{ global_cluster_identifier }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    master_password = "{{ master_password }}"
    master_username = "{{ master_username }}"
    port = "{{ port }}"
    preferred_backup_window = "{{ preferred_backup_window }}"
    preferred_maintenance_window = "{{ preferred_maintenance_window }}"
    reader_endpoint = "{{ reader_endpoint }}"
    skip_final_snapshot = "{{ skip_final_snapshot }}"
    snapshot_identifier = "{{ snapshot_identifier }}"
    storage_encrypted = "{{ storage_encrypted }}"
    storage_type = "{{ storage_type }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_security_group_ids = "{{ vpc_security_group_ids }}"
}