resource "aws_redshift_snapshot_schedule" "example" {
    arn = "{{ arn }}"
    definitions = "{{ definitions }}"
    description = "{{ description }}"
    force_destroy = "{{ force_destroy }}"
    id = "{{ id }}"
    identifier = "{{ identifier }}"
    identifier_prefix = "{{ identifier_prefix }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}