data "aws_budgets_budget" "example" {
    account_id = "{{ account_id }}"
    arn = "{{ arn }}"
    auto_adjust_data = "{{ auto_adjust_data }}"
    budget_exceeded = "{{ budget_exceeded }}"
    budget_limit = "{{ budget_limit }}"
    budget_type = "{{ budget_type }}"
    calculated_spend = "{{ calculated_spend }}"
    cost_filter = "{{ cost_filter }}"
    cost_types = "{{ cost_types }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    notification = "{{ notification }}"
    planned_limit = "{{ planned_limit }}"
    tags = "{{ tags }}"
    time_period_end = "{{ time_period_end }}"
    time_period_start = "{{ time_period_start }}"
    time_unit = "{{ time_unit }}"
}