resource "aws_db_snapshot_copy" "example" {
    copy_tags = {{ copy_tags }}
    destination_region = "{{ destination_region }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    option_group_name = "{{ option_group_name }}"
    presigned_url = "{{ presigned_url }}"
    region = "{{ region }}"
    shared_accounts = ["{{ shared_accounts }}"]
    source_db_snapshot_identifier = "{{ source_db_snapshot_identifier }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    target_custom_availability_zone = "{{ target_custom_availability_zone }}"
    target_db_snapshot_identifier = "{{ target_db_snapshot_identifier }}"
    timeouts {
      create = "{{ create }}"
    }
}
