resource "aws_globalaccelerator_cross_account_attachment" "example" {
    name = "{{ name }}"
    principals = ["{{ principals }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    resource {
      cidr_block = "{{ cidr_block }}"
      endpoint_id = "{{ endpoint_id }}"
      region = "{{ region }}"
    }
}
