resource "aws_appfabric_app_authorization" "example" {
    app = "{{ app }}"
    app_bundle_arn = "{{ app_bundle_arn }}"
    arn = "{{ arn }}"
    auth_type = "{{ auth_type }}"
    auth_url = "{{ auth_url }}"
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    persona = "{{ persona }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    updated_at = "{{ updated_at }}"
}