resource "aws_codebuild_fleet" "example" {
    arn = "{{ arn }}"
    base_capacity = "{{ base_capacity }}"
    compute_type = "{{ compute_type }}"
    created = "{{ created }}"
    environment_type = "{{ environment_type }}"
    fleet_service_role = "{{ fleet_service_role }}"
    id = "{{ id }}"
    image_id = "{{ image_id }}"
    last_modified = "{{ last_modified }}"
    name = "{{ name }}"
    overflow_behavior = "{{ overflow_behavior }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}