resource "aws_quicksight_iam_policy_assignment" "example" {
    assignment_name = "{{ assignment_name }}"
    assignment_status = "{{ assignment_status }}"
    aws_account_id = "{{ aws_account_id }}"
    namespace = "{{ namespace }}"
    policy_arn = "{{ policy_arn }}"
    region = "{{ region }}"
    identities {
      group = ["{{ group }}"]
      user = ["{{ user }}"]
    }
}
