resource "aws_api_gateway_integration" "example" {
    cache_key_parameters = "{{ cache_key_parameters }}"
    cache_namespace = "{{ cache_namespace }}"
    connection_id = "{{ connection_id }}"
    connection_type = "{{ connection_type }}"
    content_handling = "{{ content_handling }}"
    credentials = "{{ credentials }}"
    http_method = "{{ http_method }}"
    id = "{{ id }}"
    integration_http_method = "{{ integration_http_method }}"
    passthrough_behavior = "{{ passthrough_behavior }}"
    request_parameters = "{{ request_parameters }}"
    request_templates = "{{ request_templates }}"
    resource_id = "{{ resource_id }}"
    rest_api_id = "{{ rest_api_id }}"
    timeout_milliseconds = "{{ timeout_milliseconds }}"
    type = "{{ type }}"
    uri = "{{ uri }}"
}