data "aws_lambda_function_url" "example" {
    authorization_type = "{{ authorization_type }}"
    cors = "{{ cors }}"
    creation_time = "{{ creation_time }}"
    function_arn = "{{ function_arn }}"
    function_name = "{{ function_name }}"
    function_url = "{{ function_url }}"
    id = "{{ id }}"
    invoke_mode = "{{ invoke_mode }}"
    last_modified_time = "{{ last_modified_time }}"
    qualifier = "{{ qualifier }}"
    url_id = "{{ url_id }}"
}