resource "aws_ec2_local_gateway_route_table_vpc_association" "example" {
    id = "{{ id }}"
    local_gateway_route_table_id = "{{ local_gateway_route_table_id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    vpc_id = "{{ vpc_id }}"
}
