resource "aws_vpclattice_service_network_service_association" "example" {
    arn = "{{ arn }}"
    created_by = "{{ created_by }}"
    custom_domain_name = "{{ custom_domain_name }}"
    dns_entry = "{{ dns_entry }}"
    id = "{{ id }}"
    service_identifier = "{{ service_identifier }}"
    service_network_identifier = "{{ service_network_identifier }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}