data "aws_memorydb_cluster" "example" {
    acl_name = "{{ acl_name }}"
    arn = "{{ arn }}"
    auto_minor_version_upgrade = "{{ auto_minor_version_upgrade }}"
    cluster_endpoint = "{{ cluster_endpoint }}"
    data_tiering = "{{ data_tiering }}"
    description = "{{ description }}"
    engine = "{{ engine }}"
    engine_patch_version = "{{ engine_patch_version }}"
    engine_version = "{{ engine_version }}"
    final_snapshot_name = "{{ final_snapshot_name }}"
    id = "{{ id }}"
    kms_key_arn = "{{ kms_key_arn }}"
    maintenance_window = "{{ maintenance_window }}"
    name = "{{ name }}"
    node_type = "{{ node_type }}"
    num_replicas_per_shard = "{{ num_replicas_per_shard }}"
    num_shards = "{{ num_shards }}"
    parameter_group_name = "{{ parameter_group_name }}"
    port = "{{ port }}"
    security_group_ids = "{{ security_group_ids }}"
    shards = "{{ shards }}"
    snapshot_retention_limit = "{{ snapshot_retention_limit }}"
    snapshot_window = "{{ snapshot_window }}"
    sns_topic_arn = "{{ sns_topic_arn }}"
    subnet_group_name = "{{ subnet_group_name }}"
    tags = "{{ tags }}"
    tls_enabled = "{{ tls_enabled }}"
}