resource "aws_rds_export_task" "example" {
    export_only = "{{ export_only }}"
    export_task_identifier = "{{ export_task_identifier }}"
    failure_cause = "{{ failure_cause }}"
    iam_role_arn = "{{ iam_role_arn }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    percent_progress = "{{ percent_progress }}"
    s3_bucket_name = "{{ s3_bucket_name }}"
    s3_prefix = "{{ s3_prefix }}"
    snapshot_time = "{{ snapshot_time }}"
    source_arn = "{{ source_arn }}"
    source_type = "{{ source_type }}"
    status = "{{ status }}"
    task_end_time = "{{ task_end_time }}"
    task_start_time = "{{ task_start_time }}"
    warning_message = "{{ warning_message }}"
}