resource "aws_route53recoverycontrolconfig_control_panel" "example" {
    cluster_arn = "{{ cluster_arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
