resource "aws_ecs_service" "example" {
    availability_zone_rebalancing = "{{ availability_zone_rebalancing }}"
    cluster = "{{ cluster }}"
    deployment_maximum_percent = "{{ deployment_maximum_percent }}"
    deployment_minimum_healthy_percent = "{{ deployment_minimum_healthy_percent }}"
    desired_count = "{{ desired_count }}"
    enable_ecs_managed_tags = "{{ enable_ecs_managed_tags }}"
    enable_execute_command = "{{ enable_execute_command }}"
    force_delete = "{{ force_delete }}"
    force_new_deployment = "{{ force_new_deployment }}"
    health_check_grace_period_seconds = "{{ health_check_grace_period_seconds }}"
    iam_role = "{{ iam_role }}"
    id = "{{ id }}"
    launch_type = "{{ launch_type }}"
    name = "{{ name }}"
    platform_version = "{{ platform_version }}"
    propagate_tags = "{{ propagate_tags }}"
    scheduling_strategy = "{{ scheduling_strategy }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    task_definition = "{{ task_definition }}"
    triggers = "{{ triggers }}"
    wait_for_steady_state = "{{ wait_for_steady_state }}"
}