resource "aws_ssm_activation" "example" {
    description = "{{ description }}"
    expiration_date = "{{ expiration_date }}"
    iam_role = "{{ iam_role }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    registration_limit = {{ registration_limit }}
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
