data "aws_neptune_orderable_db_instance" "example" {
    availability_zones = "{{ availability_zones }}"
    engine = "{{ engine }}"
    engine_version = "{{ engine_version }}"
    id = "{{ id }}"
    instance_class = "{{ instance_class }}"
    license_model = "{{ license_model }}"
    max_iops_per_db_instance = "{{ max_iops_per_db_instance }}"
    max_iops_per_gib = "{{ max_iops_per_gib }}"
    max_storage_size = "{{ max_storage_size }}"
    min_iops_per_db_instance = "{{ min_iops_per_db_instance }}"
    min_iops_per_gib = "{{ min_iops_per_gib }}"
    min_storage_size = "{{ min_storage_size }}"
    multi_az_capable = "{{ multi_az_capable }}"
    preferred_instance_classes = "{{ preferred_instance_classes }}"
    read_replica_capable = "{{ read_replica_capable }}"
    storage_type = "{{ storage_type }}"
    supports_enhanced_monitoring = "{{ supports_enhanced_monitoring }}"
    supports_iam_database_authentication = "{{ supports_iam_database_authentication }}"
    supports_iops = "{{ supports_iops }}"
    supports_performance_insights = "{{ supports_performance_insights }}"
    supports_storage_encryption = "{{ supports_storage_encryption }}"
    vpc = "{{ vpc }}"
}