resource "aws_pinpoint_baidu_channel" "example" {
    api_key = "{{ api_key }}"
    application_id = "{{ application_id }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    secret_key = "{{ secret_key }}"
}