resource "aws_transfer_agreement" "example" {
    access_role = "{{ access_role }}"
    base_directory = "{{ base_directory }}"
    description = "{{ description }}"
    id = "{{ id }}"
    local_profile_id = "{{ local_profile_id }}"
    partner_profile_id = "{{ partner_profile_id }}"
    region = "{{ region }}"
    server_id = "{{ server_id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
