data "aws_ecs_service" "example" {
    cluster_arn = "{{ cluster_arn }}"
    id = "{{ id }}"
    region = "{{ region }}"
    service_name = "{{ service_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
