resource "aws_codecommit_approval_rule_template_association" "example" {
    approval_rule_template_name = "{{ approval_rule_template_name }}"
    id = "{{ id }}"
    repository_name = "{{ repository_name }}"
}