resource "aws_appconfig_extension_association" "example" {
    arn = "{{ arn }}"
    extension_arn = "{{ extension_arn }}"
    extension_version = "{{ extension_version }}"
    id = "{{ id }}"
    parameters = "{{ parameters }}"
    resource_arn = "{{ resource_arn }}"
}