resource "aws_lightsail_bucket_access_key" "example" {
    access_key_id = "{{ access_key_id }}"
    bucket_name = "{{ bucket_name }}"
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    secret_access_key = "{{ secret_access_key }}"
    status = "{{ status }}"
}