resource "aws_kms_grant" "example" {
    grant_creation_tokens = "{{ grant_creation_tokens }}"
    grant_id = "{{ grant_id }}"
    grant_token = "{{ grant_token }}"
    grantee_principal = "{{ grantee_principal }}"
    id = "{{ id }}"
    key_id = "{{ key_id }}"
    name = "{{ name }}"
    operations = "{{ operations }}"
    retire_on_delete = "{{ retire_on_delete }}"
    retiring_principal = "{{ retiring_principal }}"
}