resource "aws_storagegateway_cached_iscsi_volume" "example" {
    gateway_arn = "{{ gateway_arn }}"
    id = "{{ id }}"
    kms_encrypted = {{ kms_encrypted }}
    kms_key = "{{ kms_key }}"
    network_interface_id = "{{ network_interface_id }}"
    region = "{{ region }}"
    snapshot_id = "{{ snapshot_id }}"
    source_volume_arn = "{{ source_volume_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    target_name = "{{ target_name }}"
    volume_size_in_bytes = {{ volume_size_in_bytes }}
}
