resource "aws_sagemaker_notebook_instance_lifecycle_configuration" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    on_create = "{{ on_create }}"
    on_start = "{{ on_start }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
