resource "aws_quicksight_ingestion" "example" {
    arn = "{{ arn }}"
    aws_account_id = "{{ aws_account_id }}"
    data_set_id = "{{ data_set_id }}"
    id = "{{ id }}"
    ingestion_id = "{{ ingestion_id }}"
    ingestion_status = "{{ ingestion_status }}"
    ingestion_type = "{{ ingestion_type }}"
}