resource "aws_lex_bot_alias" "example" {
    arn = "{{ arn }}"
    bot_name = "{{ bot_name }}"
    bot_version = "{{ bot_version }}"
    checksum = "{{ checksum }}"
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    id = "{{ id }}"
    last_updated_date = "{{ last_updated_date }}"
    name = "{{ name }}"
}