resource "aws_sagemaker_hub" "example" {
    arn = "{{ arn }}"
    hub_description = "{{ hub_description }}"
    hub_display_name = "{{ hub_display_name }}"
    hub_name = "{{ hub_name }}"
    hub_search_keywords = "{{ hub_search_keywords }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}