resource "aws_bedrock_guardrail" "example" {
    blocked_input_messaging = "{{ blocked_input_messaging }}"
    blocked_outputs_messaging = "{{ blocked_outputs_messaging }}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    guardrail_arn = "{{ guardrail_arn }}"
    guardrail_id = "{{ guardrail_id }}"
    kms_key_arn = "{{ kms_key_arn }}"
    name = "{{ name }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    version = "{{ version }}"
}