resource "aws_ssmcontacts_contact_channel" "example" {
    activation_status = "{{ activation_status }}"
    arn = "{{ arn }}"
    contact_id = "{{ contact_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    type = "{{ type }}"
}