data "aws_auditmanager_framework" "example" {
    arn = "{{ arn }}"
    compliance_type = "{{ compliance_type }}"
    description = "{{ description }}"
    framework_type = "{{ framework_type }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}