resource "aws_glue_crawler" "example" {
    arn = "{{ arn }}"
    classifiers = "{{ classifiers }}"
    configuration = "{{ configuration }}"
    database_name = "{{ database_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    role = "{{ role }}"
    schedule = "{{ schedule }}"
    security_configuration = "{{ security_configuration }}"
    table_prefix = "{{ table_prefix }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}