resource "aws_glue_catalog_table" "example" {
    arn = "{{ arn }}"
    catalog_id = "{{ catalog_id }}"
    database_name = "{{ database_name }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    owner = "{{ owner }}"
    parameters = "{{ parameters }}"
    retention = "{{ retention }}"
    table_type = "{{ table_type }}"
    view_expanded_text = "{{ view_expanded_text }}"
    view_original_text = "{{ view_original_text }}"
}