data "aws_secretsmanager_random_password" "example" {
    exclude_characters = "{{ exclude_characters }}"
    exclude_lowercase = "{{ exclude_lowercase }}"
    exclude_numbers = "{{ exclude_numbers }}"
    exclude_punctuation = "{{ exclude_punctuation }}"
    exclude_uppercase = "{{ exclude_uppercase }}"
    id = "{{ id }}"
    include_space = "{{ include_space }}"
    password_length = "{{ password_length }}"
    random_password = "{{ random_password }}"
    require_each_included_type = "{{ require_each_included_type }}"
}