data "aws_appconfig_environment" "example" {
    application_id = "{{ application_id }}"
    arn = "{{ arn }}"
    description = "{{ description }}"
    environment_id = "{{ environment_id }}"
    id = "{{ id }}"
    monitor = "{{ monitor }}"
    name = "{{ name }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
}