resource "aws_default_network_acl" "example" {
    arn = "{{ arn }}"
    default_network_acl_id = "{{ default_network_acl_id }}"
    id = "{{ id }}"
    owner_id = "{{ owner_id }}"
    subnet_ids = "{{ subnet_ids }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_id = "{{ vpc_id }}"
}