resource "aws_appmesh_mesh" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    spec {
      egress_filter {
        type = "{{ type }}"
      }
      service_discovery {
        ip_preference = "{{ ip_preference }}"
      }
    }
}
