resource "aws_quicksight_analysis" "example" {
    analysis_id = "{{ analysis_id }}"
    arn = "{{ arn }}"
    aws_account_id = "{{ aws_account_id }}"
    created_time = "{{ created_time }}"
    id = "{{ id }}"
    last_published_time = "{{ last_published_time }}"
    last_updated_time = "{{ last_updated_time }}"
    name = "{{ name }}"
    recovery_window_in_days = "{{ recovery_window_in_days }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    theme_arn = "{{ theme_arn }}"
}