resource "aws_datazone_glossary_term" "example" {
    domain_identifier = "{{ domain_identifier }}"
    glossary_identifier = "{{ glossary_identifier }}"
    long_description = "{{ long_description }}"
    name = "{{ name }}"
    region = "{{ region }}"
    short_description = "{{ short_description }}"
    status = "{{ status }}"
    term_relations {
      classifies = ["{{ classifies }}"]
      is_a = ["{{ is_a }}"]
    }
    timeouts {
      create = "{{ create }}"
    }
}
