data "aws_opensearchserverless_lifecycle_policy" "example" {
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    id = "{{ id }}"
    last_modified_date = "{{ last_modified_date }}"
    name = "{{ name }}"
    policy = "{{ policy }}"
    policy_version = "{{ policy_version }}"
    type = "{{ type }}"
}