resource "aws_eks_access_policy_association" "example" {
    cluster_name = "{{ cluster_name }}"
    id = "{{ id }}"
    policy_arn = "{{ policy_arn }}"
    principal_arn = "{{ principal_arn }}"
    region = "{{ region }}"
    access_scope {
      namespaces = ["{{ namespaces }}"]
      type = "{{ type }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
