resource "aws_sagemaker_hub" "example" {
    hub_description = "{{ hub_description }}"
    hub_display_name = "{{ hub_display_name }}"
    hub_name = "{{ hub_name }}"
    hub_search_keywords = ["{{ hub_search_keywords }}"]
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    s3_storage_config {
      s3_output_path = "{{ s3_output_path }}"
    }
}
