data "aws_vpn_gateway" "example" {
    amazon_side_asn = "{{ amazon_side_asn }}"
    arn = "{{ arn }}"
    attached_vpc_id = "{{ attached_vpc_id }}"
    availability_zone = "{{ availability_zone }}"
    id = "{{ id }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
}