resource "aws_devicefarm_device_pool" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    max_devices = {{ max_devices }}
    name = "{{ name }}"
    project_arn = "{{ project_arn }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    rule {
      attribute = "{{ attribute }}"
      operator = "{{ operator }}"
      value = "{{ value }}"
    }
}
