resource "aws_lex_intent" "example" {
    arn = "{{ arn }}"
    checksum = "{{ checksum }}"
    create_version = "{{ create_version }}"
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    id = "{{ id }}"
    last_updated_date = "{{ last_updated_date }}"
    name = "{{ name }}"
    parent_intent_signature = "{{ parent_intent_signature }}"
    sample_utterances = "{{ sample_utterances }}"
    version = "{{ version }}"
}