resource "aws_codecommit_approval_rule_template" "example" {
    content = "{{ content }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
}
