data "aws_emrcontainers_virtual_cluster" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    virtual_cluster_id = "{{ virtual_cluster_id }}"
}
