resource "aws_verifiedaccess_instance" "example" {
    creation_time = "{{ creation_time }}"
    description = "{{ description }}"
    fips_enabled = "{{ fips_enabled }}"
    id = "{{ id }}"
    last_updated_time = "{{ last_updated_time }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    verified_access_trust_providers = "{{ verified_access_trust_providers }}"
}