resource "aws_cognito_risk_configuration" "example" {
    client_id = "{{ client_id }}"
    id = "{{ id }}"
    region = "{{ region }}"
    user_pool_id = "{{ user_pool_id }}"
    account_takeover_risk_configuration {
      actions {
        high_action {
          event_action = "{{ event_action }}"
          notify = {{ notify }}
        }
        low_action {
          event_action = "{{ event_action }}"
          notify = {{ notify }}
        }
        medium_action {
          event_action = "{{ event_action }}"
          notify = {{ notify }}
        }
      }
      notify_configuration {
        from = "{{ from }}"
        reply_to = "{{ reply_to }}"
        source_arn = "{{ source_arn }}"
        block_email {
          html_body = "{{ html_body }}"
          subject = "{{ subject }}"
          text_body = "{{ text_body }}"
        }
        mfa_email {
          html_body = "{{ html_body }}"
          subject = "{{ subject }}"
          text_body = "{{ text_body }}"
        }
        no_action_email {
          html_body = "{{ html_body }}"
          subject = "{{ subject }}"
          text_body = "{{ text_body }}"
        }
      }
    }
    compromised_credentials_risk_configuration {
      event_filter = ["{{ event_filter }}"]
      actions {
        event_action = "{{ event_action }}"
      }
    }
    risk_exception_configuration {
      blocked_ip_range_list = ["{{ blocked_ip_range_list }}"]
      skipped_ip_range_list = ["{{ skipped_ip_range_list }}"]
    }
}
