resource "aws_glue_dev_endpoint" "example" {
    arguments = "{{ arguments }}"
    arn = "{{ arn }}"
    availability_zone = "{{ availability_zone }}"
    extra_jars_s3_path = "{{ extra_jars_s3_path }}"
    extra_python_libs_s3_path = "{{ extra_python_libs_s3_path }}"
    failure_reason = "{{ failure_reason }}"
    glue_version = "{{ glue_version }}"
    id = "{{ id }}"
    name = "{{ name }}"
    number_of_nodes = "{{ number_of_nodes }}"
    number_of_workers = "{{ number_of_workers }}"
    private_address = "{{ private_address }}"
    public_address = "{{ public_address }}"
    public_key = "{{ public_key }}"
    public_keys = "{{ public_keys }}"
    role_arn = "{{ role_arn }}"
    security_configuration = "{{ security_configuration }}"
    security_group_ids = "{{ security_group_ids }}"
    status = "{{ status }}"
    subnet_id = "{{ subnet_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_id = "{{ vpc_id }}"
    worker_type = "{{ worker_type }}"
    yarn_endpoint_address = "{{ yarn_endpoint_address }}"
    zeppelin_remote_spark_interpreter_port = "{{ zeppelin_remote_spark_interpreter_port }}"
}