resource "aws_efs_access_point" "example" {
    arn = "{{ arn }}"
    file_system_arn = "{{ file_system_arn }}"
    file_system_id = "{{ file_system_id }}"
    id = "{{ id }}"
    owner_id = "{{ owner_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}