resource "aws_workmail_user" "example" {
    city = "{{ city }}"
    company = "{{ company }}"
    country = "{{ country }}"
    department = "{{ department }}"
    display_name = "{{ display_name }}"
    email = "{{ email }}"
    first_name = "{{ first_name }}"
    hidden_from_global_address_list = {{ hidden_from_global_address_list }}
    identity_provider_user_id = "{{ identity_provider_user_id }}"
    initials = "{{ initials }}"
    job_title = "{{ job_title }}"
    last_name = "{{ last_name }}"
    name = "{{ name }}"
    office = "{{ office }}"
    organization_id = "{{ organization_id }}"
    password = "{{ password }}"
    region = "{{ region }}"
    street = "{{ street }}"
    telephone = "{{ telephone }}"
    user_role = "{{ user_role }}"
    zip_code = "{{ zip_code }}"
}
