resource "aws_quicksight_account_subscription" "example" {
    account_name = "{{ account_name }}"
    account_subscription_status = "{{ account_subscription_status }}"
    active_directory_name = "{{ active_directory_name }}"
    admin_group = "{{ admin_group }}"
    authentication_method = "{{ authentication_method }}"
    author_group = "{{ author_group }}"
    aws_account_id = "{{ aws_account_id }}"
    contact_number = "{{ contact_number }}"
    directory_id = "{{ directory_id }}"
    edition = "{{ edition }}"
    email_address = "{{ email_address }}"
    first_name = "{{ first_name }}"
    iam_identity_center_instance_arn = "{{ iam_identity_center_instance_arn }}"
    id = "{{ id }}"
    last_name = "{{ last_name }}"
    notification_email = "{{ notification_email }}"
    reader_group = "{{ reader_group }}"
    realm = "{{ realm }}"
}