resource "aws_sagemaker_pipeline" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    pipeline_definition = "{{ pipeline_definition }}"
    pipeline_description = "{{ pipeline_description }}"
    pipeline_display_name = "{{ pipeline_display_name }}"
    pipeline_name = "{{ pipeline_name }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}