data "aws_kendra_thesaurus" "example" {
    id = "{{ id }}"
    index_id = "{{ index_id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    thesaurus_id = "{{ thesaurus_id }}"
}
