data "aws_quicksight_analysis" "example" {
    analysis_id = "{{ analysis_id }}"
    arn = "{{ arn }}"
    aws_account_id = "{{ aws_account_id }}"
    created_time = "{{ created_time }}"
    definition = "{{ definition }}"
    id = "{{ id }}"
    last_published_time = "{{ last_published_time }}"
    last_updated_time = "{{ last_updated_time }}"
    name = "{{ name }}"
    permissions = "{{ permissions }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    theme_arn = "{{ theme_arn }}"
}