resource "aws_egress_only_internet_gateway" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    vpc_id = "{{ vpc_id }}"
}
