resource "aws_shield_drt_access_log_bucket_association" "example" {
    log_bucket = "{{ log_bucket }}"
    role_arn_association_id = "{{ role_arn_association_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
