resource "aws_datasync_agent" "example" {
    activation_key = "{{ activation_key }}"
    id = "{{ id }}"
    ip_address = "{{ ip_address }}"
    name = "{{ name }}"
    private_link_endpoint = "{{ private_link_endpoint }}"
    region = "{{ region }}"
    security_group_arns = ["{{ security_group_arns }}"]
    subnet_arns = ["{{ subnet_arns }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    vpc_endpoint_id = "{{ vpc_endpoint_id }}"
    timeouts {
      create = "{{ create }}"
    }
}
