data "aws_secretsmanager_secret" "example" {
    arn = "{{ arn }}"
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    last_changed_date = "{{ last_changed_date }}"
    name = "{{ name }}"
    policy = "{{ policy }}"
    tags = "{{ tags }}"
}