resource "aws_ssm_association" "example" {
    apply_only_at_cron_interval = {{ apply_only_at_cron_interval }}
    association_name = "{{ association_name }}"
    automation_target_parameter_name = "{{ automation_target_parameter_name }}"
    calendar_names = ["{{ calendar_names }}"]
    compliance_severity = "{{ compliance_severity }}"
    document_version = "{{ document_version }}"
    id = "{{ id }}"
    max_concurrency = "{{ max_concurrency }}"
    max_errors = "{{ max_errors }}"
    name = "{{ name }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    region = "{{ region }}"
    schedule_expression = "{{ schedule_expression }}"
    sync_compliance = "{{ sync_compliance }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    wait_for_success_timeout_seconds = {{ wait_for_success_timeout_seconds }}
    output_location {
      s3_bucket_name = "{{ s3_bucket_name }}"
      s3_key_prefix = "{{ s3_key_prefix }}"
      s3_region = "{{ s3_region }}"
    }
    targets {
      key = "{{ key }}"
      values = ["{{ values }}"]
    }
}
