resource "aws_route53_resolver_query_log_config" "example" {
    destination_arn = "{{ destination_arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
