data "aws_outposts_outpost_instance_type" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    instance_type = "{{ instance_type }}"
    preferred_instance_types = "{{ preferred_instance_types }}"
}