resource "aws_grafana_workspace" "example" {
    account_access_type = "{{ account_access_type }}"
    arn = "{{ arn }}"
    authentication_providers = "{{ authentication_providers }}"
    configuration = "{{ configuration }}"
    data_sources = "{{ data_sources }}"
    description = "{{ description }}"
    endpoint = "{{ endpoint }}"
    grafana_version = "{{ grafana_version }}"
    id = "{{ id }}"
    name = "{{ name }}"
    notification_destinations = "{{ notification_destinations }}"
    organization_role_name = "{{ organization_role_name }}"
    organizational_units = "{{ organizational_units }}"
    permission_type = "{{ permission_type }}"
    role_arn = "{{ role_arn }}"
    saml_configuration_status = "{{ saml_configuration_status }}"
    stack_set_name = "{{ stack_set_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}