resource "aws_route53_resolver_dnssec_config" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    owner_id = "{{ owner_id }}"
    resource_id = "{{ resource_id }}"
    validation_status = "{{ validation_status }}"
}