data "aws_ecr_image" "example" {
    id = "{{ id }}"
    image_digest = "{{ image_digest }}"
    image_pushed_at = "{{ image_pushed_at }}"
    image_size_in_bytes = "{{ image_size_in_bytes }}"
    image_tag = "{{ image_tag }}"
    image_tags = "{{ image_tags }}"
    image_uri = "{{ image_uri }}"
    most_recent = "{{ most_recent }}"
    registry_id = "{{ registry_id }}"
    repository_name = "{{ repository_name }}"
}