resource "aws_organizations_organization" "example" {
    aws_service_access_principals = ["{{ aws_service_access_principals }}"]
    enabled_policy_types = ["{{ enabled_policy_types }}"]
    feature_set = "{{ feature_set }}"
    id = "{{ id }}"
    return_organization_only = {{ return_organization_only }}
}
