resource "aws_lexv2models_bot_version" "example" {
    bot_id = "{{ bot_id }}"
    bot_version = "{{ bot_version }}"
    description = "{{ description }}"
    locale_specification = {
        key = "{{ locale_specification_value }}"
      }
    region = "{{ region }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
