resource "aws_computeoptimizer_enrollment_status" "example" {
    include_member_accounts = {{ include_member_accounts }}
    region = "{{ region }}"
    status = "{{ status }}"
    timeouts {
      create = "{{ create }}"
      update = "{{ update }}"
    }
}
