resource "aws_dynamodb_table" "example" {
    arn = "{{ arn }}"
    billing_mode = "{{ billing_mode }}"
    deletion_protection_enabled = "{{ deletion_protection_enabled }}"
    hash_key = "{{ hash_key }}"
    id = "{{ id }}"
    name = "{{ name }}"
    range_key = "{{ range_key }}"
    read_capacity = "{{ read_capacity }}"
    restore_date_time = "{{ restore_date_time }}"
    restore_source_name = "{{ restore_source_name }}"
    restore_source_table_arn = "{{ restore_source_table_arn }}"
    restore_to_latest_time = "{{ restore_to_latest_time }}"
    stream_arn = "{{ stream_arn }}"
    stream_enabled = "{{ stream_enabled }}"
    stream_label = "{{ stream_label }}"
    stream_view_type = "{{ stream_view_type }}"
    table_class = "{{ table_class }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    write_capacity = "{{ write_capacity }}"
}