resource "aws_appintegrations_event_integration" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    eventbridge_bus = "{{ eventbridge_bus }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}