resource "aws_timestreamwrite_table" "example" {
    arn = "{{ arn }}"
    database_name = "{{ database_name }}"
    id = "{{ id }}"
    table_name = "{{ table_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}