resource "aws_customer_gateway" "example" {
    arn = "{{ arn }}"
    bgp_asn = "{{ bgp_asn }}"
    bgp_asn_extended = "{{ bgp_asn_extended }}"
    certificate_arn = "{{ certificate_arn }}"
    device_name = "{{ device_name }}"
    id = "{{ id }}"
    ip_address = "{{ ip_address }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}