resource "aws_lightsail_static_ip_attachment" "example" {
    id = "{{ id }}"
    instance_name = "{{ instance_name }}"
    ip_address = "{{ ip_address }}"
    static_ip_name = "{{ static_ip_name }}"
}