resource "aws_connect_queue" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    hours_of_operation_id = "{{ hours_of_operation_id }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    max_contacts = "{{ max_contacts }}"
    name = "{{ name }}"
    queue_id = "{{ queue_id }}"
    quick_connect_ids = "{{ quick_connect_ids }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}