resource "aws_lightsail_database" "example" {
    apply_immediately = {{ apply_immediately }}
    availability_zone = "{{ availability_zone }}"
    backup_retention_enabled = {{ backup_retention_enabled }}
    blueprint_id = "{{ blueprint_id }}"
    bundle_id = "{{ bundle_id }}"
    final_snapshot_name = "{{ final_snapshot_name }}"
    id = "{{ id }}"
    master_database_name = "{{ master_database_name }}"
    master_password = "{{ master_password }}"
    master_username = "{{ master_username }}"
    preferred_backup_window = "{{ preferred_backup_window }}"
    preferred_maintenance_window = "{{ preferred_maintenance_window }}"
    publicly_accessible = {{ publicly_accessible }}
    region = "{{ region }}"
    relational_database_name = "{{ relational_database_name }}"
    skip_final_snapshot = {{ skip_final_snapshot }}
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
