resource "aws_wafv2_regex_pattern_set" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    region = "{{ region }}"
    scope = "{{ scope }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    regular_expression {
      regex_string = "{{ regex_string }}"
    }
}
