resource "aws_elastic_beanstalk_application_version" "example" {
    application = "{{ application }}"
    bucket = "{{ bucket }}"
    description = "{{ description }}"
    force_delete = {{ force_delete }}
    id = "{{ id }}"
    key = "{{ key }}"
    name = "{{ name }}"
    process = {{ process }}
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
