resource "aws_imagebuilder_image_pipeline" "example" {
    container_recipe_arn = "{{ container_recipe_arn }}"
    description = "{{ description }}"
    distribution_configuration_arn = "{{ distribution_configuration_arn }}"
    enhanced_image_metadata_enabled = {{ enhanced_image_metadata_enabled }}
    execution_role = "{{ execution_role }}"
    id = "{{ id }}"
    image_recipe_arn = "{{ image_recipe_arn }}"
    infrastructure_configuration_arn = "{{ infrastructure_configuration_arn }}"
    name = "{{ name }}"
    region = "{{ region }}"
    status = "{{ status }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    image_scanning_configuration {
      image_scanning_enabled = {{ image_scanning_enabled }}
      ecr_configuration {
        container_tags = ["{{ container_tags }}"]
        repository_name = "{{ repository_name }}"
      }
    }
    image_tests_configuration {
      image_tests_enabled = {{ image_tests_enabled }}
      timeout_minutes = {{ timeout_minutes }}
    }
    logging_configuration {
      image_log_group_name = "{{ image_log_group_name }}"
      pipeline_log_group_name = "{{ pipeline_log_group_name }}"
    }
    schedule {
      pipeline_execution_start_condition = "{{ pipeline_execution_start_condition }}"
      schedule_expression = "{{ schedule_expression }}"
      timezone = "{{ timezone }}"
    }
    workflow {
      on_failure = "{{ on_failure }}"
      parallel_group = "{{ parallel_group }}"
      workflow_arn = "{{ workflow_arn }}"
      parameter {
        name = "{{ name }}"
        value = "{{ value }}"
      }
    }
}
