data "aws_ec2_transit_gateway_connect_peer" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    transit_gateway_connect_peer_id = "{{ transit_gateway_connect_peer_id }}"
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
