resource "aws_redshift_event_subscription" "example" {
    enabled = {{ enabled }}
    event_categories = ["{{ event_categories }}"]
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    severity = "{{ severity }}"
    sns_topic_arn = "{{ sns_topic_arn }}"
    source_ids = ["{{ source_ids }}"]
    source_type = "{{ source_type }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
