data "aws_ec2_instance_type_offering" "example" {
    id = "{{ id }}"
    location_type = "{{ location_type }}"
    preferred_instance_types = ["{{ preferred_instance_types }}"]
    region = "{{ region }}"
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
