resource "aws_directory_service_shared_directory_accepter" "example" {
    id = "{{ id }}"
    method = "{{ method }}"
    notes = "{{ notes }}"
    owner_account_id = "{{ owner_account_id }}"
    owner_directory_id = "{{ owner_directory_id }}"
    shared_directory_id = "{{ shared_directory_id }}"
}