data "aws_vpclattice_listener" "example" {
    arn = "{{ arn }}"
    created_at = "{{ created_at }}"
    default_action = "{{ default_action }}"
    id = "{{ id }}"
    last_updated_at = "{{ last_updated_at }}"
    listener_id = "{{ listener_id }}"
    listener_identifier = "{{ listener_identifier }}"
    name = "{{ name }}"
    port = "{{ port }}"
    protocol = "{{ protocol }}"
    service_arn = "{{ service_arn }}"
    service_id = "{{ service_id }}"
    service_identifier = "{{ service_identifier }}"
    tags = "{{ tags }}"
}