resource "aws_gamelift_script" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    version = "{{ version }}"
    zip_file = "{{ zip_file }}"
}