resource "aws_ce_anomaly_monitor" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    monitor_dimension = "{{ monitor_dimension }}"
    monitor_specification = "{{ monitor_specification }}"
    monitor_type = "{{ monitor_type }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}