resource "aws_ec2_client_vpn_network_association" "example" {
    client_vpn_endpoint_id = "{{ client_vpn_endpoint_id }}"
    id = "{{ id }}"
    region = "{{ region }}"
    subnet_id = "{{ subnet_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
