resource "aws_lightsail_certificate" "example" {
    domain_name = "{{ domain_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    subject_alternative_names = ["{{ subject_alternative_names }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
