resource "aws_api_gateway_client_certificate" "example" {
    arn = "{{ arn }}"
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    expiration_date = "{{ expiration_date }}"
    id = "{{ id }}"
    pem_encoded_certificate = "{{ pem_encoded_certificate }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}