resource "aws_ssmincidents_response_plan" "example" {
    arn = "{{ arn }}"
    chat_channel = "{{ chat_channel }}"
    display_name = "{{ display_name }}"
    engagements = "{{ engagements }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}