resource "aws_wafregional_rate_based_rule" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    metric_name = "{{ metric_name }}"
    name = "{{ name }}"
    rate_key = "{{ rate_key }}"
    rate_limit = "{{ rate_limit }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}