resource "aws_opensearchserverless_collection" "example" {
    arn = "{{ arn }}"
    collection_endpoint = "{{ collection_endpoint }}"
    dashboard_endpoint = "{{ dashboard_endpoint }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kms_key_arn = "{{ kms_key_arn }}"
    name = "{{ name }}"
    standby_replicas = "{{ standby_replicas }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}