resource "aws_lambda_function_event_invoke_config" "example" {
    function_name = "{{ function_name }}"
    id = "{{ id }}"
    maximum_event_age_in_seconds = "{{ maximum_event_age_in_seconds }}"
    maximum_retry_attempts = "{{ maximum_retry_attempts }}"
    qualifier = "{{ qualifier }}"
}