resource "aws_location_geofence_collection" "example" {
    collection_arn = "{{ collection_arn }}"
    collection_name = "{{ collection_name }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    update_time = "{{ update_time }}"
}