resource "aws_auditmanager_assessment_report" "example" {
    assessment_id = "{{ assessment_id }}"
    author = "{{ author }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    status = "{{ status }}"
}