resource "aws_verifiedaccess_group" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    policy_document = "{{ policy_document }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    verifiedaccess_instance_id = "{{ verifiedaccess_instance_id }}"
    sse_configuration {
      customer_managed_key_enabled = {{ customer_managed_key_enabled }}
      kms_key_arn = "{{ kms_key_arn }}"
    }
}
