resource "aws_iot_ca_certificate" "example" {
    active = "{{ active }}"
    allow_auto_registration = "{{ allow_auto_registration }}"
    arn = "{{ arn }}"
    ca_certificate_pem = "{{ ca_certificate_pem }}"
    certificate_mode = "{{ certificate_mode }}"
    customer_version = "{{ customer_version }}"
    generation_id = "{{ generation_id }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    validity = "{{ validity }}"
    verification_certificate_pem = "{{ verification_certificate_pem }}"
}