resource "aws_sagemaker_app_image_config" "example" {
    app_image_config_name = "{{ app_image_config_name }}"
    arn = "{{ arn }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}