resource "aws_bedrockagentcore_gateway" "example" {
    authorizer_type = "{{ authorizer_type }}"
    description = "{{ description }}"
    exception_level = "{{ exception_level }}"
    kms_key_arn = "{{ kms_key_arn }}"
    name = "{{ name }}"
    protocol_type = "{{ protocol_type }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    authorizer_configuration {
      custom_jwt_authorizer {
        allowed_audience = ["{{ allowed_audience }}"]
        allowed_clients = ["{{ allowed_clients }}"]
        allowed_scopes = ["{{ allowed_scopes }}"]
        discovery_url = "{{ discovery_url }}"
        custom_claim {
          inbound_token_claim_name = "{{ inbound_token_claim_name }}"
          inbound_token_claim_value_type = "{{ inbound_token_claim_value_type }}"
          authorizing_claim_match_value {
            claim_match_operator = "{{ claim_match_operator }}"
            claim_match_value {
              match_value_string = "{{ match_value_string }}"
              match_value_string_list = ["{{ match_value_string_list }}"]
            }
          }
        }
      }
    }
    interceptor_configuration {
      interception_points = ["{{ interception_points }}"]
      input_configuration {
        pass_request_headers = {{ pass_request_headers }}
      }
      interceptor {
        lambda {
          arn = "{{ arn }}"
        }
      }
    }
    protocol_configuration {
      mcp {
        instructions = "{{ instructions }}"
        search_type = "{{ search_type }}"
        supported_versions = ["{{ supported_versions }}"]
      }
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
