resource "aws_lightsail_lb" "example" {
    health_check_path = "{{ health_check_path }}"
    id = "{{ id }}"
    instance_port = {{ instance_port }}
    ip_address_type = "{{ ip_address_type }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
