resource "aws_iot_domain_configuration" "example" {
    application_protocol = "{{ application_protocol }}"
    authentication_type = "{{ authentication_type }}"
    domain_name = "{{ domain_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    server_certificate_arns = ["{{ server_certificate_arns }}"]
    service_type = "{{ service_type }}"
    status = "{{ status }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    validation_certificate_arn = "{{ validation_certificate_arn }}"
    authorizer_config {
      allow_authorizer_override = {{ allow_authorizer_override }}
      default_authorizer_name = "{{ default_authorizer_name }}"
    }
    tls_config {
      security_policy = "{{ security_policy }}"
    }
}
