resource "aws_ecs_task_definition" "example" {
    arn = "{{ arn }}"
    arn_without_revision = "{{ arn_without_revision }}"
    container_definitions = "{{ container_definitions }}"
    cpu = "{{ cpu }}"
    execution_role_arn = "{{ execution_role_arn }}"
    family = "{{ family }}"
    id = "{{ id }}"
    ipc_mode = "{{ ipc_mode }}"
    memory = "{{ memory }}"
    network_mode = "{{ network_mode }}"
    pid_mode = "{{ pid_mode }}"
    requires_compatibilities = "{{ requires_compatibilities }}"
    revision = "{{ revision }}"
    skip_destroy = "{{ skip_destroy }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    task_role_arn = "{{ task_role_arn }}"
    track_latest = "{{ track_latest }}"
}