data "aws_elasticache_serverless_cache" "example" {
    arn = "{{ arn }}"
    cache_usage_limits = "{{ cache_usage_limits }}"
    create_time = "{{ create_time }}"
    daily_snapshot_time = "{{ daily_snapshot_time }}"
    description = "{{ description }}"
    endpoint = "{{ endpoint }}"
    engine = "{{ engine }}"
    full_engine_version = "{{ full_engine_version }}"
    kms_key_id = "{{ kms_key_id }}"
    major_engine_version = "{{ major_engine_version }}"
    name = "{{ name }}"
    reader_endpoint = "{{ reader_endpoint }}"
    security_group_ids = "{{ security_group_ids }}"
    snapshot_retention_limit = "{{ snapshot_retention_limit }}"
    status = "{{ status }}"
    subnet_ids = "{{ subnet_ids }}"
    user_group_id = "{{ user_group_id }}"
}