data "aws_ssm_document" "example" {
    document_format = "{{ document_format }}"
    document_version = "{{ document_version }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
}
