resource "aws_redshift_hsm_configuration" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    hsm_configuration_identifier = "{{ hsm_configuration_identifier }}"
    hsm_ip_address = "{{ hsm_ip_address }}"
    hsm_partition_name = "{{ hsm_partition_name }}"
    hsm_partition_password = "{{ hsm_partition_password }}"
    hsm_server_public_certificate = "{{ hsm_server_public_certificate }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}