data "aws_ssoadmin_principal_application_assignments" "example" {
    instance_arn = "{{ instance_arn }}"
    principal_id = "{{ principal_id }}"
    principal_type = "{{ principal_type }}"
    region = "{{ region }}"
    application_assignments {
    }
}
