resource "aws_dx_transit_virtual_interface" "example" {
    address_family = "{{ address_family }}"
    amazon_address = "{{ amazon_address }}"
    amazon_side_asn = "{{ amazon_side_asn }}"
    arn = "{{ arn }}"
    aws_device = "{{ aws_device }}"
    bgp_asn = "{{ bgp_asn }}"
    bgp_auth_key = "{{ bgp_auth_key }}"
    connection_id = "{{ connection_id }}"
    customer_address = "{{ customer_address }}"
    dx_gateway_id = "{{ dx_gateway_id }}"
    id = "{{ id }}"
    jumbo_frame_capable = "{{ jumbo_frame_capable }}"
    mtu = "{{ mtu }}"
    name = "{{ name }}"
    sitelink_enabled = "{{ sitelink_enabled }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vlan = "{{ vlan }}"
}