resource "aws_ssoadmin_managed_policy_attachment" "example" {
    id = "{{ id }}"
    instance_arn = "{{ instance_arn }}"
    managed_policy_arn = "{{ managed_policy_arn }}"
    managed_policy_name = "{{ managed_policy_name }}"
    permission_set_arn = "{{ permission_set_arn }}"
}