resource "aws_kinesis_stream" "example" {
    arn = "{{ arn }}"
    encryption_type = "{{ encryption_type }}"
    enforce_consumer_deletion = {{ enforce_consumer_deletion }}
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    max_record_size_in_kib = {{ max_record_size_in_kib }}
    name = "{{ name }}"
    region = "{{ region }}"
    retention_period = {{ retention_period }}
    shard_count = {{ shard_count }}
    shard_level_metrics = ["{{ shard_level_metrics }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    stream_mode_details {
      stream_mode = "{{ stream_mode }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
