resource "aws_storagegateway_smb_file_share" "example" {
    access_based_enumeration = {{ access_based_enumeration }}
    admin_user_list = ["{{ admin_user_list }}"]
    audit_destination_arn = "{{ audit_destination_arn }}"
    authentication = "{{ authentication }}"
    bucket_region = "{{ bucket_region }}"
    case_sensitivity = "{{ case_sensitivity }}"
    default_storage_class = "{{ default_storage_class }}"
    file_share_name = "{{ file_share_name }}"
    gateway_arn = "{{ gateway_arn }}"
    guess_mime_type_enabled = {{ guess_mime_type_enabled }}
    id = "{{ id }}"
    invalid_user_list = ["{{ invalid_user_list }}"]
    kms_encrypted = {{ kms_encrypted }}
    kms_key_arn = "{{ kms_key_arn }}"
    location_arn = "{{ location_arn }}"
    notification_policy = "{{ notification_policy }}"
    object_acl = "{{ object_acl }}"
    oplocks_enabled = {{ oplocks_enabled }}
    read_only = {{ read_only }}
    region = "{{ region }}"
    requester_pays = {{ requester_pays }}
    role_arn = "{{ role_arn }}"
    smb_acl_enabled = {{ smb_acl_enabled }}
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    valid_user_list = ["{{ valid_user_list }}"]
    vpc_endpoint_dns_name = "{{ vpc_endpoint_dns_name }}"
    cache_attributes {
      cache_stale_timeout_in_seconds = {{ cache_stale_timeout_in_seconds }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
