resource "aws_securitylake_aws_log_source" "example" {
    region = "{{ region }}"
    source {
      accounts = ["{{ accounts }}"]
      regions = ["{{ regions }}"]
      source_name = "{{ source_name }}"
      source_version = "{{ source_version }}"
    }
}
