resource "aws_serverlessapplicationrepository_cloudformation_stack" "example" {
    application_id = "{{ application_id }}"
    capabilities = "{{ capabilities }}"
    id = "{{ id }}"
    name = "{{ name }}"
    outputs = "{{ outputs }}"
    parameters = "{{ parameters }}"
    semantic_version = "{{ semantic_version }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}