data "aws_ebs_snapshot_ids" "example" {
    id = "{{ id }}"
    owners = ["{{ owners }}"]
    region = "{{ region }}"
    restorable_by_user_ids = ["{{ restorable_by_user_ids }}"]
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
