resource "aws_dx_connection" "example" {
    arn = "{{ arn }}"
    aws_device = "{{ aws_device }}"
    bandwidth = "{{ bandwidth }}"
    encryption_mode = "{{ encryption_mode }}"
    has_logical_redundancy = "{{ has_logical_redundancy }}"
    id = "{{ id }}"
    jumbo_frame_capable = "{{ jumbo_frame_capable }}"
    location = "{{ location }}"
    macsec_capable = "{{ macsec_capable }}"
    name = "{{ name }}"
    owner_account_id = "{{ owner_account_id }}"
    partner_name = "{{ partner_name }}"
    port_encryption_status = "{{ port_encryption_status }}"
    provider_name = "{{ provider_name }}"
    request_macsec = "{{ request_macsec }}"
    skip_destroy = "{{ skip_destroy }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vlan_id = "{{ vlan_id }}"
}