resource "aws_redshift_authentication_profile" "example" {
    authentication_profile_content = "{{ authentication_profile_content }}"
    authentication_profile_name = "{{ authentication_profile_name }}"
    id = "{{ id }}"
}