resource "aws_cleanrooms_collaboration" "example" {
    analytics_engine = "{{ analytics_engine }}"
    creator_display_name = "{{ creator_display_name }}"
    creator_member_abilities = ["{{ creator_member_abilities }}"]
    description = "{{ description }}"
    name = "{{ name }}"
    query_log_status = "{{ query_log_status }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    data_encryption_metadata {
      allow_clear_text = {{ allow_clear_text }}
      allow_duplicates = {{ allow_duplicates }}
      allow_joins_on_columns_with_different_names = {{ allow_joins_on_columns_with_different_names }}
      preserve_nulls = {{ preserve_nulls }}
    }
    member {
      account_id = "{{ account_id }}"
      display_name = "{{ display_name }}"
      member_abilities = ["{{ member_abilities }}"]
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
