data "aws_mskconnect_connector" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    version = "{{ version }}"
}