resource "aws_kendra_thesaurus" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    index_id = "{{ index_id }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    thesaurus_id = "{{ thesaurus_id }}"
}