resource "aws_kendra_query_suggestions_block_list" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    index_id = "{{ index_id }}"
    name = "{{ name }}"
    query_suggestions_block_list_id = "{{ query_suggestions_block_list_id }}"
    role_arn = "{{ role_arn }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}