resource "aws_api_gateway_rest_api" "example" {
    api_key_source = "{{ api_key_source }}"
    binary_media_types = ["{{ binary_media_types }}"]
    body = "{{ body }}"
    description = "{{ description }}"
    disable_execute_api_endpoint = {{ disable_execute_api_endpoint }}
    fail_on_warnings = {{ fail_on_warnings }}
    id = "{{ id }}"
    minimum_compression_size = "{{ minimum_compression_size }}"
    name = "{{ name }}"
    parameters = {
        key = "{{ parameters_value }}"
      }
    policy = "{{ policy }}"
    put_rest_api_mode = "{{ put_rest_api_mode }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    endpoint_configuration {
      ip_address_type = "{{ ip_address_type }}"
      types = ["{{ types }}"]
      vpc_endpoint_ids = ["{{ vpc_endpoint_ids }}"]
    }
}
