resource "aws_lexv2models_slot" "example" {
    bot_id = "{{ bot_id }}"
    bot_version = "{{ bot_version }}"
    description = "{{ description }}"
    id = "{{ id }}"
    intent_id = "{{ intent_id }}"
    locale_id = "{{ locale_id }}"
    name = "{{ name }}"
    slot_id = "{{ slot_id }}"
    slot_type_id = "{{ slot_type_id }}"
}