data "aws_lex_slot_type" "example" {
    checksum = "{{ checksum }}"
    created_date = "{{ created_date }}"
    description = "{{ description }}"
    enumeration_value = "{{ enumeration_value }}"
    id = "{{ id }}"
    last_updated_date = "{{ last_updated_date }}"
    name = "{{ name }}"
    value_selection_strategy = "{{ value_selection_strategy }}"
    version = "{{ version }}"
}