resource "aws_macie2_findings_filter" "example" {
    action = "{{ action }}"
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    position = "{{ position }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}