data "aws_ssoadmin_application" "example" {
    application_account = "{{ application_account }}"
    application_arn = "{{ application_arn }}"
    application_provider_arn = "{{ application_provider_arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    instance_arn = "{{ instance_arn }}"
    name = "{{ name }}"
    status = "{{ status }}"
}