resource "aws_guardduty_filter" "example" {
    action = "{{ action }}"
    arn = "{{ arn }}"
    description = "{{ description }}"
    detector_id = "{{ detector_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    rank = "{{ rank }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}