resource "aws_s3_access_point" "example" {
    account_id = "{{ account_id }}"
    bucket = "{{ bucket }}"
    bucket_account_id = "{{ bucket_account_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    policy = "{{ policy }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    public_access_block_configuration {
      block_public_acls = {{ block_public_acls }}
      block_public_policy = {{ block_public_policy }}
      ignore_public_acls = {{ ignore_public_acls }}
      restrict_public_buckets = {{ restrict_public_buckets }}
    }
    vpc_configuration {
      vpc_id = "{{ vpc_id }}"
    }
}
