resource "aws_rds_global_cluster" "example" {
    database_name = "{{ database_name }}"
    deletion_protection = {{ deletion_protection }}
    engine = "{{ engine }}"
    engine_lifecycle_support = "{{ engine_lifecycle_support }}"
    engine_version = "{{ engine_version }}"
    force_destroy = {{ force_destroy }}
    global_cluster_identifier = "{{ global_cluster_identifier }}"
    id = "{{ id }}"
    region = "{{ region }}"
    source_db_cluster_identifier = "{{ source_db_cluster_identifier }}"
    storage_encrypted = {{ storage_encrypted }}
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
