resource "aws_dx_connection" "example" {
    bandwidth = "{{ bandwidth }}"
    encryption_mode = "{{ encryption_mode }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    provider_name = "{{ provider_name }}"
    region = "{{ region }}"
    request_macsec = {{ request_macsec }}
    skip_destroy = {{ skip_destroy }}
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
