data "aws_connect_routing_profile" "example" {
    arn = "{{ arn }}"
    default_outbound_queue_id = "{{ default_outbound_queue_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    media_concurrencies = "{{ media_concurrencies }}"
    name = "{{ name }}"
    queue_configs = "{{ queue_configs }}"
    routing_profile_id = "{{ routing_profile_id }}"
    tags = "{{ tags }}"
}