data "aws_iam_policy_document" "example" {
    id = "{{ id }}"
    json = "{{ json }}"
    minified_json = "{{ minified_json }}"
    override_json = "{{ override_json }}"
    override_policy_documents = "{{ override_policy_documents }}"
    policy_id = "{{ policy_id }}"
    source_json = "{{ source_json }}"
    source_policy_documents = "{{ source_policy_documents }}"
    version = "{{ version }}"
}