data "aws_vpc" "example" {
    cidr_block = "{{ cidr_block }}"
    default = {{ default }}
    dhcp_options_id = "{{ dhcp_options_id }}"
    id = "{{ id }}"
    region = "{{ region }}"
    state = "{{ state }}"
    tags = {
        key = "{{ tags_value }}"
      }
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
