resource "aws_rekognition_collection" "example" {
    arn = "{{ arn }}"
    collection_id = "{{ collection_id }}"
    face_model_version = "{{ face_model_version }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}