data "aws_eks_access_entry" "example" {
    cluster_name = "{{ cluster_name }}"
    id = "{{ id }}"
    principal_arn = "{{ principal_arn }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
