resource "aws_chime_voice_connector" "example" {
    aws_region = "{{ aws_region }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    require_encryption = {{ require_encryption }}
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
