resource "aws_glacier_vault" "example" {
    access_policy = "{{ access_policy }}"
    arn = "{{ arn }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}