resource "aws_connect_user" "example" {
    arn = "{{ arn }}"
    directory_user_id = "{{ directory_user_id }}"
    hierarchy_group_id = "{{ hierarchy_group_id }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    password = "{{ password }}"
    routing_profile_id = "{{ routing_profile_id }}"
    security_profile_ids = "{{ security_profile_ids }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    user_id = "{{ user_id }}"
}