resource "aws_dx_macsec_key_association" "example" {
    cak = "{{ cak }}"
    ckn = "{{ ckn }}"
    connection_id = "{{ connection_id }}"
    id = "{{ id }}"
    region = "{{ region }}"
    secret_arn = "{{ secret_arn }}"
}
