resource "aws_sagemaker_model_package_group" "example" {
    id = "{{ id }}"
    model_package_group_description = "{{ model_package_group_description }}"
    model_package_group_name = "{{ model_package_group_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
