data "aws_redshift_cluster_credentials" "example" {
    auto_create = "{{ auto_create }}"
    cluster_identifier = "{{ cluster_identifier }}"
    db_groups = "{{ db_groups }}"
    db_name = "{{ db_name }}"
    db_password = "{{ db_password }}"
    db_user = "{{ db_user }}"
    duration_seconds = "{{ duration_seconds }}"
    expiration = "{{ expiration }}"
    id = "{{ id }}"
}