resource "aws_organizations_account" "example" {
    close_on_deletion = {{ close_on_deletion }}
    create_govcloud = {{ create_govcloud }}
    email = "{{ email }}"
    iam_user_access_to_billing = "{{ iam_user_access_to_billing }}"
    id = "{{ id }}"
    name = "{{ name }}"
    parent_id = "{{ parent_id }}"
    role_name = "{{ role_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
