resource "aws_gamelift_fleet" "example" {
    arn = "{{ arn }}"
    build_arn = "{{ build_arn }}"
    build_id = "{{ build_id }}"
    description = "{{ description }}"
    ec2_instance_type = "{{ ec2_instance_type }}"
    fleet_type = "{{ fleet_type }}"
    id = "{{ id }}"
    instance_role_arn = "{{ instance_role_arn }}"
    log_paths = "{{ log_paths }}"
    metric_groups = "{{ metric_groups }}"
    name = "{{ name }}"
    new_game_session_protection_policy = "{{ new_game_session_protection_policy }}"
    operating_system = "{{ operating_system }}"
    script_arn = "{{ script_arn }}"
    script_id = "{{ script_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}