resource "aws_db_cluster_snapshot" "example" {
    db_cluster_identifier = "{{ db_cluster_identifier }}"
    db_cluster_snapshot_identifier = "{{ db_cluster_snapshot_identifier }}"
    id = "{{ id }}"
    region = "{{ region }}"
    shared_accounts = ["{{ shared_accounts }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
    }
}
