resource "aws_connect_quick_connect" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    quick_connect_config {
      quick_connect_type = "{{ quick_connect_type }}"
      phone_config {
        phone_number = "{{ phone_number }}"
      }
      queue_config {
        contact_flow_id = "{{ contact_flow_id }}"
        queue_id = "{{ queue_id }}"
      }
      user_config {
        contact_flow_id = "{{ contact_flow_id }}"
        user_id = "{{ user_id }}"
      }
    }
}
