resource "aws_connect_contact_flow" "example" {
    arn = "{{ arn }}"
    contact_flow_id = "{{ contact_flow_id }}"
    content = "{{ content }}"
    content_hash = "{{ content_hash }}"
    description = "{{ description }}"
    filename = "{{ filename }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}