resource "aws_cloudfront_distribution" "example" {
    aliases = "{{ aliases }}"
    arn = "{{ arn }}"
    caller_reference = "{{ caller_reference }}"
    comment = "{{ comment }}"
    continuous_deployment_policy_id = "{{ continuous_deployment_policy_id }}"
    default_root_object = "{{ default_root_object }}"
    domain_name = "{{ domain_name }}"
    enabled = "{{ enabled }}"
    etag = "{{ etag }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    http_version = "{{ http_version }}"
    id = "{{ id }}"
    in_progress_validation_batches = "{{ in_progress_validation_batches }}"
    is_ipv6_enabled = "{{ is_ipv6_enabled }}"
    last_modified_time = "{{ last_modified_time }}"
    price_class = "{{ price_class }}"
    retain_on_delete = "{{ retain_on_delete }}"
    staging = "{{ staging }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    trusted_key_groups = "{{ trusted_key_groups }}"
    trusted_signers = "{{ trusted_signers }}"
    wait_for_deployment = "{{ wait_for_deployment }}"
    web_acl_id = "{{ web_acl_id }}"
}