resource "aws_iam_policy" "example" {
    arn = "{{ arn }}"
    attachment_count = "{{ attachment_count }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    path = "{{ path }}"
    policy = "{{ policy }}"
    policy_id = "{{ policy_id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}