resource "aws_eks_pod_identity_association" "example" {
    cluster_name = "{{ cluster_name }}"
    disable_session_tags = {{ disable_session_tags }}
    namespace = "{{ namespace }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    service_account = "{{ service_account }}"
    tags = {
        key = "{{ tags_value }}"
      }
    target_role_arn = "{{ target_role_arn }}"
}
