data "aws_codeguruprofiler_profiling_group" "example" {
    agent_orchestration_config = "{{ agent_orchestration_config }}"
    arn = "{{ arn }}"
    compute_platform = "{{ compute_platform }}"
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    name = "{{ name }}"
    profiling_status = "{{ profiling_status }}"
    tags = "{{ tags }}"
    updated_at = "{{ updated_at }}"
}