resource "aws_medialive_input" "example" {
    arn = "{{ arn }}"
    attached_channels = "{{ attached_channels }}"
    id = "{{ id }}"
    input_class = "{{ input_class }}"
    input_partner_ids = "{{ input_partner_ids }}"
    input_security_groups = "{{ input_security_groups }}"
    input_source_type = "{{ input_source_type }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
}