resource "aws_chime_voice_connector_streaming" "example" {
    data_retention = "{{ data_retention }}"
    disabled = "{{ disabled }}"
    id = "{{ id }}"
    streaming_notification_targets = "{{ streaming_notification_targets }}"
    voice_connector_id = "{{ voice_connector_id }}"
}