resource "aws_secretsmanager_secret" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    force_overwrite_replica_secret = "{{ force_overwrite_replica_secret }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    policy = "{{ policy }}"
    recovery_window_in_days = "{{ recovery_window_in_days }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}