resource "aws_dx_gateway_association_proposal" "example" {
    allowed_prefixes = "{{ allowed_prefixes }}"
    associated_gateway_id = "{{ associated_gateway_id }}"
    associated_gateway_owner_account_id = "{{ associated_gateway_owner_account_id }}"
    associated_gateway_type = "{{ associated_gateway_type }}"
    dx_gateway_id = "{{ dx_gateway_id }}"
    dx_gateway_owner_account_id = "{{ dx_gateway_owner_account_id }}"
    id = "{{ id }}"
}