resource "aws_codebuild_source_credential" "example" {
    arn = "{{ arn }}"
    auth_type = "{{ auth_type }}"
    id = "{{ id }}"
    server_type = "{{ server_type }}"
    token = "{{ token }}"
    user_name = "{{ user_name }}"
}