data "aws_cloudcontrolapi_resource" "example" {
    id = "{{ id }}"
    identifier = "{{ identifier }}"
    properties = "{{ properties }}"
    role_arn = "{{ role_arn }}"
    type_name = "{{ type_name }}"
    type_version_id = "{{ type_version_id }}"
}