resource "aws_datazone_user_profile" "example" {
    domain_identifier = "{{ domain_identifier }}"
    region = "{{ region }}"
    status = "{{ status }}"
    user_identifier = "{{ user_identifier }}"
    user_type = "{{ user_type }}"
    timeouts {
      create = "{{ create }}"
      update = "{{ update }}"
    }
}
