resource "aws_codeguruprofiler_profiling_group" "example" {
    compute_platform = "{{ compute_platform }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    agent_orchestration_config {
      profiling_enabled = {{ profiling_enabled }}
    }
}
