resource "aws_s3control_multi_region_access_point_policy" "example" {
    account_id = "{{ account_id }}"
    id = "{{ id }}"
    region = "{{ region }}"
    details {
      name = "{{ name }}"
      policy = "{{ policy }}"
    }
    timeouts {
      create = "{{ create }}"
      update = "{{ update }}"
    }
}
