resource "aws_appsync_datasource" "example" {
    api_id = "{{ api_id }}"
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    service_role_arn = "{{ service_role_arn }}"
    type = "{{ type }}"
}