resource "aws_imagebuilder_lifecycle_policy" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    execution_role = "{{ execution_role }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_type = "{{ resource_type }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}