resource "aws_apigatewayv2_route_response" "example" {
    api_id = "{{ api_id }}"
    id = "{{ id }}"
    model_selection_expression = "{{ model_selection_expression }}"
    response_models = "{{ response_models }}"
    route_id = "{{ route_id }}"
    route_response_key = "{{ route_response_key }}"
}