resource "aws_transfer_server" "example" {
    arn = "{{ arn }}"
    certificate = "{{ certificate }}"
    directory_id = "{{ directory_id }}"
    domain = "{{ domain }}"
    endpoint = "{{ endpoint }}"
    endpoint_type = "{{ endpoint_type }}"
    force_destroy = "{{ force_destroy }}"
    function = "{{ function }}"
    host_key = "{{ host_key }}"
    host_key_fingerprint = "{{ host_key_fingerprint }}"
    id = "{{ id }}"
    identity_provider_type = "{{ identity_provider_type }}"
    invocation_role = "{{ invocation_role }}"
    logging_role = "{{ logging_role }}"
    post_authentication_login_banner = "{{ post_authentication_login_banner }}"
    pre_authentication_login_banner = "{{ pre_authentication_login_banner }}"
    protocols = "{{ protocols }}"
    security_policy_name = "{{ security_policy_name }}"
    sftp_authentication_methods = "{{ sftp_authentication_methods }}"
    structured_log_destinations = "{{ structured_log_destinations }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    url = "{{ url }}"
}