resource "aws_s3_bucket" "example" {
    acceleration_status = "{{ acceleration_status }}"
    acl = "{{ acl }}"
    arn = "{{ arn }}"
    bucket = "{{ bucket }}"
    bucket_domain_name = "{{ bucket_domain_name }}"
    bucket_prefix = "{{ bucket_prefix }}"
    bucket_regional_domain_name = "{{ bucket_regional_domain_name }}"
    force_destroy = "{{ force_destroy }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    id = "{{ id }}"
    object_lock_enabled = "{{ object_lock_enabled }}"
    policy = "{{ policy }}"
    region = "{{ region }}"
    request_payer = "{{ request_payer }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    website_domain = "{{ website_domain }}"
    website_endpoint = "{{ website_endpoint }}"
}