resource "aws_appsync_api_key" "example" {
    api_id = "{{ api_id }}"
    api_key_id = "{{ api_key_id }}"
    description = "{{ description }}"
    expires = "{{ expires }}"
    id = "{{ id }}"
    key = "{{ key }}"
}