resource "aws_mq_configuration" "example" {
    arn = "{{ arn }}"
    authentication_strategy = "{{ authentication_strategy }}"
    data = "{{ data }}"
    description = "{{ description }}"
    engine_type = "{{ engine_type }}"
    engine_version = "{{ engine_version }}"
    id = "{{ id }}"
    latest_revision = "{{ latest_revision }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}