resource "aws_schemas_schema" "example" {
    content = "{{ content }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    registry_name = "{{ registry_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    type = "{{ type }}"
}
