data "aws_dx_location" "example" {
    available_macsec_port_speeds = "{{ available_macsec_port_speeds }}"
    available_port_speeds = "{{ available_port_speeds }}"
    available_providers = "{{ available_providers }}"
    id = "{{ id }}"
    location_code = "{{ location_code }}"
    location_name = "{{ location_name }}"
}