resource "aws_s3_directory_bucket" "example" {
    bucket = "{{ bucket }}"
    data_redundancy = "{{ data_redundancy }}"
    force_destroy = {{ force_destroy }}
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    type = "{{ type }}"
    location {
      name = "{{ name }}"
      type = "{{ type }}"
    }
}
