data "aws_connect_contact_flow_module" "example" {
    contact_flow_module_id = "{{ contact_flow_module_id }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
