resource "aws_datazone_asset_type" "example" {
    created_at = "{{ created_at }}"
    created_by = "{{ created_by }}"
    description = "{{ description }}"
    domain_identifier = "{{ domain_identifier }}"
    name = "{{ name }}"
    owning_project_identifier = "{{ owning_project_identifier }}"
    revision = "{{ revision }}"
}