resource "aws_globalaccelerator_custom_routing_endpoint_group" "example" {
    arn = "{{ arn }}"
    endpoint_group_region = "{{ endpoint_group_region }}"
    id = "{{ id }}"
    listener_arn = "{{ listener_arn }}"
}