resource "aws_iot_provisioning_template" "example" {
    description = "{{ description }}"
    enabled = {{ enabled }}
    id = "{{ id }}"
    name = "{{ name }}"
    provisioning_role_arn = "{{ provisioning_role_arn }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    template_body = "{{ template_body }}"
    type = "{{ type }}"
    pre_provisioning_hook {
      payload_version = "{{ payload_version }}"
      target_arn = "{{ target_arn }}"
    }
}
