data "aws_location_map" "example" {
    configuration = "{{ configuration }}"
    create_time = "{{ create_time }}"
    description = "{{ description }}"
    id = "{{ id }}"
    map_arn = "{{ map_arn }}"
    map_name = "{{ map_name }}"
    tags = "{{ tags }}"
    update_time = "{{ update_time }}"
}