ephemeral "aws_lambda_invocation" "example" {
    client_context = "{{ client_context }}"
    function_name = "{{ function_name }}"
    log_type = "{{ log_type }}"
    payload = "{{ payload }}"
    qualifier = "{{ qualifier }}"
    region = "{{ region }}"
}
