data "aws_connect_contact_flow_module" "example" {
    arn = "{{ arn }}"
    contact_flow_module_id = "{{ contact_flow_module_id }}"
    content = "{{ content }}"
    description = "{{ description }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    state = "{{ state }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}