resource "aws_devicefarm_upload" "example" {
    arn = "{{ arn }}"
    category = "{{ category }}"
    content_type = "{{ content_type }}"
    id = "{{ id }}"
    metadata = "{{ metadata }}"
    name = "{{ name }}"
    project_arn = "{{ project_arn }}"
    type = "{{ type }}"
    url = "{{ url }}"
}