resource "aws_db_snapshot_copy" "example" {
    allocated_storage = "{{ allocated_storage }}"
    availability_zone = "{{ availability_zone }}"
    copy_tags = "{{ copy_tags }}"
    db_snapshot_arn = "{{ db_snapshot_arn }}"
    destination_region = "{{ destination_region }}"
    encrypted = "{{ encrypted }}"
    engine = "{{ engine }}"
    engine_version = "{{ engine_version }}"
    id = "{{ id }}"
    iops = "{{ iops }}"
    kms_key_id = "{{ kms_key_id }}"
    license_model = "{{ license_model }}"
    option_group_name = "{{ option_group_name }}"
    port = "{{ port }}"
    presigned_url = "{{ presigned_url }}"
    shared_accounts = "{{ shared_accounts }}"
    snapshot_type = "{{ snapshot_type }}"
    source_db_snapshot_identifier = "{{ source_db_snapshot_identifier }}"
    source_region = "{{ source_region }}"
    storage_type = "{{ storage_type }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    target_custom_availability_zone = "{{ target_custom_availability_zone }}"
    target_db_snapshot_identifier = "{{ target_db_snapshot_identifier }}"
    vpc_id = "{{ vpc_id }}"
}