data "aws_imagebuilder_distribution_configuration" "example" {
    arn = "{{ arn }}"
    date_created = "{{ date_created }}"
    date_updated = "{{ date_updated }}"
    description = "{{ description }}"
    distribution = "{{ distribution }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
}