resource "aws_emr_security_configuration" "example" {
    configuration = "{{ configuration }}"
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    region = "{{ region }}"
}
