resource "aws_kendra_faq" "example" {
    description = "{{ description }}"
    file_format = "{{ file_format }}"
    id = "{{ id }}"
    index_id = "{{ index_id }}"
    language_code = "{{ language_code }}"
    name = "{{ name }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    s3_path {
      bucket = "{{ bucket }}"
      key = "{{ key }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
