resource "aws_chimesdkvoice_sip_media_application" "example" {
    aws_region = "{{ aws_region }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    endpoints {
      lambda_arn = "{{ lambda_arn }}"
    }
}
