resource "aws_iot_policy" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    policy = "{{ policy }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
