data "aws_appstream_image" "example" {
    applications = "{{ applications }}"
    appstream_agent_version = "{{ appstream_agent_version }}"
    arn = "{{ arn }}"
    base_image_arn = "{{ base_image_arn }}"
    created_time = "{{ created_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    image_builder_name = "{{ image_builder_name }}"
    image_builder_supported = "{{ image_builder_supported }}"
    image_permissions = "{{ image_permissions }}"
    most_recent = "{{ most_recent }}"
    name = "{{ name }}"
    name_regex = "{{ name_regex }}"
    platform = "{{ platform }}"
    public_base_image_released_date = "{{ public_base_image_released_date }}"
    state = "{{ state }}"
    state_change_reason = "{{ state_change_reason }}"
    type = "{{ type }}"
}