resource "aws_sesv2_dedicated_ip_pool" "example" {
    id = "{{ id }}"
    pool_name = "{{ pool_name }}"
    region = "{{ region }}"
    scaling_mode = "{{ scaling_mode }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
