resource "aws_sagemaker_model_package_group" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    model_package_group_description = "{{ model_package_group_description }}"
    model_package_group_name = "{{ model_package_group_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}