resource "aws_controltower_landing_zone" "example" {
    id = "{{ id }}"
    manifest_json = "{{ manifest_json }}"
    region = "{{ region }}"
    remediation_types = ["{{ remediation_types }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    version = "{{ version }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
