resource "aws_iam_openid_connect_provider" "example" {
    client_id_list = ["{{ client_id_list }}"]
    id = "{{ id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    thumbprint_list = ["{{ thumbprint_list }}"]
    url = "{{ url }}"
}
