data "aws_ec2_instance_type_offerings" "example" {
    id = "{{ id }}"
    instance_types = "{{ instance_types }}"
    location_type = "{{ location_type }}"
    location_types = "{{ location_types }}"
    locations = "{{ locations }}"
}