resource "aws_dx_hosted_public_virtual_interface" "example" {
    address_family = "{{ address_family }}"
    amazon_address = "{{ amazon_address }}"
    amazon_side_asn = "{{ amazon_side_asn }}"
    arn = "{{ arn }}"
    aws_device = "{{ aws_device }}"
    bgp_asn = "{{ bgp_asn }}"
    bgp_auth_key = "{{ bgp_auth_key }}"
    connection_id = "{{ connection_id }}"
    customer_address = "{{ customer_address }}"
    id = "{{ id }}"
    name = "{{ name }}"
    owner_account_id = "{{ owner_account_id }}"
    route_filter_prefixes = "{{ route_filter_prefixes }}"
    vlan = "{{ vlan }}"
}