resource "aws_fms_resource_set" "example" {
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    resource_set {
      description = "{{ description }}"
      name = "{{ name }}"
      resource_set_status = "{{ resource_set_status }}"
      resource_type_list = ["{{ resource_type_list }}"]
      update_token = "{{ update_token }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
