resource "aws_iam_virtual_mfa_device" "example" {
    id = "{{ id }}"
    path = "{{ path }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    virtual_mfa_device_name = "{{ virtual_mfa_device_name }}"
}
