resource "aws_cloudsearch_domain" "example" {
    arn = "{{ arn }}"
    document_service_endpoint = "{{ document_service_endpoint }}"
    domain_id = "{{ domain_id }}"
    id = "{{ id }}"
    multi_az = "{{ multi_az }}"
    name = "{{ name }}"
    search_service_endpoint = "{{ search_service_endpoint }}"
}