data "aws_efs_file_system" "example" {
    arn = "{{ arn }}"
    availability_zone_id = "{{ availability_zone_id }}"
    availability_zone_name = "{{ availability_zone_name }}"
    creation_token = "{{ creation_token }}"
    dns_name = "{{ dns_name }}"
    encrypted = "{{ encrypted }}"
    file_system_id = "{{ file_system_id }}"
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    lifecycle_policy = "{{ lifecycle_policy }}"
    name = "{{ name }}"
    performance_mode = "{{ performance_mode }}"
    protection = "{{ protection }}"
    provisioned_throughput_in_mibps = "{{ provisioned_throughput_in_mibps }}"
    size_in_bytes = "{{ size_in_bytes }}"
    tags = "{{ tags }}"
    throughput_mode = "{{ throughput_mode }}"
}