resource "aws_lexv2models_bot" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    idle_session_ttl_in_seconds = "{{ idle_session_ttl_in_seconds }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    test_bot_alias_tags = "{{ test_bot_alias_tags }}"
    type = "{{ type }}"
}