resource "aws_codebuild_fleet" "example" {
    base_capacity = {{ base_capacity }}
    compute_type = "{{ compute_type }}"
    environment_type = "{{ environment_type }}"
    fleet_service_role = "{{ fleet_service_role }}"
    image_id = "{{ image_id }}"
    name = "{{ name }}"
    overflow_behavior = "{{ overflow_behavior }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    compute_configuration {
      disk = {{ disk }}
      instance_type = "{{ instance_type }}"
      machine_type = "{{ machine_type }}"
      memory = {{ memory }}
      vcpu = {{ vcpu }}
    }
    scaling_configuration {
      max_capacity = {{ max_capacity }}
      scaling_type = "{{ scaling_type }}"
      target_tracking_scaling_configs {
        metric_type = "{{ metric_type }}"
        target_value = {{ target_value }}
      }
    }
    vpc_config {
      security_group_ids = ["{{ security_group_ids }}"]
      subnets = ["{{ subnets }}"]
      vpc_id = "{{ vpc_id }}"
    }
}
