resource "aws_transfer_access" "example" {
    external_id = "{{ external_id }}"
    home_directory = "{{ home_directory }}"
    home_directory_type = "{{ home_directory_type }}"
    id = "{{ id }}"
    policy = "{{ policy }}"
    role = "{{ role }}"
    server_id = "{{ server_id }}"
}