resource "aws_ec2_transit_gateway_multicast_domain_association" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    subnet_id = "{{ subnet_id }}"
    transit_gateway_attachment_id = "{{ transit_gateway_attachment_id }}"
    transit_gateway_multicast_domain_id = "{{ transit_gateway_multicast_domain_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
