resource "aws_ses_event_destination" "example" {
    arn = "{{ arn }}"
    configuration_set_name = "{{ configuration_set_name }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    matching_types = "{{ matching_types }}"
    name = "{{ name }}"
}