resource "aws_auditmanager_framework_share" "example" {
    comment = "{{ comment }}"
    destination_account = "{{ destination_account }}"
    destination_region = "{{ destination_region }}"
    framework_id = "{{ framework_id }}"
    id = "{{ id }}"
    status = "{{ status }}"
}