resource "aws_vpclattice_service_network_service_association" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    service_identifier = "{{ service_identifier }}"
    service_network_identifier = "{{ service_network_identifier }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
