resource "aws_transfer_profile" "example" {
    arn = "{{ arn }}"
    as2_id = "{{ as2_id }}"
    certificate_ids = "{{ certificate_ids }}"
    id = "{{ id }}"
    profile_id = "{{ profile_id }}"
    profile_type = "{{ profile_type }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}