resource "aws_secretsmanager_secret_version" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    secret_binary = "{{ secret_binary }}"
    secret_id = "{{ secret_id }}"
    secret_string = "{{ secret_string }}"
    secret_string_wo = "{{ secret_string_wo }}"
    secret_string_wo_version = {{ secret_string_wo_version }}
    version_stages = ["{{ version_stages }}"]
}
