resource "aws_route53recoveryreadiness_cell" "example" {
    cell_name = "{{ cell_name }}"
    cells = ["{{ cells }}"]
    id = "{{ id }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      delete = "{{ delete }}"
    }
}
