resource "aws_rolesanywhere_profile" "example" {
    accept_role_session_name = {{ accept_role_session_name }}
    duration_seconds = {{ duration_seconds }}
    enabled = {{ enabled }}
    id = "{{ id }}"
    managed_policy_arns = ["{{ managed_policy_arns }}"]
    name = "{{ name }}"
    require_instance_properties = {{ require_instance_properties }}
    role_arns = ["{{ role_arns }}"]
    session_policy = "{{ session_policy }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
