data "aws_dx_router_configuration" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    router_type_identifier = "{{ router_type_identifier }}"
    virtual_interface_id = "{{ virtual_interface_id }}"
}
