resource "aws_directory_service_shared_directory_accepter" "example" {
    id = "{{ id }}"
    region = "{{ region }}"
    shared_directory_id = "{{ shared_directory_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
