resource "aws_fsx_openzfs_snapshot" "example" {
    arn = "{{ arn }}"
    creation_time = "{{ creation_time }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    volume_id = "{{ volume_id }}"
}