resource "aws_ce_anomaly_monitor" "example" {
    id = "{{ id }}"
    monitor_dimension = "{{ monitor_dimension }}"
    monitor_specification = "{{ monitor_specification }}"
    monitor_type = "{{ monitor_type }}"
    name = "{{ name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
