resource "aws_dx_bgp_peer" "example" {
    address_family = "{{ address_family }}"
    amazon_address = "{{ amazon_address }}"
    bgp_asn = {{ bgp_asn }}
    bgp_auth_key = "{{ bgp_auth_key }}"
    customer_address = "{{ customer_address }}"
    id = "{{ id }}"
    region = "{{ region }}"
    virtual_interface_id = "{{ virtual_interface_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
