resource "aws_sesv2_configuration_set_event_destination" "example" {
    configuration_set_name = "{{ configuration_set_name }}"
    event_destination_name = "{{ event_destination_name }}"
    id = "{{ id }}"
    region = "{{ region }}"
    event_destination {
      enabled = {{ enabled }}
      matching_event_types = ["{{ matching_event_types }}"]
      cloud_watch_destination {
        dimension_configuration {
          default_dimension_value = "{{ default_dimension_value }}"
          dimension_name = "{{ dimension_name }}"
          dimension_value_source = "{{ dimension_value_source }}"
        }
      }
      event_bridge_destination {
        event_bus_arn = "{{ event_bus_arn }}"
      }
      kinesis_firehose_destination {
        delivery_stream_arn = "{{ delivery_stream_arn }}"
        iam_role_arn = "{{ iam_role_arn }}"
      }
      pinpoint_destination {
        application_arn = "{{ application_arn }}"
      }
      sns_destination {
        topic_arn = "{{ topic_arn }}"
      }
    }
}
