resource "aws_datazone_environment" "example" {
    account_identifier = "{{ account_identifier }}"
    account_region = "{{ account_region }}"
    blueprint_identifier = "{{ blueprint_identifier }}"
    description = "{{ description }}"
    domain_identifier = "{{ domain_identifier }}"
    glossary_terms = ["{{ glossary_terms }}"]
    name = "{{ name }}"
    profile_identifier = "{{ profile_identifier }}"
    project_identifier = "{{ project_identifier }}"
    region = "{{ region }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
    user_parameters {
      name = "{{ name }}"
      value = "{{ value }}"
    }
}
