resource "aws_sns_sms_preferences" "example" {
    default_sender_id = "{{ default_sender_id }}"
    default_sms_type = "{{ default_sms_type }}"
    delivery_status_iam_role_arn = "{{ delivery_status_iam_role_arn }}"
    delivery_status_success_sampling_rate = "{{ delivery_status_success_sampling_rate }}"
    id = "{{ id }}"
    monthly_spend_limit = "{{ monthly_spend_limit }}"
    usage_report_s3_bucket = "{{ usage_report_s3_bucket }}"
}