data "aws_eip" "example" {
    arn = "{{ arn }}"
    association_id = "{{ association_id }}"
    carrier_ip = "{{ carrier_ip }}"
    customer_owned_ip = "{{ customer_owned_ip }}"
    customer_owned_ipv4_pool = "{{ customer_owned_ipv4_pool }}"
    domain = "{{ domain }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    ipam_pool_id = "{{ ipam_pool_id }}"
    network_interface_id = "{{ network_interface_id }}"
    network_interface_owner_id = "{{ network_interface_owner_id }}"
    private_dns = "{{ private_dns }}"
    private_ip = "{{ private_ip }}"
    ptr_record = "{{ ptr_record }}"
    public_dns = "{{ public_dns }}"
    public_ip = "{{ public_ip }}"
    public_ipv4_pool = "{{ public_ipv4_pool }}"
    tags = "{{ tags }}"
}