data "aws_emrcontainers_virtual_cluster" "example" {
    arn = "{{ arn }}"
    container_provider = "{{ container_provider }}"
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    name = "{{ name }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
    virtual_cluster_id = "{{ virtual_cluster_id }}"
}