data "aws_ecr_repository_creation_template" "example" {
    id = "{{ id }}"
    prefix = "{{ prefix }}"
    region = "{{ region }}"
    resource_tags = {
        key = "{{ resource_tags_value }}"
      }
}
