resource "aws_customer_gateway" "example" {
    bgp_asn = "{{ bgp_asn }}"
    bgp_asn_extended = "{{ bgp_asn_extended }}"
    certificate_arn = "{{ certificate_arn }}"
    device_name = "{{ device_name }}"
    id = "{{ id }}"
    ip_address = "{{ ip_address }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    type = "{{ type }}"
}
