resource "aws_route53profiles_resource_association" "example" {
    name = "{{ name }}"
    profile_id = "{{ profile_id }}"
    region = "{{ region }}"
    resource_arn = "{{ resource_arn }}"
    resource_properties = "{{ resource_properties }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
    }
}
