resource "aws_kms_replica_external_key" "example" {
    bypass_policy_lockout_safety_check = {{ bypass_policy_lockout_safety_check }}
    deletion_window_in_days = {{ deletion_window_in_days }}
    description = "{{ description }}"
    enabled = {{ enabled }}
    id = "{{ id }}"
    key_material_base64 = "{{ key_material_base64 }}"
    policy = "{{ policy }}"
    primary_key_arn = "{{ primary_key_arn }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    valid_to = "{{ valid_to }}"
}
