resource "aws_lightsail_instance" "example" {
    arn = "{{ arn }}"
    availability_zone = "{{ availability_zone }}"
    blueprint_id = "{{ blueprint_id }}"
    bundle_id = "{{ bundle_id }}"
    cpu_count = "{{ cpu_count }}"
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    ip_address_type = "{{ ip_address_type }}"
    ipv6_addresses = "{{ ipv6_addresses }}"
    is_static_ip = "{{ is_static_ip }}"
    key_pair_name = "{{ key_pair_name }}"
    name = "{{ name }}"
    private_ip_address = "{{ private_ip_address }}"
    public_ip_address = "{{ public_ip_address }}"
    ram_size = "{{ ram_size }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    user_data = "{{ user_data }}"
    username = "{{ username }}"
}