resource "aws_lambda_event_source_mapping" "example" {
    arn = "{{ arn }}"
    batch_size = "{{ batch_size }}"
    bisect_batch_on_function_error = "{{ bisect_batch_on_function_error }}"
    enabled = "{{ enabled }}"
    event_source_arn = "{{ event_source_arn }}"
    function_arn = "{{ function_arn }}"
    function_name = "{{ function_name }}"
    function_response_types = "{{ function_response_types }}"
    id = "{{ id }}"
    kms_key_arn = "{{ kms_key_arn }}"
    last_modified = "{{ last_modified }}"
    last_processing_result = "{{ last_processing_result }}"
    maximum_batching_window_in_seconds = "{{ maximum_batching_window_in_seconds }}"
    maximum_record_age_in_seconds = "{{ maximum_record_age_in_seconds }}"
    maximum_retry_attempts = "{{ maximum_retry_attempts }}"
    parallelization_factor = "{{ parallelization_factor }}"
    queues = "{{ queues }}"
    starting_position = "{{ starting_position }}"
    starting_position_timestamp = "{{ starting_position_timestamp }}"
    state = "{{ state }}"
    state_transition_reason = "{{ state_transition_reason }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    topics = "{{ topics }}"
    tumbling_window_in_seconds = "{{ tumbling_window_in_seconds }}"
    uuid = "{{ uuid }}"
}