data "aws_connect_quick_connect" "example" {
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    name = "{{ name }}"
    quick_connect_id = "{{ quick_connect_id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
