resource "aws_transfer_web_app_customization" "example" {
    favicon_file = "{{ favicon_file }}"
    logo_file = "{{ logo_file }}"
    region = "{{ region }}"
    title = "{{ title }}"
    web_app_id = "{{ web_app_id }}"
}
