data "aws_servicecatalog_product" "example" {
    accept_language = "{{ accept_language }}"
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      read = "{{ read }}"
    }
}
