resource "aws_volume_attachment" "example" {
    device_name = "{{ device_name }}"
    force_detach = {{ force_detach }}
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    region = "{{ region }}"
    skip_destroy = {{ skip_destroy }}
    stop_instance_before_detaching = {{ stop_instance_before_detaching }}
    volume_id = "{{ volume_id }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
