data "aws_internet_gateway" "example" {
    id = "{{ id }}"
    internet_gateway_id = "{{ internet_gateway_id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
