data "aws_glue_catalog_table" "example" {
    catalog_id = "{{ catalog_id }}"
    database_name = "{{ database_name }}"
    id = "{{ id }}"
    name = "{{ name }}"
    query_as_of_time = "{{ query_as_of_time }}"
    region = "{{ region }}"
    transaction_id = {{ transaction_id }}
}
