resource "aws_finspace_kx_scaling_group" "example" {
    arn = "{{ arn }}"
    availability_zone_id = "{{ availability_zone_id }}"
    clusters = "{{ clusters }}"
    created_timestamp = "{{ created_timestamp }}"
    environment_id = "{{ environment_id }}"
    host_type = "{{ host_type }}"
    id = "{{ id }}"
    last_modified_timestamp = "{{ last_modified_timestamp }}"
    name = "{{ name }}"
    status = "{{ status }}"
    status_reason = "{{ status_reason }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}