resource "aws_lightsail_bucket" "example" {
    arn = "{{ arn }}"
    availability_zone = "{{ availability_zone }}"
    bundle_id = "{{ bundle_id }}"
    created_at = "{{ created_at }}"
    force_delete = "{{ force_delete }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    support_code = "{{ support_code }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    url = "{{ url }}"
}