resource "aws_kinesis_analytics_application" "example" {
    arn = "{{ arn }}"
    code = "{{ code }}"
    create_timestamp = "{{ create_timestamp }}"
    description = "{{ description }}"
    id = "{{ id }}"
    last_update_timestamp = "{{ last_update_timestamp }}"
    name = "{{ name }}"
    start_application = "{{ start_application }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    version = "{{ version }}"
}