resource "aws_directory_service_shared_directory" "example" {
    directory_id = "{{ directory_id }}"
    id = "{{ id }}"
    method = "{{ method }}"
    notes = "{{ notes }}"
    region = "{{ region }}"
    target {
      id = "{{ id }}"
      type = "{{ type }}"
    }
    timeouts {
      delete = "{{ delete }}"
    }
}
