resource "aws_connect_instance" "example" {
    arn = "{{ arn }}"
    auto_resolve_best_voices_enabled = "{{ auto_resolve_best_voices_enabled }}"
    contact_flow_logs_enabled = "{{ contact_flow_logs_enabled }}"
    contact_lens_enabled = "{{ contact_lens_enabled }}"
    created_time = "{{ created_time }}"
    directory_id = "{{ directory_id }}"
    early_media_enabled = "{{ early_media_enabled }}"
    id = "{{ id }}"
    identity_management_type = "{{ identity_management_type }}"
    inbound_calls_enabled = "{{ inbound_calls_enabled }}"
    instance_alias = "{{ instance_alias }}"
    multi_party_conference_enabled = "{{ multi_party_conference_enabled }}"
    outbound_calls_enabled = "{{ outbound_calls_enabled }}"
    service_role = "{{ service_role }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}