data "aws_cloudfront_realtime_log_config" "example" {
    arn = "{{ arn }}"
    endpoint = "{{ endpoint }}"
    fields = "{{ fields }}"
    id = "{{ id }}"
    name = "{{ name }}"
    sampling_rate = "{{ sampling_rate }}"
}