data "aws_prefix_list" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    prefix_list_id = "{{ prefix_list_id }}"
    region = "{{ region }}"
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
