ephemeral "aws_secretsmanager_secret_version" "example" {
    region = "{{ region }}"
    secret_id = "{{ secret_id }}"
    version_id = "{{ version_id }}"
    version_stage = "{{ version_stage }}"
}
