data "aws_connect_queue" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    hours_of_operation_id = "{{ hours_of_operation_id }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    max_contacts = "{{ max_contacts }}"
    name = "{{ name }}"
    outbound_caller_config = "{{ outbound_caller_config }}"
    queue_id = "{{ queue_id }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
}