data "aws_ip_ranges" "example" {
    cidr_blocks = "{{ cidr_blocks }}"
    create_date = "{{ create_date }}"
    id = "{{ id }}"
    ipv6_cidr_blocks = "{{ ipv6_cidr_blocks }}"
    regions = "{{ regions }}"
    services = "{{ services }}"
    sync_token = "{{ sync_token }}"
    url = "{{ url }}"
}