resource "aws_elasticache_user" "example" {
    access_string = "{{ access_string }}"
    arn = "{{ arn }}"
    engine = "{{ engine }}"
    id = "{{ id }}"
    no_password_required = "{{ no_password_required }}"
    passwords = "{{ passwords }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    user_id = "{{ user_id }}"
    user_name = "{{ user_name }}"
}