resource "aws_globalaccelerator_accelerator" "example" {
    dns_name = "{{ dns_name }}"
    dual_stack_dns_name = "{{ dual_stack_dns_name }}"
    enabled = "{{ enabled }}"
    hosted_zone_id = "{{ hosted_zone_id }}"
    id = "{{ id }}"
    ip_address_type = "{{ ip_address_type }}"
    ip_addresses = "{{ ip_addresses }}"
    ip_sets = "{{ ip_sets }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}