resource "aws_vpc_ipam_scope" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    ipam_id = "{{ ipam_id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
