data "aws_lb_target_group" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    load_balancing_anomaly_mitigation = "{{ load_balancing_anomaly_mitigation }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      read = "{{ read }}"
    }
}
