data "aws_backup_report_plan" "example" {
    arn = "{{ arn }}"
    creation_time = "{{ creation_time }}"
    deployment_status = "{{ deployment_status }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    report_delivery_channel = "{{ report_delivery_channel }}"
    report_setting = "{{ report_setting }}"
    tags = "{{ tags }}"
}