resource "aws_codedeploy_app" "example" {
    application_id = "{{ application_id }}"
    arn = "{{ arn }}"
    compute_platform = "{{ compute_platform }}"
    github_account_name = "{{ github_account_name }}"
    id = "{{ id }}"
    linked_to_github = "{{ linked_to_github }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}