resource "aws_medialive_channel" "example" {
    arn = "{{ arn }}"
    channel_class = "{{ channel_class }}"
    channel_id = "{{ channel_id }}"
    id = "{{ id }}"
    log_level = "{{ log_level }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    start_channel = "{{ start_channel }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}