resource "aws_s3control_bucket" "example" {
    bucket = "{{ bucket }}"
    id = "{{ id }}"
    outpost_id = "{{ outpost_id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
