resource "aws_redshiftserverless_workgroup" "example" {
    arn = "{{ arn }}"
    base_capacity = "{{ base_capacity }}"
    endpoint = "{{ endpoint }}"
    enhanced_vpc_routing = "{{ enhanced_vpc_routing }}"
    id = "{{ id }}"
    max_capacity = "{{ max_capacity }}"
    namespace_name = "{{ namespace_name }}"
    port = "{{ port }}"
    publicly_accessible = "{{ publicly_accessible }}"
    security_group_ids = "{{ security_group_ids }}"
    subnet_ids = "{{ subnet_ids }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    workgroup_id = "{{ workgroup_id }}"
    workgroup_name = "{{ workgroup_name }}"
}