resource "aws_dms_certificate" "example" {
    certificate_id = "{{ certificate_id }}"
    certificate_pem = "{{ certificate_pem }}"
    certificate_wallet = "{{ certificate_wallet }}"
    id = "{{ id }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
