resource "aws_rds_reserved_instance" "example" {
    arn = "{{ arn }}"
    currency_code = "{{ currency_code }}"
    db_instance_class = "{{ db_instance_class }}"
    duration = "{{ duration }}"
    fixed_price = "{{ fixed_price }}"
    id = "{{ id }}"
    instance_count = "{{ instance_count }}"
    lease_id = "{{ lease_id }}"
    multi_az = "{{ multi_az }}"
    offering_id = "{{ offering_id }}"
    offering_type = "{{ offering_type }}"
    product_description = "{{ product_description }}"
    recurring_charges = "{{ recurring_charges }}"
    reservation_id = "{{ reservation_id }}"
    start_time = "{{ start_time }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    usage_price = "{{ usage_price }}"
}