resource "aws_signer_signing_profile" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    platform_id = "{{ platform_id }}"
    region = "{{ region }}"
    signing_parameters = {
        key = "{{ signing_parameters_value }}"
      }
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    signature_validity_period {
      type = "{{ type }}"
      value = {{ value }}
    }
    signing_material {
      certificate_arn = "{{ certificate_arn }}"
    }
}
