resource "aws_redshiftserverless_namespace" "example" {
    admin_password_secret_kms_key_id = "{{ admin_password_secret_kms_key_id }}"
    admin_user_password = "{{ admin_user_password }}"
    admin_user_password_wo = "{{ admin_user_password_wo }}"
    admin_user_password_wo_version = {{ admin_user_password_wo_version }}
    admin_username = "{{ admin_username }}"
    db_name = "{{ db_name }}"
    default_iam_role_arn = "{{ default_iam_role_arn }}"
    iam_roles = ["{{ iam_roles }}"]
    id = "{{ id }}"
    kms_key_id = "{{ kms_key_id }}"
    log_exports = ["{{ log_exports }}"]
    manage_admin_password = {{ manage_admin_password }}
    namespace_name = "{{ namespace_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
