resource "aws_schemas_schema" "example" {
    arn = "{{ arn }}"
    content = "{{ content }}"
    description = "{{ description }}"
    id = "{{ id }}"
    last_modified = "{{ last_modified }}"
    name = "{{ name }}"
    registry_name = "{{ registry_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    type = "{{ type }}"
    version = "{{ version }}"
    version_created_date = "{{ version_created_date }}"
}