resource "aws_cognito_user" "example" {
    attributes = "{{ attributes }}"
    client_metadata = "{{ client_metadata }}"
    creation_date = "{{ creation_date }}"
    desired_delivery_mediums = "{{ desired_delivery_mediums }}"
    enabled = "{{ enabled }}"
    force_alias_creation = "{{ force_alias_creation }}"
    id = "{{ id }}"
    last_modified_date = "{{ last_modified_date }}"
    message_action = "{{ message_action }}"
    mfa_setting_list = "{{ mfa_setting_list }}"
    password = "{{ password }}"
    preferred_mfa_setting = "{{ preferred_mfa_setting }}"
    status = "{{ status }}"
    sub = "{{ sub }}"
    temporary_password = "{{ temporary_password }}"
    user_pool_id = "{{ user_pool_id }}"
    username = "{{ username }}"
    validation_data = "{{ validation_data }}"
}