data "aws_mskconnect_custom_plugin" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    id = "{{ id }}"
    latest_revision = "{{ latest_revision }}"
    name = "{{ name }}"
    state = "{{ state }}"
    tags = "{{ tags }}"
}