resource "aws_cloudfront_cache_policy" "example" {
    comment = "{{ comment }}"
    default_ttl = "{{ default_ttl }}"
    etag = "{{ etag }}"
    id = "{{ id }}"
    max_ttl = "{{ max_ttl }}"
    min_ttl = "{{ min_ttl }}"
    name = "{{ name }}"
}