resource "aws_iam_service_specific_credential" "example" {
    credential_age_days = {{ credential_age_days }}
    id = "{{ id }}"
    service_name = "{{ service_name }}"
    status = "{{ status }}"
    user_name = "{{ user_name }}"
}
