resource "aws_lexv2models_slot_type" "example" {
    bot_id = "{{ bot_id }}"
    bot_version = "{{ bot_version }}"
    description = "{{ description }}"
    id = "{{ id }}"
    locale_id = "{{ locale_id }}"
    name = "{{ name }}"
    parent_slot_type_signature = "{{ parent_slot_type_signature }}"
    slot_type_id = "{{ slot_type_id }}"
}