resource "aws_dynamodb_resource_policy" "example" {
    confirm_remove_self_resource_access = "{{ confirm_remove_self_resource_access }}"
    id = "{{ id }}"
    policy = "{{ policy }}"
    resource_arn = "{{ resource_arn }}"
    revision_id = "{{ revision_id }}"
}