resource "aws_opensearch_domain" "example" {
    access_policies = "{{ access_policies }}"
    advanced_options = "{{ advanced_options }}"
    arn = "{{ arn }}"
    dashboard_endpoint = "{{ dashboard_endpoint }}"
    dashboard_endpoint_v2 = "{{ dashboard_endpoint_v2 }}"
    domain_endpoint_v2_hosted_zone_id = "{{ domain_endpoint_v2_hosted_zone_id }}"
    domain_id = "{{ domain_id }}"
    domain_name = "{{ domain_name }}"
    endpoint = "{{ endpoint }}"
    endpoint_v2 = "{{ endpoint_v2 }}"
    engine_version = "{{ engine_version }}"
    id = "{{ id }}"
    ip_address_type = "{{ ip_address_type }}"
    kibana_endpoint = "{{ kibana_endpoint }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}