resource "aws_route53recoveryreadiness_readiness_check" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    readiness_check_name = "{{ readiness_check_name }}"
    resource_set_name = "{{ resource_set_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}