data "aws_ssoadmin_principal_application_assignments" "example" {
    id = "{{ id }}"
    instance_arn = "{{ instance_arn }}"
    principal_id = "{{ principal_id }}"
    principal_type = "{{ principal_type }}"
}