resource "aws_synthetics_canary" "example" {
    arn = "{{ arn }}"
    artifact_s3_location = "{{ artifact_s3_location }}"
    delete_lambda = "{{ delete_lambda }}"
    engine_arn = "{{ engine_arn }}"
    execution_role_arn = "{{ execution_role_arn }}"
    failure_retention_period = "{{ failure_retention_period }}"
    handler = "{{ handler }}"
    id = "{{ id }}"
    name = "{{ name }}"
    runtime_version = "{{ runtime_version }}"
    s3_bucket = "{{ s3_bucket }}"
    s3_key = "{{ s3_key }}"
    s3_version = "{{ s3_version }}"
    source_location_arn = "{{ source_location_arn }}"
    start_canary = "{{ start_canary }}"
    status = "{{ status }}"
    success_retention_period = "{{ success_retention_period }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    timeline = "{{ timeline }}"
    zip_file = "{{ zip_file }}"
}