resource "aws_backup_report_plan" "example" {
    arn = "{{ arn }}"
    creation_time = "{{ creation_time }}"
    deployment_status = "{{ deployment_status }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}