resource "aws_bedrockagent_data_source" "example" {
    data_deletion_policy = "{{ data_deletion_policy }}"
    data_source_id = "{{ data_source_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    knowledge_base_id = "{{ knowledge_base_id }}"
    name = "{{ name }}"
}