resource "aws_appstream_stack" "example" {
    arn = "{{ arn }}"
    created_time = "{{ created_time }}"
    description = "{{ description }}"
    display_name = "{{ display_name }}"
    embed_host_domains = "{{ embed_host_domains }}"
    feedback_url = "{{ feedback_url }}"
    id = "{{ id }}"
    name = "{{ name }}"
    redirect_url = "{{ redirect_url }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}