resource "aws_networkmanager_transit_gateway_peering" "example" {
    arn = "{{ arn }}"
    core_network_arn = "{{ core_network_arn }}"
    core_network_id = "{{ core_network_id }}"
    edge_location = "{{ edge_location }}"
    id = "{{ id }}"
    owner_account_id = "{{ owner_account_id }}"
    peering_type = "{{ peering_type }}"
    resource_arn = "{{ resource_arn }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    transit_gateway_arn = "{{ transit_gateway_arn }}"
    transit_gateway_peering_attachment_id = "{{ transit_gateway_peering_attachment_id }}"
}