resource "aws_cloudwatch_log_destination" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    target_arn = "{{ target_arn }}"
}
