data "aws_appmesh_mesh" "example" {
    id = "{{ id }}"
    mesh_owner = "{{ mesh_owner }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
}
