resource "aws_appmesh_virtual_gateway" "example" {
    id = "{{ id }}"
    mesh_name = "{{ mesh_name }}"
    mesh_owner = "{{ mesh_owner }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    spec {
      backend_defaults {
        client_policy {
          tls {
            enforce = {{ enforce }}
            ports = ["{{ ports }}"]
            certificate {
              file {
                certificate_chain = "{{ certificate_chain }}"
                private_key = "{{ private_key }}"
              }
              sds {
                secret_name = "{{ secret_name }}"
              }
            }
            validation {
              subject_alternative_names {
                match {
                  exact = ["{{ exact }}"]
                }
              }
              trust {
                acm {
                  certificate_authority_arns = ["{{ certificate_authority_arns }}"]
                }
                file {
                  certificate_chain = "{{ certificate_chain }}"
                }
                sds {
                  secret_name = "{{ secret_name }}"
                }
              }
            }
          }
        }
      }
      listener {
        connection_pool {
          grpc {
            max_requests = {{ max_requests }}
          }
          http {
            max_connections = {{ max_connections }}
            max_pending_requests = {{ max_pending_requests }}
          }
          http2 {
            max_requests = {{ max_requests }}
          }
        }
        health_check {
          healthy_threshold = {{ healthy_threshold }}
          interval_millis = {{ interval_millis }}
          path = "{{ path }}"
          port = {{ port }}
          protocol = "{{ protocol }}"
          timeout_millis = {{ timeout_millis }}
          unhealthy_threshold = {{ unhealthy_threshold }}
        }
        port_mapping {
          port = {{ port }}
          protocol = "{{ protocol }}"
        }
        tls {
          mode = "{{ mode }}"
          certificate {
            acm {
              certificate_arn = "{{ certificate_arn }}"
            }
            file {
              certificate_chain = "{{ certificate_chain }}"
              private_key = "{{ private_key }}"
            }
            sds {
              secret_name = "{{ secret_name }}"
            }
          }
          validation {
            subject_alternative_names {
              match {
                exact = ["{{ exact }}"]
              }
            }
            trust {
              file {
                certificate_chain = "{{ certificate_chain }}"
              }
              sds {
                secret_name = "{{ secret_name }}"
              }
            }
          }
        }
      }
      logging {
        access_log {
          file {
            path = "{{ path }}"
            format {
              text = "{{ text }}"
              json {
                key = "{{ key }}"
                value = "{{ value }}"
              }
            }
          }
        }
      }
    }
}
