resource "aws_opensearch_package" "example" {
    available_package_version = "{{ available_package_version }}"
    id = "{{ id }}"
    package_description = "{{ package_description }}"
    package_id = "{{ package_id }}"
    package_name = "{{ package_name }}"
    package_type = "{{ package_type }}"
}