resource "aws_codedeploy_deployment_config" "example" {
    arn = "{{ arn }}"
    compute_platform = "{{ compute_platform }}"
    deployment_config_id = "{{ deployment_config_id }}"
    deployment_config_name = "{{ deployment_config_name }}"
    id = "{{ id }}"
}