resource "aws_neptune_cluster_endpoint" "example" {
    cluster_endpoint_identifier = "{{ cluster_endpoint_identifier }}"
    cluster_identifier = "{{ cluster_identifier }}"
    endpoint_type = "{{ endpoint_type }}"
    excluded_members = ["{{ excluded_members }}"]
    id = "{{ id }}"
    region = "{{ region }}"
    static_members = ["{{ static_members }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
