data "aws_outposts_outposts" "example" {
    arns = "{{ arns }}"
    availability_zone = "{{ availability_zone }}"
    availability_zone_id = "{{ availability_zone_id }}"
    id = "{{ id }}"
    ids = "{{ ids }}"
    owner_id = "{{ owner_id }}"
    site_id = "{{ site_id }}"
}