resource "aws_vpclattice_service_network_vpc_association" "example" {
    id = "{{ id }}"
    private_dns_enabled = {{ private_dns_enabled }}
    region = "{{ region }}"
    security_group_ids = ["{{ security_group_ids }}"]
    service_network_identifier = "{{ service_network_identifier }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    vpc_identifier = "{{ vpc_identifier }}"
    dns_options {
      private_dns_preference = "{{ private_dns_preference }}"
      private_dns_specified_domains = ["{{ private_dns_specified_domains }}"]
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
