data "aws_identitystore_user" "example" {
    id = "{{ id }}"
    identity_store_id = "{{ identity_store_id }}"
    region = "{{ region }}"
    user_id = "{{ user_id }}"
    alternate_identifier {
      external_id {
        id = "{{ id }}"
        issuer = "{{ issuer }}"
      }
      unique_attribute {
        attribute_path = "{{ attribute_path }}"
        attribute_value = "{{ attribute_value }}"
      }
    }
}
