resource "aws_quicksight_theme" "example" {
    arn = "{{ arn }}"
    aws_account_id = "{{ aws_account_id }}"
    base_theme_id = "{{ base_theme_id }}"
    created_time = "{{ created_time }}"
    id = "{{ id }}"
    last_updated_time = "{{ last_updated_time }}"
    name = "{{ name }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    theme_id = "{{ theme_id }}"
    version_description = "{{ version_description }}"
    version_number = "{{ version_number }}"
}