resource "aws_grafana_workspace_service_account" "example" {
    grafana_role = "{{ grafana_role }}"
    id = "{{ id }}"
    name = "{{ name }}"
    service_account_id = "{{ service_account_id }}"
    workspace_id = "{{ workspace_id }}"
}