resource "aws_opensearchserverless_collection" "example" {
    collection_group_name = "{{ collection_group_name }}"
    description = "{{ description }}"
    encryption_config = ["{{ encryption_config }}"]
    name = "{{ name }}"
    region = "{{ region }}"
    standby_replicas = "{{ standby_replicas }}"
    tags = {
        key = "{{ tags_value }}"
      }
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
