resource "aws_securitylake_subscriber_notification" "example" {
    endpoint_id = "{{ endpoint_id }}"
    id = "{{ id }}"
    subscriber_endpoint = "{{ subscriber_endpoint }}"
    subscriber_id = "{{ subscriber_id }}"
}