data "aws_lb" "example" {
    arn = "{{ arn }}"
    id = "{{ id }}"
    name = "{{ name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      read = "{{ read }}"
    }
}
