resource "aws_cognito_user_pool" "example" {
    alias_attributes = "{{ alias_attributes }}"
    arn = "{{ arn }}"
    auto_verified_attributes = "{{ auto_verified_attributes }}"
    creation_date = "{{ creation_date }}"
    custom_domain = "{{ custom_domain }}"
    deletion_protection = "{{ deletion_protection }}"
    domain = "{{ domain }}"
    email_verification_message = "{{ email_verification_message }}"
    email_verification_subject = "{{ email_verification_subject }}"
    endpoint = "{{ endpoint }}"
    estimated_number_of_users = "{{ estimated_number_of_users }}"
    id = "{{ id }}"
    last_modified_date = "{{ last_modified_date }}"
    mfa_configuration = "{{ mfa_configuration }}"
    name = "{{ name }}"
    sms_authentication_message = "{{ sms_authentication_message }}"
    sms_verification_message = "{{ sms_verification_message }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    username_attributes = "{{ username_attributes }}"
}