resource "aws_config_aggregate_authorization" "example" {
    account_id = "{{ account_id }}"
    arn = "{{ arn }}"
    id = "{{ id }}"
    region = "{{ region }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}