resource "aws_mskconnect_worker_configuration" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    properties_file_content = "{{ properties_file_content }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    timeouts {
      delete = "{{ delete }}"
    }
}
