data "aws_elasticache_cluster" "example" {
    arn = "{{ arn }}"
    availability_zone = "{{ availability_zone }}"
    cache_nodes = "{{ cache_nodes }}"
    cluster_address = "{{ cluster_address }}"
    cluster_id = "{{ cluster_id }}"
    configuration_endpoint = "{{ configuration_endpoint }}"
    engine = "{{ engine }}"
    engine_version = "{{ engine_version }}"
    id = "{{ id }}"
    ip_discovery = "{{ ip_discovery }}"
    log_delivery_configuration = "{{ log_delivery_configuration }}"
    maintenance_window = "{{ maintenance_window }}"
    network_type = "{{ network_type }}"
    node_type = "{{ node_type }}"
    notification_topic_arn = "{{ notification_topic_arn }}"
    num_cache_nodes = "{{ num_cache_nodes }}"
    parameter_group_name = "{{ parameter_group_name }}"
    port = "{{ port }}"
    preferred_outpost_arn = "{{ preferred_outpost_arn }}"
    replication_group_id = "{{ replication_group_id }}"
    security_group_ids = "{{ security_group_ids }}"
    snapshot_retention_limit = "{{ snapshot_retention_limit }}"
    snapshot_window = "{{ snapshot_window }}"
    subnet_group_name = "{{ subnet_group_name }}"
    tags = "{{ tags }}"
}