data "aws_ec2_client_vpn_endpoint" "example" {
    arn = "{{ arn }}"
    authentication_options = "{{ authentication_options }}"
    client_cidr_block = "{{ client_cidr_block }}"
    client_connect_options = "{{ client_connect_options }}"
    client_login_banner_options = "{{ client_login_banner_options }}"
    client_vpn_endpoint_id = "{{ client_vpn_endpoint_id }}"
    connection_log_options = "{{ connection_log_options }}"
    description = "{{ description }}"
    dns_name = "{{ dns_name }}"
    dns_servers = "{{ dns_servers }}"
    id = "{{ id }}"
    security_group_ids = "{{ security_group_ids }}"
    self_service_portal = "{{ self_service_portal }}"
    self_service_portal_url = "{{ self_service_portal_url }}"
    server_certificate_arn = "{{ server_certificate_arn }}"
    session_timeout_hours = "{{ session_timeout_hours }}"
    split_tunnel = "{{ split_tunnel }}"
    tags = "{{ tags }}"
    transport_protocol = "{{ transport_protocol }}"
    vpc_id = "{{ vpc_id }}"
    vpn_port = "{{ vpn_port }}"
}