resource "aws_servicequotas_template" "example" {
    aws_region = "{{ aws_region }}"
    quota_code = "{{ quota_code }}"
    region = "{{ region }}"
    service_code = "{{ service_code }}"
    value = {{ value }}
}
