resource "aws_finspace_kx_dataview" "example" {
    arn = "{{ arn }}"
    auto_update = "{{ auto_update }}"
    availability_zone_id = "{{ availability_zone_id }}"
    az_mode = "{{ az_mode }}"
    changeset_id = "{{ changeset_id }}"
    created_timestamp = "{{ created_timestamp }}"
    database_name = "{{ database_name }}"
    description = "{{ description }}"
    environment_id = "{{ environment_id }}"
    id = "{{ id }}"
    last_modified_timestamp = "{{ last_modified_timestamp }}"
    name = "{{ name }}"
    read_write = "{{ read_write }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}