resource "aws_iot_topic_rule" "example" {
    arn = "{{ arn }}"
    description = "{{ description }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    name = "{{ name }}"
    sql = "{{ sql }}"
    sql_version = "{{ sql_version }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}