resource "aws_eip_domain_name" "example" {
    allocation_id = "{{ allocation_id }}"
    domain_name = "{{ domain_name }}"
    region = "{{ region }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
