resource "aws_lightsail_key_pair" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    name_prefix = "{{ name_prefix }}"
    pgp_key = "{{ pgp_key }}"
    public_key = "{{ public_key }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
