resource "aws_ivs_channel" "example" {
    authorized = {{ authorized }}
    id = "{{ id }}"
    latency_mode = "{{ latency_mode }}"
    name = "{{ name }}"
    recording_configuration_arn = "{{ recording_configuration_arn }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    type = "{{ type }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
