data "aws_ebs_snapshot" "example" {
    id = "{{ id }}"
    most_recent = {{ most_recent }}
    owners = ["{{ owners }}"]
    region = "{{ region }}"
    restorable_by_user_ids = ["{{ restorable_by_user_ids }}"]
    snapshot_ids = ["{{ snapshot_ids }}"]
    tags = {
        key = "{{ tags_value }}"
      }
    filter {
      name = "{{ name }}"
      values = ["{{ values }}"]
    }
    timeouts {
      read = "{{ read }}"
    }
}
