resource "aws_rds_cluster" "example" {
    allocated_storage = {{ allocated_storage }}
    allow_major_version_upgrade = {{ allow_major_version_upgrade }}
    apply_immediately = {{ apply_immediately }}
    availability_zones = ["{{ availability_zones }}"]
    backtrack_window = {{ backtrack_window }}
    backup_retention_period = {{ backup_retention_period }}
    ca_certificate_identifier = "{{ ca_certificate_identifier }}"
    cluster_identifier = "{{ cluster_identifier }}"
    cluster_identifier_prefix = "{{ cluster_identifier_prefix }}"
    cluster_members = ["{{ cluster_members }}"]
    cluster_scalability_type = "{{ cluster_scalability_type }}"
    copy_tags_to_snapshot = {{ copy_tags_to_snapshot }}
    database_insights_mode = "{{ database_insights_mode }}"
    database_name = "{{ database_name }}"
    db_cluster_instance_class = "{{ db_cluster_instance_class }}"
    db_cluster_parameter_group_name = "{{ db_cluster_parameter_group_name }}"
    db_instance_parameter_group_name = "{{ db_instance_parameter_group_name }}"
    db_subnet_group_name = "{{ db_subnet_group_name }}"
    db_system_id = "{{ db_system_id }}"
    delete_automated_backups = {{ delete_automated_backups }}
    deletion_protection = {{ deletion_protection }}
    domain = "{{ domain }}"
    domain_iam_role_name = "{{ domain_iam_role_name }}"
    enable_global_write_forwarding = {{ enable_global_write_forwarding }}
    enable_http_endpoint = {{ enable_http_endpoint }}
    enable_local_write_forwarding = {{ enable_local_write_forwarding }}
    enabled_cloudwatch_logs_exports = ["{{ enabled_cloudwatch_logs_exports }}"]
    engine = "{{ engine }}"
    engine_lifecycle_support = "{{ engine_lifecycle_support }}"
    engine_mode = "{{ engine_mode }}"
    engine_version = "{{ engine_version }}"
    final_snapshot_identifier = "{{ final_snapshot_identifier }}"
    global_cluster_identifier = "{{ global_cluster_identifier }}"
    iam_database_authentication_enabled = {{ iam_database_authentication_enabled }}
    iam_roles = ["{{ iam_roles }}"]
    id = "{{ id }}"
    iops = {{ iops }}
    kms_key_id = "{{ kms_key_id }}"
    manage_master_user_password = {{ manage_master_user_password }}
    master_password = "{{ master_password }}"
    master_password_wo = "{{ master_password_wo }}"
    master_password_wo_version = {{ master_password_wo_version }}
    master_user_secret_kms_key_id = "{{ master_user_secret_kms_key_id }}"
    master_username = "{{ master_username }}"
    monitoring_interval = {{ monitoring_interval }}
    monitoring_role_arn = "{{ monitoring_role_arn }}"
    network_type = "{{ network_type }}"
    performance_insights_enabled = {{ performance_insights_enabled }}
    performance_insights_kms_key_id = "{{ performance_insights_kms_key_id }}"
    performance_insights_retention_period = {{ performance_insights_retention_period }}
    port = {{ port }}
    preferred_backup_window = "{{ preferred_backup_window }}"
    preferred_maintenance_window = "{{ preferred_maintenance_window }}"
    region = "{{ region }}"
    replication_source_identifier = "{{ replication_source_identifier }}"
    skip_final_snapshot = {{ skip_final_snapshot }}
    snapshot_identifier = "{{ snapshot_identifier }}"
    source_region = "{{ source_region }}"
    storage_encrypted = {{ storage_encrypted }}
    storage_type = "{{ storage_type }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    vpc_security_group_ids = ["{{ vpc_security_group_ids }}"]
    restore_to_point_in_time {
      restore_to_time = "{{ restore_to_time }}"
      restore_type = "{{ restore_type }}"
      source_cluster_identifier = "{{ source_cluster_identifier }}"
      source_cluster_resource_id = "{{ source_cluster_resource_id }}"
      use_latest_restorable_time = {{ use_latest_restorable_time }}
    }
    s3_import {
      bucket_name = "{{ bucket_name }}"
      bucket_prefix = "{{ bucket_prefix }}"
      ingestion_role = "{{ ingestion_role }}"
      source_engine = "{{ source_engine }}"
      source_engine_version = "{{ source_engine_version }}"
    }
    scaling_configuration {
      auto_pause = {{ auto_pause }}
      max_capacity = {{ max_capacity }}
      min_capacity = {{ min_capacity }}
      seconds_before_timeout = {{ seconds_before_timeout }}
      seconds_until_auto_pause = {{ seconds_until_auto_pause }}
      timeout_action = "{{ timeout_action }}"
    }
    serverlessv2_scaling_configuration {
      max_capacity = {{ max_capacity }}
      min_capacity = {{ min_capacity }}
      seconds_until_auto_pause = {{ seconds_until_auto_pause }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
