resource "aws_bedrock_provisioned_model_throughput" "example" {
    commitment_duration = "{{ commitment_duration }}"
    model_arn = "{{ model_arn }}"
    model_units = {{ model_units }}
    provisioned_model_name = "{{ provisioned_model_name }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    timeouts {
      create = "{{ create }}"
    }
}
