resource "aws_docdb_global_cluster" "example" {
    database_name = "{{ database_name }}"
    deletion_protection = {{ deletion_protection }}
    engine = "{{ engine }}"
    engine_version = "{{ engine_version }}"
    global_cluster_identifier = "{{ global_cluster_identifier }}"
    id = "{{ id }}"
    region = "{{ region }}"
    source_db_cluster_identifier = "{{ source_db_cluster_identifier }}"
    storage_encrypted = {{ storage_encrypted }}
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      update = "{{ update }}"
    }
}
