resource "aws_msk_serverless_cluster" "example" {
    arn = "{{ arn }}"
    cluster_name = "{{ cluster_name }}"
    cluster_uuid = "{{ cluster_uuid }}"
    id = "{{ id }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}