resource "aws_kendra_faq" "example" {
    arn = "{{ arn }}"
    created_at = "{{ created_at }}"
    description = "{{ description }}"
    error_message = "{{ error_message }}"
    faq_id = "{{ faq_id }}"
    file_format = "{{ file_format }}"
    id = "{{ id }}"
    index_id = "{{ index_id }}"
    language_code = "{{ language_code }}"
    name = "{{ name }}"
    role_arn = "{{ role_arn }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    updated_at = "{{ updated_at }}"
}