resource "aws_iot_role_alias" "example" {
    alias = "{{ alias }}"
    credential_duration = {{ credential_duration }}
    id = "{{ id }}"
    region = "{{ region }}"
    role_arn = "{{ role_arn }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
}
