resource "aws_networkmonitor_monitor" "example" {
    aggregation_period = "{{ aggregation_period }}"
    arn = "{{ arn }}"
    id = "{{ id }}"
    monitor_name = "{{ monitor_name }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}