resource "aws_cloud9_environment_membership" "example" {
    environment_id = "{{ environment_id }}"
    id = "{{ id }}"
    permissions = "{{ permissions }}"
    region = "{{ region }}"
    user_arn = "{{ user_arn }}"
}
