resource "aws_resourceexplorer2_view" "example" {
    default_view = {{ default_view }}
    name = "{{ name }}"
    region = "{{ region }}"
    scope = "{{ scope }}"
    tags = {
        key = "{{ tags_value }}"
      }
    filters {
      filter_string = "{{ filter_string }}"
    }
    included_property {
      name = "{{ name }}"
    }
}
