resource "aws_sns_topic_subscription" "example" {
    confirmation_timeout_in_minutes = {{ confirmation_timeout_in_minutes }}
    delivery_policy = "{{ delivery_policy }}"
    endpoint = "{{ endpoint }}"
    endpoint_auto_confirms = {{ endpoint_auto_confirms }}
    filter_policy = "{{ filter_policy }}"
    filter_policy_scope = "{{ filter_policy_scope }}"
    id = "{{ id }}"
    protocol = "{{ protocol }}"
    raw_message_delivery = {{ raw_message_delivery }}
    redrive_policy = "{{ redrive_policy }}"
    region = "{{ region }}"
    replay_policy = "{{ replay_policy }}"
    subscription_role_arn = "{{ subscription_role_arn }}"
    topic_arn = "{{ topic_arn }}"
}
