resource "aws_ssmincidents_replication_set" "example" {
    arn = "{{ arn }}"
    created_by = "{{ created_by }}"
    deletion_protected = "{{ deletion_protected }}"
    id = "{{ id }}"
    last_modified_by = "{{ last_modified_by }}"
    status = "{{ status }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
}