resource "aws_storagegateway_nfs_file_share" "example" {
    arn = "{{ arn }}"
    audit_destination_arn = "{{ audit_destination_arn }}"
    bucket_region = "{{ bucket_region }}"
    client_list = "{{ client_list }}"
    default_storage_class = "{{ default_storage_class }}"
    file_share_name = "{{ file_share_name }}"
    fileshare_id = "{{ fileshare_id }}"
    gateway_arn = "{{ gateway_arn }}"
    guess_mime_type_enabled = "{{ guess_mime_type_enabled }}"
    id = "{{ id }}"
    kms_encrypted = "{{ kms_encrypted }}"
    kms_key_arn = "{{ kms_key_arn }}"
    location_arn = "{{ location_arn }}"
    notification_policy = "{{ notification_policy }}"
    object_acl = "{{ object_acl }}"
    path = "{{ path }}"
    read_only = "{{ read_only }}"
    requester_pays = "{{ requester_pays }}"
    role_arn = "{{ role_arn }}"
    squash = "{{ squash }}"
    tags = "{{ tags }}"
    tags_all = "{{ tags_all }}"
    vpc_endpoint_dns_name = "{{ vpc_endpoint_dns_name }}"
}