resource "aws_resourcegroups_resource" "example" {
    group_arn = "{{ group_arn }}"
    id = "{{ id }}"
    region = "{{ region }}"
    resource_arn = "{{ resource_arn }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
    }
}
