resource "aws_quicksight_folder" "example" {
    aws_account_id = "{{ aws_account_id }}"
    folder_id = "{{ folder_id }}"
    folder_type = "{{ folder_type }}"
    id = "{{ id }}"
    name = "{{ name }}"
    parent_folder_arn = "{{ parent_folder_arn }}"
    region = "{{ region }}"
    tags = {
        key = "{{ tags_value }}"
      }
    tags_all = {
        key = "{{ tags_all_value }}"
      }
    permissions {
      actions = ["{{ actions }}"]
      principal = "{{ principal }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
