resource "aws_pinpoint_apns_channel" "example" {
    application_id = "{{ application_id }}"
    bundle_id = "{{ bundle_id }}"
    certificate = "{{ certificate }}"
    default_authentication_method = "{{ default_authentication_method }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    private_key = "{{ private_key }}"
    team_id = "{{ team_id }}"
    token_key = "{{ token_key }}"
    token_key_id = "{{ token_key_id }}"
}