provider "aws" {
    access_key = "{{ access_key }}"
    allowed_account_ids = "{{ allowed_account_ids }}"
    custom_ca_bundle = "{{ custom_ca_bundle }}"
    ec2_metadata_service_endpoint = "{{ ec2_metadata_service_endpoint }}"
    ec2_metadata_service_endpoint_mode = "{{ ec2_metadata_service_endpoint_mode }}"
    forbidden_account_ids = "{{ forbidden_account_ids }}"
    http_proxy = "{{ http_proxy }}"
    https_proxy = "{{ https_proxy }}"
    insecure = "{{ insecure }}"
    max_retries = "{{ max_retries }}"
    no_proxy = "{{ no_proxy }}"
    profile = "{{ profile }}"
    region = "{{ region }}"
    retry_mode = "{{ retry_mode }}"
    s3_us_east_1_regional_endpoint = "{{ s3_us_east_1_regional_endpoint }}"
    s3_use_path_style = "{{ s3_use_path_style }}"
    secret_key = "{{ secret_key }}"
    shared_config_files = "{{ shared_config_files }}"
    shared_credentials_files = "{{ shared_credentials_files }}"
    skip_credentials_validation = "{{ skip_credentials_validation }}"
    skip_metadata_api_check = "{{ skip_metadata_api_check }}"
    skip_region_validation = "{{ skip_region_validation }}"
    skip_requesting_account_id = "{{ skip_requesting_account_id }}"
    sts_region = "{{ sts_region }}"
    token = "{{ token }}"
    token_bucket_rate_limiter_capacity = "{{ token_bucket_rate_limiter_capacity }}"
    use_dualstack_endpoint = "{{ use_dualstack_endpoint }}"
    use_fips_endpoint = "{{ use_fips_endpoint }}"
}