resource "local_sensitive_file" "example" {
    content = "{{ content }}"
    content_base64 = "{{ content_base64 }}"
    directory_permission = "{{ directory_permission }}"
    file_permission = "{{ file_permission }}"
    filename = "{{ filename }}"
    source = "{{ source }}"
}
