resource "boundary_auth_method" "example" {
    description = "{{ description }}"
    is_primary_for_scope = {{ is_primary_for_scope }}
    min_login_name_length = {{ min_login_name_length }}
    min_password_length = {{ min_password_length }}
    name = "{{ name }}"
    scope_id = "{{ scope_id }}"
    type = "{{ type }}"
}
