resource "boundary_worker" "example" {
    description = "{{ description }}"
    name = "{{ name }}"
    scope_id = "{{ scope_id }}"
    worker_generated_auth_token = "{{ worker_generated_auth_token }}"
}
