resource "boundary_credential_username_password" "example" {
    credential_store_id = "{{ credential_store_id }}"
    description = "{{ description }}"
    name = "{{ name }}"
    password = "{{ password }}"
    username = "{{ username }}"
}
