resource "boundary_credential_library_vault_ssh_certificate" "example" {
    additional_valid_principals = "{{ additional_valid_principals }}"
    credential_store_id = "{{ credential_store_id }}"
    critical_options = "{{ critical_options }}"
    description = "{{ description }}"
    extensions = "{{ extensions }}"
    id = "{{ id }}"
    key_bits = "{{ key_bits }}"
    key_id = "{{ key_id }}"
    key_type = "{{ key_type }}"
    name = "{{ name }}"
    path = "{{ path }}"
    ttl = "{{ ttl }}"
    username = "{{ username }}"
}