resource "boundary_auth_method_password" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    min_login_name_length = "{{ min_login_name_length }}"
    min_password_length = "{{ min_password_length }}"
    name = "{{ name }}"
    scope_id = "{{ scope_id }}"
    type = "{{ type }}"
}