resource "boundary_credential_json" "example" {
    credential_store_id = "{{ credential_store_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    object = "{{ object }}"
    object_hmac = "{{ object_hmac }}"
}