resource "boundary_host_set_static" "example" {
    description = "{{ description }}"
    host_catalog_id = "{{ host_catalog_id }}"
    host_ids = "{{ host_ids }}"
    id = "{{ id }}"
    name = "{{ name }}"
    type = "{{ type }}"
}