resource "boundary_host" "example" {
    address = "{{ address }}"
    description = "{{ description }}"
    host_catalog_id = "{{ host_catalog_id }}"
    id = "{{ id }}"
    name = "{{ name }}"
    type = "{{ type }}"
}