data "boundary_user" "example" {
    account_ids = "{{ account_ids }}"
    authorized_actions = "{{ authorized_actions }}"
    description = "{{ description }}"
    id = "{{ id }}"
    login_name = "{{ login_name }}"
    name = "{{ name }}"
    primary_account_id = "{{ primary_account_id }}"
    scope = "{{ scope }}"
    scope_id = "{{ scope_id }}"
}