resource "boundary_credential_store_vault" "example" {
    address = "{{ address }}"
    ca_cert = "{{ ca_cert }}"
    client_certificate = "{{ client_certificate }}"
    client_certificate_key = "{{ client_certificate_key }}"
    client_certificate_key_hmac = "{{ client_certificate_key_hmac }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    scope_id = "{{ scope_id }}"
    tls_server_name = "{{ tls_server_name }}"
    tls_skip_verify = "{{ tls_skip_verify }}"
    token = "{{ token }}"
    token_hmac = "{{ token_hmac }}"
    worker_filter = "{{ worker_filter }}"
}