resource "boundary_account_oidc" "example" {
    auth_method_id = "{{ auth_method_id }}"
    description = "{{ description }}"
    issuer = "{{ issuer }}"
    name = "{{ name }}"
    subject = "{{ subject }}"
}
