resource "boundary_credential_library_vault" "example" {
    credential_mapping_overrides = "{{ credential_mapping_overrides }}"
    credential_store_id = "{{ credential_store_id }}"
    credential_type = "{{ credential_type }}"
    description = "{{ description }}"
    http_method = "{{ http_method }}"
    http_request_body = "{{ http_request_body }}"
    id = "{{ id }}"
    name = "{{ name }}"
    path = "{{ path }}"
}