resource "boundary_target" "example" {
    address = "{{ address }}"
    brokered_credential_source_ids = "{{ brokered_credential_source_ids }}"
    default_client_port = "{{ default_client_port }}"
    default_port = "{{ default_port }}"
    description = "{{ description }}"
    egress_worker_filter = "{{ egress_worker_filter }}"
    enable_session_recording = "{{ enable_session_recording }}"
    host_source_ids = "{{ host_source_ids }}"
    id = "{{ id }}"
    ingress_worker_filter = "{{ ingress_worker_filter }}"
    injected_application_credential_source_ids = "{{ injected_application_credential_source_ids }}"
    name = "{{ name }}"
    scope_id = "{{ scope_id }}"
    session_connection_limit = "{{ session_connection_limit }}"
    session_max_seconds = "{{ session_max_seconds }}"
    storage_bucket_id = "{{ storage_bucket_id }}"
    type = "{{ type }}"
    worker_filter = "{{ worker_filter }}"
}