resource "boundary_storage_bucket" "example" {
    attributes_json = "{{ attributes_json }}"
    bucket_name = "{{ bucket_name }}"
    bucket_prefix = "{{ bucket_prefix }}"
    description = "{{ description }}"
    name = "{{ name }}"
    plugin_id = "{{ plugin_id }}"
    plugin_name = "{{ plugin_name }}"
    scope_id = "{{ scope_id }}"
    secrets_json = "{{ secrets_json }}"
    worker_filter = "{{ worker_filter }}"
}
