resource "boundary_credential_library_vault" "example" {
    credential_mapping_overrides = {
        key = "{{ credential_mapping_overrides_value }}"
      }
    credential_store_id = "{{ credential_store_id }}"
    credential_type = "{{ credential_type }}"
    description = "{{ description }}"
    http_method = "{{ http_method }}"
    http_request_body = "{{ http_request_body }}"
    name = "{{ name }}"
    path = "{{ path }}"
}
