resource "boundary_auth_method_oidc" "example" {
    account_claim_maps = "{{ account_claim_maps }}"
    allowed_audiences = "{{ allowed_audiences }}"
    api_url_prefix = "{{ api_url_prefix }}"
    callback_url = "{{ callback_url }}"
    claims_scopes = "{{ claims_scopes }}"
    client_id = "{{ client_id }}"
    client_secret = "{{ client_secret }}"
    client_secret_hmac = "{{ client_secret_hmac }}"
    description = "{{ description }}"
    disable_discovered_config_validation = "{{ disable_discovered_config_validation }}"
    id = "{{ id }}"
    idp_ca_certs = "{{ idp_ca_certs }}"
    is_primary_for_scope = "{{ is_primary_for_scope }}"
    issuer = "{{ issuer }}"
    max_age = "{{ max_age }}"
    name = "{{ name }}"
    prompts = "{{ prompts }}"
    scope_id = "{{ scope_id }}"
    signing_algorithms = "{{ signing_algorithms }}"
    state = "{{ state }}"
    type = "{{ type }}"
}