resource "boundary_scope" "example" {
    auto_create_admin_role = "{{ auto_create_admin_role }}"
    auto_create_default_role = "{{ auto_create_default_role }}"
    description = "{{ description }}"
    global_scope = "{{ global_scope }}"
    id = "{{ id }}"
    name = "{{ name }}"
    scope_id = "{{ scope_id }}"
}