resource "boundary_account_ldap" "example" {
    auth_method_id = "{{ auth_method_id }}"
    description = "{{ description }}"
    login_name = "{{ login_name }}"
    name = "{{ name }}"
    type = "{{ type }}"
}
