data "boundary_account" "example" {
    auth_method_id = "{{ auth_method_id }}"
    description = "{{ description }}"
    id = "{{ id }}"
    name = "{{ name }}"
    scope = "{{ scope }}"
    type = "{{ type }}"
}