provider "boundary" {
    addr = "{{ addr }}"
    auth_method_id = "{{ auth_method_id }}"
    auth_method_login_name = "{{ auth_method_login_name }}"
    auth_method_password = "{{ auth_method_password }}"
    password_auth_method_login_name = "{{ password_auth_method_login_name }}"
    password_auth_method_password = "{{ password_auth_method_password }}"
    plugin_execution_dir = "{{ plugin_execution_dir }}"
    recovery_kms_hcl = "{{ recovery_kms_hcl }}"
    scope_id = "{{ scope_id }}"
    tls_insecure = "{{ tls_insecure }}"
    token = "{{ token }}"
}