data "consul_acl_token_secret_id" "example" {
    accessor_id = "{{ accessor_id }}"
    encrypted_secret_id = "{{ encrypted_secret_id }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    partition = "{{ partition }}"
    pgp_key = "{{ pgp_key }}"
    secret_id = "{{ secret_id }}"
}