resource "consul_namespace" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    meta = {
        key = "{{ meta_value }}"
      }
    name = "{{ name }}"
    partition = "{{ partition }}"
    policy_defaults = ["{{ policy_defaults }}"]
    role_defaults = ["{{ role_defaults }}"]
}
