resource "consul_peering_token" "example" {
    id = "{{ id }}"
    meta = "{{ meta }}"
    partition = "{{ partition }}"
    peer_name = "{{ peer_name }}"
    peering_token = "{{ peering_token }}"
    server_external_addresses = "{{ server_external_addresses }}"
}