resource "consul_node" "example" {
    address = "{{ address }}"
    datacenter = "{{ datacenter }}"
    id = "{{ id }}"
    meta = {
        key = "{{ meta_value }}"
      }
    name = "{{ name }}"
    partition = "{{ partition }}"
    token = "{{ token }}"
}
