data "consul_services" "example" {
    id = "{{ id }}"
    query_options {
      allow_stale = {{ allow_stale }}
      datacenter = "{{ datacenter }}"
      namespace = "{{ namespace }}"
      near = "{{ near }}"
      node_meta = {
        key = "{{ node_meta_value }}"
      }
      partition = "{{ partition }}"
      require_consistent = {{ require_consistent }}
      token = "{{ token }}"
      wait_index = {{ wait_index }}
      wait_time = "{{ wait_time }}"
    }
}
