data "consul_agent_self" "example" {
    acl_datacenter = "{{ acl_datacenter }}"
    acl_default_policy = "{{ acl_default_policy }}"
    acl_disabled_ttl = "{{ acl_disabled_ttl }}"
    acl_down_policy = "{{ acl_down_policy }}"
    acl_enforce_0_8_semantics = "{{ acl_enforce_0_8_semantics }}"
    acl_ttl = "{{ acl_ttl }}"
    addresses = "{{ addresses }}"
    advertise_addr = "{{ advertise_addr }}"
    advertise_addr_wan = "{{ advertise_addr_wan }}"
    advertise_addrs = "{{ advertise_addrs }}"
    atlas_join = "{{ atlas_join }}"
    bind_addr = "{{ bind_addr }}"
    bootstrap_expect = "{{ bootstrap_expect }}"
    bootstrap_mode = "{{ bootstrap_mode }}"
    check_deregister_interval_min = "{{ check_deregister_interval_min }}"
    check_reap_interval = "{{ check_reap_interval }}"
    check_update_interval = "{{ check_update_interval }}"
    client_addr = "{{ client_addr }}"
    data_dir = "{{ data_dir }}"
    datacenter = "{{ datacenter }}"
    dev_mode = "{{ dev_mode }}"
    dns = "{{ dns }}"
    dns_recursors = "{{ dns_recursors }}"
    domain = "{{ domain }}"
    enable_anonymous_signature = "{{ enable_anonymous_signature }}"
    enable_coordinates = "{{ enable_coordinates }}"
    enable_debug = "{{ enable_debug }}"
    enable_remote_exec = "{{ enable_remote_exec }}"
    enable_syslog = "{{ enable_syslog }}"
    enable_ui = "{{ enable_ui }}"
    enable_update_check = "{{ enable_update_check }}"
    id = "{{ id }}"
    leave_on_int = "{{ leave_on_int }}"
    leave_on_term = "{{ leave_on_term }}"
    log_level = "{{ log_level }}"
    name = "{{ name }}"
    performance = "{{ performance }}"
    pid_file = "{{ pid_file }}"
    ports = "{{ ports }}"
    protocol_version = "{{ protocol_version }}"
    reconnect_timeout_lan = "{{ reconnect_timeout_lan }}"
    reconnect_timeout_wan = "{{ reconnect_timeout_wan }}"
    rejoin_after_leave = "{{ rejoin_after_leave }}"
    retry_join = "{{ retry_join }}"
    retry_join_ec2 = "{{ retry_join_ec2 }}"
    retry_join_gce = "{{ retry_join_gce }}"
    retry_join_wan = "{{ retry_join_wan }}"
    retry_max_attempts = "{{ retry_max_attempts }}"
    retry_max_attempts_wan = "{{ retry_max_attempts_wan }}"
    serf_lan_bind_addr = "{{ serf_lan_bind_addr }}"
    serf_wan_bind_addr = "{{ serf_wan_bind_addr }}"
    server_mode = "{{ server_mode }}"
    server_name = "{{ server_name }}"
    session_ttl_min = "{{ session_ttl_min }}"
    start_join = "{{ start_join }}"
    start_join_wan = "{{ start_join_wan }}"
    syslog_facility = "{{ syslog_facility }}"
    tagged_addresses = "{{ tagged_addresses }}"
    telemetry = "{{ telemetry }}"
    tls_ca_file = "{{ tls_ca_file }}"
    tls_cert_file = "{{ tls_cert_file }}"
    tls_key_file = "{{ tls_key_file }}"
    tls_min_version = "{{ tls_min_version }}"
    tls_verify_incoming = "{{ tls_verify_incoming }}"
    tls_verify_outgoing = "{{ tls_verify_outgoing }}"
    tls_verify_server_hostname = "{{ tls_verify_server_hostname }}"
    translate_wan_addrs = "{{ translate_wan_addrs }}"
    ui_dir = "{{ ui_dir }}"
    unix_sockets = "{{ unix_sockets }}"
    version = "{{ version }}"
    version_prerelease = "{{ version_prerelease }}"
    version_revision = "{{ version_revision }}"
}