resource "consul_peering" "example" {
    id = "{{ id }}"
    meta = {
        key = "{{ meta_value }}"
      }
    partition = "{{ partition }}"
    peer_name = "{{ peer_name }}"
    peering_token = "{{ peering_token }}"
}
