data "consul_key_prefix" "example" {
    datacenter = "{{ datacenter }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    partition = "{{ partition }}"
    path_prefix = "{{ path_prefix }}"
    token = "{{ token }}"
    subkey {
      default = "{{ default }}"
      name = "{{ name }}"
      path = "{{ path }}"
    }
}
