provider "consul" {
    address = "{{ address }}"
    ca_file = "{{ ca_file }}"
    ca_path = "{{ ca_path }}"
    ca_pem = "{{ ca_pem }}"
    cert_file = "{{ cert_file }}"
    cert_pem = "{{ cert_pem }}"
    datacenter = "{{ datacenter }}"
    http_auth = "{{ http_auth }}"
    insecure_https = "{{ insecure_https }}"
    key_file = "{{ key_file }}"
    key_pem = "{{ key_pem }}"
    namespace = "{{ namespace }}"
    scheme = "{{ scheme }}"
    token = "{{ token }}"
}