resource "tfe_variable" "example" {
    category = "{{ category }}"
    description = "{{ description }}"
    hcl = "{{ hcl }}"
    id = "{{ id }}"
    key = "{{ key }}"
    readable_value = "{{ readable_value }}"
    sensitive = "{{ sensitive }}"
    value = "{{ value }}"
    variable_set_id = "{{ variable_set_id }}"
    workspace_id = "{{ workspace_id }}"
}