data "tfe_agent_pool" "example" {
    allowed_workspace_ids = "{{ allowed_workspace_ids }}"
    id = "{{ id }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    organization_scoped = "{{ organization_scoped }}"
}