resource "tfe_policy" "example" {
    description = "{{ description }}"
    enforce_mode = "{{ enforce_mode }}"
    id = "{{ id }}"
    kind = "{{ kind }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    policy = "{{ policy }}"
    query = "{{ query }}"
}