data "tfe_registry_providers" "example" {
    id = "{{ id }}"
    organization = "{{ organization }}"
    providers = "{{ providers }}"
    registry_name = "{{ registry_name }}"
    search = "{{ search }}"
}