resource "tfe_organization" "example" {
    aggregated_commit_status_enabled = "{{ aggregated_commit_status_enabled }}"
    allow_force_delete_workspaces = "{{ allow_force_delete_workspaces }}"
    assessments_enforced = "{{ assessments_enforced }}"
    collaborator_auth_policy = "{{ collaborator_auth_policy }}"
    cost_estimation_enabled = "{{ cost_estimation_enabled }}"
    default_project_id = "{{ default_project_id }}"
    email = "{{ email }}"
    id = "{{ id }}"
    name = "{{ name }}"
    owners_team_saml_role_id = "{{ owners_team_saml_role_id }}"
    send_passing_statuses_for_untriggered_speculative_plans = "{{ send_passing_statuses_for_untriggered_speculative_plans }}"
    session_remember_minutes = "{{ session_remember_minutes }}"
    session_timeout_minutes = "{{ session_timeout_minutes }}"
    speculative_plan_management_enabled = "{{ speculative_plan_management_enabled }}"
}