data "tfe_variable_set" "example" {
    description = "{{ description }}"
    global = "{{ global }}"
    id = "{{ id }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    priority = "{{ priority }}"
    project_ids = "{{ project_ids }}"
    variable_ids = "{{ variable_ids }}"
    workspace_ids = "{{ workspace_ids }}"
}