data "tfe_oauth_client" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    oauth_client_id = "{{ oauth_client_id }}"
    organization = "{{ organization }}"
    service_provider = "{{ service_provider }}"
}
