data "tfe_outputs" "example" {
    id = "{{ id }}"
    nonsensitive_values = "{{ nonsensitive_values }}"
    organization = "{{ organization }}"
    values = "{{ values }}"
    workspace = "{{ workspace }}"
}