resource "tfe_data_retention_policy" "example" {
    organization = "{{ organization }}"
    workspace_id = "{{ workspace_id }}"
    delete_older_than {
      days = {{ days }}
    }
    dont_delete {
    }
}
