resource "tfe_organization_default_settings" "example" {
    default_agent_pool_id = "{{ default_agent_pool_id }}"
    default_execution_mode = "{{ default_execution_mode }}"
    id = "{{ id }}"
    organization = "{{ organization }}"
}