data "tfe_oauth_client" "example" {
    api_url = "{{ api_url }}"
    callback_url = "{{ callback_url }}"
    created_at = "{{ created_at }}"
    http_url = "{{ http_url }}"
    id = "{{ id }}"
    name = "{{ name }}"
    oauth_client_id = "{{ oauth_client_id }}"
    oauth_token_id = "{{ oauth_token_id }}"
    organization = "{{ organization }}"
    organization_scoped = "{{ organization_scoped }}"
    project_ids = "{{ project_ids }}"
    service_provider = "{{ service_provider }}"
    service_provider_display_name = "{{ service_provider_display_name }}"
}