data "tfe_registry_provider" "example" {
    created_at = "{{ created_at }}"
    id = "{{ id }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    organization = "{{ organization }}"
    registry_name = "{{ registry_name }}"
    updated_at = "{{ updated_at }}"
}