resource "tfe_registry_module" "example" {
    id = "{{ id }}"
    initial_version = "{{ initial_version }}"
    module_provider = "{{ module_provider }}"
    name = "{{ name }}"
    namespace = "{{ namespace }}"
    no_code = "{{ no_code }}"
    organization = "{{ organization }}"
    publishing_mechanism = "{{ publishing_mechanism }}"
    registry_name = "{{ registry_name }}"
}