data "tfe_organization_run_task_global_settings" "example" {
    enabled = "{{ enabled }}"
    enforcement_level = "{{ enforcement_level }}"
    id = "{{ id }}"
    stages = "{{ stages }}"
    task_id = "{{ task_id }}"
}