resource "tfe_sentinel_policy" "example" {
    description = "{{ description }}"
    enforce_mode = "{{ enforce_mode }}"
    id = "{{ id }}"
    name = "{{ name }}"
    organization = "{{ organization }}"
    policy = "{{ policy }}"
}