data "tfe_no_code_module" "example" {
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    namespace = "{{ namespace }}"
    organization = "{{ organization }}"
    registry_module_id = "{{ registry_module_id }}"
    version_pin = "{{ version_pin }}"
}