resource "tfe_test_variable" "example" {
    category = "{{ category }}"
    description = "{{ description }}"
    hcl = {{ hcl }}
    key = "{{ key }}"
    module_name = "{{ module_name }}"
    module_provider = "{{ module_provider }}"
    organization = "{{ organization }}"
    sensitive = {{ sensitive }}
    value = "{{ value }}"
    value_wo = "{{ value_wo }}"
    value_wo_version = {{ value_wo_version }}
}
