resource "azurestack_lb_backend_address_pool" "example" {
    id = "{{ id }}"
    loadbalancer_id = "{{ loadbalancer_id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
