data "azurestack_lb_rule" "example" {
    id = "{{ id }}"
    loadbalancer_id = "{{ loadbalancer_id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
