resource "azurestack_key_vault_secret" "example" {
    content_type = "{{ content_type }}"
    expiration_date = "{{ expiration_date }}"
    id = "{{ id }}"
    key_vault_id = "{{ key_vault_id }}"
    name = "{{ name }}"
    not_before_date = "{{ not_before_date }}"
    tags = "{{ tags }}"
    value = "{{ value }}"
    version = "{{ version }}"
}