resource "azurestack_storage_account" "example" {
    account_encryption_source = "{{ account_encryption_source }}"
    account_kind = "{{ account_kind }}"
    account_replication_type = "{{ account_replication_type }}"
    account_tier = "{{ account_tier }}"
    enable_blob_encryption = {{ enable_blob_encryption }}
    enable_https_traffic_only = {{ enable_https_traffic_only }}
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    custom_domain {
      name = "{{ name }}"
      use_subdomain = {{ use_subdomain }}
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
