data "azurestack_subnet" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    virtual_network_name = "{{ virtual_network_name }}"
    timeouts {
      read = "{{ read }}"
    }
}
