resource "azurestack_lb_backend_address_pool" "example" {
    backend_ip_configurations = "{{ backend_ip_configurations }}"
    id = "{{ id }}"
    load_balancing_rules = "{{ load_balancing_rules }}"
    loadbalancer_id = "{{ loadbalancer_id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
}