resource "azurestack_key_vault_key" "example" {
    curve = "{{ curve }}"
    e = "{{ e }}"
    expiration_date = "{{ expiration_date }}"
    id = "{{ id }}"
    key_opts = "{{ key_opts }}"
    key_size = "{{ key_size }}"
    key_type = "{{ key_type }}"
    key_vault_id = "{{ key_vault_id }}"
    n = "{{ n }}"
    name = "{{ name }}"
    not_before_date = "{{ not_before_date }}"
    tags = "{{ tags }}"
    version = "{{ version }}"
    versionless_id = "{{ versionless_id }}"
    x = "{{ x }}"
    y = "{{ y }}"
}