data "azurestack_resources" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    required_tags = "{{ required_tags }}"
    resource_group_name = "{{ resource_group_name }}"
    resources = "{{ resources }}"
    type = "{{ type }}"
}