data "azurestack_virtual_network" "example" {
    address_space = "{{ address_space }}"
    dns_servers = "{{ dns_servers }}"
    guid = "{{ guid }}"
    id = "{{ id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    subnets = "{{ subnets }}"
    vnet_peerings = "{{ vnet_peerings }}"
}