data "azurestack_virtual_network_gateway_connection" "example" {
    authorization_key = "{{ authorization_key }}"
    egress_bytes_transferred = "{{ egress_bytes_transferred }}"
    enable_bgp = "{{ enable_bgp }}"
    express_route_circuit_id = "{{ express_route_circuit_id }}"
    id = "{{ id }}"
    ingress_bytes_transferred = "{{ ingress_bytes_transferred }}"
    ipsec_policy = "{{ ipsec_policy }}"
    local_network_gateway_id = "{{ local_network_gateway_id }}"
    location = "{{ location }}"
    name = "{{ name }}"
    peer_virtual_network_gateway_id = "{{ peer_virtual_network_gateway_id }}"
    resource_group_name = "{{ resource_group_name }}"
    resource_guid = "{{ resource_guid }}"
    routing_weight = "{{ routing_weight }}"
    shared_key = "{{ shared_key }}"
    tags = "{{ tags }}"
    type = "{{ type }}"
    use_policy_based_traffic_selectors = "{{ use_policy_based_traffic_selectors }}"
    virtual_network_gateway_id = "{{ virtual_network_gateway_id }}"
}