resource "azurestack_subnet" "example" {
    address_prefix = "{{ address_prefix }}"
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    virtual_network_name = "{{ virtual_network_name }}"
}