resource "azurestack_dns_txt_record" "example" {
    id = "{{ id }}"
    name = "{{ name }}"
    resource_group_name = "{{ resource_group_name }}"
    tags = {
        key = "{{ tags_value }}"
      }
    ttl = {{ ttl }}
    zone_name = "{{ zone_name }}"
    record {
      value = "{{ value }}"
    }
    timeouts {
      create = "{{ create }}"
      delete = "{{ delete }}"
      read = "{{ read }}"
      update = "{{ update }}"
    }
}
