resource "opc_compute_orchestrated_instance" "example" {
    description = "{{ description }}"
    desired_state = "{{ desired_state }}"
    id = "{{ id }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    version = "{{ version }}"
}