resource "opc_compute_storage_volume_snapshot" "example" {
    account = "{{ account }}"
    collocated = "{{ collocated }}"
    description = "{{ description }}"
    id = "{{ id }}"
    machine_image_name = "{{ machine_image_name }}"
    name = "{{ name }}"
    parent_volume_bootable = "{{ parent_volume_bootable }}"
    platform = "{{ platform }}"
    property = "{{ property }}"
    size = "{{ size }}"
    snapshot_id = "{{ snapshot_id }}"
    snapshot_timestamp = "{{ snapshot_timestamp }}"
    start_timestamp = "{{ start_timestamp }}"
    status = "{{ status }}"
    status_detail = "{{ status_detail }}"
    status_timestamp = "{{ status_timestamp }}"
    tags = "{{ tags }}"
    uri = "{{ uri }}"
    volume_name = "{{ volume_name }}"
}