resource "opc_storage_object" "example" {
    accept_ranges = "{{ accept_ranges }}"
    container = "{{ container }}"
    content = "{{ content }}"
    content_disposition = "{{ content_disposition }}"
    content_encoding = "{{ content_encoding }}"
    content_length = "{{ content_length }}"
    content_type = "{{ content_type }}"
    copy_from = "{{ copy_from }}"
    delete_at = "{{ delete_at }}"
    etag = "{{ etag }}"
    file = "{{ file }}"
    id = "{{ id }}"
    last_modified = "{{ last_modified }}"
    metadata = "{{ metadata }}"
    name = "{{ name }}"
    object_manifest = "{{ object_manifest }}"
    timestamp = "{{ timestamp }}"
    transaction_id = "{{ transaction_id }}"
    transfer_encoding = "{{ transfer_encoding }}"
}