resource "opc_lbaas_load_balancer" "example" {
    balancer_vips = "{{ balancer_vips }}"
    canonical_host_name = "{{ canonical_host_name }}"
    cloudgate_capable = "{{ cloudgate_capable }}"
    description = "{{ description }}"
    enabled = "{{ enabled }}"
    id = "{{ id }}"
    ip_network = "{{ ip_network }}"
    name = "{{ name }}"
    parent_load_balancer = "{{ parent_load_balancer }}"
    permitted_clients = "{{ permitted_clients }}"
    permitted_methods = "{{ permitted_methods }}"
    policies = "{{ policies }}"
    region = "{{ region }}"
    scheme = "{{ scheme }}"
    server_pool = "{{ server_pool }}"
    tags = "{{ tags }}"
    uri = "{{ uri }}"
}