resource "opc_compute_storage_volume" "example" {
    bootable = "{{ bootable }}"
    description = "{{ description }}"
    hypervisor = "{{ hypervisor }}"
    id = "{{ id }}"
    image_list = "{{ image_list }}"
    image_list_entry = "{{ image_list_entry }}"
    machine_image = "{{ machine_image }}"
    managed = "{{ managed }}"
    name = "{{ name }}"
    platform = "{{ platform }}"
    readonly = "{{ readonly }}"
    size = "{{ size }}"
    snapshot = "{{ snapshot }}"
    snapshot_account = "{{ snapshot_account }}"
    snapshot_id = "{{ snapshot_id }}"
    status = "{{ status }}"
    storage_pool = "{{ storage_pool }}"
    storage_type = "{{ storage_type }}"
    tags = "{{ tags }}"
    uri = "{{ uri }}"
}