data "opc_compute_vnic" "example" {
    description = "{{ description }}"
    id = "{{ id }}"
    mac_address = "{{ mac_address }}"
    name = "{{ name }}"
    tags = "{{ tags }}"
    transit_flag = "{{ transit_flag }}"
    uri = "{{ uri }}"
}