data "opc_compute_image_list_entry" "example" {
    attributes = "{{ attributes }}"
    entry = "{{ entry }}"
    id = "{{ id }}"
    image_list = "{{ image_list }}"
    machine_images = "{{ machine_images }}"
    uri = "{{ uri }}"
    version = "{{ version }}"
}