resource "opc_lbaas_certificate" "example" {
    certificate_body = "{{ certificate_body }}"
    certificate_chain = "{{ certificate_chain }}"
    id = "{{ id }}"
    name = "{{ name }}"
    private_key = "{{ private_key }}"
    state = "{{ state }}"
    type = "{{ type }}"
    uri = "{{ uri }}"
}