data "opc_compute_network_interface" "example" {
    dns = "{{ dns }}"
    id = "{{ id }}"
    instance_id = "{{ instance_id }}"
    instance_name = "{{ instance_name }}"
    interface = "{{ interface }}"
    ip_address = "{{ ip_address }}"
    ip_network = "{{ ip_network }}"
    is_default_gateway = "{{ is_default_gateway }}"
    mac_address = "{{ mac_address }}"
    model = "{{ model }}"
    name_servers = "{{ name_servers }}"
    nat = "{{ nat }}"
    search_domains = "{{ search_domains }}"
    sec_lists = "{{ sec_lists }}"
    shared_network = "{{ shared_network }}"
    vnic = "{{ vnic }}"
    vnic_sets = "{{ vnic_sets }}"
}